Repository firebase/genkit, pull requests merged in 2025-10, with the labels that each got.

#3598 feat(js/core): Add dynamic-action-provider support
  js/ai/src/generate.ts
  js/ai/src/generate/action.ts
  js/ai/src/model-types.ts
  js/ai/src/resource.ts
  js/ai/src/tool.ts
  js/ai/tests/generate/generate_test.ts
  js/ai/tests/resource/resource_test.ts
  js/core/src/dynamic-action-provider.ts
  js/core/src/index.ts
  js/core/src/registry.ts
  js/core/src/schema.ts
  js/core/tests/dynamic-action-provider_test.ts
  js/genkit/src/common.ts
  js/genkit/src/genkit.ts
  js/plugins/mcp/src/client/client.ts
  js/plugins/mcp/src/client/host.ts
  js/plugins/mcp/src/client/index.ts
  js/plugins/mcp/src/index.ts
  js/plugins/mcp/src/server.ts
  js/testapps/mcp/src/index.ts
Labels: js

#3630 fix(go/ai): enable use of media URIs in prompts
  go/ai/prompt.go
  go/samples/prompts/main.go
  go/samples/prompts/prompts/media.prompt
  go/samples/prompts/prompts/multi-msg.prompt
Labels: go

#3667 Revert "refactor(plugins/vertexai): migrate to v2 API"
  js/plugins/vertexai/src/embedder.ts
  js/plugins/vertexai/src/evaluation/evaluation.ts
  js/plugins/vertexai/src/evaluation/evaluator_factory.ts
  js/plugins/vertexai/src/evaluation/index.ts
  js/plugins/vertexai/src/gemini.ts
  js/plugins/vertexai/src/imagen.ts
  js/plugins/vertexai/src/index.ts
  js/plugins/vertexai/src/modelgarden/anthropic.ts
  js/plugins/vertexai/src/modelgarden/index.ts
  js/plugins/vertexai/src/modelgarden/mistral.ts
  js/plugins/vertexai/src/modelgarden/model_garden.ts
  js/plugins/vertexai/src/modelgarden/openai_compatibility.ts
  js/plugins/vertexai/src/rerankers/index.ts
  js/plugins/vertexai/src/rerankers/reranker.ts
Labels: js, fix

#3668 chore(js/plugins/google-genai): Make sure all config is passthrough
  js/plugins/google-genai/src/googleai/gemini.ts
  js/plugins/google-genai/src/vertexai/gemini.ts
  js/plugins/google-genai/src/vertexai/imagen.ts
Labels: js

#3683 docs: refine .guides guidance a bit
  js/genkit/.guides/setup.md
  js/plugins/google-genai/.guides/usage.md
Labels: docs, js

#3230 feat(go/genkit): Add vectorsearch vertex ai plugin
  go/go.mod
  go/go.sum
  go/plugins/vertexai/vectorsearch/bigquery.go
  go/plugins/vertexai/vectorsearch/firestore.go
  go/plugins/vertexai/vectorsearch/types.go
  go/plugins/vertexai/vectorsearch/vectorsearch.go
  go/plugins/vertexai/vectorsearch/vectorsearch_endpoints.go
  go/plugins/vertexai/vectorsearch/vectorsearch_endpoints_test.go
  go/plugins/vertexai/vectorsearch/vectorsearch_test.go
  go/samples/vectorsearch-biqguery/main.go
  go/samples/vectorsearch-biqguery/menu.go
  go/samples/vectorsearch-firestore/main.go
  go/samples/vectorsearch-firestore/menu.go
Labels: go
