Repository firebase/genkit, pull requests merged in 2025-08, with the labels that each got.

#3248 fix(go/plugins/compat-oai): Pass tool call ID if available
  go/plugins/compat_oai/generate.go
Labels: go, fix

#3364 feat(js/plugins/google-genai): Added Veo and Lyria
  js/ai/src/formats/types.ts
  js/ai/src/generate/action.ts
  js/plugins/google-genai/src/common/types.ts
  js/plugins/google-genai/src/common/utils.ts
  js/plugins/google-genai/src/googleai/utils.ts
  js/plugins/google-genai/src/vertexai/client.ts
  js/plugins/google-genai/src/vertexai/converters.ts
  js/plugins/google-genai/src/vertexai/imagen.ts
  js/plugins/google-genai/src/vertexai/index.ts
  js/plugins/google-genai/src/vertexai/lyria.ts
  js/plugins/google-genai/src/vertexai/types.ts
  js/plugins/google-genai/src/vertexai/utils.ts
  js/plugins/google-genai/src/vertexai/veo.ts
  js/plugins/google-genai/tests/common/converters_test.ts
  js/plugins/google-genai/tests/common/utils_test.ts
  js/plugins/google-genai/tests/vertexai/client_test.ts
  js/plugins/google-genai/tests/vertexai/converters_test.ts
  js/plugins/google-genai/tests/vertexai/imagen_test.ts
  js/plugins/google-genai/tests/vertexai/lyria_test.ts
  js/plugins/google-genai/tests/vertexai/utils_test.ts
  js/plugins/google-genai/tests/vertexai/veo_test.ts
Labels: js

#3377 fix(js): `run()` calls the function with given input
  js/core/src/flow.ts
  js/core/tests/flow_test.ts
Labels: js, fix

#3374 feat(ci): add promotion scripts
  bin/install_cli
  scripts/cli-releases/README.md
  scripts/cli-releases/promote_cli_gcs.sh
  scripts/cli-releases/update_cli_metadata.sh
Labels: docs

#3375 fix(js/plugins/compat-oai): Fix gpt-image-1
  js/plugins/compat-oai/src/image.ts
  js/plugins/compat-oai/src/openai/dalle.ts
  js/plugins/compat-oai/src/openai/index.ts
Labels: js, fix

#3381 fix: export proper reasoning part for tools common
  genkit-tools/common/src/types/document.ts
Labels: js, tooling

#3384 feat(js/plugins/compat-oai): Add GPT-5 model info
  js/plugins/compat-oai/src/model.ts
  js/plugins/compat-oai/src/openai/gpt.ts
Labels: js

#3391 fix(js/plugins/google-genai) Fix aggregation, supported tuned models
  js/plugins/google-genai/README.md
  js/plugins/google-genai/src/common/utils.ts
  js/plugins/google-genai/src/googleai/veo.ts
  js/plugins/google-genai/src/vertexai/client.ts
  js/plugins/google-genai/src/vertexai/utils.ts
  js/plugins/google-genai/tests/vertexai/client_test.ts
  js/plugins/google-genai/tests/vertexai/index_test.ts
Labels: docs, js

#3340 fix(cli): better runtime handling for ui:start
  genkit-tools/cli/src/commands/ui-start.ts
  genkit-tools/cli/src/utils/runtime-detector.ts
  genkit-tools/cli/src/utils/spawn-config.ts
  genkit-tools/cli/tests/commands/ui-start_test.ts
  genkit-tools/cli/tests/utils/runtime-detector_test.ts
  genkit-tools/cli/tests/utils/spawn-config_test.ts
Labels: js, tooling, fix

#3427 feat(js): new plugin API that does not rely on the registry
  js/core/src/background-action.ts
  js/core/src/index.ts
  js/genkit/src/genkit.ts
  js/genkit/src/plugin.ts
  js/genkit/tests/plugins_test.ts
Labels: js

#3432 refactor(js/plugin/compat-oai): migrated compat-oai plugin to v2 plugin api
  js/genkit/src/genkit.ts
  js/plugins/compat-oai/src/audio.ts
  js/plugins/compat-oai/src/deepseek/index.ts
  js/plugins/compat-oai/src/embedder.ts
  js/plugins/compat-oai/src/image.ts
  js/plugins/compat-oai/src/index.ts
  js/plugins/compat-oai/src/model.ts
  js/plugins/compat-oai/src/openai/index.ts
  js/plugins/compat-oai/src/xai/index.ts
  js/plugins/compat-oai/tests/openai_test.ts
  js/testapps/compat-oai/src/index.ts
Labels: js

#3429 chore(go): update `go-genai` and `anthropic` SDK
  go/go.mod
  go/go.sum
Labels: go

#3465 fix: failing checks
  go/fix_genkit_init.sh
Labels: go, fix

#3461 fix(js) Add otel jaeger dependency to remove next.js warning
  js/core/package.json
  js/pnpm-lock.yaml
Labels: js, config, fix

#3468 fix(plugins/compat-oai): correctly set the namespace on modelRef
  js/ai/src/embedder.ts
  js/ai/src/model.ts
  js/plugins/compat-oai/src/audio.ts
  js/plugins/compat-oai/src/deepseek/deepseek.ts
  js/plugins/compat-oai/src/image.ts
  js/plugins/compat-oai/src/model.ts
  js/plugins/compat-oai/src/openai/embedder.ts
  js/plugins/compat-oai/src/openai/gpt.ts
  js/plugins/compat-oai/src/openai/index.ts
  js/plugins/compat-oai/src/xai/grok.ts
  js/plugins/compat-oai/src/xai/index.ts
  js/pnpm-lock.yaml
  js/testapps/compat-oai/package.json
  js/testapps/compat-oai/src/index.ts
Labels: js, config

#3462 breaking(go): refactored plugins, detached primitives from registry, refactored types
  go/ai/embedder.go
  go/ai/evaluator.go
  go/ai/evaluator_test.go
  go/ai/generate.go
  go/ai/option.go
  go/ai/prompt.go
  go/ai/prompt_test.go
  go/ai/resource.go
  go/ai/resource_test.go
  go/ai/retriever.go
  go/ai/tools.go
  go/core/action.go
  go/core/action_test.go
  go/core/core.go
  go/core/flow.go
  go/core/tracing/tracing.go
  go/genkit/genkit.go
  go/genkit/genkit_test.go
  go/genkit/plugin.go
  go/genkit/reflection.go
  go/genkit/reflection_test.go
  go/internal/registry/registry.go
  go/plugins/alloydb/genkit.go
  go/plugins/alloydb/genkit_test.go
  go/plugins/compat_oai/anthropic/anthropic.go
  go/plugins/compat_oai/compat_oai.go
  go/plugins/compat_oai/openai/openai.go
  go/plugins/evaluators/evaluators.go
  go/plugins/firebase/firebase.go
  go/plugins/firebase/firebase_test.go
  go/plugins/googlecloud/googlecloud.go
  go/plugins/googlegenai/gemini.go
  go/plugins/googlegenai/googlegenai.go
  go/plugins/mcp/manager.go
  go/plugins/mcp/prompts.go
  go/plugins/ollama/ollama.go
  go/plugins/pinecone/genkit.go
  go/plugins/pinecone/genkit_test.go
  go/plugins/postgresql/genkit.go
  go/plugins/postgresql/genkit_test.go
  go/plugins/vertexai/modelgarden/anthropic.go
  go/plugins/weaviate/weaviate.go
  go/plugins/weaviate/weaviate_test.go
  go/samples/ollama-vision/main.go
Labels: go

#3472 fix(js/ai): fixed action type typo in defineIndexer
  js/ai/src/retriever.ts
  js/ai/tests/retriever/indexer_test.ts
  js/ai/tests/retriever/retriever_test.ts
Labels: js, fix

#3475 breaking(go): changed `Evaluate()` to take in refs
  go/ai/embedder.go
  go/ai/evaluator.go
  go/ai/evaluator_test.go
  go/ai/option.go
  go/ai/retriever.go
Labels: go

#3481 chore(js/plugins/google-genai): add nano banana model
  js/plugins/google-genai/src/googleai/gemini.ts
  samples/js-gemini/src/index.ts
Labels: js, sample

#3489 chore: bump node version in go presubmit gha
  .github/workflows/go.yml
Labels: config

#3485 feat(genkit-tools/cli/ai-tools): Improve support for other model providers
  genkit-tools/cli/context/GENKIT.md
  genkit-tools/cli/package.json
Labels: docs, js, tooling, config
