Repository firebase/genkit, pull requests merged in 2025-04, with the labels that each got.

#2578 docs(py): added tool and interrupt docs
  py/docs/reference/interrupts.md
  py/docs/reference/tools.md
  py/mkdocs.yml
  py/uv.lock
Labels: docs, python, config

#2537 Add customConfig field to ModelInfo
  genkit-tools/common/src/types/model.ts
  genkit-tools/genkit-schema.json
  go/ai/gen.go
  js/ai/src/model.ts
  py/packages/genkit-ai/src/genkit/core/typing.py
Labels: js, go, tooling, python

#2585 feat(py): added context provider and implemented for flask plugin
  py/docs/flask.md
  py/packages/genkit-ai/src/genkit/core/context.py
  py/packages/genkit-ai/src/genkit/types/__init__.py
  py/plugins/flask/src/genkit/plugins/flask/handler.py
  py/samples/hello-flask/README.md
  py/samples/hello-flask/src/hello_flask.py
Labels: docs, python

#2572 feat(js/plugins/firebase): Data Connect tools (beta), serverApp context.
  js/plugins/firebase/package.json
  js/plugins/firebase/src/beta/data-connect.ts
  js/plugins/firebase/src/context.ts
  js/plugins/firebase/src/firestore-retriever.ts
  js/plugins/firebase/src/index.ts
  js/plugins/firebase/src/user-engagement.ts
  js/plugins/firebase/tests/context_test.ts
  js/plugins/firebase/tests/user_engagement_test.ts
  js/pnpm-lock.yaml
Labels: js, config

#2592 docs(py): update get-started.md
  py/docs/get-started.md
Labels: docs, python

#2510 feat(py): `run_in_new_span` and evaluator primitives
  py/packages/genkit-ai/src/genkit/ai/registry.py
  py/packages/genkit-ai/src/genkit/blocks/evaluator.py
  py/packages/genkit-ai/src/genkit/core/tracing.py
  py/packages/genkit-ai/src/genkit/types/__init__.py
  py/packages/genkit-ai/tests/genkit/veneer/veneer_test.py
  py/samples/hello/src/hello.py
Labels: python

#2598 fix: remove legacy prompts from go
  go/ai/prompt.go
Labels: go

#2601 refactor(py): async user facing api refactor
  py/docs/cloud-run.md
  py/docs/flask.md
  py/docs/index.md
  py/docs/reference/flows.md
  py/docs/reference/interrupts.md
  py/docs/reference/models.md
  py/docs/reference/tools.md
  py/engdoc/contributing/coding_guidelines.md
  py/engdoc/extending/api.md
  py/engdoc/index.md
  py/packages/genkit-ai/README.md
  py/packages/genkit-ai/src/genkit/ai/__init__.py
  py/packages/genkit-ai/src/genkit/ai/aio.py
  py/packages/genkit-ai/src/genkit/ai/base.py
  py/packages/genkit-ai/tests/genkit/veneer/veneer_test.py
  py/plugins/dev-local-vector-store/src/genkit/plugins/dev_local_vector_store/local_vector_store_api.py
  py/plugins/flask/src/genkit/plugins/flask/handler.py
  py/plugins/ollama/tests/test_plugin_api.py
  py/samples/basic-gemini/src/basic_gemini.py
  py/samples/google-ai/src/google_ai_sample.py
  py/samples/google-genai-image/src/google_genai_image.py
  py/samples/google-genai-imagen/src/google_genai_imagen.py
  py/samples/hello-flask/src/hello_flask.py
  py/samples/hello-google-genai-vertexai/src/hello_google_genai_vertexai.py
  py/samples/hello-google-genai/src/hello_google_genai.py
  py/samples/hello/src/hello.py
  py/samples/menu/src/case_03/flows.py
  py/samples/menu/src/menu_ai.py
  py/samples/ollama-hello/src/ollama_hello.py
  py/samples/ollama-simple-embed/src/pokemon_glossary.py
  py/samples/openai/src/openai_example.py
  py/samples/tool-interrupts/src/tool_interrupts.py
  py/samples/vertex-ai-imagen/src/vertex_ai_imagen_sample.py
Labels: docs, python, refactor

#2607 chore(py): bump version to 0.3.0.dev1
  py/packages/genkit/pyproject.toml
  py/plugins/compat-oai/pyproject.toml
  py/plugins/dev-local-vector-store/pyproject.toml
  py/plugins/firebase/pyproject.toml
  py/plugins/flask/pyproject.toml
  py/plugins/google-cloud/pyproject.toml
  py/plugins/google-genai/pyproject.toml
  py/plugins/ollama/pyproject.toml
  py/plugins/vertex-ai/pyproject.toml
  py/uv.lock
Labels: python, config

#2608 docs(py): updated code samples
  py/docs/get-started.md
  py/docs/index.md
Labels: docs, python

#2526 feat(go/genkit): Use `dotprompt` package for rendering prompt templates
  go/ai/prompt.go
  go/ai/prompt_test.go
  go/genkit/genkit.go
  go/go.mod
  go/go.sum
  go/internal/registry/registry.go
  go/samples/partials-and-helpers/main.go
Labels: go

#2600 fix(js/plugins/express): Check request.body is defined before reading data from it
  js/plugins/express/src/index.ts
Labels: js

#2620 chore(go): bump `go-genai` SDK to v0.7.0
  go/go.mod
  go/go.sum
  go/plugins/googlegenai/cache.go
Labels: go

#2487 feat(go): Added `ModelArg` interface and `ModelRef`
  go/ai/generate.go
  go/ai/option.go
  go/ai/prompt.go
  go/plugins/googlegenai/gemini.go
  go/plugins/googlegenai/googlegenai.go
  go/samples/basic-gemini/main.go
Labels: go

#2622 fix(go): add tool to prompt metadata
  go/ai/prompt.go
Labels: go

#2626 fix: Rag docs links in plugin docs
  docs/plugins/firebase.md
  docs/plugins/vertex-ai.md
Labels: docs

#2417 feat(go/genkit): Added support for formatters and custom instructions
  genkit-tools/common/src/types/model.ts
  genkit-tools/genkit-schema.json
  go/ai/action_test.go
  go/ai/document.go
  go/ai/format_json.go
  go/ai/format_jsonl.go
  go/ai/format_text.go
  go/ai/formatter.go
  go/ai/formatter_test.go
  go/ai/gen.go
  go/ai/generate.go
  go/ai/generator_test.go
  go/ai/model_middleware.go
  go/ai/option.go
  go/ai/option_test.go
  go/ai/prompt.go
  go/ai/prompt_test.go
  go/core/schemas.config
  go/genkit/genkit.go
  go/internal/base/validation.go
  go/internal/registry/registry.go
  go/samples/formats/main.go
  js/ai/src/model.ts
  py/packages/genkit/src/genkit/core/typing.py
Labels: js, go, tooling, python

#2647 feat(go/genkit): Exposed `DefineFormat` in `Genkit`.
  go/genkit/genkit.go
Labels: go

#2627 chore: Add descriptions for fields in model config schemas
  js/ai/src/model.ts
  js/plugins/googleai/src/gemini.ts
  js/plugins/vertexai/src/gemini.ts
  js/plugins/vertexai/src/imagen.ts
  js/plugins/vertexai/src/modelgarden/mistral.ts
  js/plugins/vertexai/src/modelgarden/openai_compatibility.ts
Labels: js

#2652 fix(py/plugins/ollama): fixed ollama tool calling
  py/plugins/ollama/src/genkit/plugins/ollama/models.py
  py/samples/ollama-hello/src/ollama_hello.py
Labels: python, fix

#2439 fix(typo): resolve typo of auth.md
  docs/auth.md
Labels: docs

#2649 fix(go/plugins): Unpacked common fields in `GeminiConfig` and fixed output config
  go/ai/format_json.go
  go/ai/format_jsonl.go
  go/ai/format_text.go
  go/ai/formatter.go
  go/ai/formatter_test.go
  go/ai/generate.go
  go/ai/generator_test.go
  go/ai/prompt.go
  go/ai/prompt_test.go
  go/ai/tools.go
  go/plugins/googlegenai/cache.go
  go/plugins/googlegenai/gemini.go
  go/samples/basic-gemini/main.go
Labels: go

#2651 chore: expose model `gemini-2.5-pro-preview-03-25`
  go/plugins/googlegenai/models.go
  go/samples/basic-gemini/main.go
  js/plugins/googleai/src/gemini.ts
  js/plugins/googleai/src/index.ts
  js/plugins/vertexai/src/gemini.ts
  js/plugins/vertexai/src/index.ts
Labels: js, go

#2654 fix(go): minor bug fixes
  go/ai/model_middleware.go
  go/genkit/genkit.go
  go/genkit/reflection.go
  go/plugins/googlegenai/gemini.go
Labels: go, fix

#2655 fix(go): Fixed prompt fields not propagating to execute for loaded prompts.
  go/ai/generate.go
  go/ai/prompt.go
  go/ai/prompt_test.go
  go/samples/prompts-dir/main.go
  go/samples/prompts-dir/prompts/example.prompt
Labels: go, fix

#2658 fix(py/plugins/genai): made location param optional for VertexAI plugin
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/samples/hello-google-genai-vertexai/src/hello_google_genai_vertexai.py
Labels: python

#2657 docs(py): documented genai and ollama plugins, simplified docs nav
  py/docs/get-started.md
  py/docs/reference/plugins/google-genai.md
  py/docs/reference/plugins/ollama.md
  py/mkdocs.yml
Labels: docs, python, config

#2656 refactor(py/plugins/ollama): simplified ollama plugin init interface
  py/plugins/ollama/src/genkit/plugins/ollama/models.py
  py/plugins/ollama/src/genkit/plugins/ollama/plugin_api.py
  py/plugins/ollama/tests/conftest.py
  py/samples/ollama-hello/src/ollama_hello.py
  py/samples/ollama-simple-embed/src/pokemon_glossary.py
Labels: python

#2660 docs(js): expose data connect in typedoc
  js/plugins/firebase/typedoc.json
Labels: js, config

#2681 fix(go): Fix Issues in using genkit with ollama plugin.
  go/genkit/genkit.go
  go/plugins/ollama/ollama.go
  go/plugins/ollama/ollama_test.go
Labels: go, fix

#2698 fix(go): metadata and status enum fixes
  go/ai/evaluator.go
  go/ai/evaluator_test.go
  go/samples/rag/main.go
Labels: go

#2696 chore(py): remove empty plugins, they can be added when implemented
  py/bin/build_dists
  py/plugins/chroma/LICENSE
  py/plugins/chroma/README.md
  py/plugins/chroma/pyproject.toml
  py/plugins/chroma/src/genkit/plugins/chroma/__init__.py
  py/plugins/chroma/src/genkit/py.typed
  py/plugins/pinecone/LICENSE
  py/plugins/pinecone/README.md
  py/plugins/pinecone/pyproject.toml
  py/plugins/pinecone/src/genkit/plugins/pinecone/__init__.py
  py/plugins/pinecone/src/genkit/py.typed
  py/pyproject.toml
  py/samples/menu/pyproject.toml
  py/tests/smoke/package_test.py
  py/tests/smoke/pyproject.toml
  py/uv.lock
Labels: docs, python, config

#2700 fix(go): Fixed nil pointer in Google AI plugin.
  go/plugins/googlegenai/gemini.go
Labels: go, fix

#2697 refactor(py/plugins/firestore): cleaned up (simplified) firestore vector store plugin api
  py/packages/genkit/src/genkit/types/__init__.py
  py/plugins/firebase/src/genkit/plugins/firebase/constant.py
  py/plugins/firebase/src/genkit/plugins/firebase/firebase_api.py
  py/plugins/firebase/src/genkit/plugins/firebase/firestore.py
  py/plugins/firebase/src/genkit/plugins/firebase/retriever.py
  py/samples/firestore-retreiver/src/main.py
Labels: python, refactor

#2703 fix(go/py/tooling): More small fixes related to evals
  genkit-tools/common/src/eval/evaluate.ts
  genkit-tools/common/src/eval/validate.ts
  py/packages/genkit/src/genkit/ai/_registry.py
Labels: js, tooling, python

#2550 refactor(go)!: Updated all primitives to unified options.
  go/ai/embedder.go
  go/ai/evaluator.go
  go/ai/evaluator_test.go
  go/ai/formatter_test.go
  go/ai/gen.go
  go/ai/generate.go
  go/ai/generator_test.go
  go/ai/option.go
  go/ai/option_test.go
  go/ai/prompt.go
  go/ai/prompt_test.go
  go/ai/retriever.go
  go/ai/tools.go
  go/core/flow.go
  go/core/schemas.config
  go/genkit/genkit.go
  go/genkit/genkit_test.go
  go/go.mod
  go/go.sum
  go/internal/doc-snippets/flows.go
  go/internal/doc-snippets/googleai.go
  go/internal/doc-snippets/init/main.go
  go/internal/doc-snippets/models.go
  go/internal/doc-snippets/ollama.go
  go/internal/doc-snippets/pinecone.go
  go/internal/doc-snippets/prompts.go
  go/internal/doc-snippets/rag/main.go
  go/internal/doc-snippets/vertexai.go
  go/internal/fakeembedder/fakeembedder.go
  go/internal/fakeembedder/fakeembedder_test.go
  go/plugins/evaluators/evaluators_test.go
  go/plugins/firebase/retriever.go
  go/plugins/firebase/retriever_test.go
  go/plugins/googlegenai/gemini.go
  go/plugins/googlegenai/googleai_live_test.go
  go/plugins/googlegenai/vertexai_live_test.go
  go/plugins/localvec/localvec.go
  go/plugins/ollama/embed.go
  go/plugins/ollama/embed_test.go
  go/plugins/ollama/ollama_live_test.go
  go/plugins/pinecone/genkit.go
  go/plugins/pinecone/genkit_test.go
  go/plugins/weaviate/weaviate.go
  go/plugins/weaviate/weaviate_test.go
  go/samples/basic-gemini-with-context/main.go
  go/samples/basic-gemini/main.go
  go/samples/cache-gemini/main.go
  go/samples/coffee-shop/main.go
  go/samples/firebase-auth/main.go
  go/samples/firebase-retrievers/main.go
  go/samples/formats/main.go
  go/samples/menu/s01.go
  go/samples/menu/s02.go
  go/samples/menu/s04.go
  go/samples/menu/s05.go
  go/samples/partials-and-helpers/main.go
  go/samples/pgvector/main.go
  go/samples/prompts/main.go
  go/samples/rag/main.go
  go/tests/test_app/main.go
Labels: go

#2713 bug(go)!: remove `local` provider from tools and prompts
  go/ai/prompt.go
  go/ai/prompt_test.go
  go/ai/tools.go
  go/genkit/genkit.go
  go/internal/doc-snippets/dotprompt.go
  go/plugins/googlegenai/gemini.go
  go/plugins/googlegenai/gemini_test.go
  go/samples/prompts-dir/main.go
Labels: go

#2712 chore(py): bump version to 0.3.0.dev2
  py/packages/genkit/pyproject.toml
  py/plugins/compat-oai/pyproject.toml
  py/plugins/dev-local-vectorstore/pyproject.toml
  py/plugins/firebase/pyproject.toml
  py/plugins/flask/pyproject.toml
  py/plugins/google-cloud/pyproject.toml
  py/plugins/google-genai/pyproject.toml
  py/plugins/ollama/pyproject.toml
  py/plugins/vertex-ai/pyproject.toml
  py/uv.lock
Labels: python, config, chore

#2714 docs(py): cleanup genai model refs
  py/docs/reference/models.md
  py/docs/reference/tools.md
  py/packages/genkit/README.md
Labels: docs, python, fix

#2717 refactor(py): renamed `ai.run` to `ai.run_main` to avoid confusion with `ai.run` in JS
  py/docs/get-started.md
  py/docs/index.md
  py/docs/reference/models.md
  py/docs/reference/rag.md
  py/packages/genkit/src/genkit/ai/_base.py
  py/samples/compat-oai-hello/src/compat_oai_hello.py
  py/samples/dev-local-vectorstore-hello/src/hello.py
  py/samples/firestore-retreiver/src/main.py
  py/samples/google-genai-hello/src/google_genai_hello.py
  py/samples/google-genai-image/src/google_genai_image.py
  py/samples/google-genai-vertexai-hello/src/google_genai_vertexai_hello.py
  py/samples/ollama-hello/src/ollama_hello.py
Labels: docs, python

#2707 feat(py): context caching sample
  py/bin/build_dists
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/context_caching/__init__.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/context_caching/constants.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/context_caching/types.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/context_caching/utils.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/samples/context-caching/README.md
  py/samples/google-genai-context-caching/LICENSE
  py/samples/google-genai-context-caching/README.md
  py/samples/google-genai-context-caching/pyproject.toml
  py/samples/google-genai-context-caching/src/context_caching.py
  py/uv.lock
Labels: docs, feature, python, config

#2716 chore(py): deleted empty or duplicate samples, minor cleanup in others
  py/bin/build_dists
  py/pyproject.toml
  py/samples/basic-gemini/LICENSE
  py/samples/basic-gemini/README.md
  py/samples/basic-gemini/pyproject.toml
  py/samples/basic-gemini/src/basic_gemini.py
  py/samples/coffee-shop/LICENSE
  py/samples/coffee-shop/README.md
  py/samples/coffee-shop/pyproject.toml
  py/samples/coffee-shop/src/coffee_shop.py
  py/samples/flow-sample1/LICENSE
  py/samples/flow-sample1/README.md
  py/samples/flow-sample1/pyproject.toml
  py/samples/flow-sample1/src/flow_sample1.py
  py/samples/google-genai-hello/src/google_genai_hello.py
  py/samples/google-genai-image/src/google_genai_image.py
  py/samples/google-genai-vertexai-hello/src/google_genai_vertexai_hello.py
  py/samples/hello/LICENSE
  py/samples/hello/README.md
  py/samples/hello/pyproject.toml
  py/samples/hello/src/hello.py
  py/samples/prompt-file/LICENSE
  py/samples/prompt-file/README.md
  py/samples/prompt-file/pyproject.toml
  py/samples/prompt-file/src/prompt_file.py
  py/samples/rag/LICENSE
  py/samples/rag/README.md
  py/samples/rag/pyproject.toml
  py/samples/rag/src/rag.py
  py/samples/vertex-ai-imagen/src/vertex_ai_imagen_sample.py
  py/samples/vertex-ai-model-garden/LICENSE
  py/samples/vertex-ai-model-garden/README.md
  py/samples/vertex-ai-model-garden/pyproject.toml
  py/samples/vertex-ai-model-garden/src/vertex_ai_model_garden_sample.py
  py/samples/vertex-ai-reranker/LICENSE
  py/samples/vertex-ai-reranker/README.md
  py/samples/vertex-ai-reranker/pyproject.toml
  py/samples/vertex-ai-reranker/src/vertex_ai_reranker_sample.py
  py/samples/vertex-ai-vector-search/LICENSE
  py/samples/vertex-ai-vector-search/README.md
  py/samples/vertex-ai-vector-search/pyproject.toml
  py/samples/vertex-ai-vector-search/src/vertex_ai_vector_search.py
  py/uv.lock
Labels: docs, python, config

#2725 chore(py): update README.md for genkit package
  py/packages/genkit/README.md
Labels: docs, python

#2726 fix(go): update samples to use `GeminiConfig`
  go/plugins/googlegenai/gemini.go
  go/samples/basic-gemini-with-context/main.go
  go/samples/cache-gemini/main.go
  go/samples/menu/s03.go
  go/samples/menu/s04.go
  go/samples/menu/s05.go
  go/samples/prompts/main.go
Labels: go, fix

#2730 fix(go): use `GeminiConfig` in cache live tests
  go/plugins/googlegenai/googleai_live_test.go
  go/plugins/googlegenai/vertexai_live_test.go
  go/samples/menu/s05.go
Labels: go, fix

#2719 feat(go/plugins/googlegenai): Add code execution support
  go/ai/document.go
  go/plugins/googlegenai/gemini.go
  go/samples/code-execution-gemini/main.go
Labels: go

#2738 chore(genkit-tools/common): update @trpc/server to 10.45.2
  genkit-tools/common/package.json
  genkit-tools/pnpm-lock.yaml
Labels: js, tooling, config

#2740 chore(go): Incremented version.
  go/internal/version.go
Labels: go

#2735 chore: update model config parameters
  js/ai/src/model.ts
  js/genkit/src/model.ts
  js/plugins/ollama/src/index.ts
  js/plugins/vertexai/src/gemini.ts
  js/plugins/vertexai/src/modelgarden/mistral.ts
Labels: js

#2420 refactor(cli): implemented basic index for the telemetry server which allows filtering
  genkit-tools/cli/src/utils/manager-utils.ts
  genkit-tools/pnpm-lock.yaml
  genkit-tools/telemetry-server/package.json
  genkit-tools/telemetry-server/src/firestoreTraceStore.ts
  genkit-tools/telemetry-server/src/index.ts
  genkit-tools/telemetry-server/src/localFileTraceStore.ts
  genkit-tools/telemetry-server/src/types.ts
  genkit-tools/telemetry-server/tests/file_store_test.ts
  genkit-tools/telemetry-server/tests/firestoreTraceStore_test.ts
  genkit-tools/telemetry-server/tests/utils.ts
Labels: js, tooling, config

#2757 fix(go/ai): pass ptr. of value for generate data in JSON (#2756)
  go/ai/generate.go
Labels: go, fix

#2754 fix(js/ai): properly set prompt meta for variants
  js/ai/src/prompt.ts
  js/genkit/tests/prompts_test.ts
Labels: js, fix

#2753 bug(go): refactored Firebase plugin to adhere to plugin interface
  go/plugins/firebase/auth.go
  go/plugins/firebase/firebase.go
  go/plugins/firebase/firebase_test.go
  go/plugins/firebase/retriever.go
  go/plugins/firebase/retriever_test.go
  go/samples/firebase-retrievers/main.go
Labels: go

#2762 fix(js/ai/formats): default to json if jsonSchema present
  js/ai/src/formats/index.ts
  js/ai/tests/formats/format_test.ts
Labels: js, fix

#2763 feat: Add experimental filter in tooling listTraces API
  genkit-tools/common/src/manager/manager.ts
  genkit-tools/common/src/types/apis.ts
  genkit-tools/telemetry-server/src/index.ts
  genkit-tools/telemetry-server/src/localFileTraceStore.ts
  genkit-tools/telemetry-server/src/types.ts
  genkit-tools/telemetry-server/tests/file_store_test.ts
Labels: js, tooling

#2764 fix(go/genkit): Fix input from context
  go/go.mod
  go/go.sum
  go/samples/partials-and-helpers/main.go
Labels: go

#2766 fix: Filter addition in listTraces tooling API
  genkit-tools/common/src/manager/manager.ts
Labels: js, tooling

#2630 feat(go/plugins/googlegenai): add image generation native support
  go/plugins/googlegenai/gemini.go
  go/plugins/googlegenai/googleai_live_test.go
  go/plugins/googlegenai/googlegenai.go
  go/plugins/googlegenai/models.go
  go/samples/imagen-gemini/main.go
Labels: go

#2772 chore: update pnpm to v10.8.1
  genkit-tools/package.json
  js/package.json
  package.json
Labels: js, tooling, config, root

#2767 fix(cli): Set type in trace index as the action subtype
  genkit-tools/telemetry-server/src/localFileTraceStore.ts
Labels: js, tooling

#2782 feat({js,go}): Add `gemini-2.5-flash-preview-04-17` to Vertex AI
  go/plugins/googlegenai/models.go
  js/plugins/googleai/src/gemini.ts
  js/plugins/googleai/src/index.ts
  js/plugins/vertexai/src/gemini.ts
  js/plugins/vertexai/src/index.ts
Labels: js, go

#2781 feat(evals): Support metrics on datasetMetadata
  genkit-tools/common/src/eval/localFileDatasetStore.ts
  genkit-tools/common/src/types/apis.ts
  genkit-tools/common/src/types/eval.ts
  genkit-tools/common/tests/eval/localFileDatasetStore_test.ts
Labels: js, tooling

#2784 feat(py/plugins/google-genai, py/plugins/vertex-ai): add gemini-2.5-flash-preview-04-17 model
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/gemini.py
Labels: python

#2786 fix(js/plugins/{googleai,vertexai}): fixed gemini-2.5-flash-preview-04-17 refs and init
  js/plugins/googleai/src/gemini.ts
  js/plugins/vertexai/src/gemini.ts
Labels: js, fix

#2765 docs(samples): Fixed broken link in the samples guide
  samples/README.md
Labels: docs, sample

#2798 docs: update IDX to Firebase Studio in README
  README.md
Labels: docs, root

#2778 chore(js/plugins/mcp): fixes to README.md
  js/plugins/mcp/README.md
Labels: docs, js

#2803 fix(cli): set default metricRefs
  genkit-tools/common/src/types/eval.ts
Labels: js, tooling, fix

#2805 fix(go/plugins/googlegenai): `ai.NewMediaPart` support to inline and hosted data
  go/plugins/googlegenai/gemini.go
  go/plugins/googlegenai/googleai_live_test.go
Labels: go

#2809 chore(py/ai): expose generate action as action
  py/packages/genkit/src/genkit/ai/_base.py
  py/packages/genkit/src/genkit/blocks/generate.py
  py/packages/genkit/tests/genkit/blocks/generate_test.py
Labels: python

#2791 feat(python): Integration of OTEL for GCP
  py/packages/genkit/pyproject.toml
  py/packages/genkit/src/genkit/core/trace/__init__.py
  py/packages/genkit/src/genkit/core/trace/default_exporter.py
  py/packages/genkit/src/genkit/core/trace/types.py
  py/packages/genkit/src/genkit/core/tracing.py
  py/plugins/google-cloud/pyproject.toml
  py/plugins/google-cloud/src/genkit/plugins/google_cloud/telemetry/tracing.py
  py/samples/google-genai-context-caching/pyproject.toml
  py/samples/google-genai-hello/pyproject.toml
  py/samples/google-genai-hello/src/google_genai_hello.py
  py/uv.lock
Labels: docs, feature, python, config

#2807 feat(js): Dynamic action resolver support
  js/core/src/plugin.ts
  js/core/src/registry.ts
  js/genkit/src/genkit.ts
  js/genkit/src/plugin.ts
Labels: js

#2802 chore(go/plugins/googlegenai): bump `go-genai` sdk to v1.1.0
  go/go.mod
  go/go.sum
  go/plugins/googlegenai/gemini.go
Labels: go

#2795 feat(go): Add ollama vision support
  go/plugins/ollama/ollama.go
  go/samples/ollama-vision/main.go
Labels: go

#2819 fix(go/plugins/googlegenai): update test cases with new go-genai types
  go/plugins/googlegenai/gemini_test.go
Labels: go, test

#2818 chore(go): update version
  go/internal/version.go
Labels: go

#2823 fix(go): fix `ModelResponse.ToolRequests()` return type
  go/ai/generate.go
Labels: go, fix

#2824 refactor(js/plugins/vertexai): Dynamic model support for Gemini models
  js/core/src/registry.ts
  js/plugins/googleai/src/gemini.ts
  js/plugins/googleai/src/index.ts
  js/plugins/googleai/tests/gemini_test.ts
  js/plugins/vertexai/src/index.ts
  js/plugins/vertexai/tests/plugin_test.ts
  js/testapps/flow-simple-ai/package.json
  js/testapps/flow-simple-ai/src/index.ts
  package.json
  pnpm-lock.yaml
Labels: js, config, root

#2830 feat(js/core): allow defining a "list actions" fn for plugins
  js/core/src/action.ts
  js/core/src/plugin.ts
  js/core/src/reflection.ts
  js/core/src/registry.ts
  js/core/tests/registry_test.ts
  js/genkit/src/genkit.ts
  js/genkit/src/plugin.ts
Labels: js

#2836 refactor(js/plugins/vertexai): refactored tests for dynamic models
  js/plugins/googleai/tests/gemini_test.ts
  js/plugins/vertexai/tests/plugin_test.ts
Labels: js, refactor

#2817 fix(go/genkit): remove colons from runtime filename
  genkit-tools/common/src/manager/manager.ts
  go/genkit/reflection.go
Labels: js, go, tooling, fix

#2826 feat(plugins/evaluators): Added answer accuracy, refined other metrics
  js/plugins/evaluators/prompts/answer_accuracy.prompt
  js/plugins/evaluators/prompts/answer_relevancy.prompt
  js/plugins/evaluators/prompts/faithfulness_long_form.prompt
  js/plugins/evaluators/prompts/faithfulness_nli.prompt
  js/plugins/evaluators/prompts/maliciousness.prompt
  js/plugins/evaluators/src/index.ts
  js/plugins/evaluators/src/metrics/answer_accuracy.ts
  js/plugins/evaluators/src/metrics/answer_relevancy.ts
  js/plugins/evaluators/src/metrics/faithfulness.ts
  js/plugins/evaluators/src/types.ts
  js/testapps/evals/src/genkit.ts
Labels: js

#2825 chore(go): update all dependencies to their latest versions
  go/core/tracing/store.go
  go/core/tracing/trace_server_exporter.go
  go/core/tracing/trace_server_exporter_test.go
  go/go.mod
  go/go.sum
  go/plugins/googlegenai/vertexai_live_test.go
  go/plugins/weaviate/weaviate.go
Labels: go

#2840 release: python genkit 0.3.2
  py/packages/genkit/pyproject.toml
  py/packages/genkit/src/genkit/core/constants.py
  py/plugins/compat-oai/pyproject.toml
  py/plugins/dev-local-vectorstore/pyproject.toml
  py/plugins/firebase/pyproject.toml
  py/plugins/flask/pyproject.toml
  py/plugins/google-cloud/pyproject.toml
  py/plugins/google-genai/pyproject.toml
  py/plugins/ollama/pyproject.toml
  py/plugins/vertex-ai/pyproject.toml
Labels: python, config

#2768 feat(cli/evals): Generate metricSummaries
  genkit-tools/common/package.json
  genkit-tools/common/src/eval/evaluate.ts
  genkit-tools/common/src/eval/parser.ts
  genkit-tools/common/src/types/eval.ts
  genkit-tools/common/src/utils/eval.ts
  genkit-tools/common/tests/eval/parser_test.ts
Labels: js, tooling, config

#2839 feat(js/plugins/{googleai,vertexai}): implemented dynamic model listing for googleai, and new model lookup API for googleai & vertexai
  js/ai/src/embedder.ts
  js/ai/src/index.ts
  js/ai/src/model.ts
  js/genkit/src/common.ts
  js/plugins/googleai/src/embedder.ts
  js/plugins/googleai/src/gemini.ts
  js/plugins/googleai/src/index.ts
  js/plugins/googleai/src/list-models.ts
  js/plugins/googleai/tests/gemini_test.ts
  js/plugins/vertexai/src/embedder.ts
  js/plugins/vertexai/src/index.ts
  js/testapps/flow-simple-ai/src/index.ts
Labels: js

#2843 fix(js/prompts): fixed .prompt input handling on prompt render
  js/genkit/src/genkit.ts
  js/genkit/tests/chat_test.ts
  js/genkit/tests/prompts/chat_preamble.prompt
  js/genkit/tests/prompts_test.ts
Labels: js, fix
