Repository firebase/genkit, pull requests merged in 2025-03, with the labels that each got.

#2208 feat(py/core): implemented json extractor library (based on JS impl)
  py/packages/genkit/pyproject.toml
  py/packages/genkit/src/genkit/core/extract.py
  py/packages/genkit/tests/genkit/core/extract_test.py
  py/uv.lock
Labels: python, config

#2210 chore(py/core/schema): added docstrings and tests
  py/packages/genkit/src/genkit/core/schema.py
  py/packages/genkit/tests/genkit/core/schema_test.py
Labels: python

#2211 feat(pj/ai): added text/output methods to response and chunk wrappers
  py/packages/genkit/src/genkit/ai/model.py
  py/packages/genkit/src/genkit/veneer/veneer_test.py
  py/packages/genkit/tests/genkit/ai/generate_test.py
  py/packages/genkit/tests/genkit/ai/model_test.py
Labels: python

#2207 fix(go): Added JSON schema hack for `[]any` types.
  go/core/action.go
  go/internal/base/json.go
Labels: go

#2186 feat(js/plugins/vertexai): added support for restricts and numerical restricts in vector search
  js/plugins/ollama/src/embeddings.ts
  js/plugins/ollama/tests/embeddings_test.ts
  js/plugins/vertexai/src/vectorsearch/index.ts
  js/plugins/vertexai/src/vectorsearch/vector_search/firestore.ts
  js/plugins/vertexai/src/vectorsearch/vector_search/indexers.ts
  js/plugins/vertexai/src/vectorsearch/vector_search/query_public_endpoint.ts
  js/plugins/vertexai/src/vectorsearch/vector_search/retrievers.ts
  js/plugins/vertexai/src/vectorsearch/vector_search/types.ts
  js/plugins/vertexai/src/vectorsearch/vector_search/upsert_datapoints.ts
  js/plugins/vertexai/tests/vectorsearch/bigquery_test.ts
  js/plugins/vertexai/tests/vectorsearch/query_public_endpoint_test.ts
  js/plugins/vertexai/tests/vectorsearch/upsert_datapoints_test.ts
  js/testapps/context-caching2/src/index.ts
  js/testapps/multimodal/src/pdf.ts
  js/testapps/multimodal/src/video.ts
  js/testapps/vertexai-vector-search-firestore/src/index.ts
Labels: js

#2180 fix: set prompt metadata for render action as expected by dev ui
  js/ai/src/prompt.ts
  js/genkit/tests/prompts_test.ts
Labels: js, fix

#2229 fix: sync model types in genkit-tools
  genkit-tools/common/src/types/model.ts
  genkit-tools/genkit-schema.json
Labels: js, tooling

#2228 fix(go): Fixed e2e tests.
  go/tests/test_app/main.go
Labels: go

#2239 chore(cli): bump max dev ui request size to 30mb (from 100kb)
  genkit-tools/common/src/server/server.ts
Labels: js, tooling

#2242 fix(go): Fixed retrievers data types (Dev UI mismatch).
  go/ai/retriever.go
  go/internal/doc-snippets/pinecone.go
  go/internal/doc-snippets/rag/main.go
  go/plugins/firebase/retriever.go
  go/plugins/firebase/retriever_test.go
  go/plugins/localvec/localvec.go
  go/plugins/localvec/localvec_test.go
  go/plugins/pinecone/genkit.go
  go/plugins/weaviate/weaviate.go
  go/samples/firebase-retrievers/main.go
  go/samples/pgvector/main.go
Labels: go

#2238 feat(go/plugins/googleai): Respect `ToolChoice` setting
  go/plugins/googleai/googleai.go
  go/plugins/googleai/googleai_test.go
  go/plugins/internal/gemini/gemini.go
  go/plugins/vertexai/vertexai.go
Labels: go

#2233 refactor(go): Moved model version validation to middleware.
  go/ai/action_test.go
  go/ai/generate.go
  go/ai/generator_test.go
  go/ai/model_middleware.go
  go/ai/model_middleware_test.go
  go/genkit/genkit.go
  go/internal/doc-snippets/modelplugin/modelplugin.go
  go/plugins/dotprompt/genkit.go
  go/plugins/googleai/googleai.go
  go/plugins/vertexai/vertexai.go
  go/samples/basic-gemini/main.go
Labels: go, dotprompt

#2246 feat(js/plugins/firebase): Expose vector distance and distance threshold options in Firestore vector store retriever
  js/plugins/firebase/package.json
  js/plugins/firebase/src/firestoreRetriever.ts
  js/pnpm-lock.yaml
  js/testapps/rag/src/pdf-rag-firebase.ts
Labels: js, config

#1980 breaking(go): refactored prompts API #1491
  go/ai/generate.go
  go/ai/generator_test.go
  go/ai/prompt/execute.go
  go/ai/prompt/execute_test.go
  go/ai/prompt/helpers.go
  go/ai/prompt/prompt.go
  go/ai/prompt/prompt_test.go
  go/ai/prompt/render.go
  go/ai/prompt/render_test.go
  go/genkit/genkit.go
  go/internal/doc-snippets/prompts.go
  go/plugins/dotprompt/dotprompt.go
  go/plugins/dotprompt/genkit.go
  go/samples/prompts/main.go
Labels: go, dotprompt

#2251 fix(go): Fixed stream callback naming.
  go/ai/prompt/execute.go
  go/ai/prompt/render_test.go
Labels: go

#2247 chore(js): added @genkit-ai/next to api ref
  js/plugins/next/typedoc.json
  js/typedoc.json
Labels: js, config

#2248 chore(samples): Update the two Angular samples
  samples/js-angular/genkit-app/package-lock.json
  samples/js-angular/genkit-app/package.json
  samples/js-angular/genkit-app/src/app/app.component.html
  samples/js-angular/genkit-app/src/app/app.component.scss
  samples/js-angular/genkit-app/src/app/app.component.spec.ts
  samples/js-angular/genkit-app/src/app/app.component.ts
  samples/js-angular/genkit-app/src/app/app.config.ts
  samples/js-angular/genkit-app/src/app/app.routes.ts
  samples/js-angular/genkit-app/src/app/home/home.component.html
  samples/js-angular/genkit-app/src/app/home/home.component.scss
  samples/js-angular/genkit-app/src/app/home/home.component.spec.ts
  samples/js-angular/genkit-app/src/app/home/home.component.ts
  samples/js-angular/genkit-app/src/app/samples/chatbot/chatbot.component.html
  samples/js-angular/genkit-app/src/app/samples/chatbot/chatbot.component.scss
  samples/js-angular/genkit-app/src/app/samples/chatbot/chatbot.component.spec.ts
  samples/js-angular/genkit-app/src/app/samples/chatbot/chatbot.component.ts
  samples/js-angular/genkit-app/src/app/samples/streaming-json/streaming-json.component.html
  samples/js-angular/genkit-app/src/app/samples/streaming-json/streaming-json.component.scss
  samples/js-angular/genkit-app/src/app/samples/streaming-json/streaming-json.component.spec.ts
  samples/js-angular/genkit-app/src/app/samples/streaming-json/streaming-json.component.ts
  samples/js-angular/genkit-app/src/index.html
  samples/js-angular/genkit-app/src/main.ts
  samples/js-angular/genkit-app/src/styles.scss
  samples/js-angular/server/src/agent.ts
  samples/js-angular/server/src/chatbot.ts
  samples/js-angular/server/src/genkit.ts
  samples/js-angular/server/src/index.ts
  samples/js-angular/server/src/jsonStreaming.ts
  samples/js-chatbot/genkit-app/src/app/app.component.html
  samples/js-chatbot/genkit-app/src/app/app.component.scss
  samples/js-chatbot/genkit-app/src/app/app.component.spec.ts
  samples/js-chatbot/genkit-app/src/app/app.component.ts
  samples/js-chatbot/genkit-app/src/app/app.config.ts
  samples/js-chatbot/genkit-app/src/app/app.routes.ts
  samples/js-chatbot/genkit-app/src/app/samples/chatbot/chatbot.component.html
  samples/js-chatbot/genkit-app/src/app/samples/chatbot/chatbot.component.scss
  samples/js-chatbot/genkit-app/src/app/samples/chatbot/chatbot.component.spec.ts
  samples/js-chatbot/genkit-app/src/app/samples/chatbot/chatbot.component.ts
  samples/js-chatbot/genkit-app/src/index.html
  samples/js-chatbot/genkit-app/src/main.ts
  samples/js-chatbot/genkit-app/src/styles.scss
  samples/js-chatbot/server/src/index.ts
  samples/js-chatbot/server/src/memory.ts
Labels: js, config, sample

#2250 fix(js): Update Gemini plugins to handle parallel tools calls. Fixes #2241
  js/plugins/googleai/src/gemini.ts
  js/plugins/googleai/tests/gemini_test.ts
  js/plugins/vertexai/src/gemini.ts
  js/plugins/vertexai/tests/gemini_test.ts
Labels: js, test

#2260 feat(py/core): propagate action context to sub actions via contextvar
  py/packages/genkit/src/genkit/core/action.py
  py/packages/genkit/tests/genkit/core/action_test.py
Labels: python

#2263 feat(py/ai): implemented model middleware framework
  py/packages/genkit/src/genkit/ai/generate.py
  py/packages/genkit/src/genkit/ai/model.py
  py/packages/genkit/src/genkit/core/action.py
  py/packages/genkit/src/genkit/veneer/veneer.py
  py/packages/genkit/src/genkit/veneer/veneer_test.py
  py/packages/genkit/tests/genkit/ai/generate_test.py
Labels: python

#2257 fix(js): export all standard types through tooling
  genkit-tools/common/src/eval/parser.ts
  genkit-tools/common/src/types/document.ts
  genkit-tools/common/src/types/embedder.ts
  genkit-tools/common/src/types/evaluator.ts
  genkit-tools/common/src/types/evaluators.ts
  genkit-tools/common/src/types/index.ts
  genkit-tools/common/src/types/model.ts
  genkit-tools/common/src/types/reranker.ts
  genkit-tools/common/src/types/retriever.ts
  genkit-tools/common/src/types/trace.ts
  genkit-tools/common/src/utils/eval.ts
  genkit-tools/common/tests/eval/parser_test.ts
  genkit-tools/genkit-schema.json
  genkit-tools/scripts/schema-exporter.ts
  js/ai/src/document.ts
  js/ai/src/model.ts
  js/core/src/tracing/types.ts
  py/packages/genkit/src/genkit/core/typing.py
Labels: js, tooling, python, config

#2281 fix(evals): populate `testcaseId` when inference failed
  genkit-tools/common/src/eval/evaluate.ts
Labels: js, tooling, fix

#2184 feat(py/vertexai): Enhance VertexAI plugin
  py/packages/genkit/src/genkit/ai/embedding.py
  py/packages/genkit/src/genkit/veneer/veneer.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/__init__.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/embedding.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/gemini.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/imagen.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/plugin_api.py
  py/plugins/vertex-ai/tests/test_embeddings.py
  py/plugins/vertex-ai/tests/test_gemini.py
  py/plugins/vertex-ai/tests/test_imagen.py
  py/samples/hello/README.md
  py/samples/hello/src/hello.py
  py/samples/vertex-ai-imagen/README.md
  py/samples/vertex-ai-imagen/src/vertex-ai-imagen.py
Labels: docs, python

#2279 chore(typing): cleanup more json schema and python model generation
  genkit-tools/common/src/types/document.ts
  genkit-tools/common/src/types/reranker.ts
  genkit-tools/genkit-schema.json
  js/ai/src/document.ts
  js/ai/src/reranker.ts
  py/packages/genkit/src/genkit/ai/generate.py
  py/packages/genkit/src/genkit/core/typing.py
  py/packages/genkit/src/genkit/veneer/veneer_test.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/imagen.py
  py/plugins/vertex-ai/tests/test_imagen.py
Labels: js, tooling, python

#2292 refactor(py/ai): refactored inject_instructions, moved into separate file, added tests
  py/packages/genkit/src/genkit/ai/generate.py
  py/packages/genkit/src/genkit/ai/messages.py
  py/packages/genkit/tests/genkit/ai/message_utils_test.py
Labels: python, refactor

#2270 feat(py/ai): implemented define_prompt that is a template for generate call
  py/packages/genkit/src/genkit/ai/formats/json.py
  py/packages/genkit/src/genkit/ai/prompt.py
  py/packages/genkit/src/genkit/core/action.py
  py/packages/genkit/src/genkit/testing.py
  py/packages/genkit/src/genkit/veneer/registry.py
  py/packages/genkit/src/genkit/veneer/veneer.py
  py/packages/genkit/tests/genkit/ai/prompt_test.py
  py/packages/genkit/tests/genkit/veneer/veneer_test.py
  py/samples/hello/src/hello.py
  py/uv.lock
Labels: python

#2024 feat: show a link to the Dev UI on running evals
  genkit-tools/cli/src/commands/eval-flow.ts
  genkit-tools/cli/src/commands/eval-run.ts
  genkit-tools/cli/src/commands/ui-start.ts
  genkit-tools/cli/src/commands/ui-stop.ts
  genkit-tools/common/src/manager/manager.ts
  genkit-tools/common/src/server/server.ts
  genkit-tools/common/src/utils/utils.ts
Labels: js, tooling, config

#2307 feat(js/plugins/evaluator): added deep equals, regexp and jsonata evaluators
  js/plugins/evaluators/package.json
  js/plugins/evaluators/src/index.ts
  js/plugins/evaluators/src/metrics/deep-equal.ts
  js/plugins/evaluators/src/metrics/index.ts
  js/plugins/evaluators/src/metrics/jsonata.ts
  js/plugins/evaluators/src/metrics/regexp.ts
  js/plugins/evaluators/src/types.ts
  js/pnpm-lock.yaml
  js/testapps/flow-simple-ai/package.json
  js/testapps/flow-simple-ai/src/index.ts
Labels: js, config

#2319 feat(js/plugins/{googleai,vertexai}): adds YouTube URL support
  js/plugins/googleai/src/gemini.ts
  js/plugins/vertexai/src/gemini.ts
  js/testapps/flow-simple-ai/src/index.ts
Labels: js

#2321 fix(py): write runtime file at server startup
  py/packages/genkit/src/genkit/core/reflection.py
  py/packages/genkit/src/genkit/veneer/veneer.py
Labels: python, fix

#2259 feat(go/plugins): Use go-genai SDK in VertexAI and GoogleAI plugins
  go/go.mod
  go/go.sum
  go/plugins/googleai/googleai.go
  go/plugins/googleai/googleai_test.go
  go/plugins/internal/gemini/gemini.go
  go/plugins/vertexai/embed.go
  go/plugins/vertexai/vertexai.go
  go/plugins/vertexai/vertexai_test.go
  go/samples/rag/main.go
Labels: go

#2326 fix(py): lookup fix for plugin actions
  py/packages/genkit/src/genkit/core/action.py
  py/packages/genkit/tests/genkit/core/action_test.py
Labels: python

#2318 feat(py/ai): implemented augment context middleware to simulate grounding with provided docs
  py/packages/genkit/src/genkit/ai/generate.py
  py/packages/genkit/src/genkit/ai/middleware.py
  py/packages/genkit/src/genkit/ai/model.py
  py/packages/genkit/src/genkit/ai/prompt.py
  py/packages/genkit/src/genkit/veneer/veneer.py
  py/packages/genkit/tests/genkit/ai/generate_test.py
  py/packages/genkit/tests/genkit/ai/middleware_test.py
  py/packages/genkit/tests/genkit/veneer/veneer_test.py
Labels: python

#2331 feat(py): Add ai > retriever
  py/packages/genkit/src/genkit/ai/document.py
  py/packages/genkit/src/genkit/ai/retriever.py
  py/packages/genkit/src/genkit/veneer/registry.py
  py/packages/genkit/tests/genkit/ai/document_test.py
  py/packages/genkit/tests/genkit/veneer/veneer_test.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/embedding.py
  py/samples/hello/src/hello.py
Labels: python

#2360 chore(js/plugins/{googleai,vertexai}): expose gemini-2.0-flash-lite model
  js/plugins/googleai/src/gemini.ts
  js/plugins/googleai/src/index.ts
  js/plugins/vertexai/src/gemini.ts
  js/plugins/vertexai/src/index.ts
Labels: js

#2320 refactor(go/ai): Refactored Generate API with unified options.
  go/ai/generate.go
  go/ai/generator_test.go
  go/ai/option.go
  go/ai/option_test.go
  go/ai/prompt/execute.go
  go/ai/prompt/prompt.go
  go/ai/prompt/render_test.go
  go/core/action.go
  go/genkit/genkit.go
  go/internal/base/json.go
  go/internal/base/json_test.go
  go/internal/doc-snippets/googleai.go
  go/internal/doc-snippets/init/main.go
  go/internal/doc-snippets/models.go
  go/internal/doc-snippets/ollama.go
  go/internal/doc-snippets/prompts.go
  go/internal/doc-snippets/vertexai.go
  go/plugins/dotprompt/dotprompt.go
  go/plugins/googleai/googleai_test.go
  go/plugins/vertexai/vertexai_test.go
  go/samples/basic-gemini/main.go
  go/tests/test_app/main.go
Labels: js, go, python, dotprompt, config

#2366 feat(js/plugins/googleai): adds native image generation support
  js/plugins/googleai/package.json
  js/plugins/googleai/src/gemini.ts
  js/plugins/googleai/src/index.ts
  js/pnpm-lock.yaml
  js/testapps/flow-simple-ai/src/index.ts
Labels: js, config

#2362 refactor(py/plugins/genai): simplified genai plugin init interface
  py/plugins/google-genai/src/genkit/plugins/google_genai/__init__.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/schemas.py
  py/samples/google_genai/src/hello.py
Labels: python

#2256 refactor(go/ai): Refactored Prompt API with unified options.
  go/ai/generate.go
  go/ai/option.go
  go/ai/option_test.go
  go/ai/prompt.go
  go/ai/prompt/execute.go
  go/ai/prompt/execute_test.go
  go/ai/prompt/helpers.go
  go/ai/prompt/prompt.go
  go/ai/prompt/prompt_test.go
  go/ai/prompt/render.go
  go/ai/prompt/render_test.go
  go/ai/prompt_test.go
  go/ai/tools.go
  go/genkit/genkit.go
  go/internal/doc-snippets/dotprompt.go
  go/internal/doc-snippets/prompts.go
  go/plugins/dotprompt/dotprompt.go
  go/plugins/dotprompt/dotprompt_test.go
  go/plugins/dotprompt/genkit.go
  go/plugins/dotprompt/genkit_test.go
  go/plugins/dotprompt/picoschema.go
  go/plugins/dotprompt/picoschema_test.go
  go/plugins/dotprompt/render.go
  go/plugins/dotprompt/render_test.go
  go/plugins/dotprompt/testdata/recipe.prompt
  go/plugins/dotprompt/testdata/story.prompt
  go/plugins/ollama/ollama_live_test.go
  go/samples/coffee-shop/main.go
  go/samples/menu/main.go
  go/samples/menu/s01.go
  go/samples/menu/s02.go
  go/samples/menu/s03.go
  go/samples/menu/s04.go
  go/samples/menu/s05.go
  go/samples/prompts/main.go
  go/samples/rag/main.go
Labels: go, dotprompt, config

#2370 fix({go,cli}): relax time event shema
  genkit-tools/common/src/types/trace.ts
  genkit-tools/genkit-schema.json
  genkit-tools/telemetry-server/src/index.ts
  go/core/tracing/trace_server_exporter.go
Labels: js, go, tooling, fix

#2369 faet(py/core): added stream method to actions and flows
  py/packages/genkit/src/genkit/core/action.py
  py/packages/genkit/src/genkit/veneer/registry.py
  py/packages/genkit/tests/genkit/core/action_test.py
  py/packages/genkit/tests/genkit/veneer/veneer_test.py
Labels: python

#2267 fix(js/plugins/firebase): Ensure Firestore retriever works with no options.
  js/plugins/firebase/src/firestoreRetriever.ts
Labels: js

#2372 fix(go/samples/rag): Fixed `rag` sample missing template.
  go/samples/rag/main.go
Labels: go, fix

#2378 feat(py/core): implemented reflection api error handling and encoding
  py/packages/genkit/src/genkit/core/action.py
  py/packages/genkit/src/genkit/core/constants.py
  py/packages/genkit/src/genkit/core/error.py
  py/packages/genkit/src/genkit/core/reflection.py
  py/packages/genkit/tests/genkit/core/action_test.py
  py/packages/genkit/tests/genkit/core/error_test.py
  py/samples/hello/src/hello.py
Labels: python

#2227 feat(go): Add evaluation primitives
  go/ai/evaluator.go
  go/ai/evaluator_test.go
  go/ai/retriever.go
  go/genkit/genkit.go
  go/samples/rag/data/eval-inputs.json
  go/samples/rag/main.go
  js/testapps/evals/data/capra-test.json
Labels: js, go

#2367 fix(go): Fixed Go schema generator.
  .github/workflows/go.yml
  genkit-tools/common/src/types/model.ts
  genkit-tools/genkit-schema.json
  go/ai/action_test.go
  go/ai/document.go
  go/ai/gen.go
  go/ai/generate.go
  go/ai/generator_test.go
  go/ai/prompt.go
  go/ai/prompt_test.go
  go/core/schemas.config
  go/internal/cmd/jsonschemagen/jsonschemagen.go
  js/ai/src/model.ts
Labels: js, go, tooling, config, fix

#2389 fix(go): Fixed duplicate `Score`.
  go/ai/gen.go
Labels: go, fix

#2266 feat(go/plugins): add context-caching to VertexAI and GoogleAI plugins
  go/ai/request_helpers.go
  go/plugins/googleai/googleai_test.go
  go/plugins/internal/gemini/cache.go
  go/plugins/internal/gemini/cache_test.go
  go/plugins/internal/gemini/gemini.go
  go/plugins/vertexai/vertexai_test.go
  go/samples/cache-gemini/main.go
Labels: go

#2399 fix(go): Added simulated system prompt support
  go/ai/generate.go
  go/ai/model_middleware.go
  go/ai/model_middleware_test.go
Labels: go

#2403 fix(go): Made `WithTools` accept a `ToolRef` interface
  go/ai/generate.go
  go/ai/option.go
  go/ai/option_test.go
  go/ai/prompt.go
  go/ai/prompt_test.go
  go/ai/tools.go
Labels: go

#2409 refactor(go): Added better naming for generated types.
  go/ai/action_test.go
  go/ai/gen.go
  go/ai/generate.go
  go/ai/generator_test.go
  go/ai/model_middleware.go
  go/ai/model_middleware_test.go
  go/ai/prompt_test.go
  go/core/schemas.config
  go/internal/doc-snippets/modelplugin/modelplugin.go
  go/internal/doc-snippets/ollama.go
  go/plugins/internal/gemini/gemini.go
  go/plugins/ollama/ollama.go
Labels: go

#2377 feat(py): Gemini API tools
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/plugins/google-genai/test/models/test_googlegenai_gemini.py
  py/samples/google_genai/src/hello.py
Labels: python

#2424 fix(go): Return error message if go code is not re-generated from updated schema
  .github/workflows/go.yml
  .github/workflows/scripts/check-generated-go.sh
Labels: go, config

#2433 chore(py): reexport stuff via google.ai as primary user facing namespace
  py/packages/genkit/src/genkit/ai/__init__.py
  py/packages/genkit/src/genkit/ai/plugin.py
  py/packages/genkit/src/genkit/ai/veneer.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/openai_plugin.py
  py/plugins/compat-oai/tests/test_plugin.py
  py/plugins/ollama/src/genkit/plugins/ollama/constants.py
  py/samples/hello/src/hello.py
Labels: python

#2415 feat(go): Added simulated document-based context support
  go/ai/generate.go
  go/ai/generator_test.go
  go/ai/model_middleware.go
  go/ai/model_middleware_test.go
  go/ai/request_helpers.go
  go/samples/basic-gemini-with-context/main.go
Labels: go, python

#2402 feat(go): Added media download middleware (enabled for Google GenAI)
  go/ai/model_middleware.go
  go/ai/model_middleware_test.go
  go/plugins/internal/gemini/gemini.go
Labels: go

#2443 feat(py): Google Genai embeddings
  py/packages/genkit-ai/src/genkit/ai/__init__.py
  py/plugins/google-genai/pyproject.toml
  py/plugins/google-genai/src/genkit/plugins/google_genai/__init__.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/embedder.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/utils.py
  py/plugins/google-genai/test/models/test_googlegenai_embedder.py
  py/samples/google_genai/src/hello.py
Labels: python, config

#2413 feat(go/genkit): Added loading of dotprompt files on `Genkit` init
  go/ai/option.go
  go/ai/prompt.go
  go/ai/prompt_test.go
  go/genkit/genkit.go
  go/go.mod
  go/go.sum
  go/internal/registry/registry.go
  go/samples/prompts-dir/main.go
  go/samples/prompts-dir/prompts/example.prompt
Labels: go

#2459 update logos to new version
  docs/resources/genkit-logo-dark.png
  docs/resources/genkit-logo.png
Labels: docs

#2461 chore(js/plugins/googleai): expose gemini-2.5-pro-exp-03-25 (`gemini25ProExp0325`)
  js/plugins/googleai/src/gemini.ts
  js/plugins/googleai/src/index.ts
Labels: js

#2410 fix(go): Fixed error propagation in Reflection API.
  genkit-tools/common/src/manager/manager.ts
  genkit-tools/common/src/manager/types.ts
  genkit-tools/common/src/types/error.ts
  genkit-tools/common/src/types/index.ts
  genkit-tools/genkit-schema.json
  genkit-tools/scripts/schema-exporter.ts
  go/ai/gen.go
  go/core/core.go
  go/core/schemas.config
  go/genkit/reflection.go
  go/internal/base/misc.go
  py/packages/genkit-ai/src/genkit/core/typing.py
Labels: docs, js, go, tooling, python, config

#2463 fix(py/core): correctly set action subtype
  py/packages/genkit-ai/src/genkit/core/action.py
Labels: python

#2436 feat(go/plugins): Add `genkitEval` plugin
  go/go.mod
  go/go.sum
  go/plugins/evaluators/evaluators.go
  go/plugins/evaluators/evaluators_test.go
  go/samples/rag/main.go
  js/plugins/evaluators/src/index.ts
Labels: js, go

#2446 feat(py): add tool support for openai-compat plugin
  py/packages/genkit-ai/src/genkit/core/action.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/handler.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/model.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/openai_plugin.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/typing.py
  py/plugins/compat-oai/tests/test_handler.py
  py/plugins/compat-oai/tests/test_model.py
  py/plugins/compat-oai/tests/test_tool_calling.py
  py/samples/openai/src/main.py
Labels: python

#2469 feat(go/plugins/googlegenai): Added data part support
  go/plugins/googlegenai/googleai_live_test.go
  go/plugins/googlegenai/vertexai_live_test.go
  go/plugins/internal/gemini/gemini.go
  go/plugins/internal/uri/uri.go
Labels: go

#2474 docs(go): Updated package docs and made various fixes along the way
  go/ai/generate.go
  go/ai/generator_test.go
  go/ai/prompt.go
  go/genkit/genkit.go
  go/genkit/reflection.go
  go/genkit/servers.go
  go/internal/registry/registry.go
  go/plugins/googlegenai/googlegenai.go
  go/plugins/internal/gemini/gemini.go
  go/plugins/ollama/ollama.go
  go/samples/prompts/main.go
Labels: go

#2477 fix(py): a temporaty workaround for event loop scheduling issue
  py/packages/genkit-ai/src/genkit/ai/veneer.py
  py/packages/genkit-ai/src/genkit/aio/loop.py
  py/packages/genkit-ai/src/genkit/core/action.py
  py/packages/genkit-ai/src/genkit/core/reflection.py
  py/samples/google_genai/src/hello.py
  py/samples/hello/src/hello.py
Labels: python, ci

#2478 feat(js/plugins/mcp): Adds websocket support, fixes tool schema issue.
  js/plugins/mcp/README.md
  js/plugins/mcp/package.json
  js/plugins/mcp/src/client/tools.ts
  js/plugins/mcp/src/index.ts
  js/pnpm-lock.yaml
  package.json
Labels: docs, js, config, fix, root

#2445 chore: clean up references to Genkit
  README.md
  docs-go/cloud-run.md
  docs-go/deploy.md
  docs-go/dotprompt.md
  docs-go/flows.md
  docs-go/get-started-go.md
  docs-go/models.md
  docs-go/monitoring.md
  docs-go/plugin-authoring-telemetry.md
  docs-go/plugin-authoring.md
  docs-go/plugins/google-cloud.md
  docs-go/rag.md
  docs/auth.md
  docs/deploy-node.md
  docs/devtools.md
  docs/evaluation.md
  docs/observability/advanced-configuration.md
  docs/observability/authentication.md
  docs/observability/getting-started.md
  docs/observability/telemetry-collection.md
  docs/observability/troubleshooting.md
  docs/plugin-authoring-evaluator.md
  docs/plugin-authoring.md
  docs/plugins/firebase.md
  docs/rag.md
  genkit-tools/cli/README.md
  genkit-tools/cli/src/cli.ts
  go/README.md
  js/plugins/firebase/src/index.ts
  js/plugins/google-cloud/README.md
  js/testapps/evals/README.md
  js/testapps/vertexai-reranker/README.md
  js/testapps/vertexai-vector-search-bigquery/README.md
  js/testapps/vertexai-vector-search-custom/README.md
  js/testapps/vertexai-vector-search-firestore/README.md
  py/README.md
  py/engdoc/contributing/index.md
  py/engdoc/extending/index.md
  py/engdoc/index.md
  py/engdoc/user_guide/python/index.md
  py/mkdocs.yml
  py/plugins/chroma/README.md
  py/plugins/google-ai/src/genkit/plugins/google_ai/google_ai.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  samples/js-angular/README.md
  samples/js-angular/genkit-app/src/app/app.component.html
  samples/js-character-generator/README_IDX.md
  samples/js-character-generator/idx-template.json
  samples/js-character-generator/package.json
Labels: docs, js, go, tooling, python, config, sample, root

#2465 fix: make customOptions consistent in action metadata
  genkit-tools/common/src/eval/parser.ts
  go/ai/evaluator.go
  js/ai/src/embedder.ts
  js/ai/src/evaluator.ts
  js/ai/src/reranker.ts
  js/ai/src/retriever.ts
Labels: js, go, tooling

#2483 refactor(py/aio): don't require loop.run_forever, run until completion as necessary
  py/packages/genkit-ai/src/genkit/ai/veneer.py
  py/packages/genkit-ai/src/genkit/aio/loop.py
  py/packages/genkit-ai/src/genkit/core/reflection.py
  py/samples/google_genai/src/hello.py
Labels: python, ci

#2480 fix(go/samples): samples maintentance
  go/samples/prompts-dir/main.go
  go/samples/prompts-dir/prompts/example.prompt
Labels: go, fix

#2488 chore: fixed run tests GHA triggering
  .github/workflows/tests.yml
Labels: config

#2491 fix(go): Fixed default input for prompts.
  go/ai/generate.go
  go/ai/prompt.go
Labels: go, fix

#2524 feat(py): add system instructions support for openai-compat plugin
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/model.py
  py/plugins/compat-oai/tests/conftest.py
  py/plugins/compat-oai/tests/test_model.py
  py/samples/openai/src/main.py
Labels: python

#2169 feat(evals): add `status` enum for evaluation scores
  genkit-tools/common/src/eval/parser.ts
  genkit-tools/common/src/types/eval.ts
  genkit-tools/common/src/types/evaluator.ts
  genkit-tools/genkit-schema.json
  go/ai/gen.go
  js/ai/src/evaluator.ts
  js/ai/src/index.ts
  js/genkit/src/evaluator.ts
  js/plugins/evaluators/src/index.ts
  js/plugins/evaluators/src/metrics/answer_relevancy.ts
  js/plugins/evaluators/src/metrics/deep-equal.ts
  js/plugins/evaluators/src/metrics/faithfulness.ts
  js/plugins/evaluators/src/metrics/jsonata.ts
  js/plugins/evaluators/src/metrics/maliciousness.ts
  js/plugins/evaluators/src/metrics/regexp.ts
  js/plugins/evaluators/src/types.ts
  js/testapps/evals/package.json
  js/testapps/evals/src/genkit.ts
  js/testapps/evals/src/pdf-rag.ts
  py/packages/genkit-ai/src/genkit/core/typing.py
Labels: js, go, tooling, python, config

#2499 docs(go/genkit): Updated `genkit` package docs and increment version
  go/genkit/genkit.go
  go/internal/version.go
Labels: go

#2531 faet(py/ai): implemented tool interrupting and responding
  py/packages/genkit-ai/src/genkit/ai/__init__.py
  py/packages/genkit-ai/src/genkit/ai/registry.py
  py/packages/genkit-ai/src/genkit/ai/veneer.py
  py/packages/genkit-ai/src/genkit/blocks/document.py
  py/packages/genkit-ai/src/genkit/blocks/generate.py
  py/packages/genkit-ai/src/genkit/blocks/model.py
  py/packages/genkit-ai/src/genkit/blocks/prompt.py
  py/packages/genkit-ai/src/genkit/blocks/tools.py
  py/packages/genkit-ai/src/genkit/core/action.py
  py/packages/genkit-ai/src/genkit/core/registry.py
  py/packages/genkit-ai/tests/genkit/blocks/document_test.py
  py/packages/genkit-ai/tests/genkit/blocks/generate_test.py
  py/packages/genkit-ai/tests/genkit/blocks/model_test.py
  py/packages/genkit-ai/tests/genkit/veneer/veneer_test.py
  py/samples/hello-google-genai/src/hello.py
Labels: python

#2535 feat(go): Added prompts as executable prompts
  go/ai/prompt.go
  go/internal/atype/atype.go
Labels: go

#2534 chore(py): delete print debug statements
  py/packages/genkit-ai/src/genkit/blocks/generate.py
  py/packages/genkit-ai/src/genkit/core/action.py
Labels: python

#2540 fix(py/plugins/genai): expose full Gemini config schema
  py/packages/genkit-ai/src/genkit/ai/__init__.py
  py/packages/genkit-ai/src/genkit/blocks/prompt.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/__init__.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/samples/hello-google-genai/src/hello.py
Labels: python

#2563 fix(py/plugins/genai): currecly handle enum and nested schemas
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/plugins/google-genai/test/models/test_googlegenai_gemini.py
  py/samples/hello-google-genai/src/hello_google_genai.py
Labels: python

#2570 fix(py-plugins/genai): added attribution headers to genai plugin
  py/packages/genkit-ai/src/genkit/ai/__init__.py
  py/packages/genkit-ai/src/genkit/core/__init__.py
  py/packages/genkit-ai/src/genkit/core/constants.py
  py/plugins/google-ai/pyproject.toml
  py/plugins/google-genai/pyproject.toml
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/uv.lock
Labels: python, config

#2573 chore(js): Update Dotprompt to v1.1.0. Fixes #2039
  js/ai/package.json
  js/ai/src/prompt.ts
  js/core/package.json
  js/plugins/evaluators/package.json
  js/pnpm-lock.yaml
Labels: js, config

#2530 fix(go/genkit): use controlled flushing on JSON responses
  go/genkit/reflection.go
Labels: go, fix

#2575 feat(go): Call `DefineGenerateAction` in `Genkit.Init`
  go/genkit/genkit.go
Labels: go

#2571 chore(python): prepare CI for pypi publishing
  .github/workflows/publish_python.yml
  py/bin/publish_pypi.sh
  py/packages/genkit-ai/pyproject.toml
  py/plugins/compat-oai/pyproject.toml
  py/plugins/dev-local-vector-store/pyproject.toml
  py/plugins/firebase/pyproject.toml
  py/plugins/flask/pyproject.toml
  py/plugins/google-cloud/pyproject.toml
  py/plugins/google-genai/pyproject.toml
  py/plugins/ollama/pyproject.toml
  py/plugins/vertex-ai/pyproject.toml
Labels: python, ci, config, fix

#2481 feat(go/plugins): Add model `stage` support
  go/ai/generate.go
  go/ai/generator_test.go
  go/ai/model_middleware.go
  go/plugins/googlegenai/models.go
Labels: go
