Repository firebase/genkit, pull requests merged in 2025-05, with the labels that each got.

#2796 feat(go): Add tool support for ollama models
  go/plugins/ollama/ollama.go
  go/samples/ollama-tools/main.go
Labels: go

#2643 feat(go): use `GenkitError` instead of regular `error`
  go/ai/gen.go
  go/ai/generate.go
  go/ai/model_middleware.go
  go/core/action.go
  go/core/error.go
  go/core/schemas.config
  go/core/status_types.go
  go/genkit/reflection.go
  go/genkit/servers.go
  go/genkit/servers_test.go
  go/internal/base/misc.go
  go/plugins/firebase/auth.go
  go/samples/basic-gemini/main.go
Labels: go, tooling

#2847 feat('js/plugins/vertexai'): dynamically resolve imagen models and try to list models from the API
  js/plugins/vertexai/src/imagen.ts
  js/plugins/vertexai/src/index.ts
  js/plugins/vertexai/src/list-models.ts
Labels: js

#2848 feat(js/plugins/{googleai,vertexai}): pasthrough unknown config options directly to the underlying API
  js/ai/src/model.ts
  js/plugins/googleai/src/gemini.ts
  js/plugins/vertexai/src/gemini.ts
  js/plugins/vertexai/src/index.ts
Labels: js

#2854 feat(js/ai): added dynamic tools that can be dynamically defined at runtime
  js/ai/src/generate.ts
  js/ai/src/generate/resolve-tool-requests.ts
  js/ai/src/tool.ts
  js/core/src/registry.ts
  js/genkit/src/common.ts
  js/genkit/src/tool.ts
  js/genkit/tests/generate_test.ts
  js/testapps/flow-simple-ai/src/index.ts
Labels: js

#2856 docs(js): updated code snippets to use the latest 1.8 syntax
  js/doc-snippets/src/flows/index.ts
  js/doc-snippets/src/index.ts
  js/doc-snippets/src/models/imagen.ts
  js/doc-snippets/src/models/index.ts
  js/doc-snippets/src/models/minimal.ts
Labels: js

#2870 chore(go/plugins/googlegenai): expose `gemini-2.5-pro-preview-05-06`
  go/plugins/googlegenai/models.go
Labels: js, go

#2851 feat(js): thinking mode support
  js/plugins/googleai/src/gemini.ts
  js/plugins/vertexai/src/gemini.ts
Labels: js, tooling

#2872 feat(py/plugins/google_genai): add gemini-2.5-pro-preview-05-06 to the supported models list
  py/packages/genkit/src/genkit/blocks/generate.py
  py/plugins/google-cloud/pyproject.toml
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/samples/google-genai-hello/pyproject.toml
  py/uv.lock
Labels: feature, python, config

#2646 Add Angular quickstart guide
  README.md
  docs/_guides.yaml
  docs/angular.md
Labels: docs, config, root

#2829 feat(go/plugins): add generic OpenAI plugin
  go/go.mod
  go/go.sum
  go/plugins/compat_oai/README.md
  go/plugins/compat_oai/anthropic/README.md
  go/plugins/compat_oai/anthropic/anthropic.go
  go/plugins/compat_oai/anthropic/anthropic_live_test.go
  go/plugins/compat_oai/compat_oai.go
  go/plugins/compat_oai/generate.go
  go/plugins/compat_oai/generate_live_test.go
  go/plugins/compat_oai/openai/README.md
  go/plugins/compat_oai/openai/openai.go
  go/plugins/compat_oai/openai/openai_live_test.go
  go/samples/compat_oai/anthropic/main.go
  go/samples/compat_oai/openai/main.go
Labels: docs, go

#2882 revert: "feat(js): thinking mode options for Gemini models (#2851)"
  js/plugins/googleai/src/gemini.ts
  js/plugins/vertexai/src/gemini.ts
Labels: js

#2873 feat(py): vertex-ai vector search bigquery sample
  py/samples/vertex-ai-vector-search-bigquery/LICENSE
  py/samples/vertex-ai-vector-search-bigquery/README.md
  py/samples/vertex-ai-vector-search-bigquery/pyproject.toml
  py/samples/vertex-ai-vector-search-bigquery/src/sample.py
  py/samples/vertex-ai-vector-search-bigquery/src/setup_env.py
  py/uv.lock
Labels: docs, feature, python, config

#2841 fix(go/genkit): update YAML library from go-yaml/yaml to goccy/go-yaml
  go/ai/action_test.go
  go/ai/document.go
  go/go.mod
  go/tests/api_test.go
Labels: go

#2889 fix(py): linters and adding test for vertex-ai vector search plugin
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/models/retriever.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/vector_search/vector_search.py
  py/plugins/vertex-ai/tests/vector_search/test_retrievers.py
  py/plugins/vertex-ai/tests/vector_search/test_vector_search_plugin.py
  py/samples/vertex-ai-vector-search-bigquery/src/sample.py
  py/samples/vertex-ai-vector-search-bigquery/src/setup_env.py
  py/samples/vertex-ai-vector-search-firestore/src/sample.py
Labels: feature, python, test

#2896 feat(mcp): MCP client can connect to multiple servers.
  js/genkit/package.json
  js/plugins/mcp/package.json
  js/plugins/mcp/src/client/index.ts
  js/plugins/mcp/src/client/legacy.ts
  js/plugins/mcp/src/client/prompts.ts
  js/plugins/mcp/src/client/resources.ts
  js/plugins/mcp/src/client/tools.ts
  js/plugins/mcp/src/client/util.ts
  js/plugins/mcp/src/index.ts
  js/pnpm-lock.yaml
Labels: js, config

#2897 fix(go): run modernize happy
  go/ai/generate.go
  go/ai/prompt.go
  go/core/action_test.go
  go/core/tracing/store.go
  go/genkit/genkit_test.go
  go/genkit/reflection_test.go
  go/genkit/servers.go
  go/internal/cmd/weave/weave.go
  go/plugins/firebase/retriever.go
  go/plugins/firebase/retriever_test.go
  go/plugins/googlecloud/slog_handler_test.go
  go/plugins/googlegenai/cache_test.go
  go/plugins/googlegenai/gemini_test.go
  go/plugins/localvec/localvec.go
  go/plugins/ollama/embed.go
  go/plugins/pinecone/genkit.go
  go/plugins/pinecone/pinecone_test.go
  go/samples/code-execution-gemini/main.go
  go/samples/firebase-retrievers/main.go
  go/samples/ollama-tools/main.go
Labels: go

#2898 fix(go): unify indirect require section in go.mod
  go/go.mod
Labels: go

#2846 feat(go/plugins/googlegenai): add `Thinking` support
  go/plugins/googlegenai/gemini.go
  go/plugins/googlegenai/gemini_test.go
  go/plugins/googlegenai/googleai_live_test.go
Labels: go

#2881 bug(go):Propagate telemetry labels from Reflection API to tracing
  go/genkit/reflection.go
  go/genkit/reflection_test.go
Labels: go

#2902 chore(go): bump `go-genai` SDK to v1.5.0
  go/go.mod
  go/go.sum
  go/plugins/googlegenai/googleai_live_test.go
  go/plugins/googlegenai/models.go
  go/plugins/googlegenai/vertexai_live_test.go
Labels: go

#2907 chore(go): increment version
  go/internal/version.go
Labels: go

#2910 chore(js/plugins/{googleai,vertexai}): stop pre-registering gemini 1.0
  js/plugins/googleai/src/gemini.ts
  js/plugins/googleai/src/index.ts
  js/plugins/vertexai/src/gemini.ts
Labels: js

#2862 feat(go/genkit): Remove indexers for localvec
  go/internal/doc-snippets/rag/main.go
  go/plugins/localvec/localvec.go
  go/plugins/localvec/localvec_test.go
  go/samples/menu/main.go
  go/samples/menu/s04.go
  go/samples/rag/main.go
Labels: go

#2908 feat(py): Initialize dynamic model registration for Gemini
  py/packages/genkit/src/genkit/ai/_plugin.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/plugins/google-genai/test/models/test_googlegenai_gemini.py
  py/plugins/google-genai/test/test_google_plugin.py
  py/samples/google-genai-hello/src/google_genai_hello.py
  py/uv.lock
Labels: feature, python

#2919 chore(py): Tests for GoogleAI plugin
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/google-genai/test/test_google_plugin.py
Labels: feature, python, test

#2911 feat(py/plugins/genai): allow specifying API Key for VertexAI
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
Labels: python

#2918 feat(cli): made telemetry index persistent and self-maintaining
  .gitignore
  genkit-tools/cli/src/utils/manager-utils.ts
  genkit-tools/pnpm-lock.yaml
  genkit-tools/telemetry-server/package.json
  genkit-tools/telemetry-server/src/localFileTraceStore.ts
  genkit-tools/telemetry-server/tests/file_store_test.ts
Labels: js, tooling, config, root

#2909 chore(js): added missing exports and typedoc config for `genkit/context`
  js/ai/src/index.ts
  js/genkit/src/common.ts
  js/genkit/typedoc.json
Labels: js, config, fix

#2914 docs: fix imports
  docs/interrupts.md
  docs/tool-calling.md
Labels: docs, fix

#2938 chore(js/plugins/googleai): added google search options to gemini config schema
  js/plugins/googleai/src/gemini.ts
Labels: js

#2943 Fix: Add schema config to vertexai image models and fix tests and sam…
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/imagen.py
  py/plugins/google-genai/test/test_google_plugin.py
  py/samples/google-genai-image/src/google_genai_image.py
  py/samples/google-genai-vertexai-image/src/google_genai_vertexai_image.py
Labels: python, fix

#2917 feat(py): Dynamic model registration for Gemini (#2908)
  py/bin/build_dists
  py/packages/genkit/src/genkit/ai/_plugin.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/embedder.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/imagen.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/utils.py
  py/plugins/google-genai/test/models/test_googlegenai_gemini.py
  py/plugins/google-genai/test/test_google_plugin.py
  py/plugins/vertex-ai/pyproject.toml
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/__init__.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/constants.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/embedding.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/gemini.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/imagen.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/plugin_api.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/vector_search/vector_search.py
  py/plugins/vertex-ai/tests/test_embeddings.py
  py/plugins/vertex-ai/tests/test_gemini.py
  py/plugins/vertex-ai/tests/test_imagen.py
  py/samples/google-genai-hello/src/google_genai_hello.py
  py/samples/google-genai-image/src/google_genai_image.py
  py/samples/google-genai-vertexai-image/src/google_genai_vertexai_image.py
  py/samples/vertex-ai-imagen/LICENSE
  py/samples/vertex-ai-imagen/README.md
  py/samples/vertex-ai-imagen/pyproject.toml
  py/samples/vertex-ai-imagen/src/vertex_ai_imagen_sample.py
  py/samples/vertex-ai-vector-search-bigquery/pyproject.toml
  py/samples/vertex-ai-vector-search-bigquery/src/sample.py
  py/samples/vertex-ai-vector-search-bigquery/src/setup_env.py
  py/samples/vertex-ai-vector-search-firestore/pyproject.toml
  py/samples/vertex-ai-vector-search-firestore/src/sample.py
  py/uv.lock
Labels: docs, feature, python, config

#2945 feat(js): added reasoning part type and implemented for googleai and vertexai
  genkit-tools/common/src/types/document.ts
  genkit-tools/common/src/types/model.ts
  genkit-tools/genkit-schema.json
  js/ai/src/document.ts
  js/ai/src/generate/chunk.ts
  js/ai/src/generate/response.ts
  js/ai/src/message.ts
  js/ai/src/model.ts
  js/plugins/googleai/src/gemini.ts
  js/plugins/vertexai/src/gemini.ts
  js/testapps/flow-simple-ai/src/index.ts
  py/packages/genkit/src/genkit/core/typing.py
Labels: js, tooling, python

#2925 fix(go/plugins/googlegenai): runtime panic if no candidates returned
  go/plugins/googlegenai/gemini.go
Labels: go

#2887 chore: typechecking errors 2
  py/bin/sanitize_schema_typing.py
  py/packages/genkit/src/genkit/ai/_registry.py
  py/packages/genkit/src/genkit/blocks/model.py
  py/packages/genkit/src/genkit/core/action/_util.py
  py/packages/genkit/tests/genkit/aio/channel_test.py
  py/packages/genkit/tests/genkit/core/extract_test.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/openai_plugin.py
  py/plugins/compat-oai/tests/test_handler.py
  py/plugins/compat-oai/tests/test_plugin.py
  py/plugins/ollama/tests/conftest.py
Labels: docs, js, go, tooling, python, config, fix

#2949 feat(py): Add list models for dev UI Gemini
  py/packages/genkit/src/genkit/ai/_base.py
  py/packages/genkit/src/genkit/ai/_plugin.py
  py/packages/genkit/src/genkit/ai/_registry.py
  py/packages/genkit/src/genkit/blocks/embedding.py
  py/packages/genkit/src/genkit/blocks/model.py
  py/packages/genkit/src/genkit/core/action/__init__.py
  py/packages/genkit/src/genkit/core/action/_action.py
  py/packages/genkit/src/genkit/core/reflection.py
  py/packages/genkit/src/genkit/core/registry.py
  py/packages/genkit/tests/genkit/blocks/embedding_test.py
  py/packages/genkit/tests/genkit/blocks/model_test.py
  py/packages/genkit/tests/genkit/core/endpoints/reflection_test.py
  py/packages/genkit/tests/genkit/core/registry_test.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/embedder.py
  py/plugins/google-genai/test/test_google_plugin.py
Labels: feature, python

#2900 ci(go): configure the go.yaml checks to ensure go code is properly formatted
  .github/workflows/go.yml
Labels: config, fix

#2877 feat(js): openai compatible plugin
  .gitignore
  js/plugins/compat-oai/.npmignore
  js/plugins/compat-oai/LICENSE
  js/plugins/compat-oai/README.md
  js/plugins/compat-oai/jest.config.js
  js/plugins/compat-oai/package.json
  js/plugins/compat-oai/src/dalle.ts
  js/plugins/compat-oai/src/embedder.ts
  js/plugins/compat-oai/src/gpt.test.ts
  js/plugins/compat-oai/src/gpt.ts
  js/plugins/compat-oai/src/index.ts
  js/plugins/compat-oai/src/tts.ts
  js/plugins/compat-oai/src/whisper.ts
  js/plugins/compat-oai/tsconfig.json
  js/plugins/compat-oai/tsup.config.ts
  js/plugins/compat-oai/typedoc.json
  js/pnpm-lock.yaml
  js/testapps/compat-oai/README.md
  js/testapps/compat-oai/package.json
  js/testapps/compat-oai/src/index.ts
  js/testapps/compat-oai/tsconfig.json
Labels: docs, js, config, root

#2977 feat(js/ai/evaluators): Support batching for JS evaluator & CLI
  genkit-tools/cli/src/commands/eval-flow.ts
  genkit-tools/cli/src/commands/eval-run.ts
  genkit-tools/common/src/eval/evaluate.ts
  genkit-tools/common/src/types/apis.ts
  js/ai/src/evaluator.ts
  js/testapps/evals/data/dogfacts.json
Labels: js, tooling

#2952 feat(go/plugins/googlegenai): Add `reasoning` parts
  go/ai/document.go
  go/ai/gen.go
  go/ai/generate.go
  go/core/schemas.config
  go/plugins/googlegenai/gemini.go
  go/plugins/googlegenai/vertexai_live_test.go
Labels: go

#2981 chore(js/genkit): updated links from readme and genkit package metadata
  js/genkit/README.md
  js/genkit/package.json
Labels: docs, js, config

#2852 fix(py/docs): Remove Py docs from Mkdocs, API reference still included here
  py/docs/cloud-run.md
  py/docs/firebase.md
  py/docs/flask.md
  py/docs/get-started.md
  py/docs/index.md
  py/docs/reference/api/index.md
  py/docs/reference/flows.md
  py/docs/reference/index.md
  py/docs/reference/interrupts.md
  py/docs/reference/models.md
  py/docs/reference/plugins/dev-local-vectorstore.md
  py/docs/reference/plugins/firestore.md
  py/docs/reference/plugins/google-genai.md
  py/docs/reference/plugins/ollama.md
  py/docs/reference/rag.md
  py/docs/reference/tools.md
  py/docs/types.md
  py/mkdocs.yml
Labels: docs, python, config

#2995 fix(js/plugins/{googleai,vertexai}): correctly passthrough custom tool definitions
  js/plugins/googleai/src/gemini.ts
  js/plugins/vertexai/src/gemini.ts
  js/testapps/flow-simple-ai/src/index.ts
Labels: js

#2980 fix(go/plugins/googlegenai): Tool calls with streaming
  go/plugins/googlegenai/gemini.go
Labels: go, fix

#2884 feat(js/plugins/mcp): Refactor to a client manager structure, with dynamic tool calling.
  .github/workflows/bump-js-version.yml
  js/genkit/src/common.ts
  js/plugins/mcp/README.md
  js/plugins/mcp/examples/client/index.js
  js/plugins/mcp/examples/client/package.json
  js/plugins/mcp/examples/server/index.js
  js/plugins/mcp/examples/server/package.json
  js/plugins/mcp/package.json
  js/plugins/mcp/src/client/client.ts
  js/plugins/mcp/src/client/index.ts
  js/plugins/mcp/src/client/legacy.ts
  js/plugins/mcp/src/client/manager.ts
  js/plugins/mcp/src/client/prompts.ts
  js/plugins/mcp/src/client/resources.ts
  js/plugins/mcp/src/index.ts
  js/plugins/mcp/src/server.ts
  js/plugins/mcp/src/util/index.ts
  js/plugins/mcp/src/util/message.ts
  js/plugins/mcp/src/util/prompts.ts
  js/plugins/mcp/src/util/resources.ts
  js/plugins/mcp/src/util/tools.ts
  js/plugins/mcp/src/util/transport.ts
  js/plugins/mcp/tests/fakes.ts
  js/plugins/mcp/tests/manager_test.ts
  js/plugins/mcp/tests/server_test.ts
  js/pnpm-lock.yaml
  js/testapps/esm/package.json
  js/testapps/esm/src/index.ts
  js/testapps/mcp/README.md
  js/testapps/mcp/package.json
  js/testapps/mcp/src/index.ts
  js/testapps/mcp/test-workspace/hello-world.txt
  js/testapps/mcp/tsconfig.json
Labels: docs, js, go, tooling, python, config, sample, root
