Repository firebase/genkit, pull requests merged in 2025-06, with the labels that each got.

#3015 fix(js/plugins/vertexai): Handle Gemini API thought signatures
  js/plugins/vertexai/src/gemini.ts
  js/plugins/vertexai/tests/gemini_test.ts
Labels: js, fix

#3018 fix(js/plugins/googleai): fixed systemRole support for dynamic models
  js/plugins/googleai/src/gemini.ts
Labels: js, fix

#3008 breaking(go/genkit): remove indexer as primitive
  go/ai/retriever.go
  go/genkit/genkit.go
  go/internal/atype/atype.go
  go/internal/doc-snippets/googleai.go
  go/internal/doc-snippets/pinecone.go
  go/internal/doc-snippets/vertexai.go
  go/plugins/localvec/localvec.go
  go/plugins/pinecone/genkit.go
  go/plugins/pinecone/genkit_test.go
  go/plugins/pinecone/pinecone.go
  go/plugins/weaviate/weaviate.go
  go/plugins/weaviate/weaviate_test.go
  go/samples/pgvector/main.go
Labels: go

#2920 feat(go): added support for dynamic models
  go/ai/embedder.go
  go/ai/evaluator.go
  go/ai/generate.go
  go/ai/prompt.go
  go/ai/retriever.go
  go/ai/tools.go
  go/core/action.go
  go/core/action_test.go
  go/core/flow.go
  go/genkit/genkit.go
  go/genkit/plugin.go
  go/genkit/reflection.go
  go/genkit/reflection_test.go
  go/go.mod
  go/internal/action/action.go
  go/internal/atype/atype.go
  go/internal/registry/registry.go
  go/plugins/pinecone/genkit.go
Labels: go

#2165 fix: add span for prompt template rendering
  js/ai/src/prompt.ts
  js/genkit/src/genkit.ts
Labels: js

#3031 chore(js/mcp): Rename "Manager" -> "Host" to align terminology.
  js/plugins/mcp/README.md
  js/plugins/mcp/src/client/client.ts
  js/plugins/mcp/src/client/host.ts
  js/plugins/mcp/src/client/index.ts
  js/plugins/mcp/src/index.ts
  js/plugins/mcp/src/util/resources.ts
  js/plugins/mcp/tests/manager_test.ts
  js/testapps/esm/src/index.ts
  js/testapps/mcp/src/index.ts
Labels: docs, js

#3006 feat(go/dotprompt): Add support to MediaParts
  go/ai/prompt.go
  go/plugins/googlegenai/googleai_live_test.go
  go/plugins/googlegenai/vertexai_live_test.go
  go/plugins/vertexai/modelgarden/anthropic_live_test.go
  go/samples/prompts/main.go
  go/samples/prompts/prompts/media.prompt
Labels: go

#3007 feat(go/plugins/googlegenai): add signature thought to reasoning parts
  go/ai/document.go
  go/go.mod
  go/go.sum
  go/plugins/googlegenai/gemini.go
  go/plugins/googlegenai/googleai_live_test.go
Labels: go

#3038 fix(js/plugins/vertexai): fixed dynamic embedder resolution
  js/plugins/vertexai/src/embedder.ts
Labels: js, fix

#2922 feat(go): add DefineToolWithInputSchema to support custom JSON schemas
  go/ai/tools.go
  go/core/action.go
  go/genkit/genkit.go
Labels: go

#3035 feat(go): added resume/restart for interruptible tools
  go/ai/document.go
  go/ai/generate.go
  go/ai/generate_test.go
  go/ai/option.go
  go/ai/tools.go
Labels: go

#3034 fix(go/plugins/googlegenai): Skip nil part
  go/plugins/googlegenai/gemini.go
Labels: go

#3040 feat(py): Resolve action and list actions methods for model garden plugin
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/model.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/model_info.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/model_garden/modelgarden_plugin.py
  py/samples/model-garden/src/main.py
Labels: feature, python

#3041 fix(js): Add config for 2.5 Pro TTS model
  js/plugins/googleai/src/gemini.ts
Labels: js

#3051 chore: add license header to run-server.sh
  go/samples/mcp-server/run-server.sh
Labels: go

#3048 fix(go/plugins/googlegenai): distinct text parts from thoughts
  go/plugins/googlegenai/gemini.go
Labels: go, fix

#3026 feat(js): added dynamicTool factory function that does not depend on genkit instance
  js/ai/src/generate.ts
  js/ai/src/prompt.ts
  js/ai/src/tool.ts
  js/core/src/action.ts
  js/core/src/registry.ts
  js/core/tests/action_test.ts
  js/genkit/src/common.ts
  js/genkit/src/genkit.ts
  js/genkit/tests/chat_test.ts
  js/genkit/tests/flow_test.ts
  js/genkit/tests/generate_test.ts
  js/genkit/tests/prompts_test.ts
  js/testapps/flow-simple-ai/src/index.ts
Labels: js

#3046 feat: introduce combined generate input schema for validation
  genkit-tools/common/src/types/eval.ts
Labels: js, tooling

#2931 feat(go/plugins/googlegenai): Add dynamic model registration
  go/ai/prompt_test.go
  go/genkit/genkit.go
  go/genkit/plugin.go
  go/genkit/reflection.go
  go/plugins/googlegenai/googleai_live_test.go
  go/plugins/googlegenai/googlegenai.go
  go/plugins/googlegenai/models.go
  go/plugins/googlegenai/vertexai_live_test.go
  go/samples/basic-gemini/main.go
  go/samples/prompts/main.go
Labels: go, config

#3024 feat(js/plugins/googleai): added support for imagen and veo models to googleai plugin
  .gitignore
  genkit-tools/common/src/types/model.ts
  genkit-tools/genkit-schema.json
  js/ai/src/check-operation.ts
  js/ai/src/generate.ts
  js/ai/src/generate/action.ts
  js/ai/src/generate/response.ts
  js/ai/src/index.ts
  js/ai/src/model.ts
  js/genkit/src/genkit-beta.ts
  js/genkit/src/genkit.ts
  js/genkit/src/model.ts
  js/genkit/tests/generate_test.ts
  js/plugins/google-cloud/src/telemetry/generate.ts
  js/plugins/googleai/src/imagen.ts
  js/plugins/googleai/src/index.ts
  js/plugins/googleai/src/predict.ts
  js/plugins/googleai/src/veo.ts
  js/pnpm-lock.yaml
  js/testapps/flow-simple-ai/package.json
  js/testapps/flow-simple-ai/src/index.ts
  py/packages/genkit/src/genkit/core/typing.py
  py/uv.lock
Labels: js, tooling, python, config, root

#3068 fix(go/genkit): Update dotprompt version
  go/go.mod
  go/go.sum
Labels: go, fix

#3072 feat(js/mcp): Adds support for MCP _meta via context.
  js/plugins/mcp/src/client/host.ts
  js/plugins/mcp/src/util/prompts.ts
  js/plugins/mcp/src/util/tools.ts
  js/plugins/mcp/tests/fakes.ts
  js/plugins/mcp/tests/host_test.ts
Labels: js

#3050 fix: Update metric attribute length truncation to match Trace attribute max length.
  js/plugins/google-cloud/src/metrics.ts
  js/plugins/google-cloud/tests/metrics_test.ts
Labels: js

#3073 chore(js/plugins/mcp): removed resource tools until we have 1st class…
  js/plugins/mcp/src/client/host.ts
  js/plugins/mcp/src/util/index.ts
  js/plugins/mcp/src/util/resources.ts
  js/plugins/mcp/tests/host_test.ts
  js/testapps/mcp/src/index.ts
Labels: js

#3074 feat(js/plugins/mcp): added support for mcp roots
  js/plugins/mcp/src/client/client.ts
  js/plugins/mcp/src/client/host.ts
  js/plugins/mcp/tests/fakes.ts
  js/plugins/mcp/tests/host_test.ts
Labels: js

#3076 fix(js/plugins/google-cloud): Run all tests and refactor to only initialize telemetry once
  js/plugins/google-cloud/tests/logs_test.ts
Labels: js, fix, test

#3080 docs: fix up OpenAI plugin example
  go/plugins/compat_oai/openai/README.md
Labels: docs, go

#3094 fix(js/plugins/google-cloud): Fix feature name parsing to include "dotprompt" type
  js/plugins/google-cloud/src/utils.ts
Labels: js

#3097 chore(js/testapps): tweaked audioSimple to return the media in a way that can be displayed in a ui
  js/testapps/flow-simple-ai/src/index.ts
Labels: js

#3100 fix(js/plugins/googleai): fixed base image handling with veo models
  .gitignore
  js/plugins/googleai/src/veo.ts
  js/testapps/flow-simple-ai/photo.jpg
  js/testapps/flow-simple-ai/src/index.ts
Labels: js, config, fix, root

#3090 feat(js): added abort signal to actions/flows
  js/ai/src/generate.ts
  js/ai/src/generate/action.ts
  js/ai/src/model.ts
  js/ai/tests/model/model_test.ts
  js/core/src/action.ts
  js/core/src/flow.ts
  js/core/tests/action_test.ts
  js/core/tests/flow_test.ts
  js/genkit/src/genkit.ts
  js/genkit/tests/generate_test.ts
Labels: js

#3049 fix(py): Support more complex schemas gemini
  go/samples/mcp-server/run-server.sh
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/plugins/google-genai/test/models/test_googlegenai_gemini.py
Labels: go, python, fix

#3110 chore(samples): added gemini sample
  samples/js-gemini/.idx/dev.nix
  samples/js-gemini/README.md
  samples/js-gemini/package.json
  samples/js-gemini/photo.jpg
  samples/js-gemini/src/index.ts
  samples/js-gemini/tsconfig.json
Labels: docs, js, config, sample

#3107 fix(js/plugins/google-cloud): Write input and output logs for generate step
  js/plugins/google-cloud/src/gcpOpenTelemetry.ts
  js/plugins/google-cloud/src/telemetry/action.ts
  js/plugins/google-cloud/tests/logs_test.ts
Labels: js

#3111 feat(js/plugins/google-genai): Added Gemini for GoogleAI
  js/plugins/google-genai/src/common/types.ts
  js/plugins/google-genai/src/googleai/gemini.ts
  js/plugins/google-genai/src/googleai/types.ts
  js/plugins/google-genai/src/vertexai/utils.ts
  js/plugins/google-genai/tests/googleai/gemini_test.ts
Labels: js

#3121 feat(js/plugins/google-genai): Added Gemini for VertexAI
  js/plugins/google-genai/src/googleai/gemini.ts
  js/plugins/google-genai/src/vertexai/converters.ts
  js/plugins/google-genai/src/vertexai/gemini.ts
  js/plugins/google-genai/tests/vertexai/converters_test.ts
  js/plugins/google-genai/tests/vertexai/gemini_test.ts
Labels: js

#3120 feat(js/plugins/compat-oai): Add explicit model types for dynamic resolution
  js/plugins/compat-oai/src/openai/gpt.ts
  js/plugins/compat-oai/src/openai/index.ts
  js/testapps/compat-oai/src/index.ts
Labels: js

#3103 fix(go/plugins): update gemini models and modelgarden provider
  go/plugins/googlegenai/models.go
  go/plugins/vertexai/modelgarden/anthropic.go
  go/plugins/vertexai/modelgarden/models.go
Labels: go, fix

#3125 feat(js/plugins/google-genai): Added Imagen for VertexAI
  js/plugins/google-genai/src/vertexai/imagen.ts
  js/plugins/google-genai/src/vertexai/utils.ts
  js/plugins/google-genai/tests/vertexai/imagen_test.ts
  js/plugins/google-genai/tests/vertexai/utils_test.ts
Labels: js

#3083 chore(py): Add tests model garden
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/model_garden/client.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/model_garden/model_garden.py
  py/plugins/vertex-ai/tests/model_garden/test_client.py
  py/plugins/vertex-ai/tests/model_garden/test_model_garden.py
Labels: python, chore, test

#3095 feat(go/plugins/compat_oai/openai): add dynamic model resolution
  go/plugins/compat_oai/compat_oai.go
  go/plugins/compat_oai/openai/openai.go
Labels: go

#3136 patch(#3133): added resource name, handle parent resources
  js/ai/src/document.ts
  js/ai/src/generate/action.ts
  js/ai/src/resource.ts
  js/ai/tests/generate/generate_test.ts
  js/ai/tests/resource/resource_test.ts
  js/testapps/flow-simple-ai/src/index.ts
Labels: js

#3131 feat(js/plugins/compat-oai): Add `raw` field in responses, support config.tools
  js/plugins/compat-oai/src/audio.ts
  js/plugins/compat-oai/src/image.ts
  js/plugins/compat-oai/src/model.ts
  js/testapps/compat-oai/src/index.ts
Labels: js

#3138 feat(js/plugins/express): use connection close/timeout as abort signal for the action
  js/plugins/express/src/index.ts
  js/plugins/express/tests/express_test.ts
Labels: js

#3137 feat(js/plugins/next): use request signal as abort signal for the action
  js/plugins/next/src/client.ts
  js/plugins/next/src/index.ts
Labels: js

#3134 fix: wrong item name actionFn
  samples/js-schoolAgent/src/attendanceAgent.ts
  samples/js-schoolAgent/src/gradesAgent.ts
Labels: js, sample, fix

#3146 fix(py/genkit/ai): add missing type annotation
  py/packages/genkit/src/genkit/ai/_aio.py
Labels: python
