Repository firebase/genkit, pull requests merged in 2025-07, with the labels that each got.

#3144 fix(go/plugins/googlegenai): Update gemini models
  go/plugins/googlegenai/models.go
Labels: go, fix

#3156 fix(js): Remove numberOfVideos config parameter for Veo
  js/plugins/googleai/src/veo.ts
Labels: js

#3167 fix(js/core): add port number to runtime file name
  js/core/src/reflection.ts
Labels: js

#2883 feat(go): add custom configs for all primitives
  go/ai/embedder.go
  go/ai/retriever.go
  go/core/action.go
  go/genkit/genkit.go
  go/internal/base/json.go
  go/internal/doc-snippets/pinecone.go
  go/internal/doc-snippets/rag/main.go
  go/internal/fakeembedder/fakeembedder_test.go
  go/plugins/alloydb/genkit.go
  go/plugins/alloydb/genkit_test.go
  go/plugins/compat_oai/compat_oai.go
  go/plugins/compat_oai/openai/openai.go
  go/plugins/firebase/retriever.go
  go/plugins/googlegenai/gemini.go
  go/plugins/googlegenai/googlegenai.go
  go/plugins/googlegenai/models.go
  go/plugins/localvec/localvec.go
  go/plugins/localvec/localvec_test.go
  go/plugins/ollama/embed.go
  go/plugins/pinecone/genkit.go
  go/plugins/pinecone/genkit_test.go
  go/plugins/postgresql/genkit.go
  go/plugins/postgresql/genkit_test.go
  go/plugins/weaviate/weaviate.go
  go/plugins/weaviate/weaviate_test.go
  go/samples/menu/main.go
  go/samples/pgvector/main.go
  go/samples/rag/main.go
Labels: go

#3141 feature(js/plugins/google-genai): Added VertexAI index...
  js/plugins/google-genai/src/common/utils.ts
  js/plugins/google-genai/src/index.ts
  js/plugins/google-genai/src/vertexai/embedder.ts
  js/plugins/google-genai/src/vertexai/gemini.ts
  js/plugins/google-genai/src/vertexai/index.ts
  js/plugins/google-genai/src/vertexai/utils.ts
  js/plugins/google-genai/tests/common/utils_test.ts
  js/plugins/google-genai/tests/vertexai/embedder_test.ts
  js/plugins/google-genai/tests/vertexai/index_test.ts
Labels: js

#3173 fix(js/core): correctly passthrough telemetry labels when streaming
  js/core/src/action.ts
  js/core/src/reflection.ts
  js/core/tests/flow_test.ts
Labels: js

#3171 feat(js/ai): added a way to define resources dynamically
  js/ai/src/generate.ts
  js/ai/src/index.ts
  js/ai/src/resource.ts
  js/ai/tests/resource/resource_test.ts
  js/genkit/src/common.ts
  js/genkit/tests/generate_test.ts
Labels: js

#3172 feat(js/plugins/google-genai): Added GoogleAI index
  js/plugins/google-genai/src/googleai/client.ts
  js/plugins/google-genai/src/googleai/embedder.ts
  js/plugins/google-genai/src/googleai/index.ts
  js/plugins/google-genai/src/index.ts
  js/plugins/google-genai/src/vertexai/client.ts
  js/plugins/google-genai/tests/googleai/client_test.ts
  js/plugins/google-genai/tests/googleai/embedder_test.ts
  js/plugins/google-genai/tests/googleai/index_test.ts
  js/plugins/google-genai/tests/vertexai/client_test.ts
Labels: js

#3177 fix(js): Export Operation type for use in dev UI
  js/core/src/background-action.ts
Labels: js

#3184 feat(js/plugins/google-genai): Added Gemma Models to GoogleAI
  js/plugins/google-genai/src/googleai/gemini.ts
  js/plugins/google-genai/src/googleai/index.ts
  js/plugins/google-genai/tests/googleai/index_test.ts
Labels: js

#3190 feat(js/plugins/mcp): added support for MCP resources via dynamicResource
  js/ai/src/index.ts
  js/genkit/src/common.ts
  js/plugins/mcp/src/client/client.ts
  js/plugins/mcp/src/client/host.ts
  js/plugins/mcp/src/util/message.ts
  js/plugins/mcp/src/util/resource.ts
  js/plugins/mcp/tests/fakes.ts
  js/plugins/mcp/tests/host_test.ts
  js/testapps/mcp/src/index.ts
Labels: js

#3205 chore: new js bump version and tag script
  .github/workflows/bump-cli-version.yml
  .github/workflows/bump-js-version.yml
  .github/workflows/bump-package-version.yml
  js/scripts/bump_and_tag.sh
  js/scripts/bump_and_tag_cli.sh
  js/scripts/bump_and_tag_js.sh
  js/scripts/bump_version.sh
Labels: js, config

#3193 feat(js/plugins/google-genai): Added Veo models
  js/plugins/google-genai/src/common/utils.ts
  js/plugins/google-genai/src/googleai/client.ts
  js/plugins/google-genai/src/googleai/embedder.ts
  js/plugins/google-genai/src/googleai/gemini.ts
  js/plugins/google-genai/src/googleai/imagen.ts
  js/plugins/google-genai/src/googleai/index.ts
  js/plugins/google-genai/src/googleai/types.ts
  js/plugins/google-genai/src/googleai/utils.ts
  js/plugins/google-genai/src/googleai/veo.ts
  js/plugins/google-genai/tests/googleai/index_test.ts
  js/plugins/google-genai/tests/googleai/veo_test.ts
Labels: js

#3206 refactor(js/plugins/google-genai): Refactored vertexAI to match googleAI
  js/plugins/google-genai/src/common/utils.ts
  js/plugins/google-genai/src/googleai/gemini.ts
  js/plugins/google-genai/src/googleai/index.ts
  js/plugins/google-genai/src/vertexai/embedder.ts
  js/plugins/google-genai/src/vertexai/gemini.ts
  js/plugins/google-genai/src/vertexai/imagen.ts
  js/plugins/google-genai/src/vertexai/index.ts
  js/plugins/google-genai/src/vertexai/types.ts
  js/plugins/google-genai/src/vertexai/utils.ts
  js/plugins/google-genai/tests/common/utils_test.ts
  js/plugins/google-genai/tests/vertexai/embedder_test.ts
  js/plugins/google-genai/tests/vertexai/gemini_test.ts
  js/plugins/google-genai/tests/vertexai/imagen_test.ts
  js/plugins/google-genai/tests/vertexai/index_test.ts
  js/plugins/google-genai/tests/vertexai/utils_test.ts
Labels: js

#3101 feat: compile CI to a binary with bun
  .github/workflows/build-cli-binaries.yml
  bin/install_cli
  genkit-tools/cli/package.json
  genkit-tools/cli/src/cli.ts
  genkit-tools/cli/src/commands/server-harness.ts
  genkit-tools/cli/src/commands/ui-start.ts
  genkit-tools/cli/tsconfig.json
  genkit-tools/common/package.json
  genkit-tools/common/src/utils/errors.ts
  genkit-tools/common/src/utils/package.ts
  genkit-tools/common/src/utils/utils.ts
  genkit-tools/common/tests/utils/errors_test.ts
  genkit-tools/common/tsconfig.json
  genkit-tools/pnpm-lock.yaml
Labels: js, tooling, config

#3212 feat(js/plugins/mcp): added support for resources in the MCP server
  js/genkit/src/common.ts
  js/plugins/mcp/src/server.ts
  js/plugins/mcp/tests/server_test.ts
  js/testapps/mcp/src/server.ts
Labels: js

#3213 chore: updated mcp readme/samples
  js/plugins/mcp/README.md
  js/testapps/mcp/src/server.ts
Labels: docs, js

#3222 feat(js/plugins/compat-oai): Support abortSignal
  js/plugins/compat-oai/src/audio.ts
  js/plugins/compat-oai/src/image.ts
  js/plugins/compat-oai/src/model.ts
  js/plugins/compat-oai/tests/compat_oai_test.ts
  js/plugins/compat-oai/tests/openai_test.ts
Labels: js

#3196 fix(genkit-tools/evals): Switch to JSON index in EvalStore
  genkit-tools/common/src/eval/evaluate.ts
  genkit-tools/common/src/eval/index.ts
  genkit-tools/common/src/eval/localFileEvalStore.ts
  genkit-tools/common/src/server/router.ts
  genkit-tools/common/tests/eval/localFileEvalStore_test.ts
Labels: js, tooling

#3211 fix(js/plugins/compat-oai): Bug bash fixes
  js/plugins/compat-oai/README.md
  js/plugins/compat-oai/src/deepseek/deepseek.ts
  js/plugins/compat-oai/src/openai/embedder.ts
  js/plugins/compat-oai/src/openai/gpt.ts
  js/plugins/compat-oai/src/openai/index.ts
  js/plugins/compat-oai/src/openai/tts.ts
  js/plugins/compat-oai/src/openai/whisper.ts
  js/plugins/compat-oai/tests/openai_test.ts
Labels: docs, js

#3225 fix(js/plugins/gemini): correctly handle the model abort signal
  js/core/src/action.ts
  js/core/tests/action_test.ts
  js/plugins/googleai/src/gemini.ts
  js/testapps/flow-simple-ai/src/index.ts
Labels: js, fix

#3182 fix(js/core): add port to runtime id for uniqueness
  js/core/src/reflection.ts
Labels: js

#3232 fix(js/plugins/compat-oai): Support custom config, with default model info
  js/plugins/compat-oai/src/audio.ts
  js/plugins/compat-oai/src/deepseek/deepseek.ts
  js/plugins/compat-oai/src/deepseek/index.ts
  js/plugins/compat-oai/src/image.ts
  js/plugins/compat-oai/src/model.ts
  js/plugins/compat-oai/src/openai/dalle.ts
  js/plugins/compat-oai/src/openai/gpt.ts
  js/plugins/compat-oai/src/openai/index.ts
  js/plugins/compat-oai/src/openai/tts.ts
  js/plugins/compat-oai/src/openai/whisper.ts
  js/plugins/compat-oai/src/xai/grok-image.ts
  js/plugins/compat-oai/src/xai/grok.ts
  js/plugins/compat-oai/src/xai/index.ts
  js/plugins/compat-oai/tests/compat_oai_test.ts
  js/testapps/compat-oai/src/index.ts
Labels: js

#3242 fix(js/plugins/compat-oai): Fix GPT auto complete
  js/plugins/compat-oai/src/openai/gpt.ts
Labels: js

#3243 fix(js/ai): remove obsolete streaming callback ALS and correctly passthrought streaming callback from action
  js/ai/src/generate.ts
  js/ai/src/generate/action.ts
  js/ai/src/model.ts
  js/ai/tests/generate/generate_test.ts
  js/ai/tests/model/model_test.ts
  js/plugins/express/tests/express_test.ts
  js/testapps/flow-simple-ai/src/index.ts
Labels: js, fix

#3227 chore: minor updates to readmes and opportunistic package.json cleanup
  js/genkit/README.md
  js/plugins/express/README.md
  js/plugins/express/package.json
  js/plugins/express/tests/express_test.ts
  js/pnpm-lock.yaml
Labels: docs, js, config

#3240 feat(py): add list_actions method to OpenAI compat plugin
  py/packages/genkit/src/genkit/ai/_plugin.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/openai_plugin.py
  py/plugins/compat-oai/tests/test_plugin.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/ollama/src/genkit/plugins/ollama/plugin_api.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/model_garden/modelgarden_plugin.py
Labels: feature, python

#3249 feat(js/plugins/google-genai): Added support for global Vertex endpoint
  js/plugins/google-genai/src/common/types.ts
  js/plugins/google-genai/src/common/utils.ts
  js/plugins/google-genai/src/googleai/client.ts
  js/plugins/google-genai/src/googleai/gemini.ts
  js/plugins/google-genai/src/googleai/veo.ts
  js/plugins/google-genai/src/vertexai/client.ts
  js/plugins/google-genai/src/vertexai/converters.ts
  js/plugins/google-genai/src/vertexai/gemini.ts
  js/plugins/google-genai/src/vertexai/index.ts
  js/plugins/google-genai/src/vertexai/types.ts
  js/plugins/google-genai/src/vertexai/utils.ts
  js/plugins/google-genai/tests/common/utils_test.ts
  js/plugins/google-genai/tests/googleai/veo_test.ts
  js/plugins/google-genai/tests/vertexai/client_test.ts
  js/plugins/google-genai/tests/vertexai/converters_test.ts
  js/plugins/google-genai/tests/vertexai/embedder_test.ts
  js/plugins/google-genai/tests/vertexai/gemini_test.ts
  js/plugins/google-genai/tests/vertexai/imagen_test.ts
  js/plugins/google-genai/tests/vertexai/index_test.ts
  js/plugins/google-genai/tests/vertexai/utils_test.ts
Labels: js

#3261 chore: 2 missing prompts for dev-ui-gallery
  js/testapps/dev-ui-gallery/prompts/code.prompt
  js/testapps/dev-ui-gallery/prompts/markdown.prompt
Labels: js

#3279 fix(js/plugins/google-genai): Fixed imagen, veo, and streaming thoughts
  js/plugins/google-genai/src/common/utils.ts
  js/plugins/google-genai/src/googleai/client.ts
  js/plugins/google-genai/src/googleai/embedder.ts
  js/plugins/google-genai/src/googleai/gemini.ts
  js/plugins/google-genai/src/googleai/imagen.ts
  js/plugins/google-genai/src/googleai/utils.ts
  js/plugins/google-genai/src/googleai/veo.ts
  js/plugins/google-genai/src/vertexai/embedder.ts
  js/plugins/google-genai/src/vertexai/gemini.ts
  js/plugins/google-genai/src/vertexai/imagen.ts
  js/plugins/google-genai/src/vertexai/utils.ts
  js/plugins/google-genai/tests/common/utils_test.ts
  js/plugins/google-genai/tests/vertexai/imagen_test.ts
  js/plugins/google-genai/tests/vertexai/index_test.ts
Labels: js

#3273 chore: add a warning when running in .Trash folder
  genkit-tools/cli/src/commands/start.ts
Labels: js, tooling

#3288 fix: Update OpenAI links in README
  README.md
Labels: docs, root

#3269 feat: add instance name to GenkitOptions
  genkit-tools/common/src/manager/manager.ts
  genkit-tools/common/src/manager/types.ts
  js/core/src/reflection.ts
  js/genkit/src/genkit.ts
  js/testapps/dev-ui-gallery/src/genkit.ts
Labels: js, tooling

#3290 fix(genkit-tools): ensure runtime is optional for listing actions
  genkit-tools/common/src/types/apis.ts
Labels: js, tooling

#3253 chore(go): add text-to-speech samples
  go/samples/text-to-speech/genkit.wav
  go/samples/text-to-speech/main.go
Labels: go

#3339 fix: add thinking tokens to usage stats for gemini models
  js/plugins/google-genai/src/common/types.ts
  js/plugins/google-genai/src/googleai/gemini.ts
  js/plugins/google-genai/src/vertexai/gemini.ts
  js/plugins/googleai/src/gemini.ts
  js/plugins/vertexai/src/gemini.ts
Labels: js

#3355 fix(go): Fixed type assertions on LookupPlugin
  go/genkit/genkit.go
Labels: go, fix

#3353 feat(js/plugins/google-cloud): Add support to export thinking token usage as a new metric
  js/plugins/google-cloud/src/telemetry/generate.ts
  js/plugins/google-cloud/tests/metrics_test.ts
Labels: js
