Repository firebase/genkit, pull requests merged in 2025-02, with the labels that each got.

#1796 chore: update prompts to 1.0, renames to js-prompts to match samples
  samples/idx-template.json
  samples/js-prompts/.idx/dev.nix
  samples/js-prompts/README.md
  samples/js-prompts/package-lock.json
  samples/js-prompts/package.json
  samples/js-prompts/src/index.ts
  samples/js-prompts/tsconfig.json
Labels: docs, js, config, sample

#1795 fix: update API ref link
  docs/evaluation.md
Labels: docs

#1794 fix: remove idx subbutton and lint fixes
  samples/js-character-generator/README.md
  samples/js-character-generator/package.json
  samples/js-coffee-shop/README.md
  samples/js-menu/README.md
Labels: docs, js, config, sample

#1802 chore: update-chatbot-sample to 1.0
  samples/chatbot/package-lock.json
  samples/js-chatbot/.gitignore
  samples/js-chatbot/README.md
  samples/js-chatbot/eval.json
  samples/js-chatbot/genkit-app/.editorconfig
  samples/js-chatbot/genkit-app/.gitignore
  samples/js-chatbot/genkit-app/README.md
  samples/js-chatbot/genkit-app/angular.json
  samples/js-chatbot/genkit-app/package-lock.json
  samples/js-chatbot/genkit-app/package.json
  samples/js-chatbot/genkit-app/public/favicon.ico
  samples/js-chatbot/genkit-app/src/app/app.component.html
  samples/js-chatbot/genkit-app/src/app/app.component.scss
  samples/js-chatbot/genkit-app/src/app/app.component.spec.ts
  samples/js-chatbot/genkit-app/src/app/app.component.ts
  samples/js-chatbot/genkit-app/src/app/app.config.ts
  samples/js-chatbot/genkit-app/src/app/app.routes.ts
  samples/js-chatbot/genkit-app/src/app/samples/chatbot/chatbot.component.html
  samples/js-chatbot/genkit-app/src/app/samples/chatbot/chatbot.component.scss
  samples/js-chatbot/genkit-app/src/app/samples/chatbot/chatbot.component.spec.ts
  samples/js-chatbot/genkit-app/src/app/samples/chatbot/chatbot.component.ts
  samples/js-chatbot/genkit-app/src/index.html
  samples/js-chatbot/genkit-app/src/main.ts
  samples/js-chatbot/genkit-app/src/styles.scss
  samples/js-chatbot/genkit-app/tsconfig.app.json
  samples/js-chatbot/genkit-app/tsconfig.json
  samples/js-chatbot/genkit-app/tsconfig.spec.json
  samples/js-chatbot/package-lock.json
  samples/js-chatbot/package.json
  samples/js-chatbot/server/package-lock.json
  samples/js-chatbot/server/package.json
  samples/js-chatbot/server/src/index.ts
  samples/js-chatbot/server/src/memory.ts
  samples/js-chatbot/server/tsconfig.json
Labels: docs, js, config, sample

#1801 fix: improve erroneous ts doc for GenerateResponse.messages
  js/ai/src/generate/response.ts
Labels: js

#1804 chore: update menu sample to 1.0
  samples/js-menu/package.json
  samples/js-menu/src/03/flows.ts
  samples/js-menu/src/types.ts
Labels: js, config, sample

#1805 chore(js/plugins/vertexai): bump vertexai SDK to 1.9.3
  js/plugins/vertexai/package.json
  js/pnpm-lock.yaml
Labels: js, config

#1810 fix(js): Make flow.run's first parameter optional
  js/core/src/action.ts
Labels: js, config, fix

#1809 chore(js): Rename streamingCallback to sendChunk
  docs/flows.md
  js/doc-snippets/src/flows/index.ts
  js/genkit/src/client/client.ts
  js/genkit/tests/helpers.ts
  js/plugins/express/README.md
  js/plugins/googleai/src/gemini.ts
  js/plugins/vertexai/src/modelgarden/anthropic.ts
  js/plugins/vertexai/src/modelgarden/mistral.ts
  js/plugins/vertexai/src/modelgarden/openai_compatibility.ts
  js/pnpm-lock.yaml
  js/testapps/dev-ui-gallery/src/main/flows.ts
  js/testapps/express/src/index.ts
  js/testapps/flow-sample1/src/index.ts
  js/testapps/flow-simple-ai/src/index.ts
  js/testapps/multimodal/src/pdf.ts
  js/testapps/multimodal/src/video.ts
  js/testapps/prompt-file/src/index.ts
  js/testapps/rag/src/pdf-rag.ts
  samples/js-angular/server/src/jsonStreaming.ts
  samples/js-chatbot/server/src/index.ts
  tests/test_js_app/src/index.ts
Labels: docs, js, config, sample

#1776 fix: use env var to track telemetryServerUrl
  genkit-tools/cli/src/commands/start.ts
  js/core/src/reflection.ts
  js/core/src/tracing.ts
Labels: js, tooling

#1718 chore: moved generate tests into shareable spec file (for go and py)
  go/tests/api_test.go
  js/ai/package.json
  js/ai/tests/generate/action_test.ts
  js/pnpm-lock.yaml
  tests/specs/generate.yaml
  tests/specs/reflection_api.yaml
  tests/src/reflection_api_test.ts
Labels: js, go, config

#1824 chore: update js samples to 1.0.0-rc.15
  samples/js-chatbot/genkit-app/package-lock.json
  samples/js-chatbot/genkit-app/package.json
  samples/js-chatbot/package-lock.json
  samples/js-chatbot/package.json
  samples/js-chatbot/server/package-lock.json
  samples/js-chatbot/server/package.json
  samples/js-prompts/package-lock.json
  samples/js-prompts/package.json
  samples/js-schoolAgent/package-lock.json
  samples/js-schoolAgent/package.json
Labels: js, config, sample

#1823 chore: update-js-chat-to-1.0
  samples/js-angular/README.md
  samples/js-angular/genkit-app/package-lock.json
  samples/js-angular/genkit-app/package.json
  samples/js-angular/genkit-app/src/app/samples/chatbot/chatbot.component.ts
  samples/js-angular/genkit-app/src/app/samples/streaming-json/streaming-json.component.ts
  samples/js-angular/server/package-lock.json
  samples/js-angular/server/package.json
  samples/js-angular/server/src/agent.ts
  samples/js-angular/server/src/index.ts
Labels: docs, js, config, sample

#1812 feat: Add dev.nix for js-menu
  samples/idx-template.json
  samples/js-chatbot/README.md
  samples/js-menu/.gitignore
  samples/js-menu/.idx/dev.nix
  samples/js-menu/README.md
  samples/js-menu/package-lock.json
  samples/js-menu/src/index.ts
Labels: docs, js, config, sample

#1811 fix: multimodal bugs in Chroma fixed
  docs/plugins/firebase.md
  docs/plugins/google-genai.md
  docs/plugins/ollama.md
  docs/plugins/vertex-ai.md
  docs/templates/pgvector.md
  js/plugins/chroma/src/index.ts
  js/plugins/evaluators/src/metrics/answer_relevancy.ts
  js/plugins/firebase/src/firestoreRetriever.ts
  js/plugins/ollama/tests/embedding_live_test.ts
  js/plugins/vertexai/src/vectorsearch/vector_search/retrievers.ts
  js/testapps/multimodal/src/genkit.ts
  js/testapps/multimodal/src/pdf.ts
  js/testapps/multimodal/src/video.ts
Labels: docs, js

#1798 BREAKING CHANGE!(js): Rip out onFlow and firebaseAuth. Update all docs
  docs/auth.md
  docs/firebase.md
  docs/flows.md
  docs/plugins/firebase.md
  js/doc-snippets/package.json
  js/doc-snippets/src/flows/firebase.ts
  js/plugins/firebase/package.json
  js/plugins/firebase/src/auth.ts
  js/plugins/firebase/src/functions.ts
  js/plugins/firebase/src/helpers.ts
  js/plugins/firebase/tests/auth_test.ts
  js/plugins/firebase/tests/functions_test.ts
  js/pnpm-lock.yaml
  js/testapps/dev-ui-gallery/package.json
  js/testapps/dev-ui-gallery/src/main/flows-firebase-functions.ts
  js/testapps/esm/src/index.ts
  js/testapps/firebase-functions-sample1/functions/package.json
  js/testapps/firebase-functions-sample1/functions/src/index.ts
Labels: docs, js, config

#1822 fix: update `auth` to `context` in CLI
  docs/auth.md
  docs/evaluation.md
  genkit-tools/cli/src/commands/eval-flow.ts
  genkit-tools/cli/src/commands/flow-batch-run.ts
  genkit-tools/cli/src/commands/flow-run.ts
  genkit-tools/common/src/eval/evaluate.ts
  genkit-tools/common/src/types/apis.ts
Labels: docs, js, tooling

#1817 fix: evaluation.md
  docs/evaluation.md
Labels: docs

#1831 docs: Update devtools.md to reference an existing runtime running.
  docs/devtools.md
Labels: docs

#1830 docs: Update chat.md to Genkit beta.
  docs/chat.md
Labels: docs

#1833 fix: dotprompt docs
  docs/dotprompt.md
  js/doc-snippets/src/dotprompt/index.ts
Labels: docs, js, dotprompt

#1814 fix: eval plugin docs
  docs/evaluation.md
  docs/plugin-authoring-evaluator.md
Labels: docs

#1837 fix: syntax in pgvector
  docs/templates/pgvector.md
Labels: docs

#1835 docs: New page about interrupts
  docs/interrupts.md
Labels: docs

#1829 chore(js): remove extraneous console.log statements
  js/ai/src/generate/resolve-tool-requests.ts
  js/core/src/tracing/processor.ts
  js/plugins/langchain/src/tracing.ts
  js/plugins/mcp/src/server.ts
Labels: js

#1813 docs: updated some docs
  docs/cloud-run.md
  docs/plugin-authoring.md
  docs/tool-calling.md
Labels: docs

#1842 chore(docs): Fix merge conflict markers in plugins/firebase.md
  docs/plugins/firebase.md
Labels: docs

#1848 fix: fix chatbot chunk
  samples/js-chatbot/server/src/index.ts
Labels: js, sample, fix

#1856 chore: update samples readme to use purple IDX button
  samples/README.md
Labels: docs, sample

#1839 chore: update pnpm to v10.2.0
  genkit-tools/package.json
  js/package.json
  package.json
Labels: js, tooling, config, root

#1855 fix: compile js-samples as part of tests
  .github/workflows/samples.yml
  package.json
  samples/js-character-generator/.gitignore
  samples/js-character-generator/package-lock.json
  samples/js-character-generator/package.json
  samples/js-character-generator/tsconfig.json
  samples/js-chatbot/genkit-app/angular.json
  samples/js-chatbot/genkit-app/src/app/samples/chatbot/chatbot.component.ts
  samples/js-chatbot/package.json
  samples/js-coffee-shop/package.json
  samples/package.json
Labels: js, config, sample, root, test

#1861 update working tree output to be more verbose
  .github/workflows/scripts/ensure-clean-working-tree.sh
Labels: config

#1859 fix: add more samples to be run
  package.json
  samples/js-angular/genkit-app/angular.json
  samples/js-angular/package.json
  samples/js-schoolAgent/package.json
  samples/package.json
Labels: js, config, sample, root

#1846 docs: Edits to docs for GA release
  docs/auth.md
  docs/chat.md
  docs/devtools.md
  docs/dotprompt.md
  docs/evaluation.md
Labels: docs

#1863 fix: include updated pnpm files
  package.json
  pnpm-lock.yaml
Labels: js, config, root

#1862 feat(js/plugins): added new gemini 2.0 models to googleai and vertexai plugins
  js/plugins/googleai/src/gemini.ts
  js/plugins/googleai/src/index.ts
  js/plugins/vertexai/src/gemini.ts
  js/plugins/vertexai/src/index.ts
Labels: js

#1841 docs: vertexai updates
  docs/plugins/vertex-ai.md
  js/testapps/custom-evaluators/package.json
  js/testapps/dev-ui-gallery/package.json
  js/testapps/esm/package.json
  js/testapps/evals/package.json
  js/testapps/multimodal/package.json
  js/testapps/ollama/package.json
  js/testapps/rag/package.json
  js/testapps/vertexai-vector-search-firestore/README.md
  js/testapps/vertexai-vector-search-firestore/package.json
Labels: docs, js, config

#1832 breaking(js/ai): drop ToolDefinition from ToolArgument (and generate action interface)
  genkit-tools/common/src/types/model.ts
  genkit-tools/genkit-schema.json
  js/ai/src/chat.ts
  js/ai/src/model.ts
  js/ai/src/tool.ts
Labels: js, tooling

#1836 docs: Restructuring of codelab-chat-with-a-pdf.md
  docs/codelabs/codelab-chat-with-a-pdf.md
Labels: docs

#1843 docs(js): Adds doc for context.
  docs/context.md
Labels: docs

#1868 feat: support model validation
  genkit-tools/common/src/eval/evaluate.ts
  genkit-tools/common/src/eval/validate.ts
  genkit-tools/common/src/utils/eval.ts
Labels: js, tooling

#1865 docs: 2nd tranche of docs updates for 6 Feb GA release
  docs/firebase.md
  docs/flows.md
  docs/plugin-authoring-evaluator.md
  docs/tool-calling.md
Labels: docs

#1870 fix(js): stream tool message generated by interrupt resume
  js/ai/src/generate/action.ts
  js/ai/src/generate/resolve-tool-requests.ts
  js/genkit/tests/generate_test.ts
Labels: js

#1575 feature(go): add support for multiple model versions
  go/ai/generate.go
  go/ai/generator_test.go
  go/genkit/genkit.go
  go/internal/doc-snippets/modelplugin/modelplugin.go
  go/internal/doc-snippets/ollama.go
  go/plugins/googleai/googleai.go
  go/plugins/internal/gemini/gemini.go
  go/plugins/ollama/ollama.go
  go/plugins/vertexai/vertexai.go
  go/samples/basic-gemini/main.go
  js/testapps/basic-gemini/src/index.ts
Labels: js, go

#1871 docs: Third tranche of docs updates
  docs/cloud-run.md
  docs/devtools.md
  docs/firebase.md
  docs/plugins/firebase.md
Labels: docs

#1872 feat(js/ai): allow explicit constrained gen option, allow simulation with tools
  genkit-tools/common/src/types/model.ts
  genkit-tools/genkit-schema.json
  js/ai/src/generate.ts
  js/ai/src/generate/action.ts
  js/ai/src/model.ts
  js/ai/src/model/middleware.ts
  js/ai/tests/generate/generate_test.ts
  js/ai/tests/model/middleware_test.ts
  js/genkit/tests/formats_test.ts
  js/genkit/tests/helpers.ts
  js/plugins/googleai/src/gemini.ts
  js/plugins/vertexai/src/gemini.ts
Labels: js, tooling

#1867 fix: update-samples-to-v17
  samples/idx-template.json
  samples/js-chatbot/genkit-app/package-lock.json
  samples/js-chatbot/genkit-app/package.json
  samples/js-chatbot/package-lock.json
  samples/js-chatbot/package.json
  samples/js-chatbot/server/package-lock.json
  samples/js-chatbot/server/package.json
  samples/js-coffee-shop/package-lock.json
  samples/js-coffee-shop/package.json
  samples/js-menu/package-lock.json
  samples/js-menu/package.json
  samples/js-prompts/package-lock.json
  samples/js-prompts/package.json
  samples/js-schoolAgent/package-lock.json
  samples/js-schoolAgent/package.json
Labels: js, config, sample

#1874 fix: update js-chatbot to work in IDX preview
  samples/idx-template.json
  samples/js-chatbot/genkit-app/angular.json
  samples/js-chatbot/genkit-app/proxy.conf.json
  samples/js-chatbot/genkit-app/src/app/samples/chatbot/chatbot.component.ts
Labels: js, sample

#1877 fix: use correct idx link in js api readme
  js/index.typedoc.md
Labels: docs, js

#1875 fix: minor fixes in ollama plugin doc
  docs/plugins/ollama.md
Labels: docs

#1880 a few fixes for #1743
  js/genkit/package.json
  js/genkit/src/context.ts
  js/genkit/src/index.ts
  js/plugins/express/README.md
  js/plugins/express/src/index.ts
  js/plugins/express/tests/express_test.ts
  js/plugins/firebase/src/context.ts
  js/plugins/firebase/tests/context_test.ts
  js/plugins/next/package.json
  js/plugins/next/src/client.ts
  js/plugins/next/src/index.ts
  js/testapps/express/src/index.ts
Labels: docs, js, config

#1883 chore: update samples to 1.0.0.rc.18
  samples/js-angular/genkit-app/package-lock.json
  samples/js-angular/genkit-app/package.json
  samples/js-angular/server/package-lock.json
  samples/js-angular/server/package.json
  samples/js-chatbot/genkit-app/package-lock.json
  samples/js-chatbot/genkit-app/package.json
  samples/js-chatbot/server/package-lock.json
  samples/js-chatbot/server/package.json
  samples/js-coffee-shop/package-lock.json
  samples/js-coffee-shop/package.json
  samples/js-menu/package-lock.json
  samples/js-menu/package.json
  samples/js-prompts/package-lock.json
  samples/js-prompts/package.json
  samples/js-schoolAgent/package-lock.json
  samples/js-schoolAgent/package.json
Labels: js, config, sample

#1864 chore(js): bump dotprompt version in the lock file
  js/ai/package.json
  js/core/package.json
  js/plugins/evaluators/package.json
  js/pnpm-lock.yaml
Labels: js, config

#1887 fix: be more specific about Vertex project id in auth
  docs/plugins/vertex-ai.md
Labels: docs, ci

#1885 fix: graceful handling of model input conversion
  genkit-tools/common/src/eval/validate.ts
  genkit-tools/common/src/utils/eval.ts
Labels: js, tooling

#1876 feat(go): add gemini-2.0 models to vertexAI and googleAI plugins
  go/ai/gen.go
  go/plugins/dotprompt/dotprompt.go
  go/plugins/dotprompt/genkit.go
  go/plugins/googleai/googleai.go
  go/plugins/internal/gemini/gemini.go
  go/plugins/vertexai/vertexai.go
  go/samples/coffee-shop/main.go
  go/samples/menu/main.go
  go/samples/menu/s01.go
  go/samples/menu/s02.go
  go/samples/menu/s03.go
  go/samples/menu/s04.go
  go/samples/menu/s05.go
Labels: go, dotprompt

#1878 docs: minor editorial revisions to context.md
  docs/context.md
Labels: docs

#1893 chore(js/genkit): make beta export a superset of stable instead of diff
  js/genkit/src/beta.ts
  js/genkit/src/common.ts
  js/genkit/src/genkit-beta.ts
  js/genkit/src/genkit.ts
  js/genkit/src/index.ts
Labels: js

#1899 chore(js): manually bump to 1.0.3, so next auto-bump goes to 1.0.4
  genkit-tools/cli/package.json
  genkit-tools/common/package.json
  genkit-tools/telemetry-server/package.json
  js/core/package.json
  js/genkit/package.json
  js/plugins/checks/package.json
  js/plugins/chroma/package.json
  js/plugins/dev-local-vectorstore/package.json
  js/plugins/express/package.json
  js/plugins/firebase/package.json
  js/plugins/google-cloud/package.json
  js/plugins/googleai/package.json
  js/plugins/langchain/package.json
  js/plugins/mcp/package.json
  js/plugins/next/package.json
  js/plugins/ollama/package.json
  js/plugins/pinecone/package.json
  js/plugins/vertexai/package.json
Labels: js, tooling, config

#1898 docs: migration guide add onCallGenkit auth
  docs/migrating-from-0.9.md
Labels: docs

#1896 docs: add Embed breaking changes to 0.9 migration guide
  docs/migrating-from-0.9.md
Labels: docs

#1897 docs(js): Adds an API Stability guide.
  docs/api-stability.md
Labels: docs

#1894 Chris final docs nits
  docs/index.md
  docs/migrating-from-0.9.md
  docs/nextjs.md
Labels: docs

#1723 chore: update to 1.0 syntax
  samples/js-character-generator/index.ts
  samples/js-character-generator/package-lock.json
  samples/js-character-generator/package.json
Labels: js, config, sample

#1900 chore: update samples to 1.0.4
  samples/js-angular/genkit-app/package-lock.json
  samples/js-angular/genkit-app/package.json
  samples/js-angular/server/package-lock.json
  samples/js-angular/server/package.json
  samples/js-chatbot/genkit-app/package-lock.json
  samples/js-chatbot/genkit-app/package.json
  samples/js-chatbot/genkit-app/tsconfig.json
  samples/js-chatbot/server/package-lock.json
  samples/js-chatbot/server/package.json
  samples/js-coffee-shop/package-lock.json
  samples/js-coffee-shop/package.json
  samples/js-menu/package-lock.json
  samples/js-menu/package.json
  samples/js-prompts/package-lock.json
  samples/js-prompts/package.json
  samples/js-schoolAgent/package-lock.json
  samples/js-schoolAgent/package.json
Labels: js, config, sample

#1818 feat(go): Added `/util/generate` + filled feature gaps in Generate API.
  genkit-tools/common/src/types/model.ts
  genkit-tools/genkit-schema.json
  go/ai/action_test.go
  go/ai/document.go
  go/ai/gen.go
  go/ai/generate.go
  go/ai/generator_test.go
  go/ai/tools.go
  go/core/action.go
  go/core/schemas.config
  go/genkit/genkit.go
  go/go.mod
  go/internal/atype/atype.go
  go/internal/base/validation.go
  go/internal/doc-snippets/models.go
  go/internal/doc-snippets/prompts.go
  go/plugins/dotprompt/dotprompt.go
  go/plugins/dotprompt/dotprompt_test.go
  go/plugins/dotprompt/genkit.go
  go/plugins/googleai/googleai.go
  go/plugins/googleai/googleai_test.go
  go/plugins/ollama/ollama_live_test.go
  go/plugins/vertexai/vertexai.go
  go/plugins/vertexai/vertexai_test.go
  go/samples/menu/s02.go
  go/samples/menu/s03.go
Labels: docs, js, go, tooling, dotprompt, config, sample, root

#1820 Get Python code closer to PEP 8 standard
  .gitignore
  py/__init__.py
  py/packages/genkit/src/genkit/ai/model.py
  py/packages/genkit/src/genkit/ai/prompt.py
  py/packages/genkit/src/genkit/core/action.py
  py/packages/genkit/src/genkit/core/reflection.py
  py/packages/genkit/src/genkit/core/registry.py
  py/packages/genkit/src/genkit/core/schemas.py
  py/packages/genkit/src/genkit/core/tracing.py
  py/packages/genkit/src/genkit/veneer/__init__.py
  py/packages/genkit/src/genkit/veneer/veneer.py
  py/plugins/vertex-ai/src/__init__.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/__init__.py
  py/samples/hello/hello.py
Labels: docs, tooling, python, config, sample, root

#1916 docs: fix list in migration docs
  docs/migrating-from-0.9.md
Labels: docs, fix

#1922 docs: Post-GA backports from DevSite repo
  docs/auth.md
  docs/index.md
  docs/migrating-from-0.5.md
  docs/migrating-from-0.9.md
Labels: docs

#1925 docs: fix typedoc.json for firebase plugin to include all modules
  js/plugins/firebase/typedoc.json
Labels: js, config, fix

#1929 docs: update title of migrating-from-0.5.md
  docs/migrating-from-0.5.md
Labels: docs

#1869 fix(js/plugins/google-cloud): Make metric export time intervals mutually exclusive
  js/plugins/google-cloud/src/gcpOpenTelemetry.ts
  js/pnpm-lock.yaml
  js/testapps/dev-ui-gallery/package.json
  js/testapps/dev-ui-gallery/src/genkit.ts
Labels: js, config

#1911 fix(go/plugins/googleai): convertTools err propagate and schema type integer
  go/plugins/googleai/googleai.go
  go/plugins/googleai/googleai_test.go
Labels: go, fix

#1937 fix(js/vertexai): workaround for tool calling issue in Vertex SDK
  js/plugins/vertexai/src/gemini.ts
Labels: js, fix

#1939 chore(docs): added GA to js api ref
  js/typedoc-ga.mjs
  js/typedoc.json
Labels: js, config

#1908 docs(observability): introduce observing ai workflows documentation
  docs/_guides.yaml
  docs/deploy-node.md
  docs/local-observability.md
  docs/monitoring.md
  docs/observability/getting-started.md
  docs/observability/troubleshooting.md
  docs/plugins/google-cloud.md
  js/plugins/firebase/README.md
Labels: docs, js, config

#1909 docs: fix a line break that turned into a bullet point
  docs/plugins/firebase.md
Labels: docs, fix

#1920 feat(js/ai/googleai): added gemini-2.0-pro-exp-02-05
  js/plugins/googleai/src/gemini.ts
  js/plugins/googleai/src/index.ts
Labels: js

#1892 feat(python): Adding support for pre-commit linter and formatter based on ruff
  .prettierignore
  py/bin/sanitize_schemas.py
  py/captainhook.json
  py/packages/genkit/src/genkit/ai/model.py
  py/packages/genkit/src/genkit/ai/prompt.py
  py/packages/genkit/src/genkit/core/action.py
  py/packages/genkit/src/genkit/core/reflection.py
  py/packages/genkit/src/genkit/core/registry.py
  py/packages/genkit/src/genkit/core/schemas.py
  py/packages/genkit/src/genkit/core/tracing.py
  py/packages/genkit/src/genkit/veneer/__init__.py
  py/packages/genkit/src/genkit/veneer/veneer.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/__init__.py
  py/pyproject.toml
  py/samples/hello/hello.py
  py/uv.lock
Labels: docs, feature, js, go, tooling, python, handlebarz, dotprompt, config, sample, root

#1903 docs(js/plugins/google-cloud): API reference docs
  js/plugins/firebase/src/index.ts
  js/plugins/google-cloud/src/index.ts
  js/plugins/google-cloud/src/types.ts
Labels: js

#1964 fix(go): fix go test cases
  go/go.mod
  go/go.sum
  go/plugins/firebase/firebase.go
  go/plugins/firebase/firebase_init_test.go
  go/plugins/firebase/retriever.go
  go/plugins/firebase/retriever_test.go
  go/plugins/localvec/localvec.go
  go/samples/firebase-auth/main.go
  go/samples/firebase-retrievers/main.go
Labels: go, fix

#1918 docs: Updated user-facing docs and samples to use Gemini 2.0 and `async function...` syntax
  docs/chat.md
  docs/get-started.md
  js/doc-snippets/src/index.ts
  js/doc-snippets/src/models/imagen.ts
  js/doc-snippets/src/models/minimal.ts
  js/plugins/dev-local-vectorstore/README.md
  js/plugins/ollama/README.md
Labels: docs, js

#1951 fix(cli): fix genkit start in no runtime mode
  genkit-tools/cli/src/commands/start.ts
Labels: js, tooling, fix

#1970 docs: Resolves delta between GH and google3 for Observability docs.
  docs/_guides.yaml
  docs/cloud-run.md
  docs/deploy-node.md
  docs/local-observability.md
  docs/observability/getting-started.md
  docs/observability/troubleshooting.md
  docs/plugins/google-cloud.md
Labels: docs, config

#1990 docs: Resolves deltas between internal and GH docs
  docs/_guides.yaml
  docs/auth.md
  docs/chat.md
  docs/cloud-run.md
  docs/index.md
  docs/interrupts.md
  docs/local-observability.md
  docs/multi-agent.md
Labels: docs, config

#1993 docs: Fixes typo in api-stability.md
  docs/api-stability.md
Labels: docs

#1961 (docs) update codelab for Genkit 1.0
  docs/codelabs/codelab-chat-with-a-pdf.md
Labels: docs

#1950 feat(py): Refactored Plugins API to follow generic `Plugin` interface.
  py/packages/genkit/src/genkit/core/plugin_abc.py
  py/packages/genkit/src/genkit/veneer/veneer.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/__init__.py
  py/samples/hello/hello.py
Labels: feature, python

#1962 feat(js/ai): allow disabling native constrained generation and enabling custom instruction
  js/ai/src/formats/json.ts
  js/ai/src/formats/types.ts
  js/ai/src/generate.ts
  js/ai/src/generate/action.ts
  js/ai/src/model.ts
  js/ai/tests/model/middleware_test.ts
  js/core/src/action.ts
  js/core/src/error.ts
  js/genkit/src/registry.ts
  js/genkit/tests/formats_test.ts
  js/genkit/tests/prompts_test.ts
  js/testapps/flow-simple-ai/src/index.ts
  js/testapps/format-tester/src/index.ts
Labels: js

#2018 docs(js): a few random typedoc fixes
  js/genkit/src/client/client.ts
  js/genkit/src/client/index.ts
  js/genkit/src/genkit.ts
Labels: js

#2027 fix(js/plugins): fixed gemini tool schema converter to correctly handle descriptions, enums and nullable fields
  js/plugins/googleai/src/gemini.ts
  js/plugins/googleai/tests/gemini_test.ts
  js/plugins/vertexai/src/gemini.ts
  js/plugins/vertexai/tests/gemini_test.ts
  js/testapps/flow-simple-ai/src/index.ts
Labels: js, fix

#1944 fix(js/ai): swap out config as part of prompt/agent transfer
  js/ai/src/generate.ts
  js/ai/src/generate/action.ts
  js/ai/src/prompt.ts
  js/core/src/reflection.ts
  js/genkit/tests/chat_test.ts
  js/genkit/tests/prompts_test.ts
Labels: js, fix

#2023 feat(js/plugins): added `experimental_debugTraces` option to googleai and vertexai plugins
  js/plugins/googleai/src/gemini.ts
  js/plugins/googleai/src/index.ts
  js/plugins/vertexai/src/common/types.ts
  js/plugins/vertexai/src/gemini.ts
  js/plugins/vertexai/src/index.ts
  js/testapps/context-caching/src/index.ts
  js/testapps/flow-simple-ai/src/index.ts
Labels: js

#1907 fix(js/plugins/google-cloud): pass projectId through to GoogleAuth client
  js/plugins/google-cloud/src/gcpLogger.ts
  js/plugins/google-cloud/src/gcpOpenTelemetry.ts
Labels: js, fix

#2031 fix: remove extraneous line
  js/plugins/evaluators/src/index.ts
Labels: js

#2032 feat(go): add gemini-2.0-pro-exp-02-05
  go/plugins/googleai/googleai.go
Labels: go

#2033 fix(js/plugins/google-cloud): allow user specified otel instrumentations
  js/plugins/google-cloud/src/gcpOpenTelemetry.ts
Labels: js

#2037 docs(observability): Fix MD linting
  docs/observability/advanced-configuration.md
  docs/observability/authentication.md
  docs/observability/getting-started.md
  docs/observability/telemetry-collection.md
  docs/observability/troubleshooting.md
  docs/plugins/firebase.md
Labels: docs

#2014 feat(py): Core VertexAI plugin
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/__init__.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/constants.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/gemini.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/plugin_api.py
  py/samples/hello/README.md
  py/samples/hello/src/hello.py
Labels: docs, python, root

#2043 docs(observability): More linting fixes for line length
  docs/observability/advanced-configuration.md
  docs/observability/authentication.md
  docs/observability/getting-started.md
  docs/observability/telemetry-collection.md
  docs/observability/troubleshooting.md
  docs/plugins/firebase.md
Labels: docs

#2029 feat(py): refactoring a Plugin abstraction
  py/packages/genkit/src/genkit/core/plugin_abc.py
  py/packages/genkit/src/genkit/veneer/veneer.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/plugin_api.py
  py/samples/hello/src/hello.py
Labels: python

#2060 fix(js/testapps/dev-ui-gallery): Fixed greet sample
  js/testapps/dev-ui-gallery/src/genkit.ts
  js/testapps/dev-ui-gallery/src/main/flows-firebase-functions.ts
Labels: js

#2057 fix(js/ai/src/prompt): Add variant name in prompt metadata
  js/ai/src/prompt.ts
Labels: js

#2038 docs(contribution): update contribution guide to include GO
  CONTRIBUTING.md
Labels: docs, root

#2062 chore: cleanup unused /api/sse tooling endpoint
  genkit-tools/common/src/server/server.ts
Labels: js, tooling

#2068 feat(py/core/action): added support for async actions (and flows) and streaming
  py/packages/genkit/src/genkit/core/action.py
  py/packages/genkit/src/genkit/core/action_test.py
  py/packages/genkit/src/genkit/core/reflection.py
  py/packages/genkit/src/genkit/core/registry_test.py
  py/packages/genkit/src/genkit/core/utils.py
  py/packages/genkit/src/genkit/veneer/server.py
  py/packages/genkit/src/genkit/veneer/veneer.py
  py/samples/hello/src/hello.py
Labels: python

#2051 fix(js/testapps/flow-sample1): correct flow execution comment for streamyThrowy
  js/testapps/flow-sample1/src/index.ts
Labels: js, fix

#2052 fix(js/testapps/docs-menu-rag): resolve circular dependency by moving ai to genkit.ts
  js/testapps/docs-menu-rag/src/genkit.ts
  js/testapps/docs-menu-rag/src/index.ts
  js/testapps/docs-menu-rag/src/indexer.ts
  js/testapps/docs-menu-rag/src/menuQA.ts
Labels: js, fix

#2071 fix(js/plugins/google-cloud) don't truncate stopSequences
  js/plugins/google-cloud/src/telemetry/generate.ts
Labels: js, fix

#2040 feat(py): Add Embeddings and test on VertexAI
  py/packages/genkit/src/genkit/ai/embedding.py
  py/packages/genkit/src/genkit/veneer/veneer.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/__init__.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/embedding.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/gemini.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/plugin_api.py
  py/samples/hello/src/hello.py
Labels: python

#1942 fix: add FirebaseTelemetryOptions
  js/plugins/firebase/src/index.ts
Labels: js

#2070 fix: add usage stats for streaming results
  js/plugins/googleai/src/gemini.ts
  js/plugins/vertexai/src/gemini.ts
Labels: js

#2161 docs(observability): Backport docs changes to Github
  docs/observability/advanced-configuration.md
  docs/observability/authentication.md
  docs/observability/getting-started.md
  docs/observability/telemetry-collection.md
  docs/observability/troubleshooting.md
  docs/plugins/firebase.md
Labels: docs

#2166 feat(py): started generate action with basic tools calling
  genkit-tools/common/src/types/model.ts
  genkit-tools/genkit-schema.json
  py/packages/genkit/src/genkit/ai/generate.py
  py/packages/genkit/src/genkit/ai/generate_test.py
  py/packages/genkit/src/genkit/ai/model.py
  py/packages/genkit/src/genkit/core/action.py
  py/packages/genkit/src/genkit/core/codec.py
  py/packages/genkit/src/genkit/core/registry.py
  py/packages/genkit/src/genkit/core/typing.py
  py/packages/genkit/src/genkit/veneer/veneer.py
  py/samples/hello/src/hello.py
Labels: js, tooling, python

#1956 refactor(go): Refactored `Flow`, context providers, and server definition.
  go/core/action.go
  go/core/context.go
  go/core/file_flow_state_store.go
  go/core/flow.go
  go/core/flow_state_store.go
  go/core/flow_test.go
  go/genkit/conformance_test.go
  go/genkit/flow.go
  go/genkit/flow_test.go
  go/genkit/gen.go
  go/genkit/genkit.go
  go/genkit/genkit_test.go
  go/genkit/reflection.go
  go/genkit/reflection_test.go
  go/genkit/servers.go
  go/genkit/servers_test.go
  go/go.mod
  go/internal/action/action.go
  go/internal/base/misc.go
  go/internal/doc-snippets/dotprompt.go
  go/internal/doc-snippets/flows.go
  go/internal/doc-snippets/gcp.go
  go/internal/doc-snippets/googleai.go
  go/internal/doc-snippets/init/main.go
  go/internal/doc-snippets/modelplugin/modelplugin.go
  go/internal/doc-snippets/models.go
  go/internal/doc-snippets/ollama.go
  go/internal/doc-snippets/pinecone.go
  go/internal/doc-snippets/prompts.go
  go/internal/doc-snippets/rag/main.go
  go/internal/doc-snippets/telemetryplugin/telemetryplugin.go
  go/internal/doc-snippets/vertexai.go
  go/internal/registry/registry.go
  go/plugins/dotprompt/dotprompt.go
  go/plugins/dotprompt/dotprompt_test.go
  go/plugins/dotprompt/genkit_test.go
  go/plugins/dotprompt/render_test.go
  go/plugins/firebase/auth.go
  go/plugins/firebase/auth_test.go
  go/plugins/firebase/firebase_init_test.go
  go/plugins/firebase/retriever_test.go
  go/plugins/googleai/googleai_test.go
  go/plugins/localvec/localvec_test.go
  go/plugins/ollama/ollama_live_test.go
  go/plugins/pinecone/genkit_test.go
  go/plugins/server/server.go
  go/plugins/vertexai/vertexai_test.go
  go/plugins/weaviate/weaviate_test.go
  go/samples/basic-gemini/main.go
  go/samples/coffee-shop/main.go
  go/samples/firebase-auth/main.go
  go/samples/firebase-retrievers/main.go
  go/samples/flow-sample1/main.go
  go/samples/menu/main.go
  go/samples/pgvector/main.go
  go/samples/rag/main.go
  go/tests/api_test.go
  go/tests/test_app/main.go
Labels: go, dotprompt

#2187 fix(go): Fixed `nil` options on `Generate()` calls in samples.
  go/internal/doc-snippets/dotprompt.go
  go/plugins/googleai/googleai.go
  go/plugins/vertexai/vertexai.go
  go/samples/basic-gemini/main.go
  go/samples/coffee-shop/main.go
  go/samples/menu/s02.go
  go/samples/menu/s04.go
  go/samples/rag/main.go
Labels: go, fix

#2174 refactor(go): Removed exposure to internal action interface.
  go/ai/embedder.go
  go/ai/generate.go
  go/ai/prompt.go
  go/ai/retriever.go
  go/ai/tools.go
  go/core/action.go
  go/core/flow.go
  go/genkit/genkit.go
  go/genkit/servers.go
Labels: go

#2179 feat(py/ai/generate): implemented basic veneer for the generate action
  py/packages/genkit/src/genkit/ai/generate_test.py
  py/packages/genkit/src/genkit/ai/testing_utils.py
  py/packages/genkit/src/genkit/core/codec.py
  py/packages/genkit/src/genkit/core/schema.py
  py/packages/genkit/src/genkit/veneer/veneer.py
  py/packages/genkit/src/genkit/veneer/veneer_test.py
Labels: python

#1949 feat(go): Added generate-level middleware.
  go/ai/action_test.go
  go/ai/gen.go
  go/ai/generate.go
  go/ai/generator_test.go
  go/ai/model_middleware.go
  go/ai/model_middleware_test.go
  go/core/action.go
  go/core/middleware.go
  go/core/schemas.config
  go/genkit/genkit.go
  go/internal/doc-snippets/modelplugin/modelplugin.go
  go/internal/doc-snippets/prompts.go
  go/plugins/dotprompt/genkit.go
  go/plugins/dotprompt/genkit_test.go
  go/plugins/ollama/ollama_live_test.go
Labels: go, dotprompt

#2192 feat(py/core): added dynamic action resolution to plugin interface
  py/packages/genkit/src/genkit/ai/model.py
  py/packages/genkit/src/genkit/core/action.py
  py/packages/genkit/src/genkit/core/plugin_abc.py
  py/packages/genkit/src/genkit/core/registry.py
  py/packages/genkit/src/genkit/veneer/plugin.py
  py/packages/genkit/src/genkit/veneer/registry.py
  py/packages/genkit/src/genkit/veneer/veneer.py
  py/packages/genkit/tests/genkit/core/action_test.py
  py/packages/genkit/tests/genkit/core/registry_test.py
  py/plugins/ollama/src/genkit/plugins/ollama/plugin_api.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/plugin_api.py
Labels: js, python

#2200 refactor: remove the location description of banana
  js/plugins/vertexai/src/gemini.ts
Labels: js

#2202 chore(js): added force flag to genversion to overwrite generated files
  genkit-tools/cli/package.json
  js/core/package.json
Labels: js, tooling, config

#2206 sample: migrated js-angular samples to use Google AI instead of Vertex AI for easier set up
  samples/js-angular/README.md
  samples/js-angular/server/package-lock.json
  samples/js-angular/server/package.json
  samples/js-angular/server/src/chatbot.ts
  samples/js-angular/server/src/genkit.ts
  samples/js-angular/server/src/jsonStreaming.ts
Labels: docs, js, config, sample
