Repository firebase/genkit, pull requests merged in 2025-09, with the labels that each got.

#3492 refactor(go): moved common types to own package to make registry strongly typed
  go/ai/action_test.go
  go/ai/embedder.go
  go/ai/evaluator.go
  go/ai/formatter.go
  go/ai/generate.go
  go/ai/option.go
  go/ai/prompt.go
  go/ai/prompt_test.go
  go/ai/resource.go
  go/ai/retriever.go
  go/ai/tools.go
  go/core/action.go
  go/core/action_test.go
  go/core/api/action.go
  go/core/api/environment.go
  go/core/api/plugin.go
  go/core/api/registry.go
  go/core/api/utils.go
  go/core/flow.go
  go/genkit/genkit.go
  go/genkit/reflection.go
  go/genkit/reflection_test.go
  go/genkit/servers.go
  go/internal/cmd/jsonschemagen/jsonschemagen.go
  go/internal/cmd/weave/weave.go
  go/internal/registry/registry.go
  go/plugins/alloydb/distance_strategy.go
  go/plugins/alloydb/genkit.go
  go/plugins/alloydb/mocks_test.go
  go/plugins/compat_oai/anthropic/anthropic.go
  go/plugins/compat_oai/compat_oai.go
  go/plugins/compat_oai/generate.go
  go/plugins/compat_oai/openai/openai.go
  go/plugins/evaluators/evaluators.go
  go/plugins/firebase/firebase.go
  go/plugins/firebase/retriever.go
  go/plugins/firebase/retriever_test.go
  go/plugins/googlecloud/googlecloud.go
  go/plugins/googlegenai/gemini.go
  go/plugins/googlegenai/googlegenai.go
  go/plugins/localvec/localvec.go
  go/plugins/ollama/embed.go
  go/plugins/ollama/ollama.go
  go/plugins/ollama/ollama_test.go
  go/plugins/pinecone/genkit.go
  go/plugins/postgresql/distance_strategy.go
  go/plugins/postgresql/genkit.go
  go/plugins/postgresql/mocks_test.go
  go/plugins/vertexai/modelgarden/anthropic.go
  go/plugins/weaviate/weaviate.go
  go/samples/basic-gemini/main.go
  go/samples/pgvector/main.go
  go/samples/prompts/main.go
  go/samples/rag/main.go
Labels: go

#3498 chore(go): fixed godocs
  go/genkit/genkit.go
Labels: go

#3264 feat(go): update telemetry for compatibility with Firebase AIM
  go/ai/action_test.go
  go/ai/document.go
  go/ai/evaluator.go
  go/ai/generate.go
  go/ai/generate_test.go
  go/core/action.go
  go/core/error.go
  go/core/flow.go
  go/core/tracing/telemetry_server_exporter.go
  go/core/tracing/telemetry_server_exporter_test.go
  go/core/tracing/testdata/trace.json
  go/core/tracing/tracing.go
  go/core/tracing/tracing_test.go
  go/genkit/reflection.go
  go/genkit/testdata/conformance/basic.json
  go/genkit/testdata/conformance/run-1.json
  go/plugins/firebase/telemetry.go
  go/plugins/firebase/telemetry_test.go
  go/plugins/googlecloud/action.go
  go/plugins/googlecloud/action_test.go
  go/plugins/googlecloud/auth.go
  go/plugins/googlecloud/engagement.go
  go/plugins/googlecloud/engagement_test.go
  go/plugins/googlecloud/feature.go
  go/plugins/googlecloud/feature_test.go
  go/plugins/googlecloud/generate.go
  go/plugins/googlecloud/generate_test.go
  go/plugins/googlecloud/googlecloud.go
  go/plugins/googlecloud/googlecloud_test.go
  go/plugins/googlecloud/metrics.go
  go/plugins/googlecloud/path.go
  go/plugins/googlecloud/path_test.go
  go/plugins/googlecloud/slog_handler.go
  go/plugins/googlecloud/slog_handler_test.go
  go/plugins/googlecloud/types.go
  go/plugins/googlecloud/utils.go
  go/plugins/googlegenai/googlegenai.go
  go/samples/telemetry-test/README.md
  go/samples/telemetry-test/kitchen_sink/go.mod
  go/samples/telemetry-test/kitchen_sink/go.sum
  go/samples/telemetry-test/kitchen_sink/kitchen_sink.go
  go/samples/telemetry-test/simple/go.mod
  go/samples/telemetry-test/simple/go.sum
  go/samples/telemetry-test/simple/simple_joke.go
Labels: docs, go, config

#3509 docs(go): created GENKIT_GO.md
  genkit-tools/cli/context/GENKIT_GO.md
Labels: docs, tooling

#3510 feat(genkit-tools/cli/init:ai-tools): Support Golang context
  genkit-tools/cli/context/GENKIT.go.md
  genkit-tools/cli/context/GENKIT.js.md
  genkit-tools/cli/src/commands/init-ai-tools/ai-tools/claude.ts
  genkit-tools/cli/src/commands/init-ai-tools/ai-tools/cursor.ts
  genkit-tools/cli/src/commands/init-ai-tools/ai-tools/gemini.ts
  genkit-tools/cli/src/commands/init-ai-tools/ai-tools/generic.ts
  genkit-tools/cli/src/commands/init-ai-tools/ai-tools/studio.ts
  genkit-tools/cli/src/commands/init-ai-tools/command.ts
  genkit-tools/cli/src/commands/init-ai-tools/types.ts
  genkit-tools/cli/src/commands/init-ai-tools/utils.ts
Labels: docs, js, tooling

#3524 feat(go): Fix missing input schema from dynamic tools
  go/ai/tools.go
  go/plugins/mcp/tools.go
  go/plugins/mcp/tools_test.go
  go/samples/mcp-ception/mcp_ception.go
  go/samples/mcp-client/main.go
Labels: go, fix

#3527 chore(go): update version
  go/internal/version.go
Labels: go

#3505 fix(go/ai/options): update commonGenOptions apply opts
  go/ai/option.go
Labels: go, fix

#3530 fix(cli/init:ai-tools): remove npx from mcp command
  genkit-tools/cli/src/commands/init-ai-tools/ai-tools/claude.ts
  genkit-tools/cli/src/commands/init-ai-tools/ai-tools/cursor.ts
  genkit-tools/cli/src/commands/init-ai-tools/ai-tools/gemini.ts
  genkit-tools/cli/src/commands/init-ai-tools/context/nodejs.ts
Labels: js, tooling

#3535 chore(go): fix e2e tests
  go/tests/api_test.go
  tests/specs/reflection_api.yaml
Labels: go, config, fix, test

#3565 fix(go/ai): added handling for `WithMessages()` in `Prompt.Execute()`
  go/ai/prompt.go
  go/ai/prompt_test.go
Labels: go

#3549 feat(go): Added convenience `Interrupts()` method.
  go/ai/document.go
  go/ai/generate.go
Labels: go

#3548 fix(go): fixes to AIM telemetry
  go/ai/generate.go
  go/plugins/firebase/telemetry.go
  go/plugins/googlecloud/action.go
  go/plugins/googlecloud/engagement_test.go
  go/plugins/googlecloud/generate.go
  go/plugins/googlecloud/googlecloud.go
  go/plugins/googlecloud/types.go
  go/plugins/vertexai/modelgarden/anthropic.go
Labels: go, fix

#3577 fix(go): Display clear error message when logger fails
  go/plugins/googlecloud/googlecloud.go
  go/plugins/googlecloud/slog_handler.go
  go/plugins/googlecloud/utils.go
Labels: go

#3586 fix(genkit-tools/cli/init:ai-tools): Autogen for context imports
  .gitignore
  genkit-tools/cli/context/GENKIT.go.md
  genkit-tools/cli/context/GENKIT.js.md
  genkit-tools/cli/src/commands/init-ai-tools/context/go.ts
  genkit-tools/cli/src/commands/init-ai-tools/context/nodejs.ts
  genkit-tools/package.json
  genkit-tools/scripts/build-md.js
Labels: docs, js, tooling, config, root

#3536 (fix/go/compat_oai): update OpenAI message transformation
  go/plugins/compat_oai/generate.go
Labels: go, fix

#3597 fix(go/plugins/compat_oai): check `ANTHROPIC_API_KEY` during plugin init
  go/plugins/compat_oai/anthropic/anthropic.go
Labels: go

#3599 fix(go): handle concurrent calls to `Registry.ResolveAction()`
  go/internal/registry/registry.go
Labels: go

#3601 fix(go/ai): handle tools passed in `Prompt.Execute()`
  go/ai/generate.go
  go/ai/prompt.go
  go/ai/prompt_test.go
  go/ai/tools.go
Labels: go

#3614 chore: Adds `.guides` folders to a few Genkit packages
  js/genkit/.guides/config.json
  js/genkit/.guides/setup.md
  js/genkit/.guides/style.md
  js/genkit/.guides/usage.md
  js/plugins/express/.guides/usage.md
  js/plugins/google-genai/.guides/docs/editing-images.prompt
  js/plugins/google-genai/.guides/docs/generating-speech.prompt
  js/plugins/google-genai/.guides/docs/search-and-urls.prompt
  js/plugins/next/.guides/usage.prompt
  js/plugins/next/README.md
  js/testapps/next/package.json
Labels: docs, js, config

#3607 feat(genkit-tools/mcp): Add new MCP tool to fetch usage guide
  genkit-tools/cli/src/mcp/server.ts
  genkit-tools/cli/src/mcp/usage.ts
Labels: js, tooling

#3595 fix(cli/init-ai-tools): remove Gemini CLI extension installation
  genkit-tools/cli/src/commands/init-ai-tools/ai-tools/gemini.ts
  genkit-tools/cli/src/mcp/server.ts
  genkit-tools/cli/src/mcp/usage.ts
Labels: js, tooling, fix

#3631 fix(go/internal): discover actions and plugins in parent registry
  go/internal/registry/registry.go
Labels: go, fix

#3617 fix(go/plugins/compat_oai): add support for custom providers
  go/plugins/compat_oai/README.md
  go/plugins/compat_oai/compat_oai.go
  go/plugins/compat_oai/generate.go
  go/samples/compat_oai/custom/main.go
Labels: docs, go, fix

#3638 fix(go): add Go MCP PR explainer example and safeguard Gemini
  go/plugins/googlegenai/gemini.go
  go/samples/mcp-git-pr-explainer/README.md
  go/samples/mcp-git-pr-explainer/go.mod
  go/samples/mcp-git-pr-explainer/go.sum
  go/samples/mcp-git-pr-explainer/main.go
Labels: docs, go, fix
