Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

refactor(ai): simplify tool middleware and prompt handling logic
  js/ai/src/generate/middleware.ts
  js/ai/src/generate/resolve-tool-requests.ts
  js/ai/tests/generate/middleware_test.ts
Owners: @pavelgj

go fmt
  go/plugins/mcp/client.go
Owners: @apascal07

fix(flask): remove self-referencing dependency
  py/plugins/flask/pyproject.toml
Owners: @pavelgj, @yesudeep

fix(flask): remove self-referencing dependency using releasekit
  py/plugins/flask/pyproject.toml
  py/uv.lock
Owners: @pavelgj, @yesudeep

feat(releasekit): add `check` command with 10 workspace health checks
  py/tools/releasekit/src/releasekit/checks.py
  py/tools/releasekit/src/releasekit/cli.py
  py/tools/releasekit/src/releasekit/preflight.py
Owners: @pavelgj, @yesudeep

docs(releasekit): update roadmap with current status and Phase 4b plan
  py/tools/releasekit/roadmap.md
Owners: @pavelgj

fix(py/plugins/flask): remove self-referencing cyclical dependency using releasekit (#4561)
  py/plugins/flask/pyproject.toml
  py/uv.lock
Owners: @pavelgj, @yesudeep

refactor(releasekit): introduce CheckBackend protocol for extensible checks
  py/tools/releasekit/roadmap.md
  py/tools/releasekit/src/releasekit/checks.py
Owners: @pavelgj, @yesudeep

fix(py): remove changes in action.js
  genkit-tools/common/src/types/action.ts
Owners: @pavelgj

feat(releasekit): replace check-cycles with comprehensive check command (#4563)
  py/tools/releasekit/roadmap.md
  py/tools/releasekit/src/releasekit/checks.py
  py/tools/releasekit/src/releasekit/cli.py
  py/tools/releasekit/src/releasekit/preflight.py
Owners: @pavelgj, @yesudeep

fix(py): migrate default embedding model to gemini-embedding-001 (#4557)
  py/engdoc/parity-analysis/plugin_api_consistency.md
  py/plugins/dev-local-vectorstore/src/genkit/plugins/dev_local_vectorstore/plugin_api.py
  py/plugins/firebase/src/genkit/plugins/firebase/firestore.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/google-genai/test/google_plugin_test.py
  py/plugins/google-genai/tests/google_genai_plugin_test.py
  py/plugins/google-genai/tests/rerankers_test.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/vector_search.py
  py/samples/dev-local-vectorstore-hello/src/main.py
  py/samples/framework-evaluator-demo/evaluator_demo/pdf_rag.py
  py/samples/provider-firestore-retriever/src/main.py
  py/samples/provider-google-genai-vertexai-hello/src/main.py
  py/samples/provider-vertex-ai-vector-search-bigquery/src/main.py
  py/samples/provider-vertex-ai-vector-search-bigquery/src/setup_env.py
  py/samples/provider-vertex-ai-vector-search-firestore/src/main.py
  py/samples/web-short-n-long/src/main.py
Owners: @pavelgj, @yesudeep

feat(releasekit): Phase 4 hardening — checksum verification + preflight checks
  py/tools/releasekit/README.md
  py/tools/releasekit/roadmap.md
  py/tools/releasekit/src/releasekit/backends/registry.py
  py/tools/releasekit/src/releasekit/cli.py
  py/tools/releasekit/src/releasekit/preflight.py
  py/tools/releasekit/src/releasekit/publisher.py
  py/tools/releasekit/tests/backends/rk_checksum_test.py
Owners: @pavelgj, @yesudeep

feat(releasekit): Phase 4 hardening — checksum verification + preflight checks (#4564)
  py/tools/releasekit/README.md
  py/tools/releasekit/roadmap.md
  py/tools/releasekit/src/releasekit/backends/registry.py
  py/tools/releasekit/src/releasekit/cli.py
  py/tools/releasekit/src/releasekit/preflight.py
  py/tools/releasekit/src/releasekit/publisher.py
  py/tools/releasekit/tests/backends/rk_checksum_test.py
Owners: @pavelgj, @yesudeep

fix(py): fix with gemini
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/google-genai/tests/google_genai_plugin_test.py
Owners: @pavelgj, @yesudeep

fix(py): fix dotprompt deadlock
  py/packages/genkit/src/genkit/core/registry.py
Owners: @pavelgj, @yesudeep

feat(middleware): add image reading support to filesystem plugin
  js/plugins/middleware/examples/filesystem.ts
  js/plugins/middleware/package.json
  js/plugins/middleware/src/filesystem.ts
  js/plugins/middleware/tests/filesystem_image_test.ts
  js/plugins/middleware/tests/filesystem_test.ts
  js/pnpm-lock.yaml
Owners: @pavelgj

fix(py): fix with gemini
  py/packages/genkit/src/genkit/core/registry.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/google-genai/tests/google_genai_plugin_test.py
  py/pyproject.toml
Owners: @pavelgj, @yesudeep

feat(releasekit): add dependency-triggered scheduler with interactive controls
  py/tools/releasekit/CHANGELOG.md
  py/tools/releasekit/README.md
  py/tools/releasekit/roadmap.md
  py/tools/releasekit/src/releasekit/cli.py
  py/tools/releasekit/src/releasekit/observer.py
  py/tools/releasekit/src/releasekit/publisher.py
  py/tools/releasekit/src/releasekit/scheduler.py
  py/tools/releasekit/src/releasekit/ui.py
  py/tools/releasekit/tests/rk_scheduler_test.py
Owners: @pavelgj, @yesudeep

fix(py): resolve embedder output schema (#4554)
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/google-genai/tests/google_genai_plugin_test.py
  py/pyproject.toml
Owners: @pavelgj, @yesudeep

feat(releasekit): add dependency-triggered scheduler with interactive controls (#4565)
  py/tools/releasekit/CHANGELOG.md
  py/tools/releasekit/README.md
  py/tools/releasekit/roadmap.md
  py/tools/releasekit/src/releasekit/cli.py
  py/tools/releasekit/src/releasekit/observer.py
  py/tools/releasekit/src/releasekit/publisher.py
  py/tools/releasekit/src/releasekit/scheduler.py
  py/tools/releasekit/src/releasekit/ui.py
  py/tools/releasekit/tests/rk_scheduler_test.py
Owners: @pavelgj, @yesudeep

feat(releasekit): add dynamic scheduler with add_package and remove_package
  py/tools/releasekit/CHANGELOG.md
  py/tools/releasekit/roadmap.md
  py/tools/releasekit/src/releasekit/scheduler.py
  py/tools/releasekit/tests/rk_scheduler_test.py
Owners: @pavelgj, @yesudeep

feat(releasekit): add tags.py for git tag creation and GitHub Release management
  py/tools/releasekit/src/releasekit/tags.py
  py/tools/releasekit/tests/rk_tags_test.py
Owners: @pavelgj, @yesudeep

fix(js): migrated embeddg model
  js/plugins/dev-local-vectorstore/README.md
  js/plugins/google-genai/README.md
  js/plugins/google-genai/tests/vertexai/index_test.ts
  js/plugins/googleai/src/embedder.ts
  js/plugins/vertexai/src/embedder.ts
  js/testapps/dev-ui-gallery/src/genkit.ts
  js/testapps/docs-menu-rag/src/genkit.ts
  js/testapps/evals/src/genkit.ts
  js/testapps/flow-simple-ai/src/index.ts
  js/testapps/menu/src/genkit.ts
  js/testapps/rag/src/genkit.ts
  js/testapps/rag/src/pdf-rag-firebase.ts
Owners: @pavelgj

feat(releasekit): add dynamic scheduler with add_package and remove_package
  py/tools/releasekit/CHANGELOG.md
  py/tools/releasekit/roadmap.md
  py/tools/releasekit/src/releasekit/scheduler.py
  py/tools/releasekit/tests/rk_scheduler_test.py
Owners: @pavelgj, @yesudeep

feat(releasekit): add Phase 5 modules — tags, changelog, release notes, commitback
  py/tools/releasekit/src/releasekit/backends/vcs.py
  py/tools/releasekit/src/releasekit/changelog.py
  py/tools/releasekit/src/releasekit/commitback.py
  py/tools/releasekit/src/releasekit/release_notes.py
  py/tools/releasekit/src/releasekit/tags.py
  py/tools/releasekit/tests/rk_changelog_test.py
  py/tools/releasekit/tests/rk_commitback_test.py
  py/tools/releasekit/tests/rk_release_notes_test.py
  py/tools/releasekit/tests/rk_scheduler_test.py
  py/tools/releasekit/tests/rk_tags_test.py
Owners: @pavelgj, @yesudeep

fix(releasekit): fix lint, type, and formatting errors in test doubles
  py/tools/releasekit/src/releasekit/changelog.py
  py/tools/releasekit/src/releasekit/tags.py
  py/tools/releasekit/tests/rk_changelog_test.py
  py/tools/releasekit/tests/rk_commitback_test.py
  py/tools/releasekit/tests/rk_release_notes_test.py
  py/tools/releasekit/tests/rk_tags_test.py
  py/tools/releasekit/tests/rk_versioning_test.py
Owners: @pavelgj, @yesudeep

fix(releasekit): fix formatting in scheduler module
  py/tools/releasekit/src/releasekit/scheduler.py
  py/tools/releasekit/tests/rk_scheduler_test.py
Owners: @pavelgj, @yesudeep

fix(releasekit): fix formatting in scheduler module
  py/tools/releasekit/src/releasekit/scheduler.py
  py/tools/releasekit/tests/rk_scheduler_test.py
Owners: @pavelgj, @yesudeep

fix(py): add missing LICENSE file and license metadata to samples
  py/pyproject.toml
  py/samples/framework-evaluator-demo/pyproject.toml
  py/samples/provider-amazon-bedrock-hello/pyproject.toml
  py/samples/provider-anthropic-hello/pyproject.toml
  py/samples/provider-cloudflare-workers-ai-hello/pyproject.toml
  py/samples/provider-cohere-hello/LICENSE
  py/samples/provider-cohere-hello/pyproject.toml
  py/samples/provider-deepseek-hello/pyproject.toml
  py/samples/provider-google-genai-media-models-demo/pyproject.toml
  py/samples/provider-huggingface-hello/pyproject.toml
  py/samples/provider-mistral-hello/pyproject.toml
  py/samples/provider-xai-hello/pyproject.toml
  py/tools/releasekit/pyproject.toml
Owners: @pavelgj, @yesudeep

feat(releasekit): add Phase 5 modules — tags, changelog, release notes, commitback (#4570)
  py/tools/releasekit/CHANGELOG.md
  py/tools/releasekit/roadmap.md
  py/tools/releasekit/src/releasekit/backends/vcs.py
  py/tools/releasekit/src/releasekit/changelog.py
  py/tools/releasekit/src/releasekit/commitback.py
  py/tools/releasekit/src/releasekit/release_notes.py
  py/tools/releasekit/src/releasekit/scheduler.py
  py/tools/releasekit/src/releasekit/tags.py
  py/tools/releasekit/tests/rk_changelog_test.py
  py/tools/releasekit/tests/rk_commitback_test.py
  py/tools/releasekit/tests/rk_release_notes_test.py
  py/tools/releasekit/tests/rk_scheduler_test.py
  py/tools/releasekit/tests/rk_tags_test.py
  py/tools/releasekit/tests/rk_versioning_test.py
Owners: @pavelgj, @yesudeep

fix(py): add missing LICENSE file and license metadata to samples (#4571)
  py/pyproject.toml
  py/samples/framework-evaluator-demo/pyproject.toml
  py/samples/provider-amazon-bedrock-hello/pyproject.toml
  py/samples/provider-anthropic-hello/pyproject.toml
  py/samples/provider-cloudflare-workers-ai-hello/pyproject.toml
  py/samples/provider-cohere-hello/LICENSE
  py/samples/provider-cohere-hello/pyproject.toml
  py/samples/provider-deepseek-hello/pyproject.toml
  py/samples/provider-google-genai-media-models-demo/pyproject.toml
  py/samples/provider-huggingface-hello/pyproject.toml
  py/samples/provider-mistral-hello/pyproject.toml
  py/samples/provider-xai-hello/pyproject.toml
  py/tools/releasekit/pyproject.toml
Owners: @pavelgj, @yesudeep

feat(releasekit): Phase 6 UX polish — formatters, init, completion, diagnostics
  py/pyproject.toml
  py/tools/releasekit/README.md
  py/tools/releasekit/roadmap.md
  py/tools/releasekit/scripts/dump_diagnostics.py
  py/tools/releasekit/src/releasekit/cli.py
  py/tools/releasekit/src/releasekit/errors.py
  py/tools/releasekit/src/releasekit/formatters/__init__.py
  py/tools/releasekit/src/releasekit/formatters/ascii_art.py
  py/tools/releasekit/src/releasekit/formatters/csv_fmt.py
  py/tools/releasekit/src/releasekit/formatters/d2.py
  py/tools/releasekit/src/releasekit/formatters/dot.py
  py/tools/releasekit/src/releasekit/formatters/json_fmt.py
  py/tools/releasekit/src/releasekit/formatters/levels.py
  py/tools/releasekit/src/releasekit/formatters/mermaid.py
  py/tools/releasekit/src/releasekit/formatters/registry.py
  py/tools/releasekit/src/releasekit/formatters/table.py
  py/tools/releasekit/src/releasekit/init.py
  py/tools/releasekit/tests/rk_formatters_test.py
  py/tools/releasekit/tests/rk_init_test.py
  py/tools/releasekit/tests/rk_render_diagnostics_test.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

fix(py): correct evaluator prompt file loading
  py/plugins/evaluators/src/genkit/plugins/evaluators/helpers.py
  py/plugins/evaluators/tests/helpers_test.py
Owners: @pavelgj, @yesudeep

feat(releasekit): Phase 6 UX polish — formatters, init, completion, diagnostics (#4572)
  py/pyproject.toml
  py/tools/releasekit/README.md
  py/tools/releasekit/roadmap.md
  py/tools/releasekit/scripts/dump_diagnostics.py
  py/tools/releasekit/src/releasekit/cli.py
  py/tools/releasekit/src/releasekit/errors.py
  py/tools/releasekit/src/releasekit/formatters/__init__.py
  py/tools/releasekit/src/releasekit/formatters/ascii_art.py
  py/tools/releasekit/src/releasekit/formatters/csv_fmt.py
  py/tools/releasekit/src/releasekit/formatters/d2.py
  py/tools/releasekit/src/releasekit/formatters/dot.py
  py/tools/releasekit/src/releasekit/formatters/json_fmt.py
  py/tools/releasekit/src/releasekit/formatters/levels.py
  py/tools/releasekit/src/releasekit/formatters/mermaid.py
  py/tools/releasekit/src/releasekit/formatters/registry.py
  py/tools/releasekit/src/releasekit/formatters/table.py
  py/tools/releasekit/src/releasekit/init.py
  py/tools/releasekit/tests/rk_formatters_test.py
  py/tools/releasekit/tests/rk_init_test.py
  py/tools/releasekit/tests/rk_render_diagnostics_test.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

fix(js): fix formatting
  js/plugins/google-genai/tests/vertexai/index_test.ts
  js/plugins/googleai/src/embedder.ts
  js/testapps/flow-simple-ai/src/index.ts
Owners: @pavelgj

fix(py): correct evaluator scoring bug (#4573)
  py/plugins/evaluators/src/genkit/plugins/evaluators/helpers.py
  py/plugins/evaluators/tests/helpers_test.py
Owners: @pavelgj, @yesudeep

fix(py): enable tool run correctly for all samples
  py/samples/framework-restaurant-demo/src/case_04/flows.py
  py/samples/sample-test/review_sample_flows.py
  py/samples/sample-test/run_single_flow.py
  py/samples/web-multi-server/src/main.py
Owners: @pavelgj, @yesudeep

feat(releasekit): async refactoring and test suite updates
  py/tools/releasekit/src/releasekit/backends/forge.py
  py/tools/releasekit/src/releasekit/backends/pm.py
  py/tools/releasekit/src/releasekit/backends/vcs.py
  py/tools/releasekit/src/releasekit/changelog.py
  py/tools/releasekit/src/releasekit/cli.py
  py/tools/releasekit/src/releasekit/commitback.py
  py/tools/releasekit/src/releasekit/preflight.py
  py/tools/releasekit/src/releasekit/publisher.py
  py/tools/releasekit/src/releasekit/release_notes.py
  py/tools/releasekit/src/releasekit/tags.py
  py/tools/releasekit/src/releasekit/versioning.py
  py/tools/releasekit/tests/backends/rk_forge_test.py
  py/tools/releasekit/tests/backends/rk_pm_test.py
  py/tools/releasekit/tests/backends/rk_vcs_test.py
  py/tools/releasekit/tests/rk_changelog_test.py
  py/tools/releasekit/tests/rk_checks_test.py
  py/tools/releasekit/tests/rk_cli_test.py
  py/tools/releasekit/tests/rk_commitback_test.py
  py/tools/releasekit/tests/rk_lock_test.py
  py/tools/releasekit/tests/rk_plan_test.py
  py/tools/releasekit/tests/rk_preflight_test.py
  py/tools/releasekit/tests/rk_release_notes_test.py
  py/tools/releasekit/tests/rk_state_test.py
  py/tools/releasekit/tests/rk_tags_test.py
  py/tools/releasekit/tests/rk_versioning_test.py
Owners: @pavelgj, @yesudeep

fix(py): fix wth gemini
  py/samples/sample-test/review_sample_flows.py
Owners: @pavelgj, @yesudeep

feat(releasekit): async refactoring and test suite updates (#4574)
  py/tools/releasekit/src/releasekit/backends/forge.py
  py/tools/releasekit/src/releasekit/backends/pm.py
  py/tools/releasekit/src/releasekit/backends/vcs.py
  py/tools/releasekit/src/releasekit/changelog.py
  py/tools/releasekit/src/releasekit/cli.py
  py/tools/releasekit/src/releasekit/commitback.py
  py/tools/releasekit/src/releasekit/preflight.py
  py/tools/releasekit/src/releasekit/publisher.py
  py/tools/releasekit/src/releasekit/release_notes.py
  py/tools/releasekit/src/releasekit/tags.py
  py/tools/releasekit/src/releasekit/versioning.py
  py/tools/releasekit/tests/backends/rk_forge_test.py
  py/tools/releasekit/tests/backends/rk_pm_test.py
  py/tools/releasekit/tests/backends/rk_vcs_test.py
  py/tools/releasekit/tests/rk_changelog_test.py
  py/tools/releasekit/tests/rk_checks_test.py
  py/tools/releasekit/tests/rk_cli_test.py
  py/tools/releasekit/tests/rk_commitback_test.py
  py/tools/releasekit/tests/rk_lock_test.py
  py/tools/releasekit/tests/rk_plan_test.py
  py/tools/releasekit/tests/rk_preflight_test.py
  py/tools/releasekit/tests/rk_release_notes_test.py
  py/tools/releasekit/tests/rk_state_test.py
  py/tools/releasekit/tests/rk_tags_test.py
  py/tools/releasekit/tests/rk_versioning_test.py
Owners: @pavelgj, @yesudeep

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj
