Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj

refactor: clean up cross-runtime error handling and add tests
  genkit-tools/cli/package.json
  genkit-tools/cli/src/cli.ts
  genkit-tools/cli/src/commands/ui-start-server.ts
  genkit-tools/common/src/utils/errors.ts
  genkit-tools/common/tests/utils/errors_test.ts
  genkit-tools/pnpm-lock.yaml
Owners: @pavelgj

Update genkit-tools/common/src/utils/errors.ts
  genkit-tools/common/src/utils/errors.ts
Owners: @pavelgj

feat(js): Enable Firebase Genkit Monitoring via an environment variable (#3043)
  js/core/src/tracing.ts
  js/plugins/firebase/src/index.ts
Owners: @pavelgj

Update README.md to link to genkit.dev
  README.md
Owners: @pavelgj

feat(go): added Google Cloud SQL for PostgreSQL plugin (#3009)
  go/go.mod
  go/go.sum
  go/plugins/postgresql/README.md
  go/plugins/postgresql/constants.go
  go/plugins/postgresql/distance_strategy.go
  go/plugins/postgresql/docstore.go
  go/plugins/postgresql/engine.go
  go/plugins/postgresql/engine_test.go
  go/plugins/postgresql/genkit.go
  go/plugins/postgresql/genkit_test.go
  go/plugins/postgresql/indexer.go
  go/plugins/postgresql/indexer_test.go
  go/plugins/postgresql/integration.cloudbuild.yaml
  go/plugins/postgresql/mocks_test.go
  go/plugins/postgresql/options.go
  go/plugins/postgresql/retriever.go
  go/plugins/postgresql/retriever_test.go
Owners: @apascal07, @pavelgj

feat(js/plugins/google-genai): Added Imagen for VertexAI (#3125)
  js/plugins/google-genai/src/vertexai/imagen.ts
  js/plugins/google-genai/src/vertexai/utils.ts
  js/plugins/google-genai/tests/vertexai/imagen_test.ts
  js/plugins/google-genai/tests/vertexai/utils_test.ts
Owners: @pavelgj

remove anthropic dynamic model resolution
  go/plugins/compat_oai/anthropic/anthropic.go
Owners: @apascal07

fix: add more tests
  py/plugins/vertex-ai/tests/model_garden/test_client.py
  py/plugins/vertex-ai/tests/model_garden/test_model_garden.py
Owners: @pavelgj, @yesudeep

fix: tests
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/model_garden/model_garden.py
  py/plugins/vertex-ai/tests/model_garden/test_model_garden.py
Owners: @pavelgj, @yesudeep

fix
  py/plugins/vertex-ai/tests/model_garden/test_model_garden.py
Owners: @pavelgj, @yesudeep

chore(py): Add tests model garden (#3083)
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/model_garden/client.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/model_garden/model_garden.py
  py/plugins/vertex-ai/tests/model_garden/test_client.py
  py/plugins/vertex-ai/tests/model_garden/test_model_garden.py
Owners: @pavelgj, @yesudeep

fix(go): GoogleAI Plugin shoudl let Gemini handle generativelanguage.googleapis.com URLs on its own
  go/plugins/googlegenai/gemini.go
Owners: @apascal07

Update gemini.go
  go/plugins/googlegenai/gemini.go
Owners: @apascal07

add sample
  go/samples/files-api-vision/main.go
  go/samples/files-api-vision/test.jpg
Owners: @apascal07, @pavelgj

Update main.go
  go/samples/files-api-vision/main.go
Owners: @apascal07

Update main.go
  go/samples/files-api-vision/main.go
Owners: @apascal07

fix: review comments
  js/plugins/cloud-sql-pg/README.md
  js/pnpm-lock.yaml
Owners: @pavelgj

fix: Limits on common model config
  js/ai/src/model.ts
  js/plugins/googleai/src/gemini.ts
  js/plugins/googleai/src/index.ts
Owners: @pavelgj

feat(js): indexer and retriever for Cloud SQL (#2997)
  js/plugins/cloud-sql-pg/.npmignore
  js/plugins/cloud-sql-pg/LICENSE
  js/plugins/cloud-sql-pg/README.md
  js/plugins/cloud-sql-pg/jest.config.js
  js/plugins/cloud-sql-pg/package.json
  js/plugins/cloud-sql-pg/src/engine.ts
  js/plugins/cloud-sql-pg/src/index.ts
  js/plugins/cloud-sql-pg/src/indexes.ts
  js/plugins/cloud-sql-pg/src/utils/index.ts
  js/plugins/cloud-sql-pg/test/engine.test.ts
  js/plugins/cloud-sql-pg/test/index.test.ts
  js/plugins/cloud-sql-pg/tsconfig.json
  js/plugins/cloud-sql-pg/tsup.config.ts
  js/plugins/cloud-sql-pg/typedoc.json
  js/pnpm-lock.yaml
Owners: @pavelgj

fix(js): Limits on GoogleAI Gemini model config (#3089)
  js/ai/src/model.ts
  js/plugins/googleai/src/gemini.ts
  js/plugins/googleai/src/index.ts
Owners: @pavelgj

fix(js): Fix limits on vertexai and ollama config
  js/plugins/google-genai/src/vertexai/gemini.ts
  js/plugins/googleai/src/veo.ts
  js/plugins/ollama/src/index.ts
  js/plugins/vertexai/src/gemini.ts
Owners: @pavelgj

chore: Added support models validations on OpenAi plugin
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/model_info.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/openai_plugin.py
  py/plugins/compat-oai/tests/test_plugin.py
Owners: @pavelgj, @yesudeep

fix(js): Fix limits on vertexai and ollama config (#3129)
  js/plugins/google-genai/src/vertexai/gemini.ts
  js/plugins/googleai/src/veo.ts
  js/plugins/ollama/src/index.ts
  js/plugins/vertexai/src/gemini.ts
Owners: @pavelgj

feat(js/plugins/compat-oai): Add `raw` field in responses, support config.tools
  js/plugins/compat-oai/src/audio.ts
  js/plugins/compat-oai/src/image.ts
  js/plugins/compat-oai/src/model.ts
  js/testapps/compat-oai/src/index.ts
Owners: @pavelgj

feat(cli): added experiment mcp server to genkit start command
  genkit-tools/cli/package.json
  genkit-tools/cli/src/commands/start.ts
  genkit-tools/cli/src/mcp/docs.ts
  genkit-tools/cli/src/mcp/flows.ts
  genkit-tools/cli/src/mcp/server.ts
  genkit-tools/cli/src/mcp/trace.ts
  genkit-tools/pnpm-lock.yaml
Owners: @pavelgj

workaround
  genkit-tools/cli/src/mcp/server.ts
  genkit-tools/common/src/server/server.ts
  genkit-tools/pnpm-lock.yaml
Owners: @pavelgj

feat(js/ai): added support for dynamically resolvable resources
  js/ai/package.json
  js/ai/src/document.ts
  js/ai/src/generate/action.ts
  js/ai/src/index.ts
  js/ai/src/model.ts
  js/ai/src/resource.ts
  js/ai/tests/generate/generate_test.ts
  js/ai/tests/resource/resource_test.ts
  js/core/src/registry.ts
  js/genkit/src/genkit-beta.ts
  js/pnpm-lock.yaml
Owners: @pavelgj

doc cleanup
  js/genkit/src/genkit-beta.ts
Owners: @pavelgj

fix: wrong item name actionFn
  samples/js-schoolAgent/src/attendanceAgent.ts
  samples/js-schoolAgent/src/gradesAgent.ts
Owners: @pavelgj

Add input and output logs for prompt rendering.
  js/plugins/google-cloud/src/gcpOpenTelemetry.ts
  js/plugins/google-cloud/src/telemetry/action.ts
  js/plugins/google-cloud/tests/logs_test.ts
Owners: @pavelgj

Write logs for all action types except indexer and embedder
  js/plugins/google-cloud/src/telemetry/action.ts
  js/plugins/google-cloud/tests/logs_test.ts
Owners: @pavelgj

include desctiption and headers
  genkit-tools/cli/src/mcp/docs.ts
Owners: @pavelgj

fmt
  genkit-tools/cli/src/mcp/docs.ts
Owners: @pavelgj

typos
  genkit-tools/cli/src/mcp/docs.ts
  genkit-tools/cli/src/mcp/flows.ts
Owners: @pavelgj

lock
  genkit-tools/pnpm-lock.yaml
Owners: @pavelgj

Support streamable http
  go/plugins/mcp/client.go
  go/samples/mcp-client/main.go
  go/samples/mcp-server/server.go
Owners: @apascal07

Revert server sample
  go/samples/mcp-server/server.go
Owners: @apascal07

feat(go): Support streamable http in MCP Plugin (#3135)
  go/plugins/mcp/client.go
  go/samples/mcp-client/main.go
Owners: @apascal07

fix(go): GoogleAI Plugin should let Gemini handle generativelanguage.googleapis.com URLs directly (#3128)
  go/plugins/googlegenai/gemini.go
  go/samples/files-api-vision/main.go
  go/samples/files-api-vision/test.jpg
Owners: @apascal07, @pavelgj

feat(go/plugins/compat_oai/openai): add dynamic model resolution (#3095)
  go/plugins/compat_oai/compat_oai.go
  go/plugins/compat_oai/openai/openai.go
Owners: @apascal07
