Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj

docs(js): a few random typedoc fixes
  js/genkit/src/client/client.ts
  js/genkit/src/client/index.ts
  js/genkit/src/genkit.ts
Owners: @pavelgj

fix(js): fixed a few random imports to make them node 23 compatible (#2016)
  js/plugins/express/src/index.ts
  js/plugins/vertexai/src/vectorsearch/index.ts
  js/plugins/vertexai/src/vectorsearch/vector_search/index.ts
Owners: @pavelgj

Update js/genkit/src/client/index.ts
  js/genkit/src/client/index.ts
Owners: @pavelgj

Update js/genkit/src/genkit.ts
  js/genkit/src/genkit.ts
Owners: @pavelgj

docs(js): a few random typedoc fixes (#2018)
  js/genkit/src/client/client.ts
  js/genkit/src/client/index.ts
  js/genkit/src/genkit.ts
Owners: @pavelgj

docs: Add link to RAGAS metrics page
  docs/evaluation.md
Owners: @pavelgj

Update evaluation.md
  docs/evaluation.md
Owners: @pavelgj

chore: do not install node with homebrew in the setup script (#2017)
  bin/setup
Owners: @pavelgj

fixes
  js/ai/src/generate.ts
  js/ai/src/prompt.ts
  js/genkit/tests/prompts_test.ts
Owners: @pavelgj

fix(ruff): use the same command for the ci for python checks
  .github/workflows/python.yml
  bin/setup
  py/bin/generate_schema_types
Owners: @pavelgj

fix(ruff): use the same command for the ci for python checks (#2021)
  .github/workflows/python.yml
  bin/setup
  py/bin/generate_schema_types
Owners: @pavelgj

feat(js/plugins): added `debugTraces` option to googleai and vertexai plugins
  js/plugins/googleai/src/gemini.ts
  js/plugins/googleai/src/index.ts
  js/plugins/vertexai/src/common/types.ts
  js/plugins/vertexai/src/gemini.ts
  js/plugins/vertexai/src/index.ts
  js/testapps/flow-simple-ai/src/index.ts
Owners: @pavelgj

docs(observability): Add advanced configuration, authentication, and telemetry collection docs to observability
  docs/_guides.yaml
  docs/observability/advanced-configuration.md
  docs/observability/authentication.md
  docs/observability/telemetry-collection.md
  docs/plugins/firebase.md
  docs/plugins/google-cloud.md
Owners: @pavelgj

fix URL
  genkit-tools/cli/src/commands/eval-flow.ts
  genkit-tools/cli/src/commands/eval-run.ts
Owners: @pavelgj

fix(mypy): 1/2 mypy complains about conflicting main.py modules if we do not use unique names for the sample modules
  py/pyproject.toml
  py/samples/basic-gemini/src/basic-gemini.py
  py/samples/coffee-shop/main.py
  py/samples/coffee-shop/src/coffee-shop.py
  py/samples/context-caching/main.py
  py/samples/context-caching/src/context-caching.py
  py/samples/flow-sample1/main.py
  py/samples/flow-sample1/src/flow-sample1.py
  py/samples/hello/main.py
  py/samples/hello/src/hello.py
  py/samples/menu/main.py
  py/samples/menu/src/menu.py
  py/samples/prompt-file/main.py
  py/samples/prompt-file/src/prompt-file.py
  py/samples/rag/main.py
  py/samples/rag/src/rag.py
  py/samples/vertex-ai-model-garden/main.py
  py/samples/vertex-ai-model-garden/src/vertex-ai-model-garden.py
  py/samples/vertex-ai-reranker/main.py
  py/samples/vertex-ai-reranker/src/vertex-ai-reranker.py
  py/samples/vertex-ai-vector-search/main.py
  py/samples/vertex-ai-vector-search/src/vertex-ai-vector-search.py
Owners: @pavelgj, @yesudeep

fix(mypy): 1/2 mypy complains about conflicting main.py modules if we do not use unique names for the sample modules (#2025)
  py/pyproject.toml
  py/samples/basic-gemini/src/basic-gemini.py
  py/samples/coffee-shop/main.py
  py/samples/coffee-shop/src/coffee-shop.py
  py/samples/context-caching/main.py
  py/samples/context-caching/src/context-caching.py
  py/samples/flow-sample1/main.py
  py/samples/flow-sample1/src/flow-sample1.py
  py/samples/hello/main.py
  py/samples/hello/src/hello.py
  py/samples/menu/main.py
  py/samples/menu/src/menu.py
  py/samples/prompt-file/main.py
  py/samples/prompt-file/src/prompt-file.py
  py/samples/rag/main.py
  py/samples/rag/src/rag.py
  py/samples/vertex-ai-model-garden/main.py
  py/samples/vertex-ai-model-garden/src/vertex-ai-model-garden.py
  py/samples/vertex-ai-reranker/main.py
  py/samples/vertex-ai-reranker/src/vertex-ai-reranker.py
  py/samples/vertex-ai-vector-search/main.py
  py/samples/vertex-ai-vector-search/src/vertex-ai-vector-search.py
Owners: @pavelgj, @yesudeep

fix(js/plugins): fixed gemini tool schema converter to correctly handle descriptions and nullable fields
  js/plugins/googleai/src/gemini.ts
  js/plugins/googleai/tests/gemini_test.ts
  js/plugins/vertexai/src/gemini.ts
  js/plugins/vertexai/tests/gemini_test.ts
  js/testapps/flow-simple-ai/src/index.ts
Owners: @pavelgj

docs(observability): Respond to code review comments.
  docs/_guides.yaml
  docs/observability/advanced-configuration.md
  docs/observability/authentication.md
  docs/observability/telemetry-collection.md
  docs/plugins/firebase.md
  docs/plugins/google-cloud.md
Owners: @pavelgj

fix(js/plugins): fixed gemini tool schema converter to correctly handle descriptions and nullable fields (#2027)
  js/plugins/googleai/src/gemini.ts
  js/plugins/googleai/tests/gemini_test.ts
  js/plugins/vertexai/src/gemini.ts
  js/plugins/vertexai/tests/gemini_test.ts
  js/testapps/flow-simple-ai/src/index.ts
Owners: @pavelgj

fix
  js/ai/src/prompt.ts
Owners: @pavelgj

feat: add tools support (no response yet)
  go/plugins/vertexai/modelgarden/anthropic.go
  go/plugins/vertexai/modelgarden/modelgarden_test.go
Owners: @apascal07

fix(js/ai): swap out config as part of prompt/agent transfer (#1944)
  js/ai/src/generate.ts
  js/ai/src/generate/action.ts
  js/ai/src/prompt.ts
  js/core/src/reflection.ts
  js/genkit/tests/chat_test.ts
  js/genkit/tests/prompts_test.ts
Owners: @pavelgj

docs: refined logs
  go/plugins/vertexai/modelgarden/anthropic.go
  go/plugins/vertexai/modelgarden/modelgarden_test.go
Owners: @apascal07

feat: added streaming support
  go/plugins/vertexai/modelgarden/anthropic.go
  go/plugins/vertexai/modelgarden/modelgarden_test.go
Owners: @apascal07

fix(js/plugins/google-cloud): pass projectId through to GoogleAuth client
  js/plugins/google-cloud/src/gcpLogger.ts
  js/plugins/google-cloud/src/gcpOpenTelemetry.ts
Owners: @pavelgj

Fix bug
  go/ai/prompt/render.go
Owners: @apascal07

Add samples
  go/samples/prompts/main.go
Owners: @apascal07

experimental_debugTraces
  js/plugins/googleai/src/gemini.ts
  js/plugins/googleai/src/index.ts
  js/plugins/vertexai/src/common/types.ts
  js/plugins/vertexai/src/gemini.ts
  js/plugins/vertexai/src/index.ts
  js/testapps/context-caching/src/index.ts
  js/testapps/flow-simple-ai/src/index.ts
Owners: @pavelgj

feat(js/plugins): added `experimental_debugTraces` option to googleai and vertexai plugins (#2023)
  js/plugins/googleai/src/gemini.ts
  js/plugins/googleai/src/index.ts
  js/plugins/vertexai/src/common/types.ts
  js/plugins/vertexai/src/gemini.ts
  js/plugins/vertexai/src/index.ts
  js/testapps/context-caching/src/index.ts
  js/testapps/flow-simple-ai/src/index.ts
Owners: @pavelgj

fix(js/plugins/google-cloud): pass projectId through to GoogleAuth client (#1907)
  js/plugins/google-cloud/src/gcpLogger.ts
  js/plugins/google-cloud/src/gcpOpenTelemetry.ts
Owners: @pavelgj

fix(js/core): fixed stripUndefinedProps to correctly handle nulls (it was converting them to {})
  js/core/src/utils.ts
Owners: @pavelgj

test fix
  js/genkit/tests/formats_test.ts
Owners: @pavelgj

feat(py): Core VertexAI plugin
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/__init__.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/constants.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/gemini.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/plugin_api.py
  py/samples/hello/README.md
  py/samples/hello/src/hello.py
Owners: @pavelgj, @yesudeep

fix(js/core): fixed stripUndefinedProps to correctly handle nulls (it was converting them to {}) (#2030)
  js/core/src/utils.ts
  js/genkit/tests/formats_test.ts
Owners: @pavelgj

fix: remove extraneous line
  js/plugins/evaluators/src/index.ts
Owners: @pavelgj

fix: remove extraneous line (#2031)
  js/plugins/evaluators/src/index.ts
Owners: @pavelgj

Update genkit-tools/common/src/utils/utils.ts
  genkit-tools/common/src/utils/utils.ts
Owners: @pavelgj

docs(observability): Remove google cloud docs and redirect to the Firebase plugin
  docs/_guides.yaml
  docs/observability/authentication.md
  docs/observability/telemetry-collection.md
  docs/plugins/firebase.md
  docs/plugins/google-cloud.md
  js/plugins/google-cloud/README.md
Owners: @pavelgj

feat(go): add gemini-2.0-pro-exp-02-05
  go/plugins/googleai/googleai.go
Owners: @apascal07

chore: bump @genkit-ai/tools-common version to @genkit-ai/tools-common@1.0.5
  genkit-tools/common/package.json
Owners: @pavelgj
