Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj

fix(js): process spans in isolation to improve accuracy of telemetry (#3113)
  js/core/src/tracing/instrumentation.ts
  js/core/src/tracing/types.ts
  js/plugins/google-cloud/src/gcpOpenTelemetry.ts
  js/plugins/google-cloud/src/metrics.ts
  js/plugins/google-cloud/src/telemetry/action.ts
  js/plugins/google-cloud/src/telemetry/engagement.ts
  js/plugins/google-cloud/src/telemetry/feature.ts
  js/plugins/google-cloud/src/telemetry/generate.ts
  js/plugins/google-cloud/src/telemetry/path.ts
  js/plugins/google-cloud/tests/logs_no_input_output_test.ts
  js/plugins/google-cloud/tests/logs_test.ts
  js/plugins/google-cloud/tests/metrics_test.ts
  js/plugins/google-cloud/tests/traces_test.ts
Owners: @pavelgj

more redundancies and inconsistencies fixed
  js/plugins/google-genai/src/common/types.ts
Owners: @pavelgj

formatting
  js/plugins/google-genai/src/common/types.ts
Owners: @pavelgj

fix(js/plugins/google-genai): Fix tests for node 23 (#3116)
  js/plugins/google-genai/src/common/types.ts
  js/plugins/google-genai/src/googleai/types.ts
  js/plugins/google-genai/src/vertexai/types.ts
Owners: @pavelgj

feat(js/plugins/compat-oai): Support dynamic model resolution`
  js/plugins/compat-oai/src/index.ts
  js/plugins/compat-oai/src/openai/dalle.ts
  js/plugins/compat-oai/src/openai/index.ts
  js/plugins/compat-oai/src/openai/tts.ts
  js/plugins/compat-oai/src/openai/whisper.ts
  js/testapps/compat-oai/src/index.ts
Owners: @pavelgj

format
  js/testapps/mcp/src/http-server.ts
Owners: @pavelgj

refactor(js): fix typo in variable name
  js/ai/src/model/middleware.ts
Owners: @pavelgj

refactor: move server-harness to command file
  genkit-tools/cli/src/cli.ts
  genkit-tools/cli/src/commands/ui-start-server.ts
Owners: @pavelgj

feat(js/plugins/compat-oai): Support dynamic model resolution (#3117)
  js/plugins/compat-oai/src/index.ts
  js/plugins/compat-oai/src/openai/dalle.ts
  js/plugins/compat-oai/src/openai/index.ts
  js/plugins/compat-oai/src/openai/tts.ts
  js/plugins/compat-oai/src/openai/whisper.ts
  js/testapps/compat-oai/src/index.ts
Owners: @pavelgj

feat(js/plugins/compat-oai): Add explicit model types for dynamic resolution
  js/plugins/compat-oai/src/openai/index.ts
  js/testapps/compat-oai/src/index.ts
Owners: @pavelgj

feat(js/plugins/google-genai): Added Gemini for VertexAI
  js/plugins/google-genai/src/googleai/gemini.ts
  js/plugins/google-genai/src/vertexai/converters.ts
  js/plugins/google-genai/src/vertexai/gemini.ts
Owners: @pavelgj

tests
  js/plugins/google-genai/tests/vertexai/converters_test.ts
  js/plugins/google-genai/tests/vertexai/gemini_test.ts
Owners: @pavelgj

chore(js/mcp): Use StreamableHTTP transport for remote MCP. (#3105)
  js/plugins/mcp/src/client/client.ts
  js/plugins/mcp/src/util/tools.ts
  js/plugins/mcp/src/util/transport.ts
  js/pnpm-lock.yaml
  js/testapps/mcp/package.json
  js/testapps/mcp/src/http-server.ts
  js/testapps/mcp/src/index.ts
Owners: @pavelgj

remove comment
  js/plugins/google-genai/tests/vertexai/gemini_test.ts
Owners: @pavelgj

formatting
  js/plugins/google-genai/tests/vertexai/gemini_test.ts
Owners: @pavelgj

feat(js/plugins/google-genai): Added Gemini for VertexAI (#3121)
  js/plugins/google-genai/src/googleai/gemini.ts
  js/plugins/google-genai/src/vertexai/converters.ts
  js/plugins/google-genai/src/vertexai/gemini.ts
  js/plugins/google-genai/tests/vertexai/converters_test.ts
  js/plugins/google-genai/tests/vertexai/gemini_test.ts
Owners: @pavelgj

fix(js/plugins/google-clout): Write input and output logs for generate step
  js/plugins/google-cloud/src/gcpOpenTelemetry.ts
  js/plugins/google-cloud/src/telemetry/action.ts
Owners: @pavelgj

fix(js/plugins/google-cloud): Update tests
  js/plugins/google-cloud/src/gcpOpenTelemetry.ts
Owners: @pavelgj

fix(js/plugins/google-cloud): Add input and output logs for prompt rendering step.
  js/plugins/google-cloud/src/telemetry/action.ts
  js/plugins/google-cloud/tests/logs_test.ts
Owners: @pavelgj

fix type hints
  js/plugins/compat-oai/src/openai/gpt.ts
  js/plugins/compat-oai/src/openai/index.ts
Owners: @pavelgj

Remove tests for now-deleted path logs.
  js/plugins/google-cloud/tests/logs_test.ts
Owners: @pavelgj

feat(js/plugins/compat-oai): Add explicit model types for dynamic resolution (#3120)
  js/plugins/compat-oai/src/openai/gpt.ts
  js/plugins/compat-oai/src/openai/index.ts
  js/testapps/compat-oai/src/index.ts
Owners: @pavelgj

fix(go/plugins): update gemini models and modelgarden provider (#3103)
  go/plugins/googlegenai/models.go
  go/plugins/vertexai/modelgarden/anthropic.go
  go/plugins/vertexai/modelgarden/models.go
Owners: @apascal07

chore(go):updated go.mod
  go/go.mod
  go/go.sum
Owners: @apascal07

feat(js/plugins/google-genai): Added Imagen for VertexAI
  js/plugins/google-genai/src/vertexai/imagen.ts
  js/plugins/google-genai/src/vertexai/utils.ts
  js/plugins/google-genai/tests/vertexai/imagen_test.ts
  js/plugins/google-genai/tests/vertexai/utils_test.ts
Owners: @pavelgj

test(go): added validation in test
  go/plugins/alloydb/genkit_test.go
Owners: @apascal07

chore(go): updated go.mod and go.sum
  go/go.mod
  go/go.sum
Owners: @apascal07

test(go): added validation in test
  go/plugins/postgresql/genkit_test.go
Owners: @apascal07

chore(go): updated go.sum
  go/go.sum
Owners: @apascal07

feat(go): added Google AlloyDB for Postgresql plugin (#3010)
  go/go.mod
  go/go.sum
  go/plugins/alloydb/README.md
  go/plugins/alloydb/constants.go
  go/plugins/alloydb/distance_strategy.go
  go/plugins/alloydb/docstore.go
  go/plugins/alloydb/engine.go
  go/plugins/alloydb/engine_test.go
  go/plugins/alloydb/genkit.go
  go/plugins/alloydb/genkit_test.go
  go/plugins/alloydb/indexer.go
  go/plugins/alloydb/indexer_test.go
  go/plugins/alloydb/mocks_test.go
  go/plugins/alloydb/options.go
  go/plugins/alloydb/retriever.go
  go/plugins/alloydb/retriever_test.go
Owners: @apascal07, @pavelgj

chore(js/mcp): pipe _meta through on tools and prompts, upgrade SDK
  js/plugins/mcp/package.json
  js/plugins/mcp/src/server.ts
  js/plugins/mcp/src/util/prompts.ts
  js/plugins/mcp/src/util/tools.ts
  js/plugins/mcp/tests/host_test.ts
  js/pnpm-lock.yaml
Owners: @pavelgj

README tweaks
  js/plugins/mcp/README.md
Owners: @pavelgj

specify roots at host level, get mcpClient from client
  js/plugins/mcp/src/client/client.ts
  js/plugins/mcp/src/client/host.ts
Owners: @pavelgj

chore(go): 'go mod tidy' executed
  go/go.sum
Owners: @apascal07

fix lock
  js/pnpm-lock.yaml
Owners: @pavelgj

chore(js/mcp): pipe _meta through on tools and prompts, upgrade SDK (#3126)
  js/plugins/mcp/README.md
  js/plugins/mcp/package.json
  js/plugins/mcp/src/client/client.ts
  js/plugins/mcp/src/client/host.ts
  js/plugins/mcp/src/server.ts
  js/plugins/mcp/src/util/prompts.ts
  js/plugins/mcp/src/util/tools.ts
  js/plugins/mcp/tests/host_test.ts
  js/pnpm-lock.yaml
Owners: @pavelgj

Update bin/install_cli
  bin/install_cli
Owners: @pavelgj

Update bin/install_cli
  bin/install_cli
Owners: @pavelgj

Update bin/install_cli
  bin/install_cli
Owners: @pavelgj

Update bin/install_cli
  bin/install_cli
Owners: @pavelgj
