Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj

added tools to middleware interface
  go/ai/generate.go
  go/ai/middleware.go
Owners: @apascal07

address comments
  py/plugins/fastapi/src/genkit/plugins/fastapi/lifespan.py
  py/samples/fastapi-hello/README.md
  py/samples/fastapi-hello/prompts/analyze_bugs.prompt
  py/samples/fastapi-hello/prompts/analyze_diff.prompt
  py/samples/fastapi-hello/prompts/analyze_security.prompt
  py/samples/fastapi-hello/prompts/analyze_style.prompt
  py/samples/fastapi-hello/src/main.py
Owners: @pavelgj, @yesudeep

Delete py/samples/fastapi-hello/LICENSE
  py/samples/fastapi-hello/LICENSE
Owners: @pavelgj

Delete py/plugins/fastapi/LICENSE
  py/plugins/fastapi/LICENSE
Owners: @pavelgj

docs(py): release roadmap and orchestration
  py/tools/release/roadmap.md
Owners: @pavelgj

docs(py): release roadmap and orchestration (#4544)
  py/tools/release/roadmap.md
Owners: @pavelgj

fix(py): fix living log and test flows
  py/samples/sample-test/review_sample_flows.py
  py/samples/sample-test/run_single_flow.py
Owners: @pavelgj, @yesudeep

feat: add suport for genkit java
  genkit-tools/common/src/utils/utils.ts
Owners: @pavelgj

fix(py/samples): endpoints sample resilience and developer experience
  py/samples/web-endpoints-hello/justfile
  py/samples/web-endpoints-hello/run.sh
  py/samples/web-endpoints-hello/src/config.py
  py/samples/web-endpoints-hello/src/log_config.py
Owners: @pavelgj, @yesudeep

feat: release tool phase 0
  .github/workflows/python.yml
  py/pyproject.toml
  py/tools/releasekit/README.md
  py/tools/releasekit/pyproject.toml
  py/tools/releasekit/roadmap.md
  py/tools/releasekit/src/releasekit/__init__.py
  py/tools/releasekit/src/releasekit/backends/__init__.py
  py/tools/releasekit/src/releasekit/backends/_run.py
  py/tools/releasekit/src/releasekit/backends/forge.py
  py/tools/releasekit/src/releasekit/backends/pm.py
  py/tools/releasekit/src/releasekit/backends/registry.py
  py/tools/releasekit/src/releasekit/backends/vcs.py
  py/tools/releasekit/src/releasekit/errors.py
  py/tools/releasekit/src/releasekit/logging.py
  py/tools/releasekit/src/releasekit/net.py
  py/tools/releasekit/src/releasekit/py.typed
  py/tools/releasekit/tests/backends/forge_test.py
  py/tools/releasekit/tests/backends/pm_test.py
  py/tools/releasekit/tests/backends/pypi_registry_test.py
  py/tools/releasekit/tests/backends/run_test.py
  py/tools/releasekit/tests/backends/vcs_test.py
  py/tools/releasekit/tests/conftest.py
  py/tools/releasekit/tests/errors_test.py
  py/tools/releasekit/tests/logging_test.py
  py/tools/releasekit/tests/net_test.py
  py/tools/releasekit/uv.lock
Owners: @pavelgj, @yesudeep

fix(py/samples): endpoints sample resilience and developer experience (#4547)
  py/samples/web-endpoints-hello/justfile
  py/samples/web-endpoints-hello/run.sh
  py/samples/web-endpoints-hello/src/config.py
  py/samples/web-endpoints-hello/src/log_config.py
Owners: @pavelgj, @yesudeep

feat(py/tools): add releasekit — release orchestration for uv workspaces (#4548)
  .github/workflows/python.yml
  py/pyproject.toml
  py/tools/releasekit/README.md
  py/tools/releasekit/pyproject.toml
  py/tools/releasekit/roadmap.md
  py/tools/releasekit/src/releasekit/__init__.py
  py/tools/releasekit/src/releasekit/backends/__init__.py
  py/tools/releasekit/src/releasekit/backends/_run.py
  py/tools/releasekit/src/releasekit/backends/forge.py
  py/tools/releasekit/src/releasekit/backends/pm.py
  py/tools/releasekit/src/releasekit/backends/registry.py
  py/tools/releasekit/src/releasekit/backends/vcs.py
  py/tools/releasekit/src/releasekit/errors.py
  py/tools/releasekit/src/releasekit/logging.py
  py/tools/releasekit/src/releasekit/net.py
  py/tools/releasekit/src/releasekit/py.typed
  py/tools/releasekit/tests/backends/forge_test.py
  py/tools/releasekit/tests/backends/pm_test.py
  py/tools/releasekit/tests/backends/pypi_registry_test.py
  py/tools/releasekit/tests/backends/run_test.py
  py/tools/releasekit/tests/backends/vcs_test.py
  py/tools/releasekit/tests/conftest.py
  py/tools/releasekit/tests/errors_test.py
  py/tools/releasekit/tests/logging_test.py
  py/tools/releasekit/tests/net_test.py
  py/tools/releasekit/uv.lock
Owners: @pavelgj, @yesudeep

fix(py/core): guard RealtimeSpanProcessor.export() against ConnectionError
  py/packages/genkit/src/genkit/core/trace/realtime_processor.py
Owners: @pavelgj, @yesudeep

chore(js/testapps/prompt-file): Fix Google AI provider and model configuration in testapps (#4497)
  js/pnpm-lock.yaml
  js/testapps/prompt-file/package.json
  js/testapps/prompt-file/prompts/recipe.prompt
  js/testapps/prompt-file/prompts/recipe.robot.prompt
  js/testapps/prompt-file/prompts/story.prompt
  js/testapps/prompt-file/src/index.ts
Owners: @pavelgj

feat(py): support api_key in generation config
  py/packages/genkit/src/genkit/model_types.py
  py/packages/genkit/src/genkit/types/__init__.py
Owners: @pavelgj, @yesudeep

add changelog
  py/plugins/fastapi/CHANGELOG.md
Owners: @pavelgj

rename sample
  py/samples/fastapi-hello/LICENSE
  py/samples/web-fastapi-bugbot/README.md
  py/samples/web-fastapi-bugbot/prompts/analyze_bugs.prompt
  py/samples/web-fastapi-bugbot/prompts/analyze_diff.prompt
  py/samples/web-fastapi-bugbot/prompts/analyze_security.prompt
  py/samples/web-fastapi-bugbot/prompts/analyze_style.prompt
  py/samples/web-fastapi-bugbot/pyproject.toml
  py/samples/web-fastapi-bugbot/run.sh
  py/samples/web-fastapi-bugbot/src/main.py
Owners: @pavelgj, @yesudeep

Update py/packages/genkit/src/genkit/model_types.py
  py/packages/genkit/src/genkit/model_types.py
Owners: @pavelgj, @yesudeep

fix: errors, config types and added uts
  go/plugins/googlegenai/actions.go
  go/plugins/googlegenai/gemini.go
  go/plugins/googlegenai/gemini_test.go
  go/plugins/googlegenai/imagen.go
  go/plugins/googlegenai/imagen_test.go
  go/plugins/googlegenai/models.go
  go/plugins/googlegenai/veo.go
  go/plugins/googlegenai/veo_test.go
  go/samples/veo/main.go
Owners: @apascal07

update license
  py/packages/genkit/src/genkit/model_types.py
Owners: @pavelgj, @yesudeep

rm unwanted files
  go/plugins/googlegenai/reasoningMissingFix.patch
Owners: @pavelgj

feat(py/tools): releasekit phase 1 — workspace discovery + dependency graph
  py/GEMINI.md
  py/pyproject.toml
  py/tools/releasekit/CHANGELOG.md
  py/tools/releasekit/pyproject.toml
  py/tools/releasekit/roadmap.md
  py/tools/releasekit/src/releasekit/__init__.py
  py/tools/releasekit/src/releasekit/backends/__init__.py
  py/tools/releasekit/src/releasekit/backends/_run.py
  py/tools/releasekit/src/releasekit/backends/forge.py
  py/tools/releasekit/src/releasekit/backends/pm.py
  py/tools/releasekit/src/releasekit/backends/registry.py
  py/tools/releasekit/src/releasekit/backends/vcs.py
  py/tools/releasekit/src/releasekit/config.py
  py/tools/releasekit/src/releasekit/errors.py
  py/tools/releasekit/src/releasekit/graph.py
  py/tools/releasekit/src/releasekit/logging.py
  py/tools/releasekit/src/releasekit/net.py
  py/tools/releasekit/src/releasekit/workspace.py
  py/tools/releasekit/tests/backends/forge_test.py
  py/tools/releasekit/tests/backends/pm_test.py
  py/tools/releasekit/tests/backends/pypi_registry_test.py
  py/tools/releasekit/tests/backends/run_test.py
  py/tools/releasekit/tests/backends/vcs_test.py
  py/tools/releasekit/tests/conftest.py
  py/tools/releasekit/tests/errors_test.py
  py/tools/releasekit/tests/graph_test.py
  py/tools/releasekit/tests/logging_test.py
  py/tools/releasekit/tests/net_test.py
  py/tools/releasekit/tests/rk_config_test.py
  py/tools/releasekit/tests/workspace_test.py
  py/tools/releasekit/uv.lock
  py/uv.lock
Owners: @pavelgj, @yesudeep

fix(py): resolve embedder output schema and dotprompt deadlock
  py/packages/genkit/src/genkit/core/registry.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
Owners: @pavelgj, @yesudeep

feat(py/tools): releasekit phase 1 — workspace discovery + dependency graph (#4550)
  py/GEMINI.md
  py/pyproject.toml
  py/tools/releasekit/CHANGELOG.md
  py/tools/releasekit/pyproject.toml
  py/tools/releasekit/roadmap.md
  py/tools/releasekit/src/releasekit/__init__.py
  py/tools/releasekit/src/releasekit/backends/__init__.py
  py/tools/releasekit/src/releasekit/backends/_run.py
  py/tools/releasekit/src/releasekit/backends/forge.py
  py/tools/releasekit/src/releasekit/backends/pm.py
  py/tools/releasekit/src/releasekit/backends/registry.py
  py/tools/releasekit/src/releasekit/backends/vcs.py
  py/tools/releasekit/src/releasekit/config.py
  py/tools/releasekit/src/releasekit/errors.py
  py/tools/releasekit/src/releasekit/graph.py
  py/tools/releasekit/src/releasekit/logging.py
  py/tools/releasekit/src/releasekit/net.py
  py/tools/releasekit/src/releasekit/workspace.py
  py/tools/releasekit/tests/backends/forge_test.py
  py/tools/releasekit/tests/backends/pm_test.py
  py/tools/releasekit/tests/backends/pypi_registry_test.py
  py/tools/releasekit/tests/backends/run_test.py
  py/tools/releasekit/tests/backends/vcs_test.py
  py/tools/releasekit/tests/conftest.py
  py/tools/releasekit/tests/errors_test.py
  py/tools/releasekit/tests/graph_test.py
  py/tools/releasekit/tests/logging_test.py
  py/tools/releasekit/tests/net_test.py
  py/tools/releasekit/tests/rk_config_test.py
  py/tools/releasekit/tests/workspace_test.py
  py/tools/releasekit/uv.lock
  py/uv.lock
Owners: @pavelgj, @yesudeep

format
  py/packages/genkit/src/genkit/types/__init__.py
Owners: @pavelgj, @yesudeep

fix lint
  py/plugins/fastapi/pyproject.toml
  py/pyproject.toml
  py/samples/web-fastapi-bugbot/pyproject.toml
Owners: @pavelgj, @yesudeep

feat(py/tools): releasekit phase 2 — versioning, bump, pin, manifest
  py/GEMINI.md
  py/tools/releasekit/CHANGELOG.md
  py/tools/releasekit/roadmap.md
  py/tools/releasekit/src/releasekit/bump.py
  py/tools/releasekit/src/releasekit/pin.py
  py/tools/releasekit/src/releasekit/versioning.py
  py/tools/releasekit/src/releasekit/versions.py
  py/tools/releasekit/tests/backends/rk_forge_test.py
  py/tools/releasekit/tests/backends/rk_pm_test.py
  py/tools/releasekit/tests/backends/rk_pypi_registry_test.py
  py/tools/releasekit/tests/backends/rk_run_test.py
  py/tools/releasekit/tests/backends/rk_vcs_test.py
  py/tools/releasekit/tests/rk_bump_test.py
  py/tools/releasekit/tests/rk_errors_test.py
  py/tools/releasekit/tests/rk_graph_test.py
  py/tools/releasekit/tests/rk_logging_test.py
  py/tools/releasekit/tests/rk_net_test.py
  py/tools/releasekit/tests/rk_pin_test.py
  py/tools/releasekit/tests/rk_versioning_test.py
  py/tools/releasekit/tests/rk_versions_test.py
  py/tools/releasekit/tests/rk_workspace_test.py
Owners: @pavelgj, @yesudeep

feat(py/tools): releasekit phase 2 — versioning, bump, pin, manifest (#4555)
  py/GEMINI.md
  py/tools/releasekit/CHANGELOG.md
  py/tools/releasekit/roadmap.md
  py/tools/releasekit/src/releasekit/bump.py
  py/tools/releasekit/src/releasekit/pin.py
  py/tools/releasekit/src/releasekit/versioning.py
  py/tools/releasekit/src/releasekit/versions.py
  py/tools/releasekit/tests/backends/rk_forge_test.py
  py/tools/releasekit/tests/backends/rk_pm_test.py
  py/tools/releasekit/tests/backends/rk_pypi_registry_test.py
  py/tools/releasekit/tests/backends/rk_run_test.py
  py/tools/releasekit/tests/backends/rk_vcs_test.py
  py/tools/releasekit/tests/rk_bump_test.py
  py/tools/releasekit/tests/rk_errors_test.py
  py/tools/releasekit/tests/rk_graph_test.py
  py/tools/releasekit/tests/rk_logging_test.py
  py/tools/releasekit/tests/rk_net_test.py
  py/tools/releasekit/tests/rk_pin_test.py
  py/tools/releasekit/tests/rk_versioning_test.py
  py/tools/releasekit/tests/rk_versions_test.py
  py/tools/releasekit/tests/rk_workspace_test.py
Owners: @pavelgj, @yesudeep

feat(releasekit): add Phase 3 Publish MVP modules
  py/tools/releasekit/pyproject.toml
  py/tools/releasekit/src/releasekit/cli.py
  py/tools/releasekit/src/releasekit/lock.py
  py/tools/releasekit/src/releasekit/plan.py
  py/tools/releasekit/src/releasekit/preflight.py
  py/tools/releasekit/src/releasekit/publisher.py
  py/tools/releasekit/src/releasekit/state.py
Owners: @pavelgj, @yesudeep

Fix Embedder Schemas & Migrate Default Embedding Model
  py/engdoc/parity-analysis/plugin_api_consistency.md
  py/packages/genkit/src/genkit/ai/_aio.py
  py/packages/genkit/src/genkit/blocks/embedding.py
  py/packages/genkit/src/genkit/blocks/prompt.py
  py/packages/genkit/src/genkit/core/action/_action.py
  py/packages/genkit/src/genkit/core/reflection.py
  py/plugins/dev-local-vectorstore/src/genkit/plugins/dev_local_vectorstore/plugin_api.py
  py/plugins/firebase/src/genkit/plugins/firebase/firestore.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/google-genai/test/google_plugin_test.py
  py/plugins/google-genai/tests/google_genai_plugin_test.py
  py/plugins/google-genai/tests/rerankers_test.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/vector_search.py
  py/samples/dev-local-vectorstore-hello/src/main.py
  py/samples/framework-evaluator-demo/evaluator_demo/pdf_rag.py
  py/samples/provider-firestore-retriever/src/main.py
  py/samples/provider-google-genai-vertexai-hello/src/main.py
  py/samples/provider-vertex-ai-vector-search-bigquery/src/main.py
  py/samples/provider-vertex-ai-vector-search-bigquery/src/setup_env.py
  py/samples/provider-vertex-ai-vector-search-firestore/src/main.py
  py/samples/web-short-n-long/src/main.py
Owners: @pavelgj, @yesudeep

feat(releasekit): add Phase 3 Publish MVP modules (#4556)
  py/tools/releasekit/pyproject.toml
  py/tools/releasekit/src/releasekit/cli.py
  py/tools/releasekit/src/releasekit/lock.py
  py/tools/releasekit/src/releasekit/plan.py
  py/tools/releasekit/src/releasekit/preflight.py
  py/tools/releasekit/src/releasekit/publisher.py
  py/tools/releasekit/src/releasekit/state.py
Owners: @pavelgj, @yesudeep

docs(releasekit): expand Rich Live progress table spec in roadmap
  py/tools/releasekit/roadmap.md
Owners: @pavelgj

feat(js/genkit): Added cancelOperation for backgroundModels
  js/ai/src/cancel-operation.ts
  js/ai/src/index.ts
  js/genkit/src/genkit.ts
  js/genkit/tests/generate_test.ts
Owners: @pavelgj

update default number of video reqs
  go/plugins/googlegenai/veo.go
Owners: @apascal07

fix(py): fix with gemini
  genkit-tools/common/src/types/action.ts
  py/packages/genkit/src/genkit/ai/_aio.py
  py/packages/genkit/src/genkit/blocks/embedding.py
  py/packages/genkit/src/genkit/blocks/prompt.py
  py/packages/genkit/src/genkit/core/action/_action.py
  py/packages/genkit/src/genkit/core/reflection.py
  py/samples/framework-evaluator-demo/evaluator_demo/pdf_rag.py
Owners: @pavelgj, @yesudeep

feat(releasekit): add Phase 4 Rich Live progress table
  py/tools/releasekit/roadmap.md
  py/tools/releasekit/src/releasekit/cli.py
  py/tools/releasekit/src/releasekit/publisher.py
  py/tools/releasekit/src/releasekit/ui.py
Owners: @pavelgj, @yesudeep

feat(releasekit): add Phase 4 Rich Live progress table (#4558)
  py/tools/releasekit/roadmap.md
  py/tools/releasekit/src/releasekit/cli.py
  py/tools/releasekit/src/releasekit/publisher.py
  py/tools/releasekit/src/releasekit/ui.py
Owners: @pavelgj, @yesudeep

remove shutdown models
  go/plugins/googlegenai/models.go
Owners: @apascal07

feat(middleware): gracefully handle errors in filesystem tools
  js/plugins/middleware/src/filesystem.ts
  js/plugins/middleware/tests/filesystem_test.ts
Owners: @pavelgj

fix(ai): handle void middleware returns and missing tool messages
  js/ai/src/generate/action.ts
  js/ai/src/generate/middleware.ts
  js/ai/src/generate/resolve-tool-requests.ts
Owners: @pavelgj
