Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

dep updates
  js/plugins/middleware/package.json
  js/pnpm-lock.yaml
Owners: @pavelgj

feat(js/plugins/google-genai): serviceTier support for googleAI
  js/plugins/google-genai/src/common/types.ts
  js/plugins/google-genai/src/googleai/gemini.ts
  js/plugins/google-genai/tests/googleai/gemini_test.ts
  js/testapps/basic-gemini/src/index.ts
Owners: @pavelgj

add test
  py/packages/genkit/tests/genkit/ai/generate_test.py
Owners: @pavelgj, @yesudeep

address commenet
  py/packages/genkit/src/genkit/_ai/_generate.py
Owners: @pavelgj, @yesudeep

Update py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
Owners: @pavelgj, @yesudeep

review changes
  js/plugins/google-genai/src/googleai/gemini.ts
  js/testapps/basic-gemini/src/index.ts
Owners: @pavelgj

fix: update test script to include root-level test files
  js/plugins/middleware/package.json
Owners: @pavelgj

address comment, fix lint
  py/packages/genkit/src/genkit/_ai/_tools.py
Owners: @pavelgj, @yesudeep

fix: update test script to exclude nested directory glob pattern
  js/plugins/middleware/package.json
Owners: @pavelgj

feedback
  js/plugins/middleware/src/skills.ts
  js/plugins/middleware/tests/skills_test.ts
Owners: @pavelgj

fix: handle filesystem tool errors by returning control to LLM and use functional replacement in search-and-replace
  js/plugins/middleware/src/filesystem.ts
  js/plugins/middleware/src/filesystem/search_and_replace.ts
Owners: @pavelgj

fix comment
  js/plugins/middleware/src/index.ts
Owners: @pavelgj

fix imports
  js/plugins/middleware/examples/coding_agent.ts
  js/plugins/middleware/src/index.ts
Owners: @pavelgj

refactor: update middleware documentation examples and adjust tool approval metadata access
  js/plugins/middleware/README.md
  js/plugins/middleware/src/toolApproval.ts
Owners: @pavelgj

fmt
  js/plugins/middleware/src/toolApproval.ts
Owners: @pavelgj

fix(py): parallelize tool calls in generate loop (#5054)
  py/packages/genkit/src/genkit/_ai/_generate.py
  py/packages/genkit/tests/genkit/ai/generate_test.py
Owners: @pavelgj, @yesudeep

block allowing objects
  py/packages/genkit/src/genkit/_ai/_generate.py
  py/packages/genkit/src/genkit/_ai/_tools.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
Owners: @pavelgj, @yesudeep

fix: resolve ruff lint errors in _generate.py and _tools.py
  py/packages/genkit/src/genkit/_ai/_generate.py
  py/packages/genkit/src/genkit/_ai/_tools.py
Owners: @pavelgj, @yesudeep

revert
  py/packages/genkit/src/genkit/_ai/_tools.py
Owners: @pavelgj, @yesudeep

only support type=object or no arg types
  py/packages/genkit/src/genkit/_ai/_tools.py
  py/plugins/google-genai/test/models/googlegenai_gemini_test.py
Owners: @pavelgj, @yesudeep

format
  py/packages/genkit/src/genkit/_ai/_tools.py
Owners: @pavelgj, @yesudeep

Update _generate.py
  py/packages/genkit/src/genkit/_ai/_generate.py
Owners: @pavelgj, @yesudeep

Update _generate.py
  py/packages/genkit/src/genkit/_ai/_generate.py
Owners: @pavelgj, @yesudeep

chore(py): flatten prompt opts to kwargs
  py/packages/genkit/src/genkit/_ai/_prompt.py
  py/packages/genkit/tests/genkit/ai/prompt_test.py
Owners: @pavelgj, @yesudeep

chore(py): Refactor tools
  py/packages/genkit/src/genkit/__init__.py
  py/packages/genkit/src/genkit/_ai/_aio.py
  py/packages/genkit/src/genkit/_ai/_generate.py
  py/packages/genkit/src/genkit/_ai/_prompt.py
  py/packages/genkit/src/genkit/_ai/_tools.py
  py/packages/genkit/src/genkit/_core/_flow.py
  py/packages/genkit/tests/genkit/ai/genkit_api_test.py
  py/samples/dynamic-tools/README.md
  py/samples/dynamic-tools/pyproject.toml
  py/samples/dynamic-tools/src/main.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

fix(js/genkit): added logic to the missing parts
  js/ai/src/prompt.ts
  js/genkit/src/genkit.ts
Owners: @pavelgj

adderss comments
  py/packages/genkit/src/genkit/_ai/_generate.py
  py/packages/genkit/src/genkit/_ai/_prompt.py
  py/packages/genkit/src/genkit/_ai/_tools.py
  py/packages/genkit/src/genkit/_core/_action.py
Owners: @pavelgj, @yesudeep

format
  py/packages/genkit/src/genkit/_ai/_prompt.py
Owners: @pavelgj, @yesudeep

revert tool_responses change
  py/packages/genkit/src/genkit/__init__.py
  py/packages/genkit/src/genkit/_ai/_prompt.py
Owners: @pavelgj, @yesudeep

revert
  py/packages/genkit/src/genkit/__init__.py
  py/packages/genkit/src/genkit/_ai/_aio.py
  py/packages/genkit/src/genkit/_ai/_prompt.py
  py/packages/genkit/tests/genkit/veneer/veneer_test.py
  py/samples/tool-interrupts/src/main.py
Owners: @pavelgj, @yesudeep

revert
  py/packages/genkit/src/genkit/__init__.py
  py/packages/genkit/src/genkit/_ai/_aio.py
  py/packages/genkit/src/genkit/_ai/_generate.py
  py/packages/genkit/src/genkit/_ai/_prompt.py
  py/packages/genkit/tests/genkit/veneer/veneer_test.py
  py/samples/tool-interrupts/src/main.py
Owners: @pavelgj, @yesudeep

more revert
  py/packages/genkit/src/genkit/_ai/_generate.py
  py/packages/genkit/src/genkit/_ai/_prompt.py
Owners: @pavelgj, @yesudeep

revert
  py/packages/genkit/src/genkit/_ai/_prompt.py
Owners: @pavelgj, @yesudeep

fixes
  py/packages/genkit/src/genkit/_ai/_prompt.py
  py/packages/genkit/tests/genkit/ai/prompt_test.py
Owners: @pavelgj, @yesudeep

suppress ty
  py/packages/genkit/src/genkit/_ai/_prompt.py
Owners: @pavelgj, @yesudeep

bug fixing attempt-1
  genkit-tools/common/src/types/retriever.ts
  js/ai/src/retriever.ts
Owners: @pavelgj

fix: address review feedback for options schema and validation
  genkit-tools/common/src/types/retriever.ts
  js/ai/src/retriever.ts
Owners: @pavelgj

fix(js/ai): restore proper options schema and validation
  genkit-tools/common/src/types/retriever.ts
  js/ai/src/retriever.ts
Owners: @pavelgj

Update anthropic.go
  go/plugins/vertexai/modelgarden/anthropic.go
Owners: @apascal07

Update go/plugins/vertexai/modelgarden/anthropic.go
  go/plugins/vertexai/modelgarden/anthropic.go
Owners: @apascal07

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj
