Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj

fix
  py/packages/genkit/tests/genkit/core/reflection_v2_test.py
Owners: @pavelgj, @yesudeep

do not apply middleware to countTokens
  js/ai/src/generate.ts
  js/ai/src/model-types.ts
  js/ai/src/model.ts
  js/ai/tests/generate/generate_test.ts
Owners: @pavelgj

also remove unused 'use' from getTokenCounterMiddleware
  js/ai/src/model.ts
Owners: @pavelgj

remove flush_tracing()
  py/packages/genkit/src/genkit/_ai/_aio.py
  py/packages/genkit/tests/genkit/ai/genkit_api_test.py
Owners: @pavelgj, @yesudeep

simplify on_trace_start to be async
  py/packages/genkit/src/genkit/_core/_action.py
  py/packages/genkit/src/genkit/_core/_reflection.py
  py/packages/genkit/tests/genkit/core/endpoints/reflection_test.py
  py/packages/genkit/tests/genkit/core/reflection_v2_test.py
Owners: @pavelgj, @yesudeep

Update README.md
  go/README.md
Owners: @apascal07

fix(js/core): type validation responses and cache validators
  js/core/src/schema.ts
Owners: @pavelgj

chore(js/core): rename ajvErrorToValidationErrorDetail
  js/core/src/schema.ts
Owners: @pavelgj

wire up Genkit to reflection server v2
  py/packages/genkit/src/genkit/_ai/_aio.py
Owners: @pavelgj, @yesudeep

Clean up implementation
  py/packages/genkit/src/genkit/_ai/_aio.py
  py/packages/genkit/src/genkit/_ai/_generate.py
  py/packages/genkit/src/genkit/_ai/_prompt.py
  py/packages/genkit/src/genkit/_core/_middleware/_augment_with_context.py
  py/packages/genkit/src/genkit/_core/_middleware/_base.py
  py/packages/genkit/src/genkit/_core/_middleware/_generate_middleware.py
  py/packages/genkit/src/genkit/_core/_middleware/_runtime.py
  py/packages/genkit/src/genkit/_core/_plugin.py
  py/packages/genkit/src/genkit/_core/_reflection.py
  py/packages/genkit/src/genkit/_core/_typing.py
  py/packages/genkit/src/genkit/middleware/__init__.py
  py/packages/genkit/tests/genkit/ai/ai_plugin_test.py
  py/packages/genkit/tests/genkit/ai/generate_test.py
  py/packages/genkit/tests/genkit/veneer/veneer_test.py
  py/samples/middleware/src/main.py
  py/tools/schema_to_typing/schema_to_typing.py
Owners: @pavelgj, @yesudeep

refactored filesystem middleware to be more robust
  go/plugins/middleware/filesystem.go
  go/plugins/middleware/filesystem_test.go
  go/samples/basic-middleware/filesystem/main.go
Owners: @apascal07

filesystem middleware: address PR review
  go/plugins/middleware/filesystem.go
Owners: @apascal07

more review feedback fixes
  go/plugins/middleware/filesystem.go
Owners: @apascal07

feat(js/plugins/mcp): Support for tool.v2
  js/ai/src/index.ts
  js/core/src/dynamic-action-provider.ts
  js/genkit/src/common.ts
  js/genkit/src/tool.ts
  js/plugins/google-genai/src/common/converters.ts
  js/plugins/google-genai/src/googleai/client.ts
  js/plugins/mcp/package.json
  js/plugins/mcp/src/client/client.ts
  js/plugins/mcp/src/client/host.ts
  js/plugins/mcp/src/util/tools.ts
  js/plugins/mcp/tests/host_test.ts
  js/pnpm-lock.yaml
  js/testapps/mcp/package.json
  js/testapps/mcp/src/http-server.ts
  js/testapps/mcp/src/in-memory-server.ts
  js/testapps/mcp/src/index-v2.ts
Owners: @pavelgj

feat(js/plugins/mcp): support for multipart tools
  js/ai/src/index.ts
  js/genkit/src/common.ts
  js/genkit/src/tool.ts
  js/plugins/google-genai/src/common/converters.ts
  js/plugins/google-genai/tests/common/converters_test.ts
  js/plugins/mcp/package.json
  js/plugins/mcp/src/client/client.ts
  js/plugins/mcp/src/client/host.ts
  js/plugins/mcp/src/index.ts
  js/plugins/mcp/src/util/tools.ts
  js/plugins/mcp/tests/host_test.ts
  js/pnpm-lock.yaml
  js/testapps/mcp/package.json
  js/testapps/mcp/src/in-memory-server.ts
  js/testapps/mcp/src/index-v2.ts
Owners: @pavelgj

feat(js/plugins/google-genai): PayGo support for priority and flex (#5191)
  js/plugins/google-genai/src/common/types.ts
  js/plugins/google-genai/src/vertexai/client.ts
  js/plugins/google-genai/src/vertexai/gemini.ts
  js/plugins/google-genai/src/vertexai/types.ts
  js/plugins/google-genai/tests/vertexai/gemini_test.ts
  js/testapps/basic-gemini/src/index-vertexai.ts
Owners: @pavelgj

Update README.md
  go/README.md
Owners: @apascal07

feat(go/plugins/middleware): rework filesystem middleware (#5202)
  go/README.md
  go/plugins/middleware/filesystem.go
  go/plugins/middleware/filesystem_test.go
  go/samples/basic-middleware/filesystem/main.go
Owners: @apascal07

feat(js/plugins/google-genai): Support for veo-3.1-lite-generate-001 (#5190)
  js/plugins/google-genai/src/vertexai/veo.ts
  js/testapps/basic-gemini/src/index-vertexai.ts
Owners: @pavelgj

fix(go/plugins/googlegenai): handle multi-field response parts (#5198)
  go/plugins/googlegenai/gemini.go
  go/plugins/googlegenai/gemini_test.go
Owners: @apascal07

improvements
  go/plugins/googlegenai/schema.go
  go/plugins/googlegenai/schema_test.go
Owners: @apascal07

fix(go/plugins/googlegenai): fixed nullable in array type in JSON schema (#5162)
  go/plugins/googlegenai/schema.go
  go/plugins/googlegenai/schema_test.go
Owners: @apascal07

address comments
  py/packages/genkit/src/genkit/_ai/_aio.py
  py/packages/genkit/src/genkit/_ai/_generate.py
  py/packages/genkit/src/genkit/_ai/_prompt.py
  py/packages/genkit/src/genkit/_core/_action.py
  py/packages/genkit/src/genkit/_core/_dap.py
  py/packages/genkit/src/genkit/_core/_reflection.py
  py/packages/genkit/src/genkit/_core/_registry.py
  py/packages/genkit/tests/genkit/ai/ai_registry_test.py
  py/packages/genkit/tests/genkit/ai/dap_test.py
  py/packages/genkit/tests/genkit/core/endpoints/reflection_test.py
  py/packages/genkit/tests/genkit/core/registry_test.py
Owners: @pavelgj, @yesudeep

Drop MiddlewareFnOptions
  py/packages/genkit/src/genkit/_ai/_generate.py
  py/packages/genkit/src/genkit/_core/_middleware/_base.py
  py/packages/genkit/src/genkit/_core/_middleware/_generate_middleware.py
  py/packages/genkit/src/genkit/middleware/__init__.py
  py/packages/genkit/tests/genkit/ai/ai_plugin_test.py
Owners: @pavelgj, @yesudeep

format
  py/packages/genkit/src/genkit/_ai/_generate.py
  py/packages/genkit/src/genkit/_core/_registry.py
Owners: @pavelgj, @yesudeep

feat(ai): return previous status from session flow abort
  js/ai/src/session-flow.ts
  js/ai/tests/session-flow_test.ts
Owners: @pavelgj

dynamic tool support
  py/packages/genkit/src/genkit/_ai/_aio.py
  py/packages/genkit/src/genkit/_ai/_generate.py
  py/packages/genkit/src/genkit/_ai/_prompt.py
  py/packages/genkit/src/genkit/_core/_registry.py
  py/packages/genkit/tests/genkit/ai/generate_test.py
Owners: @pavelgj, @yesudeep

remove legacy code
  py/packages/genkit/src/genkit/_core/_registry.py
Owners: @pavelgj, @yesudeep

refactor DAP _do_fetch() method
  py/packages/genkit/src/genkit/_core/_dap.py
Owners: @pavelgj, @yesudeep

refactor
  py/packages/genkit/src/genkit/_core/_dap.py
  py/packages/genkit/src/genkit/_core/_registry.py
Owners: @pavelgj, @yesudeep

add tool surface
  py/packages/genkit/src/genkit/__init__.py
  py/packages/genkit/src/genkit/_ai/_tools.py
Owners: @pavelgj, @yesudeep

return transformed dap value and store dap action name on child actions
  py/packages/genkit/src/genkit/_core/_action.py
  py/packages/genkit/src/genkit/_core/_dap.py
  py/packages/genkit/src/genkit/_core/_registry.py
  py/packages/genkit/tests/genkit/ai/dap_test.py
Owners: @pavelgj, @yesudeep

fix: prompt metadata for middleware and tools
  js/ai/src/prompt.ts
  js/ai/tests/prompt/prompt_test.ts
  js/genkit/tests/prompts/test.variant.prompt
  js/genkit/tests/prompts_test.ts
  js/pnpm-lock.yaml
  js/testapps/dev-ui-gallery/package.json
  js/testapps/dev-ui-gallery/prompts/agent.prompt
  js/testapps/dev-ui-gallery/src/genkit.ts
Owners: @pavelgj

fix(py): keep Google GenAI model discovery off the event loop
  py/packages/genkit-google-genai/src/genkit_google_genai/google.py
  py/packages/genkit-google-genai/tests/google_genai_plugin_test.py
Owners: @pavelgj, @yesudeep

test(py): avoid timing-dependent async discovery test
  py/packages/genkit-google-genai/tests/google_genai_plugin_test.py
Owners: @pavelgj, @yesudeep

fix(py): omit stream options from non-streaming OpenAI calls (#6297)
  py/packages/genkit-openai/src/genkit_openai/models/model.py
  py/packages/genkit-openai/tests/openai_model_test.py
Owners: @pavelgj, @yesudeep

fix(js/core): redact credential-shaped config keys from span attributes
  js/ai/tests/generate/telemetry-redaction_test.ts
  js/core/src/action.ts
  js/core/src/tracing/instrumentation.ts
  js/core/tests/instrumentation_test.ts
Owners: @pavelgj

fix(js/core): optimize redaction regex and update telemetryJsonString return type
  js/core/src/tracing/instrumentation.ts
Owners: @pavelgj

fix(py): use async Google GenAI model discovery
  py/packages/genkit-google-genai/src/genkit_google_genai/google.py
  py/packages/genkit-google-genai/tests/google_genai_plugin_test.py
Owners: @pavelgj, @yesudeep

fix(py): preserve Genkit source line endings
  py/packages/genkit-google-genai/src/genkit_google_genai/google.py
  py/packages/genkit-google-genai/tests/google_genai_plugin_test.py
Owners: @pavelgj, @yesudeep
