Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj

feat: Dynamic action resolver support
  js/core/src/plugin.ts
  js/core/src/registry.ts
  js/genkit/src/genkit.ts
  js/genkit/src/plugin.ts
Owners: @pavelgj

chore: fixed ruff linter
  py/packages/genkit/src/genkit/web/typing.py
  py/packages/genkit/tests/genkit/aio/channel_test.py
Owners: @pavelgj, @yesudeep

refactor(js): rename target to actionName etc.
  js/core/src/registry.ts
Owners: @pavelgj

refactor(js): format
  js/core/src/registry.ts
Owners: @pavelgj

chore(py/ai): expose generate action as action
  py/packages/genkit/src/genkit/ai/_base.py
  py/packages/genkit/src/genkit/blocks/generate.py
  py/packages/genkit/tests/genkit/blocks/generate_test.py
Owners: @pavelgj, @yesudeep

chore(py/ai): expose generate action as action (#2809)
  py/packages/genkit/src/genkit/ai/_base.py
  py/packages/genkit/src/genkit/blocks/generate.py
  py/packages/genkit/tests/genkit/blocks/generate_test.py
Owners: @pavelgj, @yesudeep

chore: address PR review comments
  py/packages/genkit/src/genkit/aio/_util.py
  py/packages/genkit/src/genkit/core/action/_util.py
  py/packages/genkit/src/genkit/web/typing.py
  py/packages/genkit/tests/genkit/core/extract_test.py
Owners: @pavelgj, @yesudeep

chore: address PR review comments
  py/packages/genkit/src/genkit/aio/_util.py
Owners: @pavelgj, @yesudeep

chore: address PR review comments
  py/packages/genkit/src/genkit/web/typing.py
Owners: @pavelgj, @yesudeep

enhace tool test cases
  go/plugins/googlegenai/googleai_live_test.go
Owners: @apascal07

test: marshal tool output to ensure json format
  go/plugins/googlegenai/googleai_live_test.go
Owners: @apascal07

chore: address PR review comments
  py/bin/sanitize_schema_typing.py
Owners: @pavelgj, @yesudeep

fix: comments
  py/packages/genkit/pyproject.toml
  py/packages/genkit/src/genkit/core/trace/__init__.py
  py/packages/genkit/src/genkit/core/trace/default_exporter.py
  py/packages/genkit/src/genkit/core/trace/types.py
  py/packages/genkit/src/genkit/core/tracing.py
  py/plugins/google-cloud/pyproject.toml
  py/plugins/google-cloud/src/genkit/plugins/google_cloud/telemetry/tracing.py
  py/samples/google-genai-context-caching/pyproject.toml
  py/uv.lock
Owners: @pavelgj, @yesudeep

fix: fmt
  py/packages/genkit/src/genkit/core/trace/__init__.py
  py/packages/genkit/src/genkit/core/trace/default_exporter.py
  py/packages/genkit/src/genkit/core/trace/types.py
  py/packages/genkit/src/genkit/core/tracing.py
  py/plugins/google-cloud/src/genkit/plugins/google_cloud/telemetry/tracing.py
Owners: @pavelgj, @yesudeep

fix: bump version in another PR
  py/packages/genkit/pyproject.toml
Owners: @pavelgj, @yesudeep

fix: use get_logger
  py/packages/genkit/src/genkit/core/trace/default_exporter.py
  py/packages/genkit/src/genkit/core/trace/types.py
  py/packages/genkit/src/genkit/core/tracing.py
  py/plugins/google-cloud/src/genkit/plugins/google_cloud/telemetry/tracing.py
Owners: @pavelgj, @yesudeep

feat(python): Integration of OTEL for GCP (#2791)
  py/packages/genkit/pyproject.toml
  py/packages/genkit/src/genkit/core/trace/__init__.py
  py/packages/genkit/src/genkit/core/trace/default_exporter.py
  py/packages/genkit/src/genkit/core/trace/types.py
  py/packages/genkit/src/genkit/core/tracing.py
  py/plugins/google-cloud/pyproject.toml
  py/plugins/google-cloud/src/genkit/plugins/google_cloud/telemetry/tracing.py
  py/samples/google-genai-context-caching/pyproject.toml
  py/samples/google-genai-hello/pyproject.toml
  py/samples/google-genai-hello/src/google_genai_hello.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

fix: point to main
  py/samples/google-genai-hello/pyproject.toml
Owners: @pavelgj, @yesudeep

feat(js/core): added trace information to action and flow contexts (#2806)
  js/core/src/action.ts
  js/core/src/flow.ts
  js/core/tests/action_test.ts
  js/core/tests/flow_test.ts
Owners: @pavelgj

refactor(js) as per review
  js/core/src/registry.ts
Owners: @pavelgj

feat(js): Dynamic action resolver support (#2807)
  js/core/src/plugin.ts
  js/core/src/registry.ts
  js/genkit/src/genkit.ts
  js/genkit/src/plugin.ts
Owners: @pavelgj

chore(go/plugins/googlegenai): bump `go-genai` sdk to v1.1.0 (#2802)
  go/go.mod
  go/go.sum
  go/plugins/googlegenai/gemini.go
Owners: @apascal07

fix(go/plugins/googlegenai): ignore response mime type if tools are present (#2794)
  go/plugins/googlegenai/gemini.go
  go/plugins/googlegenai/gemini_test.go
  go/plugins/googlegenai/googleai_live_test.go
Owners: @apascal07

feat(go): Add ollama vision support (#2795)
  go/plugins/ollama/ollama.go
  go/samples/ollama-vision/main.go
Owners: @apascal07

Update version.go
  go/internal/version.go
Owners: @apascal07

fix(go): remove colons from runtime filename
  genkit-tools/common/src/manager/manager.ts
  go/genkit/reflection.go
Owners: @pavelgj, @apascal07

update test cases with new go-genai types
  go/plugins/googlegenai/gemini_test.go
Owners: @apascal07

update test log
  go/plugins/googlegenai/gemini_test.go
Owners: @apascal07

fix(go/plugins/googlegenai): update test cases with new go-genai types (#2819)
  go/plugins/googlegenai/gemini_test.go
Owners: @apascal07

chore(go): update version (#2818)
  go/internal/version.go
Owners: @apascal07

chore: manually bump CLI version to 1.6.2
  genkit-tools/cli/package.json
  genkit-tools/common/package.json
  genkit-tools/telemetry-server/package.json
Owners: @pavelgj

chore: bump @genkit-ai/tools-common version to @genkit-ai/tools-common@1.7.0
  genkit-tools/common/package.json
Owners: @pavelgj

chore: bump genkit-cli version to genkit-cli@1.7.0
  genkit-tools/cli/package.json
Owners: @pavelgj

chore: bump @genkit-ai/telemetry-server version to @genkit-ai/telemetry-server@1.7.0
  genkit-tools/telemetry-server/package.json
Owners: @pavelgj

chore: bump @genkit-ai/core version to @genkit-ai/core@1.7.0
  js/core/package.json
Owners: @pavelgj

chore: bump @genkit-ai/ai version to @genkit-ai/ai@1.7.0
  js/ai/package.json
Owners: @pavelgj

chore: bump genkit version to genkit@1.7.0
  js/genkit/package.json
Owners: @pavelgj

chore: bump genkitx-chromadb version to genkitx-chromadb@1.7.0
  js/plugins/chroma/package.json
Owners: @pavelgj

chore: bump @genkit-ai/dev-local-vectorstore version to @genkit-ai/dev-local-vectorstore@1.7.0
  js/plugins/dev-local-vectorstore/package.json
Owners: @pavelgj

chore: bump @genkit-ai/evaluator version to @genkit-ai/evaluator@1.7.0
  js/plugins/evaluators/package.json
Owners: @pavelgj
