Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj

feat: Added plugin config, modified samples
  py/plugins/xai/src/genkit/plugins/xai/model_info.py
  py/plugins/xai/src/genkit/plugins/xai/models.py
  py/plugins/xai/src/genkit/plugins/xai/plugin.py
  py/plugins/xai/tests/xai_models_test.py
  py/pyproject.toml
  py/samples/deepseek-hello/src/main.py
  py/samples/xai-hello/src/main.py
Owners: @pavelgj, @yesudeep

fix(py): revised the flow and fixed ty errors
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/model_garden/llama.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/model_garden/mistral.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/model_garden/model_garden.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/model_garden/modelgarden_plugin.py
  py/plugins/vertex-ai/tests/model_garden/model_garden_test.py
  py/plugins/vertex-ai/tests/model_garden/modelgarden_plugin_test.py
  py/samples/model-garden/src/main.py
Owners: @pavelgj, @yesudeep

remove accumulated text logic
  genkit-tools/cli/src/commands/dev-test-model.ts
Owners: @pavelgj

fix(py): update mistral models and fixed ty errors
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/model_garden/client.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/model_garden/mistral.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/model_garden/modelgarden_plugin.py
  py/plugins/vertex-ai/tests/model_garden/model_garden_test.py
  py/samples/model-garden/pyproject.toml
  py/samples/model-garden/src/main.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

fix(py): Enable real-time telemetry and fix trace ID formatting (#4285)
  py/packages/genkit/src/genkit/core/action/_action.py
  py/packages/genkit/src/genkit/core/reflection.py
  py/packages/genkit/src/genkit/core/trace/default_exporter.py
  py/packages/genkit/src/genkit/core/tracing.py
  py/packages/genkit/tests/genkit/ai/genkit_api_test.py
  py/packages/genkit/tests/genkit/core/trace/default_exporter_test.py
Owners: @pavelgj, @yesudeep

feat: implemented reflection API v2
  docs/reflection-v2-protocol.md
  genkit-tools/cli/src/commands/start.ts
  genkit-tools/cli/src/utils/manager-utils.ts
  genkit-tools/common/package.json
  genkit-tools/common/src/eval/evaluate.ts
  genkit-tools/common/src/eval/validate.ts
  genkit-tools/common/src/manager/index.ts
  genkit-tools/common/src/manager/manager-v2.ts
  genkit-tools/common/src/manager/manager.ts
  genkit-tools/common/src/server/router.ts
  genkit-tools/common/src/server/server.ts
  genkit-tools/common/src/utils/eval.ts
  genkit-tools/common/tests/manager-v2_test.ts
  genkit-tools/common/tests/server_test.ts
  genkit-tools/pnpm-lock.yaml
  genkit-tools/telemetry-server/package.json
  genkit-tools/telemetry-server/src/index.ts
  js/core/package.json
  js/core/src/reflection-v2.ts
  js/core/src/reflection.ts
  js/core/tests/reflection-v2_test.ts
  js/pnpm-lock.yaml
Owners: @pavelgj

reflection api protocol cleanup
  docs/reflection-v2-protocol.md
Owners: @pavelgj

fmt
  js/core/package.json
  js/core/src/reflection.ts
Owners: @pavelgj

fix
  genkit-tools/cli/src/utils/manager-utils.ts
Owners: @pavelgj

fix build
  genkit-tools/cli/src/commands/dev-test-model.ts
  genkit-tools/cli/src/mcp/utils.ts
Owners: @pavelgj

Update genkit-tools/common/src/manager/manager-v2.ts
  genkit-tools/common/src/manager/manager-v2.ts
Owners: @pavelgj

fix: review comments
  genkit-tools/cli/src/commands/dev-test-model.ts
Owners: @pavelgj

feat: Add null checks and non-null assertions for runtime IDs and update `startManager` test call with new optional parameters.
  genkit-tools/cli/tests/commands/start_test.ts
  genkit-tools/common/src/manager/manager-v2.ts
Owners: @pavelgj

fmt
  genkit-tools/cli/src/mcp/utils.ts
  genkit-tools/common/src/manager/manager-v2.ts
Owners: @pavelgj

noop, testing CI
  py/packages/genkit/src/genkit/ai/_base_async.py
Owners: @pavelgj, @yesudeep

feat(go): implemented reflection api v2
  go/genkit/genkit.go
  go/genkit/reflection_v2.go
  go/genkit/reflection_v2_test.go
  go/go.mod
Owners: @apascal07

test(js/plugins/anthropic): add tests for runtime API key
  js/plugins/anthropic/tests/index_test.ts
  js/plugins/anthropic/tests/live_test.ts
Owners: @pavelgj

feat(cli): add streaming and reasoning to dev:test-model cmd (#4235)
  genkit-tools/cli/src/commands/dev-test-model.ts
  js/plugins/google-genai/tests/model-tests-tts.yaml
Owners: @pavelgj

feat(js/plugins/anthropic): lazily calculate API key at request time
  js/plugins/anthropic/src/index.ts
  js/plugins/anthropic/src/models.ts
  js/plugins/anthropic/src/runner/base.ts
  js/plugins/anthropic/src/runner/beta.ts
  js/plugins/anthropic/src/runner/stable.ts
  js/plugins/anthropic/src/types.ts
  js/plugins/anthropic/tests/index_test.ts
  js/plugins/anthropic/tests/live_test.ts
  js/plugins/anthropic/tests/stable_runner_test.ts
  js/testapps/anthropic/package.json
  js/testapps/anthropic/src/stable/per_request_api_key.ts
Owners: @pavelgj

fixes
  go/genkit/genkit.go
  go/genkit/reflection_v2.go
  go/genkit/reflection_v2_test.go
Owners: @apascal07

fix: review comments
  go/internal/base/json.go
Owners: @apascal07

fmt
  go/genkit/genkit.go
  go/genkit/reflection_v2.go
  go/genkit/reflection_v2_test.go
Owners: @apascal07

cleanup
  go/genkit/genkit.go
  go/genkit/reflection_v2.go
  go/genkit/reflection_v2_test.go
Owners: @apascal07

comment cleanup
  go/genkit/reflection_v2.go
Owners: @apascal07

fmt
  go/genkit/reflection_v2.go
Owners: @apascal07

refactor: remove redundant comments about mutex protection
  go/genkit/reflection_v2.go
Owners: @apascal07

test: add marshaler test
  go/internal/base/json_test.go
Owners: @apascal07

fix(js/plugin/compat-oai): Fix type overload shadowing bug for OpenAI models with specific suffixes (#4263)
  js/plugins/compat-oai/src/openai/index.ts
  js/testapps/compat-oai/src/index.ts
Owners: @pavelgj

fix(py): fix typo google_geai → google_genai in sample
  py/samples/google-genai-hello/src/main.py
Owners: @pavelgj, @yesudeep

fix(py): fix typo google_geai → google_genai in sample
  py/samples/google-genai-hello/src/main.py
Owners: @pavelgj, @yesudeep

feat(py): add generic types to Action class
  .github/workflows/python.yml
  py/packages/genkit/pyproject.toml
  py/packages/genkit/src/genkit/ai/_registry.py
  py/packages/genkit/src/genkit/blocks/formats/types.py
  py/packages/genkit/src/genkit/blocks/model.py
  py/packages/genkit/src/genkit/core/action/_action.py
  py/packages/genkit/src/genkit/core/action/_util.py
  py/packages/genkit/src/genkit/core/registry.py
  tests/test_typing_verification.py
  tests/typing/action_response_type.py
  tests/typing/flow_return_type.py
  tests/typing/input_type.py
  tests/typing/mypy.ini
  tests/typing/negative_tests.py
  tests/typing/no_input_flow.py
  tests/typing/pyrightconfig.json
  tests/typing/pyrightconfig.negative.json
  tests/typing/stream_type.py
  tests/typing/tool_return_type.py
  tests/typing/unparameterized_action.py
Owners: @pavelgj, @yesudeep

feat(py): add generic types to Action class
  .github/workflows/python.yml
  py/packages/genkit/pyproject.toml
  py/packages/genkit/src/genkit/ai/_registry.py
  py/packages/genkit/src/genkit/blocks/formats/types.py
  py/packages/genkit/src/genkit/blocks/model.py
  py/packages/genkit/src/genkit/core/action/_action.py
  py/packages/genkit/src/genkit/core/action/_util.py
  py/packages/genkit/src/genkit/core/registry.py
  tests/test_typing_verification.py
  tests/typing/action_response_type.py
  tests/typing/flow_return_type.py
  tests/typing/input_type.py
  tests/typing/mypy.ini
  tests/typing/negative_tests.py
  tests/typing/no_input_flow.py
  tests/typing/pyrightconfig.json
  tests/typing/pyrightconfig.negative.json
  tests/typing/stream_type.py
  tests/typing/tool_return_type.py
  tests/typing/unparameterized_action.py
Owners: @pavelgj, @yesudeep

refactor(py): clean up API surface and barrel exports
  py/packages/genkit/src/genkit/__init__.py
  py/packages/genkit/src/genkit/ai/__init__.py
  py/packages/genkit/src/genkit/types/__init__.py
Owners: @pavelgj, @yesudeep

refactor(py): clean up API surface and barrel exports
  py/packages/genkit/src/genkit/__init__.py
  py/packages/genkit/src/genkit/ai/__init__.py
  py/packages/genkit/src/genkit/types/__init__.py
Owners: @pavelgj, @yesudeep

refactor(py): fix internal imports for type checker compliance
  py/packages/genkit/src/genkit/ai/_aio.py
  py/packages/genkit/src/genkit/ai/_base_async.py
  py/packages/genkit/src/genkit/blocks/generate.py
  py/packages/genkit/src/genkit/core/tracing.py
Owners: @pavelgj, @yesudeep

refactor(py): fix internal imports for type checker compliance
  py/packages/genkit/src/genkit/ai/_aio.py
  py/packages/genkit/src/genkit/ai/_base_async.py
  py/packages/genkit/src/genkit/blocks/generate.py
  py/packages/genkit/src/genkit/core/tracing.py
Owners: @pavelgj, @yesudeep

fix(go/plugins/mcp): capture server errors
  go/plugins/mcp/client.go
  go/plugins/mcp/prompts.go
  go/plugins/mcp/resources.go
  go/plugins/mcp/tools.go
Owners: @apascal07

fix: log verbosity
  go/plugins/mcp/client.go
Owners: @apascal07

fix(py): add @override decorators and explicit unused return handling
  py/packages/genkit/src/genkit/ai/_aio.py
  py/packages/genkit/src/genkit/ai/_base_async.py
  py/packages/genkit/src/genkit/ai/_runtime.py
  py/packages/genkit/src/genkit/aio/channel.py
  py/packages/genkit/src/genkit/aio/loop.py
  py/packages/genkit/src/genkit/blocks/document.py
  py/packages/genkit/src/genkit/blocks/formats/array.py
  py/packages/genkit/src/genkit/blocks/formats/enum.py
  py/packages/genkit/src/genkit/blocks/formats/json.py
  py/packages/genkit/src/genkit/blocks/formats/jsonl.py
  py/packages/genkit/src/genkit/blocks/formats/text.py
  py/packages/genkit/src/genkit/blocks/generate.py
  py/packages/genkit/src/genkit/blocks/prompt.py
  py/packages/genkit/src/genkit/blocks/retriever.py
  py/packages/genkit/src/genkit/core/action/_action.py
  py/packages/genkit/src/genkit/core/reflection.py
  py/packages/genkit/src/genkit/core/trace/adjusting_exporter.py
  py/packages/genkit/src/genkit/core/trace/default_exporter.py
  py/packages/genkit/src/genkit/core/trace/realtime_processor.py
  py/packages/genkit/src/genkit/lang/deprecations.py
  py/packages/genkit/src/genkit/session/in_memory.py
  py/packages/genkit/src/genkit/web/manager/_adapters.py
  py/packages/genkit/src/genkit/web/manager/_manager.py
  py/packages/genkit/src/genkit/web/manager/_server.py
  py/packages/genkit/src/genkit/web/manager/signals.py
Owners: @pavelgj, @yesudeep

fix(py): add @override decorators and explicit unused return handling
  py/packages/genkit/src/genkit/ai/_aio.py
  py/packages/genkit/src/genkit/ai/_base_async.py
  py/packages/genkit/src/genkit/ai/_runtime.py
  py/packages/genkit/src/genkit/aio/channel.py
  py/packages/genkit/src/genkit/aio/loop.py
  py/packages/genkit/src/genkit/blocks/document.py
  py/packages/genkit/src/genkit/blocks/formats/array.py
  py/packages/genkit/src/genkit/blocks/formats/enum.py
  py/packages/genkit/src/genkit/blocks/formats/json.py
  py/packages/genkit/src/genkit/blocks/formats/jsonl.py
  py/packages/genkit/src/genkit/blocks/formats/text.py
  py/packages/genkit/src/genkit/blocks/generate.py
  py/packages/genkit/src/genkit/blocks/prompt.py
  py/packages/genkit/src/genkit/blocks/retriever.py
  py/packages/genkit/src/genkit/core/action/_action.py
  py/packages/genkit/src/genkit/core/reflection.py
  py/packages/genkit/src/genkit/core/trace/adjusting_exporter.py
  py/packages/genkit/src/genkit/core/trace/default_exporter.py
  py/packages/genkit/src/genkit/core/trace/realtime_processor.py
  py/packages/genkit/src/genkit/lang/deprecations.py
  py/packages/genkit/src/genkit/session/in_memory.py
  py/packages/genkit/src/genkit/web/manager/_adapters.py
  py/packages/genkit/src/genkit/web/manager/_manager.py
  py/packages/genkit/src/genkit/web/manager/_server.py
  py/packages/genkit/src/genkit/web/manager/signals.py
Owners: @pavelgj, @yesudeep
