Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

feat(cli/update): add some tests
  genkit-tools/cli/src/commands/update.ts
  genkit-tools/cli/tests/commands/update_test.ts
Owners: @pavelgj

genkitPluginV2
  js/genkit/src/genkit.ts
  js/genkit/src/plugin.ts
  js/genkit/tests/plugins_test.ts
Owners: @pavelgj

better v2 check
  js/genkit/src/genkit.ts
  js/genkit/src/plugin.ts
Owners: @pavelgj

updated to have custom fields
  genkit-tools/common/src/eval/evaluate.ts
  genkit-tools/common/src/types/eval.ts
  js/ai/src/evaluator.ts
  js/testapps/evals/prompts/hello.prompt
Owners: @pavelgj

Ensure genkit tools model is in sync
  genkit-tools/common/src/types/model.ts
Owners: @pavelgj

feat(genkit-tools/cli): Support Firebase Studio, fix .md lookup
  genkit-tools/cli/src/commands/init-ai-tools/command.ts
  genkit-tools/cli/src/commands/init-ai-tools/utils.ts
Owners: @pavelgj

feat(genkit-tools/cli): Support Firebase Studio, fix .md lookup
  genkit-tools/cli/src/commands/init-ai-tools/ai-tools/studio.ts
Owners: @pavelgj

refactor(js): refactored dynamic action variants of models, embedders, background models, etc. into separate fns (#3417)
  js/ai/src/embedder.ts
  js/ai/src/evaluator.ts
  js/ai/src/model.ts
  js/ai/src/prompt.ts
  js/ai/src/reranker.ts
  js/ai/src/resource.ts
  js/ai/src/tool.ts
  js/ai/tests/model/model_test.ts
  js/ai/tests/reranker/reranker_test.ts
  js/core/src/background-action.ts
  js/core/src/flow.ts
  js/core/src/index.ts
Owners: @pavelgj

feat(js): new plugin API that does not rely on the registry (#3427)
  js/core/src/background-action.ts
  js/core/src/index.ts
  js/genkit/src/genkit.ts
  js/genkit/src/plugin.ts
  js/genkit/tests/plugins_test.ts
Owners: @pavelgj

prettier.
  genkit-tools/common/src/manager/manager.ts
  genkit-tools/common/src/playground/starter.ts
  genkit-tools/common/src/utils/utils.ts
Owners: @pavelgj

feat(cli/update): added more tests and improved robustness to error
  genkit-tools/cli/src/commands/update.ts
  genkit-tools/cli/tests/commands/update_test.ts
Owners: @pavelgj

Address comments
  go/ai/generate.go
  go/ai/generate_test.go
  go/ai/option.go
  go/ai/resource.go
  go/core/resource.go
  go/genkit/resource.go
  go/genkit/resource_test.go
Owners: @apascal07

format
  go/genkit/resource_test.go
Owners: @apascal07

fix .md path, feedback
  genkit-tools/cli/src/commands/genkit-docs.ts
  genkit-tools/cli/src/commands/init-ai-tools/command.ts
  genkit-tools/cli/src/commands/init-ai-tools/utils.ts
Owners: @pavelgj

fix
  go/ai/generate.go
  go/ai/generate_test.go
  go/ai/option.go
Owners: @apascal07

fix
  genkit-tools/cli/src/commands/init-ai-tools/utils.ts
Owners: @pavelgj

build typing schemas
  genkit-tools/genkit-schema.json
  py/packages/genkit/src/genkit/core/typing.py
Owners: @pavelgj, @yesudeep

fix py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/openai_plugin.py
  py/plugins/compat-oai/tests/test_plugin.py
Owners: @pavelgj, @yesudeep

Format updates
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/openai_plugin.py
  py/plugins/compat-oai/tests/test_plugin.py
Owners: @pavelgj, @yesudeep

ignore toml files for license check
  bin/check_license
Owners: @pavelgj

add toml and nix
  bin/check_license
Owners: @pavelgj

Auto-gen
  go/ai/document.go
  go/ai/gen.go
  go/ai/generate.go
  go/core/schemas.config
Owners: @apascal07, @pavelgj

fix
  go/core/schemas.config
Owners: @pavelgj

feat(js): allow naming generates (#3416)
  bin/check_license
  genkit-tools/common/src/types/model.ts
  genkit-tools/genkit-schema.json
  js/ai/src/generate.ts
  js/ai/src/generate/action.ts
  js/ai/src/model-types.ts
  js/ai/tests/generate/generate_test.ts
  js/testapps/basic-gemini/src/index.ts
  py/packages/genkit/src/genkit/core/typing.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/openai_plugin.py
  py/plugins/compat-oai/tests/test_plugin.py
Owners: @pavelgj, @yesudeep

fix(js/plugin): added init function to plugin v2
  js/ai/src/embedder.ts
  js/genkit/src/genkit.ts
  js/genkit/src/plugin.ts
  js/genkit/tests/plugins_test.ts
Owners: @pavelgj

refactor(js/plugin/compat-oai): migrate compat-oai plugin to v2 plugin API
  js/plugins/compat-oai/src/audio.ts
  js/plugins/compat-oai/src/deepseek/index.ts
  js/plugins/compat-oai/src/embedder.ts
  js/plugins/compat-oai/src/image.ts
  js/plugins/compat-oai/src/index.ts
  js/plugins/compat-oai/src/model.ts
  js/plugins/compat-oai/src/openai/index.ts
  js/plugins/compat-oai/src/xai/index.ts
  js/plugins/compat-oai/tests/openai_test.ts
  js/testapps/compat-oai/src/index.ts
Owners: @pavelgj

refactor
  go/ai/generate.go
  go/ai/generate_test.go
  go/ai/resource.go
Owners: @apascal07

regen
  go/ai/gen.go
Owners: @apascal07

move Resource to commongenoptions
  go/ai/generate.go
  go/ai/option.go
Owners: @apascal07

refactor
  go/ai/option.go
  go/genkit/resource_test.go
Owners: @apascal07

fix tests
  js/plugins/compat-oai/tests/openai_test.ts
Owners: @pavelgj

feat(cli/update): when fail to update via package manager, suggest alternative
  genkit-tools/cli/src/commands/update.ts
  genkit-tools/cli/src/utils/global.ts
Owners: @pavelgj

feat(vertexai): add Claude 4 models support to Model Garden
  js/plugins/vertexai/src/modelgarden/anthropic.ts
Owners: @pavelgj

fix: export Claude 4 models from modelgarden index
  js/plugins/vertexai/src/modelgarden/index.ts
Owners: @pavelgj

feat(cli/update): add update alternative for failed binary update
  genkit-tools/cli/src/commands/update.ts
Owners: @pavelgj

chore: format
  genkit-tools/cli/src/commands/update.ts
Owners: @pavelgj

feat(genkit-tools/cli): New command for Genkit integration with AI tools (#3388)
  genkit-tools/cli/context/GENKIT.md
  genkit-tools/cli/package.json
  genkit-tools/cli/src/cli.ts
  genkit-tools/cli/src/commands/init-ai-tools/ai-tools/claude.ts
  genkit-tools/cli/src/commands/init-ai-tools/ai-tools/gemini.ts
  genkit-tools/cli/src/commands/init-ai-tools/ai-tools/generic.ts
  genkit-tools/cli/src/commands/init-ai-tools/command.ts
  genkit-tools/cli/src/commands/init-ai-tools/constants.ts
  genkit-tools/cli/src/commands/init-ai-tools/index.ts
  genkit-tools/cli/src/commands/init-ai-tools/types.ts
  genkit-tools/cli/src/commands/init-ai-tools/utils.ts
  genkit-tools/common/package.json
  genkit-tools/common/src/utils/eval.ts
  genkit-tools/pnpm-lock.yaml
  js/pnpm-lock.yaml
Owners: @pavelgj

fix(cli/update): modify update notification silencing method
  genkit-tools/cli/src/cli.ts
  genkit-tools/cli/src/commands/config.ts
  genkit-tools/cli/src/commands/update.ts
  genkit-tools/cli/src/utils/config.ts
  genkit-tools/cli/tests/commands/update_test.ts
Owners: @pavelgj

fix(genkit-tools/cli): Fix failing e2e tests
  genkit-tools/cli/src/commands/init-ai-tools/ai-tools/claude.ts
  genkit-tools/cli/src/commands/init-ai-tools/ai-tools/gemini.ts
  genkit-tools/cli/src/commands/init-ai-tools/ai-tools/generic.ts
  genkit-tools/cli/src/commands/init-ai-tools/command.ts
  genkit-tools/cli/src/commands/init-ai-tools/constants.ts
  genkit-tools/cli/src/commands/init-ai-tools/utils.ts
Owners: @pavelgj

fix(js/plugin): added init function to plugin v2 (#3431)
  js/ai/src/embedder.ts
  js/genkit/src/genkit.ts
  js/genkit/src/plugin.ts
  js/genkit/tests/plugins_test.ts
Owners: @pavelgj

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj
