Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

format
  genkit-tools/common/src/server/server.ts
  js/core/src/tracing/node-telemetry-provider.ts
Owners: @pavelgj

return error in non streaming case
  genkit-tools/common/src/manager/manager.ts
Owners: @pavelgj

chore(js/plugins): Deprecate the googleAI and vertexAI plugins... (#3916)
  js/plugins/googleai/src/common.ts
  js/plugins/googleai/src/embedder.ts
  js/plugins/googleai/src/gemini.ts
  js/plugins/googleai/src/imagen.ts
  js/plugins/googleai/src/index.ts
  js/plugins/googleai/src/list-models.ts
  js/plugins/googleai/src/predict.ts
  js/plugins/googleai/src/veo.ts
  js/plugins/vertexai/src/embedder.ts
  js/plugins/vertexai/src/gemini.ts
  js/plugins/vertexai/src/imagen.ts
  js/plugins/vertexai/src/index.ts
Owners: @pavelgj

type cleanup, cleanup deidentification
  js/plugins/google-cloud/src/model-armor.ts
  js/plugins/google-cloud/tests/model_armor_test.ts
Owners: @pavelgj

handle race condition, fix test
  genkit-tools/telemetry-server/src/file-trace-store.ts
  genkit-tools/telemetry-server/tests/broadcast_manager_test.ts
  genkit-tools/telemetry-server/tests/file_store_test.ts
Owners: @pavelgj

adjust error message
  js/testapps/model-armor/src/index.ts
Owners: @pavelgj

fix(plugins/vertexai): VertexAI plugin's anthropic sdk version conflicting with Anthropic plugin's anthropic sdk version
  js/package.json
  js/pnpm-lock.yaml
Owners: @pavelgj

feat(js/plugins/google-cloud): implemented model armor middleware (#3904)
  js/plugins/google-cloud/README.md
  js/plugins/google-cloud/package.json
  js/plugins/google-cloud/src/model-armor.ts
  js/plugins/google-cloud/tests/model_armor_test.ts
  js/pnpm-lock.yaml
  js/testapps/model-armor/package.json
  js/testapps/model-armor/src/index.ts
  js/testapps/model-armor/tsconfig.json
Owners: @pavelgj

fix out of date Go code and regenerate generate_schema_typing file shown in github CI failure
  go/ai/gen.go
Owners: @apascal07

change embedder.ts file back to original version due to CI failing
  genkit-tools/common/src/types/embedder.ts
Owners: @pavelgj

undo py changes
  genkit-tools/common/src/types/model.ts
  genkit-tools/genkit-schema.json
Owners: @pavelgj

py
  py/packages/genkit/src/genkit/core/typing.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

feat(js/ai): added support for model middleware that can manipulate the stream and context (#3903)
  js/ai/src/generate.ts
  js/ai/src/generate/action.ts
  js/ai/src/model.ts
  js/ai/tests/generate/generate_test.ts
  js/genkit/src/model.ts
Owners: @pavelgj

uv lock
  py/uv.lock
Owners: @pavelgj, @yesudeep

pass enableRealtimeTelemetry in RuntimeManager, control whether to send trace ID in headers
  genkit-tools/cli/src/utils/manager-utils.ts
  genkit-tools/common/src/manager/manager.ts
  genkit-tools/common/src/server/server.ts
Owners: @pavelgj

fix(googleai,vertexai): support thoughtSignature in fromGeminiPart (#3920)
  js/plugins/googleai/src/gemini.ts
  js/plugins/vertexai/src/gemini.ts
Owners: @pavelgj

feat(py): add embedder reference support matching Go SDK
  py/packages/genkit/src/genkit/ai/_aio.py
  py/packages/genkit/src/genkit/ai/_registry.py
  py/packages/genkit/src/genkit/blocks/embedding.py
  py/packages/genkit/tests/genkit/blocks/embedding_test.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/openai_plugin.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/google-genai/test/test_google_plugin.py
  py/plugins/ollama/src/genkit/plugins/ollama/plugin_api.py
  py/plugins/ollama/tests/test_plugin_api.py
Owners: @pavelgj, @yesudeep

feat(js/plugin/compat-oai): add support to input pdfs or base64 files
  js/plugins/compat-oai/src/model.ts
  js/plugins/compat-oai/tests/compat_oai_test.ts
  js/testapps/compat-oai/src/index.ts
Owners: @pavelgj

fix(go): defer template rendering in LoadPrompt to execution time
  go/ai/prompt.go
  go/ai/prompt_test.go
Owners: @apascal07

feat(js/core): DAP expansion: Dynamic Actions are now expanded in the action list
  js/core/src/dynamic-action-provider.ts
  js/core/src/registry.ts
  js/core/tests/dynamic-action-provider_test.ts
  js/core/tests/registry_test.ts
Owners: @pavelgj

chore(deps): use dotpromptz version 0.1.3 from pypi
  py/pyproject.toml
  py/uv.lock
Owners: @pavelgj, @yesudeep

review feedback
  js/core/src/dynamic-action-provider.ts
  js/core/tests/dynamic-action-provider_test.ts
Owners: @pavelgj

formatting
  js/core/src/dynamic-action-provider.ts
Owners: @pavelgj

chore(deps): use dotpromptz version 0.1.3 from pypi (#3928)
  py/pyproject.toml
  py/uv.lock
Owners: @pavelgj, @yesudeep

Fixed generate action structured output + prompt variants.
  go/ai/formatter.go
  go/ai/prompt.go
  go/ai/prompt_test.go
Owners: @apascal07

fix
  genkit-tools/cli/src/mcp/util.ts
Owners: @pavelgj

rename to early trace id
  genkit-tools/common/src/manager/manager.ts
Owners: @pavelgj

Update js/testapps/flow-sample1/src/index.ts
  js/testapps/flow-sample1/src/index.ts
Owners: @pavelgj

Update js/testapps/flow-sample1/src/index.ts
  js/testapps/flow-sample1/src/index.ts
Owners: @pavelgj

Update js/testapps/flow-sample1/src/index.ts
  js/testapps/flow-sample1/src/index.ts
Owners: @pavelgj

Update js/testapps/flow-sample1/src/index.ts
  js/testapps/flow-sample1/src/index.ts
Owners: @pavelgj

Update js/testapps/flow-sample1/src/index.ts
  js/testapps/flow-sample1/src/index.ts
Owners: @pavelgj

Update js/testapps/flow-sample1/src/index.ts
  js/testapps/flow-sample1/src/index.ts
Owners: @pavelgj

Update js/testapps/flow-sample1/src/index.ts
  js/testapps/flow-sample1/src/index.ts
Owners: @pavelgj

pass args directly
  genkit-tools/common/src/server/server.ts
Owners: @pavelgj

format
  js/testapps/flow-sample1/src/index.ts
Owners: @pavelgj

feat(py): Implement Anthropic Plugin
  py/plugins/anthropic/LICENSE
  py/plugins/anthropic/README.md
  py/plugins/anthropic/pyproject.toml
  py/plugins/anthropic/src/genkit/plugins/anthropic/__init__.py
  py/plugins/anthropic/src/genkit/plugins/anthropic/model_info.py
  py/plugins/anthropic/src/genkit/plugins/anthropic/models.py
  py/plugins/anthropic/src/genkit/plugins/anthropic/plugin.py
  py/plugins/anthropic/src/genkit/py.typed
  py/plugins/anthropic/tests/__init__.py
  py/plugins/anthropic/tests/test_models.py
  py/plugins/anthropic/tests/test_plugin.py
  py/pyproject.toml
  py/samples/anthropic-hello/README.md
  py/samples/anthropic-hello/pyproject.toml
  py/samples/anthropic-hello/src/anthropic_hello.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

feat(anthropic): effort param
  js/plugins/anthropic/package.json
  js/plugins/anthropic/src/models.ts
  js/plugins/anthropic/src/runner/beta.ts
Owners: @pavelgj

fix(anthropic): budgetTokens not working in UI
  js/plugins/anthropic/src/types.ts
Owners: @pavelgj

fix(js/plugins/google-genai): do not enforce API key when apiKey is set to `false`
  js/plugins/google-genai/src/googleai/client.ts
  js/plugins/google-genai/src/googleai/gemini.ts
  js/plugins/google-genai/src/googleai/imagen.ts
  js/plugins/google-genai/src/googleai/types.ts
  js/plugins/google-genai/src/googleai/utils.ts
  js/plugins/google-genai/tests/googleai/embedder_test.ts
  js/plugins/google-genai/tests/googleai/gemini_test.ts
  js/plugins/google-genai/tests/googleai/imagen_test.ts
  js/plugins/google-genai/tests/googleai/index_test.ts
  js/plugins/google-genai/tests/googleai/utils_test.ts
Owners: @pavelgj

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj
