Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj

Update mock response in askQuestion method
  js/testapps/flow-simple-ai/src/index.ts
Owners: @pavelgj

feat(js): add interrupt metadata to span attribs (#4989)
  js/ai/src/tool.ts
  js/testapps/flow-simple-ai/src/index.ts
Owners: @pavelgj

fix default model
  py/packages/genkit/src/genkit/_ai/_aio.py
Owners: @pavelgj, @yesudeep

fix
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
Owners: @pavelgj, @yesudeep

Apply suggestion from @gemini-code-assist[bot]
  py/packages/genkit/pyproject.toml
Owners: @pavelgj, @yesudeep

fix(js/plugins/anthropic): remove duplicated keys maxOutputTokens, stopSequences etc.
  js/plugins/anthropic/src/runner/beta.ts
  js/plugins/anthropic/src/runner/stable.ts
  js/plugins/anthropic/tests/beta_runner_test.ts
  js/plugins/anthropic/tests/stable_runner_test.ts
Owners: @pavelgj

fix(js/plugins/anthropic): remove duplicated keys maxOutputTokens, etc (#4988)
  js/plugins/anthropic/src/runner/beta.ts
  js/plugins/anthropic/src/runner/stable.ts
  js/plugins/anthropic/tests/beta_runner_test.ts
  js/plugins/anthropic/tests/stable_runner_test.ts
Owners: @pavelgj

fix prompt rendering bug
  py/packages/genkit/src/genkit/_core/_action.py
  py/packages/genkit/src/genkit/_core/_trace/_realtime_processor.py
Owners: @pavelgj, @yesudeep

fixes
  py/packages/genkit/src/genkit/_ai/_generate.py
  py/packages/genkit/src/genkit/_core/_action.py
  py/packages/genkit/src/genkit/_core/_trace/_suppress.py
Owners: @pavelgj, @yesudeep

fixes
  py/packages/genkit/src/genkit/_core/_trace/_realtime_processor.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

remove prompts as tools, added tests
  py/packages/genkit/src/genkit/_ai/_generate.py
  py/packages/genkit/src/genkit/_ai/_prompt.py
  py/packages/genkit/src/genkit/_ai/_tools.py
  py/packages/genkit/tests/genkit/ai/_tools_test.py
  py/packages/genkit/tests/genkit/ai/generate_helpers_test.py
  py/packages/genkit/tests/genkit/ai/generate_interrupt_resume_test.py
  py/packages/genkit/tests/genkit/ai/generate_test.py
  py/packages/genkit/tests/genkit/veneer/veneer_test.py
Owners: @pavelgj, @yesudeep

chore(py): bump versions to 0.5.2 and more fixes (#5005)
  py/bin/release_check
  py/packages/genkit/pyproject.toml
  py/packages/genkit/src/genkit/_ai/_aio.py
  py/packages/genkit/src/genkit/_ai/_generate.py
  py/packages/genkit/src/genkit/_core/_action.py
  py/packages/genkit/src/genkit/_core/_compat.py
  py/packages/genkit/src/genkit/_core/_reflection.py
  py/packages/genkit/src/genkit/_core/_trace/_default_exporter.py
  py/packages/genkit/src/genkit/_core/_trace/_realtime_processor.py
  py/packages/genkit/src/genkit/_core/_trace/_suppress.py
  py/packages/genkit/src/genkit/_core/_typing.py
  py/packages/genkit/tests/genkit/core/endpoints/reflection_test.py
  py/packages/genkit/tests/genkit/core/trace/default_exporter_test.py
  py/plugins/anthropic/pyproject.toml
  py/plugins/compat-oai/pyproject.toml
  py/plugins/evaluators/LICENSE
  py/plugins/evaluators/pyproject.toml
  py/plugins/fastapi/pyproject.toml
  py/plugins/flask/pyproject.toml
  py/plugins/google-cloud/pyproject.toml
  py/plugins/google-genai/pyproject.toml
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/plugins/ollama/pyproject.toml
  py/plugins/vertex-ai/pyproject.toml
  py/tools/schema_to_typing/schema_to_typing.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

clean up Tool interface
  py/packages/genkit/src/genkit/__init__.py
  py/packages/genkit/src/genkit/_ai/_aio.py
  py/packages/genkit/src/genkit/_ai/_generate.py
  py/packages/genkit/src/genkit/_ai/_prompt.py
  py/packages/genkit/src/genkit/_ai/_tools.py
  py/packages/genkit/src/genkit/_core/_flow.py
  py/packages/genkit/tests/genkit/ai/generate_helpers_test.py
  py/packages/genkit/tests/genkit/ai/generate_interrupt_resume_test.py
  py/packages/genkit/tests/genkit/ai/generate_test.py
  py/samples/tool-interrupts/src/approval_example.py
  py/samples/tool-interrupts/src/respond_example.py
Owners: @pavelgj, @yesudeep

clean up tool design
  py/packages/genkit/src/genkit/_ai/_aio.py
  py/packages/genkit/src/genkit/_ai/_generate.py
  py/packages/genkit/src/genkit/_ai/_prompt.py
  py/packages/genkit/src/genkit/_ai/_tools.py
  py/packages/genkit/src/genkit/_core/_registry.py
  py/packages/genkit/tests/genkit/ai/_tools_test.py
  py/packages/genkit/tests/genkit/ai/genkit_api_test.py
  py/packages/genkit/tests/genkit/ai/prompt_test.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/samples/dynamic-tools/README.md
  py/samples/dynamic-tools/pyproject.toml
  py/samples/dynamic-tools/src/main.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

docs: update default model reference from gemini-2.5-flash to gemini-flash-latest in code examples
  js/ai/src/generate-api.ts
Owners: @pavelgj

Update session_flow_test.go
  go/ai/exp/session_flow_test.go
Owners: @apascal07

feat(js/plugins/google-genai): Support for lyria 3 in vertexAI
  js/plugins/google-genai/src/common/types.ts
  js/plugins/google-genai/src/googleai/client.ts
  js/plugins/google-genai/src/googleai/gemini.ts
  js/plugins/google-genai/src/vertexai/client.ts
  js/plugins/google-genai/src/vertexai/gemini.ts
  js/plugins/google-genai/src/vertexai/lyria.ts
  js/plugins/google-genai/src/vertexai/utils.ts
  js/plugins/google-genai/tests/googleai/gemini_test.ts
  js/plugins/google-genai/tests/vertexai/lyria_test.ts
  js/testapps/basic-gemini/src/index-vertexai.ts
  js/testapps/basic-gemini/src/index.ts
Owners: @pavelgj

Publish fastAPI plugin
  .github/workflows/publish_python.yml
Owners: @pavelgj

chore(py): Publish fastAPI plugin (#5029)
  .github/workflows/publish_python.yml
Owners: @pavelgj

review changes
  js/plugins/google-genai/src/vertexai/client.ts
Owners: @pavelgj

fix(py): Fix pyproject.toml on fastapi plugin
  py/plugins/fastapi/pyproject.toml
Owners: @pavelgj, @yesudeep

fix(py): Fix pyproject.toml on fastapi plugin
  py/plugins/fastapi/pyproject.toml
Owners: @pavelgj, @yesudeep

fix
  py/plugins/fastapi/pyproject.toml
Owners: @pavelgj, @yesudeep

fix?
  py/plugins/fastapi/pyproject.toml
Owners: @pavelgj, @yesudeep

address comments
  py/packages/genkit/src/genkit/_ai/_aio.py
  py/packages/genkit/src/genkit/_ai/_generate.py
  py/packages/genkit/src/genkit/_ai/_prompt.py
  py/packages/genkit/src/genkit/_ai/_tools.py
  py/packages/genkit/tests/genkit/ai/_tools_test.py
  py/packages/genkit/tests/genkit/ai/generate_interrupt_resume_test.py
  py/packages/genkit/tests/genkit/ai/prompt_test.py
  py/samples/tool-interrupts/src/approval_example.py
  py/samples/tool-interrupts/src/respond_example.py
Owners: @pavelgj, @yesudeep

fix
  py/packages/genkit/src/genkit/_ai/_generate.py
  py/packages/genkit/src/genkit/_ai/_tools.py
  py/packages/genkit/tests/genkit/ai/_tools_test.py
  py/packages/genkit/tests/genkit/ai/generate_interrupt_resume_test.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
Owners: @pavelgj, @yesudeep

feat(js/plugins/google-genai): Support for lyria 3 in vertexAI (#5028)
  js/plugins/google-genai/src/common/types.ts
  js/plugins/google-genai/src/googleai/client.ts
  js/plugins/google-genai/src/googleai/gemini.ts
  js/plugins/google-genai/src/vertexai/client.ts
  js/plugins/google-genai/src/vertexai/gemini.ts
  js/plugins/google-genai/src/vertexai/lyria.ts
  js/plugins/google-genai/src/vertexai/utils.ts
  js/plugins/google-genai/tests/googleai/gemini_test.ts
  js/plugins/google-genai/tests/vertexai/lyria_test.ts
  js/testapps/basic-gemini/src/index-vertexai.ts
  js/testapps/basic-gemini/src/index.ts
Owners: @pavelgj

polish and revert fastapi change
  py/packages/genkit/tests/genkit/ai/_tools_test.py
  py/plugins/fastapi/pyproject.toml
Owners: @pavelgj, @yesudeep

fix lint
  py/packages/genkit/src/genkit/_ai/_generate.py
  py/packages/genkit/tests/genkit/ai/_tools_test.py
  py/packages/genkit/tests/genkit/ai/generate_helpers_test.py
  py/packages/genkit/tests/genkit/ai/generate_interrupt_resume_test.py
  py/packages/genkit/tests/genkit/ai/prompt_test.py
  py/samples/tool-interrupts/src/respond_example.py
Owners: @pavelgj, @yesudeep

fix test
  py/packages/genkit/tests/genkit/veneer/veneer_test.py
Owners: @pavelgj, @yesudeep

Update generate.go
  go/ai/generate.go
Owners: @apascal07

fix(py): Fix pyproject.toml on fastapi plugin (#5030)
  py/plugins/fastapi/pyproject.toml
Owners: @pavelgj, @yesudeep

replaced `ModelList` field with `[]ai.ModelRef`
  go/ai/generate.go
  go/plugins/middleware/fallback.go
  go/plugins/middleware/fallback_test.go
Owners: @apascal07

added sample
  go/samples/basic-middleware/main.go
Owners: @apascal07

chore(js/plugins/google-genai): deprecate some imagen and veo models
  js/plugins/google-genai/src/vertexai/imagen.ts
  js/plugins/google-genai/src/vertexai/veo.ts
Owners: @pavelgj

Update anthropic.go
  go/plugins/vertexai/modelgarden/anthropic.go
Owners: @apascal07

review changes
  js/plugins/google-genai/src/vertexai/imagen.ts
Owners: @pavelgj

Update go/plugins/vertexai/modelgarden/anthropic.go
  go/plugins/vertexai/modelgarden/anthropic.go
Owners: @apascal07

fixed strict mode on Vertex AI
  go/plugins/anthropic/anthropic.go
  go/plugins/internal/anthropic/anthropic.go
  go/plugins/internal/anthropic/anthropic_test.go
Owners: @apascal07

fix(go/plugins/vertexai): fix plugin name collision (#5034)
  go/plugins/anthropic/anthropic.go
  go/plugins/internal/anthropic/anthropic.go
  go/plugins/internal/anthropic/anthropic_test.go
  go/plugins/vertexai/modelgarden/anthropic.go
Owners: @apascal07
