Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

docs(js): add web plugin readme
  js/plugins/web/README.md
Owners: @pavelgj

chore: add js-genkit-client-rfc
  docs/js-genkit-client-rfc.md
Owners: @pavelgj

feat(go): add HandlerFunc for error-returning handlers
  go/README.md
  go/genkit/servers.go
  go/genkit/servers_test.go
Owners: @apascal07

fix(genkit-tools): Refactor Tools API to prevent proxy 503 errors
  genkit-tools/common/src/server/server.ts
Owners: @pavelgj

chore(py): remove bankdit security checks
  .github/workflows/python.yml
Owners: @pavelgj

rename publish-python.yml => publish_python.yml
  .github/workflows/publish_python.yml
Owners: @pavelgj

simplify script, skip existing if already published
  .github/workflows/publish_python.yml
Owners: @pavelgj

pin version, log build failures
  .github/workflows/publish_python.yml
Owners: @pavelgj

add release playbook
  py/docs/release_playbook.md
Owners: @pavelgj

chore(py): Remove incorrect Do Not Upload label to dev local vectorstore
  py/plugins/dev-local-vectorstore/pyproject.toml
Owners: @pavelgj, @yesudeep

fix(genkit-tools): Terminate streamTrace on root span end and fix newline formatting
  genkit-tools/common/src/manager/manager.ts
  genkit-tools/common/src/server/server.ts
Owners: @pavelgj

fix(genkit-tools): Implement AbortSignal handling for consistent stream termination
  genkit-tools/common/src/manager/manager.ts
  genkit-tools/common/src/server/server.ts
  genkit-tools/common/src/types/apis.ts
  js/testapps/dev-ui-gallery/scratch/genkit-tracing.md
Owners: @pavelgj

fix(genkit-tools): Terminate streamTrace if snapshot is already complete
  genkit-tools/common/src/manager/manager.ts
Owners: @pavelgj

fmt
  js/ai/src/generate.ts
Owners: @pavelgj

chore(py): Simplify Dev UI integration and remove unused abstractions
  py/packages/genkit/src/genkit/ai/_base_async.py
  py/packages/genkit/src/genkit/blocks/resource.py
  py/packages/genkit/src/genkit/blocks/tools.py
  py/packages/genkit/src/genkit/core/error.py
  py/packages/genkit/src/genkit/core/reflection.py
  py/packages/genkit/src/genkit/web/manager/__init__.py
  py/packages/genkit/src/genkit/web/manager/_adapters.py
  py/packages/genkit/src/genkit/web/manager/_base_server.py
  py/packages/genkit/src/genkit/web/manager/_info.py
  py/packages/genkit/src/genkit/web/manager/_manager.py
  py/packages/genkit/src/genkit/web/manager/_ports.py
  py/packages/genkit/src/genkit/web/manager/_server.py
  py/packages/genkit/src/genkit/web/manager/signals.py
  py/packages/genkit/src/genkit/web/typing.py
  py/packages/genkit/tests/genkit/core/error_test.py
  py/packages/genkit/tests/genkit/web/manager/signals_test.py
  py/plugins/fastapi/src/genkit/plugins/fastapi/lifespan.py
  py/samples/web-fastapi-bugbot/src/main.py
  py/samples/web-multi-server/LICENSE
  py/samples/web-multi-server/README.md
  py/samples/web-multi-server/architecture.svg
  py/samples/web-multi-server/pyproject.toml
  py/samples/web-multi-server/run.sh
  py/samples/web-multi-server/src/main.py
  py/samples/web-short-n-long/LICENSE
  py/samples/web-short-n-long/README.md
  py/samples/web-short-n-long/pyproject.toml
  py/samples/web-short-n-long/run.sh
  py/samples/web-short-n-long/src/main.py
Owners: @pavelgj, @yesudeep

Improve background thread approach
  py/packages/genkit/src/genkit/ai/_base_async.py
  py/packages/genkit/src/genkit/ai/_registry.py
  py/packages/genkit/src/genkit/blocks/resource.py
  py/packages/genkit/tests/genkit/veneer/reflection_server_test.py
  py/plugins/fastapi/README.md
  py/plugins/fastapi/src/genkit/plugins/fastapi/__init__.py
  py/plugins/fastapi/src/genkit/plugins/fastapi/lifespan.py
  py/samples/web-fastapi-bugbot/README.md
Owners: @pavelgj, @yesudeep

set port explicitly
  py/packages/genkit/src/genkit/ai/_base_async.py
Owners: @pavelgj, @yesudeep

Fix lint, simplify code
  py/packages/genkit/src/genkit/ai/_base_async.py
  py/packages/genkit/src/genkit/blocks/resource.py
  py/packages/genkit/tests/genkit/veneer/reflection_server_test.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

Fix type checkers
  py/packages/genkit/src/genkit/blocks/tools.py
Owners: @pavelgj, @yesudeep

clean up test
  py/packages/genkit/tests/genkit/veneer/reflection_server_test.py
Owners: @pavelgj, @yesudeep

refactor(py): flatten *Options into kwargs on define_* methods
  py/packages/genkit/src/genkit/__init__.py
  py/packages/genkit/src/genkit/ai/__init__.py
  py/packages/genkit/src/genkit/ai/_registry.py
  py/packages/genkit/src/genkit/blocks/background_model.py
  py/packages/genkit/src/genkit/blocks/dap.py
  py/packages/genkit/src/genkit/blocks/embedding.py
  py/packages/genkit/src/genkit/blocks/reranker.py
  py/packages/genkit/src/genkit/blocks/resource.py
  py/packages/genkit/src/genkit/blocks/retriever.py
  py/plugins/amazon-bedrock/src/genkit/plugins/amazon_bedrock/plugin.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/openai_plugin.py
  py/plugins/dev-local-vectorstore/src/genkit/plugins/dev_local_vectorstore/plugin_api.py
  py/plugins/firebase/src/genkit/plugins/firebase/firestore.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/microsoft-foundry/src/genkit/plugins/microsoft_foundry/plugin.py
  py/plugins/mistral/src/genkit/plugins/mistral/plugin.py
  py/plugins/ollama/src/genkit/plugins/ollama/plugin_api.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/vector_search.py
Owners: @pavelgj, @yesudeep

chore: Migrate gsutil usage to gcloud storage
  scripts/cli-releases/promote_cli_gcs.sh
Owners: @pavelgj

feat: implement Whisper-specific configuration and API handlers
  js/plugins/compat-oai/src/audio.ts
  js/plugins/compat-oai/src/index.ts
  js/plugins/compat-oai/src/openai/index.ts
  js/plugins/compat-oai/src/openai/stt.ts
  js/plugins/compat-oai/src/openai/whisper.ts
  js/plugins/compat-oai/src/translate.ts
  js/testapps/compat-oai/src/index.ts
Owners: @pavelgj

Use ReflectionError and ReflectionErrorDetails
  py/packages/genkit/src/genkit/core/error.py
  py/packages/genkit/tests/genkit/core/error_test.py
Owners: @pavelgj, @yesudeep

chore(js/plugins/fetch): rename web -> fetch
  js/plugins/fetch/.npmignore
  js/plugins/fetch/README.md
  js/plugins/fetch/package.json
  js/plugins/fetch/src/index.ts
  js/plugins/fetch/src/utils.ts
  js/plugins/fetch/tests/web_test.ts
  js/plugins/fetch/tsconfig.json
  js/plugins/fetch/tsup.config.ts
  js/plugins/fetch/typedoc.json
  js/pnpm-lock.yaml
  samples/js-coffee-shop/BUNDLING_ISSUES.md
  samples/js-coffee-shop/app/ajv-formats-stub.js
  samples/js-coffee-shop/app/ajv-stub.js
  samples/js-coffee-shop/app/genkit-config.js
  samples/js-coffee-shop/app/index.ts
  samples/js-coffee-shop/app/jsonpath-plus-stub.js
  samples/js-coffee-shop/bun.lock
  samples/js-coffee-shop/cli.ts
  samples/js-coffee-shop/genkit-workers-example
  samples/js-coffee-shop/package-lock.json
  samples/js-coffee-shop/package.json
  samples/js-coffee-shop/src/index.ts
  samples/js-hono/README.md
  samples/js-hono/package.json
  samples/js-hono/src/index.ts
Owners: @pavelgj

fix: handle review feedback
  js/plugins/fetch/src/index.ts
Owners: @pavelgj

chore: formatting
  js/plugins/fetch/src/index.ts
  js/plugins/fetch/src/utils.ts
  js/plugins/fetch/tests/web_test.ts
Owners: @pavelgj

address gemini feedback
  py/packages/genkit/src/genkit/ai/_base_async.py
Owners: @pavelgj, @yesudeep

chore: revert unrelated sample changes
  samples/js-coffee-shop/BUNDLING_ISSUES.md
  samples/js-coffee-shop/app/ajv-formats-stub.js
  samples/js-coffee-shop/app/ajv-stub.js
  samples/js-coffee-shop/app/genkit-config.js
  samples/js-coffee-shop/app/index.ts
  samples/js-coffee-shop/app/jsonpath-plus-stub.js
  samples/js-coffee-shop/bun.lock
  samples/js-coffee-shop/cli.ts
  samples/js-coffee-shop/genkit-workers-example
  samples/js-coffee-shop/package-lock.json
  samples/js-coffee-shop/package.json
  samples/js-coffee-shop/src/index.ts
Owners: @pavelgj

chore: formatting
  samples/js-hono/src/index.ts
Owners: @pavelgj

format
  py/packages/genkit/src/genkit/ai/_base_async.py
  py/packages/genkit/src/genkit/ai/_registry.py
Owners: @pavelgj, @yesudeep

fix
  py/packages/genkit/src/genkit/ai/_base_async.py
Owners: @pavelgj, @yesudeep

Updates to api proposal
  py/docs/python_beta_api_proposal.md
Owners: @pavelgj

streaming wip
  py/docs/streaming.md
Owners: @pavelgj

chore(genkit-tools): update model and middleware types
  genkit-tools/common/src/types/model.ts
  genkit-tools/common/src/types/parts.ts
  genkit-tools/common/src/types/reranker.ts
  genkit-tools/genkit-schema.json
  js/ai/src/model-types.ts
  js/ai/src/model.ts
  js/ai/src/parts.ts
  js/plugins/google-genai/src/googleai/veo.ts
  js/plugins/google-genai/src/vertexai/veo.ts
  py/packages/genkit/src/genkit/ai/_aio.py
  py/packages/genkit/src/genkit/ai/_registry.py
  py/packages/genkit/src/genkit/blocks/prompt.py
  py/packages/genkit/src/genkit/codec.py
  py/packages/genkit/src/genkit/core/typing.py
  py/packages/genkit/src/genkit/model_types.py
  py/packages/genkit/tests/genkit/blocks/prompt_test.py
  py/packages/genkit/tests/genkit/codec_test.py
  py/packages/genkit/tests/genkit/core/action_test.py
  py/packages/genkit/tests/genkit/veneer/veneer_test.py
  py/plugins/flask/tests/flask_test.py
Owners: @pavelgj, @yesudeep

update listGenaiModels function
  go/plugins/googlegenai/gemini.go
  go/plugins/googlegenai/models.go
Owners: @apascal07

added `AgentSession.Result()`
  go/ai/x/agent.go
Owners: @apascal07

added `InterruptibleTool.Respond()`
  go/ai/x/tool/tool.go
  go/ai/x/tools.go
Owners: @apascal07

Update generate.go
  go/ai/generate.go
Owners: @apascal07

Update tools.go
  go/ai/x/tools.go
Owners: @apascal07

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj
