Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj

Update go/plugins/ollama/ollama.go
  go/plugins/ollama/ollama.go
Owners: @apascal07

style: format import statements for consistency
  go/plugins/ollama/ollama_test.go
Owners: @apascal07

Update go/plugins/ollama/ollama_integration_test.go
  go/plugins/ollama/ollama_integration_test.go
Owners: @apascal07

Update go/plugins/ollama/ollama.go
  go/plugins/ollama/ollama.go
Owners: @apascal07

refactor: simplify format assignment in buildPayload function and enhance test case for format validation
  go/plugins/ollama/ollama.go
  go/plugins/ollama/ollama_test.go
Owners: @apascal07

feat(js/plugins/google-genai): Support for gemini-3.1-flash-lite-preview (#4883)
  js/plugins/google-genai/src/googleai/gemini.ts
  js/plugins/google-genai/src/vertexai/gemini.ts
Owners: @pavelgj

fix: Use cast instead of parse, fix batch spans
  genkit-tools/common/src/eval/evaluate.ts
  js/ai/src/evaluator.ts
Owners: @pavelgj

resume/respond api
  py/docs/interrupt-resume-api.md
Owners: @pavelgj

Update python_beta_api_proposal.md
  py/docs/python_beta_api_proposal.md
Owners: @pavelgj

Update go-v2-changes.md
  docs/go-v2-changes.md
Owners: @pavelgj

add type
  js/ai/src/evaluator.ts
Owners: @pavelgj

fix(evals): Use cast instead of parse, fix batch spans (#4890)
  genkit-tools/common/src/eval/evaluate.ts
  js/ai/src/evaluator.ts
Owners: @pavelgj

renamed agent flow et al to session flow
  genkit-tools/common/src/types/agent.ts
  genkit-tools/genkit-schema.json
  go/ai/exp/agent.go
  go/ai/exp/agent_test.go
  go/ai/exp/gen.go
  go/ai/exp/option.go
  go/ai/exp/session.go
  go/core/api/action.go
  go/core/schemas.config
  go/genkit/genkit.go
  go/samples/custom-agent/main.go
  go/samples/prompt-agent/main.go
  py/packages/genkit/src/genkit/core/typing.py
Owners: @pavelgj, @apascal07, @yesudeep

docs: Foreground/Background Generate RFC
  docs/rfc-generate-mode.md
Owners: @pavelgj

Update genkit-schema.json
  genkit-tools/genkit-schema.json
Owners: @pavelgj

renamed files
  go/ai/exp/session_flow.go
  go/ai/exp/session_flow_test.go
Owners: @apascal07

Update agent.ts
  genkit-tools/common/src/types/agent.ts
Owners: @pavelgj

Update schemas.config
  go/core/schemas.config
Owners: @pavelgj

Update schemas.config
  go/core/schemas.config
Owners: @pavelgj

Add ServerSpec to the module exports
  py/packages/genkit/src/genkit/ai/__init__.py
Owners: @pavelgj, @yesudeep

feat(js): add "fetch" plugin (#4802)
  js/plugins/fetch/.npmignore
  js/plugins/fetch/README.md
  js/plugins/fetch/package.json
  js/plugins/fetch/src/index.ts
  js/plugins/fetch/src/utils.ts
  js/plugins/fetch/tests/web_test.ts
  js/plugins/fetch/tsconfig.json
  js/plugins/fetch/tsup.config.ts
  js/plugins/fetch/typedoc.json
  js/pnpm-lock.yaml
  js/testapps/hono/.gitignore
  js/testapps/hono/README.md
  js/testapps/hono/package.json
  js/testapps/hono/src/index.ts
  js/testapps/hono/tsconfig.json
Owners: @pavelgj

updates
  py/bin/generate_schema_typing
  py/bin/sanitize_schema_typing.py
  py/packages/genkit/src/genkit/_ai/_aio.py
  py/packages/genkit/src/genkit/_ai/_document.py
  py/packages/genkit/src/genkit/_ai/_generate.py
  py/packages/genkit/src/genkit/_ai/_middleware.py
  py/packages/genkit/src/genkit/_ai/_model.py
  py/packages/genkit/src/genkit/_ai/_prompt.py
  py/packages/genkit/src/genkit/_ai/_tools.py
  py/packages/genkit/src/genkit/_core/_action.py
  py/packages/genkit/src/genkit/_core/_base.py
  py/packages/genkit/src/genkit/_core/_compat.py
  py/packages/genkit/src/genkit/_core/_context.py
  py/packages/genkit/src/genkit/_core/_dap.py
  py/packages/genkit/src/genkit/_core/_flow.py
  py/packages/genkit/src/genkit/_core/_model.py
  py/packages/genkit/src/genkit/_core/_reflection.py
  py/packages/genkit/src/genkit/_core/_registry.py
  py/packages/genkit/src/genkit/_core/_typing.py
  py/packages/genkit/src/genkit/model/__init__.py
  py/packages/genkit/src/genkit/plugin_api/__init__.py
  py/packages/genkit/src/genkit/testing.py
  py/packages/genkit/tests/genkit/ai/generate_test.py
  py/packages/genkit/tests/genkit/ai/middleware_test.py
  py/packages/genkit/tests/genkit/ai/prompt_test.py
  py/packages/genkit/tests/genkit/ai/resource_integration_test.py
  py/packages/genkit/tests/genkit/core/action_test.py
  py/packages/genkit/tests/genkit/core/endpoints/reflection_test.py
  py/packages/genkit/tests/genkit/testing_test.py
  py/packages/genkit/tests/genkit/veneer/veneer_test.py
  py/plugins/anthropic/src/genkit/plugins/anthropic/models.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/typing.py
  py/plugins/fastapi/src/genkit/plugins/fastapi/handler.py
  py/plugins/flask/src/genkit/plugins/flask/handler.py
  py/plugins/flask/tests/flask_exports_test.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/model_garden/model_garden.py
  py/pyproject.toml
Owners: @pavelgj, @yesudeep

more cleanup
  py/packages/genkit/src/genkit/_core/_action.py
  py/packages/genkit/src/genkit/_core/_base.py
  py/packages/genkit/src/genkit/_core/_model.py
  py/packages/genkit/src/genkit/_core/_registry.py
  py/packages/genkit/src/genkit/plugin_api/__init__.py
  py/packages/genkit/tests/genkit/ai/document_test.py
Owners: @pavelgj, @yesudeep

fix lint
  py/bin/sanitize_schema_typing.py
  py/packages/genkit/src/genkit/_core/_typing.py
Owners: @pavelgj, @yesudeep

fixes
  py/packages/genkit/src/genkit/_ai/_aio.py
  py/packages/genkit/src/genkit/_ai/_generate.py
  py/packages/genkit/src/genkit/_ai/_middleware.py
  py/packages/genkit/src/genkit/_ai/_prompt.py
  py/packages/genkit/src/genkit/_core/_action.py
  py/packages/genkit/src/genkit/_core/_model.py
Owners: @pavelgj, @yesudeep

fix(registry): initialize all plugins before lookup for keys without plugin segment
  js/core/src/registry.ts
  js/core/tests/registry_test.ts
Owners: @pavelgj

fix
  py/packages/genkit/tests/genkit/core/action_test.py
  py/packages/genkit/tests/genkit/core/endpoints/reflection_test.py
  py/packages/genkit/tests/genkit/veneer/veneer_test.py
Owners: @pavelgj, @yesudeep

fix(registry): only run initializeAllPlugins for valid keys in lookupAction
  js/core/src/registry.ts
Owners: @pavelgj

test(vertexai): pass projectId in reranker test to fix CI after registry change
  js/plugins/vertexai/tests/rerankers/v2/index_test.ts
Owners: @pavelgj

fix failures
  py/packages/genkit/src/genkit/_core/_model.py
  py/plugins/compat-oai/tests/compat_oai_model_test.py
  py/plugins/fastapi/src/genkit/plugins/fastapi/handler.py
  py/plugins/flask/src/genkit/plugins/flask/handler.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/imagen.py
  py/plugins/google-genai/test/models/googlegenai_gemini_test.py
  py/plugins/ollama/tests/models/ollama_models_test.py
  py/tests/smoke/package_test.py
Owners: @pavelgj, @yesudeep

fix type checker issues
  py/packages/genkit/src/genkit/_ai/_aio.py
  py/packages/genkit/src/genkit/_ai/_generate.py
  py/packages/genkit/src/genkit/_ai/_resource.py
  py/packages/genkit/src/genkit/_ai/_tools.py
  py/packages/genkit/src/genkit/_core/_flow.py
  py/packages/genkit/src/genkit/_core/_model.py
  py/packages/genkit/src/genkit/_core/_reflection.py
  py/packages/genkit/src/genkit/_core/trace/_adjusting_exporter.py
  py/packages/genkit/src/genkit/testing.py
  py/packages/genkit/tests/genkit/ai/model_test.py
Owners: @pavelgj, @yesudeep

more typing fixes
  py/packages/genkit/src/genkit/_ai/_generate.py
  py/packages/genkit/src/genkit/_ai/_resource.py
  py/packages/genkit/src/genkit/_ai/_tools.py
  py/packages/genkit/src/genkit/_core/_model.py
  py/packages/genkit/src/genkit/_core/trace/_adjusting_exporter.py
  py/packages/genkit/src/genkit/testing.py
  py/plugins/fastapi/src/genkit/plugins/fastapi/handler.py
  py/plugins/flask/src/genkit/plugins/flask/handler.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/imagen.py
Owners: @pavelgj, @yesudeep

fix type checking for tools and samples
  py/packages/genkit/src/genkit/__init__.py
  py/packages/genkit/src/genkit/_ai/_aio.py
  py/packages/genkit/src/genkit/_ai/_prompt.py
  py/packages/genkit/src/genkit/_ai/_resource.py
  py/packages/genkit/src/genkit/_core/_action.py
  py/packages/genkit/src/genkit/_core/trace/__init__.py
  py/packages/genkit/src/genkit/_core/trace/_adjusting_exporter.py
  py/packages/genkit/src/genkit/model/__init__.py
  py/packages/genkit/tests/genkit/ai/generate_test.py
  py/packages/genkit/tests/genkit/veneer/veneer_test.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/openai_plugin.py
  py/plugins/compat-oai/tests/compat_oai_model_test.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/veo.py
  py/pyproject.toml
  py/samples/framework-custom-evaluators/src/deliciousness_evaluator.py
  py/samples/framework-custom-evaluators/src/funniness_evaluator.py
  py/samples/framework-custom-evaluators/src/pii_evaluator.py
  py/samples/framework-prompt-demo/src/main.py
  py/samples/framework-realtime-tracing-demo/src/main.py
  py/samples/framework-restaurant-demo/src/case_02/flows.py
  py/samples/framework-restaurant-demo/src/case_03/chats.py
  py/samples/framework-restaurant-demo/src/case_03/flows.py
  py/samples/framework-restaurant-demo/src/case_05/flows.py
  py/samples/framework-restaurant-demo/src/main.py
  py/samples/provider-compat-oai-hello/src/main.py
  py/samples/provider-google-genai-hello/src/main.py
  py/samples/provider-google-genai-media-models-demo/src/main.py
  py/samples/provider-google-genai-vertexai-hello/src/main.py
  py/samples/provider-vertex-ai-model-garden/src/main.py
  py/samples/shared/flows.py
  py/samples/web-fastapi-bugbot/src/main.py
  py/samples/web-flask-hello/src/main.py
  py/tools/conform/src/conform/executors/conformance_native.py
  py/tools/conform/src/conform/executors/in_process_runner.py
  py/tools/model-config-test/run_single_model_test.py
Owners: @pavelgj, @yesudeep

fix
  py/packages/genkit/src/genkit/_ai/_aio.py
  py/packages/genkit/src/genkit/_ai/_prompt.py
  py/packages/genkit/src/genkit/_core/_action.py
  py/packages/genkit/src/genkit/_core/trace/__init__.py
  py/packages/genkit/src/genkit/model/__init__.py
  py/samples/framework-format-demo/src/main.py
  py/samples/framework-middleware-demo/src/main.py
  py/samples/framework-realtime-tracing-demo/README.md
  py/samples/framework-realtime-tracing-demo/src/main.py
  py/samples/framework-restaurant-demo/src/case_05/flows.py
  py/samples/framework-restaurant-demo/src/main.py
Owners: @pavelgj, @yesudeep

more fixes
  py/packages/genkit/src/genkit/__init__.py
  py/samples/framework-middleware-demo/src/main.py
  py/samples/framework-restaurant-demo/src/case_05/flows.py
  py/samples/web-fastapi-bugbot/src/main.py
Owners: @pavelgj, @yesudeep

Clean up exports
  py/packages/genkit/src/genkit/_ai/__init__.py
  py/packages/genkit/src/genkit/_ai/_document.py
  py/packages/genkit/src/genkit/_ai/_formats/__init__.py
  py/packages/genkit/src/genkit/_ai/_model.py
  py/packages/genkit/src/genkit/_ai/_testing.py
  py/packages/genkit/src/genkit/_core/trace/__init__.py
  py/packages/genkit/src/genkit/testing.py
  py/packages/genkit/tests/genkit/ai/generate_test.py
  py/packages/genkit/tests/genkit/ai/prompt_test.py
  py/packages/genkit/tests/genkit/testing_test.py
  py/packages/genkit/tests/genkit/veneer/veneer_test.py
  py/pyproject.toml
Owners: @pavelgj, @yesudeep

fixes
  py/packages/genkit/src/genkit/_ai/_embedding.py
  py/packages/genkit/src/genkit/_core/_action.py
Owners: @pavelgj, @yesudeep

feat(py): updated middleware features
  py/packages/genkit/src/genkit/__init__.py
  py/packages/genkit/src/genkit/_ai/_middleware.py
  py/packages/genkit/src/genkit/middleware/__init__.py
  py/packages/genkit/tests/genkit/ai/middleware_test.py
  py/samples/framework-middleware-builtin/README.md
  py/samples/framework-middleware-builtin/pyproject.toml
  py/samples/framework-middleware-builtin/src/main.py
Owners: @pavelgj, @yesudeep

Delete py/docs/dev_ui_eventloop_model.md
  py/docs/dev_ui_eventloop_model.md
Owners: @pavelgj

Delete py/docs/python_docs_roadmap.md
  py/docs/python_docs_roadmap.md
Owners: @pavelgj
