Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

format
  genkit-tools/common/src/types/evaluator.ts
Owners: @pavelgj

feat(py/vertexai): Enhance VertexAI plugin
  py/packages/genkit/src/genkit/ai/embedding.py
  py/packages/genkit/src/genkit/veneer/veneer.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/__init__.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/embedding.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/gemini.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/imagen.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/plugin_api.py
  py/plugins/vertex-ai/tests/test_embeddings.py
  py/plugins/vertex-ai/tests/test_gemini.py
  py/plugins/vertex-ai/tests/test_imagen.py
  py/samples/hello/README.md
  py/samples/hello/src/hello.py
  py/samples/vertex-ai-imagen/README.md
  py/samples/vertex-ai-imagen/src/vertex-ai-imagen.py
Owners: @pavelgj, @yesudeep

feat(py): return an empty response message when streaming completes
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/handler.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/model.py
Owners: @pavelgj, @yesudeep

fix(go): check validation for json part on text that generated by LLM (#2273)
  go/ai/generate.go
Owners: @apascal07

Fixed `promptingOptions` references.
  go/ai/option.go
Owners: @apascal07

Fix comment.
  go/ai/option.go
Owners: @apascal07

fix(js): export all standard types through tooling (#2257)
  genkit-tools/common/src/eval/parser.ts
  genkit-tools/common/src/types/document.ts
  genkit-tools/common/src/types/embedder.ts
  genkit-tools/common/src/types/evaluator.ts
  genkit-tools/common/src/types/evaluators.ts
  genkit-tools/common/src/types/index.ts
  genkit-tools/common/src/types/model.ts
  genkit-tools/common/src/types/reranker.ts
  genkit-tools/common/src/types/retriever.ts
  genkit-tools/common/src/types/trace.ts
  genkit-tools/common/src/utils/eval.ts
  genkit-tools/common/tests/eval/parser_test.ts
  genkit-tools/genkit-schema.json
  genkit-tools/scripts/schema-exporter.ts
  js/ai/src/document.ts
  js/ai/src/model.ts
  js/core/src/tracing/types.ts
  py/packages/genkit/src/genkit/core/typing.py
Owners: @pavelgj, @yesudeep

chore(typing): cleanup more json schema and python model generation
  genkit-tools/common/src/types/document.ts
  genkit-tools/common/src/types/reranker.ts
  genkit-tools/genkit-schema.json
  py/packages/genkit/src/genkit/ai/generate.py
  py/packages/genkit/src/genkit/core/typing.py
  py/packages/genkit/src/genkit/veneer/veneer_test.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/imagen.py
  py/plugins/vertex-ai/tests/test_imagen.py
Owners: @pavelgj, @yesudeep

sync
  js/ai/src/document.ts
  js/ai/src/reranker.ts
Owners: @pavelgj

feedback with new types
  py/packages/genkit/src/genkit/ai/document.py
  py/packages/genkit/src/genkit/ai/embedding.py
  py/packages/genkit/tests/genkit/ai/document_test.py
Owners: @pavelgj, @yesudeep

annotate field
  py/packages/genkit/src/genkit/ai/document.py
Owners: @pavelgj, @yesudeep

fix const field
  py/packages/genkit/src/genkit/ai/document.py
Owners: @pavelgj, @yesudeep

fix testcaseid when failed trace
  genkit-tools/common/src/eval/evaluate.ts
Owners: @pavelgj

fix testcaseid when failed trace (#2281)
  genkit-tools/common/src/eval/evaluate.ts
Owners: @pavelgj

fix(go/ai): error if multiple tool requests share Ref
  go/ai/generate.go
  go/ai/generator_test.go
Owners: @apascal07

feat(py/vertexai): Enhance VertexAI plugin (#2184)
  py/packages/genkit/src/genkit/ai/embedding.py
  py/packages/genkit/src/genkit/veneer/veneer.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/__init__.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/embedding.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/gemini.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/imagen.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/plugin_api.py
  py/plugins/vertex-ai/tests/test_embeddings.py
  py/plugins/vertex-ai/tests/test_gemini.py
  py/plugins/vertex-ai/tests/test_imagen.py
  py/samples/hello/README.md
  py/samples/hello/src/hello.py
  py/samples/vertex-ai-imagen/README.md
  py/samples/vertex-ai-imagen/src/vertex-ai-imagen.py
Owners: @pavelgj, @yesudeep

chore(typing): cleanup more json schema and python model generation (#2279)
  genkit-tools/common/src/types/document.ts
  genkit-tools/common/src/types/reranker.ts
  genkit-tools/genkit-schema.json
  js/ai/src/document.ts
  js/ai/src/reranker.ts
  py/packages/genkit/src/genkit/ai/generate.py
  py/packages/genkit/src/genkit/core/typing.py
  py/packages/genkit/src/genkit/veneer/veneer_test.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/imagen.py
  py/plugins/vertex-ai/tests/test_imagen.py
Owners: @pavelgj, @yesudeep

feat(py/ai): implemented define_prompt that is a template for generate call
  py/packages/genkit/src/genkit/ai/formats/json.py
  py/packages/genkit/src/genkit/ai/prompt.py
  py/packages/genkit/src/genkit/ai/testing_utils.py
  py/packages/genkit/src/genkit/core/action.py
  py/packages/genkit/src/genkit/veneer/registry.py
  py/packages/genkit/src/genkit/veneer/veneer.py
  py/packages/genkit/src/genkit/veneer/veneer_test.py
  py/packages/genkit/tests/genkit/ai/prompt_test.py
  py/samples/hello/src/hello.py
Owners: @pavelgj, @yesudeep

add docstring
  py/packages/genkit/src/genkit/veneer/registry.py
Owners: @pavelgj, @yesudeep

fmt
  py/packages/genkit/src/genkit/ai/prompt.py
Owners: @pavelgj, @yesudeep

feedback
  py/packages/genkit/src/genkit/ai/prompt.py
Owners: @pavelgj, @yesudeep

fmt
  py/samples/hello/src/hello.py
Owners: @pavelgj, @yesudeep

Mirror GenAI types in GoogleAI plugin
  go/plugins/googleai/googleai.go
  go/samples/basic-gemini/main.go
Owners: @apascal07

feat(py): Python GoogleAi plugin
  py/plugins/google-ai/src/genkit/plugins/google_ai/__init__.py
  py/plugins/google-ai/src/genkit/plugins/google_ai/google_ai.py
  py/plugins/google-ai/src/genkit/plugins/google_ai/models/gemini.py
  py/plugins/google-ai/src/genkit/plugins/google_ai/schemas.py
  py/samples/google-ai/LICENSE
  py/samples/google-ai/README.md
  py/samples/google-ai/pyproject.toml
  py/samples/google-ai/src/hello.py
Owners: @pavelgj, @yesudeep

refactor: move veneer_test.py into tests/ directory and rename genkit.ai.testing_utils to genkit.testing
  py/packages/genkit/pyproject.toml
  py/packages/genkit/src/genkit/testing.py
  py/packages/genkit/tests/genkit/ai/generate_test.py
  py/packages/genkit/tests/genkit/veneer/veneer_test.py
Owners: @pavelgj, @yesudeep

convert safety settings
  go/plugins/googleai/googleai.go
Owners: @apascal07

refactor: move veneer_test.py into tests/ directory and rename genkit.ai.testing_utils to genkit.testing (#2285)
  py/packages/genkit/pyproject.toml
  py/packages/genkit/src/genkit/testing.py
  py/packages/genkit/tests/genkit/ai/generate_test.py
  py/packages/genkit/tests/genkit/veneer/veneer_test.py
Owners: @pavelgj, @yesudeep

feat(py): Python GoogleAi plugin (#2173)
  py/plugins/google-ai/src/genkit/plugins/google_ai/__init__.py
  py/plugins/google-ai/src/genkit/plugins/google_ai/google_ai.py
  py/plugins/google-ai/src/genkit/plugins/google_ai/models/gemini.py
  py/plugins/google-ai/src/genkit/plugins/google_ai/schemas.py
  py/samples/google-ai/LICENSE
  py/samples/google-ai/README.md
  py/samples/google-ai/pyproject.toml
  py/samples/google-ai/src/hello.py
Owners: @pavelgj, @yesudeep

refactor(py/ai): refactored inject_instructions, moved into separate file, added tests
  py/packages/genkit/src/genkit/ai/generate.py
  py/packages/genkit/src/genkit/ai/message_utils.py
  py/packages/genkit/tests/genkit/ai/message_utils_test.py
Owners: @pavelgj, @yesudeep

module docstring
  py/packages/genkit/src/genkit/ai/message_utils.py
Owners: @pavelgj, @yesudeep

genkit.ai.messages
  py/packages/genkit/src/genkit/ai/generate.py
  py/packages/genkit/src/genkit/ai/messages.py
  py/packages/genkit/tests/genkit/ai/message_utils_test.py
Owners: @pavelgj, @yesudeep

refactor(py/ai): refactored inject_instructions, moved into separate file, added tests (#2292)
  py/packages/genkit/src/genkit/ai/generate.py
  py/packages/genkit/src/genkit/ai/messages.py
  py/packages/genkit/tests/genkit/ai/message_utils_test.py
Owners: @pavelgj, @yesudeep

fix
  py/packages/genkit/tests/genkit/ai/prompt_test.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

feat(py/ai): implemented define_prompt that is a template for generate call (#2270)
  py/packages/genkit/src/genkit/ai/formats/json.py
  py/packages/genkit/src/genkit/ai/prompt.py
  py/packages/genkit/src/genkit/core/action.py
  py/packages/genkit/src/genkit/testing.py
  py/packages/genkit/src/genkit/veneer/registry.py
  py/packages/genkit/src/genkit/veneer/veneer.py
  py/packages/genkit/tests/genkit/ai/prompt_test.py
  py/packages/genkit/tests/genkit/veneer/veneer_test.py
  py/samples/hello/src/hello.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

misc: move wet code to plugins/internal
  go/go.mod
  go/go.sum
  go/plugins/googleai/googleai.go
  go/plugins/internal/gemini/gemini.go
  go/plugins/vertexai/vertexai.go
Owners: @apascal07

feat(evals): show a link to the Dev UI on running evals (#2024)
  genkit-tools/cli/src/commands/eval-flow.ts
  genkit-tools/cli/src/commands/eval-run.ts
  genkit-tools/cli/src/commands/ui-start.ts
  genkit-tools/cli/src/commands/ui-stop.ts
  genkit-tools/common/src/manager/manager.ts
  genkit-tools/common/src/server/server.ts
  genkit-tools/common/src/utils/utils.ts
Owners: @pavelgj

feat: add vertexAI embedders
  go/plugins/googleai/googleai.go
  go/plugins/internal/gemini/gemini.go
  go/plugins/vertexai/embed.go
  go/plugins/vertexai/vertexai.go
  go/samples/rag/main.go
Owners: @apascal07

fix: test cases
  go/plugins/googleai/googleai_test.go
Owners: @apascal07

Initial fixes.
  genkit-tools/common/src/types/model.ts
  go/core/schemas.config
  js/ai/src/model.ts
Owners: @pavelgj

update embedder usages
  py/packages/genkit/src/genkit/veneer/veneer.py
  py/plugins/ollama/src/genkit/plugins/ollama/embedders.py
Owners: @pavelgj, @yesudeep

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj
