Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

fix: fail-fast test cases
  go/plugins/alloydb/retriever_test.go
  go/plugins/postgresql/indexer_test.go
  go/plugins/postgresql/retriever_test.go
Owners: @apascal07

fix(py): sync with main
  py/bin/run_sample
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/imagen.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/veo.py
  py/plugins/google-genai/test/google_plugin_test.py
  py/plugins/xai/src/genkit/plugins/xai/model_info.py
  py/plugins/xai/src/genkit/plugins/xai/models.py
  py/plugins/xai/src/genkit/plugins/xai/plugin.py
  py/plugins/xai/tests/xai_models_test.py
  py/pyproject.toml
  py/samples/anthropic-hello/src/main.py
  py/samples/deepseek-hello/src/main.py
  py/samples/google-genai-hello/src/main.py
  py/samples/shared/__init__.py
  py/samples/shared/tools.py
  py/samples/shared/types.py
Owners: @pavelgj, @yesudeep

fix(py): sync with main and fix all flows
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/veo.py
  py/plugins/google-genai/test/google_plugin_test.py
  py/samples/google-genai-hello/src/main.py
Owners: @pavelgj, @yesudeep

fix(py): sync with main
  py/bin/run_sample
  py/plugins/xai/src/genkit/plugins/xai/model_info.py
  py/plugins/xai/src/genkit/plugins/xai/models.py
  py/plugins/xai/src/genkit/plugins/xai/plugin.py
  py/plugins/xai/tests/xai_models_test.py
  py/pyproject.toml
  py/samples/anthropic-hello/src/main.py
  py/samples/deepseek-hello/src/main.py
  py/samples/google-genai-hello/src/main.py
  py/samples/shared/__init__.py
  py/samples/shared/pyproject.toml
  py/samples/shared/tools.py
  py/samples/shared/types.py
Owners: @pavelgj, @yesudeep

refactor(py): move session/chat into blocks and remove public API
  py/packages/genkit/src/genkit/__init__.py
  py/packages/genkit/src/genkit/ai/__init__.py
  py/packages/genkit/src/genkit/ai/_aio.py
  py/packages/genkit/src/genkit/ai/_registry.py
  py/packages/genkit/src/genkit/blocks/interfaces.py
  py/packages/genkit/src/genkit/blocks/prompt.py
  py/packages/genkit/src/genkit/blocks/session/__init__.py
  py/packages/genkit/src/genkit/blocks/session/chat.py
  py/packages/genkit/src/genkit/blocks/session/in_memory.py
  py/packages/genkit/src/genkit/blocks/session/session.py
  py/packages/genkit/src/genkit/blocks/session/store.py
  py/packages/genkit/src/genkit/blocks/session/types.py
  py/samples/chat-demo/README.md
  py/samples/chat-demo/pyproject.toml
  py/samples/chat-demo/run.sh
  py/samples/chat-demo/src/main.py
  py/samples/session-demo/README.md
  py/samples/session-demo/pyproject.toml
  py/samples/session-demo/run.sh
  py/samples/session-demo/src/main.py
Owners: @pavelgj, @yesudeep

Fix indent
  py/packages/genkit/src/genkit/ai/_registry.py
Owners: @pavelgj, @yesudeep

docs(py): enhance module docstrings with terminology tables and diagrams
  py/packages/genkit/src/genkit/ai/__init__.py
  py/packages/genkit/src/genkit/aio/__init__.py
  py/packages/genkit/src/genkit/blocks/__init__.py
  py/packages/genkit/src/genkit/blocks/prompt.py
  py/packages/genkit/src/genkit/blocks/retriever.py
  py/packages/genkit/src/genkit/blocks/tools.py
  py/packages/genkit/src/genkit/codec.py
  py/packages/genkit/src/genkit/core/__init__.py
  py/packages/genkit/src/genkit/core/error.py
  py/packages/genkit/src/genkit/core/plugin.py
  py/packages/genkit/src/genkit/testing.py
  py/packages/genkit/src/genkit/types/__init__.py
  py/plugins/anthropic/src/genkit/plugins/anthropic/__init__.py
  py/plugins/firebase/src/genkit/plugins/firebase/__init__.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/__init__.py
  py/plugins/mcp/src/genkit/plugins/mcp/__init__.py
  py/plugins/ollama/src/genkit/plugins/ollama/__init__.py
Owners: @pavelgj, @yesudeep

Fix ruff
  py/packages/genkit/src/genkit/ai/_aio.py
  py/packages/genkit/src/genkit/ai/_registry.py
  py/packages/genkit/src/genkit/blocks/interfaces.py
  py/packages/genkit/src/genkit/blocks/prompt.py
  py/packages/genkit/src/genkit/blocks/session/types.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

docs(py): enhance module docstrings with terminology tables and diagrams (#4322)
  py/packages/genkit/src/genkit/ai/__init__.py
  py/packages/genkit/src/genkit/aio/__init__.py
  py/packages/genkit/src/genkit/blocks/__init__.py
  py/packages/genkit/src/genkit/blocks/prompt.py
  py/packages/genkit/src/genkit/blocks/retriever.py
  py/packages/genkit/src/genkit/blocks/tools.py
  py/packages/genkit/src/genkit/codec.py
  py/packages/genkit/src/genkit/core/__init__.py
  py/packages/genkit/src/genkit/core/error.py
  py/packages/genkit/src/genkit/core/plugin.py
  py/packages/genkit/src/genkit/testing.py
  py/packages/genkit/src/genkit/types/__init__.py
  py/plugins/anthropic/src/genkit/plugins/anthropic/__init__.py
  py/plugins/firebase/src/genkit/plugins/firebase/__init__.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/__init__.py
  py/plugins/mcp/src/genkit/plugins/mcp/__init__.py
  py/plugins/ollama/src/genkit/plugins/ollama/__init__.py
Owners: @pavelgj, @yesudeep

fix(py): fix type checks
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/veo.py
  py/plugins/google-genai/test/google_plugin_test.py
Owners: @pavelgj, @yesudeep

chore(genkit-tools/init-ai): Update usage guides to gemini3 (#4231)
  genkit-tools/cli/context/GENKIT.go.md
  genkit-tools/cli/context/GENKIT.js.md
Owners: @pavelgj

fix ty checks
  py/packages/genkit/src/genkit/blocks/interfaces.py
  py/packages/genkit/src/genkit/blocks/session/chat.py
  py/packages/genkit/src/genkit/blocks/session/session.py
  py/packages/genkit/src/genkit/blocks/session/types.py
Owners: @pavelgj, @yesudeep

fix(py): fix broken flows of describe-image
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/imagen.py
  py/samples/google-genai-hello/src/main.py
  py/samples/shared/pyproject.toml
Owners: @pavelgj, @yesudeep

fix(py): fixed with gemini comments
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/imagen.py
  py/samples/google-genai-hello/src/main.py
Owners: @pavelgj, @yesudeep

refactor(py): move session/chat into blocks and remove public API (#4321)
  py/packages/genkit/src/genkit/__init__.py
  py/packages/genkit/src/genkit/ai/__init__.py
  py/packages/genkit/src/genkit/ai/_aio.py
  py/packages/genkit/src/genkit/ai/_registry.py
  py/packages/genkit/src/genkit/blocks/interfaces.py
  py/packages/genkit/src/genkit/blocks/prompt.py
  py/packages/genkit/src/genkit/blocks/session/__init__.py
  py/packages/genkit/src/genkit/blocks/session/chat.py
  py/packages/genkit/src/genkit/blocks/session/in_memory.py
  py/packages/genkit/src/genkit/blocks/session/session.py
  py/packages/genkit/src/genkit/blocks/session/store.py
  py/packages/genkit/src/genkit/blocks/session/types.py
  py/samples/chat-demo/README.md
  py/samples/chat-demo/pyproject.toml
  py/samples/chat-demo/run.sh
  py/samples/chat-demo/src/main.py
  py/samples/session-demo/README.md
  py/samples/session-demo/pyproject.toml
  py/samples/session-demo/run.sh
  py/samples/session-demo/src/main.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

fix(py): fixed with gemini comments
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/imagen.py
  py/plugins/google-genai/test/google_plugin_test.py
  py/samples/google-genai-code-execution/src/main.py
  py/samples/google-genai-hello/src/main.py
  py/samples/google-genai-hello/src/main_vertexai.py
  py/samples/google-genai-image/src/main.py
  py/samples/short-n-long/src/main.py
Owners: @pavelgj, @yesudeep

fix(py): update google-genai model config (#4306)
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/imagen.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/veo.py
  py/plugins/google-genai/test/google_plugin_test.py
  py/samples/google-genai-code-execution/src/main.py
  py/samples/google-genai-hello/src/main.py
  py/samples/google-genai-hello/src/main_vertexai.py
  py/samples/google-genai-image/src/main.py
  py/samples/short-n-long/src/main.py
Owners: @pavelgj, @yesudeep

fix(py): update READDME for google-genai
  py/plugins/google-genai/README.md
  py/samples/google-genai-hello/README.md
Owners: @pavelgj

fix(py): update README for google-genai (#4323)
  py/plugins/google-genai/README.md
  py/samples/google-genai-hello/README.md
Owners: @pavelgj

chore(py): update dotpromptz dependency to v0.1.5
  py/GEMINI.md
  py/packages/genkit/pyproject.toml
  py/packages/genkit/src/genkit/blocks/prompt.py
  py/pyproject.toml
  py/uv.lock
Owners: @pavelgj, @yesudeep

chore(py): update dotpromptz dependency to v0.1.5 (#4324)
  py/GEMINI.md
  py/packages/genkit/pyproject.toml
  py/packages/genkit/src/genkit/blocks/prompt.py
  py/pyproject.toml
  py/uv.lock
Owners: @pavelgj, @yesudeep

fix(py): fix broken flows
  py/samples/model-garden/src/main.py
Owners: @pavelgj, @yesudeep

fix(py): fixed with gemini
  py/samples/model-garden/src/main.py
Owners: @pavelgj, @yesudeep

fix(py): fix broken flows (#4326)
  py/samples/model-garden/src/main.py
Owners: @pavelgj, @yesudeep

Print number of input/output bytes instead of raw bytes in the debug log message
  go/core/action.go
Owners: @apascal07

Remove JSON marshaling that was used only for the debug messages
  go/core/action.go
Owners: @apascal07

test(js/plugins/compat-oai): add tests for audio pipeline
  js/plugins/compat-oai/src/audio.ts
  js/plugins/compat-oai/tests/compat_oai_audio_test.ts
  js/plugins/compat-oai/tests/openai_audio_test.ts
Owners: @pavelgj

fix: fixed structured output for deepseek
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/model.py
  py/samples/deepseek-hello/src/main.py
Owners: @pavelgj, @yesudeep

feat(py/samples): add preamble to every run.sh and open in browser
  py/samples/_common.sh
  py/samples/anthropic-hello/run.sh
  py/samples/compat-oai-hello/run.sh
  py/samples/deepseek-hello/run.sh
  py/samples/dev-local-vectorstore-hello/run.sh
  py/samples/evaluator-demo/run.sh
  py/samples/firestore-retreiver/run.sh
  py/samples/flask-hello/run.sh
  py/samples/format-demo/run.sh
  py/samples/google-genai-code-execution/run.sh
  py/samples/google-genai-context-caching/run.sh
  py/samples/google-genai-hello/run.sh
  py/samples/google-genai-image/run.sh
  py/samples/google-genai-vertexai-hello/run.sh
  py/samples/google-genai-vertexai-image/run.sh
  py/samples/media-models-demo/run.sh
  py/samples/menu/run.sh
  py/samples/model-garden/run.sh
  py/samples/multi-server/run.sh
  py/samples/ollama-hello/run.sh
  py/samples/ollama-simple-embed/run.sh
  py/samples/prompt_demo/run.sh
  py/samples/realtime-tracing-demo/run.sh
  py/samples/short-n-long/run.sh
  py/samples/tool-interrupts/run.sh
  py/samples/vertex-ai-vector-search-bigquery/run.sh
  py/samples/vertex-ai-vector-search-firestore/run.sh
  py/samples/xai-hello/run.sh
Owners: @pavelgj

feat(py/samples): add preamble to every run.sh and open in browser (#4375)
  py/samples/_common.sh
  py/samples/anthropic-hello/run.sh
  py/samples/compat-oai-hello/run.sh
  py/samples/deepseek-hello/run.sh
  py/samples/dev-local-vectorstore-hello/run.sh
  py/samples/evaluator-demo/run.sh
  py/samples/firestore-retreiver/run.sh
  py/samples/flask-hello/run.sh
  py/samples/format-demo/run.sh
  py/samples/google-genai-code-execution/run.sh
  py/samples/google-genai-context-caching/run.sh
  py/samples/google-genai-hello/run.sh
  py/samples/google-genai-image/run.sh
  py/samples/google-genai-vertexai-hello/run.sh
  py/samples/google-genai-vertexai-image/run.sh
  py/samples/media-models-demo/run.sh
  py/samples/menu/run.sh
  py/samples/model-garden/run.sh
  py/samples/multi-server/run.sh
  py/samples/ollama-hello/run.sh
  py/samples/ollama-simple-embed/run.sh
  py/samples/prompt_demo/run.sh
  py/samples/realtime-tracing-demo/run.sh
  py/samples/short-n-long/run.sh
  py/samples/tool-interrupts/run.sh
  py/samples/vertex-ai-vector-search-bigquery/run.sh
  py/samples/vertex-ai-vector-search-firestore/run.sh
  py/samples/xai-hello/run.sh
Owners: @pavelgj

fix: gemini suggestion
  py/samples/deepseek-hello/src/main.py
Owners: @pavelgj, @yesudeep

feat(py): add todo lint and ensure issues are created for each todo
  .github/workflows/todo-lint.yml
  py/noxfile.py
  py/packages/genkit/src/genkit/ai/_base_async.py
  py/packages/genkit/src/genkit/ai/_runtime.py
  py/packages/genkit/src/genkit/blocks/generate.py
  py/packages/genkit/src/genkit/blocks/model.py
  py/packages/genkit/src/genkit/blocks/prompt.py
  py/packages/genkit/src/genkit/blocks/session/session.py
  py/packages/genkit/src/genkit/blocks/tools.py
  py/packages/genkit/src/genkit/core/action/_action.py
  py/packages/genkit/src/genkit/core/constants.py
  py/packages/genkit/src/genkit/core/extract.py
  py/packages/genkit/src/genkit/core/flows.py
  py/packages/genkit/src/genkit/core/registry.py
  py/packages/genkit/src/genkit/web/manager/_adapters.py
  py/packages/genkit/src/genkit/web/manager/_info.py
  py/packages/genkit/src/genkit/web/manager/_manager.py
  py/packages/genkit/tests/genkit/core/extract_test.py
  py/plugins/evaluators/src/genkit/plugins/evaluators/helpers.py
  py/plugins/google-cloud/src/genkit/plugins/google_cloud/telemetry/tracing.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/context_caching/utils.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/veo.py
  py/plugins/mcp/src/genkit/plugins/mcp/client/client.py
  py/samples/menu/src/__init__.py
  py/samples/multi-server/src/main.py
Owners: @pavelgj, @yesudeep

feat(py): add todo lint and ensure issues are created for each todo (#4376)
  .github/workflows/todo-lint.yml
  py/noxfile.py
  py/packages/genkit/src/genkit/ai/_base_async.py
  py/packages/genkit/src/genkit/ai/_runtime.py
  py/packages/genkit/src/genkit/blocks/generate.py
  py/packages/genkit/src/genkit/blocks/model.py
  py/packages/genkit/src/genkit/blocks/prompt.py
  py/packages/genkit/src/genkit/blocks/session/session.py
  py/packages/genkit/src/genkit/blocks/tools.py
  py/packages/genkit/src/genkit/core/action/_action.py
  py/packages/genkit/src/genkit/core/constants.py
  py/packages/genkit/src/genkit/core/extract.py
  py/packages/genkit/src/genkit/core/flows.py
  py/packages/genkit/src/genkit/core/registry.py
  py/packages/genkit/src/genkit/web/manager/_adapters.py
  py/packages/genkit/src/genkit/web/manager/_info.py
  py/packages/genkit/src/genkit/web/manager/_manager.py
  py/packages/genkit/tests/genkit/core/extract_test.py
  py/plugins/evaluators/src/genkit/plugins/evaluators/helpers.py
  py/plugins/google-cloud/src/genkit/plugins/google_cloud/telemetry/tracing.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/context_caching/utils.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/veo.py
  py/plugins/mcp/src/genkit/plugins/mcp/client/client.py
  py/samples/menu/src/__init__.py
  py/samples/multi-server/src/main.py
Owners: @pavelgj, @yesudeep

fix: fixed structured output generation for deepseek model (#4374)
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/model.py
  py/samples/deepseek-hello/src/main.py
Owners: @pavelgj, @yesudeep

feat(skills): Add prelim skills folder and CLI skill
  skills/developing-genkit-tooling/SKILL.md
Owners: @pavelgj

fix
  skills/developing-genkit-tooling/SKILL.md
Owners: @pavelgj

feat(py): add DAP, test_models, generate_operation, and tests
  py/packages/genkit/src/genkit/ai/_aio.py
  py/packages/genkit/src/genkit/ai/_registry.py
  py/packages/genkit/src/genkit/blocks/dap.py
  py/packages/genkit/src/genkit/blocks/model.py
  py/packages/genkit/src/genkit/testing.py
  py/packages/genkit/tests/genkit/ai/ai_registry_test.py
  py/packages/genkit/tests/genkit/ai/generate_operation_test.py
  py/packages/genkit/tests/genkit/blocks/dap_test.py
  py/packages/genkit/tests/genkit/testing_test.py
Owners: @pavelgj, @yesudeep

Update skills/developing-genkit-tooling/SKILL.md
  skills/developing-genkit-tooling/SKILL.md
Owners: @pavelgj

Update go-session-flow-design.md
  docs/go-session-flow-design.md
Owners: @pavelgj

fix
  skills/developing-genkit-tooling/SKILL.md
Owners: @pavelgj

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj
