Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

fix: update-samples-to-v17 (#1867)
  samples/idx-template.json
  samples/js-chatbot/genkit-app/package-lock.json
  samples/js-chatbot/genkit-app/package.json
  samples/js-chatbot/package-lock.json
  samples/js-chatbot/package.json
  samples/js-chatbot/server/package-lock.json
  samples/js-chatbot/server/package.json
  samples/js-coffee-shop/package-lock.json
  samples/js-coffee-shop/package.json
  samples/js-menu/package-lock.json
  samples/js-menu/package.json
  samples/js-prompts/package-lock.json
  samples/js-prompts/package.json
  samples/js-schoolAgent/package-lock.json
  samples/js-schoolAgent/package.json
Owners: @pavelgj

fix: update js-chatbot to work in IDX preview
  samples/idx-template.json
  samples/js-chatbot/genkit-app/angular.json
  samples/js-chatbot/genkit-app/proxy.conf.json
  samples/js-chatbot/genkit-app/src/app/samples/chatbot/chatbot.component.ts
Owners: @pavelgj

fix: formatting fixes
  samples/js-chatbot/genkit-app/proxy.conf.json
Owners: @pavelgj

fix: minor fixes in ollama plugin doc
  docs/plugins/ollama.md
Owners: @pavelgj

fix: update js-chatbot to work in IDX preview (#1874)
  samples/idx-template.json
  samples/js-chatbot/genkit-app/angular.json
  samples/js-chatbot/genkit-app/proxy.conf.json
  samples/js-chatbot/genkit-app/src/app/samples/chatbot/chatbot.component.ts
Owners: @pavelgj

Update docs/migrating-from-0.9.md
  docs/migrating-from-0.9.md
Owners: @pavelgj

Update docs/migrating-from-0.9.md
  docs/migrating-from-0.9.md
Owners: @pavelgj

Update docs/migrating-from-0.9.md
  docs/migrating-from-0.9.md
Owners: @pavelgj

Update docs/migrating-from-0.9.md
  docs/migrating-from-0.9.md
Owners: @pavelgj

Update docs/migrating-from-0.9.md
  docs/migrating-from-0.9.md
Owners: @pavelgj

Update docs/migrating-from-0.9.md
  docs/migrating-from-0.9.md
Owners: @pavelgj

Update docs/migrating-from-0.9.md
  docs/migrating-from-0.9.md
Owners: @pavelgj

fix samples
  go/samples/coffee-shop/main.go
  go/samples/menu/s01.go
  go/samples/menu/s02.go
  go/samples/menu/s03.go
  go/samples/menu/s04.go
  go/samples/menu/s05.go
Owners: @apascal07

fix: use correct idx link in js api readme
  js/index.typedoc.md
Owners: @pavelgj

use version config in basic sample
  go/samples/basic-gemini/main.go
Owners: @apascal07

Minor editorial revisions to context.md
  docs/context.md
Owners: @pavelgj

remove temperature config from menu sample
  go/samples/menu/s02.go
Owners: @apascal07

fix: use correct idx link in js api readme (#1877)
  js/index.typedoc.md
Owners: @pavelgj

use gemini-2.0 on vertex plugin
  go/samples/menu/main.go
  go/samples/menu/s05.go
Owners: @apascal07

fix: minor fixes in ollama plugin doc (#1875)
  docs/plugins/ollama.md
Owners: @pavelgj

Next.js works! Theres' enough testing I think we can GA it
  .github/workflows/bump-js-version.yml
  js/core/src/error.ts
  js/plugins/api-key/src/index.ts
  js/plugins/firebase/package.json
  js/plugins/next/package.json
  js/plugins/next/src/index.ts
  js/pnpm-lock.yaml
Owners: @pavelgj

Fix esm stuff; update docs
  docs/auth.md
  docs/cloud-run.md
  docs/deploy-node.md
  js/core/src/context.ts
  js/core/src/error.ts
  js/core/src/index.ts
  js/genkit/src/index.ts
  js/plugins/api-key/.npmignore
  js/plugins/api-key/LICENSE
  js/plugins/api-key/jest.config.ts
  js/plugins/api-key/package.json
  js/plugins/api-key/src/index.ts
  js/plugins/api-key/tests/index_test.ts
  js/plugins/api-key/tsup.config.ts
  js/plugins/firebase/package.json
  js/plugins/firebase/src/context.ts
  js/plugins/firebase/tests/context_test.ts
  js/plugins/next/package.json
  js/plugins/next/src/client.ts
  js/plugins/next/src/index.ts
  js/pnpm-lock.yaml
  js/testapps/esm/package.json
  js/testapps/esm/src/index.ts
  js/testapps/express/src/index.ts
Owners: @pavelgj

Remove last reference to onCallFlow
  js/testapps/firebase-functions-sample1/functions/src/index.ts
Owners: @pavelgj

a few fixes
  js/genkit/package.json
  js/genkit/src/context.ts
  js/genkit/src/index.ts
  js/plugins/express/src/index.ts
  js/plugins/express/tests/express_test.ts
  js/plugins/firebase/src/context.ts
  js/plugins/firebase/tests/context_test.ts
  js/plugins/next/package.json
  js/plugins/next/src/client.ts
  js/plugins/next/src/index.ts
  js/testapps/express/src/index.ts
Owners: @pavelgj

express doc fix
  js/plugins/express/README.md
Owners: @pavelgj

a few fixes for #1743 (#1880)
  js/genkit/package.json
  js/genkit/src/context.ts
  js/genkit/src/index.ts
  js/plugins/express/README.md
  js/plugins/express/src/index.ts
  js/plugins/express/tests/express_test.ts
  js/plugins/firebase/src/context.ts
  js/plugins/firebase/tests/context_test.ts
  js/plugins/next/package.json
  js/plugins/next/src/client.ts
  js/plugins/next/src/index.ts
  js/testapps/express/src/index.ts
Owners: @pavelgj

chore: bump @genkit-ai/checks version to @genkit-ai/checks@1.0.0-rc.17
  js/plugins/checks/package.json
Owners: @pavelgj

chore: bump @genkit-ai/firebase version to @genkit-ai/firebase@1.0.0-rc.17
  js/plugins/firebase/package.json
Owners: @pavelgj

docs: Restructuring of codelab-chat-with-a-pdf.md (#1836)
  docs/codelabs/codelab-chat-with-a-pdf.md
Owners: @pavelgj

chore: bump @genkit-ai/core version to @genkit-ai/core@1.0.0-rc.17
  js/core/package.json
Owners: @pavelgj

feature(go): add support for multiple model versions (#1575)
  go/ai/generate.go
  go/ai/generator_test.go
  go/genkit/genkit.go
  go/internal/doc-snippets/modelplugin/modelplugin.go
  go/internal/doc-snippets/ollama.go
  go/plugins/googleai/googleai.go
  go/plugins/internal/gemini/gemini.go
  go/plugins/ollama/ollama.go
  go/plugins/vertexai/vertexai.go
  go/samples/basic-gemini/main.go
  js/testapps/basic-gemini/src/index.ts
Owners: @apascal07, @pavelgj

chore: bump @genkit-ai/evaluator version to @genkit-ai/evaluator@1.0.0-rc.17
  js/plugins/evaluators/package.json
Owners: @pavelgj

feat: support model validation (#1868)
  genkit-tools/common/src/eval/evaluate.ts
  genkit-tools/common/src/eval/validate.ts
  genkit-tools/common/src/utils/eval.ts
Owners: @pavelgj

feat(js/ai): allow explicit constrained gen option, allow simulation with tools (#1872)
  genkit-tools/common/src/types/model.ts
  genkit-tools/genkit-schema.json
  js/ai/src/generate.ts
  js/ai/src/generate/action.ts
  js/ai/src/model.ts
  js/ai/src/model/middleware.ts
  js/ai/tests/generate/generate_test.ts
  js/ai/tests/model/middleware_test.ts
  js/genkit/tests/formats_test.ts
  js/genkit/tests/helpers.ts
  js/plugins/googleai/src/gemini.ts
  js/plugins/vertexai/src/gemini.ts
Owners: @pavelgj

chore: bump @genkit-ai/telemetry-server version to @genkit-ai/telemetry-server@1.0.0-rc.17
  genkit-tools/telemetry-server/package.json
Owners: @pavelgj

chore: bump @genkit-ai/dev-local-vectorstore version to @genkit-ai/dev-local-vectorstore@1.0.0-rc.17
  js/plugins/dev-local-vectorstore/package.json
Owners: @pavelgj

Adding missing files; PR feedback
  docs/errors/types.md
  js/plugins/next/jest.config.ts
  js/plugins/next/tests/index_test.ts
Owners: @pavelgj

breaking(js/ai): drop ToolDefinition from ToolArgument (and generate action interface) (#1832)
  genkit-tools/common/src/types/model.ts
  genkit-tools/genkit-schema.json
  js/ai/src/chat.ts
  js/ai/src/model.ts
  js/ai/src/tool.ts
Owners: @pavelgj

docs(js): Adds doc for context. (#1843)
  docs/context.md
Owners: @pavelgj

chore: bump @genkit-ai/tools-common version to @genkit-ai/tools-common@1.0.0-rc.17
  genkit-tools/common/package.json
Owners: @pavelgj

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj
