Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

compat oai tests
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/handler.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/model.py
  py/plugins/compat-oai/tests/test_handler.py
  py/plugins/compat-oai/tests/test_model.py
Owners: @pavelgj, @yesudeep

fix: imports
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/__init__.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/vector_search/__init__.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/vector_search/retriever.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/vector_search/vector_search.py
  py/plugins/vertex-ai/tests/vector_search/test_retrievers.py
  py/plugins/vertex-ai/tests/vector_search/test_vector_search_plugin.py
  py/samples/vertex-ai-vector-search-bigquery/src/sample.py
  py/samples/vertex-ai-vector-search-bigquery/src/setup_env.py
  py/samples/vertex-ai-vector-search-firestore/src/sample.py
Owners: @pavelgj, @yesudeep

linters
  py/plugins/compat-oai/tests/test_model.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/model_garden/model_garden.py
Owners: @pavelgj, @yesudeep

config changes
  go/ai/retriever.go
  go/genkit/genkit.go
  go/internal/fakeembedder/fakeembedder_test.go
  go/plugins/compat_oai/compat_oai.go
  go/plugins/googlegenai/gemini.go
  go/plugins/localvec/localvec.go
  go/plugins/localvec/localvec_test.go
  go/plugins/ollama/embed.go
  go/plugins/pinecone/genkit.go
  go/plugins/pinecone/genkit_test.go
  go/plugins/weaviate/weaviate_test.go
  go/samples/rag/main.go
Owners: @apascal07

rename models
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/model_info.py
Owners: @pavelgj, @yesudeep

fix
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/model_info.py
Owners: @pavelgj, @yesudeep

addition of embedder config for all plugins and addition of retriever config
  go/ai/embedder.go
  go/ai/gen.go
  go/ai/retriever.go
  go/internal/doc-snippets/pinecone.go
  go/internal/doc-snippets/rag/main.go
  go/plugins/compat_oai/openai/openai.go
  go/plugins/firebase/retriever.go
  go/plugins/googlegenai/models.go
  go/plugins/localvec/localvec.go
  go/plugins/localvec/localvec_test.go
  go/plugins/pinecone/genkit.go
  go/plugins/pinecone/genkit_test.go
  go/plugins/weaviate/weaviate.go
  go/plugins/weaviate/weaviate_test.go
  go/samples/menu/main.go
  go/samples/pgvector/main.go
  go/samples/rag/main.go
Owners: @apascal07

rename
  js/ai/src/generate.ts
  js/ai/src/tool.ts
  js/core/src/action.ts
  js/genkit/src/genkit.ts
Owners: @pavelgj

added global context
  js/core/src/action.ts
  js/core/src/registry.ts
  js/core/tests/action_test.ts
  js/genkit/src/genkit.ts
  js/genkit/tests/flow_test.ts
  js/genkit/tests/generate_test.ts
Owners: @pavelgj

fix: filter promptTemplate root spans from traceStore
  genkit-tools/telemetry-server/src/localFileTraceStore.ts
Owners: @pavelgj

Test: Add non-serializable data to generate context
  js/genkit/tests/generate_test.ts
Owners: @pavelgj

chore(js/mcp): Rename "Manager" -> "Host" to align terminology.
  js/plugins/mcp/README.md
  js/plugins/mcp/src/client/client.ts
  js/plugins/mcp/src/client/host.ts
  js/plugins/mcp/src/client/index.ts
  js/plugins/mcp/src/index.ts
  js/plugins/mcp/src/util/resources.ts
  js/plugins/mcp/tests/manager_test.ts
  js/testapps/esm/src/index.ts
  js/testapps/mcp/src/index.ts
Owners: @pavelgj

fix capitalization
  js/plugins/mcp/README.md
  js/plugins/mcp/src/client/host.ts
Owners: @pavelgj

fix as
  js/plugins/mcp/src/client/index.ts
Owners: @pavelgj

chore(js/mcp): Rename "Manager" -> "Host" to align terminology. (#3031)
  js/plugins/mcp/README.md
  js/plugins/mcp/src/client/client.ts
  js/plugins/mcp/src/client/host.ts
  js/plugins/mcp/src/client/index.ts
  js/plugins/mcp/src/index.ts
  js/plugins/mcp/src/util/resources.ts
  js/plugins/mcp/tests/manager_test.ts
  js/testapps/esm/src/index.ts
  js/testapps/mcp/src/index.ts
Owners: @pavelgj

Added support for resuming and restarting interrupted tools.
  go/ai/document.go
  go/ai/generate.go
  go/ai/generate_test.go
  go/ai/option.go
  go/ai/tools.go
Owners: @apascal07

add resolveAction in reflection code
  go/genkit/reflection.go
  go/internal/registry/registry.go
Owners: @apascal07

feat(go/dotprompt): add support for media in dotprompt (#3006)
  go/ai/prompt.go
  go/plugins/googlegenai/googleai_live_test.go
  go/plugins/googlegenai/vertexai_live_test.go
  go/plugins/vertexai/modelgarden/anthropic_live_test.go
  go/samples/prompts/main.go
  go/samples/prompts/prompts/media.prompt
Owners: @apascal07, @pavelgj

Update tools.go
  go/ai/tools.go
Owners: @apascal07

tests and cleanup
  genkit-tools/common/src/types/model.ts
  genkit-tools/genkit-schema.json
  js/ai/src/check-operation.ts
  js/ai/src/generate.ts
  js/ai/src/generate/action.ts
  js/ai/src/generate/response.ts
  js/ai/src/model.ts
  js/genkit/tests/generate_test.ts
Owners: @pavelgj

minor changes to mcp manager interface
  go/plugins/mcp/manager.go
  go/samples/mcp-client/main.go
  go/samples/mcp-server/README.md
Owners: @apascal07, @pavelgj

py typing update
  py/packages/genkit/src/genkit/core/typing.py
Owners: @pavelgj, @yesudeep

fix syntax
  go/ai/tools.go
Owners: @apascal07

fix test
  js/genkit/tests/generate_test.ts
  py/uv.lock
Owners: @pavelgj, @yesudeep

fix
  go/genkit/genkit.go
Owners: @apascal07

fix reflection and prompts sample
  go/genkit/reflection.go
  go/samples/prompts/main.go
Owners: @apascal07

fix(go/plugins/googlegenai): Skip nil part
  go/plugins/googlegenai/gemini.go
Owners: @apascal07

Update generate.go
  go/ai/generate.go
Owners: @apascal07

add nil check to returned action
  go/genkit/reflection.go
Owners: @apascal07

fix(js/plugins/vertexai): fixed dynamic embedder resolution
  js/plugins/vertexai/src/embedder.ts
Owners: @pavelgj

refactor: removed duplicated code
  go/plugins/alloydb/docstore.go
Owners: @apascal07

add thought signature in reasoning parts
  go/ai/document.go
  go/plugins/googlegenai/gemini.go
  go/plugins/googlegenai/googleai_live_test.go
Owners: @apascal07

Update Genkit JS API Ref landing page to reflect repo README
  js/index.typedoc.md
Owners: @pavelgj

feat: Update models to Gemini 2.0 Flash and add new prompt examples
  samples/js-prompts/src/index.ts
Owners: @pavelgj

feat(go/plugins/googlegenai): add signature thought to reasoning parts (#3007)
  go/ai/document.go
  go/go.mod
  go/go.sum
  go/plugins/googlegenai/gemini.go
  go/plugins/googlegenai/googleai_live_test.go
Owners: @apascal07

fix(js/plugins/vertexai): fixed dynamic embedder resolution (#3038)
  js/plugins/vertexai/src/embedder.ts
Owners: @pavelgj

feat(py): Added ModelGarden plugin (#2568)
  captainhook.json
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/__init__.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/handler.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/model.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/model_info.py
  py/plugins/compat-oai/tests/test_handler.py
  py/plugins/compat-oai/tests/test_model.py
  py/plugins/compat-oai/tests/test_tool_calling.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/constants.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/model_garden/__init__.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/model_garden/client.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/model_garden/model_garden.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/model_garden/modelgarden_plugin.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/vector_search/__init__.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/vector_search/retriever.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/vector_search/vector_search.py
  py/plugins/vertex-ai/tests/vector_search/test_retrievers.py
  py/plugins/vertex-ai/tests/vector_search/test_vector_search_plugin.py
  py/pyproject.toml
  py/samples/model-garden/LICENSE
  py/samples/model-garden/README.md
  py/samples/model-garden/pyproject.toml
  py/samples/model-garden/src/main.py
  py/samples/vertex-ai-vector-search-bigquery/src/sample.py
  py/samples/vertex-ai-vector-search-bigquery/src/setup_env.py
  py/samples/vertex-ai-vector-search-firestore/src/sample.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

Update tools.go
  go/ai/tools.go
Owners: @apascal07

feat(go): add `DefineToolWithInputSchema` to support custom JSON schemas (#2922)
  go/ai/tools.go
  go/core/action.go
  go/genkit/genkit.go
Owners: @apascal07

feat(go): added resume/restart for interruptible tools (#3035)
  go/ai/document.go
  go/ai/generate.go
  go/ai/generate_test.go
  go/ai/option.go
  go/ai/tools.go
Owners: @apascal07

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj
