Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

Update integration.cloudbuild.yaml
  go/plugins/postgresql/integration.cloudbuild.yaml
Owners: @pavelgj

feat(js): added reasoning part type and implemented for googleai and vertexai
  genkit-tools/common/src/types/document.ts
  genkit-tools/common/src/types/model.ts
  genkit-tools/genkit-schema.json
  js/ai/src/document.ts
  js/ai/src/model.ts
  js/plugins/googleai/src/gemini.ts
  js/plugins/vertexai/src/gemini.ts
  js/testapps/flow-simple-ai/src/index.ts
Owners: @pavelgj

regen py
  py/packages/genkit/src/genkit/core/typing.py
Owners: @pavelgj, @yesudeep

fmt
  js/testapps/flow-simple-ai/src/index.ts
Owners: @pavelgj

reasoning getter
  js/ai/src/generate/chunk.ts
  js/ai/src/generate/response.ts
  js/ai/src/message.ts
Owners: @pavelgj

fix raw
  js/ai/src/generate/response.ts
Owners: @pavelgj

fix(go/gemini): runtime panic if no candidates returned
  go/plugins/googlegenai/gemini.go
Owners: @apascal07

feat: update copyright
  js/plugins/compat-oai/src/dalle.ts
  js/plugins/compat-oai/src/embedder.ts
  js/plugins/compat-oai/src/gpt.test.ts
  js/plugins/compat-oai/src/gpt.ts
  js/plugins/compat-oai/src/index.ts
  js/plugins/compat-oai/src/tts.ts
  js/plugins/compat-oai/src/whisper.ts
  js/plugins/compat-oai/tsup.config.ts
  js/testapps/compat-oai/src/index.ts
Owners: @pavelgj

Update tsup.config.ts
  js/plugins/compat-oai/tsup.config.ts
Owners: @pavelgj

feat(js): added reasoning part type and implemented for googleai and vertexai (#2945)
  genkit-tools/common/src/types/document.ts
  genkit-tools/common/src/types/model.ts
  genkit-tools/genkit-schema.json
  js/ai/src/document.ts
  js/ai/src/generate/chunk.ts
  js/ai/src/generate/response.ts
  js/ai/src/message.ts
  js/ai/src/model.ts
  js/plugins/googleai/src/gemini.ts
  js/plugins/vertexai/src/gemini.ts
  js/testapps/flow-simple-ai/src/index.ts
  py/packages/genkit/src/genkit/core/typing.py
Owners: @pavelgj, @yesudeep

chore: bump @genkit-ai/tools-common version to @genkit-ai/tools-common@1.10.0
  genkit-tools/common/package.json
Owners: @pavelgj

chore: bump genkit-cli version to genkit-cli@1.10.0
  genkit-tools/cli/package.json
Owners: @pavelgj

chore: bump @genkit-ai/telemetry-server version to @genkit-ai/telemetry-server@1.10.0
  genkit-tools/telemetry-server/package.json
Owners: @pavelgj

chore: bump @genkit-ai/core version to @genkit-ai/core@1.10.0
  js/core/package.json
Owners: @pavelgj

chore: bump @genkit-ai/ai version to @genkit-ai/ai@1.10.0
  js/ai/package.json
Owners: @pavelgj

chore: bump genkit version to genkit@1.10.0
  js/genkit/package.json
Owners: @pavelgj

chore: bump genkitx-chromadb version to genkitx-chromadb@1.10.0
  js/plugins/chroma/package.json
Owners: @pavelgj

chore: bump @genkit-ai/dev-local-vectorstore version to @genkit-ai/dev-local-vectorstore@1.10.0
  js/plugins/dev-local-vectorstore/package.json
Owners: @pavelgj

chore: bump @genkit-ai/evaluator version to @genkit-ai/evaluator@1.10.0
  js/plugins/evaluators/package.json
Owners: @pavelgj

chore: bump @genkit-ai/firebase version to @genkit-ai/firebase@1.10.0
  js/plugins/firebase/package.json
Owners: @pavelgj

chore: bump @genkit-ai/google-cloud version to @genkit-ai/google-cloud@1.10.0
  js/plugins/google-cloud/package.json
Owners: @pavelgj

chore: bump @genkit-ai/googleai version to @genkit-ai/googleai@1.10.0
  js/plugins/googleai/package.json
Owners: @pavelgj

chore: bump genkitx-langchain version to genkitx-langchain@1.10.0
  js/plugins/langchain/package.json
Owners: @pavelgj

chore: bump @genkit-ai/next version to @genkit-ai/next@1.10.0
  js/plugins/next/package.json
Owners: @pavelgj

chore: bump genkitx-ollama version to genkitx-ollama@1.10.0
  js/plugins/ollama/package.json
Owners: @pavelgj

chore: bump genkitx-pinecone version to genkitx-pinecone@1.10.0
  js/plugins/pinecone/package.json
Owners: @pavelgj

chore: bump @genkit-ai/vertexai version to @genkit-ai/vertexai@1.10.0
  js/plugins/vertexai/package.json
Owners: @pavelgj

chore: bump @genkit-ai/checks version to @genkit-ai/checks@1.10.0
  js/plugins/checks/package.json
Owners: @pavelgj

chore: bump genkitx-mcp version to genkitx-mcp@1.10.0
  js/plugins/mcp/package.json
Owners: @pavelgj

chore: bump @genkit-ai/express version to @genkit-ai/express@1.10.0
  js/plugins/express/package.json
Owners: @pavelgj

feat(py): add logic to list models in DevUI
  py/packages/genkit/src/genkit/ai/_base.py
  py/packages/genkit/src/genkit/ai/_plugin.py
  py/packages/genkit/src/genkit/core/reflection.py
  py/packages/genkit/src/genkit/core/registry.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/google-genai/test/test_google_plugin.py
Owners: @pavelgj, @yesudeep

Squashed commit of the following:
  genkit-tools/cli/package.json
  genkit-tools/common/package.json
  genkit-tools/common/src/types/document.ts
  genkit-tools/common/src/types/model.ts
  genkit-tools/genkit-schema.json
  genkit-tools/telemetry-server/package.json
  js/ai/package.json
  js/ai/src/document.ts
  js/ai/src/generate/chunk.ts
  js/ai/src/generate/response.ts
  js/ai/src/message.ts
  js/ai/src/model.ts
  js/core/package.json
  js/genkit/package.json
  js/plugins/checks/package.json
  js/plugins/chroma/package.json
  js/plugins/dev-local-vectorstore/package.json
  js/plugins/evaluators/package.json
  js/plugins/express/package.json
  js/plugins/firebase/package.json
  js/plugins/google-cloud/package.json
  js/plugins/googleai/package.json
  js/plugins/googleai/src/gemini.ts
  js/plugins/langchain/package.json
  js/plugins/mcp/package.json
  js/plugins/next/package.json
  js/plugins/ollama/package.json
  js/plugins/pinecone/package.json
  js/plugins/vertexai/package.json
  js/plugins/vertexai/src/gemini.ts
  js/testapps/flow-simple-ai/src/index.ts
  py/packages/genkit/src/genkit/core/typing.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
Owners: @pavelgj, @yesudeep

feat(py): Add list models for dev UI Gemini
  py/packages/genkit/src/genkit/ai/_base.py
  py/packages/genkit/src/genkit/ai/_plugin.py
  py/packages/genkit/src/genkit/core/reflection.py
  py/packages/genkit/src/genkit/core/registry.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/google-genai/test/test_google_plugin.py
Owners: @pavelgj, @yesudeep

feat(go): Implement mcp client plugin
  go/ai/tools.go
  go/genkit/genkit.go
  go/go.mod
  go/go.sum
  go/plugins/mcp/client.go
  go/samples/mcp-everything/main.go
  go/samples/mcp-everything/utils.go
Owners: @apascal07

Update go/plugins/postgresql/genkit_test.go
  go/plugins/postgresql/genkit_test.go
Owners: @apascal07

feat(go): adapted changes from core and change the name of the command args
  go/plugins/alloydb/genkit_test.go
  go/plugins/alloydb/retriever.go
Owners: @apascal07

Deleted unnecessary docs content
  docs/README.md
  docs/resources/cloud-ops-log-menu-icon.png
  docs/resources/cloud-ops-logs-explorer-menu.png
  docs/resources/cloud-ops-metrics-explorer.png
  docs/resources/cloud-ops-metrics-generic-node.png
  docs/resources/cloud-ops-metrics-metric.png
  docs/resources/cloud-ops-metrics-mgmt.png
  docs/resources/cloud-ops-metrics-table.png
  docs/resources/cloud-ops-output-logs.png
  docs/resources/cloud-ops-show-expanded.png
  docs/resources/cloud-ops-suite.png
  docs/resources/cloud-ops-trace-graph.png
  docs/resources/cloud-ops-trace-view.png
  docs/resources/cloud-ops-view-in-trace.png
  docs/resources/cloud-ops-view-trace-details.png
  docs/resources/cloud-trace.png
  docs/resources/developer_ui_model_runner.png
  docs/resources/devui-evals.png
  docs/resources/devui-flows.png
  docs/resources/devui-inspect.png
  docs/resources/devui-run.png
  docs/resources/devui-run.webm
  docs/resources/devui-runstep.png
  docs/resources/idx-logo.png
  docs/resources/logo-vertical-dark.png
  docs/resources/logo-vertical-light.png
  docs/resources/prompts-in-developer-ui.png
  docs/resources/readme-rag-screenshot.png
  docs/resources/readme-ui-screenshot.png
  docs/resources/welcome_to_genkit_developer_ui.png
Owners: @pavelgj

chore: remove e2e test badge
  README.md
Owners: @pavelgj

Updated README
  README.md
Owners: @pavelgj

chore: Update Jest configuration and package dependencies
  js/plugins/cloud-sql-pg/jest.config.js
  js/plugins/cloud-sql-pg/package.json
Owners: @pavelgj

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj
