Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj

Delete mcp.go
  go/plugins/mcp/mcp.go
Owners: @apascal07

chore(js/plugins/next): fixes to README.md
  js/plugins/next/README.md
Owners: @pavelgj

chore(js/plugins/mcp): fixes to README.md
  js/plugins/mcp/README.md
Owners: @pavelgj

Changed order of provider and name
  go/plugins/compat_oai/anthropic/anthropic.go
  go/plugins/compat_oai/compat_oai.go
  go/plugins/compat_oai/openai/openai.go
Owners: @apascal07

Migrated config types
  go/plugins/compat_oai/generate.go
Owners: @apascal07

Updated config tests to pass
  go/plugins/compat_oai/generate.go
  go/plugins/compat_oai/generate_live_test.go
Owners: @apascal07

Added simplified compatibility for openai plugin
  go/plugins/compat_oai/openai/openai.go
  go/plugins/compat_oai/openai/openai_live_test.go
Owners: @apascal07

Altered sample
  go/samples/compat_oai/openai/main.go
Owners: @apascal07

Altered to max output tokens
  go/plugins/compat_oai/generate.go
  go/plugins/compat_oai/generate_live_test.go
  go/plugins/compat_oai/openai/openai_live_test.go
Owners: @apascal07

Added failure of invalid config type
  go/plugins/compat_oai/openai/openai_live_test.go
Owners: @apascal07

Added simple usage
  go/plugins/compat_oai/openai/README.md
Owners: @pavelgj

Minor doc edits
  go/plugins/compat_oai/openai/README.md
Owners: @pavelgj

Fixed typo
  go/plugins/compat_oai/openai/README.md
Owners: @pavelgj

Define Userfacing error type
  go/core/error.go
Owners: @apascal07

Define Userfacing error type
  go/core/error.go
Owners: @apascal07

fix(go): replace some instances of archived dependency gopkg.in/yaml.v{2,3} with goccy/go-yaml #2755
  go/ai/action_test.go
  go/go.mod
  go/tests/api_test.go
Owners: @apascal07

fix test case because of UserFacingError handling
  go/genkit/servers_test.go
Owners: @apascal07

feedback
  genkit-tools/common/src/eval/parser.ts
  genkit-tools/common/tests/eval/parser_test.ts
Owners: @pavelgj

fix(cli): Set type in trace index as the action subtype (#2767)
  genkit-tools/telemetry-server/src/localFileTraceStore.ts
Owners: @pavelgj

feat(evals): Support metrics on datasetMetadata
  genkit-tools/common/src/eval/localFileDatasetStore.ts
  genkit-tools/common/src/types/apis.ts
  genkit-tools/common/src/types/eval.ts
  genkit-tools/common/tests/eval/localFileDatasetStore_test.ts
Owners: @pavelgj

tests
  genkit-tools/common/tests/eval/localFileDatasetStore_test.ts
Owners: @pavelgj

Update models.go
  go/plugins/googlegenai/models.go
Owners: @apascal07

Add 2.5 flash.
  js/plugins/vertexai/src/gemini.ts
  js/plugins/vertexai/src/index.ts
Owners: @pavelgj

Added to Google AI.
  go/plugins/googlegenai/models.go
  js/plugins/googleai/src/gemini.ts
  js/plugins/googleai/src/index.ts
Owners: @apascal07, @pavelgj

feat({js,go}): add `gemini-2.5-flash-preview-04-17` to Vertex AI (#2782)
  go/plugins/googlegenai/models.go
  js/plugins/googleai/src/gemini.ts
  js/plugins/googleai/src/index.ts
  js/plugins/vertexai/src/gemini.ts
  js/plugins/vertexai/src/index.ts
Owners: @apascal07, @pavelgj

feedback
  genkit-tools/common/src/eval/localFileDatasetStore.ts
  genkit-tools/common/src/types/apis.ts
  genkit-tools/common/src/types/eval.ts
  genkit-tools/common/tests/eval/localFileDatasetStore_test.ts
Owners: @pavelgj

feat(evals): Support metrics on datasetMetadata (#2781)
  genkit-tools/common/src/eval/localFileDatasetStore.ts
  genkit-tools/common/src/types/apis.ts
  genkit-tools/common/src/types/eval.ts
  genkit-tools/common/tests/eval/localFileDatasetStore_test.ts
Owners: @pavelgj

feat(py/plugins/google-genai, py/plugins/vertex-ai): add gemini-2.5-flash-preview-04-17 model
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/gemini.py
Owners: @pavelgj, @yesudeep

feat(py/plugins/google-genai, py/plugins/vertex-ai): add gemini-2.5-flash-preview-04-17 model (#2784)
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/gemini.py
Owners: @pavelgj, @yesudeep

chore: bump @genkit-ai/core version to @genkit-ai/core@1.6.1
  js/core/package.json
Owners: @pavelgj

chore: bump @genkit-ai/ai version to @genkit-ai/ai@1.6.1
  js/ai/package.json
Owners: @pavelgj

chore: bump genkit version to genkit@1.6.1
  js/genkit/package.json
Owners: @pavelgj

chore: bump genkitx-chromadb version to genkitx-chromadb@1.6.1
  js/plugins/chroma/package.json
Owners: @pavelgj

chore: bump @genkit-ai/dev-local-vectorstore version to @genkit-ai/dev-local-vectorstore@1.6.1
  js/plugins/dev-local-vectorstore/package.json
Owners: @pavelgj

chore: bump @genkit-ai/evaluator version to @genkit-ai/evaluator@1.6.1
  js/plugins/evaluators/package.json
Owners: @pavelgj

chore: bump @genkit-ai/firebase version to @genkit-ai/firebase@1.6.1
  js/plugins/firebase/package.json
Owners: @pavelgj

chore: bump @genkit-ai/google-cloud version to @genkit-ai/google-cloud@1.6.1
  js/plugins/google-cloud/package.json
Owners: @pavelgj

chore: bump @genkit-ai/googleai version to @genkit-ai/googleai@1.6.1
  js/plugins/googleai/package.json
Owners: @pavelgj

chore: bump genkitx-langchain version to genkitx-langchain@1.6.1
  js/plugins/langchain/package.json
Owners: @pavelgj

chore: bump @genkit-ai/next version to @genkit-ai/next@1.6.1
  js/plugins/next/package.json
Owners: @pavelgj
