Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj

fix(py): fix connect issue
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/plugins/mcp/src/genkit/plugins/mcp/client/client.py
  py/plugins/mcp/src/genkit/plugins/mcp/client/host.py
  py/samples/mcp/pyproject.toml
  py/samples/mcp/src/main.py
Owners: @pavelgj, @yesudeep

fix(py): get flows back in the sidebar
  py/packages/genkit/src/genkit/core/reflection.py
Owners: @pavelgj, @yesudeep

fix(py): fix bugs to run resource flows with error report
  py/samples/mcp/src/main.py
Owners: @pavelgj, @yesudeep

fix(py): fix bugs to run most flows
  py/samples/mcp/src/main.py
Owners: @pavelgj, @yesudeep

fix(py): rebase with main
  py/plugins/mcp/src/genkit/plugins/mcp/client/client.py
  py/samples/mcp/src/main.py
Owners: @pavelgj, @yesudeep

fix(py): fix dev ui flow
  py/plugins/mcp/src/genkit/plugins/mcp/client/client.py
  py/samples/mcp/src/main.py
Owners: @pavelgj, @yesudeep

fix(py): Work in progress before sync
  py/samples/mcp/src/main.py
Owners: @pavelgj, @yesudeep

Fix tests for mcp sample
  py/plugins/mcp/tests/test_mcp_host.py
  py/plugins/mcp/tests/test_mcp_integration.py
Owners: @pavelgj, @yesudeep

fix(py): fixed nox test
  py/packages/genkit/tests/genkit/core/registry_test.py
Owners: @pavelgj, @yesudeep

fix(py): fixed lint
  py/pyproject.toml
  py/samples/mcp/src/main.py
Owners: @pavelgj, @yesudeep

fix(py): fixed one-resource flow
  py/samples/mcp/src/main.py
Owners: @pavelgj, @yesudeep

feat(py): change sample flow with updated pluginV2 refeactor
  py/packages/genkit/src/genkit/core/registry.py
  py/pyproject.toml
  py/samples/mcp/src/main.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

fix(py): trivial fixes
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/plugins/mcp/pyproject.toml
  py/plugins/mcp/src/genkit/plugins/mcp/client/client.py
  py/plugins/mcp/tests/test_mcp_integration.py
  py/plugins/mcp/tests/test_mcp_server_resources.py
  py/pyproject.toml
  py/samples/mcp/pyproject.toml
  py/samples/mcp/src/main.py
  py/samples/mcp/src/server.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

fix(py): fixed nox and serial test
  py/plugins/mcp/src/genkit/plugins/mcp/util/resource.py
  py/plugins/mcp/tests/test_mcp_integration.py
  py/plugins/mcp/tests/test_mcp_server_resources.py
  py/samples/mcp/src/main.py
Owners: @pavelgj, @yesudeep

fix(py): fixed with gemini
  py/plugins/mcp/src/genkit/plugins/mcp/client/host.py
Owners: @pavelgj, @yesudeep

fix(py/genkit): ty check fixes for genkit.ai
  py/packages/genkit/src/genkit/ai/_aio.py
  py/packages/genkit/src/genkit/ai/_registry.py
  py/packages/genkit/src/genkit/blocks/evaluator.py
  py/samples/evaluator-demo/pyproject.toml
  py/uv.lock
Owners: @pavelgj, @yesudeep

fix(py/genkit): ty check fixes for genkit.ai (#4249)
  py/packages/genkit/src/genkit/ai/_aio.py
  py/packages/genkit/src/genkit/ai/_registry.py
  py/packages/genkit/src/genkit/blocks/evaluator.py
  py/samples/evaluator-demo/pyproject.toml
  py/uv.lock
Owners: @pavelgj, @yesudeep

fix(py): fixed with gemini
  py/packages/genkit/src/genkit/aio/loop.py
  py/packages/genkit/src/genkit/core/reflection.py
Owners: @pavelgj, @yesudeep

fix(py/genkit): ty check fixes for genkit.blocks.formats...
  py/packages/genkit/src/genkit/blocks/document.py
  py/packages/genkit/src/genkit/blocks/formats/array.py
  py/packages/genkit/src/genkit/blocks/formats/enum.py
  py/packages/genkit/src/genkit/blocks/formats/json.py
  py/packages/genkit/src/genkit/blocks/formats/jsonl.py
  py/packages/genkit/src/genkit/blocks/formats/text.py
  py/packages/genkit/src/genkit/testing.py
  py/samples/evaluator-demo/pyproject.toml
Owners: @pavelgj, @yesudeep

fix(py/genkit): ty check fixes for genkit.blocks.formats... (#4250)
  py/packages/genkit/src/genkit/blocks/document.py
  py/packages/genkit/src/genkit/blocks/formats/array.py
  py/packages/genkit/src/genkit/blocks/formats/enum.py
  py/packages/genkit/src/genkit/blocks/formats/json.py
  py/packages/genkit/src/genkit/blocks/formats/jsonl.py
  py/packages/genkit/src/genkit/blocks/formats/text.py
  py/packages/genkit/src/genkit/testing.py
  py/samples/evaluator-demo/pyproject.toml
Owners: @pavelgj, @yesudeep

fix(py/samples/model-garden): fix imports and prompt for config
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/model_garden/modelgarden_plugin.py
  py/samples/model-garden/src/main.py
Owners: @pavelgj, @yesudeep

fix(py): remove changes not in use
  py/packages/genkit/src/genkit/aio/loop.py
  py/packages/genkit/src/genkit/core/reflection.py
Owners: @pavelgj, @yesudeep

fix(py): fixed broken flow with new GC default location
  py/samples/model-garden/src/main.py
Owners: @pavelgj, @yesudeep

fix(py/genkit): comprehensive ty type checker fixes across blocks and core modules
  py/packages/genkit/src/genkit/ai/_base_async.py
  py/packages/genkit/src/genkit/blocks/embedding.py
  py/packages/genkit/src/genkit/blocks/generate.py
  py/packages/genkit/src/genkit/blocks/messages.py
  py/packages/genkit/src/genkit/blocks/middleware.py
  py/packages/genkit/src/genkit/blocks/model.py
  py/packages/genkit/src/genkit/blocks/prompt.py
  py/packages/genkit/src/genkit/blocks/reranker.py
  py/packages/genkit/src/genkit/core/flows.py
  py/packages/genkit/src/genkit/core/reflection.py
  py/packages/genkit/src/genkit/web/manager/_adapters.py
  py/packages/genkit/src/genkit/web/manager/_info.py
  py/packages/genkit/src/genkit/web/manager/_server.py
  py/packages/genkit/src/genkit/web/typing.py
  py/packages/genkit/tests/genkit/blocks/model_test.py
  py/samples/anthropic-hello/src/main.py
Owners: @pavelgj, @yesudeep

fix(py/genkit): ty check fixes for more blocks (#4252)
  py/packages/genkit/src/genkit/ai/_base_async.py
  py/packages/genkit/src/genkit/blocks/embedding.py
  py/packages/genkit/src/genkit/blocks/generate.py
  py/packages/genkit/src/genkit/blocks/messages.py
  py/packages/genkit/src/genkit/blocks/middleware.py
  py/packages/genkit/src/genkit/blocks/model.py
  py/packages/genkit/src/genkit/blocks/prompt.py
  py/packages/genkit/src/genkit/blocks/reranker.py
  py/packages/genkit/src/genkit/core/flows.py
  py/packages/genkit/src/genkit/core/reflection.py
  py/packages/genkit/src/genkit/web/manager/_adapters.py
  py/packages/genkit/src/genkit/web/manager/_info.py
  py/packages/genkit/src/genkit/web/manager/_server.py
  py/packages/genkit/src/genkit/web/typing.py
  py/packages/genkit/tests/genkit/blocks/model_test.py
  py/samples/anthropic-hello/src/main.py
Owners: @pavelgj, @yesudeep

fix(py): fixed broken flow with new GC default location
  py/samples/model-garden/src/main.py
Owners: @pavelgj, @yesudeep

fix(py/samples/model-garden): fix imports and prompt for config
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/model_garden/modelgarden_plugin.py
  py/samples/model-garden/src/main.py
Owners: @pavelgj, @yesudeep

fix(py/genkit): ty check fixes for additional tests
  py/packages/genkit/src/genkit/core/action/types.py
  py/packages/genkit/src/genkit/core/environment.py
  py/packages/genkit/src/genkit/web/manager/_adapters.py
  py/packages/genkit/tests/genkit/ai/ai_plugin_test.py
  py/packages/genkit/tests/genkit/blocks/test_reranker.py
  py/packages/genkit/tests/genkit/core/endpoints/reflection_test.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/handler.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/model.py
  py/plugins/evaluators/src/genkit/plugins/evaluators/constant.py
  py/plugins/evaluators/src/genkit/plugins/evaluators/helpers.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/embedder.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/plugins/mcp/tests/fakes.py
  py/plugins/ollama/src/genkit/plugins/ollama/models.py
  py/plugins/ollama/src/genkit/plugins/ollama/plugin_api.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/model_garden/__init__.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/model_garden/anthropic.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/model_garden/modelgarden_plugin.py
  py/samples/google-genai-hello/src/main.py
  py/samples/model-garden/src/main.py
Owners: @pavelgj, @yesudeep

fix(py/genkit): ty check fixes for additional cases (strenum) (#4256)
  py/packages/genkit/src/genkit/core/action/types.py
  py/packages/genkit/src/genkit/core/environment.py
  py/packages/genkit/src/genkit/web/manager/_adapters.py
  py/packages/genkit/tests/genkit/ai/ai_plugin_test.py
  py/packages/genkit/tests/genkit/blocks/test_reranker.py
  py/packages/genkit/tests/genkit/core/endpoints/reflection_test.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/handler.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/model.py
  py/plugins/evaluators/src/genkit/plugins/evaluators/constant.py
  py/plugins/evaluators/src/genkit/plugins/evaluators/helpers.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/embedder.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/plugins/mcp/tests/fakes.py
  py/plugins/ollama/src/genkit/plugins/ollama/models.py
  py/plugins/ollama/src/genkit/plugins/ollama/plugin_api.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/model_garden/__init__.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/model_garden/anthropic.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/model_garden/modelgarden_plugin.py
  py/samples/google-genai-hello/src/main.py
  py/samples/model-garden/src/main.py
Owners: @pavelgj, @yesudeep

fix(py/genkit): ty check fixes for additional cases
  py/packages/genkit/pyproject.toml
  py/packages/genkit/src/genkit/blocks/generate.py
  py/packages/genkit/tests/genkit/veneer/veneer_test.py
  py/plugins/anthropic/src/genkit/plugins/anthropic/models.py
  py/plugins/evaluators/src/genkit/plugins/evaluators/helpers.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/plugins/ollama/src/genkit/plugins/ollama/models.py
  py/plugins/ollama/tests/models/test_models.py
  py/plugins/xai/src/genkit/plugins/xai/models.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

fix(py/genkit): ty check fixes for additional cases (#4258)
  py/packages/genkit/pyproject.toml
  py/packages/genkit/src/genkit/blocks/generate.py
  py/packages/genkit/tests/genkit/veneer/veneer_test.py
  py/plugins/anthropic/src/genkit/plugins/anthropic/models.py
  py/plugins/evaluators/src/genkit/plugins/evaluators/helpers.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/plugins/ollama/src/genkit/plugins/ollama/models.py
  py/plugins/ollama/tests/models/test_models.py
  py/plugins/xai/src/genkit/plugins/xai/models.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

docs(py/genkit): roadmap to parity
  py/engdoc/parity-analysis/feature_parity_analysis.md
  py/engdoc/parity-analysis/model_spec_compliance.md
  py/engdoc/parity-analysis/plugin_api_consistency.md
  py/engdoc/parity-analysis/roadmap.md
  py/engdoc/parity-analysis/sample_parity_analysis.md
Owners: @pavelgj

docs(py/genkit): roadmap to parity (#4261)
  py/engdoc/parity-analysis/feature_parity_analysis.md
  py/engdoc/parity-analysis/model_spec_compliance.md
  py/engdoc/parity-analysis/plugin_api_consistency.md
  py/engdoc/parity-analysis/roadmap.md
  py/engdoc/parity-analysis/sample_parity_analysis.md
Owners: @pavelgj

fix(js/plugin/compat-oai): type overload bug for OpenAI models
  js/plugins/compat-oai/src/openai/index.ts
Owners: @pavelgj

fix(js/testapps/compat-oai): update TTS voice 'sage' to 'alloy' to resolve type error
  js/testapps/compat-oai/src/index.ts
Owners: @pavelgj

fix(go/ai): WithMessages clone msgs to avoid mutating originals (#4264)
  go/ai/document.go
  go/ai/option.go
  go/ai/prompt_test.go
Owners: @apascal07

feat(py): implement centralized action latency tracking
  bin/lint
  captainhook.json
  py/packages/genkit/src/genkit/core/action/_action.py
  py/packages/genkit/tests/genkit/blocks/generate_test.py
  py/packages/genkit/tests/genkit/core/latency_test.py
  py/packages/genkit/tests/genkit/veneer/veneer_test.py
Owners: @pavelgj, @yesudeep

feat(py): implement centralized action latency tracking (#4267)
  bin/lint
  captainhook.json
  py/packages/genkit/src/genkit/core/action/_action.py
  py/packages/genkit/tests/genkit/blocks/generate_test.py
  py/packages/genkit/tests/genkit/core/latency_test.py
  py/packages/genkit/tests/genkit/veneer/veneer_test.py
Owners: @pavelgj, @yesudeep

fix(py): fixed broken flow and add Llama and Mistral to model-garden
  py/plugins/vertex-ai/pyproject.toml
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/model_garden/anthropic.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/model_garden/client.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/model_garden/llama.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/model_garden/mistral.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/model_garden/model_garden.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/model_garden/modelgarden_plugin.py
  py/plugins/vertex-ai/tests/model_garden/test_model_garden.py
  py/plugins/vertex-ai/tests/model_garden/test_modelgarden_plugin.py
  py/samples/model-garden/src/main.py
Owners: @pavelgj, @yesudeep

fix(py): fixed some ty errors
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/model_garden/anthropic.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/model_garden/mistral.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/model_garden/model_garden.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/model_garden/modelgarden_plugin.py
  py/uv.lock
Owners: @pavelgj, @yesudeep
