Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

feat(py/ai): added `interrupts` getter to response wrapper (#2582)
  py/docs/reference/interrupts.md
  py/packages/genkit-ai/src/genkit/blocks/model.py
  py/packages/genkit-ai/tests/genkit/blocks/model_test.py
  py/packages/genkit-ai/tests/genkit/veneer/veneer_test.py
  py/samples/hello-google-genai/src/hello_google_genai.py
  py/samples/tool-interrupts/src/tool_interrupts.py
Owners: @pavelgj, @yesudeep

feat(go/genkit): Add defineHelper and definePartial
  go/ai/prompt.go
  go/ai/prompt_test.go
  go/genkit/genkit.go
  go/internal/registry/registry.go
  go/samples/partials-and-helpers/main.go
Owners: @apascal07

feat(go/genkit): Add defineHelper and definePartial
  go/samples/partials-and-helpers/main.go
Owners: @apascal07

feat(go/ai): add DefinePartial and DefineHelper
  go/ai/prompt.go
  go/ai/prompt_test.go
  go/genkit/genkit.go
  go/go.mod
  go/go.sum
  go/internal/registry/registry.go
  go/samples/template-helpers/main.go
  go/samples/template-helpers/prompts/greeting.prompt
Owners: @apascal07, @pavelgj

feat(js/plugins/firebase): Data Connect tools (beta), serverApp context. (#2572)
  js/plugins/firebase/package.json
  js/plugins/firebase/src/beta/data-connect.ts
  js/plugins/firebase/src/context.ts
  js/plugins/firebase/src/firestore-retriever.ts
  js/plugins/firebase/src/index.ts
  js/plugins/firebase/src/user-engagement.ts
  js/plugins/firebase/tests/context_test.ts
  js/plugins/firebase/tests/user_engagement_test.ts
  js/pnpm-lock.yaml
Owners: @pavelgj

fix(py/core): introduced `ai.run_main` method that executes async fn and blocks main thread from shutting down
  py/packages/genkit-ai/src/genkit/ai/veneer.py
  py/samples/hello-google-genai/src/hello_google_genai.py
Owners: @pavelgj, @yesudeep

fmt
  py/packages/genkit-ai/src/genkit/ai/veneer.py
Owners: @pavelgj, @yesudeep

docs(py): update get-started.md
  py/docs/get-started.md
Owners: @pavelgj

Update get-started.md
  py/docs/get-started.md
Owners: @pavelgj

Update get-started.md
  py/docs/get-started.md
Owners: @pavelgj

Update get-started.md
  py/docs/get-started.md
Owners: @pavelgj

Update get-started.md
  py/docs/get-started.md
Owners: @pavelgj

Update get-started.md
  py/docs/get-started.md
Owners: @pavelgj

Update get-started.md
  py/docs/get-started.md
Owners: @pavelgj

docs(py): update get-started.md (#2592)
  py/docs/get-started.md
Owners: @pavelgj

Add support for Dev UI and custom configs
  go/ai/generate.go
  go/plugins/googlegenai/gemini.go
  go/samples/basic-gemini/main.go
Owners: @apascal07

Fix defineEmbedder
  go/plugins/googlegenai/gemini.go
Owners: @apascal07

fix
  go/samples/basic-gemini/main.go
Owners: @apascal07

remove references to Resolve
  go/ai/generate.go
Owners: @apascal07

test(go/plugins/googlegenai): add UT to gemini utils functions
  go/genkit/genkit.go
  go/plugins/googlegenai/gemini.go
  go/plugins/googlegenai/gemini_test.go
Owners: @apascal07

add skeleton for pg indexer
  js/plugins/cloud-sql-pg/src/index.ts
  js/pnpm-lock.yaml
Owners: @pavelgj

add skeleton for pg indexer
  js/plugins/cloud-sql-pg/src/index.ts
Owners: @pavelgj

feat(go/ai): add DefinePartial and DefineHelper
  go/ai/prompt.go
  go/ai/prompt_test.go
  go/genkit/genkit.go
  go/go.mod
  go/go.sum
  go/samples/template-helpers/main.go
  go/samples/template-helpers/prompts/greeting.prompt
Owners: @apascal07, @pavelgj

feat(py): Separate GoogleAI and VertexAI inside of GenAI plugin
  py/docs/index.md
  py/packages/genkit-ai/src/genkit/ai/plugin.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/__init__.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/plugins/google-genai/test/models/test_googlegenai_gemini.py
  py/samples/google-genai-image/src/google_genai_image.py
  py/samples/google-genai-imagen/README.md
  py/samples/google-genai-imagen/src/google_genai_imagen.py
  py/samples/hello-google-genai-vertexai/LICENSE
  py/samples/hello-google-genai-vertexai/README.md
  py/samples/hello-google-genai-vertexai/pyproject.toml
  py/samples/hello-google-genai-vertexai/src/hello_google_genai_vertexai.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

fix(py/plugins/genai): added a serialization fallback for debug trace
  py/packages/genkit-ai/src/genkit/codec.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/samples/google-genai-image/src/google_genai_image.py
Owners: @pavelgj, @yesudeep

feat(py): `run_in_new_span` and evaluator primitives (#2510)
  py/packages/genkit-ai/src/genkit/ai/registry.py
  py/packages/genkit-ai/src/genkit/blocks/evaluator.py
  py/packages/genkit-ai/src/genkit/core/tracing.py
  py/packages/genkit-ai/src/genkit/types/__init__.py
  py/packages/genkit-ai/tests/genkit/veneer/veneer_test.py
  py/samples/hello/src/hello.py
Owners: @pavelgj, @yesudeep

fix: remove legacy prompts from go
  go/ai/prompt.go
Owners: @apascal07

More tests and JSONL formatter
  go/ai/document.go
  go/ai/format_jsonl.go
  go/ai/formatter.go
  go/ai/formatter_test.go
Owners: @apascal07

fix: remove legacy prompts from go (#2598)
  go/ai/prompt.go
Owners: @apascal07

Add configs
  go/ai/generate.go
  go/plugins/googlegenai/gemini.go
  go/plugins/googlegenai/googlegenai.go
  go/samples/basic-gemini/main.go
Owners: @apascal07

Fix custom options
  go/ai/generate.go
Owners: @apascal07

feat(py): Separate GoogleAI and VertexAI inside of GenAI plugin (#2583)
  py/docs/index.md
  py/packages/genkit-ai/src/genkit/ai/plugin.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/__init__.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/plugins/google-genai/test/models/test_googlegenai_gemini.py
  py/samples/google-genai-image/src/google_genai_image.py
  py/samples/google-genai-imagen/README.md
  py/samples/google-genai-imagen/src/google_genai_imagen.py
  py/samples/hello-google-genai-vertexai/LICENSE
  py/samples/hello-google-genai-vertexai/README.md
  py/samples/hello-google-genai-vertexai/pyproject.toml
  py/samples/hello-google-genai-vertexai/src/hello_google_genai_vertexai.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

add Version back
  go/plugins/googlegenai/gemini.go
Owners: @apascal07

clean up convertRequest
  go/plugins/googlegenai/gemini.go
Owners: @apascal07

Fix dev UI
  go/ai/generate.go
Owners: @apascal07

fix(js/plugins/express): Check request.body is defined before reading data from it.
  js/plugins/express/src/index.ts
Owners: @pavelgj

Update go/plugins/googlegenai/googlegenai.go
  go/plugins/googlegenai/googlegenai.go
Owners: @apascal07

Update go/ai/option.go
  go/ai/option.go
Owners: @apascal07

Update go/ai/option.go
  go/ai/option.go
Owners: @apascal07

Update go/ai/generate.go
  go/ai/generate.go
Owners: @apascal07

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj
