Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

feat(py/genkit): solve pr comments
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/openai_plugin.py
  py/plugins/compat-oai/tests/test_plugin.py
Owners: @pavelgj, @yesudeep

Run format
  js/plugins/google-cloud/src/telemetry/action.ts
Owners: @pavelgj

refactor: removed the genkit indexer, added comments and fixed wrong text in log
  go/go.mod
  go/go.sum
  go/plugins/alloydb/README.md
  go/plugins/alloydb/docstore.go
  go/plugins/alloydb/genkit.go
  go/plugins/alloydb/genkit_test.go
  go/plugins/alloydb/indexer.go
  go/plugins/alloydb/indexer_test.go
  go/plugins/alloydb/retriever.go
  go/plugins/alloydb/retriever_test.go
Owners: @apascal07, @pavelgj

fix(google-cloud): Remove metrics and dimensions unused by the Firebase Genkit Monitoring dashboard (#3075)
  js/plugins/google-cloud/src/telemetry/action.ts
  js/plugins/google-cloud/src/telemetry/generate.ts
  js/plugins/google-cloud/tests/metrics_test.ts
Owners: @pavelgj

chore: improved comments on code
  go/plugins/postgresql/docstore.go
  go/plugins/postgresql/genkit.go
  go/plugins/postgresql/retriever.go
Owners: @apascal07

chore: go.mod changes
  go/go.mod
  go/go.sum
Owners: @apascal07

chore: improved comments
  go/plugins/alloydb/genkit.go
  go/plugins/alloydb/indexer.go
Owners: @apascal07

Fix logs tests from google cloud plugin.
  js/plugins/google-cloud/tests/logs_test.ts
Owners: @pavelgj

chore(js/plugins/mcp): removed resource tools until we have 1st class… (#3073)
  js/plugins/mcp/src/client/host.ts
  js/plugins/mcp/src/util/index.ts
  js/plugins/mcp/src/util/resources.ts
  js/plugins/mcp/tests/host_test.ts
  js/testapps/mcp/src/index.ts
Owners: @pavelgj

Update js/plugins/mcp/src/client/client.ts
  js/plugins/mcp/src/client/client.ts
Owners: @pavelgj

feat(js/plugins/mcp): added support for mcp roots (#3074)
  js/plugins/mcp/src/client/client.ts
  js/plugins/mcp/src/client/host.ts
  js/plugins/mcp/tests/fakes.ts
  js/plugins/mcp/tests/host_test.ts
Owners: @pavelgj

removed the EnhancedGenerateContentResponse
  js/plugins/google-genai/src/common/types.ts
  js/plugins/google-genai/src/common/utils.ts
  js/pnpm-lock.yaml
Owners: @pavelgj

no tests for now
  js/plugins/google-genai/package.json
Owners: @pavelgj

feat(js/plugins/google-genai) Unified types and utils for new plugin (#3069)
  js/plugins/google-genai/package.json
  js/plugins/google-genai/src/common/types.ts
  js/plugins/google-genai/src/common/utils.ts
  js/plugins/google-genai/src/index.ts
  js/plugins/google-genai/tsconfig.json
  js/plugins/google-genai/tsup.config.ts
  js/pnpm-lock.yaml
Owners: @pavelgj

feat(js/plugins/google-genai): Unified converters plus unit tests
  js/plugins/google-genai/package.json
  js/plugins/google-genai/src/common/converters.ts
  js/plugins/google-genai/tests/common/converters_test.ts
  js/plugins/google-genai/tests/common/utils_test.ts
Owners: @pavelgj

feat(js/plugins/google-genai): Unified converters plus unit tests (#3078)
  js/plugins/google-genai/package.json
  js/plugins/google-genai/src/common/converters.ts
  js/plugins/google-genai/tests/common/converters_test.ts
  js/plugins/google-genai/tests/common/utils_test.ts
Owners: @pavelgj

docs: fix up OpenAI plugin example
  go/plugins/compat_oai/openai/README.md
Owners: @pavelgj

Provide default embedder options in defineEmbedder
  go/plugins/googlegenai/gemini.go
  go/plugins/googlegenai/googlegenai.go
Owners: @apascal07

adding tests
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/model_garden/client.py
  py/plugins/vertex-ai/tests/model_garden/test_client.py
  py/plugins/vertex-ai/tests/model_garden/test_model_garden.py
Owners: @pavelgj, @yesudeep

feat(js): added id and metadata to executable prompts
  js/ai/src/prompt.ts
  js/genkit/src/genkit.ts
  js/genkit/tests/prompts_test.ts
  js/plugins/mcp/src/util/prompts.ts
  js/plugins/mcp/tests/host_test.ts
Owners: @pavelgj

fmt
  js/ai/src/prompt.ts
Owners: @pavelgj

fix: delete hardcode of plugin name
  py/plugins/firebase/src/genkit/plugins/firebase/firestore.py
  py/samples/firestore-retreiver/README.md
  py/samples/firestore-retreiver/src/main.py
Owners: @pavelgj, @yesudeep

WIP, refactoring
  js/ai/src/index.ts
  js/plugins/compat-oai/jest.config.js
  js/plugins/compat-oai/jest.config.ts
  js/plugins/compat-oai/src/audio.ts
  js/plugins/compat-oai/src/embedder.ts
  js/plugins/compat-oai/src/image.ts
  js/plugins/compat-oai/src/model.ts
  js/plugins/compat-oai/src/openai/dalle.ts
  js/plugins/compat-oai/src/openai/embedder.ts
  js/plugins/compat-oai/src/openai/gpt.ts
  js/plugins/compat-oai/src/openai/index.ts
  js/plugins/compat-oai/src/openai/tts.ts
  js/plugins/compat-oai/src/openai/whisper.ts
  js/plugins/compat-oai/src/tts.ts
  js/plugins/compat-oai/tests/gpt_test.ts
Owners: @pavelgj

fix(py): Remove hardcoded name for firestore plugin (#3085)
  py/plugins/firebase/src/genkit/plugins/firebase/firestore.py
  py/samples/firestore-retreiver/README.md
  py/samples/firestore-retreiver/src/main.py
Owners: @pavelgj, @yesudeep

fix: comments
  py/plugins/google-genai/test/models/test_googlegenai_gemini.py
Owners: @pavelgj, @yesudeep

fix: Limits on common model config
  js/ai/src/model.ts
  js/plugins/googleai/src/gemini.ts
  js/plugins/googleai/src/index.ts
Owners: @pavelgj

fix(js/plugins/google-cloud): Run all tests and refactor to only initialize telemetry once (#3076)
  js/plugins/google-cloud/tests/logs_test.ts
Owners: @pavelgj

feat(js): added abort signal to actions/flows
  js/ai/src/generate.ts
  js/ai/src/generate/action.ts
  js/ai/src/model.ts
  js/ai/tests/model/model_test.ts
  js/core/src/action.ts
  js/core/src/flow.ts
  js/core/tests/action_test.ts
  js/core/tests/flow_test.ts
  js/genkit/src/genkit.ts
  js/genkit/tests/generate_test.ts
Owners: @pavelgj

fix(js/plugins/googleai): list veo models in actions list
  js/ai/src/model.ts
  js/plugins/googleai/src/index.ts
Owners: @pavelgj

undo
  js/ai/src/model.ts
Owners: @pavelgj

feedback
  js/ai/src/model.ts
Owners: @pavelgj

undo 2
  js/genkit/src/genkit.ts
Owners: @pavelgj

docs: fix up OpenAI plugin example (#3080)
  go/plugins/compat_oai/openai/README.md
Owners: @pavelgj

chore(go): bump go-genai SDK to v1.11.1
  go/go.mod
  go/go.sum
Owners: @apascal07

fix output schema
  js/ai/src/model.ts
Owners: @pavelgj

fix(js/plugins/googleai): list veo models in actions list (#3091)
  js/ai/src/model.ts
  js/plugins/googleai/src/index.ts
Owners: @pavelgj

Add role to structured input and output logs from GCP plugin
  js/plugins/google-cloud/src/telemetry/generate.ts
  js/plugins/google-cloud/tests/logs_test.ts
Owners: @pavelgj

Fix feature name parsing
  js/plugins/google-cloud/src/utils.ts
Owners: @pavelgj

format
  js/plugins/google-cloud/src/utils.ts
Owners: @pavelgj

fix(js/plugins/google-cloud): Fix feature name parsing to include "dotprompt" type (#3094)
  js/plugins/google-cloud/src/utils.ts
Owners: @pavelgj

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj
