Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

Very beefy server rewrite.
  go/core/action.go
  go/core/context.go
  go/core/flow.go
  go/core/flow_test.go
  go/genkit/conformance_test.go
  go/genkit/gen.go
  go/genkit/genkit.go
  go/genkit/genkit_test.go
  go/genkit/reflection.go
  go/genkit/reflection_test.go
  go/genkit/servers.go
  go/genkit/servers_test.go
  go/go.mod
  go/internal/action/action.go
  go/internal/base/misc.go
  go/internal/base/validation.go
  go/internal/registry/registry.go
  go/plugins/dotprompt/dotprompt.go
  go/plugins/dotprompt/dotprompt_test.go
  go/plugins/dotprompt/genkit_test.go
  go/plugins/dotprompt/render_test.go
  go/plugins/googleai/googleai_test.go
  go/plugins/localvec/localvec_test.go
  go/plugins/ollama/ollama_live_test.go
  go/plugins/pinecone/genkit_test.go
  go/plugins/vertexai/vertexai_test.go
  go/plugins/weaviate/weaviate_test.go
  go/samples/basic-gemini/main.go
  go/samples/coffee-shop/main.go
  go/samples/flow-sample1/main.go
  go/samples/menu/main.go
  go/samples/pgvector/main.go
  go/samples/rag/main.go
  go/tests/test_app/main.go
Owners: @apascal07

fix: correct flow execution comment for streamyThrowy
  js/testapps/flow-sample1/src/index.ts
Owners: @pavelgj

feat(py): added support for action execution context
  py/packages/genkit/src/genkit/core/action.py
  py/packages/genkit/src/genkit/core/plugin_abc.py
  py/packages/genkit/src/genkit/core/registry.py
  py/packages/genkit/src/genkit/veneer/veneer.py
  py/packages/genkit/tests/core/__init__.py
  py/packages/genkit/tests/core/conftest.py
  py/packages/genkit/tests/core/test_action.py
  py/packages/genkit/tests/core/test_registry.py
  py/packages/genkit/tests/veneer/__init__.py
  py/packages/genkit/tests/veneer/test_server.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/models/__init__.py
  py/samples/hello/src/hello.py
Owners: @pavelgj, @yesudeep

feat: refactoring a Plugin abstraction (#2029)
  py/packages/genkit/src/genkit/core/plugin_abc.py
  py/packages/genkit/src/genkit/veneer/veneer.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/plugin_api.py
  py/samples/hello/src/hello.py
Owners: @pavelgj, @yesudeep

Create genkit.ts
  js/testapps/docs-menu-rag/src/genkit.ts
Owners: @pavelgj

fix: resolve circular dependency in index.ts
  js/testapps/docs-menu-rag/src/index.ts
  js/testapps/docs-menu-rag/src/indexer.ts
  js/testapps/docs-menu-rag/src/menuQA.ts
Owners: @pavelgj

feat(py): added passing of `GenerationCommonConfig` to generate api
  py/packages/genkit/src/genkit/veneer/veneer.py
Owners: @pavelgj, @yesudeep

Fix prompt name in metadata to include variant
  js/ai/src/prompt.ts
Owners: @pavelgj

Fixed greet sample
  js/testapps/dev-ui-gallery/src/genkit.ts
  js/testapps/dev-ui-gallery/src/main/flows-firebase-functions.ts
Owners: @pavelgj

Updated go version
  CONTRIBUTING.md
Owners: @pavelgj

fix: greet sample (#2060)
  js/testapps/dev-ui-gallery/src/genkit.ts
  js/testapps/dev-ui-gallery/src/main/flows-firebase-functions.ts
Owners: @pavelgj

fix: Fix prompt name in metadata to include variant (#2057)
  js/ai/src/prompt.ts
Owners: @pavelgj

chore: cleanup unused /api/sse tooling endpoint
  genkit-tools/common/src/server/server.ts
Owners: @pavelgj

docs(contribution): update contribution guide to include GO (#2038)
  CONTRIBUTING.md
Owners: @pavelgj

chore: cleanup unused /api/sse tooling endpoint (#2062)
  genkit-tools/common/src/server/server.ts
Owners: @pavelgj

fix(py): passing registry on plugin initialization and removing circular dependencies on Genkit in Plugin API
  py/packages/genkit/src/genkit/core/plugin_abc.py
  py/packages/genkit/src/genkit/core/registry.py
  py/packages/genkit/src/genkit/veneer/veneer.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/plugin_api.py
Owners: @pavelgj, @yesudeep

fix(py): passing registry on plugin initialization and removing circular dependencies on Genkit in Plugin API (#2041)
  py/packages/genkit/src/genkit/core/plugin_abc.py
  py/packages/genkit/src/genkit/core/registry.py
  py/packages/genkit/src/genkit/veneer/veneer.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/plugin_api.py
Owners: @pavelgj, @yesudeep

feat(py): added passing of `GenerationCommonConfig` to generate api (#2053)
  py/packages/genkit/src/genkit/veneer/veneer.py
Owners: @pavelgj, @yesudeep

chore: set default node version in eng setup to 23 again; add cmake
  bin/setup
Owners: @pavelgj

chore: set default node version in eng setup to 23 again; add cmake (#2065)
  bin/setup
Owners: @pavelgj

Added initial outline for openai model
  go/plugins/openai/openai.go
Owners: @apascal07

Separated out custom client into separate code
  go/plugins/openai/client/client.go
Owners: @apascal07

Updated types
  go/plugins/openai/client/types.go
Owners: @apascal07

Added additional types for role
  go/plugins/openai/client/types.go
Owners: @apascal07

Updated types to spec
  go/plugins/openai/client/types.go
Owners: @apascal07

Updated types to spec again
  go/plugins/openai/client/types.go
Owners: @apascal07

Edited client to use builder
  go/plugins/openai/client/client.go
Owners: @apascal07

Added initial support for base client
  go/plugins/openai/client/client.go
Owners: @apascal07

Added unit tests for builder functionality
  go/plugins/openai/client/client_test.go
Owners: @apascal07

added updates to the types
  go/plugins/openai/client/types.go
Owners: @apascal07

Added ability to test the live client
  go/plugins/openai/client/client_live_test.go
Owners: @apascal07

Added updates to builder unit test functionality
  go/plugins/openai/client/client.go
  go/plugins/openai/client/client_test.go
Owners: @apascal07

Added outline for model plugin with client
  go/plugins/openai/openai.go
Owners: @apascal07

refactor(py): use the typing naming convention used by Pythonic libraries for type hint modules
  captainhook.json
  py/bin/generate_schema_typing
  py/bin/sanitize_schema_typing.py
  py/packages/genkit/src/genkit/ai/model.py
  py/packages/genkit/src/genkit/ai/prompt.py
  py/packages/genkit/src/genkit/core/typing.py
  py/packages/genkit/src/genkit/veneer/veneer.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/gemini.py
  py/pyproject.toml
  py/samples/hello/src/hello.py
Owners: @pavelgj, @yesudeep

refactor(py): use the typing naming convention used by Pythonic libraries for type hint modules (#2067)
  captainhook.json
  py/bin/generate_schema_typing
  py/bin/sanitize_schema_typing.py
  py/packages/genkit/src/genkit/ai/model.py
  py/packages/genkit/src/genkit/ai/prompt.py
  py/packages/genkit/src/genkit/core/typing.py
  py/packages/genkit/src/genkit/veneer/veneer.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/gemini.py
  py/pyproject.toml
  py/samples/hello/src/hello.py
Owners: @pavelgj, @yesudeep

feat(py/core): added support for async actions (and flows), streaming and (start of) context
  py/packages/genkit/src/genkit/core/action.py
  py/packages/genkit/src/genkit/core/action_test.py
  py/packages/genkit/src/genkit/core/reflection.py
  py/packages/genkit/src/genkit/core/registry.py
  py/packages/genkit/src/genkit/core/registry_test.py
  py/packages/genkit/src/genkit/core/utils.py
  py/packages/genkit/src/genkit/veneer/server.py
  py/packages/genkit/src/genkit/veneer/veneer.py
  py/samples/hello/src/hello.py
Owners: @pavelgj, @yesudeep

fixes
  py/packages/genkit/src/genkit/core/action.py
  py/packages/genkit/src/genkit/core/registry.py
  py/packages/genkit/src/genkit/veneer/veneer.py
  py/samples/hello/src/hello.py
Owners: @pavelgj, @yesudeep

cleanup
  py/packages/genkit/src/genkit/core/registry.py
Owners: @pavelgj, @yesudeep

format
  py/packages/genkit/src/genkit/core/action.py
  py/packages/genkit/src/genkit/core/action_test.py
  py/packages/genkit/src/genkit/core/reflection.py
  py/packages/genkit/src/genkit/core/registry.py
  py/packages/genkit/src/genkit/core/utils.py
  py/packages/genkit/src/genkit/veneer/veneer.py
  py/samples/hello/src/hello.py
Owners: @pavelgj, @yesudeep

cleanup
  py/packages/genkit/src/genkit/veneer/veneer.py
Owners: @pavelgj, @yesudeep

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj
