Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

fix: misc fixes
  go/ai/model_middleware.go
  go/genkit/reflection.go
Owners: @apascal07

feat(go/genkit): Use `dotprompt` package for rendering prompt templates (#2526)
  go/ai/prompt.go
  go/ai/prompt_test.go
  go/genkit/genkit.go
  go/go.mod
  go/go.sum
  go/internal/registry/registry.go
  go/samples/partials-and-helpers/main.go
Owners: @apascal07

refactor(py/genkit): move port scanning to ports module that has other utilities for this
  py/packages/genkit/src/genkit/ai/base.py
  py/packages/genkit/src/genkit/web/manager/__init__.py
  py/packages/genkit/src/genkit/web/manager/_ports.py
Owners: @pavelgj, @yesudeep

refactor(py/genkit): move port scanning to ports module that has other utilities for this (#2609)
  py/packages/genkit/src/genkit/ai/base.py
  py/packages/genkit/src/genkit/web/manager/__init__.py
  py/packages/genkit/src/genkit/web/manager/_ports.py
Owners: @pavelgj, @yesudeep

feat(js/plugins): add 'gemini-embedding-exp-03-07' model
  js/plugins/googleai/src/embedder.ts
Owners: @pavelgj

Fixed failing test
  go/ai/generator_test.go
Owners: @apascal07

Review comments
  go/ai/format_json.go
  go/ai/format_jsonl.go
  go/ai/format_text.go
  go/ai/formatter.go
  go/ai/formatter_test.go
  go/ai/generate.go
  go/ai/generator_test.go
  go/ai/option.go
  go/ai/option_test.go
Owners: @apascal07

Review comments
  go/ai/format_json.go
  go/ai/format_jsonl.go
  go/ai/format_text.go
  go/ai/formatter.go
  go/ai/formatter_test.go
  go/ai/generate.go
  go/ai/generator_test.go
Owners: @apascal07

Fix failing test
  go/ai/prompt_test.go
Owners: @apascal07

Fixed typo
  go/ai/format_json.go
Owners: @apascal07

Fix for JSONL formatter
  go/ai/format_jsonl.go
  go/ai/formatter_test.go
  go/internal/base/validation.go
Owners: @apascal07

docs(py): setup ga for python docs
  py/docs/index.md
  py/mkdocs.yml
Owners: @pavelgj, @yesudeep

try manage
  py/mkdocs.yml
Owners: @pavelgj, @yesudeep

theme
  py/docs/index.md
  py/mkdocs.yml
Owners: @pavelgj, @yesudeep

refactor: Address PR comments from firestore retriever support
  py/packages/genkit/src/genkit/ai/aio.py
  py/plugins/firebase/src/genkit/plugins/firebase/retriever.py
  py/samples/firestore-retreiver/src/main.py
Owners: @pavelgj, @yesudeep

icons
  py/docs/assets/favicon.png
  py/docs/assets/logo.png
  py/mkdocs.yml
Owners: @pavelgj, @yesudeep

fix VertexAIModelRef def
  go/plugins/googlegenai/googlegenai.go
Owners: @apascal07

extract config from all types
  go/plugins/googlegenai/gemini.go
Owners: @apascal07

fix: ignore constrained flag value for now
  go/ai/generator_test.go
Owners: @apascal07

Update gemini.go
  go/plugins/googlegenai/gemini.go
Owners: @apascal07

favicon
  py/docs/assets/favicon.png
Owners: @pavelgj

feat(genkit): add plugins as optional deps
  py/packages/genkit/pyproject.toml
Owners: @pavelgj, @yesudeep

try 3.11
  py/packages/genkit/pyproject.toml
  py/plugins/chroma/pyproject.toml
  py/plugins/compat-oai/pyproject.toml
  py/plugins/dev-local-vector-store/pyproject.toml
  py/plugins/firebase/pyproject.toml
  py/plugins/flask/pyproject.toml
  py/plugins/google-ai/pyproject.toml
  py/plugins/google-cloud/pyproject.toml
  py/plugins/google-genai/pyproject.toml
  py/plugins/ollama/pyproject.toml
  py/plugins/pinecone/pyproject.toml
  py/plugins/vertex-ai/pyproject.toml
  py/pyproject.toml
  py/samples/basic-gemini/pyproject.toml
  py/samples/coffee-shop/pyproject.toml
  py/samples/context-caching/pyproject.toml
  py/samples/firestore-retreiver/pyproject.toml
  py/samples/flow-sample1/pyproject.toml
  py/samples/google-ai/pyproject.toml
  py/samples/google-genai-image/pyproject.toml
  py/samples/google-genai-imagen/pyproject.toml
  py/samples/hello-flask/pyproject.toml
  py/samples/hello-google-genai-vertexai/pyproject.toml
  py/samples/hello-google-genai/pyproject.toml
  py/samples/hello/pyproject.toml
  py/samples/menu/pyproject.toml
  py/samples/multi-server/pyproject.toml
  py/samples/ollama-hello/pyproject.toml
  py/samples/ollama-simple-embed/pyproject.toml
  py/samples/openai/pyproject.toml
  py/samples/prompt-file/pyproject.toml
  py/samples/rag/pyproject.toml
  py/samples/tool-interrupts/pyproject.toml
  py/samples/vertex-ai-imagen/pyproject.toml
  py/samples/vertex-ai-model-garden/pyproject.toml
  py/samples/vertex-ai-reranker/pyproject.toml
  py/samples/vertex-ai-vector-search/pyproject.toml
  py/tests/smoke/pyproject.toml
  py/uv.lock
Owners: @pavelgj, @yesudeep

test
  py/packages/genkit/pyproject.toml
Owners: @pavelgj, @yesudeep

fix(py/genkit): use the function docstring as the description unless you want to override; saves duplication
  py/docs/index.md
  py/docs/reference/interrupts.md
  py/docs/reference/tools.md
  py/packages/genkit/src/genkit/ai/registry.py
  py/packages/genkit/tests/genkit/ai/ai_registry_test.py
  py/packages/genkit/tests/genkit/blocks/generate_test.py
  py/packages/genkit/tests/genkit/blocks/prompt_test.py
  py/packages/genkit/tests/genkit/veneer/veneer_test.py
  py/samples/basic-gemini/src/basic_gemini.py
  py/samples/hello-google-genai-vertexai/src/hello_google_genai_vertexai.py
  py/samples/hello-google-genai/src/hello_google_genai.py
  py/samples/hello/src/hello.py
  py/samples/menu/src/case_02/tools.py
  py/samples/ollama-hello/src/ollama_hello.py
  py/samples/openai/src/openai_example.py
  py/samples/tool-interrupts/src/tool_interrupts.py
Owners: @pavelgj, @yesudeep

fix(py/genkit): use the function docstring as the description unless you want to override; saves duplication (#2615)
  py/docs/index.md
  py/docs/reference/interrupts.md
  py/docs/reference/tools.md
  py/packages/genkit/src/genkit/ai/registry.py
  py/packages/genkit/tests/genkit/ai/ai_registry_test.py
  py/packages/genkit/tests/genkit/blocks/generate_test.py
  py/packages/genkit/tests/genkit/blocks/prompt_test.py
  py/packages/genkit/tests/genkit/veneer/veneer_test.py
  py/samples/basic-gemini/src/basic_gemini.py
  py/samples/hello-google-genai-vertexai/src/hello_google_genai_vertexai.py
  py/samples/hello-google-genai/src/hello_google_genai.py
  py/samples/hello/src/hello.py
  py/samples/menu/src/case_02/tools.py
  py/samples/ollama-hello/src/ollama_hello.py
  py/samples/openai/src/openai_example.py
  py/samples/tool-interrupts/src/tool_interrupts.py
Owners: @pavelgj, @yesudeep

fix(js/plugins/express): Error message if request.body is not defined
  js/plugins/express/src/index.ts
Owners: @pavelgj

chore(go): upgrade SDK to v0.7.0
  go/go.mod
  go/go.sum
  go/plugins/googlegenai/cache.go
Owners: @apascal07

refactor(py): Address PR comments from firestore retriever support (#2612)
  py/packages/genkit/src/genkit/ai/aio.py
  py/plugins/firebase/src/genkit/plugins/firebase/retriever.py
  py/samples/firestore-retreiver/src/main.py
Owners: @pavelgj, @yesudeep

Update py/mkdocs.yml
  py/mkdocs.yml
Owners: @pavelgj, @yesudeep

clean up
  go/ai/generate.go
  go/ai/prompt.go
  go/plugins/googlegenai/gemini.go
Owners: @apascal07

docs(py): added ga, updated icons and auto-dark/light mode (#2613)
  py/docs/assets/favicon.png
  py/docs/assets/logo.png
  py/mkdocs.yml
Owners: @pavelgj, @yesudeep

fix
  go/plugins/googlegenai/gemini.go
Owners: @apascal07

fix
  go/plugins/googlegenai/googlegenai.go
Owners: @apascal07

Addition of error handling in go along with error status
  go/core/error.go
  go/core/status_types.go
Owners: @apascal07

fix(js/plugins/express): Modified error message
  js/plugins/express/src/index.ts
Owners: @pavelgj

feat(go): added initial skeleton - added config for engine - added engine - added method Init - added signature for methods Retrieve and Index
  go/go.mod
  go/go.sum
  go/plugins/googlecloudsql/postgres/engine.go
  go/plugins/googlecloudsql/postgres/engineconfig.go
  go/plugins/googlecloudsql/postgres/engineconfig_test.go
  go/plugins/googlecloudsql/postgres/genkit.go
  go/plugins/googlecloudsql/postgres/genkit_test.go
Owners: @apascal07

feat(genkit): add plugins as optional deps (#2614)
  py/packages/genkit/pyproject.toml
Owners: @pavelgj, @yesudeep

fix: use seconds for ttl
  go/plugins/googlegenai/cache.go
Owners: @apascal07

Switch from BAD REQUEST to INVALID ARGUMENT
  js/plugins/express/src/index.ts
Owners: @pavelgj

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj
