Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

Updated samples and tests.
  go/ai/option.go
  go/ai/prompt_test.go
  go/plugins/vertexai/vertexai_test.go
  go/samples/basic-gemini/main.go
  go/samples/prompts/main.go
Owners: @apascal07

Updated doc snippets.
  go/internal/doc-snippets/googleai.go
  go/internal/doc-snippets/init/main.go
  go/internal/doc-snippets/models.go
  go/internal/doc-snippets/ollama.go
  go/internal/doc-snippets/prompts.go
  go/internal/doc-snippets/vertexai.go
  go/samples/prompts/main.go
  go/tests/test_app/main.go
Owners: @apascal07

bug: migrate googleai plugin to go-genai sdk
  go/go.mod
  go/go.sum
  go/plugins/googleai/googleai.go
  go/plugins/googleai/googleai_test.go
Owners: @apascal07

misc: remove dead code
  go/plugins/googleai/googleai.go
  go/plugins/googleai/googleai_test.go
Owners: @apascal07

bug: use go-genai sdk in vertexAI plugin
  go/plugins/vertexai/vertexai.go
  go/plugins/vertexai/vertexai_test.go
Owners: @apascal07

misc: move shared code to plugins/internal
  go/plugins/googleai/googleai.go
  go/plugins/internal/gemini/gemini.go
  go/plugins/vertexai/vertexai.go
Owners: @apascal07

export more types
  genkit-tools/common/src/eval/parser.ts
  genkit-tools/common/src/types/embedder.ts
  genkit-tools/common/src/types/evaluator.ts
  genkit-tools/common/src/types/evaluators.ts
  genkit-tools/common/src/types/index.ts
  genkit-tools/common/src/types/model.ts
  genkit-tools/common/src/types/reranker.ts
  genkit-tools/common/src/types/retriever.ts
  genkit-tools/common/src/types/trace.ts
  genkit-tools/genkit-schema.json
  genkit-tools/scripts/schema-exporter.ts
  js/core/src/tracing/types.ts
Owners: @pavelgj

feat(py/core): propagate action context to sub actions via contextvar
  py/packages/genkit/src/genkit/core/action.py
  py/packages/genkit/tests/genkit/core/action_test.py
Owners: @pavelgj, @yesudeep

fmt
  py/packages/genkit/src/genkit/core/action.py
  py/packages/genkit/tests/genkit/core/action_test.py
Owners: @pavelgj, @yesudeep

Support both dev UI and direct code invocation
  go/plugins/googleai/googleai.go
  go/samples/basic-gemini/main.go
Owners: @apascal07

Update googleai.go
  go/plugins/googleai/googleai.go
Owners: @apascal07

fix type exports
  genkit-tools/common/tests/eval/parser_test.ts
  js/ai/src/model.ts
  js/testapps/rag/tsconfig.json
Owners: @pavelgj

_action_context
  py/packages/genkit/src/genkit/core/action.py
Owners: @pavelgj, @yesudeep

typing.py
  py/packages/genkit/src/genkit/core/typing.py
Owners: @pavelgj, @yesudeep

feat(py/core): propagate action context to sub actions via contextvar (#2260)
  py/packages/genkit/src/genkit/core/action.py
  py/packages/genkit/tests/genkit/core/action_test.py
Owners: @pavelgj, @yesudeep

eval request, comments
  genkit-tools/common/src/types/document.ts
  genkit-tools/common/src/types/evaluator.ts
  genkit-tools/common/src/types/model.ts
  genkit-tools/common/src/types/reranker.ts
  genkit-tools/genkit-schema.json
  js/testapps/rag/tsconfig.json
  py/packages/genkit/src/genkit/core/typing.py
Owners: @pavelgj, @yesudeep

feat(py/ai): implemented model middleware framework
  py/packages/genkit/src/genkit/ai/generate.py
  py/packages/genkit/src/genkit/ai/model.py
  py/packages/genkit/src/genkit/core/action.py
  py/packages/genkit/src/genkit/veneer/veneer.py
  py/packages/genkit/src/genkit/veneer/veneer_test.py
  py/packages/genkit/tests/genkit/ai/generate_test.py
Owners: @pavelgj, @yesudeep

feat: added support for the basic features of the OpenAI plugin
  py/plugins/compat-oai/LICENSE
  py/plugins/compat-oai/README.md
  py/plugins/compat-oai/pyproject.toml
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/__init__.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/__init__.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/handler.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/model.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/model_info.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/openai_plugin.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/typing.py
  py/plugins/compat-oai/src/genkit/py.typed
  py/plugins/compat-oai/tests/conftest.py
  py/plugins/compat-oai/tests/test_handler.py
  py/plugins/compat-oai/tests/test_model.py
  py/plugins/compat-oai/tests/test_plugin.py
  py/pyproject.toml
  py/samples/openai/LICENSE
  py/samples/openai/README.md
  py/samples/openai/pyproject.toml
  py/samples/openai/src/main.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

Fixes for various situations.
  go/ai/generate.go
  go/ai/option.go
  go/ai/prompt.go
  go/ai/prompt_test.go
  go/core/action.go
  go/internal/base/json.go
  go/internal/base/json_test.go
  go/plugins/dotprompt/dotprompt.go
  go/samples/prompts/main.go
Owners: @apascal07

middlware none
  py/packages/genkit/src/genkit/ai/generate.py
  py/packages/genkit/src/genkit/veneer/veneer.py
Owners: @pavelgj, @yesudeep

support dynamic config in dev UI
  go/ai/gen.go
  go/ai/generate.go
  go/plugins/googleai/googleai.go
Owners: @apascal07

Role.MODEL
  py/packages/genkit/tests/genkit/ai/generate_test.py
Owners: @pavelgj, @yesudeep

feat: add contet caching to googleAI and vertexAI plugins
  go/ai/request_helpers.go
  go/plugins/internal/gemini/cache.go
  go/plugins/internal/gemini/cache_test.go
  go/plugins/internal/gemini/gemini.go
  go/samples/cache-gemini/main.go
  go/samples/cache-vertex-ai/main.go
Owners: @apascal07

fmt
  py/packages/genkit/tests/genkit/ai/generate_test.py
Owners: @pavelgj, @yesudeep

feat: added support for the basic features of the OpenAI plugin (#2160)
  py/plugins/compat-oai/LICENSE
  py/plugins/compat-oai/README.md
  py/plugins/compat-oai/pyproject.toml
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/__init__.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/__init__.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/handler.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/model.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/model_info.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/openai_plugin.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/typing.py
  py/plugins/compat-oai/src/genkit/py.typed
  py/plugins/compat-oai/tests/conftest.py
  py/plugins/compat-oai/tests/test_handler.py
  py/plugins/compat-oai/tests/test_model.py
  py/plugins/compat-oai/tests/test_plugin.py
  py/pyproject.toml
  py/samples/openai/LICENSE
  py/samples/openai/README.md
  py/samples/openai/pyproject.toml
  py/samples/openai/src/main.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

fix(js/plugins/firebase): Ensures retriever works with no options.
  js/plugins/firebase/src/firestoreRetriever.ts
Owners: @pavelgj

smaller description
  genkit-tools/common/src/types/evaluator.ts
  genkit-tools/genkit-schema.json
  py/packages/genkit/src/genkit/core/typing.py
Owners: @pavelgj, @yesudeep

feat(py/ai): implemented model middleware framework (#2263)
  py/packages/genkit/src/genkit/ai/generate.py
  py/packages/genkit/src/genkit/ai/model.py
  py/packages/genkit/src/genkit/core/action.py
  py/packages/genkit/src/genkit/veneer/veneer.py
  py/packages/genkit/src/genkit/veneer/veneer_test.py
  py/packages/genkit/tests/genkit/ai/generate_test.py
Owners: @pavelgj, @yesudeep

Update README.md firebase
  README.md
Owners: @pavelgj

fix(py/core/aio): cancel pop task when closing cannel to avoid warnings
  py/packages/genkit/src/genkit/core/aio.py
Owners: @pavelgj, @yesudeep

Update formatter.yml
  .github/workflows/formatter.yml
Owners: @pavelgj

fix(py/core/aio): cancel pop task when closing cannel to avoid warnings (#2271)
  py/packages/genkit/src/genkit/core/aio.py
Owners: @pavelgj, @yesudeep

feat: asyncio servers
  .hooks/no-commits-on-branches
  py/engdoc/extending/api.md
  py/engdoc/extending/python/getting_started.md
  py/engdoc/user_guide/go/index.md
  py/engdoc/user_guide/python/getting_started.md
  py/engdoc/user_guide/python/index.md
  py/engdoc/user_guide/typescript/index.md
  py/mkdocs.yml
  py/packages/genkit/src/genkit/core/action.py
  py/packages/genkit/src/genkit/core/tracing.py
  py/packages/genkit/src/genkit/veneer/registry.py
  py/packages/genkit/src/genkit/veneer/veneer.py
  py/pyproject.toml
Owners: @pavelgj, @yesudeep

docs: update engdocs to include API docs using mkdocstrings
  .hooks/no-commits-on-branches
  py/engdoc/extending/api.md
  py/engdoc/extending/python/getting_started.md
  py/engdoc/user_guide/go/index.md
  py/engdoc/user_guide/python/getting_started.md
  py/engdoc/user_guide/python/index.md
  py/engdoc/user_guide/typescript/index.md
  py/mkdocs.yml
  py/packages/genkit/src/genkit/core/action.py
  py/packages/genkit/src/genkit/core/tracing.py
  py/packages/genkit/src/genkit/veneer/registry.py
  py/packages/genkit/src/genkit/veneer/veneer.py
  py/pyproject.toml
Owners: @pavelgj, @yesudeep

docs: update engdocs to include API docs using mkdocstrings (#2272)
  .hooks/no-commits-on-branches
  py/engdoc/extending/api.md
  py/engdoc/extending/python/getting_started.md
  py/engdoc/user_guide/go/index.md
  py/engdoc/user_guide/python/getting_started.md
  py/engdoc/user_guide/python/index.md
  py/engdoc/user_guide/typescript/index.md
  py/mkdocs.yml
  py/packages/genkit/src/genkit/core/action.py
  py/packages/genkit/src/genkit/core/tracing.py
  py/packages/genkit/src/genkit/veneer/registry.py
  py/packages/genkit/src/genkit/veneer/veneer.py
  py/pyproject.toml
Owners: @pavelgj, @yesudeep

docs(py): telemetry: tracing, logs, and metrics
  py/engdoc/extending/telemetry.md
Owners: @pavelgj

fix(go): check validation for json part on text that generated by LLM (#2265)
  go/ai/generate.go
Owners: @apascal07

feat: registry and runtime implementation
  js/core/src/registry.ts
  py/bin/run_python_tests
  py/bin/watch_python_tests
  py/packages/genkit/src/genkit/core/action.py
  py/packages/genkit/src/genkit/core/registry.py
  py/packages/genkit/src/genkit/veneer/veneer.py
  py/packages/genkit/tests/genkit/core/action_test.py
  py/plugins/ollama/tests/test_plugin_api.py
Owners: @pavelgj, @yesudeep

fix(py): various fixes including missing return values; pytest watcher script
  js/core/src/registry.ts
  py/bin/run_python_tests
  py/bin/watch_python_tests
  py/packages/genkit/src/genkit/core/action.py
  py/packages/genkit/src/genkit/core/registry.py
  py/packages/genkit/src/genkit/veneer/veneer.py
  py/packages/genkit/tests/genkit/core/action_test.py
  py/plugins/ollama/tests/test_plugin_api.py
Owners: @pavelgj, @yesudeep

fix(py): various fixes including missing return values; pytest watcher script (#2274)
  js/core/src/registry.ts
  py/bin/run_python_tests
  py/bin/watch_python_tests
  py/packages/genkit/src/genkit/core/action.py
  py/packages/genkit/src/genkit/core/registry.py
  py/packages/genkit/src/genkit/veneer/veneer.py
  py/packages/genkit/tests/genkit/core/action_test.py
  py/plugins/ollama/tests/test_plugin_api.py
Owners: @pavelgj, @yesudeep

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj
