Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj

fix: failing checks
  go/fix_genkit_init.sh
Owners: @apascal07

fix: failing checks (#3465)
  go/fix_genkit_init.sh
Owners: @apascal07

chore(vertexai): add Claude 4 models support to Model Garden (#3433)
  js/plugins/vertexai/src/modelgarden/anthropic.ts
  js/plugins/vertexai/src/modelgarden/index.ts
Owners: @pavelgj

fix(js/plugins): expose indexer, retriever and reranker in v2 plugin api
  js/ai/src/retriever.ts
  js/genkit/src/plugin.ts
  js/plugins/mcp/src/server.ts
Owners: @pavelgj

fmt
  js/plugins/mcp/src/server.ts
Owners: @pavelgj

chore(cli): address feedback and format
  genkit-tools/cli/src/utils/updates.ts
  genkit-tools/cli/tests/utils/updates_test.ts
Owners: @pavelgj

chore: fix simple typos (#3463)
  js/core/src/schema.ts
  js/genkit/src/client/client.ts
  js/genkit/src/client/index.ts
  js/genkit/src/genkit-beta.ts
  js/genkit/src/genkit.ts
  js/genkit/tests/prompts_test.ts
  js/genkit/tests/session_test.ts
  js/plugins/compat-oai/src/model.ts
  js/plugins/compat-oai/tests/compat_oai_test.ts
  js/plugins/google-genai/src/vertexai/types.ts
  js/testapps/flow-simple-ai/src/index.ts
  py/packages/genkit/src/genkit/blocks/generate.py
  samples/js-schoolAgent/src/tools.ts
Owners: @pavelgj, @yesudeep

fix(js/plugins): expose indexer, retriever and reranker in v2 plugin api (#3467)
  js/ai/src/retriever.ts
  js/genkit/src/plugin.ts
Owners: @pavelgj

fix(js) Fix next.js warnings related to firebase (#3459)
  js/core/package.json
  js/core/src/tracing.ts
  js/pnpm-lock.yaml
Owners: @pavelgj

chore(js): allow setting additional client header fragments for x-goog-api-client (#3438)
  js/core/src/index.ts
  js/genkit/src/common.ts
  js/genkit/src/genkit.ts
  js/genkit/tests/genkit_test.ts
  js/plugins/google-genai/src/common/utils.ts
  js/plugins/google-genai/src/googleai/client.ts
  js/plugins/google-genai/src/vertexai/client.ts
  js/plugins/google-genai/tests/googleai/client_test.ts
  js/plugins/google-genai/tests/googleai/imagen_test.ts
  js/plugins/google-genai/tests/googleai/veo_test.ts
  js/plugins/google-genai/tests/vertexai/client_test.ts
  js/plugins/google-genai/tests/vertexai/embedder_test.ts
  js/plugins/google-genai/tests/vertexai/gemini_test.ts
  js/plugins/google-genai/tests/vertexai/imagen_test.ts
  js/plugins/google-genai/tests/vertexai/lyria_test.ts
  js/plugins/google-genai/tests/vertexai/veo_test.ts
  js/plugins/googleai/src/gemini.ts
  js/plugins/googleai/src/predict.ts
  js/plugins/vertexai/src/common/index.ts
  js/plugins/vertexai/src/evaluation/evaluator_factory.ts
  js/plugins/vertexai/src/gemini.ts
  js/plugins/vertexai/src/list-models.ts
  js/plugins/vertexai/src/modelgarden/anthropic.ts
  js/plugins/vertexai/src/modelgarden/mistral.ts
  js/plugins/vertexai/src/modelgarden/model_garden.ts
  js/plugins/vertexai/src/predict.ts
Owners: @pavelgj

Cleaner registration.
  go/ai/embedder.go
  go/ai/evaluator.go
  go/ai/generate.go
  go/ai/retriever.go
Owners: @apascal07

fix(js) Add otel jaeger dependency to remove next.js warning (#3461)
  js/core/package.json
  js/pnpm-lock.yaml
Owners: @pavelgj

chore: CLI version bump
  genkit-tools/cli/package.json
  genkit-tools/common/package.json
  genkit-tools/telemetry-server/package.json
Owners: @pavelgj

chore: JS version bump
  js/ai/package.json
  js/core/package.json
  js/genkit/package.json
  js/plugins/checks/package.json
  js/plugins/chroma/package.json
  js/plugins/cloud-sql-pg/package.json
  js/plugins/compat-oai/package.json
  js/plugins/dev-local-vectorstore/package.json
  js/plugins/evaluators/package.json
  js/plugins/express/package.json
  js/plugins/firebase/package.json
  js/plugins/google-cloud/package.json
  js/plugins/google-genai/package.json
  js/plugins/googleai/package.json
  js/plugins/langchain/package.json
  js/plugins/mcp/package.json
  js/plugins/next/package.json
  js/plugins/ollama/package.json
  js/plugins/pinecone/package.json
  js/plugins/vertexai/package.json
Owners: @pavelgj

refactor: revert overengineered cli script changes
  bin/install_cli
Owners: @pavelgj

chore(scripts): disable provenance on release script
  scripts/release_main.sh
  scripts/release_next.sh
Owners: @pavelgj

Update go/genkit/genkit.go
  go/genkit/genkit.go
Owners: @apascal07

fix
  go/genkit/genkit.go
Owners: @apascal07

feat(go): Add support for genkit resources (#3342)
  go/ai/document.go
  go/ai/gen.go
  go/ai/generate.go
  go/ai/generate_test.go
  go/ai/option.go
  go/ai/resource.go
  go/core/action.go
  go/core/resource/matcher.go
  go/core/schemas.config
  go/genkit/genkit.go
  go/genkit/genkit_test.go
  go/go.mod
Owners: @apascal07, @pavelgj

Update genkit.go
  go/genkit/genkit.go
Owners: @apascal07

Update comments and return types.
  go/ai/embedder.go
  go/ai/evaluator.go
  go/ai/generate.go
  go/ai/prompt.go
  go/ai/prompt_test.go
  go/ai/retriever.go
  go/ai/tools.go
Owners: @apascal07

Changed resources to match the other actions.
  go/ai/generate.go
  go/ai/resource.go
  go/ai/resource_test.go
  go/core/flow.go
  go/genkit/genkit.go
  go/genkit/genkit_test.go
  go/internal/registry/registry.go
Owners: @apascal07

Update resource_test.go
  go/ai/resource_test.go
Owners: @apascal07

fix(plugins/compat-oai): correctly set the namespace on modelRef
  js/ai/src/embedder.ts
  js/ai/src/model.ts
  js/plugins/compat-oai/src/audio.ts
  js/plugins/compat-oai/src/deepseek/deepseek.ts
  js/plugins/compat-oai/src/image.ts
  js/plugins/compat-oai/src/model.ts
  js/plugins/compat-oai/src/openai/embedder.ts
  js/plugins/compat-oai/src/openai/gpt.ts
  js/plugins/compat-oai/src/openai/index.ts
  js/plugins/compat-oai/src/xai/grok.ts
  js/plugins/compat-oai/src/xai/index.ts
  js/pnpm-lock.yaml
  js/testapps/compat-oai/package.json
  js/testapps/compat-oai/src/index.ts
Owners: @pavelgj

Fix tests
  go/ai/resource.go
  go/core/resource/matcher.go
  go/genkit/genkit.go
  go/genkit/resource.go
  go/genkit/resource_test.go
  go/plugins/mcp/fixtures/basic_server/basic_server.go
  go/plugins/mcp/fixtures/content_server/content_server.go
  go/plugins/mcp/fixtures/policy_server/policy_server.go
  go/plugins/mcp/fixtures/server_a/server_a.go
  go/plugins/mcp/fixtures/server_b/server_b.go
  go/plugins/mcp/host.go
  go/plugins/mcp/integration_test.go
  go/plugins/mcp/resources.go
  go/plugins/mcp/server.go
Owners: @apascal07

fix(plugins/compat-oai): correctly set the namespace on modelRef (#3468)
  js/ai/src/embedder.ts
  js/ai/src/model.ts
  js/plugins/compat-oai/src/audio.ts
  js/plugins/compat-oai/src/deepseek/deepseek.ts
  js/plugins/compat-oai/src/image.ts
  js/plugins/compat-oai/src/model.ts
  js/plugins/compat-oai/src/openai/embedder.ts
  js/plugins/compat-oai/src/openai/gpt.ts
  js/plugins/compat-oai/src/openai/index.ts
  js/plugins/compat-oai/src/xai/grok.ts
  js/plugins/compat-oai/src/xai/index.ts
  js/pnpm-lock.yaml
  js/testapps/compat-oai/package.json
  js/testapps/compat-oai/src/index.ts
Owners: @pavelgj

format
  go/ai/resource.go
  go/core/resource/matcher.go
  go/plugins/mcp/fixtures/basic_server/basic_server.go
  go/plugins/mcp/resources.go
  go/plugins/mcp/server.go
Owners: @apascal07

chore: CLI version bump
  genkit-tools/cli/package.json
  genkit-tools/common/package.json
  genkit-tools/telemetry-server/package.json
Owners: @pavelgj

chore: JS version bump
  js/ai/package.json
  js/core/package.json
  js/genkit/package.json
  js/plugins/checks/package.json
  js/plugins/chroma/package.json
  js/plugins/cloud-sql-pg/package.json
  js/plugins/compat-oai/package.json
  js/plugins/dev-local-vectorstore/package.json
  js/plugins/evaluators/package.json
  js/plugins/express/package.json
  js/plugins/firebase/package.json
  js/plugins/google-cloud/package.json
  js/plugins/google-genai/package.json
  js/plugins/googleai/package.json
  js/plugins/langchain/package.json
  js/plugins/mcp/package.json
  js/plugins/next/package.json
  js/plugins/ollama/package.json
  js/plugins/pinecone/package.json
  js/plugins/vertexai/package.json
Owners: @pavelgj

fix
  go/samples/mcp-ception/mcp_ception.go
  go/samples/mcp-client/main.go
Owners: @apascal07

chore: CLI version bump
  genkit-tools/cli/package.json
  genkit-tools/common/package.json
  genkit-tools/telemetry-server/package.json
Owners: @pavelgj

chore: JS version bump
  js/ai/package.json
  js/core/package.json
  js/genkit/package.json
  js/plugins/checks/package.json
  js/plugins/chroma/package.json
  js/plugins/cloud-sql-pg/package.json
  js/plugins/compat-oai/package.json
  js/plugins/dev-local-vectorstore/package.json
  js/plugins/evaluators/package.json
  js/plugins/express/package.json
  js/plugins/firebase/package.json
  js/plugins/google-cloud/package.json
  js/plugins/google-genai/package.json
  js/plugins/googleai/package.json
  js/plugins/langchain/package.json
  js/plugins/mcp/package.json
  js/plugins/next/package.json
  js/plugins/ollama/package.json
  js/plugins/pinecone/package.json
  js/plugins/vertexai/package.json
Owners: @pavelgj

refactor
  go/ai/resource.go
  go/core/resource.go
  go/core/resource/matcher.go
  go/genkit/genkit.go
  go/plugins/mcp/host.go
  go/plugins/mcp/integration_test.go
  go/plugins/mcp/resources.go
  go/plugins/mcp/resources_test.go
  go/plugins/mcp/tools.go
Owners: @apascal07

fix(js/ai): fixed action type typo in defineIndexer
  js/ai/src/retriever.ts
Owners: @pavelgj

added missing tests
  js/ai/tests/retriever/indexer_test.ts
  js/ai/tests/retriever/retriever_test.ts
Owners: @pavelgj

fix(js/ai): fixed action type typo in defineIndexer (#3472)
  js/ai/src/retriever.ts
  js/ai/tests/retriever/indexer_test.ts
  js/ai/tests/retriever/retriever_test.ts
Owners: @pavelgj

chore: CLI version bump
  genkit-tools/cli/package.json
  genkit-tools/common/package.json
  genkit-tools/telemetry-server/package.json
Owners: @pavelgj

chore: JS version bump
  js/ai/package.json
  js/core/package.json
  js/genkit/package.json
  js/plugins/checks/package.json
  js/plugins/chroma/package.json
  js/plugins/cloud-sql-pg/package.json
  js/plugins/compat-oai/package.json
  js/plugins/dev-local-vectorstore/package.json
  js/plugins/evaluators/package.json
  js/plugins/express/package.json
  js/plugins/firebase/package.json
  js/plugins/google-cloud/package.json
  js/plugins/google-genai/package.json
  js/plugins/googleai/package.json
  js/plugins/langchain/package.json
  js/plugins/mcp/package.json
  js/plugins/next/package.json
  js/plugins/ollama/package.json
  js/plugins/pinecone/package.json
  js/plugins/vertexai/package.json
Owners: @pavelgj

refactor(js/ai): stop validating model supports metadata
  js/ai/src/model.ts
Owners: @pavelgj

Changed `Evaluate()` to take in refs.
  go/ai/evaluator.go
  go/ai/evaluator_test.go
  go/ai/option.go
Owners: @apascal07
