Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

Edited doc strings
  go/plugins/compat_oai/openai/openai.go
Owners: @apascal07

Added generate with config functionality
  go/plugins/compat_oai/generate.go
Owners: @apascal07

Added basic documentation
  go/plugins/compat_oai/README.md
Owners: @pavelgj

Changed name of config
  go/plugins/compat_oai/generate.go
  go/plugins/compat_oai/generate_live_test.go
Owners: @apascal07

Testing complete
  go/plugins/compat_oai/openai/openai.go
Owners: @apascal07

Fixed typo
  go/plugins/compat_oai/openai/README.md
Owners: @pavelgj

Removed helper from readme
  go/plugins/compat_oai/README.md
Owners: @pavelgj

Removed constructor
  go/plugins/compat_oai/openai/openai.go
  go/plugins/compat_oai/openai/openai_live_test.go
  go/samples/compat_oai/openai/main.go
Owners: @apascal07

Added request options and collecting env api key
  go/plugins/compat_oai/openai/openai.go
Owners: @apascal07

Added passing unit tests
  go/plugins/compat_oai/generate_live_test.go
Owners: @apascal07

Added usage for struct
  go/plugins/compat_oai/compat_oai.go
Owners: @apascal07

Added supported models to docs
  go/plugins/compat_oai/README.md
Owners: @pavelgj

Update go/plugins/compat_oai/generate.go
  go/plugins/compat_oai/generate.go
Owners: @apascal07

feat(js/core): allow passing in "list actions" fn for plugins
  js/core/src/action.ts
  js/core/src/plugin.ts
  js/core/src/reflection.ts
  js/core/src/registry.ts
  js/core/tests/registry_test.ts
  js/genkit/src/genkit.ts
  js/genkit/src/plugin.ts
Owners: @pavelgj

fmt
  js/core/src/plugin.ts
  js/genkit/src/genkit.ts
Owners: @pavelgj

fix
  js/core/src/registry.ts
Owners: @pavelgj

feat(js/plugins/ollama): implemented dynamic model resolver and list actions for ollama plugin
  js/plugins/ollama/src/index.ts
  js/plugins/ollama/src/types.ts
Owners: @pavelgj

refactor
  js/plugins/ollama/src/index.ts
  js/plugins/ollama/src/types.ts
Owners: @pavelgj

refactor(go): changes based on pr comments
  go/plugins/googlecloudsql/postgres/engine.go
  go/plugins/googlecloudsql/postgres/engineconfig.go
  go/plugins/googlecloudsql/postgres/genkit.go
  go/plugins/postgresql/engine.go
  go/plugins/postgresql/engine_test.go
  go/plugins/postgresql/genkit.go
  go/plugins/postgresql/genkit_test.go
  go/plugins/postgresql/options.go
Owners: @apascal07

made param optional, added ollama.model/embedder
  js/plugins/ollama/src/index.ts
  js/plugins/ollama/src/types.ts
  js/testapps/ollama/src/index.ts
Owners: @pavelgj

generalise the error in genkit error
  go/core/error.go
Owners: @apascal07

reset main
  py/uv.lock
Owners: @pavelgj, @yesudeep

lock file
  py/uv.lock
Owners: @pavelgj, @yesudeep

feat: add Claude 3.5 Haiku model reference to Anthropic schema
  js/plugins/vertexai/src/modelgarden/anthropic.ts
Owners: @pavelgj

feat: add Claude 3.5 Haiku model reference to Anthropic schema
  js/plugins/vertexai/src/modelgarden/index.ts
Owners: @pavelgj

refactor(js/plugins/vertexai): Dynamic model support for Gemini models (#2824)
  js/core/src/registry.ts
  js/plugins/googleai/src/gemini.ts
  js/plugins/googleai/src/index.ts
  js/plugins/googleai/tests/gemini_test.ts
  js/plugins/vertexai/src/index.ts
  js/plugins/vertexai/tests/plugin_test.ts
  js/testapps/flow-simple-ai/package.json
  js/testapps/flow-simple-ai/src/index.ts
  package.json
  pnpm-lock.yaml
Owners: @pavelgj

feat(go): add DefineToolWithInputSchema to support custom JSON schemas
  go/ai/tools.go
  go/genkit/genkit.go
Owners: @apascal07

merge with previous branch
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/__init__.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/models/retriever.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/models/vectorstore.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/vector_search/vector_search.py
  py/samples/vertex-ai-vector-search-bigquery/LICENSE
  py/samples/vertex-ai-vector-search-bigquery/README.md
  py/samples/vertex-ai-vector-search-bigquery/pyproject.toml
  py/samples/vertex-ai-vector-search-bigquery/src/sample.py
  py/samples/vertex-ai-vector-search-firestore/LICENSE
  py/samples/vertex-ai-vector-search-firestore/README.md
  py/samples/vertex-ai-vector-search-firestore/pyproject.toml
  py/samples/vertex-ai-vector-search-firestore/src/sample.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

feat(py/plugins/evaluators): Add evals plugins, with simple evaluators
  py/packages/genkit/src/genkit/ai/_registry.py
  py/packages/genkit/src/genkit/blocks/generate.py
  py/plugins/evaluators/pyproject.toml
  py/plugins/evaluators/src/genkit/plugins/evaluators/constant.py
  py/plugins/evaluators/src/genkit/plugins/evaluators/model_wrapper.py
  py/plugins/evaluators/src/genkit/plugins/evaluators/plugin_api.py
  py/samples/google-genai-hello/src/google_genai_hello.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

feat(js/core): allow defining a "list actions" fn for plugins (#2830)
  js/core/src/action.ts
  js/core/src/plugin.ts
  js/core/src/reflection.ts
  js/core/src/registry.ts
  js/core/tests/registry_test.ts
  js/genkit/src/genkit.ts
  js/genkit/src/plugin.ts
Owners: @pavelgj

refactor(js/plugins/vertexai): refactored tests for dynamic models
  js/plugins/googleai/tests/gemini_test.ts
  js/plugins/vertexai/tests/plugin_test.ts
Owners: @pavelgj

refactor(js/plugins/googleai) fix formatting
  js/plugins/googleai/tests/gemini_test.ts
  js/plugins/vertexai/tests/plugin_test.ts
Owners: @pavelgj

refactor(js/plugins/vertexai): refactored tests for dynamic models (#2836)
  js/plugins/googleai/tests/gemini_test.ts
  js/plugins/vertexai/tests/plugin_test.ts
Owners: @pavelgj

add status
  py/packages/genkit/src/genkit/blocks/generate.py
  py/plugins/evaluators/pyproject.toml
  py/plugins/evaluators/src/genkit/plugins/evaluators/plugin_api.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

lint
  py/packages/genkit/src/genkit/blocks/generate.py
  py/plugins/evaluators/src/genkit/plugins/evaluators/plugin_api.py
Owners: @pavelgj, @yesudeep

initial commit for thinking configuration (no parts)
  go/plugins/googlegenai/gemini.go
  go/plugins/googlegenai/gemini_test.go
  go/plugins/googlegenai/googleai_live_test.go
Owners: @apascal07

feedback
  js/plugins/evaluators/prompts/answer_accuracy.prompt
Owners: @pavelgj

fix(go/genkit): remove colons from runtime filename (#2817)
  genkit-tools/common/src/manager/manager.ts
  go/genkit/reflection.go
Owners: @pavelgj, @apascal07

feat(plugins/evaluators): Added answer accuracy, refined other metrics (#2826)
  js/plugins/evaluators/prompts/answer_accuracy.prompt
  js/plugins/evaluators/prompts/answer_relevancy.prompt
  js/plugins/evaluators/prompts/faithfulness_long_form.prompt
  js/plugins/evaluators/prompts/faithfulness_nli.prompt
  js/plugins/evaluators/prompts/maliciousness.prompt
  js/plugins/evaluators/src/index.ts
  js/plugins/evaluators/src/metrics/answer_accuracy.ts
  js/plugins/evaluators/src/metrics/answer_relevancy.ts
  js/plugins/evaluators/src/metrics/faithfulness.ts
  js/plugins/evaluators/src/types.ts
  js/testapps/evals/src/genkit.ts
Owners: @pavelgj

chore(go): update all dependencies to their latest versions (#2825)
  go/core/tracing/store.go
  go/core/tracing/trace_server_exporter.go
  go/core/tracing/trace_server_exporter_test.go
  go/go.mod
  go/go.sum
  go/plugins/googlegenai/vertexai_live_test.go
  go/plugins/weaviate/weaviate.go
Owners: @apascal07

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj
