Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj

chore: bump @genkit-ai/firebase version to @genkit-ai/firebase@1.7.0
  js/plugins/firebase/package.json
Owners: @pavelgj

chore: bump @genkit-ai/google-cloud version to @genkit-ai/google-cloud@1.7.0
  js/plugins/google-cloud/package.json
Owners: @pavelgj

chore: bump @genkit-ai/googleai version to @genkit-ai/googleai@1.7.0
  js/plugins/googleai/package.json
Owners: @pavelgj

chore: bump genkitx-langchain version to genkitx-langchain@1.7.0
  js/plugins/langchain/package.json
Owners: @pavelgj

chore: bump @genkit-ai/next version to @genkit-ai/next@1.7.0
  js/plugins/next/package.json
Owners: @pavelgj

chore: bump genkitx-ollama version to genkitx-ollama@1.7.0
  js/plugins/ollama/package.json
Owners: @pavelgj

chore: bump genkitx-pinecone version to genkitx-pinecone@1.7.0
  js/plugins/pinecone/package.json
Owners: @pavelgj

chore: bump @genkit-ai/vertexai version to @genkit-ai/vertexai@1.7.0
  js/plugins/vertexai/package.json
Owners: @pavelgj

chore: bump @genkit-ai/checks version to @genkit-ai/checks@1.7.0
  js/plugins/checks/package.json
Owners: @pavelgj

chore: bump genkitx-mcp version to genkitx-mcp@1.7.0
  js/plugins/mcp/package.json
Owners: @pavelgj

chore: bump @genkit-ai/express version to @genkit-ai/express@1.7.0
  js/plugins/express/package.json
Owners: @pavelgj

Testing complete
  go/plugins/compat_oai/openai/openai.go
Owners: @apascal07

Update generate.go
  go/ai/generate.go
Owners: @apascal07

feat(js/plugins/vertexai): Dynamic model support for Gemini models
  js/core/src/registry.ts
  js/plugins/vertexai/src/index.ts
  js/testapps/flow-simple-ai/package.json
  js/testapps/flow-simple-ai/src/index.ts
  package.json
  pnpm-lock.yaml
Owners: @pavelgj

fix(go): fix `ModelResponse.ToolRequests()` return type (#2823)
  go/ai/generate.go
Owners: @apascal07

chore(go): update all dependencies to the latest
  go/core/tracing/store.go
  go/core/tracing/trace_server_exporter.go
  go/core/tracing/trace_server_exporter_test.go
  go/go.mod
  go/go.sum
  go/plugins/weaviate/weaviate.go
Owners: @apascal07

fix: move to vertexai plugin
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/retriever.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/__init__.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/models/retriever.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/models/vectorstore.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/vector_search/vector_search.py
Owners: @pavelgj, @yesudeep

finish removing code
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
Owners: @pavelgj, @yesudeep

update tool description in vertexAI live tests
  go/plugins/googlegenai/vertexai_live_test.go
Owners: @apascal07

fix: typo
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/models/retriever.py
Owners: @pavelgj, @yesudeep

test(js/plugins/vertexai): modified the test
  js/plugins/vertexai/tests/plugin_test.ts
Owners: @pavelgj

fix: samples of vector store
  py/samples/google-genai-vertexai-vector-search-bigquery/README.md
  py/samples/google-genai-vertexai-vector-search-firestore/README.md
  py/samples/vertex-ai-vector-search-bigquery/LICENSE
  py/samples/vertex-ai-vector-search-bigquery/README.md
  py/samples/vertex-ai-vector-search-bigquery/pyproject.toml
  py/samples/vertex-ai-vector-search-bigquery/src/sample.py
  py/samples/vertex-ai-vector-search-firestore/LICENSE
  py/samples/vertex-ai-vector-search-firestore/README.md
  py/samples/vertex-ai-vector-search-firestore/pyproject.toml
  py/samples/vertex-ai-vector-search-firestore/src/sample.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

fix: update doc
  py/samples/vertex-ai-vector-search-bigquery/README.md
  py/samples/vertex-ai-vector-search-bigquery/src/sample.py
  py/samples/vertex-ai-vector-search-firestore/README.md
  py/samples/vertex-ai-vector-search-firestore/src/sample.py
Owners: @pavelgj, @yesudeep

fix(go/genkit): address issues raised by @hugoaguirre
  go/core/schema.go
  go/core/schema_test.go
  go/genkit/genkit.go
  go/genkit/schema.go
  go/genkit/schema_test.go
  go/internal/registry/schema.go
Owners: @apascal07

add todo
  go/core/tracing/store.go
Owners: @apascal07

feat(plugins/evaluators): Added answer accuracy, refined other metrics
  js/plugins/evaluators/prompts/answer_relevancy.prompt
  js/plugins/evaluators/prompts/faithfulness_long_form.prompt
  js/plugins/evaluators/prompts/faithfulness_nli.prompt
  js/plugins/evaluators/prompts/maliciousness.prompt
  js/plugins/evaluators/src/index.ts
  js/plugins/evaluators/src/metrics/answer_relevancy.ts
  js/plugins/evaluators/src/metrics/faithfulness.ts
  js/plugins/evaluators/src/types.ts
  js/testapps/evals/src/genkit.ts
Owners: @pavelgj

new files
  js/plugins/evaluators/prompts/answer_accuracy.prompt
  js/plugins/evaluators/src/metrics/answer_accuracy.ts
Owners: @pavelgj

feat(js/plugins/googleai) Dynamic model support for Gemini models
  js/plugins/googleai/src/gemini.ts
  js/plugins/googleai/src/index.ts
  js/plugins/googleai/tests/gemini_test.ts
  js/plugins/vertexai/src/index.ts
Owners: @pavelgj

Update go/plugins/compat_oai/generate.go
  go/plugins/compat_oai/generate.go
Owners: @apascal07

Changed name of config
  go/plugins/compat_oai/generate.go
  go/plugins/compat_oai/generate_live_test.go
Owners: @apascal07

Changed order of provider and name
  go/plugins/compat_oai/anthropic/anthropic.go
  go/plugins/compat_oai/compat_oai.go
  go/plugins/compat_oai/openai/openai.go
Owners: @apascal07

Migrated config types
  go/plugins/compat_oai/generate.go
Owners: @apascal07

Updated config tests to pass
  go/plugins/compat_oai/generate.go
  go/plugins/compat_oai/generate_live_test.go
Owners: @apascal07

Added simplified compatibility for openai plugin
  go/plugins/compat_oai/openai/openai.go
  go/plugins/compat_oai/openai/openai_live_test.go
Owners: @apascal07

Altered sample
  go/samples/compat_oai/openai/main.go
Owners: @apascal07

Altered to max output tokens
  go/plugins/compat_oai/generate.go
  go/plugins/compat_oai/generate_live_test.go
  go/plugins/compat_oai/openai/openai_live_test.go
Owners: @apascal07

Added failure of invalid config type
  go/plugins/compat_oai/openai/openai_live_test.go
Owners: @apascal07

Added simple usage
  go/plugins/compat_oai/openai/README.md
Owners: @pavelgj

Minor doc edits
  go/plugins/compat_oai/openai/README.md
Owners: @pavelgj

Added doc string with link
  go/plugins/compat_oai/generate.go
Owners: @apascal07
