Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

chore(go/plugins/googlegenai): update live tests to use env vars
  go/plugins/googlegenai/gemini.go
  go/plugins/googlegenai/googleai_live_test.go
Owners: @apascal07

include vertex ai
  go/plugins/googlegenai/googleai_live_test.go
  go/plugins/googlegenai/vertexai_live_test.go
Owners: @apascal07

fix(go/plugins/googlegenai): distinct text parts from thoughts
  go/plugins/googlegenai/gemini.go
Owners: @apascal07

feat(go): Add MCP Client (#2959)
  go/ai/tools.go
  go/genkit/genkit.go
  go/go.mod
  go/go.sum
  go/plugins/mcp/README.md
  go/plugins/mcp/client.go
  go/plugins/mcp/common.go
  go/plugins/mcp/manager.go
  go/plugins/mcp/prompts.go
  go/plugins/mcp/server.go
  go/plugins/mcp/tools.go
  go/samples/mcp-client/main.go
  go/samples/mcp-server/README.md
  go/samples/mcp-server/client.go
  go/samples/mcp-server/run-server.sh
  go/samples/mcp-server/server.go
Owners: @apascal07, @pavelgj

fix(js/mcp): Export McpHostOptions
  js/plugins/mcp/src/index.ts
Owners: @pavelgj

fix: add another case
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
Owners: @pavelgj, @yesudeep

refactor code
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
Owners: @pavelgj, @yesudeep

refactor code
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
Owners: @pavelgj, @yesudeep

refactor code
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
Owners: @pavelgj, @yesudeep

refactor code
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
Owners: @pavelgj, @yesudeep

fix
  go/samples/mcp-server/run-server.sh
Owners: @pavelgj

generateIOperation beta
  .gitignore
  js/ai/src/generate.ts
  js/genkit/src/genkit-beta.ts
  js/genkit/src/genkit.ts
  js/plugins/googleai/src/veo.ts
  js/pnpm-lock.yaml
  js/testapps/flow-simple-ai/package.json
  js/testapps/flow-simple-ai/src/index.ts
Owners: @pavelgj

assert
  js/testapps/flow-simple-ai/src/index.ts
Owners: @pavelgj

chore: add license header to run-server.sh
  go/samples/mcp-server/run-server.sh
Owners: @pavelgj

chore: add license header to run-server.sh (#3051)
  go/samples/mcp-server/run-server.sh
Owners: @pavelgj

Add truncation back in, but set the limit to be the same value as is used for Trace attributes.
  js/plugins/google-cloud/src/metrics.ts
  js/plugins/google-cloud/tests/metrics_test.ts
Owners: @pavelgj

fix(go/plugins/googlegenai): distinct text parts from thoughts (#3048)
  go/plugins/googlegenai/gemini.go
Owners: @apascal07

cleanup
  js/ai/src/generate.ts
  js/ai/src/prompt.ts
  js/ai/src/tool.ts
  js/core/src/action.ts
  js/genkit/tests/generate_test.ts
Owners: @pavelgj

cleanup
  js/ai/src/tool.ts
Owners: @pavelgj

Fix equality comparison
  js/plugins/google-cloud/src/metrics.ts
Owners: @pavelgj

cleanup
  js/core/tests/action_test.ts
  js/genkit/tests/chat_test.ts
  js/genkit/tests/flow_test.ts
  js/genkit/tests/generate_test.ts
  js/genkit/tests/prompts_test.ts
Owners: @pavelgj

feat(js): added dynamicTool factory function that does not depend on genkit instance (#3026)
  js/ai/src/generate.ts
  js/ai/src/prompt.ts
  js/ai/src/tool.ts
  js/core/src/action.ts
  js/core/src/registry.ts
  js/core/tests/action_test.ts
  js/genkit/src/common.ts
  js/genkit/src/genkit.ts
  js/genkit/tests/chat_test.ts
  js/genkit/tests/flow_test.ts
  js/genkit/tests/generate_test.ts
  js/genkit/tests/prompts_test.ts
  js/testapps/flow-simple-ai/src/index.ts
Owners: @pavelgj

chore(go/plugins/vertexai/modelgarden): bump `anthropic-go-sdk` to `v1.4.0` (#3042)
  go/go.mod
  go/go.sum
  go/plugins/vertexai/modelgarden/anthropic.go
  go/plugins/vertexai/modelgarden/anthropic_live_test.go
  go/plugins/vertexai/modelgarden/anthropic_test.go
Owners: @apascal07

Update generate.go
  go/ai/generate.go
Owners: @apascal07

Update tools.go
  go/ai/tools.go
Owners: @apascal07

feat(go): added dynamic tools support (#3025)
  go/ai/generate.go
  go/ai/generate_test.go
  go/ai/tools.go
  go/core/action.go
  go/core/flow.go
  go/internal/registry/registry.go
Owners: @apascal07

feat(js/plugins/vertexai): add support to anthropic prompt caching
  js/plugins/vertexai/src/modelgarden/index.ts
Owners: @pavelgj

refactor(js): moved ALS code into separate node specific package
  js/ai/src/generate.ts
  js/ai/tests/formats/format_test.ts
  js/ai/tests/formats/json_test.ts
  js/ai/tests/generate/action_test.ts
  js/ai/tests/generate/generate_test.ts
  js/ai/tests/model/middleware_test.ts
  js/ai/tests/prompt/prompt_test.ts
  js/ai/tests/reranker/reranker_test.ts
  js/ai/tests/tool_test.ts
  js/core/package.json
  js/core/src/als-async-store.ts
  js/core/src/flow.ts
  js/core/src/index.ts
  js/core/src/node.ts
  js/core/src/registry.ts
  js/core/tests/action_test.ts
  js/core/tests/flow_test.ts
  js/core/tests/registry_test.ts
  js/genkit/src/common.ts
  js/genkit/src/genkit.ts
Owners: @pavelgj

change in config schema
  go/internal/doc-snippets/pinecone.go
  go/internal/doc-snippets/rag/main.go
  go/plugins/googlegenai/gemini.go
  go/plugins/localvec/localvec.go
  go/plugins/localvec/localvec_test.go
  go/plugins/pinecone/genkit_test.go
  go/plugins/weaviate/weaviate_test.go
  go/samples/menu/main.go
  go/samples/rag/main.go
Owners: @apascal07

fmt
  js/genkit/src/common.ts
Owners: @pavelgj

undo sample
  js/testapps/browser-ng/.editorconfig
  js/testapps/browser-ng/.gitignore
  js/testapps/browser-ng/README.md
  js/testapps/browser-ng/angular.json
  js/testapps/browser-ng/package.json
  js/testapps/browser-ng/public/favicon.ico
  js/testapps/browser-ng/src/app/app.component.html
  js/testapps/browser-ng/src/app/app.component.scss
  js/testapps/browser-ng/src/app/app.component.spec.ts
  js/testapps/browser-ng/src/app/app.component.ts
  js/testapps/browser-ng/src/app/app.config.ts
  js/testapps/browser-ng/src/app/app.routes.ts
  js/testapps/browser-ng/src/index.html
  js/testapps/browser-ng/src/main.ts
  js/testapps/browser-ng/src/styles.scss
  js/testapps/browser-ng/tsconfig.app.json
  js/testapps/browser-ng/tsconfig.json
  js/testapps/browser-ng/tsconfig.spec.json
Owners: @pavelgj

cleanup lock
  js/pnpm-lock.yaml
Owners: @pavelgj

feat: introduce combined generate input schema for validation (#3046)
  genkit-tools/common/src/types/eval.ts
Owners: @pavelgj

Update option.go
  go/ai/option.go
Owners: @apascal07

fix(go/ai)!: removed options related to indexing (#3063)
  go/ai/option.go
Owners: @apascal07

chore(go/plugins/googlegenai): update live tests to use env vars (#3047)
  go/plugins/googlegenai/googleai_live_test.go
  go/plugins/googlegenai/vertexai_live_test.go
Owners: @apascal07

feat: Rename Operation to ModelOperation
  genkit-tools/common/src/types/model.ts
  js/ai/src/check-operation.ts
  js/ai/src/generate.ts
  js/ai/src/generate/response.ts
  js/ai/src/model.ts
  js/genkit/src/genkit-beta.ts
  js/genkit/src/genkit.ts
  js/genkit/src/model.ts
  js/genkit/tests/generate_test.ts
Owners: @pavelgj

Fix: Correct typo in JSDoc comment
  js/genkit/src/genkit-beta.ts
Owners: @pavelgj

Fix: Correct typo in generateOperation example
  js/genkit/src/genkit-beta.ts
Owners: @pavelgj

Refactor: Improve message content check in telemetry generation
  js/plugins/google-cloud/src/telemetry/generate.ts
Owners: @pavelgj

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj
