Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj

Change ModelArg to Model
  go/ai/generate.go
  go/ai/option.go
  go/ai/option_test.go
  go/ai/prompt.go
Owners: @apascal07

All sorts of fixes.
  go/ai/embedder.go
  go/ai/evaluator.go
  go/ai/evaluator_test.go
  go/ai/gen.go
  go/ai/option.go
  go/ai/option_test.go
  go/ai/prompt.go
  go/ai/prompt_test.go
  go/ai/retriever.go
  go/core/schemas.config
  go/genkit/genkit.go
  go/internal/doc-snippets/googleai.go
  go/internal/doc-snippets/pinecone.go
  go/internal/doc-snippets/rag/main.go
  go/internal/doc-snippets/vertexai.go
  go/internal/fakeembedder/fakeembedder.go
  go/internal/fakeembedder/fakeembedder_test.go
  go/plugins/evaluators/evaluators_test.go
  go/plugins/firebase/retriever.go
  go/plugins/firebase/retriever_test.go
  go/plugins/googlegenai/googleai_live_test.go
  go/plugins/googlegenai/vertexai_live_test.go
  go/plugins/internal/gemini/gemini.go
  go/plugins/localvec/localvec.go
  go/plugins/ollama/embed.go
  go/plugins/ollama/embed_test.go
  go/plugins/pinecone/genkit.go
  go/plugins/pinecone/genkit_test.go
  go/plugins/weaviate/weaviate.go
  go/plugins/weaviate/weaviate_test.go
  go/samples/firebase-retrievers/main.go
  go/samples/menu/s04.go
  go/samples/pgvector/main.go
  go/samples/rag/main.go
Owners: @apascal07, @pavelgj

feat(go/genkit): Add error for partials and helpers
  go/ai/prompt.go
  go/ai/prompt_test.go
  go/genkit/genkit.go
  go/go.mod
  go/go.sum
  go/internal/registry/registry.go
Owners: @apascal07

feat(go/genkit): Fix example
  go/samples/partials-and-helpers/main.go
Owners: @apascal07

fix(py/genkit-ai): fixed Ollama Embedder Example
  py/plugins/ollama/src/genkit/plugins/ollama/embedders.py
  py/samples/ollama-simple-embed/src/pokemon_glossary.py
Owners: @pavelgj, @yesudeep

fix(py/genkit-ai): Fixed Ollama Embedder Example (#2599)
  py/plugins/ollama/src/genkit/plugins/ollama/embedders.py
  py/samples/ollama-simple-embed/src/pokemon_glossary.py
Owners: @pavelgj, @yesudeep

fix(py/plugins/genai): added a serialization fallback for debug trace (#2597)
  py/packages/genkit-ai/src/genkit/codec.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/samples/google-genai-image/src/google_genai_image.py
Owners: @pavelgj, @yesudeep

Fix
  go/ai/generate.go
Owners: @apascal07

refactor(py): async user facing api refactor
  py/docs/cloud-run.md
  py/docs/flask.md
  py/docs/index.md
  py/docs/reference/flows.md
  py/docs/reference/interrupts.md
  py/docs/reference/models.md
  py/docs/reference/tools.md
  py/engdoc/contributing/coding_guidelines.md
  py/engdoc/extending/api.md
  py/engdoc/index.md
  py/packages/genkit-ai/README.md
  py/packages/genkit-ai/src/genkit/ai/__init__.py
  py/packages/genkit-ai/src/genkit/ai/veneer.py
  py/packages/genkit-ai/tests/genkit/veneer/veneer_test.py
  py/plugins/dev-local-vector-store/src/genkit/plugins/dev_local_vector_store/local_vector_store_api.py
  py/plugins/flask/src/genkit/plugins/flask/handler.py
  py/plugins/ollama/tests/test_plugin_api.py
  py/samples/basic-gemini/src/basic_gemini.py
  py/samples/google-ai/src/google_ai_sample.py
  py/samples/google-genai-image/src/google_genai_image.py
  py/samples/google-genai-imagen/src/google_genai_imagen.py
  py/samples/hello-flask/src/hello_flask.py
  py/samples/hello-google-genai/src/hello_google_genai.py
  py/samples/hello/src/hello.py
  py/samples/menu/src/case_03/flows.py
  py/samples/menu/src/menu_ai.py
  py/samples/ollama-hello/src/ollama_hello.py
  py/samples/ollama-simple-embed/src/pokemon_glossary.py
  py/samples/openai/src/openai_example.py
  py/samples/tool-interrupts/src/tool_interrupts.py
  py/samples/vertex-ai-imagen/src/vertex_ai_imagen_sample.py
Owners: @pavelgj, @yesudeep

fmt
  py/packages/genkit-ai/src/genkit/ai/__init__.py
  py/packages/genkit-ai/src/genkit/ai/aio.py
  py/packages/genkit-ai/src/genkit/ai/base.py
Owners: @pavelgj, @yesudeep

more agenerate
  py/samples/hello-google-genai-vertexai/src/hello_google_genai_vertexai.py
Owners: @pavelgj, @yesudeep

more
  py/packages/genkit-ai/src/genkit/ai/aio.py
  py/packages/genkit-ai/src/genkit/ai/base.py
Owners: @pavelgj, @yesudeep

test: add more tests and remove panics
  go/plugins/googlegenai/gemini.go
  go/plugins/googlegenai/gemini_test.go
Owners: @apascal07

test: add more
  go/plugins/googlegenai/gemini_test.go
Owners: @apascal07

refactor(py): async user facing api refactor (#2601)
  py/docs/cloud-run.md
  py/docs/flask.md
  py/docs/index.md
  py/docs/reference/flows.md
  py/docs/reference/interrupts.md
  py/docs/reference/models.md
  py/docs/reference/tools.md
  py/engdoc/contributing/coding_guidelines.md
  py/engdoc/extending/api.md
  py/engdoc/index.md
  py/packages/genkit-ai/README.md
  py/packages/genkit-ai/src/genkit/ai/__init__.py
  py/packages/genkit-ai/src/genkit/ai/aio.py
  py/packages/genkit-ai/src/genkit/ai/base.py
  py/packages/genkit-ai/tests/genkit/veneer/veneer_test.py
  py/plugins/dev-local-vector-store/src/genkit/plugins/dev_local_vector_store/local_vector_store_api.py
  py/plugins/flask/src/genkit/plugins/flask/handler.py
  py/plugins/ollama/tests/test_plugin_api.py
  py/samples/basic-gemini/src/basic_gemini.py
  py/samples/google-ai/src/google_ai_sample.py
  py/samples/google-genai-image/src/google_genai_image.py
  py/samples/google-genai-imagen/src/google_genai_imagen.py
  py/samples/hello-flask/src/hello_flask.py
  py/samples/hello-google-genai-vertexai/src/hello_google_genai_vertexai.py
  py/samples/hello-google-genai/src/hello_google_genai.py
  py/samples/hello/src/hello.py
  py/samples/menu/src/case_03/flows.py
  py/samples/menu/src/menu_ai.py
  py/samples/ollama-hello/src/ollama_hello.py
  py/samples/ollama-simple-embed/src/pokemon_glossary.py
  py/samples/openai/src/openai_example.py
  py/samples/tool-interrupts/src/tool_interrupts.py
  py/samples/vertex-ai-imagen/src/vertex_ai_imagen_sample.py
Owners: @pavelgj, @yesudeep

fix(py/samples/hello-google-genai-vertexai): fix stray use of aembed -> embed
  py/samples/hello-google-genai-vertexai/src/hello_google_genai_vertexai.py
Owners: @pavelgj, @yesudeep

fix(py/samples/google-genai-vertex-ai): fix stray use of aembed -> embed (#2602)
  py/samples/hello-google-genai-vertexai/src/hello_google_genai_vertexai.py
Owners: @pavelgj, @yesudeep

Fix types
  go/plugins/googlegenai/gemini.go
Owners: @apascal07

Make config provide and expose via Config()
  go/ai/generate.go
Owners: @apascal07

feat: Firestore retriever support
  py/packages/genkit-ai/src/genkit/ai/aio.py
  py/plugins/dev-local-vector-store/src/genkit/plugins/dev_local_vector_store/indexer.py
  py/plugins/dev-local-vector-store/src/genkit/plugins/dev_local_vector_store/retriever.py
  py/plugins/firebase/src/genkit/plugins/firebase/constant.py
  py/plugins/firebase/src/genkit/plugins/firebase/firebase_api.py
  py/plugins/firebase/src/genkit/plugins/firebase/retriever.py
  py/samples/basic-gemini/pyproject.toml
  py/samples/firestore-retreiver/LICENSE
  py/samples/firestore-retreiver/README.md
  py/samples/firestore-retreiver/pyproject.toml
  py/samples/firestore-retreiver/src/main.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

feat(py): firestore retriever support (#2525)
  py/packages/genkit-ai/src/genkit/ai/aio.py
  py/plugins/dev-local-vector-store/src/genkit/plugins/dev_local_vector_store/indexer.py
  py/plugins/dev-local-vector-store/src/genkit/plugins/dev_local_vector_store/retriever.py
  py/plugins/firebase/src/genkit/plugins/firebase/constant.py
  py/plugins/firebase/src/genkit/plugins/firebase/firebase_api.py
  py/plugins/firebase/src/genkit/plugins/firebase/retriever.py
  py/samples/basic-gemini/pyproject.toml
  py/samples/firestore-retreiver/LICENSE
  py/samples/firestore-retreiver/README.md
  py/samples/firestore-retreiver/pyproject.toml
  py/samples/firestore-retreiver/src/main.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

docs(py/plugins/firebase): fix docs in firebase retriever plugin
  py/plugins/firebase/src/genkit/plugins/firebase/constant.py
  py/plugins/firebase/src/genkit/plugins/firebase/firebase_api.py
  py/plugins/firebase/src/genkit/plugins/firebase/retriever.py
Owners: @pavelgj, @yesudeep

fix(py/core): make reflection server pick unused address and telemetry exporter export to the correct telemetry server
  py/packages/genkit-ai/src/genkit/ai/aio.py
  py/packages/genkit-ai/src/genkit/ai/base.py
  py/packages/genkit-ai/src/genkit/ai/server.py
  py/packages/genkit-ai/src/genkit/core/tracing.py
Owners: @pavelgj, @yesudeep

fix(py/core): make reflection server pick unused address and telemetry exporter export to the correct telemetry server (#2604)
  py/packages/genkit-ai/src/genkit/ai/aio.py
  py/packages/genkit-ai/src/genkit/ai/base.py
  py/packages/genkit-ai/src/genkit/ai/server.py
  py/packages/genkit-ai/src/genkit/core/tracing.py
Owners: @pavelgj, @yesudeep

docs(py/plugins/firebase): fix docs in firebase retriever plugin (#2603)
  py/plugins/firebase/src/genkit/plugins/firebase/constant.py
  py/plugins/firebase/src/genkit/plugins/firebase/firebase_api.py
  py/plugins/firebase/src/genkit/plugins/firebase/retriever.py
Owners: @pavelgj, @yesudeep

fix(go/ai): restore prompt.go structure from main branch and properly add DefinePartial and DefineHelper functions
  go/ai/prompt.go
  go/ai/prompt_test.go
  go/genkit/genkit.go
  go/go.mod
  go/go.sum
  go/samples/template-helpers/main.go
  go/samples/template-helpers/prompts/greeting.prompt
Owners: @apascal07, @pavelgj

fix: error when no messages provided in generate req
  go/plugins/googlegenai/gemini.go
Owners: @apascal07

remove extra types
  go/plugins/googlegenai/gemini.go
Owners: @apascal07

chore(py): bump version to 0.3.0.dev1
  py/packages/genkit-ai/pyproject.toml
  py/plugins/compat-oai/pyproject.toml
  py/plugins/dev-local-vector-store/pyproject.toml
  py/plugins/firebase/pyproject.toml
  py/plugins/flask/pyproject.toml
  py/plugins/google-cloud/pyproject.toml
  py/plugins/google-genai/pyproject.toml
  py/plugins/ollama/pyproject.toml
  py/plugins/vertex-ai/pyproject.toml
  py/uv.lock
Owners: @pavelgj, @yesudeep

lock update
  py/uv.lock
Owners: @pavelgj, @yesudeep

chore(py): cleanup genai plugin names
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
Owners: @pavelgj, @yesudeep

docs(py): updated code samples
  py/docs/get-started.md
  py/docs/index.md
Owners: @pavelgj

chore(py): bump version to 0.3.0.dev1 (#2607)
  py/packages/genkit/pyproject.toml
  py/plugins/compat-oai/pyproject.toml
  py/plugins/dev-local-vector-store/pyproject.toml
  py/plugins/firebase/pyproject.toml
  py/plugins/flask/pyproject.toml
  py/plugins/google-cloud/pyproject.toml
  py/plugins/google-genai/pyproject.toml
  py/plugins/ollama/pyproject.toml
  py/plugins/vertex-ai/pyproject.toml
  py/uv.lock
Owners: @pavelgj, @yesudeep

docs(py): updated code samples (#2608)
  py/docs/get-started.md
  py/docs/index.md
Owners: @pavelgj

change config types
  go/plugins/googlegenai/gemini.go
  go/samples/basic-gemini/main.go
Owners: @apascal07

fix: review comments
  go/ai/generate.go
  go/ai/generator_test.go
  go/plugins/googlegenai/gemini.go
Owners: @apascal07

Address comments
  go/plugins/googlegenai/gemini.go
  go/samples/basic-gemini/main.go
Owners: @apascal07

fix: remove unnecessary test case
  go/ai/generator_test.go
Owners: @apascal07

remove Ptr
  go/plugins/googlegenai/gemini.go
Owners: @apascal07

fix: piping Constrained
  go/ai/generate.go
  go/plugins/googlegenai/googleai_live_test.go
  go/plugins/googlegenai/vertexai_live_test.go
Owners: @apascal07
