Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj

refactor: remain translate file and add test about whisper-specific
  js/plugins/compat-oai/src/audio.ts
  js/plugins/compat-oai/src/index.ts
  js/plugins/compat-oai/src/openai/index.ts
  js/plugins/compat-oai/src/openai/whisper.ts
  js/plugins/compat-oai/src/translate.ts
  js/plugins/compat-oai/tests/compat_oai_translate_test.ts
  js/plugins/compat-oai/tests/openai_whisper_test.ts
  js/testapps/compat-oai/src/index.ts
Owners: @pavelgj

feat(js): add open telementry fetch provider
  js/core/src/config.ts
  js/core/src/node.ts
  js/core/src/tracing.ts
  js/core/src/tracing/fetch-telemetry-provider.ts
  js/core/tests/action_test.ts
  js/core/tests/dynamic-action-provider_test.ts
  js/core/tests/fetch_telemetry_provider_test.ts
  js/core/tests/flow_test.ts
  js/core/tests/registry_test.ts
  js/genkit/src/tracing.ts
Owners: @pavelgj

fix: default realtime flag to true
  js/core/src/tracing/fetch-telemetry-provider.ts
Owners: @pavelgj

chore: cleanup unnecessary awaits and unreachable breaks
  js/plugins/google-genai/src/googleai/index.ts
Owners: @pavelgj

added `tool.SendChunk()`
  go/ai/generate.go
  go/ai/x/tool/tool.go
  go/internal/base/context_key.go
Owners: @apascal07

Update context_key.go
  go/internal/base/context_key.go
Owners: @apascal07

fixed types
  go/core/action.go
  go/core/flow.go
  go/genkit/x/genkit.go
Owners: @apascal07

moved from `ai/x` to `ai/exp`
  go/ai/exp/agent.go
  go/ai/exp/agent_test.go
  go/ai/exp/gen.go
  go/ai/exp/option.go
  go/ai/exp/session.go
  go/ai/x/agent.go
  go/ai/x/agent_test.go
  go/ai/x/gen.go
  go/ai/x/option.go
  go/ai/x/session.go
  go/genkit/genkit.go
  go/samples/custom-agent/main.go
  go/samples/prompt-agent/main.go
Owners: @apascal07

feat(js/plugins/vertexai/modelgarden): New Claude models
  js/plugins/vertexai/package.json
  js/plugins/vertexai/src/modelgarden/v2/anthropic.ts
  js/pnpm-lock.yaml
  js/testapps/vertexai-modelgarden/src/index.ts
Owners: @pavelgj

Apply suggestion from @apascal07
  go/ai/generate.go
Owners: @apascal07

Update generate.go
  go/ai/generate.go
Owners: @apascal07

Update go-v2-changes.md
  docs/go-v2-changes.md
Owners: @pavelgj

design doc reasoning
  py/docs/dev_ui_eventloop_model.md
Owners: @pavelgj

formatting
  js/plugins/google-genai/src/googleai/index.ts
Owners: @pavelgj

feat(js/plugins/google-genai): Added deep-research for googleai
  js/ai/src/model-types.ts
  js/plugins/google-genai/src/common/interaction-converters.ts
  js/plugins/google-genai/src/common/interaction-types.ts
  js/plugins/google-genai/src/googleai/client.ts
  js/plugins/google-genai/src/googleai/deep-research.ts
  js/plugins/google-genai/src/googleai/index.ts
  js/plugins/google-genai/src/googleai/types.ts
  js/plugins/google-genai/tests/common/interaction-converters_test.ts
  js/plugins/google-genai/tests/googleai/deep-research_test.ts
  js/testapps/basic-gemini/src/index.ts
Owners: @pavelgj

remove regexp compilation from tool validation
  go/plugins/googlegenai/tools.go
Owners: @apascal07

Update agent.go
  go/ai/exp/agent.go
Owners: @apascal07

Fix preflight cli
  py/packages/genkit/src/genkit/core/_loop_local.py
  py/plugins/anthropic/tests/anthropic_plugin_test.py
  py/plugins/google-genai/test/google_plugin_test.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/model_garden/anthropic.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/model_garden/model_garden.py
  py/pyproject.toml
  py/tests/conform/cloudflare-workers-ai/conformance_entry.py
  py/tests/conform/cloudflare-workers-ai/model-conformance.yaml
  py/tests/conform/cohere/conformance_entry.py
  py/tests/conform/cohere/model-conformance.yaml
  py/tests/conform/deepseek/conformance_entry.py
  py/tests/conform/deepseek/model-conformance.yaml
  py/tests/conform/huggingface/conformance_entry.py
  py/tests/conform/huggingface/model-conformance.yaml
  py/tests/conform/microsoft-foundry/conformance_entry.py
  py/tests/conform/microsoft-foundry/model-conformance.yaml
  py/tests/conform/mistral/conformance_entry.py
  py/tests/conform/mistral/model-conformance.yaml
  py/tests/conform/xai/conformance_entry.py
  py/tests/conform/xai/model-conformance.yaml
  py/tools/conform/src/conform/executors/conformance_native.py
Owners: @pavelgj, @yesudeep

fix license
  py/packages/genkit/src/genkit/core/_loop_local.py
Owners: @pavelgj, @yesudeep

added `AgentFlow.Run()` and `AgentFlow.RunText()`
  go/ai/exp/agent.go
  go/ai/exp/agent_test.go
  go/ai/exp/option.go
  go/samples/custom-agent/main.go
Owners: @apascal07

review fixes
  js/plugins/google-genai/src/common/interaction-types.ts
  js/plugins/google-genai/src/googleai/client.ts
  js/plugins/google-genai/src/googleai/deep-research.ts
Owners: @pavelgj

dedupe consecutive identical snapshots
  go/ai/exp/agent.go
  go/ai/exp/agent_test.go
  go/ai/exp/session.go
Owners: @apascal07

include RAI as part of the response and a new vertexAI sample for veo
  go/plugins/googlegenai/README.md
  go/plugins/googlegenai/veo.go
  go/samples/vertexai-veo/main.go
Owners: @pavelgj, @apascal07

go fmt in README.md
  go/plugins/googlegenai/README.md
Owners: @pavelgj

fix: rename handleFlow(s) -> fetchHandler(s)
  js/plugins/fetch/README.md
  js/plugins/fetch/src/index.ts
  js/plugins/fetch/tests/web_test.ts
  samples/js-hono/src/index.ts
Owners: @pavelgj

chore(js): replace reflection server with hono
  js/core/package.json
  js/core/src/reflection.ts
  js/core/tests/reflection_test.ts
  js/pnpm-lock.yaml
Owners: @pavelgj

fix: bump core ts version
  js/core/package.json
  js/pnpm-lock.yaml
Owners: @pavelgj

chore: formatting
  js/core/src/reflection.ts
  js/core/tests/reflection_test.ts
Owners: @pavelgj

misc fixes and added README
  go/plugins/ollama/README.md
  go/plugins/ollama/embed.go
  go/plugins/ollama/model.go
  go/plugins/ollama/model_test.go
  go/plugins/ollama/ollama.go
  go/plugins/ollama/ollama_live_test.go
Owners: @pavelgj, @apascal07

fix(py): Export with basic attributes on trace start
  py/packages/genkit/src/genkit/core/action/_action.py
Owners: @pavelgj, @yesudeep

Updated types
  py/docs/python_beta_api_proposal.md
Owners: @pavelgj

Add ModelRef
  py/docs/python_beta_api_proposal.md
Owners: @pavelgj

chore: move same to js/testapps
  js/pnpm-lock.yaml
  js/testapps/hono/.gitignore
  js/testapps/hono/README.md
  js/testapps/hono/package.json
  js/testapps/hono/src/index.ts
  js/testapps/hono/tsconfig.json
Owners: @pavelgj

fix: remove hono script from samples
  samples/package.json
Owners: @pavelgj

Add AgentAudit security badge (Trust Score: 100/100)
  README.md
Owners: @pavelgj

added Ptr helper function
  go/plugins/ollama/README.md
  go/plugins/ollama/model.go
  go/plugins/ollama/model_test.go
  go/plugins/ollama/ollama.go
  go/plugins/ollama/ollama_live_test.go
  go/samples/ollama-tools/main.go
  go/samples/ollama-vision/main.go
Owners: @pavelgj, @apascal07

use maps.Copy instead of for loop
  go/plugins/ollama/model.go
Owners: @apascal07

refactor: applied prompts in test code
  js/plugins/compat-oai/tests/compat_oai_translate_test.ts
Owners: @pavelgj

feat(js): add longRunning support and refine model types
  js/ai/src/model.ts
  js/ai/src/parts.ts
Owners: @pavelgj

fix: minify JSON output and update configuration signatures
  py/packages/genkit/src/genkit/ai/_aio.py
  py/packages/genkit/src/genkit/ai/_registry.py
  py/packages/genkit/src/genkit/blocks/prompt.py
  py/packages/genkit/src/genkit/codec.py
  py/packages/genkit/src/genkit/model_types.py
  py/packages/genkit/tests/genkit/blocks/prompt_test.py
  py/packages/genkit/tests/genkit/codec_test.py
  py/packages/genkit/tests/genkit/core/action_test.py
  py/packages/genkit/tests/genkit/veneer/veneer_test.py
  py/plugins/flask/tests/flask_test.py
Owners: @pavelgj, @yesudeep
