Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

Docs: Edits to Auth doc for 1.0 GA
  docs/auth.md
Owners: @pavelgj

Fix: comments
  go/core/tracing/store_test.go
Owners: @apascal07

docs: Edits to docs for GA release (#1846)
  docs/auth.md
  docs/chat.md
  docs/devtools.md
  docs/dotprompt.md
  docs/evaluation.md
Owners: @pavelgj

chore: cleanup genkit:dev
  js/testapps/custom-evaluators/package.json
  js/testapps/dev-ui-gallery/package.json
  js/testapps/esm/package.json
  js/testapps/evals/package.json
  js/testapps/multimodal/package.json
  js/testapps/ollama/package.json
  js/testapps/rag/package.json
  js/testapps/vertexai-vector-search-firestore/package.json
Owners: @pavelgj

feat(js/plugins): added new gemini 2.0 models to googleai and vertexai plugins
  js/plugins/googleai/src/gemini.ts
  js/plugins/googleai/src/index.ts
  js/plugins/vertexai/src/gemini.ts
  js/plugins/vertexai/src/index.ts
Owners: @pavelgj

Docs: Edits to Auth doc for 1.0 GA
  docs/firebase.md
Owners: @pavelgj

fix: include updated pnpm files
  package.json
  pnpm-lock.yaml
Owners: @pavelgj

chore: clean up cross-env too
  js/testapps/vertexai-vector-search-firestore/package.json
Owners: @pavelgj

chore: and clean up the pnpm-lock file too
  js/pnpm-lock.yaml
Owners: @pavelgj

fix: include updated pnpm files (#1863)
  package.json
  pnpm-lock.yaml
Owners: @pavelgj

feat(js/plugins): added new gemini 2.0 models to googleai and vertexai plugins (#1862)
  js/plugins/googleai/src/gemini.ts
  js/plugins/googleai/src/index.ts
  js/plugins/vertexai/src/gemini.ts
  js/plugins/vertexai/src/index.ts
Owners: @pavelgj

Updated tool requests/response in document + added parity tests.
  genkit-tools/common/src/types/model.ts
  genkit-tools/genkit-schema.json
  go/ai/action_test.go
  go/ai/document.go
  go/ai/gen.go
  go/ai/generate.go
  go/ai/tools.go
  go/core/action.go
  go/core/schemas.config
  go/go.mod
  go/internal/base/validation.go
Owners: @pavelgj, @apascal07

firebaseAuth sans integration tests
  js/genkit/package.json
  js/genkit/src/requestMiddleware.ts
  js/plugins/firebase/src/auth.ts
  js/plugins/firebase/tests/auth_test.ts
Owners: @pavelgj

Added license to test file.
  go/ai/action_test.go
Owners: @apascal07

docs: vertexai updates (#1841)
  docs/plugins/vertex-ai.md
  js/testapps/custom-evaluators/package.json
  js/testapps/dev-ui-gallery/package.json
  js/testapps/esm/package.json
  js/testapps/evals/package.json
  js/testapps/multimodal/package.json
  js/testapps/ollama/package.json
  js/testapps/rag/package.json
  js/testapps/vertexai-vector-search-firestore/README.md
  js/testapps/vertexai-vector-search-firestore/package.json
Owners: @pavelgj

Docs: Edits to Firebase doc for 1.0 GA
  docs/firebase.md
Owners: @pavelgj

Docs: Edits to Firebase doc for 1.0 GA
  docs/flows.md
Owners: @pavelgj

chore(js): bump dotprompt version in the lock file
  js/pnpm-lock.yaml
Owners: @pavelgj

Docs: Edits to Firebase doc for 1.0 GA
  docs/plugin-authoring-evaluator.md
Owners: @pavelgj

breaking(js/ai): drop ToolDefinition from ToolArgument (and generate action interface) (#1832)
  genkit-tools/common/src/types/model.ts
  genkit-tools/genkit-schema.json
  js/ai/src/chat.ts
  js/ai/src/model.ts
  js/ai/src/tool.ts
Owners: @pavelgj

chore: bump @genkit-ai/tools-common version to @genkit-ai/tools-common@1.0.0-rc.17
  genkit-tools/common/package.json
Owners: @pavelgj

chore: bump genkit-cli version to genkit-cli@1.0.0-rc.17
  genkit-tools/cli/package.json
Owners: @pavelgj

chore: bump @genkit-ai/telemetry-server version to @genkit-ai/telemetry-server@1.0.0-rc.17
  genkit-tools/telemetry-server/package.json
Owners: @pavelgj

chore: bump @genkit-ai/core version to @genkit-ai/core@1.0.0-rc.17
  js/core/package.json
Owners: @pavelgj

chore: bump @genkit-ai/ai version to @genkit-ai/ai@1.0.0-rc.17
  js/ai/package.json
Owners: @pavelgj

chore: bump genkit version to genkit@1.0.0-rc.17
  js/genkit/package.json
Owners: @pavelgj

chore: bump genkitx-chromadb version to genkitx-chromadb@1.0.0-rc.17
  js/plugins/chroma/package.json
Owners: @pavelgj

chore: bump @genkit-ai/dev-local-vectorstore version to @genkit-ai/dev-local-vectorstore@1.0.0-rc.17
  js/plugins/dev-local-vectorstore/package.json
Owners: @pavelgj

chore: bump @genkit-ai/evaluator version to @genkit-ai/evaluator@1.0.0-rc.17
  js/plugins/evaluators/package.json
Owners: @pavelgj

chore: bump @genkit-ai/firebase version to @genkit-ai/firebase@1.0.0-rc.17
  js/plugins/firebase/package.json
Owners: @pavelgj

chore: bump @genkit-ai/google-cloud version to @genkit-ai/google-cloud@1.0.0-rc.17
  js/plugins/google-cloud/package.json
Owners: @pavelgj

chore: bump @genkit-ai/googleai version to @genkit-ai/googleai@1.0.0-rc.17
  js/plugins/googleai/package.json
Owners: @pavelgj

chore: bump genkitx-langchain version to genkitx-langchain@1.0.0-rc.17
  js/plugins/langchain/package.json
Owners: @pavelgj

chore: bump genkitx-ollama version to genkitx-ollama@1.0.0-rc.17
  js/plugins/ollama/package.json
Owners: @pavelgj

chore: bump genkitx-pinecone version to genkitx-pinecone@1.0.0-rc.17
  js/plugins/pinecone/package.json
Owners: @pavelgj

chore: bump @genkit-ai/vertexai version to @genkit-ai/vertexai@1.0.0-rc.17
  js/plugins/vertexai/package.json
Owners: @pavelgj

chore: bump @genkit-ai/checks version to @genkit-ai/checks@1.0.0-rc.17
  js/plugins/checks/package.json
Owners: @pavelgj

chore: bump genkitx-mcp version to genkitx-mcp@1.0.0-rc.17
  js/plugins/mcp/package.json
Owners: @pavelgj

chore: bump @genkit-ai/express version to @genkit-ai/express@1.0.0-rc.17
  js/plugins/express/package.json
Owners: @pavelgj

chore: added next plugin to release script
  scripts/release_main.sh
Owners: @pavelgj

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj
