Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj

fix(js/plugins/express): Error message if request.body is not defined (#2600)
  js/plugins/express/src/index.ts
Owners: @pavelgj

chore(go): bump `go-genai` SDK to v0.7.0 (#2620)
  go/go.mod
  go/go.sum
  go/plugins/googlegenai/cache.go
Owners: @apascal07

fix(py/genkit): use structlog for structured logging; fix stray agenerate refs
  py/engdoc/index.md
  py/packages/genkit/pyproject.toml
  py/packages/genkit/src/genkit/ai/base.py
  py/packages/genkit/src/genkit/blocks/generate.py
  py/plugins/dev-local-vector-store/src/genkit/plugins/dev_local_vector_store/plugin_api.py
  py/plugins/google-genai/pyproject.toml
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/embedder.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/imagen.py
  py/plugins/google-genai/test/models/test_googlegenai_embedder.py
  py/plugins/google-genai/test/models/test_googlegenai_gemini.py
  py/plugins/google-genai/test/models/test_googlegenai_imagen.py
  py/plugins/ollama/pyproject.toml
  py/plugins/ollama/src/genkit/plugins/ollama/models.py
  py/plugins/ollama/src/genkit/plugins/ollama/plugin_api.py
  py/plugins/vertex-ai/pyproject.toml
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/gemini.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/imagen.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/plugin_api.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

tool metadata
  go/ai/prompt.go
Owners: @apascal07

fix(py/genkit): use structlog for structured logging; fix stray agenerate refs (#2621)
  py/engdoc/index.md
  py/packages/genkit/pyproject.toml
  py/packages/genkit/src/genkit/ai/base.py
  py/packages/genkit/src/genkit/blocks/generate.py
  py/plugins/dev-local-vector-store/src/genkit/plugins/dev_local_vector_store/plugin_api.py
  py/plugins/google-genai/pyproject.toml
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/embedder.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/imagen.py
  py/plugins/google-genai/test/models/test_googlegenai_embedder.py
  py/plugins/google-genai/test/models/test_googlegenai_gemini.py
  py/plugins/google-genai/test/models/test_googlegenai_imagen.py
  py/plugins/ollama/pyproject.toml
  py/plugins/ollama/src/genkit/plugins/ollama/models.py
  py/plugins/ollama/src/genkit/plugins/ollama/plugin_api.py
  py/plugins/vertex-ai/pyproject.toml
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/gemini.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/imagen.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/plugin_api.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

feat(go): Added `ModelArg` interface and `ModelRef` (#2487)
  go/ai/generate.go
  go/ai/option.go
  go/ai/prompt.go
  go/plugins/googlegenai/gemini.go
  go/plugins/googlegenai/googlegenai.go
  go/samples/basic-gemini/main.go
Owners: @apascal07

feat(bin/killports): add a convenience script to kill processes bound to a range of ports
  bin/killports
Owners: @pavelgj

feat(bin/killports): add a convenience script to kill processes bound to a range of ports (#2623)
  bin/killports
Owners: @pavelgj

fix(py): update trove classifiers for all python subprojects to use python 3.11 as baseline
  py/packages/genkit/pyproject.toml
  py/plugins/chroma/pyproject.toml
  py/plugins/compat-oai/pyproject.toml
  py/plugins/dev-local-vector-store/pyproject.toml
  py/plugins/firebase/pyproject.toml
  py/plugins/flask/pyproject.toml
  py/plugins/google-ai/pyproject.toml
  py/plugins/google-cloud/pyproject.toml
  py/plugins/google-genai/pyproject.toml
  py/plugins/ollama/pyproject.toml
  py/plugins/pinecone/pyproject.toml
  py/plugins/vertex-ai/pyproject.toml
  py/samples/basic-gemini/pyproject.toml
  py/samples/coffee-shop/pyproject.toml
  py/samples/context-caching/pyproject.toml
  py/samples/firestore-retreiver/pyproject.toml
  py/samples/flow-sample1/pyproject.toml
  py/samples/google-ai/pyproject.toml
  py/samples/google-genai-image/pyproject.toml
  py/samples/google-genai-imagen/pyproject.toml
  py/samples/hello-flask/pyproject.toml
  py/samples/hello-google-genai-vertexai/pyproject.toml
  py/samples/hello-google-genai/pyproject.toml
  py/samples/hello/pyproject.toml
  py/samples/menu/pyproject.toml
  py/samples/multi-server/pyproject.toml
  py/samples/ollama-simple-embed/pyproject.toml
  py/samples/openai/pyproject.toml
  py/samples/prompt-file/pyproject.toml
  py/samples/rag/pyproject.toml
  py/samples/tool-interrupts/pyproject.toml
  py/samples/vertex-ai-model-garden/pyproject.toml
  py/samples/vertex-ai-reranker/pyproject.toml
  py/samples/vertex-ai-vector-search/pyproject.toml
  py/tests/smoke/pyproject.toml
Owners: @pavelgj, @yesudeep

fix(py/tools): make sure description is the first arg of tool decorator
  blah.yml
  py/packages/genkit/src/genkit/ai/registry.py
Owners: @pavelgj, @yesudeep

cleanup
  blah.yml
Owners: @pavelgj

fix(py): update trove classifiers for all python subprojects to use python 3.11 as baseline (#2624)
  py/packages/genkit/pyproject.toml
  py/plugins/chroma/pyproject.toml
  py/plugins/compat-oai/pyproject.toml
  py/plugins/dev-local-vector-store/pyproject.toml
  py/plugins/firebase/pyproject.toml
  py/plugins/flask/pyproject.toml
  py/plugins/google-ai/pyproject.toml
  py/plugins/google-cloud/pyproject.toml
  py/plugins/google-genai/pyproject.toml
  py/plugins/ollama/pyproject.toml
  py/plugins/pinecone/pyproject.toml
  py/plugins/vertex-ai/pyproject.toml
  py/samples/basic-gemini/pyproject.toml
  py/samples/coffee-shop/pyproject.toml
  py/samples/context-caching/pyproject.toml
  py/samples/firestore-retreiver/pyproject.toml
  py/samples/flow-sample1/pyproject.toml
  py/samples/google-ai/pyproject.toml
  py/samples/google-genai-image/pyproject.toml
  py/samples/google-genai-imagen/pyproject.toml
  py/samples/hello-flask/pyproject.toml
  py/samples/hello-google-genai-vertexai/pyproject.toml
  py/samples/hello-google-genai/pyproject.toml
  py/samples/hello/pyproject.toml
  py/samples/menu/pyproject.toml
  py/samples/multi-server/pyproject.toml
  py/samples/ollama-simple-embed/pyproject.toml
  py/samples/openai/pyproject.toml
  py/samples/prompt-file/pyproject.toml
  py/samples/rag/pyproject.toml
  py/samples/tool-interrupts/pyproject.toml
  py/samples/vertex-ai-model-garden/pyproject.toml
  py/samples/vertex-ai-reranker/pyproject.toml
  py/samples/vertex-ai-vector-search/pyproject.toml
  py/tests/smoke/pyproject.toml
Owners: @pavelgj, @yesudeep

fix: Rag docs links in plugin docs
  docs/plugins/firebase.md
  docs/plugins/vertex-ai.md
Owners: @pavelgj

fix(go): add tool to prompt metadata (#2622)
  go/ai/prompt.go
Owners: @apascal07

feat(go): add image generation native support
  go/plugins/googlegenai/gemini.go
  go/plugins/googlegenai/googleai_live_test.go
  go/plugins/googlegenai/googlegenai.go
  go/plugins/googlegenai/models.go
  go/samples/imagen-gemini/main.go
Owners: @apascal07

feat(py/genkit-ai): async and sync implementations of Genkit API
  py/engdoc/extending/api.md
  py/packages/genkit/pyproject.toml
  py/packages/genkit/src/genkit/ai/__init__.py
  py/packages/genkit/src/genkit/ai/_reflection.py
  py/packages/genkit/src/genkit/ai/base.py
  py/packages/genkit/src/genkit/aio/_util.py
  py/packages/genkit/src/genkit/core/reflection.py
  py/packages/genkit/src/genkit/web/manager/__init__.py
  py/packages/genkit/src/genkit/web/manager/_manager.py
  py/pyproject.toml
  py/samples/async-vs-sync/LICENSE
  py/samples/async-vs-sync/README.md
  py/samples/async-vs-sync/pyproject.toml
  py/samples/async-vs-sync/src/async_vs_sync/__init__.py
  py/samples/async-vs-sync/src/async_vs_sync/_cli.py
  py/samples/async-vs-sync/src/async_vs_sync/_server.py
  py/samples/async-vs-sync/src/async_vs_sync/_util.py
  py/samples/async-vs-sync/src/async_vs_sync/main.py
  py/samples/hello-google-genai/src/hello_google_genai.py
  py/samples/hello/src/hello.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

feat: nox
  .gitignore
  py/bin/run_python_tests
  py/noxfile.py
  py/pyproject.toml
  py/uv.lock
Owners: @pavelgj, @yesudeep

fix(py/genkit): broken compat usage for 3.10
  py/packages/genkit/src/genkit/aio/channel.py
  py/packages/genkit/tests/genkit/aio/channel_test.py
Owners: @pavelgj, @yesudeep

make the image-gemini sample more complexx
  go/samples/imagen-gemini/main.go
Owners: @apascal07

fix: prevent an error when TEXT modality is not present
  go/plugins/googlegenai/gemini.go
  go/samples/imagen-gemini/main.go
Owners: @apascal07

fix: uncomment text modality
  go/samples/imagen-gemini/main.go
Owners: @apascal07

Addition of error handling in go along with error status
  go/ai/generate.go
  go/core/error.go
  go/core/status_types.go
  go/genkit/reflection.go
Owners: @apascal07

Refactored formatters logic.
  go/ai/document.go
  go/ai/format_json.go
  go/ai/format_jsonl.go
  go/ai/format_text.go
  go/ai/formatter.go
  go/ai/formatter_test.go
  go/ai/gen.go
  go/ai/generate.go
  go/ai/generator_test.go
  go/ai/model_middleware.go
  go/ai/option.go
  go/ai/option_test.go
  go/ai/prompt.go
  go/ai/prompt_test.go
  go/core/schemas.config
  go/internal/base/validation.go
  go/samples/formats/main.go
Owners: @apascal07, @pavelgj

feat(py): add nox config to run tests with nox
  .gitignore
  captainhook.json
  py/bin/run_python_tests_with_nox
  py/bin/sanitize_schema_typing.py
  py/noxfile.py
  py/pyproject.toml
  py/uv.lock
Owners: @pavelgj, @yesudeep

addition of Genkit Error in error.go
  go/ai/generate.go
  go/ai/model_middleware.go
  go/core/error.go
  go/genkit/reflection.go
Owners: @apascal07

feat(py): add nox config to run tests with nox (#2639)
  .gitignore
  captainhook.json
  py/bin/run_python_tests_with_nox
  py/bin/sanitize_schema_typing.py
  py/noxfile.py
  py/pyproject.toml
  py/uv.lock
Owners: @pavelgj, @yesudeep

chore(py): auto-fix some lint with ruff
  py/packages/genkit/src/genkit/blocks/retriever.py
  py/packages/genkit/src/genkit/core/extract.py
  py/packages/genkit/src/genkit/core/reflection.py
  py/packages/genkit/tests/genkit/blocks/formats/json_test.py
  py/packages/genkit/tests/genkit/blocks/middleware_test.py
  py/packages/genkit/tests/genkit/blocks/prompt_test.py
  py/packages/genkit/tests/genkit/codec_test.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/__init__.py
  py/plugins/compat-oai/tests/test_model.py
  py/plugins/dev-local-vector-store/src/genkit/plugins/dev_local_vector_store/indexer.py
  py/plugins/dev-local-vector-store/src/genkit/plugins/dev_local_vector_store/local_vector_store_api.py
  py/plugins/dev-local-vector-store/src/genkit/plugins/dev_local_vector_store/retriever.py
  py/plugins/google-ai/src/genkit/plugins/google_ai/google_ai.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/embedder.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/plugins/google-genai/test/models/test_googlegenai_imagen.py
  py/plugins/vertex-ai/tests/test_gemini.py
  py/plugins/vertex-ai/tests/test_imagen.py
  py/samples/firestore-retreiver/src/main.py
  py/samples/menu/src/case_01/__init__.py
  py/samples/menu/src/case_02/__init__.py
  py/samples/menu/src/case_03/__init__.py
  py/samples/menu/src/case_03/flows.py
  py/samples/menu/src/case_04/__init__.py
  py/samples/menu/src/case_05/__init__.py
  py/samples/menu/src/menu_schemas.py
  py/samples/tool-interrupts/src/tool_interrupts.py
  py/samples/vertex-ai-imagen/src/vertex_ai_imagen_sample.py
Owners: @pavelgj, @yesudeep

fix(py): use the active virtual environment when running tests with nox
  py/noxfile.py
Owners: @pavelgj, @yesudeep

chore(py): auto-fix some lint with ruff (#2640)
  py/packages/genkit/src/genkit/blocks/retriever.py
  py/packages/genkit/src/genkit/core/extract.py
  py/packages/genkit/src/genkit/core/reflection.py
  py/packages/genkit/tests/genkit/blocks/formats/json_test.py
  py/packages/genkit/tests/genkit/blocks/middleware_test.py
  py/packages/genkit/tests/genkit/blocks/prompt_test.py
  py/packages/genkit/tests/genkit/codec_test.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/__init__.py
  py/plugins/compat-oai/tests/test_model.py
  py/plugins/dev-local-vector-store/src/genkit/plugins/dev_local_vector_store/indexer.py
  py/plugins/dev-local-vector-store/src/genkit/plugins/dev_local_vector_store/local_vector_store_api.py
  py/plugins/dev-local-vector-store/src/genkit/plugins/dev_local_vector_store/retriever.py
  py/plugins/google-ai/src/genkit/plugins/google_ai/google_ai.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/embedder.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/plugins/google-genai/test/models/test_googlegenai_imagen.py
  py/plugins/vertex-ai/tests/test_gemini.py
  py/plugins/vertex-ai/tests/test_imagen.py
  py/samples/firestore-retreiver/src/main.py
  py/samples/menu/src/case_01/__init__.py
  py/samples/menu/src/case_02/__init__.py
  py/samples/menu/src/case_03/__init__.py
  py/samples/menu/src/case_03/flows.py
  py/samples/menu/src/case_04/__init__.py
  py/samples/menu/src/case_05/__init__.py
  py/samples/menu/src/menu_schemas.py
  py/samples/tool-interrupts/src/tool_interrupts.py
  py/samples/vertex-ai-imagen/src/vertex_ai_imagen_sample.py
Owners: @pavelgj, @yesudeep

chore(py): use the active virtual environment when running tests with nox (#2642)
  py/noxfile.py
Owners: @pavelgj, @yesudeep

fix: Rag docs links in plugin docs (#2626)
  docs/plugins/firebase.md
  docs/plugins/vertex-ai.md
Owners: @pavelgj

fix in error code
  go/core/error.go
  go/genkit/reflection.go
Owners: @apascal07

fix(py): use the runtime specified by nox with pytest
  py/noxfile.py
Owners: @pavelgj, @yesudeep

fix(py): use the runtime specified by nox with pytest (#2645)
  py/noxfile.py
Owners: @pavelgj, @yesudeep

fix(py): try tox; also use nox-specified python with pytest in noxfile; fix more 3.10 compatibility issues
  captainhook.json
  py/bin/run_python_tests_with_tox
  py/plugins/chroma/pyproject.toml
  py/plugins/compat-oai/pyproject.toml
  py/plugins/dev-local-vector-store/pyproject.toml
  py/plugins/firebase/pyproject.toml
  py/plugins/google-ai/pyproject.toml
  py/plugins/google-ai/src/genkit/plugins/google_ai/models/gemini.py
  py/plugins/google-cloud/pyproject.toml
  py/plugins/google-genai/pyproject.toml
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/embedder.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/imagen.py
  py/plugins/google-genai/test/models/test_googlegenai_gemini.py
  py/plugins/pinecone/pyproject.toml
  py/plugins/vertex-ai/pyproject.toml
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/embedding.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/gemini.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/imagen.py
  py/pyproject.toml
  py/tests/smoke/pyproject.toml
  py/tox.ini
  py/uv.lock
Owners: @pavelgj, @yesudeep

fix(py): try tox; also use nox-specified python with pytest in noxfile; fix more 3.10 compatibility issues (#2644)
  captainhook.json
  py/bin/run_python_tests_with_tox
  py/plugins/chroma/pyproject.toml
  py/plugins/compat-oai/pyproject.toml
  py/plugins/dev-local-vector-store/pyproject.toml
  py/plugins/firebase/pyproject.toml
  py/plugins/google-ai/pyproject.toml
  py/plugins/google-ai/src/genkit/plugins/google_ai/models/gemini.py
  py/plugins/google-cloud/pyproject.toml
  py/plugins/google-genai/pyproject.toml
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/embedder.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/imagen.py
  py/plugins/google-genai/test/models/test_googlegenai_gemini.py
  py/plugins/pinecone/pyproject.toml
  py/plugins/vertex-ai/pyproject.toml
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/embedding.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/gemini.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/imagen.py
  py/pyproject.toml
  py/tests/smoke/pyproject.toml
  py/tox.ini
  py/uv.lock
Owners: @pavelgj, @yesudeep

Minor fixes.
  genkit-tools/common/src/types/model.ts
  genkit-tools/genkit-schema.json
  go/ai/format_json.go
  go/ai/format_jsonl.go
  go/ai/format_text.go
  go/ai/formatter.go
  go/ai/formatter_test.go
  go/ai/gen.go
  go/ai/generate.go
  go/ai/generator_test.go
  js/ai/src/model.ts
  py/packages/genkit/src/genkit/core/typing.py
Owners: @pavelgj, @apascal07, @yesudeep

revert(py/genkit): revert incorrect 3.10 asyncio compat workaround
  .github/workflows/python.yml
  py/bin/run_python_tests
  py/packages/genkit/src/genkit/aio/_compat.py
  py/packages/genkit/src/genkit/aio/channel.py
  py/packages/genkit/tests/genkit/aio/channel_test.py
  py/tox.ini
Owners: @pavelgj, @yesudeep

revert(py/genkit): revert incorrect 3.10 asyncio compat workaround (#2641)
  .github/workflows/python.yml
  py/bin/run_python_tests
  py/packages/genkit/src/genkit/aio/_compat.py
  py/packages/genkit/src/genkit/aio/channel.py
  py/packages/genkit/tests/genkit/aio/channel_test.py
  py/tox.ini
Owners: @pavelgj, @yesudeep

Fixed tests.
  go/ai/formatter_test.go
  go/ai/generate.go
  go/ai/model_middleware.go
  go/ai/option_test.go
  go/ai/prompt_test.go
Owners: @apascal07
