Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj

chore: bump @genkit-ai/ai version to @genkit-ai/ai@1.4.0
  js/ai/package.json
Owners: @pavelgj

chore: bump genkit version to genkit@1.4.0
  js/genkit/package.json
Owners: @pavelgj

chore: bump genkitx-chromadb version to genkitx-chromadb@1.4.0
  js/plugins/chroma/package.json
Owners: @pavelgj

chore: bump @genkit-ai/dev-local-vectorstore version to @genkit-ai/dev-local-vectorstore@1.4.0
  js/plugins/dev-local-vectorstore/package.json
Owners: @pavelgj

chore: bump @genkit-ai/evaluator version to @genkit-ai/evaluator@1.4.0
  js/plugins/evaluators/package.json
Owners: @pavelgj

chore: bump @genkit-ai/firebase version to @genkit-ai/firebase@1.4.0
  js/plugins/firebase/package.json
Owners: @pavelgj

chore: bump @genkit-ai/google-cloud version to @genkit-ai/google-cloud@1.4.0
  js/plugins/google-cloud/package.json
Owners: @pavelgj

chore: bump @genkit-ai/googleai version to @genkit-ai/googleai@1.4.0
  js/plugins/googleai/package.json
Owners: @pavelgj

chore: bump genkitx-langchain version to genkitx-langchain@1.4.0
  js/plugins/langchain/package.json
Owners: @pavelgj

chore: bump @genkit-ai/next version to @genkit-ai/next@1.4.0
  js/plugins/next/package.json
Owners: @pavelgj

chore: bump genkitx-ollama version to genkitx-ollama@1.4.0
  js/plugins/ollama/package.json
Owners: @pavelgj

chore: bump genkitx-pinecone version to genkitx-pinecone@1.4.0
  js/plugins/pinecone/package.json
Owners: @pavelgj

chore: bump @genkit-ai/vertexai version to @genkit-ai/vertexai@1.4.0
  js/plugins/vertexai/package.json
Owners: @pavelgj

chore: bump @genkit-ai/checks version to @genkit-ai/checks@1.4.0
  js/plugins/checks/package.json
Owners: @pavelgj

chore: bump genkitx-mcp version to genkitx-mcp@1.4.0
  js/plugins/mcp/package.json
Owners: @pavelgj

chore: bump @genkit-ai/express version to @genkit-ai/express@1.4.0
  js/plugins/express/package.json
Owners: @pavelgj

Update openai.go
  go/plugins/compat_oai/openai/openai.go
Owners: @apascal07

fix: validate response only when constrained is set
  go/ai/generate.go
  go/samples/prompts/main.go
Owners: @apascal07

update generator test cases to allow constrained flag
  go/ai/generator_test.go
Owners: @apascal07

add model stage support
  go/ai/generate.go
  go/ai/generator_test.go
  go/plugins/googlegenai/models.go
Owners: @apascal07

oops: add model stage to gemini-1.5-pro
  go/plugins/googlegenai/models.go
Owners: @apascal07

refactor(py/aio): don't require loop.run_forever, run until completion as necessary
  py/packages/genkit-ai/src/genkit/ai/veneer.py
  py/packages/genkit-ai/src/genkit/aio/loop.py
  py/packages/genkit-ai/src/genkit/core/reflection.py
  py/samples/google_genai/src/hello.py
Owners: @pavelgj, @yesudeep

make reflection api thread a daemon
  py/packages/genkit-ai/src/genkit/ai/veneer.py
Owners: @pavelgj, @yesudeep

fix imports
  py/samples/google_genai/src/hello.py
Owners: @pavelgj, @yesudeep

feat: firestore retriever draft
  py/plugins/firebase/src/genkit/plugins/firebase/constant.py
  py/plugins/firebase/src/genkit/plugins/firebase/firebase_api.py
  py/plugins/firebase/src/genkit/plugins/firebase/retriever.py
  py/samples/firestore-retreiver/src/main.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

fix: make customOptions consistent in action metadata (#2465)
  genkit-tools/common/src/eval/parser.ts
  go/ai/evaluator.go
  js/ai/src/embedder.ts
  js/ai/src/evaluator.ts
  js/ai/src/reranker.ts
  js/ai/src/retriever.ts
Owners: @pavelgj, @apascal07

Progress commit
  go/ai/format_json.go
  go/ai/format_text.go
  go/ai/formatter.go
  go/ai/formatter_test.go
  go/ai/generate.go
  go/ai/generator_test.go
  go/ai/option.go
  go/ai/option_test.go
Owners: @apascal07

refactor(py/aio): don't require loop.run_forever, run until completion as necessary (#2483)
  py/packages/genkit-ai/src/genkit/ai/veneer.py
  py/packages/genkit-ai/src/genkit/aio/loop.py
  py/packages/genkit-ai/src/genkit/core/reflection.py
  py/samples/google_genai/src/hello.py
Owners: @pavelgj, @yesudeep

Comments
  go/ai/formatter.go
  go/ai/generate.go
Owners: @apascal07

fix(py/plugins/genai): fixed tools caling
  py/packages/genkit-ai/src/genkit/core/reflection.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/utils.py
Owners: @pavelgj, @yesudeep

feat(go): Add ModelArg interface and ModelRef
  go/ai/generate.go
  go/ai/option.go
  go/ai/option_test.go
  go/plugins/googlegenai/googlegenai.go
Owners: @apascal07

fix(go/samples): samples maintentance (#2480)
  go/samples/prompts-dir/main.go
  go/samples/prompts-dir/prompts/example.prompt
Owners: @apascal07, @pavelgj

format
  py/packages/genkit-ai/src/genkit/core/reflection.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/utils.py
Owners: @pavelgj, @yesudeep

fixed tests
  py/packages/genkit-ai/src/genkit/ai/__init__.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/plugins/google-genai/test/models/test_googlegenai_gemini.py
Owners: @pavelgj, @yesudeep

chore: fixed run tests GHA triggering
  .github/workflows/tests.yml
Owners: @pavelgj

chore: fixed run tests GHA triggering (#2488)
  .github/workflows/tests.yml
Owners: @pavelgj

fix: review comments
  go/ai/generate.go
  go/ai/model_middleware.go
Owners: @apascal07

use proper logging function
  go/ai/model_middleware.go
Owners: @apascal07

Fixed default input bug.
  go/ai/generate.go
  go/ai/prompt.go
Owners: @apascal07

fix(go/ai): fix type errors in prompt_test.go
  go/ai/prompt_test.go
Owners: @apascal07
