Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj

fix(go/ai): make replacing the input an explicit decision of the restart verbs
  go/ai/tools.go
  go/ai/tools_test.go
Owners: @apascal07

fix(go/ai/exp): accept a restart that revised the input through the agent
  go/ai/exp/agent.go
  go/ai/exp/agent_test.go
Owners: @apascal07

fix(go/ai): say why a claim declined a part whose input does not decode
  go/ai/tools.go
Owners: @apascal07

fix(go/samples/basic-agents): leave an unreadable transfer interrupt unresolved
  go/samples/basic-agents/banker.go
Owners: @apascal07

refactor(go/ai): deprecate the ai resume readers in favor of ai/tool
  go/ai/tools.go
  go/plugins/middleware/tool_approval.go
Owners: @apascal07

refactor(go/ai): share the resolved-request tail of handleResumedToolRequest
  go/ai/generate.go
Owners: @apascal07

docs(go/ai): state where interrupt state lives and what the markers mean
  go/ai/document.go
  go/ai/tools.go
Owners: @apascal07

test(go/ai): colocate the external tool tests with tools.go by name
  go/ai/tools_external_test.go
Owners: @apascal07

fix(go/ai): keep stale keys off the wire when folding interrupt state
  go/ai/document.go
  go/ai/document_test.go
  go/ai/generate.go
  go/ai/tools.go
  go/ai/tools_test.go
Owners: @apascal07

refactor(go/ai): write the advertised output schema once
  go/ai/tools.go
Owners: @apascal07

fix(py/plugins/google-genai): declare language code and multi-speaker voice config on the speech config schema
  py/packages/genkit-google-genai/src/genkit_google_genai/models/gemini.py
  py/packages/genkit-google-genai/test/models/googlegenai_gemini_test.py
Owners: @pavelgj, @yesudeep

fix(go/ai/exp): settle an `aborting` snapshot by how its work ended (#6311)
  go/README.md
  go/ai/exp/agent.go
  go/ai/exp/agent_test.go
  go/ai/exp/gen.go
  go/ai/exp/handle.go
  go/ai/exp/session.go
  go/core/schemas.config
  go/plugins/middleware/exp/agents_async.go
  go/plugins/middleware/exp/agents_continue.go
  go/samples/basic-agents-server/main.go
Owners: @apascal07, @pavelgj

fix(py/plugins/openai): handle completions with no choices
  py/packages/genkit-openai/src/genkit_openai/models/model.py
  py/packages/genkit-openai/tests/openai_model_test.py
Owners: @pavelgj, @yesudeep

fix(py/plugins/openai): carry usage on the no-choices error
  py/packages/genkit-openai/src/genkit_openai/models/model.py
  py/packages/genkit-openai/tests/openai_model_test.py
Owners: @pavelgj, @yesudeep

fix(py/plugins/openai): report finish reason, finish message, and refusals
  py/packages/genkit-openai/src/genkit_openai/models/model.py
  py/packages/genkit-openai/src/genkit_openai/models/utils.py
  py/packages/genkit-openai/tests/openai_model_test.py
  py/packages/genkit-openai/tests/openai_utils_test.py
  py/packages/genkit-openai/tests/tool_calling_test.py
Owners: @pavelgj, @yesudeep

fix(py/plugins/openai): raw and custom response metadata never set
  py/packages/genkit-openai/src/genkit_openai/models/model.py
  py/packages/genkit-openai/src/genkit_openai/models/utils.py
  py/packages/genkit-openai/tests/conftest.py
  py/packages/genkit-openai/tests/openai_model_test.py
  py/packages/genkit-openai/tests/openai_utils_test.py
Owners: @pavelgj, @yesudeep

fix(py/plugins/openai): emit content, reasoning, and tool-call deltas that share a chunk
  py/packages/genkit-openai/src/genkit_openai/models/model.py
  py/packages/genkit-openai/src/genkit_openai/models/utils.py
  py/packages/genkit-openai/tests/openai_model_test.py
  py/packages/genkit-openai/tests/openai_utils_test.py
Owners: @pavelgj, @yesudeep

test(py/plugins/openai): keep tool parts through DeepSeek json fence stripping
  py/packages/genkit-openai/tests/openai_model_test.py
Owners: @pavelgj, @yesudeep

fix(py/plugins/openai): tolerate a null tool-call arguments fragment
  py/packages/genkit-openai/src/genkit_openai/models/model.py
  py/packages/genkit-openai/tests/openai_model_test.py
Owners: @pavelgj, @yesudeep

fix(js/plugins/compat-oai): omit visualDetailLevel from OpenAI request bodies
  js/plugins/compat-oai/src/model.ts
  js/plugins/compat-oai/tests/compat_oai_test.ts
Owners: @pavelgj

feat(go/ai): advertise the schema of Res and validate restart payloads against it
  go/ai/document.go
  go/ai/generate.go
  go/ai/generate_test.go
  go/ai/prompt_test.go
  go/ai/tools.go
  go/ai/tools_external_test.go
  go/genkit/genkit.go
Owners: @apascal07

docs(go): note in the README that a restart's answer is validated against Res
  go/README.md
Owners: @apascal07

chore(py): clear upgrade message for Python <= 3.9 installs instead of resolving a pre-transfer package (#6210)
  .github/workflows/publish_python.yml
  py/floor-shim/.gitignore
  py/floor-shim/README.md
  py/floor-shim/setup.py
  py/tests/floor_shim_guard_test.py
Owners: @pavelgj, @yesudeep

fix(py): keep raw A2UI fences on failed and truncated turns
  .github/workflows/publish_python.yml
  py/packages/genkit-a2ui/src/genkit_a2ui/_loader.py
  py/packages/genkit-a2ui/src/genkit_a2ui/_middleware.py
  py/packages/genkit-a2ui/src/genkit_a2ui/_parser.py
  py/packages/genkit-a2ui/tests/catalog_loader_test.py
  py/packages/genkit-a2ui/tests/generate_a2ui_test.py
  py/packages/genkit/pyproject.toml
  py/uv.lock
Owners: @pavelgj, @yesudeep

fix(go/ai): answer a restart to the stage that raised the interrupt
  go/README.md
  go/ai/document.go
  go/ai/document_test.go
  go/ai/generate.go
  go/ai/middleware.go
  go/ai/tool/tool.go
  go/ai/tools.go
  go/ai/tools_external_test.go
  go/internal/base/context_key.go
  go/internal/base/tool_interrupt.go
  go/plugins/middleware/tool_approval.go
  go/plugins/middleware/tool_approval_test.go
Owners: @apascal07

feat(py): add A2UI Surfaces middleware (#6312)
  .github/workflows/publish_python.yml
  py/packages/genkit-a2ui/LICENSE
  py/packages/genkit-a2ui/README.md
  py/packages/genkit-a2ui/pyproject.toml
  py/packages/genkit-a2ui/src/genkit_a2ui/__init__.py
  py/packages/genkit-a2ui/src/genkit_a2ui/_catalog.py
  py/packages/genkit-a2ui/src/genkit_a2ui/_loader.py
  py/packages/genkit-a2ui/src/genkit_a2ui/_middleware.py
  py/packages/genkit-a2ui/src/genkit_a2ui/_parser.py
  py/packages/genkit-a2ui/src/genkit_a2ui/_part.py
  py/packages/genkit-a2ui/src/genkit_a2ui/_types.py
  py/packages/genkit-a2ui/tests/catalog_loader_test.py
  py/packages/genkit-a2ui/tests/conftest.py
  py/packages/genkit-a2ui/tests/generate_a2ui_inbound_test.py
  py/packages/genkit-a2ui/tests/generate_a2ui_test.py
  py/packages/genkit-a2ui/tests/helpers.py
  py/packages/genkit/pyproject.toml
  py/packages/genkit/src/genkit/_core/_reflection_v2.py
  py/packages/genkit/tests/genkit/core/endpoints/reflection_test.py
  py/packages/genkit/tests/genkit/core/reflection_v2_test.py
  py/pyproject.toml
  py/uv.lock
Owners: @pavelgj, @yesudeep

fix(py): resolve merge conflicts with main and fix typing in genkit-a2ui
  py/packages/genkit-a2ui/src/genkit_a2ui/_middleware.py
  py/packages/genkit-a2ui/src/genkit_a2ui/_part.py
  py/packages/genkit-a2ui/tests/helpers.py
  py/packages/genkit-fastapi/tests/agent_handler_test.py
  py/packages/genkit/src/genkit/exp/_api.py
  py/packages/genkit/tests/genkit/ai/exp_agents_import_test.py
Owners: @pavelgj, @yesudeep

fix(go): preserve trace media in dev
  go/core/tracing/media_test.go
  go/core/tracing/tracing.go
Owners: @apascal07
