Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

fix(go/ai): Remove incorrect genkit directory and update template helpers sample
  go/ai/prompt.go
  go/ai/prompt_test.go
  go/samples/template-helpers/main.go
  go/samples/template-helpers/prompts/greeting.prompt
  py/packages/genkit/pyproject.toml
Owners: @apascal07, @pavelgj, @yesudeep

fix(go/ai): Restore TestLoadPrompt function
  go/ai/prompt_test.go
Owners: @apascal07

fix(py/plugins/genai): fixes for genai plugin response schema and streaming
  py/packages/genkit-ai/src/genkit/core/extract.py
  py/packages/genkit-ai/tests/genkit/core/extract_test.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/plugins/google-genai/test/models/test_googlegenai_gemini.py
  py/samples/hello-google-genai/src/hello.py
Owners: @pavelgj, @yesudeep

typo
  py/samples/hello-google-genai/src/hello.py
Owners: @pavelgj, @yesudeep

constrained
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/samples/hello-google-genai/src/hello.py
Owners: @pavelgj, @yesudeep

fmt
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/samples/hello-google-genai/src/hello.py
Owners: @pavelgj, @yesudeep

fix(py/plugins/google-genai): mark obsolete models as deprecated
  bin/fmt
  py/packages/genkit-ai/src/genkit/lang/__init__.py
  py/packages/genkit-ai/src/genkit/lang/deprecations.py
  py/plugins/google-ai/src/genkit/plugins/google_ai/models/gemini.py
  py/plugins/google-genai/pyproject.toml
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/samples/hello-google-genai/src/hello.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

fix(py/plugins/genai): fixes for genai plugin response schema and streaming (#2538)
  py/packages/genkit-ai/src/genkit/core/extract.py
  py/packages/genkit-ai/tests/genkit/core/extract_test.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/plugins/google-genai/test/models/test_googlegenai_gemini.py
  py/samples/hello-google-genai/src/hello.py
Owners: @pavelgj, @yesudeep

fix(py/plugins/google-genai): mark as legacy and deprecated v1 Gemini models
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/samples/hello-google-genai/src/hello.py
Owners: @pavelgj, @yesudeep

fix(py/plugins/genai): expose full Gemini config schema
  py/packages/genkit-ai/src/genkit/ai/__init__.py
  py/packages/genkit-ai/src/genkit/blocks/prompt.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/__init__.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/samples/hello-google-genai/src/hello.py
Owners: @pavelgj, @yesudeep

constrained
  py/samples/hello-google-genai/src/hello.py
Owners: @pavelgj, @yesudeep

fmt
  py/samples/hello-google-genai/src/hello.py
Owners: @pavelgj, @yesudeep

fix(py/plugins/genai): expose full Gemini config schema (#2540)
  py/packages/genkit-ai/src/genkit/ai/__init__.py
  py/packages/genkit-ai/src/genkit/blocks/prompt.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/__init__.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/samples/hello-google-genai/src/hello.py
Owners: @pavelgj, @yesudeep

fix(py/plugins/google-genai): mark as legacy and deprecated v1 Gemini models (#2539)
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/samples/hello-google-genai/src/hello.py
Owners: @pavelgj, @yesudeep

fix(go/ai): Export DefinePartial and DefineHelper functions
  go/ai/prompt.go
  go/genkit/genkit.go
Owners: @apascal07

feat(py/genkit-ai): add model deprecations metaclass factory
  py/packages/genkit-ai/src/genkit/ai/__init__.py
  py/packages/genkit-ai/src/genkit/lang/__init__.py
  py/packages/genkit-ai/src/genkit/lang/deprecations.py
  py/packages/genkit-ai/tests/genkit/lang/deprecations_test.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
Owners: @pavelgj, @yesudeep

feat(py/genkit-ai): add model deprecations metaclass factory for later (#2541)
  py/packages/genkit-ai/src/genkit/ai/__init__.py
  py/packages/genkit-ai/src/genkit/lang/__init__.py
  py/packages/genkit-ai/src/genkit/lang/deprecations.py
  py/packages/genkit-ai/tests/genkit/lang/deprecations_test.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
Owners: @pavelgj, @yesudeep

refactor(py/genkit-ai): genkit.core.typing -> genkit.typing to avoid manual re-exporting
  py/engdoc/user_guide/python/getting_started.md
Owners: @pavelgj

refactor(py/genkit/core/action): split up large module into smaller pieces and clean up internal namespace references
  py/packages/genkit-ai/src/genkit/ai/__init__.py
  py/packages/genkit-ai/src/genkit/ai/registry.py
  py/packages/genkit-ai/src/genkit/ai/veneer.py
  py/packages/genkit-ai/src/genkit/aio/_util.py
  py/packages/genkit-ai/src/genkit/core/action/__init__.py
  py/packages/genkit-ai/src/genkit/core/action/_action.py
  py/packages/genkit-ai/src/genkit/core/action/_key.py
  py/packages/genkit-ai/src/genkit/core/action/_tracing.py
  py/packages/genkit-ai/src/genkit/core/action/_util.py
  py/packages/genkit-ai/src/genkit/core/action/types.py
  py/packages/genkit-ai/src/genkit/core/registry.py
  py/packages/genkit-ai/tests/genkit/core/action_test.py
  py/packages/genkit-ai/tests/genkit/core/registry_test.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/handler.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/model.py
  py/plugins/compat-oai/tests/test_handler.py
  py/plugins/compat-oai/tests/test_tool_calling.py
  py/plugins/dev-local-vector-store/src/genkit/plugins/dev_local_vector_store/plugin_api.py
  py/plugins/dev-local-vector-store/src/genkit/plugins/dev_local_vector_store/retriever.py
  py/plugins/google-ai/src/genkit/plugins/google_ai/models/gemini.py
  py/plugins/ollama/src/genkit/plugins/ollama/models.py
  py/plugins/ollama/tests/test_plugin_api.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/gemini.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/imagen.py
  py/plugins/vertex-ai/tests/test_gemini.py
  py/plugins/vertex-ai/tests/test_imagen.py
  py/samples/basic-gemini/src/main.py
Owners: @pavelgj, @yesudeep

refactor(py/genkit/core/action): split up large module into smaller pieces and clean up internal namespace references (#2543)
  py/engdoc/user_guide/python/getting_started.md
  py/packages/genkit-ai/src/genkit/ai/__init__.py
  py/packages/genkit-ai/src/genkit/ai/registry.py
  py/packages/genkit-ai/src/genkit/ai/veneer.py
  py/packages/genkit-ai/src/genkit/aio/_util.py
  py/packages/genkit-ai/src/genkit/core/action/__init__.py
  py/packages/genkit-ai/src/genkit/core/action/_action.py
  py/packages/genkit-ai/src/genkit/core/action/_key.py
  py/packages/genkit-ai/src/genkit/core/action/_tracing.py
  py/packages/genkit-ai/src/genkit/core/action/_util.py
  py/packages/genkit-ai/src/genkit/core/action/types.py
  py/packages/genkit-ai/src/genkit/core/registry.py
  py/packages/genkit-ai/tests/genkit/core/action_test.py
  py/packages/genkit-ai/tests/genkit/core/registry_test.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/handler.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/model.py
  py/plugins/compat-oai/tests/test_handler.py
  py/plugins/compat-oai/tests/test_tool_calling.py
  py/plugins/dev-local-vector-store/src/genkit/plugins/dev_local_vector_store/plugin_api.py
  py/plugins/dev-local-vector-store/src/genkit/plugins/dev_local_vector_store/retriever.py
  py/plugins/google-ai/src/genkit/plugins/google_ai/models/gemini.py
  py/plugins/ollama/src/genkit/plugins/ollama/models.py
  py/plugins/ollama/tests/test_plugin_api.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/gemini.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/imagen.py
  py/plugins/vertex-ai/tests/test_gemini.py
  py/plugins/vertex-ai/tests/test_imagen.py
  py/samples/basic-gemini/src/main.py
Owners: @pavelgj, @yesudeep

refactor(py/genkit/core/tracing): clean up tracing.py
  py/packages/genkit-ai/src/genkit/core/tracing.py
Owners: @pavelgj, @yesudeep

refactor(py/genkit/core/tracing): clean up tracing.py (#2544)
  py/packages/genkit-ai/src/genkit/core/tracing.py
Owners: @pavelgj, @yesudeep

feat(py): system instructions, usage stats and constraints
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/plugins/google-genai/test/models/test_googlegenai_gemini.py
Owners: @pavelgj, @yesudeep

feat: support 2 types
  go/plugins/compat_oai/compat_oai.go
  go/plugins/compat_oai/generate.go
  go/plugins/compat_oai/generate_live_test.go
  go/samples/compat_oai/openai/main.go
Owners: @apascal07

docs(py/samples/hello-google-genai): add docs to sample and set docstring line length to 120 chars
  py/packages/genkit-ai/src/genkit/lang/deprecations.py
  py/pyproject.toml
  py/samples/hello-google-genai/src/hello.py
Owners: @pavelgj, @yesudeep

docs(py/samples/hello-google-genai): add docs to sample and set docstring line length to 120 chars (#2545)
  py/packages/genkit-ai/src/genkit/lang/deprecations.py
  py/pyproject.toml
  py/samples/hello-google-genai/src/hello.py
Owners: @pavelgj, @yesudeep

fix(py/samples/ollama-hello): import errors and use async logging
  py/plugins/ollama/README.md
  py/pyproject.toml
  py/samples/ollama-hello/README.md
  py/samples/ollama-hello/pyproject.toml
  py/samples/ollama-hello/src/hello.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

fix(py/samples/ollama-hello): import errors and use async logging (#2547)
  py/plugins/ollama/README.md
  py/pyproject.toml
  py/samples/ollama-hello/README.md
  py/samples/ollama-hello/pyproject.toml
  py/samples/ollama-hello/src/hello.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

fix(py/samples/ollama-simple-embed): import errors and use async logging; sample is still broken needs fixing #2549
  py/samples/ollama-simple-embed/README.md
  py/samples/ollama-simple-embed/pyproject.toml
  py/samples/ollama-simple-embed/src/pokemon_glossary.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

fix(py/samples/ollama-simple-embed): import errors and use async logging; sample is still broken needs fixing (#2548)
  py/samples/ollama-simple-embed/README.md
  py/samples/ollama-simple-embed/pyproject.toml
  py/samples/ollama-simple-embed/src/pokemon_glossary.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

Updated embedder and retriever to unified options.
  go/ai/embedder.go
  go/ai/gen.go
  go/ai/generate.go
  go/ai/option.go
  go/ai/option_test.go
  go/ai/prompt.go
  go/ai/retriever.go
  go/core/schemas.config
  go/genkit/genkit.go
  go/internal/fakeembedder/fakeembedder.go
  go/internal/fakeembedder/fakeembedder_test.go
  go/samples/firebase-retrievers/main.go
Owners: @apascal07, @pavelgj

fix(py/samples/tool-interrupts): async logging
  py/samples/tool-interrupts/pyproject.toml
  py/samples/tool-interrupts/src/hello.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

fix(py/samples/google-genai-image): imports fixes, renames, and docstrings
  py/pyproject.toml
  py/samples/google-genai-image/LICENSE
  py/samples/google-genai-image/README.md
  py/samples/google-genai-image/image.jpg
  py/samples/google-genai-image/pyproject.toml
  py/samples/google-genai-image/src/image_on_gemini.py
  py/samples/google_genai_image/README.md
  py/uv.lock
Owners: @pavelgj, @yesudeep

fix(py/samples/google-genai-image): imports fixes, renames, and docstrings (#2551)
  py/pyproject.toml
  py/samples/google-genai-image/LICENSE
  py/samples/google-genai-image/README.md
  py/samples/google-genai-image/image.jpg
  py/samples/google-genai-image/pyproject.toml
  py/samples/google-genai-image/src/image_on_gemini.py
  py/samples/google_genai_image/README.md
  py/uv.lock
Owners: @pavelgj, @yesudeep

Updated evaluator with unified options.
  go/ai/evaluator.go
  go/ai/evaluator_test.go
  go/ai/option.go
Owners: @apascal07

feat(py/plugins/flask): implemented simple flask plugin
  py/packages/genkit-ai/src/genkit/aio/loop.py
  py/packages/genkit-ai/src/genkit/core/action/_action.py
  py/packages/genkit-ai/src/genkit/core/error.py
  py/packages/genkit-ai/src/genkit/core/flows.py
  py/packages/genkit-ai/src/genkit/core/reflection.py
  py/packages/genkit-ai/tests/genkit/core/error_test.py
  py/plugins/flask/LICENSE
  py/plugins/flask/README.md
  py/plugins/flask/pyproject.toml
  py/plugins/flask/src/genkit/plugins/flask/__init__.py
  py/plugins/flask/src/genkit/plugins/flask/handler.py
  py/plugins/flask/src/genkit/py.typed
  py/pyproject.toml
  py/samples/hello-flask/LICENSE
  py/samples/hello-flask/README.md
  py/samples/hello-flask/pyproject.toml
  py/samples/hello-flask/src/hello.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

fmt
  py/packages/genkit-ai/src/genkit/aio/loop.py
  py/packages/genkit-ai/src/genkit/core/error.py
  py/packages/genkit-ai/src/genkit/core/reflection.py
  py/plugins/flask/src/genkit/plugins/flask/__init__.py
  py/plugins/flask/src/genkit/plugins/flask/handler.py
  py/samples/hello-flask/src/hello.py
Owners: @pavelgj, @yesudeep

feat(py): add a script to run lint
  bin/run_lint
  bin/setup
Owners: @pavelgj

fix tests
  py/packages/genkit-ai/tests/genkit/core/error_test.py
Owners: @pavelgj, @yesudeep

feat(py): add a script to run lint (#2553)
  bin/run_lint
  bin/setup
Owners: @pavelgj

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj
