Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

chore: bump @genkit-ai/vertexai version to @genkit-ai/vertexai@1.11.0-rc.0
  js/plugins/vertexai/package.json
Owners: @pavelgj

chore: bump @genkit-ai/checks version to @genkit-ai/checks@1.11.0-rc.0
  js/plugins/checks/package.json
Owners: @pavelgj

chore: bump genkitx-mcp version to genkitx-mcp@1.11.0-rc.0
  js/plugins/mcp/package.json
Owners: @pavelgj

chore: bump @genkit-ai/express version to @genkit-ai/express@1.11.0-rc.0
  js/plugins/express/package.json
Owners: @pavelgj

chore: bump @genkit-ai/tools-common version to @genkit-ai/tools-common@1.11.0
  genkit-tools/common/package.json
Owners: @pavelgj

chore: bump genkit-cli version to genkit-cli@1.11.0
  genkit-tools/cli/package.json
Owners: @pavelgj

chore: bump @genkit-ai/telemetry-server version to @genkit-ai/telemetry-server@1.11.0
  genkit-tools/telemetry-server/package.json
Owners: @pavelgj

chore: bump @genkit-ai/core version to @genkit-ai/core@1.11.0
  js/core/package.json
Owners: @pavelgj

chore: bump @genkit-ai/ai version to @genkit-ai/ai@1.11.0
  js/ai/package.json
Owners: @pavelgj

chore: bump genkit version to genkit@1.11.0
  js/genkit/package.json
Owners: @pavelgj

chore: bump genkitx-chromadb version to genkitx-chromadb@1.11.0
  js/plugins/chroma/package.json
Owners: @pavelgj

chore: bump @genkit-ai/dev-local-vectorstore version to @genkit-ai/dev-local-vectorstore@1.11.0
  js/plugins/dev-local-vectorstore/package.json
Owners: @pavelgj

chore: bump @genkit-ai/evaluator version to @genkit-ai/evaluator@1.11.0
  js/plugins/evaluators/package.json
Owners: @pavelgj

chore: bump @genkit-ai/firebase version to @genkit-ai/firebase@1.11.0
  js/plugins/firebase/package.json
Owners: @pavelgj

chore: bump @genkit-ai/google-cloud version to @genkit-ai/google-cloud@1.11.0
  js/plugins/google-cloud/package.json
Owners: @pavelgj

chore: bump @genkit-ai/googleai version to @genkit-ai/googleai@1.11.0
  js/plugins/googleai/package.json
Owners: @pavelgj

chore: bump genkitx-langchain version to genkitx-langchain@1.11.0
  js/plugins/langchain/package.json
Owners: @pavelgj

chore: bump @genkit-ai/next version to @genkit-ai/next@1.11.0
  js/plugins/next/package.json
Owners: @pavelgj

chore: bump genkitx-ollama version to genkitx-ollama@1.11.0
  js/plugins/ollama/package.json
Owners: @pavelgj

chore: bump genkitx-pinecone version to genkitx-pinecone@1.11.0
  js/plugins/pinecone/package.json
Owners: @pavelgj

chore: bump @genkit-ai/vertexai version to @genkit-ai/vertexai@1.11.0
  js/plugins/vertexai/package.json
Owners: @pavelgj

chore: bump @genkit-ai/checks version to @genkit-ai/checks@1.11.0
  js/plugins/checks/package.json
Owners: @pavelgj

chore: bump genkitx-mcp version to genkitx-mcp@1.11.0
  js/plugins/mcp/package.json
Owners: @pavelgj

chore: bump @genkit-ai/express version to @genkit-ai/express@1.11.0
  js/plugins/express/package.json
Owners: @pavelgj

fix test cases
  go/ai/prompt_test.go
  go/plugins/googlegenai/googleai_live_test.go
Owners: @apascal07

feat(go/dotprompt): Add support to MediaParts
  go/ai/prompt.go
  go/plugins/googlegenai/googleai_live_test.go
  go/plugins/googlegenai/vertexai_live_test.go
  go/plugins/vertexai/modelgarden/anthropic_live_test.go
  go/samples/prompts/main.go
  go/samples/prompts/prompts/media.prompt
Owners: @apascal07, @pavelgj

feat(py): Ollama list actions method (#2994)
  py/bin/sanitize_schema_typing.py
  py/packages/genkit/src/genkit/ai/_base.py
  py/packages/genkit/src/genkit/core/registry.py
  py/plugins/google-genai/test/test_google_plugin.py
  py/plugins/ollama/src/genkit/plugins/ollama/embedders.py
  py/plugins/ollama/src/genkit/plugins/ollama/models.py
  py/plugins/ollama/src/genkit/plugins/ollama/plugin_api.py
  py/plugins/ollama/tests/test_plugin_api.py
Owners: @pavelgj, @yesudeep

add comments
  go/ai/prompt.go
  go/plugins/googlegenai/googleai_live_test.go
  go/plugins/vertexai/modelgarden/anthropic_live_test.go
  go/samples/prompts/prompts/media.prompt
Owners: @apascal07, @pavelgj

chore(go): bump go-genai SDK version to v1.8.0
  go/go.mod
  go/go.sum
Owners: @apascal07

fix(go/genkit): Remove indexers from genkit
  go/ai/retriever.go
  go/genkit/genkit.go
  go/internal/atype/atype.go
  go/internal/doc-snippets/googleai.go
  go/internal/doc-snippets/pinecone.go
  go/internal/doc-snippets/vertexai.go
  go/plugins/localvec/localvec.go
  go/plugins/pinecone/genkit.go
  go/plugins/pinecone/genkit_test.go
  go/plugins/pinecone/pinecone.go
  go/plugins/weaviate/weaviate.go
  go/plugins/weaviate/weaviate_test.go
  go/samples/pgvector/main.go
Owners: @apascal07

fix(go/genkit): Add comments
  go/internal/doc-snippets/vertexai.go
  go/plugins/pinecone/genkit.go
  go/plugins/weaviate/weaviate.go
  go/samples/pgvector/main.go
Owners: @apascal07

fix(go/genkit): Add comments
  go/internal/doc-snippets/googleai.go
Owners: @apascal07

Remove Registry() method from genkit from all references
  go/genkit/genkit.go
  go/plugins/mcp/server.go
Owners: @apascal07

feat(py): Add resolve action method for ollama (#2972)
  py/packages/genkit/src/genkit/ai/_base.py
  py/packages/genkit/src/genkit/core/registry.py
  py/plugins/google-genai/test/test_google_plugin.py
  py/plugins/ollama/src/genkit/plugins/ollama/embedders.py
  py/plugins/ollama/src/genkit/plugins/ollama/models.py
  py/plugins/ollama/src/genkit/plugins/ollama/plugin_api.py
  py/plugins/ollama/tests/conftest.py
  py/plugins/ollama/tests/test_integration.py
  py/plugins/ollama/tests/test_plugin_api.py
  py/samples/ollama-simple-embed/src/pokemon_glossary.py
Owners: @pavelgj, @yesudeep

feat(go): added postgresql plugin
  go/plugins/postgresql/README.md
  go/plugins/postgresql/constants.go
  go/plugins/postgresql/distance_strategy.go
  go/plugins/postgresql/docstore.go
  go/plugins/postgresql/engine.go
  go/plugins/postgresql/engine_test.go
  go/plugins/postgresql/genkit.go
  go/plugins/postgresql/genkit_test.go
  go/plugins/postgresql/indexer.go
  go/plugins/postgresql/indexer_test.go
  go/plugins/postgresql/integration.cloudbuild.yaml
  go/plugins/postgresql/mocks_test.go
  go/plugins/postgresql/options.go
  go/plugins/postgresql/retriever.go
  go/plugins/postgresql/retriever_test.go
Owners: @pavelgj, @apascal07

Update README.md
  go/samples/mcp-server/README.md
Owners: @pavelgj

feat(go): added alloydb plugin
  go/plugins/alloydb/README.md
  go/plugins/alloydb/constants.go
  go/plugins/alloydb/distance_strategy.go
  go/plugins/alloydb/docstore.go
  go/plugins/alloydb/engine.go
  go/plugins/alloydb/engine_test.go
  go/plugins/alloydb/genkit.go
  go/plugins/alloydb/genkit_test.go
  go/plugins/alloydb/indexer.go
  go/plugins/alloydb/indexer_test.go
  go/plugins/alloydb/mocks_test.go
  go/plugins/alloydb/options.go
  go/plugins/alloydb/retriever.go
  go/plugins/alloydb/retriever_test.go
Owners: @pavelgj, @apascal07

fix: type and tests coverage Ollama plugin
  py/plugins/ollama/src/genkit/plugins/ollama/constants.py
  py/plugins/ollama/src/genkit/plugins/ollama/embedders.py
  py/plugins/ollama/src/genkit/plugins/ollama/models.py
  py/plugins/ollama/tests/models/test_embedders.py
  py/plugins/ollama/tests/models/test_models.py
  py/plugins/ollama/tests/test_plugin_api.py
Owners: @pavelgj, @yesudeep

chore(py): Add vertexai and google cloud plugins as opt deps
  py/packages/genkit/pyproject.toml
Owners: @pavelgj, @yesudeep

fix: samples readme
  py/samples/ollama-hello/README.md
  py/samples/ollama-simple-embed/README.md
Owners: @pavelgj

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj
