Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

fix(py): add more test flows in evaluator demo to match JS SDK
  py/packages/genkit/src/genkit/core/reflection.py
  py/plugins/dev-local-vectorstore/src/genkit/plugins/dev_local_vectorstore/indexer.py
  py/plugins/evaluators/src/genkit/plugins/evaluators/plugin_api.py
  py/samples/evaluator-demo/README.md
  py/samples/evaluator-demo/data/capra-test.json
  py/samples/evaluator-demo/data/cat_adoption_questions.jsonl
  py/samples/evaluator-demo/data/cat_adoption_questions_with_reference.json
  py/samples/evaluator-demo/data/dogfacts.json
  py/samples/evaluator-demo/docs/cat-handbook.pdf
  py/samples/evaluator-demo/docs/cat-wiki.pdf
  py/samples/evaluator-demo/prompts/hello.prompt
  py/samples/evaluator-demo/pyproject.toml
  py/samples/evaluator-demo/src/eval_demo.py
  py/samples/evaluator-demo/src/eval_in_code.py
  py/samples/evaluator-demo/src/genkit_demo.py
  py/samples/evaluator-demo/src/index.py
  py/samples/evaluator-demo/src/pdf_rag.py
  py/samples/evaluator-demo/src/setup.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

fix(py/samples/xai-hello): get sample to run
  py/noxfile.py
  py/plugins/xai/pyproject.toml
  py/pyproject.toml
  py/samples/xai-hello/src/xai_hello.py
  py/tox.ini
Owners: @pavelgj, @yesudeep

fix(py/samples/xai-hello): get sample to run (#4014)
  py/noxfile.py
  py/plugins/xai/pyproject.toml
  py/pyproject.toml
  py/samples/xai-hello/src/xai_hello.py
  py/tox.ini
Owners: @pavelgj, @yesudeep

fix(py): fix the evaluation failure bug in dog_facts_eval test flow
  py/plugins/evaluators/src/genkit/plugins/evaluators/plugin_api.py
  py/samples/evaluator-demo/README.md
  py/samples/evaluator-demo/src/eval_in_code.py
  py/samples/evaluator-demo/src/genkit_demo.py
  py/samples/evaluator-demo/src/index.py
  py/samples/evaluator-demo/src/pdf_rag.py
  py/samples/evaluator-demo/src/setup.py
Owners: @pavelgj, @yesudeep

fix(py): fix the python checks failing test
  py/plugins/evaluators/src/genkit/plugins/evaluators/plugin_api.py
  py/samples/evaluator-demo/src/eval_in_code.py
  py/samples/evaluator-demo/src/index.py
  py/samples/evaluator-demo/src/pdf_rag.py
  py/samples/evaluator-demo/src/setup.py
Owners: @pavelgj, @yesudeep

fix(py): fix the python checks failing test in index.py
  py/samples/evaluator-demo/src/index.py
Owners: @pavelgj, @yesudeep

fix(py): remove a comment in setup.py
  py/samples/evaluator-demo/src/setup.py
Owners: @pavelgj, @yesudeep

fix(py): add more test flows in evaluator demo to match JS SDK (#4015)
  py/packages/genkit/src/genkit/core/reflection.py
  py/plugins/dev-local-vectorstore/src/genkit/plugins/dev_local_vectorstore/indexer.py
  py/plugins/evaluators/src/genkit/plugins/evaluators/plugin_api.py
  py/samples/evaluator-demo/README.md
  py/samples/evaluator-demo/data/capra-test.json
  py/samples/evaluator-demo/data/cat_adoption_questions.jsonl
  py/samples/evaluator-demo/data/cat_adoption_questions_with_reference.json
  py/samples/evaluator-demo/data/dogfacts.json
  py/samples/evaluator-demo/docs/cat-handbook.pdf
  py/samples/evaluator-demo/docs/cat-wiki.pdf
  py/samples/evaluator-demo/prompts/hello.prompt
  py/samples/evaluator-demo/pyproject.toml
  py/samples/evaluator-demo/src/eval_demo.py
  py/samples/evaluator-demo/src/eval_in_code.py
  py/samples/evaluator-demo/src/genkit_demo.py
  py/samples/evaluator-demo/src/index.py
  py/samples/evaluator-demo/src/pdf_rag.py
  py/samples/evaluator-demo/src/setup.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

fix(py): add test flow in prompt_demo to match JS SDK (#4013)
  py/packages/genkit/src/genkit/core/reflection.py
  py/samples/prompt_demo/src/prompt_demo.py
Owners: @pavelgj, @yesudeep

Apply PR review feedback: remove redundant catch and add error logging
  js/plugins/google-genai/src/common/utils.ts
Owners: @pavelgj

fix(anthropic): budgetTokens not working in UI
  js/plugins/anthropic/src/types.ts
Owners: @pavelgj

fix(anthropic): use beta models list method in beta runner
  js/plugins/anthropic/src/list.ts
  js/plugins/anthropic/tests/index_test.ts
  js/plugins/anthropic/tests/mocks/anthropic-client.ts
Owners: @pavelgj

feat(testapps): add anthropic vision testapp
  js/plugins/anthropic/README.md
  js/testapps/anthropic/README.md
  js/testapps/anthropic/package.json
  js/testapps/anthropic/src/stable/sample-image.png
  js/testapps/anthropic/src/stable/vision.ts
Owners: @pavelgj

docs(anthropic): update old models to new models in README.md
  js/plugins/anthropic/README.md
Owners: @pavelgj

feat(anthropic): add tool testapp
  js/testapps/anthropic/src/stable/tools.ts
Owners: @pavelgj

chore: format
  js/testapps/anthropic/src/stable/tools.ts
Owners: @pavelgj

chore(*): added tools script and place parameter
  js/testapps/anthropic/package.json
  js/testapps/anthropic/src/stable/tools.ts
Owners: @pavelgj

feat(anthropic): tool testapp
  js/testapps/anthropic/package.json
  js/testapps/anthropic/src/stable/tools.ts
Owners: @pavelgj

go fmt
  go/plugins/googlegenai/gemini.go
Owners: @apascal07

fix(go): filter out non-genkit traces from dev ui
  go/core/tracing/tracing.go
Owners: @apascal07

fix(go): implement Unwrap for GenkitError to support error chains
  go/core/error.go
  go/core/error_test.go
Owners: @apascal07

ci(py): check for lock file updates in pr and release actions and some formatting
  .github/workflows/python.yml
  py/packages/genkit/src/genkit/core/reflection.py
  py/samples/evaluator-demo/src/pdf_rag.py
Owners: @pavelgj, @yesudeep

ci(py): check for lock file updates in pr and some formatting (#4020)
  .github/workflows/python.yml
  py/packages/genkit/src/genkit/core/reflection.py
  py/samples/evaluator-demo/src/pdf_rag.py
Owners: @pavelgj, @yesudeep

fix: remove accidental telemetry changes and optimize error scan
  go/core/error.go
  go/core/tracing/tracing.go
Owners: @apascal07

docs(go): add middleware documentation and link in README
  go/MIDDLEWARE.md
  go/README.md
Owners: @apascal07

docs(go): add middleware documentation and examples
  go/MIDDLEWARE.md
  go/README.md
Owners: @apascal07

chore(anthropic): added effort unit tests
  js/plugins/anthropic/tests/effort_param_test.ts
Owners: @pavelgj

feat(py):add mcp plugin and relevant tests
  py/packages/genkit/src/genkit/ai/_registry.py
  py/packages/genkit/src/genkit/blocks/prompt.py
  py/packages/genkit/src/genkit/blocks/resource.py
  py/packages/genkit/src/genkit/core/action/types.py
  py/packages/genkit/tests/genkit/blocks/resource_test.py
  py/plugins/mcp/README.md
  py/plugins/mcp/examples/client/simple_client.py
  py/plugins/mcp/examples/server/prompts/port_code.prompt
  py/plugins/mcp/examples/server/simple_server.py
  py/plugins/mcp/pyproject.toml
  py/plugins/mcp/src/genkit/plugins/mcp/__init__.py
  py/plugins/mcp/src/genkit/plugins/mcp/client/__init__.py
  py/plugins/mcp/src/genkit/plugins/mcp/client/client.py
  py/plugins/mcp/src/genkit/plugins/mcp/client/host.py
  py/plugins/mcp/src/genkit/plugins/mcp/index.py
  py/plugins/mcp/src/genkit/plugins/mcp/server.py
  py/plugins/mcp/src/genkit/plugins/mcp/util/__init__.py
  py/plugins/mcp/src/genkit/plugins/mcp/util/message.py
  py/plugins/mcp/src/genkit/plugins/mcp/util/prompts.py
  py/plugins/mcp/src/genkit/plugins/mcp/util/resource.py
  py/plugins/mcp/src/genkit/plugins/mcp/util/tools.py
  py/plugins/mcp/src/genkit/plugins/mcp/util/transport.py
  py/plugins/mcp/tests/fakes.py
  py/plugins/mcp/tests/test_mcp_conversion.py
  py/plugins/mcp/tests/test_mcp_host.py
  py/plugins/mcp/tests/test_mcp_integration.py
  py/plugins/mcp/tests/test_mcp_server.py
  py/plugins/mcp/tests/test_mcp_server_resources.py
  py/pyproject.toml
  py/uv.lock
Owners: @pavelgj, @yesudeep

feat(py):revise with gemini's comments
  py/plugins/mcp/examples/server/simple_server.py
  py/plugins/mcp/pyproject.toml
  py/plugins/mcp/src/genkit/plugins/mcp/client/client.py
  py/plugins/mcp/src/genkit/plugins/mcp/server.py
  py/plugins/mcp/src/genkit/plugins/mcp/util/message.py
Owners: @pavelgj, @yesudeep

fix(py):restore flow samples after accidental deletion and modify README
  py/samples/evaluator-demo/README.md
  py/samples/evaluator-demo/src/main.py
Owners: @pavelgj, @yesudeep

fix(py): revise with gemini comments
  py/samples/evaluator-demo/README.md
  py/samples/evaluator-demo/src/main.py
Owners: @pavelgj, @yesudeep

fix(py): fix import in main.py
  py/samples/evaluator-demo/src/main.py
Owners: @pavelgj, @yesudeep

chore(*): added fixes to execution tests
  js/plugins/anthropic/tests/execution_test.ts
Owners: @pavelgj

fix(py):restore flow samples after accidental deletion and modify README (#4024)
  py/samples/evaluator-demo/README.md
  py/samples/evaluator-demo/src/main.py
Owners: @pavelgj, @yesudeep

feat(py):add sample test for mcp
  py/plugins/mcp/src/genkit/plugins/mcp/client/client.py
  py/plugins/mcp/src/genkit/plugins/mcp/client/host.py
  py/plugins/mcp/src/genkit/plugins/mcp/server.py
  py/samples/mcp/README.md
  py/samples/mcp/pyproject.toml
  py/samples/mcp/src/http_server.py
  py/samples/mcp/src/main.py
  py/samples/mcp/src/server.py
  py/samples/mcp/test-workspace/hello-world.txt
  py/uv.lock
Owners: @pavelgj, @yesudeep

feat(py):add sample test for mcp
  py/plugins/mcp/src/genkit/plugins/mcp/server.py
  py/samples/mcp/README.md
  py/samples/mcp/pyproject.toml
  py/samples/mcp/src/http_server.py
  py/samples/mcp/src/main.py
  py/samples/mcp/src/server.py
Owners: @pavelgj, @yesudeep

optional runtime tools
  genkit-tools/cli/src/mcp/server.ts
  genkit-tools/common/src/manager/manager.ts
Owners: @pavelgj

feedback
  genkit-tools/cli/src/mcp/server.ts
  genkit-tools/cli/src/mcp/util.ts
Owners: @pavelgj

ollama plugin: add options
  go/plugins/ollama/ollama.go
Owners: @apascal07

fix: gemini-code-assist
  go/plugins/ollama/ollama.go
Owners: @apascal07

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj
