Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

chore: bump @genkit-ai/checks version to @genkit-ai/checks@1.0.0-rc.15
  js/plugins/checks/package.json
Owners: @pavelgj

chore: bump genkitx-mcp version to genkitx-mcp@1.0.0-rc.15
  js/plugins/mcp/package.json
Owners: @pavelgj

chore: bump @genkit-ai/express version to @genkit-ai/express@1.0.0-rc.15
  js/plugins/express/package.json
Owners: @pavelgj

Get Python code closer to PEP 8 standard
  .gitignore
  py/__init__.py
  py/packages/genkit/src/genkit/ai/model.py
  py/packages/genkit/src/genkit/ai/prompt.py
  py/packages/genkit/src/genkit/core/action.py
  py/packages/genkit/src/genkit/core/reflection.py
  py/packages/genkit/src/genkit/core/registry.py
  py/packages/genkit/src/genkit/core/schemas.py
  py/packages/genkit/src/genkit/core/tracing.py
  py/packages/genkit/src/genkit/veneer/__init__.py
  py/packages/genkit/src/genkit/veneer/veneer.py
  py/plugins/vertex-ai/src/__init__.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/__init__.py
  py/samples/hello/hello.py
Owners: @pavelgj, @yesudeep

update auth to context
  docs/auth.md
  docs/evaluation.md
  genkit-tools/cli/src/commands/eval-flow.ts
  genkit-tools/cli/src/commands/flow-batch-run.ts
  genkit-tools/cli/src/commands/flow-run.ts
  genkit-tools/common/src/eval/evaluate.ts
  genkit-tools/common/src/types/apis.ts
Owners: @pavelgj

chore: update-js-chat-to-1.0
  samples/js-angular/README.md
  samples/js-angular/genkit-app/package-lock.json
  samples/js-angular/genkit-app/package.json
  samples/js-angular/genkit-app/src/app/samples/chatbot/chatbot.component.ts
  samples/js-angular/genkit-app/src/app/samples/streaming-json/streaming-json.component.ts
  samples/js-angular/server/package-lock.json
  samples/js-angular/server/package.json
  samples/js-angular/server/src/agent.ts
  samples/js-angular/server/src/index.ts
Owners: @pavelgj

fix: format fixes
  samples/js-angular/server/src/index.ts
Owners: @pavelgj

update lock
  js/pnpm-lock.yaml
Owners: @pavelgj

clean lock
  js/pnpm-lock.yaml
Owners: @pavelgj

chore: moved generate tests into shareable spec file (for go and py) (#1718)
  go/tests/api_test.go
  js/ai/package.json
  js/ai/tests/generate/action_test.ts
  js/pnpm-lock.yaml
  tests/specs/generate.yaml
  tests/specs/reflection_api.yaml
  tests/src/reflection_api_test.ts
Owners: @apascal07, @pavelgj

Added a generic generate action + refactor.
  go/ai/document.go
  go/ai/gen.go
  go/ai/generate.go
  go/ai/generator_test.go
  go/ai/tools.go
  go/core/schemas.config
  go/genkit/genkit.go
  go/internal/atype/atype.go
  go/internal/doc-snippets/models.go
  go/internal/doc-snippets/prompts.go
  go/plugins/dotprompt/dotprompt.go
  go/plugins/dotprompt/dotprompt_test.go
  go/plugins/dotprompt/genkit.go
  go/plugins/googleai/googleai.go
  go/plugins/googleai/googleai_test.go
  go/plugins/ollama/ollama_live_test.go
  go/plugins/vertexai/vertexai.go
  go/plugins/vertexai/vertexai_test.go
  go/samples/menu/s02.go
  go/samples/menu/s03.go
Owners: @apascal07, @pavelgj

Removed extra `ToolChoice`.
  go/ai/gen.go
  go/core/schemas.config
Owners: @apascal07, @pavelgj

chore: update js samples to 1.0.0-rc.15
  samples/js-chatbot/genkit-app/package-lock.json
  samples/js-chatbot/genkit-app/package.json
  samples/js-chatbot/package-lock.json
  samples/js-chatbot/package.json
  samples/js-chatbot/server/package-lock.json
  samples/js-chatbot/server/package.json
  samples/js-prompts/package-lock.json
  samples/js-prompts/package.json
  samples/js-schoolAgent/package-lock.json
  samples/js-schoolAgent/package.json
Owners: @pavelgj

chore: update pnpm to v9.15.5
  genkit-tools/package.json
  js/package.json
  package.json
Owners: @pavelgj

prevent nil access in Versions member
  go/ai/generate.go
  go/internal/doc-snippets/modelplugin/modelplugin.go
  go/plugins/googleai/googleai.go
  go/plugins/ollama/ollama.go
  go/plugins/vertexai/vertexai.go
Owners: @apascal07

chore: update js samples to 1.0.0-rc.15 (#1824)
  samples/js-chatbot/genkit-app/package-lock.json
  samples/js-chatbot/genkit-app/package.json
  samples/js-chatbot/package-lock.json
  samples/js-chatbot/package.json
  samples/js-chatbot/server/package-lock.json
  samples/js-chatbot/server/package.json
  samples/js-prompts/package-lock.json
  samples/js-prompts/package.json
  samples/js-schoolAgent/package-lock.json
  samples/js-schoolAgent/package.json
Owners: @pavelgj

chore: update-js-chat-to-1.0 (#1823)
  samples/js-angular/README.md
  samples/js-angular/genkit-app/package-lock.json
  samples/js-angular/genkit-app/package.json
  samples/js-angular/genkit-app/src/app/samples/chatbot/chatbot.component.ts
  samples/js-angular/genkit-app/src/app/samples/streaming-json/streaming-json.component.ts
  samples/js-angular/server/package-lock.json
  samples/js-angular/server/package.json
  samples/js-angular/server/src/agent.ts
  samples/js-angular/server/src/index.ts
Owners: @pavelgj

fix await on ai.embed
  js/plugins/chroma/src/index.ts
  js/plugins/evaluators/src/metrics/answer_relevancy.ts
Owners: @pavelgj

format
  js/plugins/chroma/src/index.ts
Owners: @pavelgj

feat: Add dev.nix for js-menu (#1812)
  samples/idx-template.json
  samples/js-chatbot/README.md
  samples/js-menu/.gitignore
  samples/js-menu/.idx/dev.nix
  samples/js-menu/README.md
  samples/js-menu/package-lock.json
  samples/js-menu/src/index.ts
Owners: @pavelgj

fix(js/ai): fixed GenerateStreamResponse output typing
  js/ai/src/generate.ts
  js/genkit/src/genkit.ts
Owners: @pavelgj

fix: multimodal bugs in Chroma fixed (#1811)
  docs/plugins/firebase.md
  docs/plugins/google-genai.md
  docs/plugins/ollama.md
  docs/plugins/vertex-ai.md
  docs/templates/pgvector.md
  js/plugins/chroma/src/index.ts
  js/plugins/evaluators/src/metrics/answer_relevancy.ts
  js/plugins/firebase/src/firestoreRetriever.ts
  js/plugins/ollama/tests/embedding_live_test.ts
  js/plugins/vertexai/src/vectorsearch/vector_search/retrievers.ts
  js/testapps/multimodal/src/genkit.ts
  js/testapps/multimodal/src/pdf.ts
  js/testapps/multimodal/src/video.ts
Owners: @pavelgj

generate
  js/ai/src/generate.ts
Owners: @pavelgj

chore(js): remove extraneous console.log statements
  js/ai/src/generate/resolve-tool-requests.ts
  js/core/src/tracing/processor.ts
  js/plugins/langchain/src/tracing.ts
  js/plugins/mcp/src/server.ts
Owners: @pavelgj

Update chat.md to beta.
  docs/chat.md
Owners: @pavelgj

PR feedback
  docs/firebase.md
Owners: @pavelgj

BREAKING CHANGE!(js): Rip out onFlow and firebaseAuth. Update all docs (#1798)
  docs/auth.md
  docs/firebase.md
  docs/flows.md
  docs/plugins/firebase.md
  js/doc-snippets/package.json
  js/doc-snippets/src/flows/firebase.ts
  js/plugins/firebase/package.json
  js/plugins/firebase/src/auth.ts
  js/plugins/firebase/src/functions.ts
  js/plugins/firebase/src/helpers.ts
  js/plugins/firebase/tests/auth_test.ts
  js/plugins/firebase/tests/functions_test.ts
  js/pnpm-lock.yaml
  js/testapps/dev-ui-gallery/package.json
  js/testapps/dev-ui-gallery/src/main/flows-firebase-functions.ts
  js/testapps/esm/src/index.ts
  js/testapps/firebase-functions-sample1/functions/package.json
  js/testapps/firebase-functions-sample1/functions/src/index.ts
Owners: @pavelgj

Update devtools.md to reference an existing runtime running.
  docs/devtools.md
Owners: @pavelgj

breaking(js/ai): drop ToolDefinition from ToolArgument (and genereate action interface)
  genkit-tools/common/src/types/model.ts
  genkit-tools/genkit-schema.json
  js/ai/src/chat.ts
  js/ai/src/model.ts
  js/ai/src/tool.ts
Owners: @pavelgj

fix: update auth to context (#1822)
  docs/auth.md
  docs/evaluation.md
  genkit-tools/cli/src/commands/eval-flow.ts
  genkit-tools/cli/src/commands/flow-batch-run.ts
  genkit-tools/cli/src/commands/flow-run.ts
  genkit-tools/common/src/eval/evaluate.ts
  genkit-tools/common/src/types/apis.ts
Owners: @pavelgj

format
  js/ai/src/chat.ts
  js/ai/src/tool.ts
Owners: @pavelgj

fix: evaluation.md (#1817)
  docs/evaluation.md
Owners: @pavelgj

fix: dotprompt docs
  docs/dotprompt.md
  js/doc-snippets/src/dotprompt/index.ts
Owners: @pavelgj

Update devtools.md to reference an existing runtime running. (#1831)
  docs/devtools.md
Owners: @pavelgj

Update chat.md to beta. (#1830)
  docs/chat.md
Owners: @pavelgj

chore: update pnpm to v9.15.5 (#1825)
  genkit-tools/package.json
  js/package.json
  package.json
Owners: @pavelgj

format
  docs/evaluation.md
Owners: @pavelgj

fix: dotprompt docs (#1833)
  docs/dotprompt.md
  js/doc-snippets/src/dotprompt/index.ts
Owners: @pavelgj

fix: eval plugin docs (#1814)
  docs/evaluation.md
  docs/plugin-authoring-evaluator.md
Owners: @pavelgj

docs: New page about interrupts
  docs/interrupts.md
Owners: @pavelgj

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj
