Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj

fix(py/genkit): re-enable some disabled tests and fix test capture in veneer_test.py
  py/packages/genkit/tests/genkit/blocks/prompt_test.py
  py/packages/genkit/tests/genkit/veneer/veneer_test.py
  py/pyproject.toml
Owners: @pavelgj, @yesudeep

fix(py/genkit): re-enable some disabled tests and fix test capture in veneer_test.py (#4091)
  py/packages/genkit/tests/genkit/blocks/prompt_test.py
  py/packages/genkit/tests/genkit/veneer/veneer_test.py
  py/pyproject.toml
Owners: @pavelgj, @yesudeep

fix(py): resolve pyproject.toml license deprecation warnings
  py/packages/genkit/pyproject.toml
  py/plugins/anthropic/pyproject.toml
  py/plugins/compat-oai/pyproject.toml
  py/plugins/deepseek/pyproject.toml
  py/plugins/dev-local-vectorstore/pyproject.toml
  py/plugins/evaluators/pyproject.toml
  py/plugins/firebase/pyproject.toml
  py/plugins/flask/pyproject.toml
  py/plugins/google-cloud/pyproject.toml
  py/plugins/google-genai/pyproject.toml
  py/plugins/mcp/pyproject.toml
  py/plugins/ollama/pyproject.toml
  py/plugins/vertex-ai/pyproject.toml
  py/plugins/xai/pyproject.toml
  py/pyproject.toml
  py/samples/anthropic-hello/pyproject.toml
  py/samples/compat-oai-hello/pyproject.toml
  py/samples/deepseek-hello/pyproject.toml
  py/samples/dev-local-vectorstore-hello/pyproject.toml
  py/samples/evaluator-demo/pyproject.toml
  py/samples/firestore-retreiver/pyproject.toml
  py/samples/flask-hello/pyproject.toml
  py/samples/google-genai-code-execution/pyproject.toml
  py/samples/google-genai-context-caching/pyproject.toml
  py/samples/google-genai-hello/pyproject.toml
  py/samples/google-genai-image/pyproject.toml
  py/samples/google-genai-vertexai-hello/pyproject.toml
  py/samples/google-genai-vertexai-image/pyproject.toml
  py/samples/menu/pyproject.toml
  py/samples/model-garden/pyproject.toml
  py/samples/multi-server/pyproject.toml
  py/samples/ollama-hello/pyproject.toml
  py/samples/ollama-simple-embed/pyproject.toml
  py/samples/prompt_demo/pyproject.toml
  py/samples/short-n-long/pyproject.toml
  py/samples/tool-interrupts/pyproject.toml
  py/samples/vertex-ai-vector-search-bigquery/pyproject.toml
  py/samples/vertex-ai-vector-search-firestore/pyproject.toml
  py/samples/xai-hello/pyproject.toml
  py/tests/smoke/pyproject.toml
Owners: @pavelgj, @yesudeep

fix(py): resolve pyproject.toml license deprecation warnings (#4092)
  py/packages/genkit/pyproject.toml
  py/plugins/anthropic/pyproject.toml
  py/plugins/compat-oai/pyproject.toml
  py/plugins/deepseek/pyproject.toml
  py/plugins/dev-local-vectorstore/pyproject.toml
  py/plugins/evaluators/pyproject.toml
  py/plugins/firebase/pyproject.toml
  py/plugins/flask/pyproject.toml
  py/plugins/google-cloud/pyproject.toml
  py/plugins/google-genai/pyproject.toml
  py/plugins/mcp/pyproject.toml
  py/plugins/ollama/pyproject.toml
  py/plugins/vertex-ai/pyproject.toml
  py/plugins/xai/pyproject.toml
  py/pyproject.toml
  py/samples/anthropic-hello/pyproject.toml
  py/samples/compat-oai-hello/pyproject.toml
  py/samples/deepseek-hello/pyproject.toml
  py/samples/dev-local-vectorstore-hello/pyproject.toml
  py/samples/evaluator-demo/pyproject.toml
  py/samples/firestore-retreiver/pyproject.toml
  py/samples/flask-hello/pyproject.toml
  py/samples/google-genai-code-execution/pyproject.toml
  py/samples/google-genai-context-caching/pyproject.toml
  py/samples/google-genai-hello/pyproject.toml
  py/samples/google-genai-image/pyproject.toml
  py/samples/google-genai-vertexai-hello/pyproject.toml
  py/samples/google-genai-vertexai-image/pyproject.toml
  py/samples/menu/pyproject.toml
  py/samples/model-garden/pyproject.toml
  py/samples/multi-server/pyproject.toml
  py/samples/ollama-hello/pyproject.toml
  py/samples/ollama-simple-embed/pyproject.toml
  py/samples/prompt_demo/pyproject.toml
  py/samples/short-n-long/pyproject.toml
  py/samples/tool-interrupts/pyproject.toml
  py/samples/vertex-ai-vector-search-bigquery/pyproject.toml
  py/samples/vertex-ai-vector-search-firestore/pyproject.toml
  py/samples/xai-hello/pyproject.toml
  py/tests/smoke/pyproject.toml
Owners: @pavelgj, @yesudeep

fix(py/genkit): resolve Pydantic serialization warnings in resources
  py/packages/genkit/src/genkit/blocks/resource.py
  py/packages/genkit/tests/genkit/veneer/resource_test.py
Owners: @pavelgj, @yesudeep

fix(py/genkit): resolve Pydantic serialization warnings in resources (#4093)
  py/packages/genkit/src/genkit/blocks/resource.py
  py/packages/genkit/tests/genkit/veneer/resource_test.py
Owners: @pavelgj, @yesudeep

build(py/genkit): switch to ty for stricter and faster type checks
  .github/workflows/python.yml
  bin/run_lint
  py/noxfile.py
  py/pyproject.toml
  py/uv.lock
Owners: @pavelgj, @yesudeep

build(py/genkit): switch to ty for stricter and faster type checks (#4094)
  .github/workflows/python.yml
  bin/run_lint
  py/noxfile.py
  py/pyproject.toml
  py/uv.lock
Owners: @pavelgj, @yesudeep

fix(py/genkit): fix type errors reported by ty in typing sanitizer
  py/bin/sanitize_schema_typing.py
  py/packages/genkit/src/genkit/core/typing.py
  py/pyproject.toml
  py/samples/evaluator-demo/pyproject.toml
  py/samples/multi-server/pyproject.toml
Owners: @pavelgj, @yesudeep

fix(py/genkit): fix type errors reported by ty in typing sanitizer (#4095)
  py/bin/sanitize_schema_typing.py
  py/packages/genkit/src/genkit/core/typing.py
  py/pyproject.toml
  py/samples/evaluator-demo/pyproject.toml
  py/samples/multi-server/pyproject.toml
Owners: @pavelgj, @yesudeep

fix(py/genkit): type errors in veneer_test.py and test_models.py
  py/packages/genkit/tests/genkit/veneer/veneer_test.py
  py/plugins/ollama/tests/models/test_models.py
Owners: @pavelgj, @yesudeep

test(go): add regression test for template variable substitution
  go/ai/prompt_test.go
Owners: @apascal07

Fixed panic when stream value is nil.
  go/ai/generate.go
  go/ai/prompt.go
  go/internal/base/misc.go
Owners: @apascal07

fix(go): fixed panic when stream value is nil (#4102)
  go/ai/generate.go
  go/ai/prompt.go
  go/internal/base/misc.go
Owners: @apascal07

Nested render and generate spans under prompt span.
  go/ai/evaluator.go
  go/ai/generate.go
  go/ai/prompt.go
  go/core/action.go
  go/core/flow.go
  go/core/tracing/tracing.go
Owners: @apascal07

fix(anthropic): tests
  js/plugins/anthropic/tests/stable_runner_test.ts
Owners: @pavelgj

chore(testapps/anthropic): update readme
  js/testapps/anthropic/README.md
Owners: @pavelgj

refactor(js/plugins/anthropic): fix testapps for citations
  js/testapps/anthropic/src/beta/citations.ts
  js/testapps/anthropic/src/beta/files_api.ts
Owners: @pavelgj

chore(go): improved the Genkit Go package docs (#4086)
  go/ai/example_test.go
  go/core/doc.go
  go/core/example_test.go
  go/core/logger/doc.go
  go/core/tracing/doc.go
  go/genkit/doc.go
  go/genkit/example_test.go
  go/genkit/genkit.go
Owners: @apascal07

Fixed bad dotprompt output format parsing.
  go/ai/prompt.go
  go/ai/prompt_test.go
  go/internal/base/json.go
  go/internal/base/json_test.go
Owners: @apascal07

Update genkit-tools/common/src/manager/process-manager.ts
  genkit-tools/common/src/manager/process-manager.ts
Owners: @pavelgj

fix(go): fixed bad dotprompt output format parsing (#4109)
  go/ai/prompt.go
  go/ai/prompt_test.go
  go/internal/base/json.go
  go/internal/base/json_test.go
Owners: @apascal07

Fixed default in-memory store that would not be possible to load from.
  go/core/x/session/session.go
  go/core/x/session/session_test.go
Owners: @apascal07

feat(go): added support for sessions (#4067)
  go/ai/prompt.go
  go/ai/prompt_test.go
  go/core/x/session/session.go
  go/core/x/session/session_test.go
  go/plugins/firebase/x/option.go
  go/plugins/firebase/x/session_store.go
  go/plugins/firebase/x/session_store_test.go
  go/plugins/firebase/x/stream_manager.go
  go/samples/basic-prompts/main.go
  go/samples/basic-structured/main.go
  go/samples/basic/main.go
  go/samples/durable-streaming-firestore/README.md
  go/samples/durable-streaming-firestore/main.go
  go/samples/durable-streaming/main.go
  go/samples/session/main.go
Owners: @apascal07, @pavelgj

Improved interrupts API.
  go/ai/generate.go
  go/ai/generate_test.go
  go/ai/option.go
  go/ai/option_test.go
  go/ai/tools.go
  go/ai/tools_test.go
  go/genkit/genkit.go
  go/internal/base/json.go
  go/plugins/compat_oai/generate.go
  go/plugins/googlegenai/gemini.go
  go/plugins/googlegenai/imagen.go
  go/plugins/internal/anthropic/anthropic.go
  go/samples/basic/main.go
Owners: @apascal07

Update tools.go
  go/ai/tools.go
Owners: @apascal07

fix stream and conv history
  go/plugins/openai/openai.go
  go/plugins/openai/openai_live_test.go
  go/plugins/openai/openai_test.go
Owners: @apascal07

update file structure
  go/plugins/openai/generate.go
  go/plugins/openai/openai.go
  go/plugins/openai/translator.go
Owners: @apascal07

Added intermediate tool interrupts sample.
  go/ai/generate.go
  go/ai/tools.go
  go/plugins/googlegenai/googlegenai.go
  go/samples/basic-prompts/main.go
  go/samples/basic-structured/main.go
  go/samples/basic/main.go
  go/samples/intermediate-interrupts/main.go
Owners: @apascal07

Update main.go
  go/samples/intermediate-interrupts/main.go
Owners: @apascal07

add more live test cases
  go/plugins/openai/openai.go
  go/plugins/openai/openai_live_test.go
  go/plugins/openai/translator.go
Owners: @apascal07

Update main.go
  go/samples/intermediate-interrupts/main.go
Owners: @apascal07

Changed option name.
  go/ai/tools.go
  go/samples/intermediate-interrupts/main.go
Owners: @apascal07

small refactor in translateResponse for type handling
  go/plugins/openai/generate.go
  go/plugins/openai/openai_live_test.go
  go/plugins/openai/translator.go
Owners: @apascal07

return error in handleResponseItem and minor doc updates
  go/plugins/openai/translator.go
Owners: @apascal07

Update js/plugins/anthropic/README.md
  js/plugins/anthropic/README.md
Owners: @pavelgj

chore(js/plugins/anthropic): pnpm install without frozen lockfile
  js/pnpm-lock.yaml
Owners: @pavelgj

Fixed missing thought signatures on tool responses.
  go/go.mod
  go/go.sum
  go/plugins/googlegenai/gemini.go
  go/plugins/googlegenai/gemini_test.go
  go/samples/basic/main.go
Owners: @apascal07

Update main.go
  go/samples/basic/main.go
Owners: @apascal07

Update tools.go
  go/ai/tools.go
Owners: @apascal07
