Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj

sample(js-gemini): added code execution sample for gemini
  samples/js-gemini/src/index.ts
Owners: @pavelgj

Update generate.go
  go/ai/generate.go
Owners: @apascal07

Added iterator streaming functions and typed prompts.
  go/ai/generate.go
  go/ai/prompt.go
  go/genkit/genkit.go
Owners: @apascal07

feat(py): add retriever reference support maching JS SDK (#3936)
  py/packages/genkit/src/genkit/ai/_aio.py
  py/packages/genkit/src/genkit/ai/_registry.py
  py/packages/genkit/src/genkit/blocks/retriever.py
  py/packages/genkit/tests/genkit/blocks/retriever_test.py
  py/plugins/dev-local-vectorstore/src/genkit/plugins/dev_local_vectorstore/plugin_api.py
Owners: @pavelgj, @yesudeep

fix(anthropic): tests
  js/plugins/anthropic/tests/mocks/anthropic-client.ts
Owners: @pavelgj

feat(js/plugin/compat-oai): add support to input pdfs or base64 files (#3923)
  js/plugins/compat-oai/src/model.ts
  js/plugins/compat-oai/tests/compat_oai_test.ts
  js/testapps/compat-oai/src/index.ts
Owners: @pavelgj

format
  js/core/src/tracing/instrumentation.ts
Owners: @pavelgj

Update formatter_test.go
  go/ai/formatter_test.go
Owners: @apascal07

Update gemini_test.go
  go/plugins/googlegenai/gemini_test.go
Owners: @apascal07

Rewrote formatter tests.
  go/ai/formatter_test.go
  go/samples/formats/main.go
Owners: @apascal07

Update generate.go
  go/ai/generate.go
Owners: @apascal07

Added iterator streaming functions and typed prompts.
  go/ai/generate.go
  go/ai/prompt.go
  go/genkit/genkit.go
Owners: @apascal07

WIP
  genkit-tools/cli/src/mcp/flows.ts
  genkit-tools/cli/src/mcp/runtime.ts
  genkit-tools/cli/src/mcp/server.ts
  genkit-tools/cli/src/mcp/trace.ts
  genkit-tools/cli/src/mcp/util.ts
  genkit-tools/cli/src/utils/manager-utils.ts
  genkit-tools/common/src/manager/process-manager.ts
Owners: @pavelgj

feat: prompt loading
  py/packages/genkit/src/genkit/blocks/model.py
  py/packages/genkit/src/genkit/blocks/prompt.py
  py/packages/genkit/tests/genkit/blocks/prompt_loading_test.py
  py/pyproject.toml
  py/samples/intro-prompt-loading/prompts/_footer.prompt
  py/samples/intro-prompt-loading/prompts/greetings/bye.prompt
  py/samples/intro-prompt-loading/prompts/welcome.prompt
  py/samples/intro-prompt-loading/pyproject.toml
  py/samples/intro-prompt-loading/src/main.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

chore(js/core): Tweak the DAP action Dev UI display
  js/core/src/dynamic-action-provider.ts
  js/core/tests/dynamic-action-provider_test.ts
Owners: @pavelgj

chore(py/genkit): use dotpromptz 0.1.4 from pypi
  py/packages/genkit/pyproject.toml
  py/plugins/anthropic/pyproject.toml
  py/plugins/firebase/src/genkit/plugins/firebase/tests/test_telemetry.py
  py/pyproject.toml
  py/samples/anthropic-hello/pyproject.toml
  py/uv.lock
Owners: @pavelgj, @yesudeep

chore(py/genkit): use dotpromptz 0.1.4 from pypi (#3943)
  py/packages/genkit/pyproject.toml
  py/plugins/anthropic/pyproject.toml
  py/plugins/firebase/src/genkit/plugins/firebase/tests/test_telemetry.py
  py/pyproject.toml
  py/samples/anthropic-hello/pyproject.toml
  py/uv.lock
Owners: @pavelgj, @yesudeep

fix(py/plugins/evaluators): fix strenum imports
  py/plugins/evaluators/pyproject.toml
  py/plugins/evaluators/src/genkit/plugins/evaluators/constant.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

fix(py/plugins/evaluators): fix strenum imports (#3944)
  py/plugins/evaluators/pyproject.toml
  py/plugins/evaluators/src/genkit/plugins/evaluators/constant.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

feat(js/plugins/compat-oai): allow passing api key at runtime insetad of config time
  js/ai/src/model-types.ts
  js/genkit/src/embedder.ts
  js/plugins/compat-oai/src/audio.ts
  js/plugins/compat-oai/src/deepseek/index.ts
  js/plugins/compat-oai/src/embedder.ts
  js/plugins/compat-oai/src/image.ts
  js/plugins/compat-oai/src/index.ts
  js/plugins/compat-oai/src/model.ts
  js/plugins/compat-oai/src/openai/index.ts
  js/plugins/compat-oai/src/utils.ts
  js/plugins/compat-oai/src/xai/index.ts
  js/plugins/compat-oai/tests/compat_oai_test.ts
  js/plugins/compat-oai/tests/openai_test.ts
  js/plugins/google-genai/src/googleai/index.ts
  js/plugins/google-genai/tests/googleai/index_test.ts
Owners: @pavelgj

get options from default client
  js/plugins/compat-oai/src/utils.ts
Owners: @pavelgj

fix(py/genkit): add support for python 3.14
  .github/workflows/python.yml
  py/noxfile.py
  py/packages/genkit/pyproject.toml
  py/packages/genkit/src/genkit/core/typing.py
  py/plugins/anthropic/pyproject.toml
  py/plugins/compat-oai/pyproject.toml
  py/plugins/dev-local-vectorstore/pyproject.toml
  py/plugins/evaluators/pyproject.toml
  py/plugins/evaluators/src/genkit/plugins/evaluators/constant.py
  py/plugins/firebase/pyproject.toml
  py/plugins/flask/pyproject.toml
  py/plugins/google-cloud/pyproject.toml
  py/plugins/google-genai/pyproject.toml
  py/plugins/ollama/pyproject.toml
  py/plugins/vertex-ai/pyproject.toml
  py/samples/compat-oai-hello/pyproject.toml
  py/samples/dev-local-vectorstore-hello/pyproject.toml
  py/samples/firestore-retreiver/pyproject.toml
  py/samples/flask-hello/pyproject.toml
  py/samples/google-genai-code-execution/pyproject.toml
  py/samples/google-genai-context-caching/pyproject.toml
  py/samples/google-genai-hello/pyproject.toml
  py/samples/google-genai-image/pyproject.toml
  py/samples/google-genai-vertexai-hello/pyproject.toml
  py/samples/google-genai-vertexai-image/pyproject.toml
  py/samples/menu/pyproject.toml
  py/samples/model-garden/pyproject.toml
  py/samples/multi-server/pyproject.toml
  py/samples/ollama-hello/pyproject.toml
  py/samples/ollama-simple-embed/pyproject.toml
  py/samples/short-n-long/pyproject.toml
  py/samples/tool-interrupts/pyproject.toml
  py/samples/vertex-ai-vector-search-bigquery/pyproject.toml
  py/samples/vertex-ai-vector-search-firestore/pyproject.toml
  py/tests/smoke/pyproject.toml
  py/tox.ini
  py/uv.lock
Owners: @pavelgj, @yesudeep

fix(py/genkit): add support for python 3.14 (#3947)
  .github/workflows/python.yml
  py/noxfile.py
  py/packages/genkit/pyproject.toml
  py/packages/genkit/src/genkit/core/typing.py
  py/plugins/anthropic/pyproject.toml
  py/plugins/compat-oai/pyproject.toml
  py/plugins/dev-local-vectorstore/pyproject.toml
  py/plugins/evaluators/pyproject.toml
  py/plugins/evaluators/src/genkit/plugins/evaluators/constant.py
  py/plugins/firebase/pyproject.toml
  py/plugins/flask/pyproject.toml
  py/plugins/google-cloud/pyproject.toml
  py/plugins/google-genai/pyproject.toml
  py/plugins/ollama/pyproject.toml
  py/plugins/vertex-ai/pyproject.toml
  py/samples/compat-oai-hello/pyproject.toml
  py/samples/dev-local-vectorstore-hello/pyproject.toml
  py/samples/firestore-retreiver/pyproject.toml
  py/samples/flask-hello/pyproject.toml
  py/samples/google-genai-code-execution/pyproject.toml
  py/samples/google-genai-context-caching/pyproject.toml
  py/samples/google-genai-hello/pyproject.toml
  py/samples/google-genai-image/pyproject.toml
  py/samples/google-genai-vertexai-hello/pyproject.toml
  py/samples/google-genai-vertexai-image/pyproject.toml
  py/samples/menu/pyproject.toml
  py/samples/model-garden/pyproject.toml
  py/samples/multi-server/pyproject.toml
  py/samples/ollama-hello/pyproject.toml
  py/samples/ollama-simple-embed/pyproject.toml
  py/samples/short-n-long/pyproject.toml
  py/samples/tool-interrupts/pyproject.toml
  py/samples/vertex-ai-vector-search-bigquery/pyproject.toml
  py/samples/vertex-ai-vector-search-firestore/pyproject.toml
  py/tests/smoke/pyproject.toml
  py/tox.ini
  py/uv.lock
Owners: @pavelgj, @yesudeep

fix(go): defer template rendering in LoadPrompt to execution time
  go/ai/prompt.go
  go/ai/prompt_test.go
Owners: @apascal07

bug: **Update imports in constant.py to use correct ModelReference location**
  py/plugins/evaluators/src/genkit/plugins/evaluators/constant.py
Owners: @pavelgj, @yesudeep

chore: fix linter
  py/plugins/evaluators/src/genkit/plugins/evaluators/constant.py
Owners: @pavelgj, @yesudeep

added tests using fake server
  js/plugins/compat-oai/src/model.ts
  js/plugins/compat-oai/tests/compat_oai_test.ts
  js/plugins/compat-oai/tests/fake_openai_server.ts
Owners: @pavelgj

util tests
  js/plugins/compat-oai/tests/utils_test.ts
Owners: @pavelgj

chore: upgrade to pnpm 10.26.0
  genkit-tools/package.json
  js/package.json
  package.json
Owners: @pavelgj

fix: update imports in constant.py to use correct ModelReference (#3949)
  py/plugins/evaluators/src/genkit/plugins/evaluators/constant.py
Owners: @pavelgj, @yesudeep

chore: fix linter
  py/plugins/evaluators/src/genkit/plugins/evaluators/plugin_api.py
  py/plugins/evaluators/src/genkit/plugins/metrics/__init__.py
  py/plugins/evaluators/src/genkit/plugins/metrics/helper.py
Owners: @pavelgj, @yesudeep

fix(js/plugins/anthropic): cast in test mock
  js/plugins/anthropic/tests/mocks/anthropic-client.ts
Owners: @pavelgj

chore: fix linter
  py/plugins/evaluators/src/genkit/plugins/evaluators/plugin_api.py
Owners: @pavelgj, @yesudeep

fix(js/plugins/anthropic): fix merge conflict in lockfile
  js/pnpm-lock.yaml
Owners: @pavelgj

Fix the evaluator plugins import errors (#3951)
  py/plugins/evaluators/src/genkit/plugins/evaluators/plugin_api.py
  py/plugins/evaluators/src/genkit/plugins/metrics/__init__.py
  py/plugins/evaluators/src/genkit/plugins/metrics/helper.py
Owners: @pavelgj, @yesudeep

chore: upgrade to pnpm 10.26.0 (#3950)
  genkit-tools/package.json
  js/package.json
  package.json
Owners: @pavelgj

feat(anthropic): add files api
  js/plugins/anthropic/src/runner/beta.ts
  js/pnpm-lock.yaml
  js/testapps/anthropic/package.json
  js/testapps/anthropic/src/attention-first-page.pdf
  js/testapps/anthropic/src/beta/files_api.ts
  js/testapps/anthropic/src/stable/pdf.ts
Owners: @pavelgj

chore(js/core): Tweak the DAP action Dev UI display (#3941)
  js/core/src/dynamic-action-provider.ts
  js/core/tests/dynamic-action-provider_test.ts
Owners: @pavelgj

refactor(js/testapps/anthropic): remove node-fetch and form-data dev deps
  js/pnpm-lock.yaml
  js/testapps/anthropic/package.json
  js/testapps/anthropic/src/beta/files_api.ts
Owners: @pavelgj

fix(js/plugins/anthropic): add model name map for older models (#3874)
  js/plugins/anthropic/package.json
  js/plugins/anthropic/src/models.ts
  js/plugins/anthropic/tests/beta_runner_test.ts
  js/plugins/anthropic/tests/live_test.ts
  js/plugins/anthropic/tests/stable_runner_test.ts
Owners: @pavelgj
