Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj

chore(js): added @genkit-ai/next to api ref
  js/plugins/next/typedoc.json
  js/typedoc.json
Owners: @pavelgj

Think I have things working...
  js/plugins/googleai/src/gemini.ts
  js/plugins/googleai/tests/gemini_test.ts
  js/plugins/vertexai/src/gemini.ts
  js/plugins/vertexai/tests/gemini_test.ts
Owners: @pavelgj

fix(ci): make hooks optional (but recommended) and add schema typing generation to ci
  .github/workflows/python.yml
  bin/setup
  py/engdoc/extending/servers.md
Owners: @pavelgj

fix
  js/plugins/googleai/src/gemini.ts
Owners: @pavelgj

fix(ci): make hooks optional (but recommended) and add schema typing generation to ci (#2249)
  .github/workflows/python.yml
  bin/setup
  py/engdoc/extending/servers.md
Owners: @pavelgj

breaking(go): Refactored prompts API into render/execute #1491 (#1980)
  go/ai/generate.go
  go/ai/generator_test.go
  go/ai/prompt/execute.go
  go/ai/prompt/execute_test.go
  go/ai/prompt/helpers.go
  go/ai/prompt/prompt.go
  go/ai/prompt/prompt_test.go
  go/ai/prompt/render.go
  go/ai/prompt/render_test.go
  go/genkit/genkit.go
  go/internal/doc-snippets/prompts.go
  go/plugins/dotprompt/dotprompt.go
  go/plugins/dotprompt/genkit.go
  go/samples/prompts/main.go
Owners: @apascal07

Fixed stream callback naming.
  go/ai/prompt/execute.go
  go/ai/prompt/render_test.go
Owners: @apascal07

fix(go): Fixed stream callback naming (#2251)
  go/ai/prompt/execute.go
  go/ai/prompt/render_test.go
Owners: @apascal07

chore(js): added @genkit-ai/next to api ref (#2247)
  js/plugins/next/typedoc.json
  js/typedoc.json
Owners: @pavelgj

fix(js): Update Gemini plugins to handle parallel tools calls. Fixes #2241 (#2250)
  js/plugins/googleai/src/gemini.ts
  js/plugins/googleai/tests/gemini_test.ts
  js/plugins/vertexai/src/gemini.ts
  js/plugins/vertexai/tests/gemini_test.ts
Owners: @pavelgj

add document
  CONTRIBUTING.md
  py/README.md
  py/packages/genkit/src/genkit/ai/embedding.py
  py/samples/rag/README.md
Owners: @pavelgj, @yesudeep

add document
  py/packages/genkit/src/genkit/ai/document.py
  py/packages/genkit/tests/genkit/ai/document_test.py
Owners: @pavelgj, @yesudeep

chore: bump @genkit-ai/tools-common version to @genkit-ai/tools-common@1.1.0
  genkit-tools/common/package.json
Owners: @pavelgj

chore: bump genkit-cli version to genkit-cli@1.1.0
  genkit-tools/cli/package.json
Owners: @pavelgj

chore: bump @genkit-ai/telemetry-server version to @genkit-ai/telemetry-server@1.1.0
  genkit-tools/telemetry-server/package.json
Owners: @pavelgj

chore: bump @genkit-ai/core version to @genkit-ai/core@1.1.0
  js/core/package.json
Owners: @pavelgj

chore: bump @genkit-ai/ai version to @genkit-ai/ai@1.1.0
  js/ai/package.json
Owners: @pavelgj

chore: bump genkit version to genkit@1.1.0
  js/genkit/package.json
Owners: @pavelgj

chore: bump genkitx-chromadb version to genkitx-chromadb@1.1.0
  js/plugins/chroma/package.json
Owners: @pavelgj

chore: bump @genkit-ai/dev-local-vectorstore version to @genkit-ai/dev-local-vectorstore@1.1.0
  js/plugins/dev-local-vectorstore/package.json
Owners: @pavelgj

chore: bump @genkit-ai/evaluator version to @genkit-ai/evaluator@1.1.0
  js/plugins/evaluators/package.json
Owners: @pavelgj

chore: bump @genkit-ai/firebase version to @genkit-ai/firebase@1.1.0
  js/plugins/firebase/package.json
Owners: @pavelgj

chore: bump @genkit-ai/google-cloud version to @genkit-ai/google-cloud@1.1.0
  js/plugins/google-cloud/package.json
Owners: @pavelgj

chore: bump @genkit-ai/googleai version to @genkit-ai/googleai@1.1.0
  js/plugins/googleai/package.json
Owners: @pavelgj

chore: bump genkitx-langchain version to genkitx-langchain@1.1.0
  js/plugins/langchain/package.json
Owners: @pavelgj

chore: bump @genkit-ai/next version to @genkit-ai/next@1.1.0
  js/plugins/next/package.json
Owners: @pavelgj

chore: bump genkitx-ollama version to genkitx-ollama@1.1.0
  js/plugins/ollama/package.json
Owners: @pavelgj

chore: bump genkitx-pinecone version to genkitx-pinecone@1.1.0
  js/plugins/pinecone/package.json
Owners: @pavelgj

chore: bump @genkit-ai/vertexai version to @genkit-ai/vertexai@1.1.0
  js/plugins/vertexai/package.json
Owners: @pavelgj

chore: bump @genkit-ai/checks version to @genkit-ai/checks@1.1.0
  js/plugins/checks/package.json
Owners: @pavelgj

chore: bump genkitx-mcp version to genkitx-mcp@1.1.0
  js/plugins/mcp/package.json
Owners: @pavelgj

chore: bump @genkit-ai/express version to @genkit-ai/express@1.1.0
  js/plugins/express/package.json
Owners: @pavelgj

feat(py): Implementation of embedders api in Ollama Plugin
  py/plugins/ollama/src/genkit/plugins/ollama/embedders.py
  py/plugins/ollama/src/genkit/plugins/ollama/mixins.py
  py/plugins/ollama/src/genkit/plugins/ollama/models.py
  py/plugins/ollama/src/genkit/plugins/ollama/plugin_api.py
  py/samples/ollama-hello/LICENSE
  py/samples/ollama-hello/README.md
  py/samples/ollama-hello/pyproject.toml
  py/samples/ollama-hello/src/hello.py
  py/samples/ollama-simple-embed/LICENSE
  py/samples/ollama-simple-embed/README.md
  py/samples/ollama-simple-embed/pyproject.toml
  py/samples/ollama-simple-embed/src/pokemon_glossary.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

feedback format
  py/packages/genkit/src/genkit/ai/document.py
  py/packages/genkit/tests/genkit/ai/document_test.py
Owners: @pavelgj, @yesudeep

feat(py): Implementation of embedders api in Ollama Plugin (#2222)
  py/plugins/ollama/src/genkit/plugins/ollama/embedders.py
  py/plugins/ollama/src/genkit/plugins/ollama/mixins.py
  py/plugins/ollama/src/genkit/plugins/ollama/models.py
  py/plugins/ollama/src/genkit/plugins/ollama/plugin_api.py
  py/samples/ollama-hello/LICENSE
  py/samples/ollama-hello/README.md
  py/samples/ollama-hello/pyproject.toml
  py/samples/ollama-hello/src/hello.py
  py/samples/ollama-simple-embed/LICENSE
  py/samples/ollama-simple-embed/README.md
  py/samples/ollama-simple-embed/pyproject.toml
  py/samples/ollama-simple-embed/src/pokemon_glossary.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

Created a singular option file.
  go/ai/option.go
Owners: @apascal07

fix(js): refactor document parts to export via jsonschema
  genkit-tools/common/src/types/document.ts
  genkit-tools/common/src/types/index.ts
  genkit-tools/common/src/types/model.ts
  genkit-tools/common/src/types/retrievers.ts
  genkit-tools/common/src/utils/eval.ts
  genkit-tools/genkit-schema.json
  genkit-tools/scripts/schema-exporter.ts
  js/ai/src/document.ts
  js/ai/src/model.ts
Owners: @pavelgj

Updated options with unexported fields.
  go/ai/option.go
Owners: @apascal07

Initial fold-in of expanded prompt files.
  go/ai/generate.go
  go/ai/generator_test.go
  go/ai/prompt.go
  go/ai/prompt/execute.go
  go/ai/prompt/execute_test.go
  go/ai/prompt/helpers.go
  go/ai/prompt/prompt.go
  go/ai/prompt/prompt_test.go
  go/ai/prompt/render.go
  go/ai/prompt/render_test.go
  go/ai/prompt_test.go
  go/genkit/genkit.go
  go/plugins/dotprompt/genkit.go
  go/plugins/googleai/googleai_test.go
Owners: @apascal07

Changed `prompt.Define` to `ai.DefinePrompt`.
  go/ai/prompt.go
  go/ai/prompt_test.go
  go/genkit/genkit.go
  go/plugins/dotprompt/dotprompt.go
  go/plugins/dotprompt/genkit.go
Owners: @apascal07
