Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj

updated review comments
  js/plugins/cloud-sql-pg/src/engine.ts
Owners: @pavelgj

feat(js/plugins/googleai): add gemini-2.5-pro-preview-05-06 model
  js/plugins/googleai/src/gemini.ts
  js/plugins/googleai/src/index.ts
Owners: @pavelgj

feat(js/plugins/vertexai): add gemini-2.5-pro-preview-05-06 model
  js/plugins/vertexai/src/gemini.ts
  js/plugins/vertexai/src/index.ts
Owners: @pavelgj

Updated methods to be same with new build
  go/plugins/compat_oai/anthropic/anthropic_live_test.go
  go/plugins/compat_oai/compat_oai.go
  go/plugins/compat_oai/openai/openai_live_test.go
Owners: @apascal07

Fixed merge conflicts
  go/go.mod
  go/go.sum
Owners: @apascal07

Edited openai tests, now passing
  go/plugins/compat_oai/openai/openai_live_test.go
Owners: @apascal07

Fixed withconfig in sample
  go/samples/compat_oai/openai/main.go
Owners: @apascal07

Added openai as a preface to the label
  go/plugins/compat_oai/openai/openai.go
Owners: @apascal07

feat(go/plugins): add generic OpenAI plugin (#2829)
  go/go.mod
  go/go.sum
  go/plugins/compat_oai/README.md
  go/plugins/compat_oai/anthropic/README.md
  go/plugins/compat_oai/anthropic/anthropic.go
  go/plugins/compat_oai/anthropic/anthropic_live_test.go
  go/plugins/compat_oai/compat_oai.go
  go/plugins/compat_oai/generate.go
  go/plugins/compat_oai/generate_live_test.go
  go/plugins/compat_oai/openai/README.md
  go/plugins/compat_oai/openai/openai.go
  go/plugins/compat_oai/openai/openai_live_test.go
  go/samples/compat_oai/anthropic/main.go
  go/samples/compat_oai/openai/main.go
Owners: @apascal07, @pavelgj

handling of telemetry labels from UI
  go/genkit/reflection.go
  go/genkit/reflection_test.go
Owners: @apascal07

Revert "feat(js): thinking mode options for Gemini models (#2851)"
  js/plugins/googleai/src/gemini.ts
  js/plugins/vertexai/src/gemini.ts
Owners: @pavelgj

addition of info and config schema for embedder
  go/ai/embedder.go
  go/ai/gen.go
  go/core/action.go
  go/genkit/genkit.go
  go/plugins/googlegenai/gemini.go
  go/plugins/googlegenai/googlegenai.go
  go/plugins/googlegenai/models.go
Owners: @apascal07

revert: "feat(js): thinking mode options for Gemini models (#2851)" (#2882)
  js/plugins/googleai/src/gemini.ts
  js/plugins/vertexai/src/gemini.ts
Owners: @pavelgj

WIP, rough working stuff
  js/plugins/mcp/README.md
  js/plugins/mcp/src/client/index.ts
  js/plugins/mcp/src/client/legacy.ts
  js/plugins/mcp/src/client/message.ts
  js/plugins/mcp/src/client/prompts.ts
  js/plugins/mcp/src/client/resources.ts
  js/plugins/mcp/src/client/tools.ts
  js/plugins/mcp/src/client/util.ts
  js/plugins/mcp/src/index.ts
  js/pnpm-lock.yaml
  js/testapps/evals/package.json
  js/testapps/evals/src/genkit.ts
  js/testapps/evals/src/pdf-rag.ts
Owners: @pavelgj

WIP, rough working stuff
  js/plugins/mcp/src/client/client.ts
  js/plugins/mcp/src/util/index.ts
  js/plugins/mcp/src/util/message.ts
  js/plugins/mcp/src/util/prompts.ts
  js/plugins/mcp/src/util/resources.ts
  js/plugins/mcp/src/util/tools.ts
Owners: @pavelgj

docs changes, small refactors
  js/plugins/mcp/src/client/client.ts
  js/plugins/mcp/src/client/index.ts
  js/plugins/mcp/src/client/legacy.ts
  js/plugins/mcp/src/index.ts
  js/plugins/mcp/src/server.ts
  js/plugins/mcp/src/util/index.ts
  js/plugins/mcp/src/util/message.ts
  js/plugins/mcp/src/util/prompts.ts
  js/plugins/mcp/src/util/tools.ts
Owners: @pavelgj

fix: js and py
  js/ai/src/model.ts
  js/plugins/googleai/src/gemini.ts
  js/plugins/vertexai/src/gemini.ts
  py/packages/genkit/src/genkit/blocks/model.py
Owners: @pavelgj, @yesudeep

remove log
  go/plugins/googlegenai/gemini.go
Owners: @apascal07

refactor reconnection logic
  js/plugins/mcp/src/client/client.ts
  js/plugins/mcp/src/client/index.ts
  js/testapps/evals/src/genkit.ts
  js/testapps/evals/src/pdf-rag.ts
Owners: @pavelgj

undo pack
  js/genkit/package.json
Owners: @pavelgj

feat({go,js,py}): Add missing `UsageMetadata` fields (#2860)
  genkit-tools/common/src/types/model.ts
  genkit-tools/genkit-schema.json
  go/ai/gen.go
  go/core/schemas.config
  go/plugins/googlegenai/gemini.go
  go/plugins/googlegenai/googleai_live_test.go
  js/ai/src/model.ts
  js/plugins/googleai/src/gemini.ts
  js/plugins/vertexai/src/gemini.ts
  py/packages/genkit/src/genkit/core/typing.py
Owners: @pavelgj, @apascal07, @yesudeep

feat(go): refactor base on comments
  go/plugins/postgresql/constants.go
  go/plugins/postgresql/engine.go
  go/plugins/postgresql/engine_test.go
  go/plugins/postgresql/genkit.go
  go/plugins/postgresql/indexer.go
  go/plugins/postgresql/options.go
  go/plugins/postgresql/retriever.go
Owners: @apascal07

refactor(go): changes based on comments
  go/plugins/postgresql/constants.go
  go/plugins/postgresql/engine.go
  go/plugins/postgresql/engine_test.go
  go/plugins/postgresql/genkit.go
  go/plugins/postgresql/indexer.go
  go/plugins/postgresql/options.go
  go/plugins/postgresql/retriever.go
Owners: @apascal07

moved concurrently into the params
  js/plugins/cloud-sql-pg/src/engine.ts
Owners: @pavelgj

updated review comments
  js/plugins/cloud-sql-pg/src/engine.ts
Owners: @pavelgj

updated review comments
  js/plugins/cloud-sql-pg/src/engine.ts
Owners: @pavelgj

add test cases and minor input validations
  go/plugins/googlegenai/gemini.go
  go/plugins/googlegenai/gemini_test.go
  go/plugins/googlegenai/googleai_live_test.go
Owners: @apascal07

feat: add Claude 3.7 Sonnet model reference to Anthropic schema
  js/plugins/vertexai/src/modelgarden/anthropic.ts
  js/plugins/vertexai/src/modelgarden/index.ts
Owners: @pavelgj

feat(js/plugins/vertexai): add support to anthropic prompt caching
  docs/plugins/vertex-ai.md
  js/plugins/vertexai/package.json
  js/plugins/vertexai/src/modelgarden/anthropic.ts
  js/plugins/vertexai/tests/modelgarden/anthropic_test.ts
  js/pnpm-lock.yaml
Owners: @pavelgj

add table definitions
  py/samples/vertex-ai-vector-search-bigquery/README.md
Owners: @pavelgj

add table definitions
  py/samples/vertex-ai-vector-search-firestore/README.md
Owners: @pavelgj

feat(py): vertex-ai vector search bigquery sample (#2873)
  py/samples/vertex-ai-vector-search-bigquery/LICENSE
  py/samples/vertex-ai-vector-search-bigquery/README.md
  py/samples/vertex-ai-vector-search-bigquery/pyproject.toml
  py/samples/vertex-ai-vector-search-bigquery/src/sample.py
  py/samples/vertex-ai-vector-search-bigquery/src/setup_env.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

feat(py): vertex-ai vector search firestore sample (#2876)
  py/samples/vertex-ai-vector-search-firestore/LICENSE
  py/samples/vertex-ai-vector-search-firestore/README.md
  py/samples/vertex-ai-vector-search-firestore/pyproject.toml
  py/samples/vertex-ai-vector-search-firestore/src/sample.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

feat(py): add vertex-ai vector search plugin (#2871)
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/__init__.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/models/retriever.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/vector_search/vector_search.py
  py/samples/vertex-ai-vector-search-bigquery/LICENSE
  py/samples/vertex-ai-vector-search-bigquery/README.md
  py/samples/vertex-ai-vector-search-bigquery/pyproject.toml
  py/samples/vertex-ai-vector-search-bigquery/src/sample.py
  py/samples/vertex-ai-vector-search-bigquery/src/setup_env.py
  py/samples/vertex-ai-vector-search-firestore/LICENSE
  py/samples/vertex-ai-vector-search-firestore/README.md
  py/samples/vertex-ai-vector-search-firestore/pyproject.toml
  py/samples/vertex-ai-vector-search-firestore/src/sample.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

more refining
  js/plugins/mcp/src/client/client.ts
  js/plugins/mcp/src/client/index.ts
  js/plugins/mcp/src/index.ts
  js/plugins/mcp/src/util/index.ts
  js/plugins/mcp/src/util/resources.ts
  js/pnpm-lock.yaml
  js/testapps/evals/src/genkit.ts
Owners: @pavelgj

README updates
  js/plugins/mcp/README.md
Owners: @pavelgj

fix: first test
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/models/retriever.py
  py/plugins/vertex-ai/tests/vector_search/test_vector_search.py
Owners: @pavelgj, @yesudeep

fix: better attribute request failure message
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/models/retriever.py
Owners: @pavelgj, @yesudeep

fix: linters and finish tests
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/models/retriever.py
  py/plugins/vertex-ai/tests/vector_search/test_vector_search.py
  py/samples/vertex-ai-vector-search-bigquery/src/sample.py
  py/samples/vertex-ai-vector-search-bigquery/src/setup_env.py
  py/samples/vertex-ai-vector-search-firestore/src/sample.py
Owners: @pavelgj, @yesudeep

refactor(go): rollback docstore and modified config
  go/plugins/postgresql/docstore.go
  go/plugins/postgresql/genkit.go
  go/plugins/postgresql/indexer.go
  go/plugins/postgresql/retriever.go
Owners: @apascal07
