Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj

update samples
  go/samples/compat_oai/openai/main.go
Owners: @apascal07

update openai live test
  go/plugins/compat_oai/openai/openai_live_test.go
Owners: @apascal07

chore: throw error with duplicate action key
  js/core/src/registry.ts
Owners: @pavelgj

fix(go): exclude reasoning part when return value from Text() function
  go/ai/generate.go
Owners: @apascal07

feat(js/plugins/compat-oai): Add DeepSeek plugin (#3154)
  js/plugins/compat-oai/package.json
  js/plugins/compat-oai/src/deepseek/deepseek.ts
  js/plugins/compat-oai/src/deepseek/index.ts
  js/plugins/compat-oai/src/model.ts
  js/plugins/compat-oai/src/openai/gpt.ts
  js/plugins/compat-oai/src/openai/index.ts
  js/testapps/compat-oai/src/index.ts
Owners: @pavelgj

chore: ignore local/test files
  .gitignore
Owners: @pavelgj

fix: add evaluator plugin to requirements
  py/samples/google-genai-hello/pyproject.toml
  py/uv.lock
Owners: @pavelgj, @yesudeep

fix(py): add evaluator plugin to requirements (#3166)
  py/samples/google-genai-hello/pyproject.toml
  py/uv.lock
Owners: @pavelgj, @yesudeep

fix(js/core): add port number to runtime file name
  js/core/src/reflection.ts
Owners: @pavelgj

fix(py/ai): add port number to runtime file name
  py/packages/genkit/src/genkit/ai/_server.py
Owners: @pavelgj, @yesudeep

fix(js/core): add port number to runtime file name (#3167)
  js/core/src/reflection.ts
Owners: @pavelgj

fix(cli): fixed analytics acknowledgement
  genkit-tools/common/src/utils/analytics.ts
Owners: @pavelgj

Update js/plugins/compat-oai/src/deepseek/deepseek.ts
  js/plugins/compat-oai/src/deepseek/deepseek.ts
Owners: @pavelgj

Update js/plugins/compat-oai/src/xai/grok.ts
  js/plugins/compat-oai/src/xai/grok.ts
Owners: @pavelgj

Update js/plugins/compat-oai/src/xai/grok.ts
  js/plugins/compat-oai/src/xai/grok.ts
Owners: @pavelgj

Update js/plugins/compat-oai/src/xai/grok.ts
  js/plugins/compat-oai/src/xai/grok.ts
Owners: @pavelgj

Update js/plugins/compat-oai/src/deepseek/deepseek.ts
  js/plugins/compat-oai/src/deepseek/deepseek.ts
Owners: @pavelgj

Update js/plugins/compat-oai/src/xai/grok.ts
  js/plugins/compat-oai/src/xai/grok.ts
Owners: @pavelgj

Update js/plugins/compat-oai/src/xai/grok.ts
  js/plugins/compat-oai/src/xai/grok.ts
Owners: @pavelgj

feat(go): add custom configs for all primitives (#2883)
  go/ai/embedder.go
  go/ai/retriever.go
  go/core/action.go
  go/genkit/genkit.go
  go/internal/base/json.go
  go/internal/doc-snippets/pinecone.go
  go/internal/doc-snippets/rag/main.go
  go/internal/fakeembedder/fakeembedder_test.go
  go/plugins/alloydb/genkit.go
  go/plugins/alloydb/genkit_test.go
  go/plugins/compat_oai/compat_oai.go
  go/plugins/compat_oai/openai/openai.go
  go/plugins/firebase/retriever.go
  go/plugins/googlegenai/gemini.go
  go/plugins/googlegenai/googlegenai.go
  go/plugins/googlegenai/models.go
  go/plugins/localvec/localvec.go
  go/plugins/localvec/localvec_test.go
  go/plugins/ollama/embed.go
  go/plugins/pinecone/genkit.go
  go/plugins/pinecone/genkit_test.go
  go/plugins/postgresql/genkit.go
  go/plugins/postgresql/genkit_test.go
  go/plugins/weaviate/weaviate.go
  go/plugins/weaviate/weaviate_test.go
  go/samples/menu/main.go
  go/samples/pgvector/main.go
  go/samples/rag/main.go
Owners: @apascal07

feature(js/plugins/google-genai): Added VertexAI index... (#3141)
  js/plugins/google-genai/src/common/utils.ts
  js/plugins/google-genai/src/index.ts
  js/plugins/google-genai/src/vertexai/embedder.ts
  js/plugins/google-genai/src/vertexai/gemini.ts
  js/plugins/google-genai/src/vertexai/index.ts
  js/plugins/google-genai/src/vertexai/utils.ts
  js/plugins/google-genai/tests/common/utils_test.ts
  js/plugins/google-genai/tests/vertexai/embedder_test.ts
  js/plugins/google-genai/tests/vertexai/index_test.ts
Owners: @pavelgj

feat(js/ai): added a way to define resources dynamically
  js/ai/src/generate.ts
  js/ai/src/index.ts
  js/ai/src/resource.ts
  js/ai/tests/resource/resource_test.ts
  js/genkit/src/common.ts
  js/genkit/tests/generate_test.ts
Owners: @pavelgj

fmt
  js/genkit/src/common.ts
Owners: @pavelgj

refactor(ai): Rename isDynamicResource to isDynamicResourceAction
  js/ai/src/generate.ts
  js/ai/src/index.ts
  js/ai/src/resource.ts
  js/ai/tests/resource/resource_test.ts
Owners: @pavelgj

feat(js/plugins/google-genai): Added GoogleAI index and fixed embedder and clients
  js/plugins/google-genai/src/googleai/client.ts
  js/plugins/google-genai/src/googleai/embedder.ts
  js/plugins/google-genai/src/googleai/index.ts
  js/plugins/google-genai/src/index.ts
  js/plugins/google-genai/src/vertexai/client.ts
  js/plugins/google-genai/tests/googleai/client_test.ts
  js/plugins/google-genai/tests/googleai/embedder_test.ts
  js/plugins/google-genai/tests/googleai/index_test.ts
  js/plugins/google-genai/tests/vertexai/client_test.ts
Owners: @pavelgj

feat(cli/telemetry-server): index trace labels starting with `genkitx:`
  genkit-tools/telemetry-server/src/localFileTraceStore.ts
Owners: @pavelgj

fix(js/core): correctly passthrough telemetry labels when streaming
  js/core/src/action.ts
  js/core/src/reflection.ts
  js/core/tests/flow_test.ts
Owners: @pavelgj

fix(genkit-tools): add endpoint for all active runtimes
  genkit-tools/common/src/manager/manager.ts
  genkit-tools/common/src/server/router.ts
Owners: @pavelgj

fix(js/core): correctly passthrough telemetry labels when streaming (#3173)
  js/core/src/action.ts
  js/core/src/reflection.ts
  js/core/tests/flow_test.ts
Owners: @pavelgj

feat(js/ai): added a way to define resources dynamically (#3171)
  js/ai/src/generate.ts
  js/ai/src/index.ts
  js/ai/src/resource.ts
  js/ai/tests/resource/resource_test.ts
  js/genkit/src/common.ts
  js/genkit/tests/generate_test.ts
Owners: @pavelgj

feat(cli/telemetry-server): index trace labels starting with `genkitx:` (#3174)
  genkit-tools/telemetry-server/src/localFileTraceStore.ts
Owners: @pavelgj

feat(js/plugins/google-genai): Added GoogleAI index (#3172)
  js/plugins/google-genai/src/googleai/client.ts
  js/plugins/google-genai/src/googleai/embedder.ts
  js/plugins/google-genai/src/googleai/index.ts
  js/plugins/google-genai/src/index.ts
  js/plugins/google-genai/src/vertexai/client.ts
  js/plugins/google-genai/tests/googleai/client_test.ts
  js/plugins/google-genai/tests/googleai/embedder_test.ts
  js/plugins/google-genai/tests/googleai/index_test.ts
  js/plugins/google-genai/tests/vertexai/client_test.ts
Owners: @pavelgj

fix(js): Export Operation type for use in dev UI
  js/core/src/background-action.ts
Owners: @pavelgj

feat(js/plugins/google-genai): Added Imagen plus refactoring
  js/plugins/google-genai/src/common/types.ts
  js/plugins/google-genai/src/common/utils.ts
  js/plugins/google-genai/src/googleai/client.ts
  js/plugins/google-genai/src/googleai/embedder.ts
  js/plugins/google-genai/src/googleai/gemini.ts
  js/plugins/google-genai/src/googleai/imagen.ts
  js/plugins/google-genai/src/googleai/index.ts
  js/plugins/google-genai/src/googleai/types.ts
  js/plugins/google-genai/src/googleai/utils.ts
  js/plugins/google-genai/src/index.ts
  js/plugins/google-genai/src/vertexai/types.ts
  js/plugins/google-genai/src/vertexai/utils.ts
  js/plugins/google-genai/tests/googleai/client_test.ts
  js/plugins/google-genai/tests/googleai/embedder_test.ts
  js/plugins/google-genai/tests/googleai/gemini_test.ts
  js/plugins/google-genai/tests/googleai/imagen_test.ts
  js/plugins/google-genai/tests/googleai/index_test.ts
  js/plugins/google-genai/tests/googleai/utils_test.ts
Owners: @pavelgj

samples: added gemini reasoning example
  samples/js-gemini/src/index.ts
Owners: @pavelgj

samples: added gemini reasoning example (#3179)
  samples/js-gemini/src/index.ts
Owners: @pavelgj

lock
  js/pnpm-lock.yaml
Owners: @pavelgj

fix(js): Export Operation type for use in dev UI (#3177)
  js/core/src/background-action.ts
Owners: @pavelgj

fix(cli): fixed analytics acknowledgement (#3170)
  genkit-tools/common/src/utils/analytics.ts
Owners: @pavelgj

feedback
  js/plugins/compat-oai/src/xai/grok.ts
Owners: @pavelgj
