Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

Update simple_joke.go
  go/samples/telemetry-test/simple/simple_joke.go
Owners: @apascal07

Update README.md
  go/samples/telemetry-test/README.md
Owners: @pavelgj

fix: gemini thinking config (#3380)
  js/plugins/googleai/src/gemini.ts
  js/plugins/vertexai/src/gemini.ts
Owners: @pavelgj

chore: CLI version bump
  genkit-tools/cli/package.json
  genkit-tools/common/package.json
  genkit-tools/telemetry-server/package.json
Owners: @pavelgj

chore: JS version bump
  js/ai/package.json
  js/core/package.json
  js/genkit/package.json
  js/plugins/checks/package.json
  js/plugins/chroma/package.json
  js/plugins/cloud-sql-pg/package.json
  js/plugins/compat-oai/package.json
  js/plugins/dev-local-vectorstore/package.json
  js/plugins/evaluators/package.json
  js/plugins/express/package.json
  js/plugins/firebase/package.json
  js/plugins/google-cloud/package.json
  js/plugins/googleai/package.json
  js/plugins/langchain/package.json
  js/plugins/mcp/package.json
  js/plugins/next/package.json
  js/plugins/ollama/package.json
  js/plugins/pinecone/package.json
  js/plugins/vertexai/package.json
Owners: @pavelgj

samples: added openai sample (#3207)
  samples/js-openai/.idx/dev.nix
  samples/js-openai/README.md
  samples/js-openai/package.json
  samples/js-openai/photo.jpg
  samples/js-openai/src/index.ts
  samples/js-openai/tsconfig.json
Owners: @pavelgj

chore: bump openai sample package versions
  samples/js-openai/package.json
Owners: @pavelgj

Remove extra logging, use remove firebase telemetry env variable
  go/plugins/firebase/telemetry.go
  go/plugins/googlecloud/feature.go
  go/plugins/googlecloud/feature_test.go
  go/plugins/googlecloud/generate.go
  go/plugins/googlecloud/generate_test.go
  go/plugins/googlecloud/googlecloud.go
  go/plugins/googlecloud/types.go
  go/samples/telemetry-test/README.md
  go/samples/telemetry-test/kitchen_sink/kitchen_sink.go
  go/samples/telemetry-test/simple/simple_joke.go
Owners: @apascal07, @pavelgj

GPT-5 Support
  go/plugins/compat_oai/openai/openai.go
Owners: @apascal07

feat(cli): add update command
  genkit-tools/cli/src/cli.ts
  genkit-tools/cli/src/commands/update.ts
  genkit-tools/cli/src/utils/utils.ts
Owners: @pavelgj

feat(cli/update): force flag
  genkit-tools/cli/src/commands/update.ts
Owners: @pavelgj

feat(cli/update): check flag
  genkit-tools/cli/src/commands/update.ts
Owners: @pavelgj

feat(cli/update): list flag
  genkit-tools/cli/src/commands/update.ts
Owners: @pavelgj

chore(cli): minor install script cleanup
  bin/install_cli
Owners: @pavelgj

chore(cli): removed extra line break from cli install script
  bin/install_cli
Owners: @pavelgj

refactor to simplify setup
  go/core/core.go
  go/core/tracing/telemetry_server_exporter.go
  go/core/tracing/telemetry_server_exporter_test.go
  go/core/tracing/tracing.go
  go/genkit/genkit.go
  go/internal/doc-snippets/telemetryplugin/telemetryplugin.go
  go/internal/registry/registry.go
  go/plugins/firebase/telemetry.go
  go/plugins/firebase/telemetry_test.go
  go/plugins/googlecloud/auth.go
  go/plugins/googlecloud/defaults.go
  go/plugins/googlecloud/defaults_test.go
  go/plugins/googlecloud/googlecloud.go
  go/plugins/googlecloud/types.go
  go/samples/telemetry-test/kitchen_sink/kitchen_sink.go
  go/samples/telemetry-test/simple/simple_joke.go
Owners: @apascal07

Fix tests
  go/internal/doc-snippets/gcp.go
  go/internal/doc-snippets/telemetryplugin/telemetryplugin.go
Owners: @apascal07

update files
  genkit-tools/cli/context/GENKIT.md
  genkit-tools/cli/package.json
  genkit-tools/cli/src/cli.ts
  genkit-tools/cli/src/commands/init-ai-tools/ai-tools/claude.ts
  genkit-tools/cli/src/commands/init-ai-tools/ai-tools/gemini.ts
  genkit-tools/cli/src/commands/init-ai-tools/ai-tools/generic.ts
  genkit-tools/cli/src/commands/init-ai-tools/command.ts
  genkit-tools/cli/src/commands/init-ai-tools/constants.ts
  genkit-tools/cli/src/commands/init-ai-tools/index.ts
  genkit-tools/cli/src/commands/init-ai-tools/types.ts
  genkit-tools/cli/src/commands/init-ai-tools/utils.ts
  genkit-tools/common/package.json
  genkit-tools/common/src/utils/eval.ts
  genkit-tools/pnpm-lock.yaml
  js/pnpm-lock.yaml
  js/testapps/evals/.gemini/extensions/genkit/GENKIT.md
  js/testapps/evals/.gemini/extensions/genkit/gemini-extension.json
Owners: @pavelgj

update prompt
  genkit-tools/cli/context/GENKIT.md
  genkit-tools/cli/src/commands/init-ai-tools/ai-tools/gemini.ts
Owners: @pavelgj

fix: Fixes #3348 AbortSignal value of this issue
  js/ai/src/prompt.ts
  js/ai/tests/prompt/prompt_test.ts
Owners: @pavelgj

fix(js/plugins/google-genai) Fix vertex aggregation, supported tuned models
  js/plugins/google-genai/README.md
  js/plugins/google-genai/src/common/utils.ts
  js/plugins/google-genai/src/googleai/veo.ts
  js/plugins/google-genai/src/vertexai/client.ts
  js/plugins/google-genai/src/vertexai/utils.ts
  js/plugins/google-genai/tests/vertexai/client_test.ts
  js/plugins/google-genai/tests/vertexai/index_test.ts
Owners: @pavelgj

formatting
  js/plugins/google-genai/src/vertexai/utils.ts
  js/plugins/google-genai/tests/vertexai/client_test.ts
  js/plugins/google-genai/tests/vertexai/index_test.ts
Owners: @pavelgj

fix(js/plugins/google-genai) Fix aggregation, supported tuned models (#3391)
  js/plugins/google-genai/README.md
  js/plugins/google-genai/src/common/utils.ts
  js/plugins/google-genai/src/googleai/veo.ts
  js/plugins/google-genai/src/vertexai/client.ts
  js/plugins/google-genai/src/vertexai/utils.ts
  js/plugins/google-genai/tests/vertexai/client_test.ts
  js/plugins/google-genai/tests/vertexai/index_test.ts
Owners: @pavelgj

fix: instantiate OpenAI client in all relevant async functions
  js/plugins/compat-oai/src/index.ts
Owners: @pavelgj

update comment and explain why abortSignal
  js/ai/src/prompt.ts
Owners: @pavelgj

fix code formatting
  js/ai/src/prompt.ts
  js/ai/tests/prompt/prompt_test.ts
Owners: @pavelgj

fix(js/plugins/compat-oai): update model extraction logic to use slice instead of pop for better path handling
  js/plugins/compat-oai/src/audio.ts
  js/plugins/compat-oai/src/embedder.ts
  js/plugins/compat-oai/src/image.ts
  js/plugins/compat-oai/src/model.ts
Owners: @pavelgj

fix(js/prompt): Fix for AbortSignal value of "this" issue (#3394)
  js/ai/src/prompt.ts
  js/ai/tests/prompt/prompt_test.ts
Owners: @pavelgj

fix(cli/update): don't show RC versions in list
  genkit-tools/cli/src/commands/update.ts
Owners: @pavelgj

feat(cli/update): add node support, not just binary
  genkit-tools/cli/src/cli.ts
  genkit-tools/cli/src/commands/update.ts
Owners: @pavelgj

feat(cli/update): installing a specific version
  genkit-tools/cli/src/commands/update.ts
Owners: @pavelgj

feat: add notifications, fixed npm update, and improved code
  genkit-tools/cli/package.json
  genkit-tools/cli/src/cli.ts
  genkit-tools/cli/src/commands/update.ts
  genkit-tools/cli/src/utils/config.ts
  genkit-tools/cli/src/utils/utils.ts
Owners: @pavelgj

chore: improve the code and receieve list of version from different places
  genkit-tools/cli/src/commands/update.ts
Owners: @pavelgj

fix(cli): better runtime handling for ui:start (#3340)
  genkit-tools/cli/src/commands/ui-start.ts
  genkit-tools/cli/src/utils/runtime-detector.ts
  genkit-tools/cli/src/utils/spawn-config.ts
  genkit-tools/cli/tests/commands/ui-start_test.ts
  genkit-tools/cli/tests/utils/runtime-detector_test.ts
  genkit-tools/cli/tests/utils/spawn-config_test.ts
Owners: @pavelgj

chore(cli/update): code adjustments
  genkit-tools/cli/src/commands/update.ts
  genkit-tools/cli/src/utils/utils.ts
Owners: @pavelgj

chore(cli): format
  genkit-tools/cli/src/commands/update.ts
  genkit-tools/cli/src/utils/config.ts
  genkit-tools/cli/src/utils/utils.ts
Owners: @pavelgj

fix(cli/update): version problem
  genkit-tools/cli/src/commands/update.ts
Owners: @pavelgj

fix(cli/update): issue that potentially could block event loop
  genkit-tools/cli/src/commands/update.ts
  genkit-tools/cli/src/utils/utils.ts
Owners: @pavelgj

chore(cli/update): code improvements
  genkit-tools/cli/src/commands/update.ts
Owners: @pavelgj

fix: instantiate OpenAI client in all relevant async functions (#3393)
  js/plugins/compat-oai/src/index.ts
Owners: @pavelgj

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj
