Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

Update main.go
  go/samples/durable-streaming-firestore/main.go
Owners: @apascal07

Durable streaming to continue even if client disconnects.
  go/genkit/servers.go
Owners: @apascal07

feat(py): add define_resource for mcp plugin (#4048)
  py/packages/genkit/src/genkit/ai/_registry.py
  py/packages/genkit/src/genkit/blocks/resource.py
  py/packages/genkit/src/genkit/core/action/types.py
  py/packages/genkit/src/genkit/core/registry.py
  py/packages/genkit/tests/genkit/ai/test_resource.py
  py/packages/genkit/tests/genkit/veneer/resource_test.py
Owners: @pavelgj, @yesudeep

feat(go/plugins/googlegenai): add multi-part tools support (#3975)
  go/go.mod
  go/go.sum
  go/plugins/googlegenai/gemini.go
  go/plugins/googlegenai/gemini_test.go
  go/plugins/googlegenai/googleai_live_test.go
  go/samples/multipart-tools/main.go
Owners: @apascal07

Minor improvements.
  go/plugins/firebase/x/stream_manager.go
  go/plugins/firebase/x/stream_manager_test.go
Owners: @apascal07

fix(py):edit define_prompt to support name and add callable support for parity with JS
  py/packages/genkit/src/genkit/ai/_registry.py
  py/packages/genkit/src/genkit/blocks/prompt.py
  py/packages/genkit/tests/genkit/blocks/prompt_test.py
Owners: @pavelgj, @yesudeep

fix(py): update with gemini's comments
  py/packages/genkit/src/genkit/ai/_registry.py
  py/packages/genkit/src/genkit/blocks/prompt.py
Owners: @pavelgj, @yesudeep

review changes
  js/core/src/dynamic-action-provider.ts
  js/core/tests/dynamic-action-provider_test.ts
Owners: @pavelgj

fix(py):edit define_prompt to support name and add callable support f… (#4053)
  py/packages/genkit/src/genkit/ai/_registry.py
  py/packages/genkit/src/genkit/blocks/prompt.py
  py/packages/genkit/tests/genkit/blocks/prompt_test.py
Owners: @pavelgj, @yesudeep

Update stream_manager.go
  go/plugins/firebase/x/stream_manager.go
Owners: @apascal07

feat(py): add mcp plugin and tests
  py/packages/genkit/src/genkit/ai/_registry.py
  py/packages/genkit/src/genkit/blocks/resource.py
  py/packages/genkit/tests/genkit/veneer/resource_test.py
  py/packages/genkit/tests/genkit/veneer/veneer_test.py
  py/plugins/mcp/README.md
  py/plugins/mcp/examples/client/simple_client.py
  py/plugins/mcp/examples/server/prompts/port_code.prompt
  py/plugins/mcp/examples/server/simple_server.py
  py/plugins/mcp/pyproject.toml
  py/plugins/mcp/src/genkit/plugins/mcp/__init__.py
  py/plugins/mcp/src/genkit/plugins/mcp/client/__init__.py
  py/plugins/mcp/src/genkit/plugins/mcp/client/client.py
  py/plugins/mcp/src/genkit/plugins/mcp/client/host.py
  py/plugins/mcp/src/genkit/plugins/mcp/index.py
  py/plugins/mcp/src/genkit/plugins/mcp/server.py
  py/plugins/mcp/src/genkit/plugins/mcp/util/__init__.py
  py/plugins/mcp/src/genkit/plugins/mcp/util/message.py
  py/plugins/mcp/src/genkit/plugins/mcp/util/prompts.py
  py/plugins/mcp/src/genkit/plugins/mcp/util/resource.py
  py/plugins/mcp/src/genkit/plugins/mcp/util/tools.py
  py/plugins/mcp/src/genkit/plugins/mcp/util/transport.py
  py/plugins/mcp/tests/fakes.py
  py/plugins/mcp/tests/test_mcp_conversion.py
  py/plugins/mcp/tests/test_mcp_host.py
  py/plugins/mcp/tests/test_mcp_integration.py
  py/plugins/mcp/tests/test_mcp_server.py
  py/plugins/mcp/tests/test_mcp_server_resources.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

Update gemini.go
  go/plugins/googlegenai/gemini.go
Owners: @apascal07

feat(go/plugins/firebase): added Firestore stream manager (#4047)
  go/core/x/streaming/streaming.go
  go/core/x/streaming/streaming_test.go
  go/genkit/servers.go
  go/plugins/firebase/auth.go
  go/plugins/firebase/firebase.go
  go/plugins/firebase/retriever.go
  go/plugins/firebase/x/stream_manager.go
  go/plugins/firebase/x/stream_manager_test.go
  go/samples/durable-streaming-firestore/README.md
  go/samples/durable-streaming-firestore/main.go
Owners: @apascal07, @pavelgj

fix(go/plugins/googlegenai): include `thoughtSignature` in part metadata (#4006)
  go/plugins/googlegenai/gemini.go
Owners: @apascal07

fix(js/plugins/anthropic): remove duplicate test:live script
  js/plugins/anthropic/package.json
Owners: @pavelgj

Added tests.
  go/ai/option_test.go
  go/ai/prompt_test.go
  go/internal/base/json_test.go
Owners: @apascal07

Added tests.
  go/ai/option_test.go
  go/ai/prompt_test.go
  go/internal/base/json_test.go
Owners: @apascal07

docs(js/plugins/anthropic): fix CONTRIBUTING.md link path
  js/plugins/anthropic/README.md
Owners: @pavelgj

feat(py): fixed with gemini's comments
  py/packages/genkit/src/genkit/ai/_registry.py
  py/packages/genkit/src/genkit/blocks/prompt.py
  py/packages/genkit/src/genkit/blocks/resource.py
  py/plugins/mcp/src/genkit/plugins/mcp/__init__.py
  py/plugins/mcp/src/genkit/plugins/mcp/client/__init__.py
  py/plugins/mcp/src/genkit/plugins/mcp/client/client.py
  py/plugins/mcp/src/genkit/plugins/mcp/client/host.py
  py/plugins/mcp/src/genkit/plugins/mcp/index.py
  py/plugins/mcp/src/genkit/plugins/mcp/server.py
  py/plugins/mcp/src/genkit/plugins/mcp/util/resource.py
  py/plugins/mcp/src/genkit/plugins/mcp/util/tools.py
  py/plugins/mcp/tests/fakes.py
  py/plugins/mcp/tests/test_mcp_conversion.py
  py/plugins/mcp/tests/test_mcp_host.py
  py/plugins/mcp/tests/test_mcp_integration.py
  py/plugins/mcp/tests/test_mcp_server.py
  py/plugins/mcp/tests/test_mcp_server_resources.py
  py/pyproject.toml
  py/uv.lock
Owners: @pavelgj, @yesudeep

feat(py): fixed with gemini's comments
  py/packages/genkit/src/genkit/blocks/resource.py
  py/plugins/mcp/examples/server/simple_server.py
  py/plugins/mcp/src/genkit/plugins/mcp/util/__init__.py
  py/plugins/mcp/src/genkit/plugins/mcp/util/message.py
  py/plugins/mcp/src/genkit/plugins/mcp/util/prompts.py
  py/plugins/mcp/src/genkit/plugins/mcp/util/resource.py
  py/plugins/mcp/src/genkit/plugins/mcp/util/tools.py
  py/plugins/mcp/src/genkit/plugins/mcp/util/transport.py
Owners: @pavelgj, @yesudeep

feat(py): fixed with gemini's comments
  py/packages/genkit/src/genkit/blocks/resource.py
Owners: @pavelgj, @yesudeep

feat(py): formatted import block
  py/packages/genkit/src/genkit/blocks/resource.py
Owners: @pavelgj, @yesudeep

feat(py): add mcp sample test
  py/samples/mcp/README.md
  py/samples/mcp/pyproject.toml
  py/samples/mcp/run.sh
  py/samples/mcp/src/http_server.py
  py/samples/mcp/src/main.py
  py/samples/mcp/src/server.py
  py/samples/mcp/test-workspace/hello-world.txt
Owners: @pavelgj, @yesudeep

fix(go/ai): properly render dotprompt multi-messages prompts
  go/ai/prompt.go
  go/ai/prompt_test.go
  go/samples/prompts/main.go
  go/samples/prompts/prompts/multi-msg.prompt
Owners: @apascal07, @pavelgj

docs: created a model spec doc to be used as refernce by plugin devs
  docs/model-spec.md
Owners: @pavelgj

Update docs/model-spec.md
  docs/model-spec.md
Owners: @pavelgj

Update docs/model-spec.md
  docs/model-spec.md
Owners: @pavelgj

docs: clarify required fields in model spec documentation
  docs/model-spec.md
Owners: @pavelgj

feat(anthropic): add `input_json_delta`
  js/plugins/anthropic/src/runner/beta.ts
  js/plugins/anthropic/src/runner/converters/shared.ts
  js/plugins/anthropic/src/runner/stable.ts
  js/plugins/anthropic/tests/stable_runner_test.ts
  js/testapps/anthropic/src/stable/tools.ts
Owners: @pavelgj

feat(py): fixed with gemini comments
  py/samples/mcp/README.md
  py/samples/mcp/src/main.py
Owners: @pavelgj, @yesudeep

fix: Edits according to hugoaguirre's comments
  go/plugins/ollama/model.go
  go/plugins/ollama/model_test.go
  go/plugins/ollama/ollama.go
Owners: @apascal07

ollama plugin: add options
  go/plugins/ollama/ollama.go
Owners: @apascal07

fix: gemini-code-assist
  go/plugins/ollama/ollama.go
Owners: @apascal07

fix: Edits according to hugoaguirre's comments
  go/plugins/ollama/model.go
  go/plugins/ollama/model_test.go
Owners: @apascal07

fix: gemini-code-assist
  go/plugins/ollama/ollama.go
Owners: @apascal07

fix: ai.GenerationCommonConfig
  go/plugins/ollama/ollama.go
Owners: @apascal07

update test
  go/plugins/ollama/model_test.go
  go/samples/mcp-git-pr-explainer/go.mod
  go/samples/mcp-git-pr-explainer/go.sum
  go/samples/telemetry-test/kitchen_sink/go.mod
  go/samples/telemetry-test/kitchen_sink/go.sum
  go/samples/telemetry-test/simple/go.mod
  go/samples/telemetry-test/simple/go.sum
Owners: @apascal07, @pavelgj

test(js/plugins/anthropic): add tests for citations and finish stable branch
  js/plugins/anthropic/src/runner/stable.ts
  js/plugins/anthropic/tests/live_test.ts
  js/plugins/anthropic/tests/stable_runner_test.ts
Owners: @pavelgj

feat(py): add mcp plugin and tests (#4054)
  py/packages/genkit/src/genkit/ai/_registry.py
  py/packages/genkit/src/genkit/blocks/prompt.py
  py/packages/genkit/src/genkit/blocks/resource.py
  py/packages/genkit/tests/genkit/veneer/resource_test.py
  py/packages/genkit/tests/genkit/veneer/veneer_test.py
  py/plugins/mcp/README.md
  py/plugins/mcp/examples/client/simple_client.py
  py/plugins/mcp/examples/server/prompts/port_code.prompt
  py/plugins/mcp/examples/server/simple_server.py
  py/plugins/mcp/pyproject.toml
  py/plugins/mcp/src/genkit/plugins/mcp/__init__.py
  py/plugins/mcp/src/genkit/plugins/mcp/client/__init__.py
  py/plugins/mcp/src/genkit/plugins/mcp/client/client.py
  py/plugins/mcp/src/genkit/plugins/mcp/client/host.py
  py/plugins/mcp/src/genkit/plugins/mcp/index.py
  py/plugins/mcp/src/genkit/plugins/mcp/server.py
  py/plugins/mcp/src/genkit/plugins/mcp/util/__init__.py
  py/plugins/mcp/src/genkit/plugins/mcp/util/message.py
  py/plugins/mcp/src/genkit/plugins/mcp/util/prompts.py
  py/plugins/mcp/src/genkit/plugins/mcp/util/resource.py
  py/plugins/mcp/src/genkit/plugins/mcp/util/tools.py
  py/plugins/mcp/src/genkit/plugins/mcp/util/transport.py
  py/plugins/mcp/tests/fakes.py
  py/plugins/mcp/tests/test_mcp_conversion.py
  py/plugins/mcp/tests/test_mcp_host.py
  py/plugins/mcp/tests/test_mcp_integration.py
  py/plugins/mcp/tests/test_mcp_server.py
  py/plugins/mcp/tests/test_mcp_server_resources.py
  py/pyproject.toml
  py/uv.lock
Owners: @pavelgj, @yesudeep

init openai plugin
  go/go.mod
  go/go.sum
  go/plugins/internal/models.go
  go/plugins/openai/openai.go
Owners: @apascal07

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj
