Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj

feat(py): add DAP, test_models, generate_operation, and tests (#4377)
  py/packages/genkit/src/genkit/ai/_aio.py
  py/packages/genkit/src/genkit/ai/_registry.py
  py/packages/genkit/src/genkit/blocks/dap.py
  py/packages/genkit/src/genkit/blocks/model.py
  py/packages/genkit/src/genkit/testing.py
  py/packages/genkit/tests/genkit/ai/ai_registry_test.py
  py/packages/genkit/tests/genkit/ai/generate_operation_test.py
  py/packages/genkit/tests/genkit/blocks/dap_test.py
  py/packages/genkit/tests/genkit/testing_test.py
Owners: @pavelgj, @yesudeep

feat(skills): Add prelim skills folder and CLI skill (#4378)
  skills/developing-genkit-tooling/SKILL.md
Owners: @pavelgj

Fix error on tool requests during stream.
  go/ai/generate.go
  go/ai/generate_test.go
Owners: @apascal07

Add `NewFlow` and `NewStreamingFlow`.
  go/core/flow.go
  go/genkit/genkit.go
Owners: @apascal07

fix(go): fix error on tool requests during stream (#4379)
  go/ai/generate.go
  go/ai/generate_test.go
Owners: @apascal07

docs(py): add test file naming convention to GEMINI.md
  py/GEMINI.md
Owners: @pavelgj, @yesudeep

Apply suggestion from @gemini-code-assist[bot]
  py/GEMINI.md
Owners: @pavelgj, @yesudeep

docs(py): add test file naming convention to GEMINI.md (#4381)
  py/GEMINI.md
Owners: @pavelgj, @yesudeep

feat: temporarily highlighting .prompt as YAML files until https://github.com/google/dotprompt/issues/507 is fixed
  .gitattributes
Owners: @pavelgj

feat: temporarily highlighting .prompt as YAML files until https://github.com/google/dotprompt/issues/507 is fixed (#4382)
  .gitattributes
Owners: @pavelgj

chore: Add CODEOWNERS entry for py genkit package
  .github/CODEOWNERS
Owners: @pavelgj

feat(py/plugins): add Microsoft Foundry plugin for Azure OpenAI
  py/plugins/msfoundry/README.md
  py/plugins/msfoundry/pyproject.toml
  py/plugins/msfoundry/src/genkit/plugins/msfoundry/__init__.py
  py/plugins/msfoundry/src/genkit/plugins/msfoundry/models/__init__.py
  py/plugins/msfoundry/src/genkit/plugins/msfoundry/models/model.py
  py/plugins/msfoundry/src/genkit/plugins/msfoundry/models/model_info.py
  py/plugins/msfoundry/src/genkit/plugins/msfoundry/plugin.py
  py/plugins/msfoundry/src/genkit/plugins/msfoundry/typing.py
  py/plugins/msfoundry/src/genkit/py.typed
  py/plugins/msfoundry/tests/msfoundry_plugin_test.py
  py/pyproject.toml
  py/samples/msfoundry-hello/README.md
  py/samples/msfoundry-hello/pyproject.toml
  py/samples/msfoundry-hello/run.sh
  py/samples/msfoundry-hello/src/main.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

fix(py/samples): replace Wikipedia image URL with placeholder
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/typing.py
  py/plugins/msfoundry/README.md
  py/plugins/msfoundry/pyproject.toml
  py/plugins/msfoundry/src/genkit/plugins/msfoundry/__init__.py
  py/plugins/msfoundry/src/genkit/plugins/msfoundry/models/model.py
  py/plugins/msfoundry/src/genkit/plugins/msfoundry/models/model_info.py
  py/plugins/msfoundry/src/genkit/plugins/msfoundry/plugin.py
  py/plugins/msfoundry/src/genkit/plugins/msfoundry/typing.py
  py/plugins/msfoundry/tests/msfoundry_plugin_test.py
  py/pyproject.toml
  py/samples/anthropic-hello/src/main.py
  py/samples/msfoundry-hello/README.md
  py/samples/msfoundry-hello/pyproject.toml
  py/samples/msfoundry-hello/src/main.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

feat(py/plugins): add msfoundry plugin for Azure OpenAI (#4383)
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/typing.py
  py/plugins/msfoundry/README.md
  py/plugins/msfoundry/pyproject.toml
  py/plugins/msfoundry/src/genkit/plugins/msfoundry/__init__.py
  py/plugins/msfoundry/src/genkit/plugins/msfoundry/models/__init__.py
  py/plugins/msfoundry/src/genkit/plugins/msfoundry/models/model.py
  py/plugins/msfoundry/src/genkit/plugins/msfoundry/models/model_info.py
  py/plugins/msfoundry/src/genkit/plugins/msfoundry/plugin.py
  py/plugins/msfoundry/src/genkit/plugins/msfoundry/typing.py
  py/plugins/msfoundry/src/genkit/py.typed
  py/plugins/msfoundry/tests/msfoundry_plugin_test.py
  py/pyproject.toml
  py/samples/anthropic-hello/src/main.py
  py/samples/msfoundry-hello/README.md
  py/samples/msfoundry-hello/pyproject.toml
  py/samples/msfoundry-hello/run.sh
  py/samples/msfoundry-hello/src/main.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

feat(py/checks): implement evaluator resolution for guardrails
  py/plugins/checks/src/genkit/plugins/checks/plugin.py
  py/plugins/checks/tests/checks_plugin_test.py
Owners: @pavelgj, @yesudeep

feat(py): standardize Pydantic models to use alias_generator=to_camel
  py/GEMINI.md
  py/plugins/checks/src/genkit/plugins/checks/guardrails.py
  py/plugins/checks/src/genkit/plugins/checks/plugin.py
  py/plugins/checks/tests/checks_evaluator_test.py
  py/plugins/checks/tests/checks_guardrails_test.py
  py/plugins/checks/tests/checks_metrics_test.py
  py/plugins/checks/tests/checks_middleware_test.py
  py/plugins/checks/tests/checks_plugin_test.py
  py/plugins/chroma/tests/chroma_helpers_test.py
  py/plugins/chroma/tests/chroma_indexer_test.py
  py/plugins/chroma/tests/chroma_retriever_test.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/lyria.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/veo.py
  py/plugins/pinecone/tests/pinecone_helpers_test.py
  py/plugins/pinecone/tests/pinecone_indexer_test.py
  py/plugins/pinecone/tests/pinecone_retriever_test.py
  py/samples/anthropic-hello/src/main.py
  py/samples/compat-oai-hello/src/main.py
  py/samples/deepseek-hello/src/main.py
  py/samples/google-genai-hello/src/main.py
  py/samples/google-genai-vertexai-hello/src/main.py
  py/samples/menu/src/menu_schemas.py
  py/samples/ollama-hello/src/main.py
  py/samples/shared/types.py
  py/samples/short-n-long/src/main.py
Owners: @pavelgj, @yesudeep

fix(py): address PR review feedback
  py/bin/generate_schema_typing
  py/plugins/chroma/src/genkit/plugins/chroma/plugin.py
Owners: @pavelgj, @yesudeep

fix(py/cloud-sql-pg): ensure API and behavioral parity with JS
  py/engdoc/parity-analysis/roadmap.md
  py/plugins/cloud-sql-pg/LICENSE
  py/plugins/cloud-sql-pg/README.md
  py/plugins/cloud-sql-pg/pyproject.toml
  py/plugins/cloud-sql-pg/src/genkit/plugins/cloud_sql_pg/__init__.py
  py/plugins/cloud-sql-pg/src/genkit/plugins/cloud_sql_pg/engine.py
  py/plugins/cloud-sql-pg/src/genkit/plugins/cloud_sql_pg/indexes.py
  py/plugins/cloud-sql-pg/src/genkit/plugins/cloud_sql_pg/plugin.py
  py/plugins/cloud-sql-pg/src/genkit/py.typed
  py/plugins/cloud-sql-pg/tests/__init__.py
  py/plugins/cloud-sql-pg/tests/engine_test.py
  py/plugins/cloud-sql-pg/tests/indexes_test.py
  py/plugins/cloud-sql-pg/tests/plugin_test.py
  py/pyproject.toml
  py/samples/rag-cloud-sql-pg/README.md
  py/samples/rag-cloud-sql-pg/pyproject.toml
  py/samples/rag-cloud-sql-pg/rag-cloud-sql-pg-backup/README.md
  py/samples/rag-cloud-sql-pg/rag-cloud-sql-pg-backup/src/main.py
  py/samples/rag-cloud-sql-pg/src/main.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

fix(py/cloud-sql-pg): rename test files to avoid module name conflicts
  py/plugins/cloud-sql-pg/tests/cloud_sql_pg_engine_test.py
  py/plugins/cloud-sql-pg/tests/cloud_sql_pg_indexes_test.py
  py/plugins/cloud-sql-pg/tests/cloud_sql_pg_plugin_test.py
Owners: @pavelgj, @yesudeep

fix(py/cloud-sql-pg): remove tests/__init__.py to fix pytest collection
  py/plugins/cloud-sql-pg/tests/__init__.py
Owners: @pavelgj, @yesudeep

fix(py/cloud-sql-pg): fix CI failure and follow naming convention
  py/plugins/cloud-sql-pg/README.md
  py/plugins/cloud-sql-pg/pyproject.toml
  py/pyproject.toml
  py/samples/rag-cloud-sql-pg/pyproject.toml
  py/uv.lock
Owners: @pavelgj, @yesudeep

fix(py/cloud-sql-pg): fix pyrefly bad-specialization error in engine.py
  py/plugins/checks/src/genkit/plugins/checks/auth.py
  py/plugins/checks/src/genkit/plugins/checks/middleware.py
  py/plugins/checks/src/genkit/plugins/checks/plugin.py
  py/plugins/checks/tests/checks_middleware_test.py
  py/plugins/chroma/src/genkit/plugins/chroma/plugin.py
  py/plugins/cloud-sql-pg/pyproject.toml
  py/plugins/cloud-sql-pg/src/genkit/plugins/cloud_sql_pg/engine.py
  py/plugins/cloud-sql-pg/src/genkit/plugins/cloud_sql_pg/plugin.py
  py/plugins/pinecone/src/genkit/plugins/pinecone/plugin.py
  py/pyproject.toml
  py/samples/firestore-retreiver/README.md
  py/samples/google-genai-context-caching/README.md
  py/samples/google-genai-hello/README.md
  py/samples/multi-server/README.md
  py/samples/rag-cloud-sql-pg/rag-cloud-sql-pg-backup/README.md
  py/samples/rag-cloud-sql-pg/rag-cloud-sql-pg-backup/src/main.py
  py/samples/realtime-tracing-demo/README.md
  py/samples/vertex-ai-vector-search-bigquery/README.md
Owners: @pavelgj, @yesudeep

added `BidiAction` and `BidiFlow`
  go/ai/embedder.go
  go/ai/evaluator.go
  go/ai/generate.go
  go/ai/prompt.go
  go/ai/resource.go
  go/ai/retriever.go
  go/core/action.go
  go/core/action_test.go
  go/core/api/action.go
  go/core/background_action.go
  go/core/flow.go
  go/core/flow_test.go
  go/genkit/genkit.go
Owners: @apascal07

added `NewBidiFlow`
  go/core/api/action.go
  go/core/flow.go
Owners: @apascal07

Update genkit.go
  go/genkit/genkit.go
Owners: @apascal07

Update genkit.go
  go/genkit/genkit.go
Owners: @apascal07

feat(go/plugins/mcp): migrate to modelcontextprotocol SDK
  go/go.mod
  go/go.sum
  go/plugins/mcp/client.go
  go/plugins/mcp/client_test.go
  go/plugins/mcp/common.go
  go/plugins/mcp/prompts.go
  go/plugins/mcp/prompts_test.go
  go/plugins/mcp/resources.go
  go/plugins/mcp/resources_test.go
  go/plugins/mcp/server.go
  go/plugins/mcp/server_test.go
  go/plugins/mcp/tools.go
  go/plugins/mcp/tools_test.go
Owners: @apascal07

use genkit primitives instead of mocks
  go/plugins/mcp/server_test.go
Owners: @apascal07

update docs and copyrights
  go/plugins/mcp/README.md
  go/plugins/mcp/client.go
  go/plugins/mcp/client_test.go
  go/plugins/mcp/prompts_test.go
  go/plugins/mcp/resources_test.go
  go/plugins/mcp/tools_test.go
Owners: @pavelgj, @apascal07

mod tidy
  go/go.mod
  go/go.sum
Owners: @apascal07

chore(go): remove `testify` for test assertions (#4315)
  go/go.mod
  go/plugins/alloydb/engine_test.go
  go/plugins/alloydb/genkit_test.go
  go/plugins/alloydb/indexer_test.go
  go/plugins/alloydb/retriever_test.go
  go/plugins/compat_oai/generate_live_test.go
  go/plugins/googlecloud/action_test.go
  go/plugins/googlecloud/engagement_test.go
  go/plugins/googlecloud/feature_test.go
  go/plugins/googlecloud/generate_test.go
  go/plugins/googlecloud/googlecloud_test.go
  go/plugins/googlecloud/path_test.go
  go/plugins/mcp/integration_test.go
  go/plugins/postgresql/engine_test.go
  go/plugins/postgresql/genkit_test.go
  go/plugins/postgresql/indexer_test.go
  go/plugins/postgresql/retriever_test.go
  go/plugins/vertexai/vectorsearch/vectorsearch_test.go
  go/plugins/weaviate/weaviate_test.go
  go/samples/mcp-git-pr-explainer/go.mod
  go/samples/mcp-git-pr-explainer/go.sum
  go/samples/telemetry-test/kitchen_sink/go.mod
  go/samples/telemetry-test/kitchen_sink/go.sum
  go/samples/telemetry-test/simple/go.mod
  go/samples/telemetry-test/simple/go.sum
Owners: @apascal07, @pavelgj

allow server to expose tools and resources via HTTP/SSE
  go/plugins/mcp/README.md
  go/plugins/mcp/server.go
Owners: @pavelgj, @apascal07

test cases for HTTP/SSE
  go/plugins/mcp/http_test.go
Owners: @apascal07

keep translation in a single function
  go/plugins/mcp/server.go
Owners: @apascal07

go fmt
  go/plugins/mcp/http_test.go
Owners: @apascal07

add few more rules
  go/GEMINI.md
Owners: @apascal07

add code examples for Genkit code patterns
  go/GEMINI.md
Owners: @apascal07

feat(py/plugins/aws-bedrock): add aws bedrock plugin for genkit
  py/GEMINI.md
  py/plugins/anthropic/src/genkit/plugins/anthropic/__init__.py
  py/plugins/aws-bedrock/README.md
  py/plugins/aws-bedrock/pyproject.toml
  py/plugins/aws-bedrock/src/genkit/plugins/aws_bedrock/__init__.py
  py/plugins/aws-bedrock/src/genkit/plugins/aws_bedrock/models/__init__.py
  py/plugins/aws-bedrock/src/genkit/plugins/aws_bedrock/models/model.py
  py/plugins/aws-bedrock/src/genkit/plugins/aws_bedrock/models/model_info.py
  py/plugins/aws-bedrock/src/genkit/plugins/aws_bedrock/plugin.py
  py/plugins/aws-bedrock/src/genkit/plugins/aws_bedrock/typing.py
  py/plugins/aws-bedrock/src/genkit/py.typed
  py/plugins/aws-bedrock/tests/aws_bedrock_plugin_test.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/__init__.py
  py/plugins/deepseek/src/genkit/plugins/deepseek/__init__.py
  py/plugins/deepseek/src/genkit/plugins/deepseek/client.py
  py/plugins/deepseek/tests/deepseek_plugin_test.py
  py/plugins/dev-local-vectorstore/src/genkit/plugins/dev_local_vectorstore/__init__.py
  py/plugins/evaluators/src/genkit/plugins/evaluators/__init__.py
  py/plugins/firebase/src/genkit/plugins/firebase/__init__.py
  py/plugins/flask/src/genkit/plugins/flask/__init__.py
  py/plugins/google-cloud/src/genkit/plugins/google_cloud/__init__.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/__init__.py
  py/plugins/msfoundry/src/genkit/plugins/msfoundry/__init__.py
  py/plugins/ollama/src/genkit/plugins/ollama/__init__.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/__init__.py
  py/plugins/xai/src/genkit/plugins/xai/__init__.py
  py/pyproject.toml
  py/samples/aws-bedrock-hello/README.md
  py/samples/aws-bedrock-hello/pyproject.toml
  py/samples/aws-bedrock-hello/run.sh
  py/samples/aws-bedrock-hello/src/main.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

feat(py/plugins): add AWS Bedrock plugin for Genkit (#4389)
  py/GEMINI.md
  py/plugins/anthropic/src/genkit/plugins/anthropic/__init__.py
  py/plugins/aws-bedrock/README.md
  py/plugins/aws-bedrock/pyproject.toml
  py/plugins/aws-bedrock/src/genkit/plugins/aws_bedrock/__init__.py
  py/plugins/aws-bedrock/src/genkit/plugins/aws_bedrock/models/__init__.py
  py/plugins/aws-bedrock/src/genkit/plugins/aws_bedrock/models/model.py
  py/plugins/aws-bedrock/src/genkit/plugins/aws_bedrock/models/model_info.py
  py/plugins/aws-bedrock/src/genkit/plugins/aws_bedrock/plugin.py
  py/plugins/aws-bedrock/src/genkit/plugins/aws_bedrock/typing.py
  py/plugins/aws-bedrock/src/genkit/py.typed
  py/plugins/aws-bedrock/tests/aws_bedrock_plugin_test.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/__init__.py
  py/plugins/deepseek/src/genkit/plugins/deepseek/__init__.py
  py/plugins/deepseek/src/genkit/plugins/deepseek/client.py
  py/plugins/deepseek/tests/deepseek_plugin_test.py
  py/plugins/dev-local-vectorstore/src/genkit/plugins/dev_local_vectorstore/__init__.py
  py/plugins/evaluators/src/genkit/plugins/evaluators/__init__.py
  py/plugins/firebase/src/genkit/plugins/firebase/__init__.py
  py/plugins/flask/src/genkit/plugins/flask/__init__.py
  py/plugins/google-cloud/src/genkit/plugins/google_cloud/__init__.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/__init__.py
  py/plugins/msfoundry/src/genkit/plugins/msfoundry/__init__.py
  py/plugins/ollama/src/genkit/plugins/ollama/__init__.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/__init__.py
  py/plugins/xai/src/genkit/plugins/xai/__init__.py
  py/pyproject.toml
  py/samples/aws-bedrock-hello/README.md
  py/samples/aws-bedrock-hello/pyproject.toml
  py/samples/aws-bedrock-hello/run.sh
  py/samples/aws-bedrock-hello/src/main.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

add README.md
  go/plugins/openai/README.md
Owners: @pavelgj
