Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj

feat(py/google-genai): update SUPPORTED_MODELS with new Gemini 3.1 models and add test for model metadata retrieval
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/plugins/google-genai/test/models/googlegenai_gemini_test.py
Owners: @pavelgj, @yesudeep

fix(py/google-genai): handle missing supports in GeminiModel by using default supports
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
Owners: @pavelgj, @yesudeep

fixed review comments
  go/plugins/ollama/README.md
  go/plugins/ollama/model.go
  go/plugins/ollama/model_test.go
  go/plugins/ollama/ollama.go
  go/plugins/ollama/ollama_live_test.go
  go/plugins/ollama/ollama_test.go
Owners: @pavelgj, @apascal07

feat(go/plugins/ollama): add runtime options and thinking (#4028)
  go/plugins/ollama/README.md
  go/plugins/ollama/embed.go
  go/plugins/ollama/model.go
  go/plugins/ollama/model_test.go
  go/plugins/ollama/ollama.go
  go/plugins/ollama/ollama_live_test.go
  go/plugins/ollama/ollama_test.go
  go/samples/ollama-tools/main.go
  go/samples/ollama-vision/main.go
Owners: @pavelgj, @apascal07

minor fixes
  go/plugins/ollama/ollama.go
  go/plugins/ollama/ollama_test.go
Owners: @apascal07

feat(go/ollama): implement DynamicPlugin for dynamic model discovery (#4529)
  go/plugins/ollama/ollama.go
  go/plugins/ollama/ollama_live_test.go
  go/plugins/ollama/ollama_test.go
Owners: @apascal07

fix(js/genkit): Explicitly allow null types in promptDir
  js/genkit/src/genkit.ts
  js/genkit/tests/prompts_test.ts
Owners: @pavelgj

added `genkit schema:export` command to CLI
  genkit-tools/cli/package.json
  genkit-tools/cli/src/cli.ts
  genkit-tools/cli/src/commands/export-schema.ts
Owners: @pavelgj

chore(js/plugins/google-genai): deprecate some imagen and veo models (#5033)
  js/plugins/google-genai/src/vertexai/imagen.ts
  js/plugins/google-genai/src/vertexai/veo.ts
Owners: @pavelgj

refactor(js): move plugin definition to ai package
  js/ai/src/plugin.ts
  js/genkit/src/plugin.ts
Owners: @pavelgj

a few missing things
  js/core/src/plugin.ts
  js/plugins/anthropic/src/index.ts
  js/plugins/compat-oai/src/openai/index.ts
  js/plugins/google-genai/src/googleai/index.ts
  js/plugins/google-genai/src/vertexai/index.ts
Owners: @pavelgj

feat(js/plugins/google-genai): support for veo-3.1-lite-generate-preview
  js/plugins/google-genai/src/googleai/veo.ts
  js/testapps/basic-gemini/src/index.ts
Owners: @pavelgj

feat(js/plugins/google-genai): support for veo-3.1-lite-generate-preview (#5038)
  js/plugins/google-genai/src/googleai/veo.ts
  js/testapps/basic-gemini/src/index.ts
Owners: @pavelgj

chore(js/core): Include key for all actions
  js/core/src/action.ts
  js/core/src/registry.ts
  js/core/tests/action_test.ts
  js/core/tests/flow_test.ts
Owners: @pavelgj

export GenkitPluginV2 type
  js/ai/src/index.ts
Owners: @pavelgj

refactor(js/ai): moved generate api into ai package to enable use with middleware
  js/ai/src/generate-api.ts
  js/genkit/src/genkit.ts
Owners: @pavelgj

undo middleware reg
  js/genkit/src/genkit.ts
Owners: @pavelgj

export generate api
  js/ai/src/index.ts
Owners: @pavelgj

feat(js/ai): implemented generate middleware
  js/ai/src/generate.ts
  js/ai/src/generate/action.ts
  js/ai/src/generate/middleware.ts
  js/ai/src/generate/resolve-tool-requests.ts
  js/ai/src/index.ts
  js/ai/src/model-types.ts
  js/ai/src/model.ts
  js/ai/src/plugin.ts
  js/ai/src/prompt.ts
  js/ai/tests/generate/action_test.ts
  js/ai/tests/generate/middleware_test.ts
  js/genkit/src/common.ts
  js/genkit/src/plugin.ts
  js/genkit/tests/generate_test.ts
Owners: @pavelgj

register middleware
  js/genkit/src/genkit.ts
Owners: @pavelgj

remove tool exports
  js/ai/src/index.ts
Owners: @pavelgj

feat(js/core): added middleware to reflection api
  js/core/src/reflection.ts
  js/core/tests/reflection_test.ts
Owners: @pavelgj

feat(js/ai): implemented generate middleware
  js/ai/src/index.ts
Owners: @pavelgj

remove tool exports
  js/ai/src/index.ts
Owners: @pavelgj

feat(js/ai): implemented generate middleware
  js/ai/src/index.ts
Owners: @pavelgj

feat(js/ai): expose restartTool/respondTool helper function in addition to tool.respond/restart
  js/ai/src/tool.ts
  js/genkit/src/common.ts
Owners: @pavelgj

fmt
  js/ai/src/index.ts
Owners: @pavelgj

feat(js/plugins/middleware): added middleware package with retry and fallback middleware
  js/plugins/middleware/.npmignore
  js/plugins/middleware/LICENSE
  js/plugins/middleware/examples/fallback.ts
  js/plugins/middleware/examples/retry.ts
  js/plugins/middleware/package.json
  js/plugins/middleware/src/fallback.ts
  js/plugins/middleware/src/index.ts
  js/plugins/middleware/src/retry.ts
  js/plugins/middleware/tests/fallback_test.ts
  js/plugins/middleware/tests/retry_test.ts
  js/plugins/middleware/tsconfig.json
  js/plugins/middleware/tsup.config.ts
  js/plugins/middleware/typedoc.json
Owners: @pavelgj

feat(js/plugins/middleware): implemented skills middleware
  js/plugins/middleware/src/index.ts
  js/plugins/middleware/src/skills.ts
  js/plugins/middleware/tests/skills_test.ts
Owners: @pavelgj

renamed to GenkitAI
  js/ai/src/genkit-ai.ts
  js/ai/src/index.ts
  js/genkit/src/genkit.ts
Owners: @pavelgj

feat(js/ai): implemented generate middleware
  js/ai/src/generate.ts
  js/ai/src/generate/action.ts
  js/ai/src/generate/middleware.ts
  js/ai/src/generate/resolve-tool-requests.ts
  js/ai/src/index.ts
  js/ai/src/model-types.ts
  js/ai/src/model.ts
  js/ai/src/plugin.ts
  js/ai/src/prompt.ts
  js/ai/tests/generate/action_test.ts
  js/ai/tests/generate/middleware_test.ts
  js/genkit/src/common.ts
  js/genkit/src/plugin.ts
  js/genkit/tests/generate_test.ts
Owners: @pavelgj

register middleware
  js/genkit/src/genkit.ts
Owners: @pavelgj

fix up GenkitAI uses
  js/ai/src/generate/middleware.ts
Owners: @pavelgj

feedback
  js/ai/src/generate/resolve-tool-requests.ts
  js/ai/tests/generate/resolve-tool-requests_test.ts
Owners: @pavelgj

more tests
  js/ai/src/generate/resolve-tool-requests.ts
  js/ai/tests/generate/generate_test.ts
Owners: @pavelgj

feat(js/ai): implemented generate middleware
  js/ai/src/index.ts
Owners: @pavelgj

remove tool exports
  js/ai/src/index.ts
Owners: @pavelgj

feat(js/core): added middleware to reflection api
  js/core/src/reflection.ts
  js/core/tests/reflection_test.ts
Owners: @pavelgj

feat(py): MiddlewareV2 implementation + implement listValues API in reflection server
  py/packages/genkit/src/genkit/_ai/_aio.py
  py/packages/genkit/src/genkit/_ai/_generate.py
  py/packages/genkit/src/genkit/_ai/_middleware.py
  py/packages/genkit/src/genkit/_ai/_prompt.py
  py/packages/genkit/src/genkit/_core/_middleware/__init__.py
  py/packages/genkit/src/genkit/_core/_middleware/_augment_with_context.py
  py/packages/genkit/src/genkit/_core/_middleware/_base.py
  py/packages/genkit/src/genkit/_core/_middleware/_download_request_media.py
  py/packages/genkit/src/genkit/_core/_middleware/_fallback.py
  py/packages/genkit/src/genkit/_core/_middleware/_retry.py
  py/packages/genkit/src/genkit/_core/_middleware/_simulate_system_prompt.py
  py/packages/genkit/src/genkit/_core/_middleware/_utils.py
  py/packages/genkit/src/genkit/_core/_middleware/_validate_support.py
  py/packages/genkit/src/genkit/_core/_reflection.py
  py/packages/genkit/src/genkit/_core/_registry.py
  py/packages/genkit/src/genkit/middleware/__init__.py
  py/packages/genkit/tests/genkit/ai/generate_test.py
  py/packages/genkit/tests/genkit/ai/middleware_test.py
  py/packages/genkit/tests/genkit/core/endpoints/reflection_test.py
  py/packages/genkit/tests/genkit/veneer/veneer_test.py
  py/samples/middleware/src/main.py
Owners: @pavelgj, @yesudeep

support v2
  js/core/src/reflection-v2.ts
  js/core/tests/reflection-v2_test.ts
Owners: @pavelgj
