Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

fix(go/plugins/googlecloud): use local trace export in dev mode
  go/plugins/googlecloud/googlecloud.go
Owners: @apascal07

Elisa/fix(py)/extra flow genai hello (#4124)
  py/packages/genkit/src/genkit/blocks/generate.py
  py/packages/genkit/src/genkit/blocks/tools.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/__init__.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/utils.py
  py/samples/google-genai-hello/my_room.png
  py/samples/google-genai-hello/palm_tree.png
  py/samples/google-genai-hello/photo.jpg
  py/samples/google-genai-hello/src/main.py
  py/samples/google-genai-hello/src/main_vertexai.py
Owners: @pavelgj, @yesudeep

fix(py): update genai-image flows (#4122)
  py/samples/google-genai-image/src/main.py
Owners: @pavelgj, @yesudeep

Update README.md
  go/README.md
Owners: @apascal07

feat(go): improved tool interrupts API to be more ergonomic (#4112)
  go/ai/generate.go
  go/ai/generate_test.go
  go/ai/option.go
  go/ai/option_test.go
  go/ai/tools.go
  go/ai/tools_test.go
  go/genkit/genkit.go
  go/internal/base/json.go
  go/plugins/compat_oai/generate.go
  go/plugins/googlegenai/gemini.go
  go/plugins/googlegenai/googlegenai.go
  go/plugins/googlegenai/imagen.go
  go/plugins/internal/anthropic/anthropic.go
  go/samples/basic-prompts/main.go
  go/samples/basic-structured/main.go
  go/samples/basic/main.go
  go/samples/intermediate-interrupts/main.go
  go/samples/mcp-git-pr-explainer/go.mod
  go/samples/mcp-git-pr-explainer/go.sum
Owners: @apascal07, @pavelgj

chore(go): update README.md (#4126)
  go/README.md
Owners: @apascal07

add ModelRef function
  go/plugins/openai/openai.go
Owners: @apascal07

add ModelRef live tests
  go/plugins/openai/openai.go
  go/plugins/openai/openai_live_test.go
Owners: @apascal07

Update README.md
  go/README.md
Owners: @apascal07

bump openai-go to v.3.16.0
  go/go.mod
  go/go.sum
Owners: @apascal07

Update README.md
  go/README.md
Owners: @apascal07

Update README.md
  go/README.md
Owners: @apascal07

add OpenAI provider in README.md
  go/README.md
Owners: @apascal07

chore(go): update README.md (#4128)
  go/README.md
Owners: @apascal07

Update version.go
  go/internal/version.go
Owners: @apascal07

chore(go): update version (#4129)
  go/internal/version.go
Owners: @apascal07

chore(go): fix broken samples
  go/samples/modelgarden/main.go
Owners: @apascal07

update maxTokens
  go/samples/modelgarden/main.go
Owners: @apascal07

fix(py): fix broken sample and add anthropic to plugin
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/model.py
  py/plugins/compat-oai/tests/test_model.py
  py/plugins/vertex-ai/pyproject.toml
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/model_garden/anthropic.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/model_garden/modelgarden_plugin.py
  py/samples/model-garden/src/main.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

fix(py): fixed with gemini's comments
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/model_garden/anthropic.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/model_garden/modelgarden_plugin.py
  py/samples/model-garden/src/main.py
Owners: @pavelgj, @yesudeep

fix(py): fix hello sample results and add weather flow
  py/samples/google-genai-hello/src/main.py
  py/samples/ollama-hello/src/main.py
Owners: @pavelgj, @yesudeep

fix(py): fixed with gemini's comments
  py/samples/ollama-hello/src/main.py
Owners: @pavelgj, @yesudeep

fix(py): fix broken sample and update code-execution flow
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/samples/google-genai-code-execution/src/main.py
Owners: @pavelgj, @yesudeep

fix(py): fixed with gemini comments
  py/samples/google-genai-code-execution/src/main.py
  py/samples/google-genai-hello/src/main.py
Owners: @pavelgj, @yesudeep

fix(py): fix broken sample and add anthropic to plugin (#4131)
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/model.py
  py/plugins/compat-oai/tests/test_model.py
  py/plugins/vertex-ai/pyproject.toml
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/model_garden/anthropic.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/model_garden/modelgarden_plugin.py
  py/samples/model-garden/src/main.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

fix(py): fixed broken sample and updated code-execution flow (#4134)
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/samples/google-genai-code-execution/src/main.py
  py/samples/google-genai-hello/src/main.py
Owners: @pavelgj, @yesudeep

fix(py): fix ollama-hello sample results and add weather flow (#4133)
  py/samples/ollama-hello/src/main.py
Owners: @pavelgj, @yesudeep

feedback
  genkit-tools/common/src/manager/manager.ts
  genkit-tools/common/src/types/apis.ts
  js/core/src/reflection.ts
  js/genkit/src/genkit.ts
Owners: @pavelgj

fix
  genkit-tools/common/src/manager/manager.ts
  js/genkit/src/genkit.ts
Owners: @pavelgj

reflection ficx
  js/core/src/reflection.ts
Owners: @pavelgj

fixes
  genkit-tools/cli/src/utils/manager-utils.ts
  genkit-tools/cli/tests/utils/manager-utils_test.ts
  genkit-tools/common/src/manager/manager.ts
  js/core/src/reflection.ts
Owners: @pavelgj

fixes
  genkit-tools/cli/src/mcp/runtime.ts
  genkit-tools/cli/src/mcp/util.ts
  genkit-tools/cli/src/utils/manager-utils.ts
  genkit-tools/common/src/manager/manager.ts
Owners: @pavelgj

test(ci): test whether ci gets triggered
  py/samples/menu/src/main.py
Owners: @pavelgj, @yesudeep

fixes
  genkit-tools/cli/src/utils/manager-utils.ts
  genkit-tools/cli/tests/commands/start_test.ts
Owners: @pavelgj

fix(py): foxed broken sample and update the flow to match Go SDK
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/context_caching/constants.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/samples/google-genai-context-caching/src/main.py
Owners: @pavelgj, @yesudeep

fix(py): updated with gemini's comments
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/context_caching/constants.py
  py/samples/google-genai-context-caching/src/main.py
  py/samples/google-genai-hello/src/main.py
Owners: @pavelgj, @yesudeep

merge fix
  js/core/src/reflection.ts
  js/pnpm-lock.yaml
Owners: @pavelgj

fix(py): fixed broken sample and updated the flow to have multi-round logic (#4137)
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/context_caching/constants.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/samples/google-genai-context-caching/src/main.py
Owners: @pavelgj, @yesudeep

cleanup
  genkit-tools/cli/src/commands/mcp.ts
  genkit-tools/cli/src/mcp/flows.ts
  genkit-tools/cli/src/mcp/runtime.ts
  genkit-tools/cli/src/mcp/server.ts
  genkit-tools/cli/src/mcp/trace.ts
  genkit-tools/cli/src/mcp/util.ts
  genkit-tools/common/src/manager/process-manager.ts
  genkit-tools/common/src/utils/logger.ts
Owners: @pavelgj

Update README.md
  go/README.md
Owners: @apascal07

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj
