Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj

chore(js/plugins/ollama): format
  js/plugins/ollama/tests/embedding_live_test.ts
  js/plugins/ollama/tests/embeddings_test.ts
Owners: @pavelgj

test(js/plugins/ollama): update model tests
  js/plugins/ollama/tests/model_test.ts
Owners: @pavelgj

fix(js/plguings/ollama): change to opts.streamingRequested and improve testing
  js/plugins/ollama/src/embeddings.ts
  js/plugins/ollama/src/index.ts
  js/plugins/ollama/tests/model_test.ts
Owners: @pavelgj

allow response format in OpenAI
  go/ai/gen.go
  go/plugins/compat_oai/compat_oai.go
  go/plugins/compat_oai/generate.go
Owners: @apascal07

chore: format
  js/plugins/checks/src/index.ts
Owners: @pavelgj

feat(js/plugins/compat-oai): Add reasoning_content support to compat-oai
  js/plugins/compat-oai/src/model.ts
  js/plugins/compat-oai/tests/compat_oai_test.ts
Owners: @pavelgj

chore(js/plugins/mcp): undo createMcpHost/Client deprecation until later release
  js/plugins/mcp/src/index.ts
Owners: @pavelgj

fix: Handle missing trace index, better multimedia samples for AI
  genkit-tools/cli/context/GENKIT.js.md
  genkit-tools/telemetry-server/src/file-trace-store.ts
Owners: @pavelgj

chore(js/plugins/mcp): undo createMcpHost/Client deprecation until later release (#3680)
  js/plugins/mcp/src/index.ts
Owners: @pavelgj

update version
  genkit-tools/cli/context/GENKIT.go.md
  genkit-tools/cli/context/GENKIT.js.md
Owners: @pavelgj

remove helper
  genkit-tools/cli/context/GENKIT.js.md
Owners: @pavelgj

Create separate `ai.Operation`
  go/ai/background_model.go
  go/ai/gen.go
  go/ai/generate.go
  go/core/background_action.go
  go/core/schemas.config
Owners: @apascal07, @pavelgj

Plugin updates
  go/ai/background_model.go
  go/core/background_action.go
  go/genkit/genkit.go
  go/plugins/googlegenai/veo.go
Owners: @apascal07

Move middleware
  go/ai/background_model.go
  go/ai/generate.go
  go/ai/model_middleware.go
Owners: @apascal07

fix: Handle missing trace index, better multimedia samples for AI (#3682)
  genkit-tools/cli/context/GENKIT.go.md
  genkit-tools/cli/context/GENKIT.js.md
  genkit-tools/telemetry-server/src/file-trace-store.ts
Owners: @pavelgj

docs: refine .guides guidance a bit
  js/genkit/.guides/setup.md
  js/plugins/google-genai/.guides/usage.md
Owners: @pavelgj

format
  js/plugins/google-genai/.guides/usage.md
Owners: @pavelgj

docs: refine .guides guidance a bit (#3683)
  js/genkit/.guides/setup.md
  js/plugins/google-genai/.guides/usage.md
Owners: @pavelgj

feat(js/plugins/vertexai/modelgarden-v2): migrated modelgarden to V2 and added dynamic resolution. Also updated available models. Updated testapps as well.
  js/plugins/vertexai/src/modelgarden/index.ts
  js/plugins/vertexai/src/modelgarden/legacy/anthropic.ts
  js/plugins/vertexai/src/modelgarden/legacy/index.ts
  js/plugins/vertexai/src/modelgarden/legacy/mistral.ts
  js/plugins/vertexai/src/modelgarden/legacy/model_garden.ts
  js/plugins/vertexai/src/modelgarden/legacy/openai_compatibility.ts
  js/plugins/vertexai/src/modelgarden/legacy/types.ts
  js/plugins/vertexai/src/modelgarden/v2/anthropic.ts
  js/plugins/vertexai/src/modelgarden/v2/index.ts
  js/plugins/vertexai/src/modelgarden/v2/llama.ts
  js/plugins/vertexai/src/modelgarden/v2/mistral.ts
  js/plugins/vertexai/src/modelgarden/v2/openai_compatibility.ts
  js/plugins/vertexai/src/modelgarden/v2/types.ts
  js/plugins/vertexai/src/modelgarden/v2/utils.ts
  js/plugins/vertexai/tests/modelgarden/legacy/anthropic_test.ts
  js/plugins/vertexai/tests/modelgarden/legacy/mistral_test.ts
  js/plugins/vertexai/tests/modelgarden/v2/anthropic_test.ts
  js/plugins/vertexai/tests/modelgarden/v2/index_test.ts
  js/plugins/vertexai/tests/modelgarden/v2/llama_test.ts
  js/plugins/vertexai/tests/modelgarden/v2/mistral_test.ts
  js/pnpm-lock.yaml
  js/testapps/model-tester/package.json
  js/testapps/model-tester/src/index.ts
  js/testapps/vertexai-modelgarden/package.json
  js/testapps/vertexai-modelgarden/src/anthropic.ts
  js/testapps/vertexai-modelgarden/src/index.ts
  js/testapps/vertexai-modelgarden/src/mistral.ts
Owners: @pavelgj

chore: CLI version bump
  genkit-tools/cli/package.json
  genkit-tools/common/package.json
  genkit-tools/telemetry-server/package.json
Owners: @pavelgj

chore: JS version bump
  js/ai/package.json
  js/core/package.json
  js/genkit/package.json
  js/plugins/checks/package.json
  js/plugins/chroma/package.json
  js/plugins/cloud-sql-pg/package.json
  js/plugins/compat-oai/package.json
  js/plugins/dev-local-vectorstore/package.json
  js/plugins/evaluators/package.json
  js/plugins/express/package.json
  js/plugins/firebase/package.json
  js/plugins/google-cloud/package.json
  js/plugins/google-genai/package.json
  js/plugins/googleai/package.json
  js/plugins/langchain/package.json
  js/plugins/mcp/package.json
  js/plugins/next/package.json
  js/plugins/ollama/package.json
  js/plugins/pinecone/package.json
  js/plugins/vertexai/package.json
Owners: @pavelgj

feat(go/genkit): Merge main
  go/plugins/vertexai/vectorsearch/vectorsearch.go
  go/plugins/vertexai/vectorsearch/vectorsearch_test.go
  go/samples/vectorsearch-biqguery/main.go
  go/samples/vectorsearch-biqguery/menu.go
  go/samples/vectorsearch-firestore/main.go
  go/samples/vectorsearch-firestore/menu.go
Owners: @apascal07

feat(go/genkit): Add vectorsearch vertex ai plugin (#3230)
  go/go.mod
  go/go.sum
  go/plugins/vertexai/vectorsearch/bigquery.go
  go/plugins/vertexai/vectorsearch/firestore.go
  go/plugins/vertexai/vectorsearch/types.go
  go/plugins/vertexai/vectorsearch/vectorsearch.go
  go/plugins/vertexai/vectorsearch/vectorsearch_endpoints.go
  go/plugins/vertexai/vectorsearch/vectorsearch_endpoints_test.go
  go/plugins/vertexai/vectorsearch/vectorsearch_test.go
  go/samples/vectorsearch-biqguery/main.go
  go/samples/vectorsearch-biqguery/menu.go
  go/samples/vectorsearch-firestore/main.go
  go/samples/vectorsearch-firestore/menu.go
Owners: @apascal07

ci: bump action scripts versions
  .github/workflows/build-cli-binaries.yml
  .github/workflows/builder.yml
  .github/workflows/bump-cli-version.yml
  .github/workflows/bump-js-version.yml
  .github/workflows/bump-package-version.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/engdoc.yml
  .github/workflows/formatter.yml
  .github/workflows/go.yml
  .github/workflows/publish_python.yml
  .github/workflows/python.yml
  .github/workflows/release_js_main.yml
  .github/workflows/release_js_package.yml
  .github/workflows/samples.yml
  .github/workflows/tests.yml
Owners: @pavelgj

refactor(js/plguings/ollama): improve model tests
  js/plugins/ollama/package.json
  js/plugins/ollama/src/index.ts
  js/plugins/ollama/tests/model_test.ts
Owners: @pavelgj

chore(py): Add tools sample for OpenAi Compat plugin
  py/samples/compat-oai-hello/src/compat_oai_hello.py
Owners: @pavelgj, @yesudeep

refactor(js/plguings/ollama): use namespace and keep plugin function in same place
  js/plugins/ollama/src/index.ts
Owners: @pavelgj

fix(js/plguings/ollama): revert to using prefixes
  js/plugins/ollama/src/index.ts
Owners: @pavelgj

Update js/plugins/ollama/package.json
  js/plugins/ollama/package.json
Owners: @pavelgj

Update background_model.go
  go/ai/background_model.go
Owners: @apascal07

feat(go): refactored background model feature (#3659)
  genkit-tools/common/src/types/model.ts
  genkit-tools/genkit-schema.json
  go/ai/background_model.go
  go/ai/gen.go
  go/ai/generate.go
  go/ai/model_middleware.go
  go/core/action.go
  go/core/api/action.go
  go/core/api/utils.go
  go/core/background_action.go
  go/core/schemas.config
  go/genkit/genkit.go
  go/plugins/googlegenai/googlegenai.go
  go/plugins/googlegenai/veo.go
  go/samples/veo/main.go
Owners: @pavelgj, @apascal07

fix(go/plugins/googlegenai): use one FunctionDeclaration for all tools
  go/plugins/googlegenai/gemini.go
Owners: @apascal07

address UT failures
  go/plugins/googlegenai/gemini.go
Owners: @apascal07

Update generate.go
  go/ai/generate.go
Owners: @apascal07

Set role and index on streamed messages.
  go/ai/generate.go
  go/ai/generate_test.go
Owners: @apascal07

fix(go/ai): set role and index on streamed messages correctly (#3689)
  go/ai/generate.go
  go/ai/generate_test.go
Owners: @apascal07

feat(go/ai): add `ModelResponse.Media()` helper (#3688)
  go/ai/generate.go
Owners: @apascal07

Update go/ai/tools.go
  go/ai/tools.go
Owners: @apascal07

feat(js/plugins/vertexai/rerankers): Migrated to V2 plus new config options
  js/plugins/vertexai/package.json
  js/plugins/vertexai/src/common/utils.ts
  js/plugins/vertexai/src/rerankers/index.ts
  js/plugins/vertexai/src/rerankers/legacy/constants.ts
  js/plugins/vertexai/src/rerankers/legacy/index.ts
  js/plugins/vertexai/src/rerankers/legacy/reranker.ts
  js/plugins/vertexai/src/rerankers/legacy/types.ts
  js/plugins/vertexai/src/rerankers/v2/client.ts
  js/plugins/vertexai/src/rerankers/v2/index.ts
  js/plugins/vertexai/src/rerankers/v2/reranker.ts
  js/plugins/vertexai/src/rerankers/v2/types.ts
  js/plugins/vertexai/tests/rerankers/v2/client_test.ts
  js/plugins/vertexai/tests/rerankers/v2/index_test.ts
  js/plugins/vertexai/tests/rerankers/v2/reranker_test.ts
  js/pnpm-lock.yaml
  js/testapps/vertexai-reranker/package.json
  js/testapps/vertexai-reranker/src/index.ts
Owners: @pavelgj

pass plugin name for better error message
  js/plugins/vertexai/src/common/utils.ts
  js/plugins/vertexai/src/rerankers/v2/index.ts
Owners: @pavelgj
