Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

Refactor Github Action per b/485167538
  .github/workflows/publish_python.yml
  .github/workflows/release_js_main.yml
Owners: @pavelgj

Refactor Github Action per b/485167538
  .github/workflows/build-cli-binaries.yml
  .github/workflows/bump-cli-version.yml
  .github/workflows/bump-js-version.yml
  .github/workflows/bump-package-version.yml
  .github/workflows/publish_python.yml
  .github/workflows/release_js_main.yml
  .github/workflows/release_js_package.yml
Owners: @pavelgj

Refactor Github Action per b/485167538
  .github/workflows/build-cli-binaries.yml
  .github/workflows/bump-cli-version.yml
  .github/workflows/bump-js-version.yml
  .github/workflows/bump-package-version.yml
  .github/workflows/publish_python.yml
  .github/workflows/release_js_main.yml
  .github/workflows/release_js_package.yml
Owners: @pavelgj

Refactor Github Action per b/485167538
  .github/workflows/build-cli-binaries.yml
  .github/workflows/bump-cli-version.yml
  .github/workflows/bump-js-version.yml
  .github/workflows/bump-package-version.yml
  .github/workflows/publish_python.yml
  .github/workflows/release_js_main.yml
  .github/workflows/release_js_package.yml
Owners: @pavelgj

Refactor Github Action per b/485167538
  .github/workflows/build-cli-binaries.yml
  .github/workflows/bump-cli-version.yml
  .github/workflows/bump-js-version.yml
  .github/workflows/bump-package-version.yml
  .github/workflows/publish_python.yml
  .github/workflows/release_js_main.yml
  .github/workflows/release_js_package.yml
Owners: @pavelgj

Refactor Github Action per b/485167538
  .github/workflows/build-cli-binaries.yml
  .github/workflows/bump-cli-version.yml
  .github/workflows/bump-js-version.yml
  .github/workflows/bump-package-version.yml
  .github/workflows/publish_python.yml
  .github/workflows/release_js_main.yml
  .github/workflows/release_js_package.yml
Owners: @pavelgj

Refactor Github Action per b/485167538
  .github/workflows/build-cli-binaries.yml
  .github/workflows/bump-cli-version.yml
  .github/workflows/bump-js-version.yml
  .github/workflows/bump-package-version.yml
  .github/workflows/publish_python.yml
  .github/workflows/release_js_main.yml
  .github/workflows/release_js_package.yml
Owners: @pavelgj

Refactor Github Action per b/485167538
  .github/workflows/build-cli-binaries.yml
  .github/workflows/bump-cli-version.yml
  .github/workflows/bump-js-version.yml
  .github/workflows/bump-package-version.yml
  .github/workflows/publish_python.yml
  .github/workflows/release_js_main.yml
  .github/workflows/release_js_package.yml
Owners: @pavelgj

Refactor Github Action per b/485167538
  .github/workflows/build-cli-binaries.yml
  .github/workflows/bump-cli-version.yml
  .github/workflows/bump-js-version.yml
  .github/workflows/bump-package-version.yml
  .github/workflows/publish_python.yml
  .github/workflows/release_js_main.yml
  .github/workflows/release_js_package.yml
Owners: @pavelgj

Refactor Github Action per b/485167538
  .github/workflows/build-cli-binaries.yml
  .github/workflows/bump-cli-version.yml
  .github/workflows/bump-js-version.yml
  .github/workflows/bump-package-version.yml
  .github/workflows/publish_python.yml
  .github/workflows/release_js_main.yml
  .github/workflows/release_js_package.yml
  .github/workflows/releasekit-uv.yml
Owners: @pavelgj

Refactor Github Action per b/485167538
  .github/workflows/build-cli-binaries.yml
  .github/workflows/bump-cli-version.yml
  .github/workflows/bump-js-version.yml
  .github/workflows/bump-package-version.yml
  .github/workflows/publish_python.yml
  .github/workflows/release_js_main.yml
  .github/workflows/release_js_package.yml
Owners: @pavelgj

Refactor Github Action per b/485167538
  .github/workflows/build-cli-binaries.yml
  .github/workflows/bump-cli-version.yml
  .github/workflows/bump-js-version.yml
  .github/workflows/bump-package-version.yml
  .github/workflows/publish_python.yml
  .github/workflows/release_js_main.yml
  .github/workflows/release_js_package.yml
Owners: @pavelgj

Refactor Github Action per b/485167538 (#4763)
  .github/workflows/build-cli-binaries.yml
  .github/workflows/bump-cli-version.yml
  .github/workflows/bump-js-version.yml
  .github/workflows/bump-package-version.yml
  .github/workflows/publish_python.yml
  .github/workflows/release_js_main.yml
  .github/workflows/release_js_package.yml
Owners: @pavelgj

Refactor Github Action per b/485167538 (#4762)
  .github/workflows/build-cli-binaries.yml
  .github/workflows/bump-cli-version.yml
  .github/workflows/bump-js-version.yml
  .github/workflows/bump-package-version.yml
  .github/workflows/publish_python.yml
  .github/workflows/release_js_main.yml
  .github/workflows/release_js_package.yml
Owners: @pavelgj

Refactor Github Action per b/485167538 (#4761)
  .github/workflows/build-cli-binaries.yml
  .github/workflows/bump-cli-version.yml
  .github/workflows/bump-js-version.yml
  .github/workflows/bump-package-version.yml
  .github/workflows/publish_python.yml
  .github/workflows/release_js_main.yml
  .github/workflows/release_js_package.yml
  .github/workflows/releasekit-uv.yml
Owners: @pavelgj

Refactor Github Action per b/485167538 (#4759)
  .github/workflows/build-cli-binaries.yml
  .github/workflows/bump-cli-version.yml
  .github/workflows/bump-js-version.yml
  .github/workflows/bump-package-version.yml
  .github/workflows/publish_python.yml
  .github/workflows/release_js_main.yml
  .github/workflows/release_js_package.yml
Owners: @pavelgj

Refactor Github Action per b/485167538 (#4758)
  .github/workflows/build-cli-binaries.yml
  .github/workflows/bump-cli-version.yml
  .github/workflows/bump-js-version.yml
  .github/workflows/bump-package-version.yml
  .github/workflows/publish_python.yml
  .github/workflows/release_js_main.yml
  .github/workflows/release_js_package.yml
Owners: @pavelgj

Refactor Github Action per b/485167538 (#4757)
  .github/workflows/build-cli-binaries.yml
  .github/workflows/bump-cli-version.yml
  .github/workflows/bump-js-version.yml
  .github/workflows/bump-package-version.yml
  .github/workflows/publish_python.yml
  .github/workflows/release_js_main.yml
  .github/workflows/release_js_package.yml
Owners: @pavelgj

Refactor Github Action per b/485167538 (#4756)
  .github/workflows/build-cli-binaries.yml
  .github/workflows/bump-cli-version.yml
  .github/workflows/bump-js-version.yml
  .github/workflows/bump-package-version.yml
  .github/workflows/publish_python.yml
  .github/workflows/release_js_main.yml
  .github/workflows/release_js_package.yml
Owners: @pavelgj

Refactor Github Action per b/485167538 (#4755)
  .github/workflows/build-cli-binaries.yml
  .github/workflows/bump-cli-version.yml
  .github/workflows/bump-js-version.yml
  .github/workflows/bump-package-version.yml
  .github/workflows/publish_python.yml
  .github/workflows/release_js_main.yml
  .github/workflows/release_js_package.yml
Owners: @pavelgj

Refactor Github Action per b/485167538 (#4754)
  .github/workflows/build-cli-binaries.yml
  .github/workflows/bump-cli-version.yml
  .github/workflows/bump-js-version.yml
  .github/workflows/bump-package-version.yml
  .github/workflows/publish_python.yml
  .github/workflows/release_js_main.yml
  .github/workflows/release_js_package.yml
Owners: @pavelgj

Refactor Github Action per b/485167538 (#4753)
  .github/workflows/build-cli-binaries.yml
  .github/workflows/bump-cli-version.yml
  .github/workflows/bump-js-version.yml
  .github/workflows/bump-package-version.yml
  .github/workflows/publish_python.yml
  .github/workflows/release_js_main.yml
  .github/workflows/release_js_package.yml
Owners: @pavelgj

Refactor Github Action per b/485167538 (#4752)
  .github/workflows/publish_python.yml
  .github/workflows/release_js_main.yml
Owners: @pavelgj

Refactor Github Action per b/485167538 (#4751)
  .github/workflows/build-cli-binaries.yml
  .github/workflows/bump-cli-version.yml
  .github/workflows/bump-js-version.yml
  .github/workflows/bump-package-version.yml
  .github/workflows/publish_python.yml
  .github/workflows/release_js_main.yml
  .github/workflows/release_js_package.yml
Owners: @pavelgj

Refactor Github Action per b/485167538 (#4750)
  .github/workflows/build-cli-binaries.yml
  .github/workflows/bump-cli-version.yml
  .github/workflows/bump-js-version.yml
  .github/workflows/bump-package-version.yml
  .github/workflows/publish_python.yml
  .github/workflows/release_js_main.yml
  .github/workflows/release_js_package.yml
Owners: @pavelgj

Refactor Github Action per b/485167538 (#4747)
  .github/workflows/build-cli-binaries.yml
  .github/workflows/publish_python.yml
  .github/workflows/release_js_main.yml
Owners: @pavelgj

Refactor Github Action per b/485167538 (#4746)
  .github/workflows/build-cli-binaries.yml
  .github/workflows/bump-cli-version.yml
  .github/workflows/bump-js-version.yml
  .github/workflows/bump-package-version.yml
  .github/workflows/publish_python.yml
  .github/workflows/release_js_main.yml
  .github/workflows/release_js_package.yml
Owners: @pavelgj

Refactor Github Action per b/485167538 (#4745)
  .github/workflows/build-cli-binaries.yml
  .github/workflows/bump-cli-version.yml
  .github/workflows/bump-js-version.yml
  .github/workflows/bump-package-version.yml
  .github/workflows/publish_python.yml
  .github/workflows/release_js_main.yml
  .github/workflows/release_js_package.yml
Owners: @pavelgj

Refactor Github Action per b/485167538 (#4744)
  .github/workflows/build-cli-binaries.yml
  .github/workflows/bump-cli-version.yml
  .github/workflows/bump-js-version.yml
  .github/workflows/bump-package-version.yml
  .github/workflows/publish_python.yml
  .github/workflows/release_js_main.yml
  .github/workflows/release_js_package.yml
Owners: @pavelgj

Refactor Github Action per b/485167538 (#4743)
  .github/workflows/build-cli-binaries.yml
  .github/workflows/bump-cli-version.yml
  .github/workflows/bump-js-version.yml
  .github/workflows/bump-package-version.yml
  .github/workflows/publish_python.yml
  .github/workflows/release_js_main.yml
  .github/workflows/release_js_package.yml
Owners: @pavelgj

Refactor Github Action per b/485167538 (#4735)
  .github/workflows/publish_python.yml
  .github/workflows/release_js_main.yml
Owners: @pavelgj

Refactor Github Action per b/485167538 (#4734)
  .github/workflows/build-cli-binaries.yml
  .github/workflows/bump-cli-version.yml
  .github/workflows/bump-js-version.yml
  .github/workflows/bump-package-version.yml
  .github/workflows/publish_python.yml
  .github/workflows/release_js_main.yml
  .github/workflows/release_js_package.yml
Owners: @pavelgj

Refactor Github Action per b/485167538 (#4732)
  .github/workflows/build-cli-binaries.yml
  .github/workflows/bump-cli-version.yml
  .github/workflows/bump-js-version.yml
  .github/workflows/bump-package-version.yml
  .github/workflows/publish_python.yml
  .github/workflows/release_js_main.yml
  .github/workflows/release_js_package.yml
Owners: @pavelgj

Refactor Github Action per b/485167538 (#4731)
  .github/workflows/build-cli-binaries.yml
  .github/workflows/bump-cli-version.yml
  .github/workflows/bump-js-version.yml
  .github/workflows/bump-package-version.yml
  .github/workflows/publish_python.yml
  .github/workflows/release_js_main.yml
  .github/workflows/release_js_package.yml
Owners: @pavelgj

Refactor Github Action per b/485167538 (#4724)
  .github/workflows/build-cli-binaries.yml
  .github/workflows/bump-cli-version.yml
  .github/workflows/bump-js-version.yml
  .github/workflows/bump-package-version.yml
  .github/workflows/publish_python.yml
  .github/workflows/release_js_main.yml
  .github/workflows/release_js_package.yml
Owners: @pavelgj

fix(ci): harden release pipeline with SLSA L3 composite actions
  .github/actions/attest-build-artifacts/action.yml
  .github/actions/compute-artifact-digests/action.yml
  .github/actions/run-releasekit/action.yml
  .github/actions/setup-ollama/action.yml
  .github/actions/setup-releasekit/action.yml
  .github/actions/upload-release-artifacts/action.yml
  .github/actions/verify-slsa-provenance/action.yml
  .github/dependabot.yml
  .github/workflows/releasekit-uv.yml
Owners: @pavelgj

Update agent_flow.go
  go/ai/x/agent_flow.go
Owners: @apascal07

feat(releasekit): add build/upload isolation and verify-install command
  py/tools/releasekit/src/releasekit/backends/forge/github.py
  py/tools/releasekit/src/releasekit/cli.py
  py/tools/releasekit/src/releasekit/prepare.py
  py/tools/releasekit/src/releasekit/publisher.py
  py/tools/releasekit/src/releasekit/release.py
  py/tools/releasekit/src/releasekit/verify_install.py
  py/tools/releasekit/src/releasekit/versions.py
  py/tools/releasekit/tests/rk_backends_forge_github_test.py
  py/tools/releasekit/tests/rk_cli_test.py
  py/tools/releasekit/tests/rk_integration_test.py
  py/tools/releasekit/tests/rk_verify_install_test.py
  py/tools/releasekit/tests/rk_versions_test.py
Owners: @pavelgj, @yesudeep

fix(ci): harden release pipeline with SLSA L3 composite actions
  .github/actions/attest-build-artifacts/action.yml
  .github/actions/compute-artifact-digests/action.yml
  .github/actions/run-releasekit/action.yml
  .github/actions/setup-ollama/action.yml
  .github/actions/setup-releasekit/action.yml
  .github/actions/upload-release-artifacts/action.yml
  .github/actions/verify-slsa-provenance/action.yml
  .github/dependabot.yml
  .github/workflows/releasekit-uv.yml
Owners: @pavelgj

feat(releasekit): add SLSA L3 template actions and workflow templates
  py/tools/releasekit/github/actions/README.md
  py/tools/releasekit/github/actions/attest-build-artifacts/action.yml
  py/tools/releasekit/github/actions/compute-artifact-digests/action.yml
  py/tools/releasekit/github/actions/run-releasekit/action.yml
  py/tools/releasekit/github/actions/setup-ollama/action.yml
  py/tools/releasekit/github/actions/setup-releasekit/action.yml
  py/tools/releasekit/github/actions/upload-release-artifacts/action.yml
  py/tools/releasekit/github/actions/verify-slsa-provenance/action.yml
  py/tools/releasekit/github/workflows/releasekit-cargo.yml
  py/tools/releasekit/github/workflows/releasekit-dart.yml
  py/tools/releasekit/github/workflows/releasekit-go.yml
  py/tools/releasekit/github/workflows/releasekit-gradle.yml
  py/tools/releasekit/github/workflows/releasekit-pnpm.yml
  py/tools/releasekit/github/workflows/releasekit-uv.yml
Owners: @pavelgj

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj
