Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

Update go/genkit/resource.go
  go/genkit/resource.go
Owners: @apascal07

Update go/genkit/resource.go
  go/genkit/resource.go
Owners: @apascal07

refactor
  go/ai/generate.go
  go/ai/generate_test.go
  go/ai/resource.go
  go/genkit/resource.go
  go/genkit/resource_test.go
Owners: @apascal07

move everything into genkit.go
  go/genkit/genkit.go
  go/genkit/genkit_test.go
Owners: @apascal07

fix
  go/ai/resource.go
Owners: @apascal07

fix
  go/ai/resource.go
Owners: @apascal07

fix
  go/genkit/genkit_test.go
Owners: @apascal07

fix(go): add constructor for postgres object
  go/plugins/postgresql/genkit.go
  go/plugins/postgresql/genkit_test.go
Owners: @apascal07

fix(go): add Postgres struct constructor
  go/plugins/postgresql/genkit.go
  go/plugins/postgresql/genkit_test.go
Owners: @apascal07

refactor(googleai): convert plugin entry point to v2 API
  js/plugins/googleai/src/index.ts
Owners: @pavelgj

refactor(googleai): add gemini.ts functions for v2 api
  js/plugins/googleai/src/gemini.ts
  js/plugins/googleai/src/index.ts
Owners: @pavelgj

Fix for next js warnings related to firebase
  js/core/src/tracing.ts
Owners: @pavelgj

fix
  go/ai/generate_test.go
Owners: @apascal07

remove test file
  js/core/package.json
  js/core/src/tracing.ts
Owners: @pavelgj

Run formatter
  js/core/src/tracing.ts
Owners: @pavelgj

update pnpm-lock file
  js/pnpm-lock.yaml
Owners: @pavelgj

refactor
  go/ai/generate.go
Owners: @apascal07

use require instead of import
  js/core/src/tracing.ts
Owners: @pavelgj

Update action_test.go
  go/plugins/googlecloud/action_test.go
Owners: @apascal07

Update slog_handler_test.go
  go/plugins/googlecloud/slog_handler_test.go
Owners: @apascal07

Update simple_joke.go
  go/samples/telemetry-test/simple/simple_joke.go
Owners: @apascal07

Add otel jaeger dependency to remove nextjs warning
  js/core/package.json
  js/pnpm-lock.yaml
Owners: @pavelgj

Revert back to using import
  js/core/src/tracing.ts
Owners: @pavelgj

Updated plugin APIs.
  go/genkit/genkit.go
  go/genkit/plugin.go
  go/plugins/alloydb/genkit.go
  go/plugins/alloydb/genkit_test.go
  go/plugins/compat_oai/anthropic/anthropic.go
  go/plugins/compat_oai/compat_oai.go
  go/plugins/compat_oai/openai/openai.go
  go/plugins/evaluators/evaluators.go
  go/plugins/firebase/firebase.go
  go/plugins/firebase/firebase_test.go
  go/plugins/googlecloud/googlecloud.go
  go/plugins/googlegenai/gemini.go
  go/plugins/googlegenai/googlegenai.go
  go/plugins/ollama/ollama.go
  go/plugins/pinecone/genkit.go
  go/plugins/pinecone/genkit_test.go
  go/plugins/postgresql/genkit.go
  go/plugins/postgresql/genkit_test.go
  go/plugins/vertexai/modelgarden/anthropic.go
  go/plugins/weaviate/weaviate.go
  go/plugins/weaviate/weaviate_test.go
  go/samples/ollama-vision/main.go
Owners: @apascal07

Refactored primitives to embed action instead of re-type.
  go/ai/embedder.go
  go/ai/evaluator.go
  go/ai/generate.go
  go/ai/option.go
  go/ai/prompt.go
  go/ai/prompt_test.go
  go/ai/retriever.go
  go/genkit/genkit.go
  go/genkit/plugin.go
  go/internal/registry/registry.go
  go/plugins/mcp/manager.go
  go/plugins/mcp/prompts.go
Owners: @apascal07

Fixed registration types.
  go/ai/embedder.go
  go/ai/evaluator.go
  go/ai/generate.go
  go/ai/retriever.go
  go/core/action.go
Owners: @apascal07

Fixed pointers.
  go/ai/embedder.go
  go/ai/evaluator.go
  go/ai/generate.go
  go/ai/retriever.go
Owners: @apascal07

Added `Register()` method on actions.
  go/ai/tools.go
  go/core/action.go
  go/core/flow.go
  go/genkit/genkit.go
Owners: @apascal07

Fixed tests.
  go/genkit/genkit.go
  go/plugins/alloydb/genkit_test.go
Owners: @apascal07

Fix tests.
  go/ai/evaluator_test.go
  go/ai/tools.go
Owners: @apascal07

Updated tracing.
  go/core/core.go
  go/core/tracing/tracing.go
  go/plugins/googlecloud/googlecloud.go
Owners: @apascal07

chore(go): update `go-genai` and `anthropic` SDK (#3429)
  go/go.mod
  go/go.sum
Owners: @apascal07

chore: fix simple typos
  js/core/src/schema.ts
  js/genkit/src/client/client.ts
  js/genkit/src/client/index.ts
  js/genkit/src/genkit-beta.ts
  js/genkit/src/genkit.ts
  js/genkit/tests/prompts_test.ts
  js/genkit/tests/session_test.ts
  js/plugins/compat-oai/src/model.ts
  js/plugins/compat-oai/tests/compat_oai_test.ts
  js/plugins/google-genai/src/vertexai/types.ts
  js/testapps/flow-simple-ai/src/index.ts
  py/packages/genkit/src/genkit/blocks/generate.py
  samples/js-schoolAgent/src/tools.ts
Owners: @pavelgj, @yesudeep

feat(install): improve CLI installer for cloud environments
  bin/install_cli
Owners: @pavelgj

feat(install): add command-line argument support with --help and validation
  bin/install_cli
Owners: @pavelgj

feat(install): add --debug flag and improve local install UX
  bin/install_cli
Owners: @pavelgj

chore(install): remove redundant repro workflow
  .github/workflows/repro-install-cli.yml
Owners: @pavelgj

docs(install): update docs to reflect accurate 'local' env variable option
  bin/install_cli
Owners: @pavelgj

fix: reorder Claude 4 model exports for consistency
  js/plugins/vertexai/src/modelgarden/index.ts
Owners: @pavelgj

feat(cli): add update check
  genkit-tools/cli/package.json
  genkit-tools/cli/src/cli.ts
  genkit-tools/cli/src/commands/update.ts
  genkit-tools/cli/src/utils/package-manager.ts
  genkit-tools/cli/src/utils/updates.ts
  genkit-tools/cli/tests/commands/update_test.ts
  genkit-tools/cli/tests/utils/updates_test.ts
  genkit-tools/pnpm-lock.yaml
Owners: @pavelgj

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj
