Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

reorder
  js/plugins/googleai/src/common.ts
Owners: @pavelgj

fix: list in migration docs (#1916)
  docs/migrating-from-0.9.md
Owners: @pavelgj

add test cases and minor refactor
  go/plugins/vertexai/modelgarden/anthropic.go
  go/plugins/vertexai/modelgarden/client.go
Owners: @apascal07

docs: Post-GA backports from google3
  docs/auth.md
Owners: @pavelgj

docs: Post-GA backports from google3
  docs/migrating-from-0.5.md
  docs/migrating-from-0.9.md
Owners: @pavelgj

docs: Post-GA backports from google3
  docs/index.md
Owners: @pavelgj

fix(js/plugins/google-cloud): Modify start times to ensure no overlap in exports
  js/plugins/google-cloud/src/gcpOpenTelemetry.ts
  js/pnpm-lock.yaml
  js/testapps/dev-ui-gallery/package.json
  js/testapps/dev-ui-gallery/src/genkit.ts
Owners: @pavelgj

fix(js/plugins/google-cloud): Implement forceFlush and shutdown hooks for metrics.
  js/plugins/google-cloud/src/gcpOpenTelemetry.ts
Owners: @pavelgj

docs: Post-GA backports from DevSite repo (#1922)
  docs/auth.md
  docs/index.md
  docs/migrating-from-0.5.md
  docs/migrating-from-0.9.md
Owners: @pavelgj

docs: fix typedoc.json for firebase plugin to include all modules
  js/plugins/firebase/typedoc.json
Owners: @pavelgj

docs: update title of migrating-from-0.5.md
  docs/migrating-from-0.5.md
Owners: @pavelgj

docs: fix typedoc.json for firebase plugin to include all modules (#1925)
  js/plugins/firebase/typedoc.json
Owners: @pavelgj

docs: update title of migrating-from-0.5.md (#1929)
  docs/migrating-from-0.5.md
Owners: @pavelgj

add claude client and test cases (genkit wiring missing)
  go/plugins/vertexai/modelgarden/anthropic.go
  go/plugins/vertexai/modelgarden/anthropic_test.go
  go/plugins/vertexai/modelgarden/client.go
  go/plugins/vertexai/modelgarden/modelgarden.go
  go/plugins/vertexai/modelgarden/modelgarden_test.go
Owners: @apascal07

fix(js/plugins/google-cloud): Update startTime mutation comment to include more of the why
  js/plugins/google-cloud/src/gcpOpenTelemetry.ts
Owners: @pavelgj

fix(js/plugins/google-cloud): Make metric export time intervals mutually exclusive (#1869)
  js/plugins/google-cloud/src/gcpOpenTelemetry.ts
  js/pnpm-lock.yaml
  js/testapps/dev-ui-gallery/package.json
  js/testapps/dev-ui-gallery/src/genkit.ts
Owners: @pavelgj

fix(go): err propagate and schema type integer (#1911)
  go/plugins/googleai/googleai.go
  go/plugins/googleai/googleai_test.go
Owners: @apascal07

feat(py): generate `schemas.py` from `genkit-schema.json` using datamodel-codegen #1807
  py/__init__.py
  py/bin/generate_schema_types
  py/bin/sanitize_schemas.py
  py/captainhook.json
  py/packages/genkit/src/genkit/core/schemas.py
  py/packages/genkit/src/genkit/veneer/__init__.py
  py/plugins/vertex-ai/src/__init__.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/__init__.py
  py/pyproject.toml
  py/uv.lock
Owners: @pavelgj, @yesudeep

fix(js/vertexai): workaround for tool calling issue in Vertex SDK
  js/plugins/vertexai/src/gemini.ts
Owners: @pavelgj

feat(py): generate `schemas.py` from `genkit-schema.json` using datamodel-codegen #1807 (#1808)
  py/__init__.py
  py/bin/generate_schema_types
  py/bin/sanitize_schemas.py
  py/captainhook.json
  py/packages/genkit/src/genkit/core/schemas.py
  py/packages/genkit/src/genkit/veneer/__init__.py
  py/plugins/vertex-ai/src/__init__.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/__init__.py
  py/pyproject.toml
  py/uv.lock
Owners: @pavelgj, @yesudeep

fix(js/vertexai): workaround for tool calling issue in Vertex SDK (#1937)
  js/plugins/vertexai/src/gemini.ts
Owners: @pavelgj

docs: Resolves TOC delta between GH and google3.
  docs/_guides.yaml
Owners: @pavelgj

chore(docs): added GA to js api ref
  js/typedoc-ga.mjs
  js/typedoc.json
Owners: @pavelgj

format
  js/typedoc.json
Owners: @pavelgj

chore(docs): added GA to js api ref (#1939)
  js/typedoc-ga.mjs
  js/typedoc.json
Owners: @pavelgj

wiring: system and user text messages + basic conf
  go/plugins/vertexai/modelgarden/anthropic.go
Owners: @apascal07

test: add model version test
  go/plugins/vertexai/modelgarden/modelgarden_test.go
Owners: @apascal07

tidy: added constants and docs
  go/plugins/vertexai/modelgarden/anthropic.go
  go/plugins/vertexai/modelgarden/client.go
  go/plugins/vertexai/modelgarden/modelgarden.go
  go/plugins/vertexai/modelgarden/modelgarden_test.go
Owners: @apascal07

docs: client.go docs
  go/plugins/vertexai/modelgarden/client.go
Owners: @apascal07

docs(observability): introduce observing ai workflows documentation
  docs/_guides.yaml
  docs/deploy-node.md
  docs/local-observability.md
  docs/monitoring.md
  docs/observability/getting-started.md
  docs/observability/troubleshooting.md
  docs/plugins/google-cloud.md
  js/plugins/firebase/README.md
Owners: @pavelgj

docs(observability): introduce observing ai workflows documentation (#1908)
  docs/_guides.yaml
  docs/deploy-node.md
  docs/local-observability.md
  docs/monitoring.md
  docs/observability/getting-started.md
  docs/observability/troubleshooting.md
  docs/plugins/google-cloud.md
  js/plugins/firebase/README.md
Owners: @pavelgj

Fix a line break that turned into a bullet point (#1909)
  docs/plugins/firebase.md
Owners: @pavelgj

Chat samples
  go/samples/chat/main.go
Owners: @apascal07

Merge main and fix conflicts
  go/genkit/chat_test.go
  go/samples/chat/main.go
Owners: @apascal07

fix(py): Applied pre-commit formatting according to settings
  .prettierignore
  py/bin/sanitize_schemas.py
  py/captainhook.json
  py/packages/genkit/src/genkit/ai/model.py
  py/packages/genkit/src/genkit/ai/prompt.py
  py/packages/genkit/src/genkit/core/action.py
  py/packages/genkit/src/genkit/core/reflection.py
  py/packages/genkit/src/genkit/core/registry.py
  py/packages/genkit/src/genkit/core/schemas.py
  py/packages/genkit/src/genkit/core/tracing.py
  py/packages/genkit/src/genkit/veneer/__init__.py
  py/packages/genkit/src/genkit/veneer/veneer.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/__init__.py
  py/pyproject.toml
  py/samples/hello/hello.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

fix(js/ai): swap out config as part of prompt/agent transfer
  js/ai/src/generate/action.ts
  js/core/src/action.ts
  js/core/src/error.ts
  js/core/src/reflection.ts
  js/genkit/src/registry.ts
  js/genkit/tests/chat_test.ts
  js/genkit/tests/prompts_test.ts
Owners: @pavelgj

format
  js/core/src/action.ts
  js/core/src/reflection.ts
  js/genkit/src/registry.ts
Owners: @pavelgj

feat(js/ai/googleai): added gemini-2.0-pro-exp-02-05 (#1920)
  js/plugins/googleai/src/gemini.ts
  js/plugins/googleai/src/index.ts
Owners: @pavelgj

feat(js/plugins/googleai): added GEMINI_API_KEY as possible env var for API key (#1917)
  js/plugins/googleai/src/common.ts
  js/plugins/googleai/src/embedder.ts
  js/plugins/googleai/src/gemini.ts
Owners: @pavelgj

fix(py): Applied pre-commit formatting according to settings (#1892)
  .prettierignore
  py/bin/sanitize_schemas.py
  py/captainhook.json
  py/packages/genkit/src/genkit/ai/model.py
  py/packages/genkit/src/genkit/ai/prompt.py
  py/packages/genkit/src/genkit/core/action.py
  py/packages/genkit/src/genkit/core/reflection.py
  py/packages/genkit/src/genkit/core/registry.py
  py/packages/genkit/src/genkit/core/schemas.py
  py/packages/genkit/src/genkit/core/tracing.py
  py/packages/genkit/src/genkit/veneer/__init__.py
  py/packages/genkit/src/genkit/veneer/veneer.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/__init__.py
  py/pyproject.toml
  py/samples/hello/hello.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj
