Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj

docs(js/samples): add readmes for all samples
  js/testapps/basic-gemini/README.md
  js/testapps/context-caching/README.md
  js/testapps/context-caching2/README.md
  js/testapps/dev-ui-gallery/README.md
  js/testapps/durable-streaming/README.md
  js/testapps/esm/README.md
  js/testapps/express/README.md
  js/testapps/flow-sample1/README.md
  js/testapps/flow-simple-ai/README.md
  js/testapps/format-tester/README.md
  js/testapps/model-armor/README.md
  js/testapps/model-tester/README.md
  js/testapps/multiagents-demo/README.md
  js/testapps/multimodal/README.md
  js/testapps/next/README.md
  js/testapps/prompt-file/README.md
  js/testapps/rag/README.md
  js/testapps/vertexai-modelgarden/README.md
  samples/js-angular/README.md
  samples/js-character-generator/README.md
  samples/js-coffee-shop/README.md
  samples/js-prompts/README.md
  samples/js-schoolAgent/README.md
Owners: @pavelgj

Update js/testapps/basic-gemini/README.md
  js/testapps/basic-gemini/README.md
Owners: @pavelgj

Update js/testapps/basic-gemini/README.md
  js/testapps/basic-gemini/README.md
Owners: @pavelgj

Update js/testapps/basic-gemini/README.md
  js/testapps/basic-gemini/README.md
Owners: @pavelgj

Update js/testapps/multiagents-demo/README.md
  js/testapps/multiagents-demo/README.md
Owners: @pavelgj

fix(conform): update py/tests/conform/setup.sh to setup ollama and pull models used
  .github/workflows/releasekit-uv.yml
  py/tests/conform/setup.sh
Owners: @pavelgj

fix(ci): releasekit-uv.yml
  .github/actions/run-releasekit/action.yml
  py/tests/conform/setup.sh
  py/tools/releasekit/src/releasekit/backends/vcs/__init__.py
  py/tools/releasekit/src/releasekit/backends/vcs/git.py
  py/tools/releasekit/src/releasekit/backends/vcs/mercurial.py
  py/tools/releasekit/src/releasekit/cli.py
  py/tools/releasekit/src/releasekit/prepare.py
  py/tools/releasekit/tests/_fakes/_vcs.py
  py/tools/releasekit/tests/rk_commitback_test.py
  py/tools/releasekit/tests/rk_prepare_test.py
  py/tools/releasekit/tests/rk_tags_test.py
Owners: @pavelgj, @yesudeep

fix(ci): python genkit v0.5.0 tags
  .github/workflows/releasekit-uv.yml
  bin/add_license
  bin/check_license
  py/tools/releasekit/README.md
  py/tools/releasekit/github/workflows/releasekit-cargo.yml
  py/tools/releasekit/github/workflows/releasekit-dart.yml
  py/tools/releasekit/github/workflows/releasekit-go.yml
  py/tools/releasekit/github/workflows/releasekit-gradle.yml
  py/tools/releasekit/github/workflows/releasekit-pnpm.yml
  py/tools/releasekit/github/workflows/releasekit-uv.yml
  py/tools/releasekit/src/releasekit/backends/vcs/__init__.py
  py/tools/releasekit/src/releasekit/backends/vcs/git.py
  py/tools/releasekit/src/releasekit/backends/vcs/mercurial.py
  py/tools/releasekit/src/releasekit/init.py
  py/tools/releasekit/tests/_fakes/_vcs.py
  py/tools/releasekit/tests/rk_invariants_test.py
  py/tools/releasekit/tests/rk_tags_test.py
  releasekit.toml
Owners: @pavelgj, @yesudeep

feat(py/genkit): add multipart tool support (tool.v2)
  py/PARITY_AUDIT.md
  py/packages/genkit/src/genkit/ai/_registry.py
  py/packages/genkit/src/genkit/blocks/generate.py
  py/packages/genkit/src/genkit/core/action/types.py
  py/packages/genkit/tests/genkit/ai/multipart_tool_test.py
  py/pyproject.toml
  py/samples/framework-multipart-tools/LICENSE
  py/samples/framework-multipart-tools/README.md
  py/samples/framework-multipart-tools/pyproject.toml
  py/samples/framework-multipart-tools/run.sh
  py/samples/framework-multipart-tools/src/main.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

refactor: extract common_params dict for tool registration (review feedback)
  py/packages/genkit/src/genkit/ai/_registry.py
Owners: @pavelgj, @yesudeep

fix: revert common_params to explicit kwargs for ty type checker compatibility
  py/packages/genkit/src/genkit/ai/_registry.py
Owners: @pavelgj, @yesudeep

fix(py/genkit): handle tool.v2 multipart responses in _resolve_tool_request
  py/packages/genkit/src/genkit/blocks/generate.py
  py/packages/genkit/tests/genkit/ai/multipart_tool_test.py
  py/samples/framework-multipart-tools/pyproject.toml
Owners: @pavelgj, @yesudeep

test(py/genkit): add end-to-end generate tests for multipart tool responses
  py/packages/genkit/tests/genkit/blocks/generate_test.py
Owners: @pavelgj, @yesudeep

chore: add framework-multipart-tools to releasekit.toml samples group
  releasekit.toml
Owners: @pavelgj

fix(releasekit): patch fetch_license_texts at call site, not definition site
  py/tools/releasekit/tests/rk_license_fetch_test.py
Owners: @pavelgj, @yesudeep

fix(py/genkit): remove unused ToolResponse import in generate_test.py
  py/packages/genkit/tests/genkit/blocks/generate_test.py
Owners: @pavelgj, @yesudeep

feat(py/genkit): add context, name, client_header to Genkit constructor
  py/packages/genkit/src/genkit/ai/__init__.py
  py/packages/genkit/src/genkit/ai/_aio.py
  py/packages/genkit/src/genkit/ai/_base_async.py
  py/packages/genkit/src/genkit/ai/_runtime.py
  py/packages/genkit/src/genkit/core/__init__.py
  py/packages/genkit/src/genkit/core/constants.py
  py/packages/genkit/src/genkit/core/registry.py
  py/packages/genkit/tests/genkit/ai/genkit_api_test.py
  py/packages/genkit/tests/genkit/ai/runtime_test.py
  py/packages/genkit/tests/genkit/core/constants_test.py
Owners: @pavelgj, @yesudeep

fix(py/genkit): accept None in set_client_header for reset
  py/packages/genkit/src/genkit/core/constants.py
  py/packages/genkit/tests/genkit/ai/genkit_api_test.py
  py/packages/genkit/tests/genkit/core/constants_test.py
Owners: @pavelgj, @yesudeep

feat(py/genkit): merge registry.context into action execution, add GENKIT_RUNTIME_ID
  py/packages/genkit/src/genkit/ai/_runtime.py
  py/packages/genkit/src/genkit/core/action/_action.py
  py/packages/genkit/src/genkit/core/registry.py
  py/packages/genkit/tests/genkit/ai/genkit_api_test.py
  py/packages/genkit/tests/genkit/ai/runtime_test.py
  py/samples/framework-context-demo/src/main.py
Owners: @pavelgj, @yesudeep

Update compat_oai_audio_test.ts
  js/plugins/compat-oai/tests/compat_oai_audio_test.ts
Owners: @pavelgj

fix(releasekit): add missing spdx.schema.json for CycloneDX schema validation
  py/tools/releasekit/tests/rk_sbom_test.py
  py/tools/releasekit/tests/schemas/NOTICE
  py/tools/releasekit/tests/schemas/spdx.schema.json
Owners: @pavelgj, @yesudeep

fix(releasekit): address PR review comments
  py/bin/fix_missing_class_docstrings.py
  py/tools/releasekit/src/releasekit/checks/_license_fix.py
Owners: @pavelgj, @yesudeep

fix(releasekit): resolve spdx.schema.json ref in SBOM validation backend
  py/plugins/firebase/src/genkit/plugins/firebase/tests/firebase_telemetry_test.py
  py/tools/releasekit/docs/docs/internals/license-data.md
  py/tools/releasekit/pyproject.toml
  py/tools/releasekit/src/releasekit/backends/validation/sbom.py
  py/tools/releasekit/src/releasekit/checks/_license_graph.py
  py/tools/releasekit/src/releasekit/checks/_runner.py
  py/tools/releasekit/src/releasekit/cli.py
  py/tools/releasekit/src/releasekit/data/license_compatibility.toml
  py/tools/releasekit/src/releasekit/data/licenses.toml
  py/tools/releasekit/src/releasekit/spdx_expr.py
  py/tools/releasekit/tests/rk_validation_sbom_test.py
  releasekit.toml
Owners: @pavelgj, @yesudeep

fix(py/genkit): add missing SPDX-License-Identifier header to resource.py
  py/packages/genkit/src/genkit/blocks/resource.py
Owners: @pavelgj, @yesudeep

fix: review comments
  go/plugins/internal/anthropic/anthropic.go
Owners: @apascal07

Python SDK beta proposal
  py/docs/python_beta_api_proposal.md
  py/docs/python_beta_sdk_audit.md
  py/docs/python_beta_sdk_design.md
Owners: @pavelgj

Update py/docs/python_beta_sdk_design.md
  py/docs/python_beta_sdk_design.md
Owners: @pavelgj

Update py/docs/python_beta_sdk_design.md
  py/docs/python_beta_sdk_design.md
Owners: @pavelgj

Update py/docs/python_beta_sdk_design.md
  py/docs/python_beta_sdk_design.md
Owners: @pavelgj

Update py/docs/python_beta_sdk_audit.md
  py/docs/python_beta_sdk_audit.md
Owners: @pavelgj

Update python_beta_api_proposal.md
  py/docs/python_beta_api_proposal.md
Owners: @pavelgj

feat(releasekit): standardize workflows and update docs for composite actions
  .github/actions/run-releasekit/action.yml
  .github/workflows/releasekit-uv.yml
  py/tools/releasekit/action.yml
  py/tools/releasekit/docs/docs/guides/beginners-guide.md
  py/tools/releasekit/docs/docs/guides/ci-cd.md
  py/tools/releasekit/docs/docs/guides/rollback.md
  py/tools/releasekit/docs/docs/guides/workflow-templates.md
  py/tools/releasekit/docs/docs/reference/github-action.md
  py/tools/releasekit/docs/mkdocs.yml
  py/tools/releasekit/github/actions/run-releasekit/action.yml
  py/tools/releasekit/github/workflows/releasekit-cargo.yml
  py/tools/releasekit/github/workflows/releasekit-dart.yml
  py/tools/releasekit/github/workflows/releasekit-go.yml
  py/tools/releasekit/github/workflows/releasekit-gradle.yml
  py/tools/releasekit/github/workflows/releasekit-pnpm.yml
  py/tools/releasekit/github/workflows/releasekit-rollback.yml
  py/tools/releasekit/github/workflows/releasekit-uv.yml
  py/tools/releasekit/src/releasekit/cli.py
  py/tools/releasekit/src/releasekit/prepare.py
Owners: @pavelgj, @yesudeep

fix links
  py/docs/python_beta_sdk_design.md
Owners: @pavelgj

fix: Fixed streaming behaviour for samples
  py/samples/shared/flows.py
Owners: @pavelgj, @yesudeep

enhance model resolution logic
  go/plugins/anthropic/anthropic.go
  go/plugins/anthropic/anthropic_test.go
Owners: @apascal07

added middleware implementations
  go/ai/document.go
  go/ai/document_test.go
  go/ai/generate.go
  go/ai/middleware.go
  go/ai/tools.go
  go/genkit/genkit.go
  go/plugins/middleware/fallback.go
  go/plugins/middleware/fallback_test.go
  go/plugins/middleware/plugin.go
  go/plugins/middleware/retry.go
  go/plugins/middleware/retry_test.go
  go/plugins/middleware/subagent_design.md
  go/plugins/middleware/tool_approval.go
  go/plugins/middleware/tool_approval_test.go
  go/plugins/middleware/tool_error_handler.go
Owners: @apascal07, @pavelgj

feat(ci): standardize releasekit-uv workflow to use composite action pattern
  .github/actions/run-releasekit/action.yml
  .github/workflows/releasekit-uv.yml
  py/tools/releasekit/src/releasekit/cli.py
  py/tools/releasekit/src/releasekit/prepare.py
Owners: @pavelgj, @yesudeep

feat(releasekit): standardize template workflows and update docs
  py/tools/releasekit/action.yml
  py/tools/releasekit/docs/docs/guides/beginners-guide.md
  py/tools/releasekit/docs/docs/guides/ci-cd.md
  py/tools/releasekit/docs/docs/guides/rollback.md
  py/tools/releasekit/docs/docs/guides/workflow-templates.md
  py/tools/releasekit/docs/docs/reference/github-action.md
  py/tools/releasekit/docs/mkdocs.yml
  py/tools/releasekit/github/actions/run-releasekit/action.yml
  py/tools/releasekit/github/workflows/releasekit-cargo.yml
  py/tools/releasekit/github/workflows/releasekit-dart.yml
  py/tools/releasekit/github/workflows/releasekit-go.yml
  py/tools/releasekit/github/workflows/releasekit-gradle.yml
  py/tools/releasekit/github/workflows/releasekit-pnpm.yml
  py/tools/releasekit/github/workflows/releasekit-rollback.yml
  py/tools/releasekit/github/workflows/releasekit-uv.yml
Owners: @pavelgj

Update genkit.go
  go/genkit/genkit.go
Owners: @apascal07

clean up dotprompt section
  py/docs/python_beta_sdk_design.md
Owners: @pavelgj
