Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

Update js/plugins/mcp/README.md
  js/plugins/mcp/README.md
Owners: @pavelgj

Update js/plugins/mcp/package.json
  js/plugins/mcp/package.json
Owners: @pavelgj

updated deps
  js/plugins/mcp/package.json
  js/plugins/mcp/src/server.ts
  js/pnpm-lock.yaml
Owners: @pavelgj

resolve comments
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
Owners: @pavelgj, @yesudeep

order of models
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
Owners: @pavelgj, @yesudeep

feat(py): Initialize dynamic model registration for Gemini (#2908)
  py/packages/genkit/src/genkit/ai/_plugin.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/plugins/google-genai/test/models/test_googlegenai_gemini.py
  py/plugins/google-genai/test/test_google_plugin.py
  py/samples/google-genai-hello/src/google_genai_hello.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

feat(cli): made telemetry index persistent and self-maintaining
  genkit-tools/cli/src/utils/manager-utils.ts
  genkit-tools/pnpm-lock.yaml
  genkit-tools/telemetry-server/package.json
  genkit-tools/telemetry-server/src/localFileTraceStore.ts
  genkit-tools/telemetry-server/src/utils/version.ts
  genkit-tools/telemetry-server/tests/file_store_test.ts
Owners: @pavelgj

remove version.ts
  .gitignore
  genkit-tools/telemetry-server/src/utils/version.ts
Owners: @pavelgj

fmt
  genkit-tools/telemetry-server/src/localFileTraceStore.ts
Owners: @pavelgj

fix: tests for GoogleAI plugin
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/google-genai/test/test_google_plugin.py
Owners: @pavelgj, @yesudeep

feedback
  genkit-tools/telemetry-server/src/localFileTraceStore.ts
Owners: @pavelgj

fix: add another type for _inject_attribution_headers
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
Owners: @pavelgj, @yesudeep

chore(py): Tests for GoogleAI plugin (#2919)
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/google-genai/test/test_google_plugin.py
Owners: @pavelgj, @yesudeep

feat(py/plugins/genai): allow specifying API Key for VertexAI (#2911)
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
Owners: @pavelgj, @yesudeep

feat(cli): made telemetry index persistent and self-maintaining (#2918)
  .gitignore
  genkit-tools/cli/src/utils/manager-utils.ts
  genkit-tools/pnpm-lock.yaml
  genkit-tools/telemetry-server/package.json
  genkit-tools/telemetry-server/src/localFileTraceStore.ts
  genkit-tools/telemetry-server/tests/file_store_test.ts
Owners: @pavelgj

chore(js): added missing exports and typedoc config for `genkit/context` (#2909)
  js/ai/src/index.ts
  js/genkit/src/common.ts
  js/genkit/typedoc.json
Owners: @pavelgj

docs: fix imports (#2914)
  docs/interrupts.md
  docs/tool-calling.md
Owners: @pavelgj

test: work in progress
  go/plugins/postgresql/engine.go
  go/plugins/postgresql/genkit.go
  go/plugins/postgresql/genkit_test.go
  go/plugins/postgresql/indexer_test.go
  go/plugins/postgresql/mocks.go
  go/plugins/postgresql/retriever.go
  go/plugins/postgresql/retriever_test.go
Owners: @apascal07

Update reflection.go
  go/genkit/reflection.go
Owners: @apascal07

chore: bump @genkit-ai/tools-common version to @genkit-ai/tools-common@1.9.0
  genkit-tools/common/package.json
Owners: @pavelgj

chore: bump genkit-cli version to genkit-cli@1.9.0
  genkit-tools/cli/package.json
Owners: @pavelgj

chore: bump @genkit-ai/telemetry-server version to @genkit-ai/telemetry-server@1.9.0
  genkit-tools/telemetry-server/package.json
Owners: @pavelgj

chore: bump @genkit-ai/core version to @genkit-ai/core@1.9.0
  js/core/package.json
Owners: @pavelgj

chore: bump @genkit-ai/ai version to @genkit-ai/ai@1.9.0
  js/ai/package.json
Owners: @pavelgj

chore: bump genkit version to genkit@1.9.0
  js/genkit/package.json
Owners: @pavelgj

chore: bump genkitx-chromadb version to genkitx-chromadb@1.9.0
  js/plugins/chroma/package.json
Owners: @pavelgj

chore: bump @genkit-ai/dev-local-vectorstore version to @genkit-ai/dev-local-vectorstore@1.9.0
  js/plugins/dev-local-vectorstore/package.json
Owners: @pavelgj

chore: bump @genkit-ai/evaluator version to @genkit-ai/evaluator@1.9.0
  js/plugins/evaluators/package.json
Owners: @pavelgj

chore: bump @genkit-ai/firebase version to @genkit-ai/firebase@1.9.0
  js/plugins/firebase/package.json
Owners: @pavelgj

chore: bump @genkit-ai/google-cloud version to @genkit-ai/google-cloud@1.9.0
  js/plugins/google-cloud/package.json
Owners: @pavelgj

chore: bump @genkit-ai/googleai version to @genkit-ai/googleai@1.9.0
  js/plugins/googleai/package.json
Owners: @pavelgj

chore: bump genkitx-langchain version to genkitx-langchain@1.9.0
  js/plugins/langchain/package.json
Owners: @pavelgj

chore: bump @genkit-ai/next version to @genkit-ai/next@1.9.0
  js/plugins/next/package.json
Owners: @pavelgj

chore: bump genkitx-ollama version to genkitx-ollama@1.9.0
  js/plugins/ollama/package.json
Owners: @pavelgj

chore: bump genkitx-pinecone version to genkitx-pinecone@1.9.0
  js/plugins/pinecone/package.json
Owners: @pavelgj

chore: bump @genkit-ai/vertexai version to @genkit-ai/vertexai@1.9.0
  js/plugins/vertexai/package.json
Owners: @pavelgj

chore: bump @genkit-ai/checks version to @genkit-ai/checks@1.9.0
  js/plugins/checks/package.json
Owners: @pavelgj

chore: bump genkitx-mcp version to genkitx-mcp@1.9.0
  js/plugins/mcp/package.json
Owners: @pavelgj

chore: bump @genkit-ai/express version to @genkit-ai/express@1.9.0
  js/plugins/express/package.json
Owners: @pavelgj

feat: Add Cloud SQL for PostgreSQL plugin with indexer and retriever implementations
  docs/plugins/cloud-sql-pg.md
  js/plugins/cloud-sql-pg/README.md
  js/plugins/cloud-sql-pg/jest.config.js
  js/plugins/cloud-sql-pg/package.json
  js/plugins/cloud-sql-pg/src/engine.ts
  js/plugins/cloud-sql-pg/src/index.ts
  js/plugins/cloud-sql-pg/src/utils/index.ts
  js/plugins/cloud-sql-pg/test/engine.test.ts
  js/plugins/cloud-sql-pg/test/indexer.test.ts
Owners: @pavelgj

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj
