Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj

chore: bump genkitx-pinecone version to genkitx-pinecone@1.0.0-rc.18
  js/plugins/pinecone/package.json
Owners: @pavelgj

chore: bump @genkit-ai/vertexai version to @genkit-ai/vertexai@1.0.0-rc.18
  js/plugins/vertexai/package.json
Owners: @pavelgj

chore: bump @genkit-ai/checks version to @genkit-ai/checks@1.0.0-rc.18
  js/plugins/checks/package.json
Owners: @pavelgj

chore: bump genkitx-mcp version to genkitx-mcp@1.0.0-rc.18
  js/plugins/mcp/package.json
Owners: @pavelgj

chore: bump @genkit-ai/express version to @genkit-ai/express@1.0.0-rc.18
  js/plugins/express/package.json
Owners: @pavelgj

Checkpoint. Need to fix parent
  js/ai/src/embedder.ts
  js/ai/src/prompt.ts
  js/ai/src/tool.ts
  js/core/src/action.ts
  js/core/src/context.ts
  js/core/src/flow.ts
  js/core/src/registry.ts
  js/genkit/src/genkit.ts
  js/plugins/express/package.json
  js/plugins/express/src/index.ts
  js/plugins/express/tests/express_test.ts
  js/pnpm-lock.yaml
Owners: @pavelgj

chore: update samples to 1.0.0.rc.18
  samples/js-angular/genkit-app/package-lock.json
  samples/js-angular/genkit-app/package.json
  samples/js-angular/server/package-lock.json
  samples/js-angular/server/package.json
  samples/js-chatbot/genkit-app/package-lock.json
  samples/js-chatbot/genkit-app/package.json
  samples/js-chatbot/server/package-lock.json
  samples/js-chatbot/server/package.json
  samples/js-coffee-shop/package-lock.json
  samples/js-coffee-shop/package.json
  samples/js-menu/package-lock.json
  samples/js-menu/package.json
  samples/js-prompts/package-lock.json
  samples/js-prompts/package.json
  samples/js-schoolAgent/package-lock.json
  samples/js-schoolAgent/package.json
Owners: @pavelgj

ignore defaultModel if a model is provided in config
  go/plugins/dotprompt/dotprompt.go
  go/samples/coffee-shop/main.go
Owners: @apascal07

Checkpoint to get peer thoughts
  js/ai/src/prompt.ts
  js/ai/src/retriever.ts
  js/ai/src/session.ts
  js/ai/src/tool.ts
  js/core/src/context.ts
  js/core/src/registry.ts
  js/plugins/express/src/index.ts
Owners: @pavelgj

chore: update samples to 1.0.0.rc.18 (#1883)
  samples/js-angular/genkit-app/package-lock.json
  samples/js-angular/genkit-app/package.json
  samples/js-angular/server/package-lock.json
  samples/js-angular/server/package.json
  samples/js-chatbot/genkit-app/package-lock.json
  samples/js-chatbot/genkit-app/package.json
  samples/js-chatbot/server/package-lock.json
  samples/js-chatbot/server/package.json
  samples/js-coffee-shop/package-lock.json
  samples/js-coffee-shop/package.json
  samples/js-menu/package-lock.json
  samples/js-menu/package.json
  samples/js-prompts/package-lock.json
  samples/js-prompts/package.json
  samples/js-schoolAgent/package-lock.json
  samples/js-schoolAgent/package.json
Owners: @pavelgj

fix: graceful handling of model input conversion
  genkit-tools/common/src/eval/validate.ts
  genkit-tools/common/src/utils/eval.ts
Owners: @pavelgj

fixes
  docs/migrating-from-0.9.md
Owners: @pavelgj

fix: fallback to default model if no model is given
  go/plugins/dotprompt/dotprompt.go
  go/plugins/dotprompt/genkit.go
Owners: @apascal07

more fixes
  docs/migrating-from-0.9.md
Owners: @pavelgj

auth
  docs/migrating-from-0.9.md
Owners: @pavelgj

docs: migrate from 0.9 guide (#1873)
  docs/migrating-from-0.9.md
Owners: @pavelgj

actually bump version
  js/ai/package.json
  js/core/package.json
  js/plugins/evaluators/package.json
  js/pnpm-lock.yaml
Owners: @pavelgj

fix: be more specific about Vertex project id in auth
  docs/plugins/vertex-ai.md
Owners: @pavelgj

chore(js): bump dotprompt version in the lock file (#1864)
  js/ai/package.json
  js/core/package.json
  js/plugins/evaluators/package.json
  js/pnpm-lock.yaml
Owners: @pavelgj

fix: be more specific about Vertex project id in auth (#1887)
  docs/plugins/vertex-ai.md
Owners: @pavelgj

fix: graceful handling of model input conversion (#1885)
  genkit-tools/common/src/eval/validate.ts
  genkit-tools/common/src/utils/eval.ts
Owners: @pavelgj

add model garden + claude models
  go/plugins/internal/gemini/gemini.go
  go/plugins/vertexai/modelgarden/anthropic.go
Owners: @apascal07

fix typo in error log
  go/plugins/dotprompt/genkit.go
Owners: @apascal07

feat(go): add gemini-2.0 models to vertexAI and googleAI plugins (#1876)
  go/ai/gen.go
  go/plugins/dotprompt/dotprompt.go
  go/plugins/dotprompt/genkit.go
  go/plugins/googleai/googleai.go
  go/plugins/internal/gemini/gemini.go
  go/plugins/vertexai/vertexai.go
  go/samples/coffee-shop/main.go
  go/samples/menu/main.go
  go/samples/menu/s01.go
  go/samples/menu/s02.go
  go/samples/menu/s03.go
  go/samples/menu/s04.go
  go/samples/menu/s05.go
Owners: @apascal07

Update docs/context.md
  docs/context.md
Owners: @pavelgj

docs: minor editorial revisions to context.md (#1878)
  docs/context.md
Owners: @pavelgj

chore: update to 1.0 syntax
  samples/js-character-generator/index.ts
  samples/js-character-generator/package-lock.json
  samples/js-character-generator/package.json
Owners: @pavelgj

fix: prettier fixes
  samples/js-character-generator/index.ts
Owners: @pavelgj

fix: update to rc.18
  samples/js-character-generator/package-lock.json
Owners: @pavelgj

fix: include package.lock
  samples/js-character-generator/package-lock.json
Owners: @pavelgj

fix: fix run command
  samples/js-character-generator/package.json
Owners: @pavelgj

Export json fields
  go/genkit/session.go
Owners: @apascal07

Get Python code closer to PEP 8 standard
  .gitignore
  py/__init__.py
  py/packages/genkit/src/genkit/ai/model.py
  py/packages/genkit/src/genkit/ai/prompt.py
  py/packages/genkit/src/genkit/core/action.py
  py/packages/genkit/src/genkit/core/reflection.py
  py/packages/genkit/src/genkit/core/registry.py
  py/packages/genkit/src/genkit/core/schemas.py
  py/packages/genkit/src/genkit/core/tracing.py
  py/packages/genkit/src/genkit/veneer/__init__.py
  py/packages/genkit/src/genkit/veneer/veneer.py
  py/plugins/vertex-ai/src/__init__.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/__init__.py
  py/samples/hello/hello.py
Owners: @pavelgj, @yesudeep

Updated docs landing
  docs/index.md
Owners: @pavelgj

chore(js/genkit): make beta export a superset of stable instead of a diff
  js/genkit/src/beta.ts
  js/genkit/src/common.ts
  js/genkit/src/index.ts
Owners: @pavelgj

make export patterns more consistent
  js/genkit/src/beta.ts
  js/genkit/src/genkit-beta.ts
  js/genkit/src/genkit.ts
Owners: @pavelgj

Updated agent sample
  docs/index.md
Owners: @pavelgj

format;
  js/genkit/src/beta.ts
  js/genkit/src/index.ts
Owners: @pavelgj

merge oops
  js/genkit/src/index.ts
Owners: @pavelgj

chore(py): update py/bin/setup for ubuntu 22.04 #1850
  py/bin/setup
  tests/specs/generate.yaml
Owners: @pavelgj
