Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

fix
  genkit-tools/telemetry-server/src/index.ts
Owners: @pavelgj

format
  genkit-tools/common/src/manager/manager.ts
Owners: @pavelgj

fix(js/plugins/anthropic): pass through constrained output options correctly
  js/plugins/anthropic/src/models.ts
  js/plugins/anthropic/src/runner/beta.ts
  js/plugins/anthropic/tests/live_test.ts
  js/plugins/anthropic/tests/mocks/anthropic-client.ts
  js/plugins/anthropic/tests/structured_output_test.ts
Owners: @pavelgj

feat(genkit-tools/evals): Move metricsMetadata to eval run key (#3802)
  genkit-tools/common/src/eval/evaluate.ts
  genkit-tools/common/src/types/eval.ts
Owners: @pavelgj

fix(genkit-tool/common): fixed ToolResponse interface naming typo
  genkit-tools/common/src/types/parts.ts
Owners: @pavelgj

probable fix?
  genkit-tools/cli/context/GENKIT.go.md
  genkit-tools/cli/src/mcp/flows.ts
  genkit-tools/cli/src/mcp/prompts/init.ts
  genkit-tools/cli/src/mcp/runtime.ts
  genkit-tools/cli/src/mcp/server.ts
  genkit-tools/cli/src/mcp/trace.ts
  genkit-tools/cli/src/mcp/util.ts
  genkit-tools/common/src/manager/manager.ts
Owners: @pavelgj

fix(genkit-tool/common): fixed ToolResponse interface naming typo (#3889)
  genkit-tools/common/src/types/parts.ts
Owners: @pavelgj

chore(js): cleanup react dev deps
  js/plugins/next/package.json
  js/pnpm-lock.yaml
  js/testapps/next/package.json
Owners: @pavelgj

chore(js): cleanup react dev deps (#3890)
  js/plugins/next/package.json
  js/pnpm-lock.yaml
  js/testapps/next/package.json
Owners: @pavelgj

chore(js/testapps): added missing photo for compap-oai testapp
  js/testapps/compat-oai/photo.jpg
Owners: @pavelgj

chore: CLI version bump
  genkit-tools/cli/package.json
  genkit-tools/common/package.json
  genkit-tools/telemetry-server/package.json
Owners: @pavelgj

chore: JS version bump
  js/ai/package.json
  js/core/package.json
  js/genkit/package.json
  js/plugins/checks/package.json
  js/plugins/chroma/package.json
  js/plugins/cloud-sql-pg/package.json
  js/plugins/compat-oai/package.json
  js/plugins/dev-local-vectorstore/package.json
  js/plugins/evaluators/package.json
  js/plugins/express/package.json
  js/plugins/firebase/package.json
  js/plugins/google-cloud/package.json
  js/plugins/google-genai/package.json
  js/plugins/googleai/package.json
  js/plugins/langchain/package.json
  js/plugins/mcp/package.json
  js/plugins/next/package.json
  js/plugins/ollama/package.json
  js/plugins/pinecone/package.json
  js/plugins/vertexai/package.json
Owners: @pavelgj

fix(anthropic): fix and add tests
  js/plugins/anthropic/tests/structured_output_test.ts
Owners: @pavelgj

feat(genkit-tools/mcp): Add README for Genkit MCP Server
  genkit-tools/cli/src/mcp/README.md
Owners: @pavelgj

feat(genkit-tools/mcp): Add README for Genkit MCP Server (#3892)
  genkit-tools/cli/src/mcp/README.md
Owners: @pavelgj

address comments
  go/core/action.go
  go/core/api/action.go
  go/core/flow.go
  go/core/tracing/tracing.go
  go/genkit/reflection.go
Owners: @apascal07

Add errorResponse type
  go/genkit/reflection.go
Owners: @apascal07

refer to schemas using strings
  go/ai/option.go
  go/ai/prompt.go
  go/ai/prompt_test.go
  go/core/api/registry.go
  go/genkit/genkit.go
  go/internal/registry/registry.go
  go/samples/prompts/main.go
Owners: @apascal07

update comments and remove dead code
  go/ai/option.go
  go/ai/prompt_test.go
  go/internal/registry/registry.go
  go/plugins/googlegenai/gemini.go
  go/samples/prompts/main.go
Owners: @apascal07

fix(go): add automatic telemetry metrics for background models (#3841)
  go/ai/background_model.go
  go/ai/model_middleware.go
  go/plugins/googlegenai/veo.go
Owners: @apascal07

Added support for multi-part tools.
  go/ai/format_enum.go
  go/ai/gen.go
  go/ai/generate.go
  go/ai/generate_test.go
  go/ai/option.go
  go/ai/option_test.go
  go/ai/tools.go
  go/core/api/action.go
  go/core/schemas.config
  go/genkit/genkit.go
  go/internal/base/json.go
  go/internal/base/json_test.go
  go/plugins/mcp/tools.go
Owners: @apascal07, @pavelgj

Fixed tests.
  go/ai/action_test.go
  go/ai/generate_test.go
  go/ai/prompt_test.go
Owners: @apascal07

refactor(anthropic): beta api addition moved
  js/plugins/anthropic/src/runner/beta.ts
Owners: @pavelgj

chore(anthropic): remove some comments
  js/plugins/anthropic/src/runner/beta.ts
Owners: @pavelgj

refactor(anthropic): clean code a bit
  js/plugins/anthropic/src/runner/beta.ts
  js/plugins/anthropic/tests/live_test.ts
Owners: @pavelgj

feedback
  genkit-tools/cli/src/mcp/prompts/init.ts
  genkit-tools/cli/src/mcp/runtime.ts
Owners: @pavelgj

do not merge: dummy test
  go/plugins/googlegenai/googleai_live_test.go
Owners: @apascal07

Removed `NewMultipartTool` from `genkit` package.
  go/genkit/genkit.go
Owners: @apascal07

Address fedback
  genkit-tools/telemetry-server/src/broadcast-manager.ts
  genkit-tools/telemetry-server/src/index.ts
  genkit-tools/telemetry-server/tests/broadcast_manager_test.ts
  genkit-tools/telemetry-server/tests/file_store_test.ts
  js/ai/src/prompt.ts
  js/core/src/reflection.ts
  js/core/src/tracing/instrumentation.ts
Owners: @pavelgj

Update genkit-tools/common/src/types/trace.ts
  genkit-tools/common/src/types/trace.ts
Owners: @pavelgj

format
  genkit-tools/telemetry-server/src/broadcast-manager.ts
  genkit-tools/telemetry-server/tests/broadcast_manager_test.ts
Owners: @pavelgj

Update genkit-tools/telemetry-server/src/file-trace-store.ts
  genkit-tools/telemetry-server/src/file-trace-store.ts
Owners: @pavelgj

Address comments
  genkit-tools/telemetry-server/src/file-trace-store.ts
  js/core/src/action.ts
  js/core/src/reflection.ts
Owners: @pavelgj

Format
  js/core/src/reflection.ts
Owners: @pavelgj

update genkit schema
  genkit-tools/genkit-schema.json
Owners: @pavelgj

Update go/core/tracing/tracing.go
  go/core/tracing/tracing.go
Owners: @apascal07

Update go/core/tracing/tracing.go
  go/core/tracing/tracing.go
Owners: @apascal07

remove sending Access-Control-Allow-Headers
  genkit-tools/common/src/server/server.ts
Owners: @pavelgj

fix comments
  js/core/src/reflection.ts
Owners: @pavelgj

remove from RunInNewSpan
  go/ai/evaluator.go
  go/ai/generate.go
  go/core/action.go
  go/core/flow.go
  go/core/tracing/tracing.go
  go/core/tracing/tracing_test.go
  go/genkit/reflection.go
Owners: @apascal07

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj
