Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj

Refactor: Rename ImagenInstance to VeoInstance
  js/plugins/googleai/src/veo.ts
Owners: @pavelgj

Fix: Set finishReason to 'stop' when VEO operation is done
  js/plugins/googleai/src/veo.ts
Owners: @pavelgj

update schemas
  genkit-tools/genkit-schema.json
  py/packages/genkit/src/genkit/core/typing.py
Owners: @pavelgj, @yesudeep

Update googleai_live_test.go
  go/plugins/googlegenai/googleai_live_test.go
Owners: @apascal07

Update js/genkit/src/genkit-beta.ts
  js/genkit/src/genkit-beta.ts
Owners: @pavelgj

feat(go/plugins/googlegenai): add dynamic model registration (#2931)
  go/ai/prompt_test.go
  go/genkit/genkit.go
  go/genkit/plugin.go
  go/genkit/reflection.go
  go/plugins/googlegenai/googleai_live_test.go
  go/plugins/googlegenai/googlegenai.go
  go/plugins/googlegenai/models.go
  go/plugins/googlegenai/vertexai_live_test.go
  go/samples/basic-gemini/main.go
  go/samples/prompts/main.go
Owners: @apascal07

feat(js/plugins/googleai): added support for imagen and veo models to googleai plugin (#3024)
  .gitignore
  genkit-tools/common/src/types/model.ts
  genkit-tools/genkit-schema.json
  js/ai/src/check-operation.ts
  js/ai/src/generate.ts
  js/ai/src/generate/action.ts
  js/ai/src/generate/response.ts
  js/ai/src/index.ts
  js/ai/src/model.ts
  js/genkit/src/genkit-beta.ts
  js/genkit/src/genkit.ts
  js/genkit/src/model.ts
  js/genkit/tests/generate_test.ts
  js/plugins/google-cloud/src/telemetry/generate.ts
  js/plugins/googleai/src/imagen.ts
  js/plugins/googleai/src/index.ts
  js/plugins/googleai/src/predict.ts
  js/plugins/googleai/src/veo.ts
  js/pnpm-lock.yaml
  js/testapps/flow-simple-ai/package.json
  js/testapps/flow-simple-ai/src/index.ts
  py/packages/genkit/src/genkit/core/typing.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

add opus and sonnet 4 models
  go/plugins/vertexai/modelgarden/anthropic_live_test.go
  go/plugins/vertexai/modelgarden/models.go
Owners: @apascal07

chore(go/plugins/vertexai/modelgarden): add claude opus and sonnet 4 models (#3066)
  go/plugins/vertexai/modelgarden/anthropic_live_test.go
  go/plugins/vertexai/modelgarden/models.go
Owners: @apascal07

refactor: remove indexer methods
  go/go.mod
  go/go.sum
  go/plugins/postgresql/README.md
  go/plugins/postgresql/docstore.go
  go/plugins/postgresql/genkit.go
  go/plugins/postgresql/genkit_test.go
  go/plugins/postgresql/indexer.go
  go/plugins/postgresql/indexer_test.go
  go/plugins/postgresql/retriever.go
  go/plugins/postgresql/retriever_test.go
Owners: @apascal07, @pavelgj

fix(go/genkit): Update dotprompt version
  go/go.mod
  go/go.sum
Owners: @apascal07

chore(go/genkit): update dotprompt version (#3068)
  go/go.mod
  go/go.sum
Owners: @apascal07

feat(go/plugins/googlegenai)!: use `go-genai` SDK configuration (#2958)
  go/genkit/genkit.go
  go/plugins/googlegenai/cache.go
  go/plugins/googlegenai/cache_test.go
  go/plugins/googlegenai/gemini.go
  go/plugins/googlegenai/gemini_test.go
  go/plugins/googlegenai/googleai_live_test.go
  go/plugins/googlegenai/googlegenai.go
  go/plugins/googlegenai/vertexai_live_test.go
  go/samples/basic-gemini-with-context/main.go
  go/samples/basic-gemini/main.go
  go/samples/cache-gemini/main.go
  go/samples/code-execution-gemini/main.go
  go/samples/imagen-gemini/main.go
  go/samples/menu/s03.go
  go/samples/menu/s04.go
  go/samples/menu/s05.go
  go/samples/prompts/main.go
Owners: @apascal07

work in progress - Google AI and Vertex AI done, mostly deduplicated, listmodels and generateContent and generateContentStream are manually smoke tested.
  genkit-tools/common/src/types/model.ts
  js/ai/src/embedder.ts
  js/plugins/google-genai/package.json
  js/plugins/google-genai/src/common/converters.ts
  js/plugins/google-genai/src/common/types.ts
  js/plugins/google-genai/src/common/utils.ts
  js/plugins/google-genai/src/googleai/client.ts
  js/plugins/google-genai/src/googleai/embedder.ts
  js/plugins/google-genai/src/googleai/gemini.ts
  js/plugins/google-genai/src/googleai/index.ts
  js/plugins/google-genai/src/googleai/types.ts
  js/plugins/google-genai/src/googleai/utils.ts
  js/plugins/google-genai/src/index.ts
  js/plugins/google-genai/src/vertexai/client.ts
  js/plugins/google-genai/src/vertexai/converters.ts
  js/plugins/google-genai/src/vertexai/embedder.ts
  js/plugins/google-genai/src/vertexai/gemini.ts
  js/plugins/google-genai/src/vertexai/imagen.ts
  js/plugins/google-genai/src/vertexai/index.ts
  js/plugins/google-genai/src/vertexai/types.ts
  js/plugins/google-genai/src/vertexai/utils.ts
  js/plugins/google-genai/tsconfig.json
  js/plugins/google-genai/tsup.config.ts
  js/plugins/googleai/src/gemini.ts
  js/pnpm-lock.yaml
  js/testapps/gemini-new/package.json
  js/testapps/gemini-new/src/index.ts
  js/testapps/gemini-new/tsconfig.json
Owners: @pavelgj

resolve merge conflicts
  go/plugins/googlegenai/gemini.go
  go/plugins/googlegenai/imagen.go
  go/samples/imagen/main.go
Owners: @apascal07

feat(js/plugins/google-genai) Unified types and utils for new plugin
  js/plugins/google-genai/package.json
  js/plugins/google-genai/src/common/types.ts
  js/plugins/google-genai/src/common/utils.ts
  js/plugins/google-genai/src/index.ts
  js/plugins/google-genai/tsconfig.json
  js/plugins/google-genai/tsup.config.ts
  js/pnpm-lock.yaml
Owners: @pavelgj

removed @genkit-ai/core dep
  js/plugins/google-genai/package.json
Owners: @pavelgj

refactor(js): introduced background actions and reimplemented veo using them
  genkit-tools/common/src/types/action.ts
  genkit-tools/common/src/types/model.ts
  genkit-tools/genkit-schema.json
  js/ai/src/check-operation.ts
  js/ai/src/generate.ts
  js/ai/src/generate/action.ts
  js/ai/src/generate/response.ts
  js/ai/src/model.ts
  js/core/src/background-action.ts
  js/core/src/index.ts
  js/core/src/registry.ts
  js/genkit/src/common.ts
  js/genkit/src/genkit-beta.ts
  js/genkit/src/genkit.ts
  js/genkit/src/model.ts
  js/plugins/googleai/src/veo.ts
  js/pnpm-lock.yaml
  js/testapps/flow-simple-ai/src/index.ts
  py/packages/genkit/src/genkit/core/typing.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

fmt
  genkit-tools/common/src/types/model.ts
  genkit-tools/genkit-schema.json
  js/core/src/background-action.ts
  js/genkit/src/common.ts
  js/genkit/src/genkit.ts
  js/plugins/googleai/src/veo.ts
Owners: @pavelgj

schema fix
  genkit-tools/common/src/types/action.ts
  genkit-tools/common/src/types/model.ts
  genkit-tools/genkit-schema.json
Owners: @pavelgj

py typing
  py/packages/genkit/src/genkit/core/typing.py
Owners: @pavelgj, @yesudeep

feat(js/mcp): Adds getActivePrompts() to host.
  js/plugins/mcp/src/client/client.ts
  js/plugins/mcp/src/client/host.ts
  js/plugins/mcp/src/util/prompts.ts
  js/plugins/mcp/src/util/resources.ts
  js/plugins/mcp/src/util/tools.ts
  js/plugins/mcp/tests/host_test.ts
Owners: @pavelgj

feat(js/mcp): Adds getActivePrompts() to MCPHost. (#3071)
  js/plugins/mcp/src/client/client.ts
  js/plugins/mcp/src/client/host.ts
  js/plugins/mcp/src/util/prompts.ts
  js/plugins/mcp/src/util/resources.ts
  js/plugins/mcp/src/util/tools.ts
  js/plugins/mcp/tests/host_test.ts
Owners: @pavelgj

Update js/ai/src/check-operation.ts
  js/ai/src/check-operation.ts
Owners: @pavelgj

feat(js/mcp): Adds support for MCP _meta via context.
  js/plugins/mcp/src/client/host.ts
  js/plugins/mcp/src/util/prompts.ts
  js/plugins/mcp/src/util/tools.ts
  js/plugins/mcp/tests/fakes.ts
  js/plugins/mcp/tests/host_test.ts
Owners: @pavelgj

errors
  genkit-tools/common/src/types/model.ts
  genkit-tools/genkit-schema.json
  js/core/src/background-action.ts
  js/plugins/googleai/src/predict.ts
  js/plugins/googleai/src/veo.ts
  py/packages/genkit/src/genkit/core/typing.py
Owners: @pavelgj, @yesudeep

fmt
  genkit-tools/common/src/types/model.ts
  js/plugins/googleai/src/predict.ts
Owners: @pavelgj

fix tests
  js/genkit/tests/generate_test.ts
Owners: @pavelgj

fmt
  js/core/src/index.ts
Owners: @pavelgj

feat(js/mcp): Adds support for MCP _meta via context. (#3072)
  js/plugins/mcp/src/client/host.ts
  js/plugins/mcp/src/util/prompts.ts
  js/plugins/mcp/src/util/tools.ts
  js/plugins/mcp/tests/fakes.ts
  js/plugins/mcp/tests/host_test.ts
Owners: @pavelgj

fix: Update metric attribute length truncation to match Trace attribute max length. (#3050)
  js/plugins/google-cloud/src/metrics.ts
  js/plugins/google-cloud/tests/metrics_test.ts
Owners: @pavelgj

chore(js/plugins/mcp): removed resource tools until we have 1st class resources
  js/plugins/mcp/src/client/host.ts
  js/plugins/mcp/src/util/index.ts
  js/plugins/mcp/src/util/resources.ts
  js/plugins/mcp/tests/host_test.ts
  js/testapps/mcp/src/index.ts
Owners: @pavelgj

fmt
  js/plugins/mcp/src/client/host.ts
Owners: @pavelgj

Remove action level metrics, audio/video metrics and some unused dimensions
  js/plugins/google-cloud/src/telemetry/action.ts
  js/plugins/google-cloud/src/telemetry/generate.ts
  js/plugins/google-cloud/tests/metrics_test.ts
Owners: @pavelgj

refactor(js): introduced background actions and reimplemented veo using them (#3070)
  genkit-tools/common/src/types/model.ts
  genkit-tools/genkit-schema.json
  js/ai/src/check-operation.ts
  js/ai/src/generate.ts
  js/ai/src/generate/action.ts
  js/ai/src/generate/response.ts
  js/ai/src/model.ts
  js/core/src/background-action.ts
  js/core/src/index.ts
  js/core/src/registry.ts
  js/genkit/src/common.ts
  js/genkit/src/genkit-beta.ts
  js/genkit/src/genkit.ts
  js/genkit/src/model.ts
  js/genkit/tests/generate_test.ts
  js/plugins/googleai/src/predict.ts
  js/plugins/googleai/src/veo.ts
  js/pnpm-lock.yaml
  js/testapps/flow-simple-ai/src/index.ts
  py/packages/genkit/src/genkit/core/typing.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

feat(js/plugins/mcp): added support for mcp roots
  js/plugins/mcp/src/client/client.ts
  js/plugins/mcp/src/client/host.ts
  js/plugins/mcp/tests/fakes.ts
  js/plugins/mcp/tests/host_test.ts
Owners: @pavelgj

feat(go/plugins/googlegenai): add `image-generation` models (#2903)
  go/plugins/googlegenai/gemini.go
  go/plugins/googlegenai/imagen.go
  go/plugins/googlegenai/models.go
  go/samples/imagen/main.go
Owners: @apascal07

feat(py/genkit): added the resolve_method for openai compatible plugin
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/openai_plugin.py
  py/plugins/compat-oai/tests/test_plugin.py
Owners: @pavelgj, @yesudeep

feat(py/genkit): added the resolve_method for openai compatible plugin
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/openai_plugin.py
  py/plugins/compat-oai/tests/test_plugin.py
Owners: @pavelgj, @yesudeep

feat(py/genkit): added the resolve_method for openai compatible plugin
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/openai_plugin.py
Owners: @pavelgj, @yesudeep
