Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj

fix(js/plugins/googleai): fixed systemRole support for dynamic models
  js/plugins/googleai/src/gemini.ts
Owners: @pavelgj

fix(js/plugins/googleai): fixed systemRole support for dynamic models (#3018)
  js/plugins/googleai/src/gemini.ts
Owners: @pavelgj

chore: throw error with duplicate action key
  js/core/src/registry.ts
Owners: @pavelgj

breaking(go/genkit): remove indexer as primitive (#3008)
  go/ai/retriever.go
  go/genkit/genkit.go
  go/internal/atype/atype.go
  go/internal/doc-snippets/googleai.go
  go/internal/doc-snippets/pinecone.go
  go/internal/doc-snippets/vertexai.go
  go/plugins/localvec/localvec.go
  go/plugins/pinecone/genkit.go
  go/plugins/pinecone/genkit_test.go
  go/plugins/pinecone/pinecone.go
  go/plugins/weaviate/weaviate.go
  go/plugins/weaviate/weaviate_test.go
  go/samples/pgvector/main.go
Owners: @apascal07

fix: add constants file
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/constants.py
Owners: @pavelgj, @yesudeep

feat(js): Support speech configuration for Gemini TTS models (#3016)
  js/plugins/googleai/src/gemini.ts
Owners: @pavelgj

fix: review comments
  js/plugins/cloud-sql-pg/src/engine.ts
  js/plugins/cloud-sql-pg/src/indexes.ts
  js/plugins/cloud-sql-pg/test/engine.test.ts
Owners: @pavelgj

fix: review comments
  js/plugins/cloud-sql-pg/src/engine.ts
  js/plugins/cloud-sql-pg/test/engine.test.ts
Owners: @pavelgj

fix: review comments
  js/plugins/cloud-sql-pg/src/engine.ts
Owners: @pavelgj

Added support for dynamic models.
  go/ai/embedder.go
  go/ai/evaluator.go
  go/ai/generate.go
  go/ai/prompt.go
  go/ai/retriever.go
  go/ai/tools.go
  go/core/action.go
  go/core/action_test.go
  go/core/flow.go
  go/genkit/genkit.go
  go/genkit/plugin.go
  go/genkit/reflection.go
  go/genkit/reflection_test.go
  go/go.mod
  go/internal/action/action.go
  go/internal/atype/atype.go
  go/internal/registry/registry.go
  go/plugins/pinecone/genkit.go
Owners: @apascal07

Update reflection.go
  go/genkit/reflection.go
Owners: @apascal07

Update action.go
  go/core/action.go
Owners: @apascal07

Update reflection.go
  go/genkit/reflection.go
Owners: @apascal07

feat(go): added support for dynamic models (#2920)
  go/ai/embedder.go
  go/ai/evaluator.go
  go/ai/generate.go
  go/ai/prompt.go
  go/ai/retriever.go
  go/ai/tools.go
  go/core/action.go
  go/core/action_test.go
  go/core/flow.go
  go/genkit/genkit.go
  go/genkit/plugin.go
  go/genkit/reflection.go
  go/genkit/reflection_test.go
  go/go.mod
  go/internal/action/action.go
  go/internal/atype/atype.go
  go/internal/registry/registry.go
  go/plugins/pinecone/genkit.go
Owners: @apascal07

Added support for dynamic models.
  go/genkit/reflection.go
Owners: @apascal07

Update reflection.go
  go/genkit/reflection.go
Owners: @apascal07

add dynamic plugin functions
  go/plugins/googlegenai/googlegenai.go
Owners: @apascal07

Add dynamic model registration (goooglegenai)
  go/plugins/googlegenai/googlegenai.go
  go/plugins/googlegenai/models.go
Owners: @apascal07

fix test cases
  go/ai/prompt_test.go
  go/plugins/googlegenai/googleai_live_test.go
Owners: @apascal07

add dynamic model resolution
  go/genkit/genkit.go
Owners: @apascal07

add Vertex AI functions
  go/plugins/googlegenai/googlegenai.go
Owners: @apascal07

resolve model in reflection server
  go/genkit/genkit.go
  go/genkit/reflection.go
  go/plugins/googlegenai/googlegenai.go
Owners: @apascal07

use request context in middlewares
  go/genkit/reflection.go
  go/genkit/reflection_test.go
Owners: @apascal07

get model name from key
  go/genkit/reflection.go
  tests/specs/reflection_api.yaml
Owners: @apascal07, @pavelgj

address review comments
  go/genkit/plugin.go
  go/genkit/reflection.go
  go/genkit/reflection_test.go
  go/plugins/googlegenai/googlegenai.go
Owners: @apascal07

update basic-gemini sample
  go/samples/basic-gemini/main.go
Owners: @apascal07

include model in reflection api tests
  go/genkit/reflection.go
  tests/specs/reflection_api.yaml
Owners: @apascal07, @pavelgj

feat(js/plugins/googleai): added support for imagen and veo models to googleai plugin
  genkit-tools/common/src/types/model.ts
  genkit-tools/genkit-schema.json
  js/ai/src/check-operation.ts
  js/ai/src/generate.ts
  js/ai/src/generate/action.ts
  js/ai/src/generate/response.ts
  js/ai/src/index.ts
  js/ai/src/model.ts
  js/genkit/src/genkit.ts
  js/genkit/src/model.ts
  js/plugins/google-cloud/src/telemetry/generate.ts
  js/plugins/googleai/src/imagen.ts
  js/plugins/googleai/src/index.ts
  js/plugins/googleai/src/predict.ts
  js/plugins/googleai/src/veo.ts
  js/testapps/flow-simple-ai/src/index.ts
Owners: @pavelgj

fmt
  js/ai/src/check-operation.ts
  js/ai/src/generate.ts
  js/ai/src/index.ts
  js/ai/src/model.ts
  js/genkit/src/genkit.ts
  js/plugins/googleai/src/index.ts
  js/plugins/googleai/src/predict.ts
  js/plugins/googleai/src/veo.ts
Owners: @pavelgj

cleanup
  js/plugins/googleai/src/imagen.ts
  js/plugins/googleai/src/predict.ts
Owners: @pavelgj

cleanup
  js/plugins/googleai/src/veo.ts
Owners: @pavelgj

Added dynamic tools.
  go/ai/generate.go
  go/ai/generate_test.go
  go/ai/tools.go
  go/core/action.go
  go/core/flow.go
  go/internal/registry/registry.go
Owners: @apascal07

feat(js): added dynamicTool factory function that does not depend on genkit instance
  js/ai/src/generate.ts
  js/ai/src/tool.ts
  js/core/src/action.ts
  js/genkit/src/common.ts
  js/genkit/src/genkit.ts
  js/genkit/tests/generate_test.ts
Owners: @pavelgj

fmt
  js/core/src/action.ts
  js/genkit/src/common.ts
  js/genkit/tests/generate_test.ts
  js/testapps/flow-simple-ai/src/index.ts
Owners: @pavelgj

fmt
  js/testapps/flow-simple-ai/src/index.ts
Owners: @pavelgj

added span for .prompt stream
  js/ai/src/prompt.ts
  js/genkit/src/genkit.ts
  js/testapps/dev-ui-gallery/__db_naive-index.json
  js/testapps/dev-ui-gallery/prompts/capra/analyze-context.prompt
  js/testapps/dev-ui-gallery/prompts/code.prompt
  js/testapps/dev-ui-gallery/prompts/markdown.prompt
  js/testapps/dev-ui-gallery/src/main/capra.ts
Owners: @pavelgj

fix: add span for prompt template rendering (#2165)
  js/ai/src/prompt.ts
  js/genkit/src/genkit.ts
Owners: @pavelgj

Array and enum streaming
  go/ai/format_array.go
  go/ai/format_enum.go
  go/ai/format_jsonl.go
  go/ai/formatter_test.go
  go/ai/option.go
  go/internal/base/json.go
Owners: @apascal07

align comments and error msgs
  go/ai/format_array.go
  go/ai/format_enum.go
  go/ai/format_json.go
  go/ai/format_jsonl.go
  go/ai/format_text.go
Owners: @apascal07

fix: code architecture more simple for model garden
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/__init__.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/handler.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/model.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/model_info.py
  py/plugins/compat-oai/tests/test_model.py
  py/plugins/compat-oai/tests/test_tool_calling.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/model_garden/model_garden.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/model_garden/modelgarden_plugin.py
  py/samples/model-garden/src/main.py
Owners: @pavelgj, @yesudeep
