Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

feat(py): stream typed chunks (#6212)
  py/packages/genkit-fastapi/src/genkit_fastapi/handler.py
  py/packages/genkit/src/genkit/_ai/_aio.py
  py/packages/genkit/src/genkit/_ai/_generate.py
  py/packages/genkit/src/genkit/_ai/_prompt.py
  py/packages/genkit/src/genkit/_core/_action.py
  py/packages/genkit/src/genkit/_core/_model.py
  py/packages/genkit/src/genkit/_core/_partial.py
  py/packages/genkit/tests/genkit/ai/streaming_typed_output_test.py
  py/samples/output-formats/README.md
  py/samples/output-formats/src/main.py
Owners: @pavelgj, @yesudeep

docs(py): clarify media-only wire format for function response parts
  py/packages/genkit-google-genai/src/genkit_google_genai/models/utils.py
Owners: @pavelgj, @yesudeep

feat(py): implement multipart tool response (#6172)
  py/packages/genkit-google-cloud/src/genkit_google_cloud/telemetry/action.py
  py/packages/genkit-google-cloud/src/genkit_google_cloud/telemetry/trace_exporter.py
  py/packages/genkit-google-cloud/tests/action_telemetry_test.py
  py/packages/genkit-google-genai/src/genkit_google_genai/models/utils.py
  py/packages/genkit-google-genai/tests/part_converter_test.py
  py/packages/genkit-middleware/src/genkit_middleware/_tool_approval.py
  py/packages/genkit-middleware/tests/artifacts_test.py
  py/packages/genkit/src/genkit/__init__.py
  py/packages/genkit/src/genkit/_ai/_aio.py
  py/packages/genkit/src/genkit/_ai/_generate.py
  py/packages/genkit/src/genkit/_ai/_prompt.py
  py/packages/genkit/src/genkit/_ai/_tools.py
  py/packages/genkit/src/genkit/_core/_action.py
  py/packages/genkit/src/genkit/_core/_dap.py
  py/packages/genkit/src/genkit/_core/_middleware.py
  py/packages/genkit/src/genkit/_core/_model.py
  py/packages/genkit/src/genkit/_core/_registry.py
  py/packages/genkit/src/genkit/_core/_trace/_attrs.py
  py/packages/genkit/src/genkit/middleware/__init__.py
  py/packages/genkit/tests/genkit/ai/dap_test.py
  py/packages/genkit/tests/genkit/ai/dynamic_tools_generate_test.py
  py/packages/genkit/tests/genkit/ai/generate_helpers_test.py
  py/packages/genkit/tests/genkit/ai/generate_interrupt_resume_test.py
  py/packages/genkit/tests/genkit/ai/prompt_test.py
  py/packages/genkit/tests/genkit/ai/tool_multipart_test.py
  py/packages/genkit/tests/genkit/ai/tool_response_contract_test.py
  py/packages/genkit/tests/genkit/core/action_test.py
  py/packages/genkit/tests/genkit/core/registry_test.py
  py/packages/genkit/tests/genkit/core/run_in_new_span_test.py
  py/packages/genkit/tests/genkit/core/trace/adjusting_exporter_test.py
  py/samples/README.md
  py/samples/multipart-tools/README.md
  py/samples/multipart-tools/pyproject.toml
  py/samples/multipart-tools/src/main.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

fix(py): reject invalid whitespace and control characters in context secrets api_key
  py/packages/genkit-google-genai/src/genkit_google_genai/models/_secrets.py
  py/packages/genkit-google-genai/tests/vertexai_location_test.py
Owners: @pavelgj, @yesudeep

feat(py): Google AI Interactions HTTP client and converters
  py/packages/genkit-google-genai/pyproject.toml
  py/packages/genkit-google-genai/src/genkit_google_genai/_interactions/client.py
  py/packages/genkit-google-genai/src/genkit_google_genai/_interactions/converters.py
  py/packages/genkit-google-genai/src/genkit_google_genai/_interactions/options.py
  py/packages/genkit-google-genai/tests/interactions/interactions_client_test.py
  py/packages/genkit-google-genai/tests/interactions/interactions_converters_test.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

fix(py): leftover Interactions status table, pairing, and cancel fixes
  py/packages/genkit-google-genai/src/genkit_google_genai/_interactions/client.py
  py/packages/genkit-google-genai/src/genkit_google_genai/_interactions/converters.py
  py/packages/genkit-google-genai/src/genkit_google_genai/_interactions/options.py
  py/packages/genkit-google-genai/tests/interactions/interactions_client_test.py
  py/packages/genkit-google-genai/tests/interactions/interactions_converters_test.py
Owners: @pavelgj, @yesudeep

fix(py): keep client options off interactions operations
  py/packages/genkit-google-genai/src/genkit_google_genai/_interactions/converters.py
  py/packages/genkit-google-genai/src/genkit_google_genai/_interactions/options.py
  py/packages/genkit-google-genai/tests/interactions/interactions_client_test.py
  py/packages/genkit-google-genai/tests/interactions/interactions_converters_test.py
Owners: @pavelgj, @yesudeep

refactor(py): use plugin_api HTTP code and retry helpers for Interactions
  py/packages/genkit-google-genai/src/genkit_google_genai/_interactions/client.py
  py/packages/genkit-google-genai/tests/interactions/interactions_client_test.py
Owners: @pavelgj, @yesudeep

feat(py): Deep Research, Antigravity, and Lyria via Google AI Interactions
  py/packages/genkit-google-genai/src/genkit_google_genai/__init__.py
  py/packages/genkit-google-genai/src/genkit_google_genai/google.py
  py/packages/genkit-google-genai/src/genkit_google_genai/models/_model_refs.py
  py/packages/genkit-google-genai/src/genkit_google_genai/models/antigravity.py
  py/packages/genkit-google-genai/src/genkit_google_genai/models/deep_research.py
  py/packages/genkit-google-genai/src/genkit_google_genai/models/interactions_lyria.py
  py/packages/genkit-google-genai/src/genkit_google_genai/models/interactions_registry.py
  py/packages/genkit-google-genai/src/genkit_google_genai/models/interactions_utils.py
  py/packages/genkit-google-genai/test/models/model_refs_test.py
  py/packages/genkit-google-genai/tests/google_genai_plugin_test.py
  py/packages/genkit-google-genai/tests/interactions/interactions_models_test.py
  py/packages/genkit-google-genai/tests/interactions/interactions_utils_test.py
  py/pyproject.toml
  py/samples/google-genai-deep-research/README.md
  py/samples/google-genai-deep-research/pyproject.toml
  py/samples/google-genai-deep-research/src/main.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

fix(py): pin Interactions operation config per call
  py/packages/genkit-google-genai/src/genkit_google_genai/models/deep_research.py
  py/packages/genkit-google-genai/src/genkit_google_genai/models/interactions_utils.py
  py/packages/genkit-google-genai/tests/interactions/interactions_models_test.py
  py/packages/genkit-google-genai/tests/interactions/interactions_utils_test.py
Owners: @pavelgj, @yesudeep

fix(py): review-loop fixes for Interactions L2 models
  py/packages/genkit-google-genai/src/genkit_google_genai/__init__.py
  py/packages/genkit-google-genai/src/genkit_google_genai/google.py
  py/packages/genkit-google-genai/src/genkit_google_genai/models/_routing.py
  py/packages/genkit-google-genai/src/genkit_google_genai/models/interactions_registry.py
  py/packages/genkit-google-genai/src/genkit_google_genai/models/interactions_utils.py
  py/packages/genkit-google-genai/test/models/model_refs_test.py
  py/packages/genkit-google-genai/tests/interactions/interactions_models_test.py
  py/packages/genkit-google-genai/tests/interactions/interactions_utils_test.py
  py/samples/google-genai-deep-research/README.md
  py/samples/google-genai-deep-research/src/main.py
Owners: @pavelgj, @yesudeep

refactor(py): streamline Interactions model actions and helpers
  py/packages/genkit-google-genai/src/genkit_google_genai/google.py
  py/packages/genkit-google-genai/src/genkit_google_genai/models/_model_refs.py
  py/packages/genkit-google-genai/src/genkit_google_genai/models/antigravity.py
  py/packages/genkit-google-genai/src/genkit_google_genai/models/deep_research.py
  py/packages/genkit-google-genai/src/genkit_google_genai/models/interactions_lyria.py
  py/packages/genkit-google-genai/src/genkit_google_genai/models/interactions_utils.py
  py/packages/genkit-google-genai/tests/interactions/interactions_utils_test.py
Owners: @pavelgj, @yesudeep

refactor(py): unify Interactions model resolution and operation context helpers
  py/packages/genkit-google-genai/src/genkit_google_genai/google.py
  py/packages/genkit-google-genai/src/genkit_google_genai/models/deep_research.py
  py/packages/genkit-google-genai/src/genkit_google_genai/models/interactions_registry.py
  py/packages/genkit-google-genai/tests/interactions/interactions_utils_test.py
Owners: @pavelgj, @yesudeep

feat(py): support per-tenant API keys in Gemini models via context.secrets (#6236)
  py/packages/genkit-google-genai/src/genkit_google_genai/google.py
  py/packages/genkit-google-genai/src/genkit_google_genai/models/_secrets.py
  py/packages/genkit-google-genai/src/genkit_google_genai/models/gemini.py
  py/packages/genkit-google-genai/src/genkit_google_genai/models/veo.py
  py/packages/genkit-google-genai/tests/google_genai_plugin_test.py
  py/packages/genkit-google-genai/tests/veo_test.py
  py/packages/genkit-google-genai/tests/vertexai_location_test.py
  py/packages/genkit/src/genkit/_ai/_aio.py
  py/packages/genkit/src/genkit/_ai/_prompt.py
  py/packages/genkit/src/genkit/_core/_action.py
  py/packages/genkit/src/genkit/_core/_background.py
  py/packages/genkit/src/genkit/_core/_trace/_log_exporter.py
  py/packages/genkit/tests/genkit/ai/background_generate_test.py
  py/packages/genkit/tests/genkit/ai/generate_operation_test.py
  py/packages/genkit/tests/genkit/ai/genkit_api_test.py
  py/packages/genkit/tests/genkit/ai/model_ref_generate_test.py
  py/packages/genkit/tests/genkit/core/registry_test.py
  py/packages/genkit/tests/genkit/core/run_in_new_span_test.py
  py/packages/genkit/tests/genkit/core/trace/log_exporter_test.py
  py/packages/genkit/tests/genkit/veneer/veneer_test.py
Owners: @pavelgj, @yesudeep

feat(py): Google AI Interactions HTTP client and converters (#6240)
  py/packages/genkit-google-genai/pyproject.toml
  py/packages/genkit-google-genai/src/genkit_google_genai/_interactions/client.py
  py/packages/genkit-google-genai/src/genkit_google_genai/_interactions/converters.py
  py/packages/genkit-google-genai/src/genkit_google_genai/_interactions/options.py
  py/packages/genkit-google-genai/tests/interactions/interactions_client_test.py
  py/packages/genkit-google-genai/tests/interactions/interactions_converters_test.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

feat(py): add Deep Research, Antigravity, and Lyria via Google AI Interactions (#6241)
  py/packages/genkit-google-genai/src/genkit_google_genai/__init__.py
  py/packages/genkit-google-genai/src/genkit_google_genai/google.py
  py/packages/genkit-google-genai/src/genkit_google_genai/models/_model_refs.py
  py/packages/genkit-google-genai/src/genkit_google_genai/models/_routing.py
  py/packages/genkit-google-genai/src/genkit_google_genai/models/antigravity.py
  py/packages/genkit-google-genai/src/genkit_google_genai/models/deep_research.py
  py/packages/genkit-google-genai/src/genkit_google_genai/models/interactions_lyria.py
  py/packages/genkit-google-genai/src/genkit_google_genai/models/interactions_registry.py
  py/packages/genkit-google-genai/src/genkit_google_genai/models/interactions_utils.py
  py/packages/genkit-google-genai/test/models/model_refs_test.py
  py/packages/genkit-google-genai/tests/google_genai_plugin_test.py
  py/packages/genkit-google-genai/tests/interactions/interactions_models_test.py
  py/packages/genkit-google-genai/tests/interactions/interactions_utils_test.py
  py/pyproject.toml
  py/samples/google-genai-deep-research/README.md
  py/samples/google-genai-deep-research/pyproject.toml
  py/samples/google-genai-deep-research/src/main.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

fix(py/plugins/google-genai): TTS fallback ModelInfo no longer claims constrained support
  py/packages/genkit-google-genai/src/genkit_google_genai/models/gemini.py
  py/packages/genkit-google-genai/test/models/googlegenai_gemini_test.py
Owners: @pavelgj, @yesudeep

chore(py/plugins/google-genai): trim Veo catalog to 3.1 and add lite variants
  py/packages/genkit-google-genai/src/genkit_google_genai/google.py
  py/packages/genkit-google-genai/src/genkit_google_genai/models/veo.py
  py/packages/genkit-google-genai/test/google_plugin_test.py
  py/packages/genkit-google-genai/test/models/family_name_test.py
  py/packages/genkit-google-genai/test/models/model_refs_test.py
  py/packages/genkit-google-genai/tests/google_genai_plugin_test.py
  py/packages/genkit-google-genai/tests/veo_test.py
  py/packages/genkit/tests/genkit/core/registry_test.py
Owners: @pavelgj, @yesudeep

fix(py): align Google GenAI tests with async discovery
  py/packages/genkit-google-genai/src/genkit_google_genai/google.py
  py/packages/genkit-google-genai/test/google_plugin_test.py
  py/packages/genkit-google-genai/tests/google_genai_plugin_test.py
Owners: @pavelgj, @yesudeep

fix(py/plugins/google-genai): camelCase embedder options and request chunking
  py/packages/genkit-google-genai/src/genkit_google_genai/__init__.py
  py/packages/genkit-google-genai/src/genkit_google_genai/models/embedder.py
  py/packages/genkit-google-genai/test/models/googlegenai_embedder_test.py
Owners: @pavelgj, @yesudeep

chore(py/plugins/google-genai): retire the Imagen catalog
  py/packages/genkit-google-genai/pyproject.toml
  py/packages/genkit-google-genai/src/genkit_google_genai/__init__.py
  py/packages/genkit-google-genai/src/genkit_google_genai/google.py
  py/packages/genkit-google-genai/src/genkit_google_genai/models/_model_refs.py
  py/packages/genkit-google-genai/src/genkit_google_genai/models/_routing.py
  py/packages/genkit-google-genai/src/genkit_google_genai/models/gemini.py
  py/packages/genkit-google-genai/src/genkit_google_genai/models/imagen.py
  py/packages/genkit-google-genai/test/google_plugin_test.py
  py/packages/genkit-google-genai/test/models/family_name_test.py
  py/packages/genkit-google-genai/test/models/googlegenai_imagen_test.py
  py/packages/genkit-google-genai/test/models/model_refs_test.py
  py/packages/genkit-google-genai/tests/google_genai_plugin_test.py
Owners: @pavelgj, @yesudeep

feat(go/plugins/compat_oai): add gpt-6-astra to the OpenAI model catalog
  go/plugins/compat_oai/openai/README.md
  go/plugins/compat_oai/openai/openai.go
  go/plugins/compat_oai/openai/openai_test.go
Owners: @pavelgj, @apascal07

chore(go/plugins/middleware/exp): tell the orchestrator how a stopped task settles
  go/plugins/middleware/exp/agents_async.go
  go/plugins/middleware/exp/agents_continue.go
  go/samples/basic-agents-server/main.go
Owners: @apascal07

fix(go/ai/exp): settle an `aborting` snapshot by how its work ended
  go/README.md
  go/ai/exp/agent.go
  go/ai/exp/agent_test.go
  go/ai/exp/gen.go
  go/ai/exp/handle.go
  go/ai/exp/session.go
  go/core/schemas.config
Owners: @apascal07, @pavelgj

fix(py): pin leftover generate history cells
  py/packages/genkit/src/genkit/_ai/_agents/_client.py
  py/packages/genkit/src/genkit/_ai/_agents/_runtime.py
  py/packages/genkit/src/genkit/_ai/_agents/_types.py
  py/packages/genkit/src/genkit/_ai/_generate.py
  py/packages/genkit/src/genkit/_core/_error.py
  py/packages/genkit/src/genkit/_core/_model.py
  py/packages/genkit/src/genkit/_core/_typing.py
  py/packages/genkit/tests/genkit/ai/generate_test.py
  py/packages/genkit/tests/genkit/core/error_test.py
  py/packages/genkit/tests/genkit/core/schema_typing_test.py
  py/scripts/schema_to_typing.py
Owners: @pavelgj, @yesudeep

fix(py): keep closed generate history on the generate loop
  py/packages/genkit/src/genkit/_ai/_generate.py
Owners: @pavelgj, @yesudeep

feat(py): add A2UI generate middleware
  py/packages/genkit-a2ui/LICENSE
  py/packages/genkit-a2ui/README.md
  py/packages/genkit-a2ui/pyproject.toml
  py/packages/genkit-a2ui/src/genkit_a2ui/__init__.py
  py/packages/genkit-a2ui/src/genkit_a2ui/_catalog.py
  py/packages/genkit-a2ui/src/genkit_a2ui/_middleware.py
  py/packages/genkit-a2ui/src/genkit_a2ui/_parser.py
  py/packages/genkit-a2ui/src/genkit_a2ui/_part.py
  py/packages/genkit-a2ui/src/genkit_a2ui/_types.py
  py/packages/genkit-a2ui/src/genkit_a2ui/py.typed
  py/packages/genkit-a2ui/tests/conftest.py
  py/packages/genkit-a2ui/tests/generate_a2ui_inbound_test.py
  py/packages/genkit-a2ui/tests/generate_a2ui_test.py
  py/packages/genkit-a2ui/tests/helpers.py
  py/pyproject.toml
  py/uv.lock
Owners: @pavelgj, @yesudeep

fix(py): stamp CONNECTION_CLOSED on send after close
  py/packages/genkit-google-cloud/src/genkit_google_cloud/session_store/firestore.py
  py/packages/genkit-google-cloud/tests/firestore_session_store_test.py
  py/packages/genkit/src/genkit/_ai/_agents/_base.py
  py/packages/genkit/src/genkit/_ai/_agents/_client.py
  py/packages/genkit/src/genkit/_ai/_agents/_runtime.py
  py/packages/genkit/src/genkit/_ai/_aio.py
  py/packages/genkit/src/genkit/_ai/_generate.py
  py/packages/genkit/src/genkit/_ai/_prompt.py
  py/packages/genkit/src/genkit/_ai/_tools.py
  py/packages/genkit/src/genkit/_core/_action.py
  py/packages/genkit/src/genkit/_core/_background.py
  py/packages/genkit/src/genkit/_core/_error.py
  py/packages/genkit/src/genkit/_core/_registry.py
  py/packages/genkit/src/genkit/_core/_schema.py
  py/packages/genkit/tests/genkit/ai/agent_init_funnel_test.py
  py/packages/genkit/tests/genkit/ai/agent_load_session_test.py
  py/packages/genkit/tests/genkit/ai/generate_interrupt_resume_test.py
  py/packages/genkit/tests/genkit/ai/generate_test.py
  py/packages/genkit/tests/genkit/ai/resolve_model_error_test.py
  py/packages/genkit/tests/genkit/core/action_test.py
  py/packages/genkit/tests/genkit/core/error_test.py
  py/packages/genkit/tests/genkit/core/schema_test.py
Owners: @pavelgj, @yesudeep

fix(py): classify snapshot and resume leftovers
  py/packages/genkit-google-cloud/src/genkit_google_cloud/session_store/firestore.py
  py/packages/genkit-google-cloud/tests/firestore_session_store_test.py
  py/packages/genkit/src/genkit/_ai/_agents/_runtime.py
  py/packages/genkit/src/genkit/_ai/_agents/_session_stores/_util.py
  py/packages/genkit/src/genkit/_ai/_generate.py
  py/packages/genkit/src/genkit/_core/_error.py
  py/packages/genkit/tests/genkit/ai/agent_init_funnel_test.py
  py/packages/genkit/tests/genkit/ai/agent_load_session_test.py
  py/packages/genkit/tests/genkit/ai/generate_interrupt_resume_test.py
  py/packages/genkit/tests/genkit/core/error_test.py
Owners: @pavelgj, @yesudeep

feat(py): keep agents behind genkit.exp
  py/packages/genkit-fastapi/README.md
  py/packages/genkit-fastapi/tests/agent_handler_test.py
  py/packages/genkit-google-cloud/src/genkit_google_cloud/__init__.py
  py/packages/genkit-middleware/README.md
  py/packages/genkit-middleware/tests/conftest.py
  py/packages/genkit/src/genkit/_ai/_aio.py
  py/packages/genkit/src/genkit/exp/__init__.py
  py/packages/genkit/src/genkit/exp/_api.py
  py/packages/genkit/tests/genkit/ai/agent_chat_client_test.py
  py/packages/genkit/tests/genkit/ai/agent_conformance_test.py
  py/packages/genkit/tests/genkit/ai/agent_detach_test.py
  py/packages/genkit/tests/genkit/ai/agent_preamble_test.py
  py/packages/genkit/tests/genkit/ai/exp_agents_import_test.py
  py/packages/genkit/tests/genkit/ai/model_ref_generate_test.py
  py/samples/agents/README.md
  py/samples/agents/basic/01_define_agent_with_store.py
  py/samples/agents/basic/02_define_agent_no_store.py
  py/samples/agents/basic/03_interrupt_resume_with_store.py
  py/samples/agents/basic/04_interrupt_resume_no_store.py
  py/samples/agents/basic/05_define_prompt_agent.py
  py/samples/agents/basic/06_define_custom_agent.py
  py/samples/agents/basic/07_artifacts_custom_patch.py
  py/samples/agents/basic/08_graceful_failure.py
  py/samples/agents/basic/09_detach.py
  py/samples/agents/basic/10_abort.py
  py/samples/agents/basic/11_write_artifact_tool.py
  py/samples/agents/basic/12_abort_client_and_server.py
  py/samples/agents/basic/13_deadline_timeout.py
  py/samples/agents/basic/14_abort_failure_store_drift.py
  py/samples/agents/basic/15_branching.py
  py/samples/agents/basic/16_time_travel_artifacts.py
  py/samples/agents/basic/17_client_transform.py
  py/samples/agents/basic/18_turn_context_workspace.py
  py/samples/agents/testapp/_ai.py
Owners: @pavelgj, @yesudeep

fix(py): keep closed generate history when a later turn fails
  py/packages/genkit/src/genkit/_ai/_aio.py
  py/packages/genkit/src/genkit/_ai/_generate.py
  py/packages/genkit/src/genkit/_ai/_prompt.py
  py/packages/genkit/src/genkit/_core/_action.py
  py/packages/genkit/src/genkit/_core/_tracing.py
  py/packages/genkit/tests/genkit/ai/background_generate_test.py
  py/packages/genkit/tests/genkit/ai/dynamic_tools_generate_test.py
  py/packages/genkit/tests/genkit/ai/generate_test.py
Owners: @pavelgj, @yesudeep

fix(py): generate_operation leftover does not return a ticket
  py/packages/genkit/src/genkit/_ai/_aio.py
  py/packages/genkit/tests/genkit/ai/background_generate_test.py
Owners: @pavelgj, @yesudeep

feat(py): import FirestoreSessionStore from genkit_google_cloud.exp
  py/packages/genkit-google-cloud/README.md
  py/packages/genkit-google-cloud/src/genkit_google_cloud/__init__.py
  py/packages/genkit-google-cloud/src/genkit_google_cloud/exp/__init__.py
  py/packages/genkit-google-cloud/tests/firestore_session_store_test.py
  py/samples/agents/README.md
  py/samples/agents/basic/01_define_agent_with_store.py
  py/samples/agents/testapp/README.md
Owners: @pavelgj, @yesudeep

Delete py/packages/genkit-a2ui/src/genkit_a2ui/py.typed
  py/packages/genkit-a2ui/src/genkit_a2ui/py.typed
Owners: @pavelgj

feat(py): stream tool send_chunk and send_partial on generate
  py/packages/genkit/src/genkit/_ai/_generate.py
  py/packages/genkit/src/genkit/_ai/_tools.py
  py/packages/genkit/tests/genkit/ai/streaming_tool_send_chunk_test.py
  py/packages/genkit/tests/genkit/ai/streaming_tool_send_partial_test.py
Owners: @pavelgj, @yesudeep

feat(py/plugins/openai): add gpt-6-astra to the OpenAI model catalog
  py/packages/genkit-openai/src/genkit_openai/models/model_info.py
  py/packages/genkit-openai/tests/openai_plugin_test.py
Owners: @pavelgj, @yesudeep

feat(js/plugins/compat-oai): add gpt-6-astra to the OpenAI model catalog
  js/plugins/compat-oai/src/openai/gpt.ts
  js/plugins/compat-oai/tests/openai_test.ts
Owners: @pavelgj

fix(py/plugins/openai): only classify caller input as INVALID_ARGUMENT in embed_fn
  py/packages/genkit-openai/src/genkit_openai/openai_plugin.py
  py/packages/genkit-openai/tests/openai_plugin_test.py
Owners: @pavelgj, @yesudeep

refactor(py/plugins/google-genai): use if/else for the unsupported model hint
  py/packages/genkit-google-genai/src/genkit_google_genai/models/_model_refs.py
Owners: @pavelgj, @yesudeep

fix(py/plugins/google-genai): run embedder batches concurrently
  py/packages/genkit-google-genai/src/genkit_google_genai/models/embedder.py
  py/packages/genkit-google-genai/test/models/googlegenai_embedder_test.py
Owners: @pavelgj, @yesudeep

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj
