Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

feat(js/plugins/googleai): support for gemini-3.1-flash-tts-preview (#5138)
  js/plugins/google-genai/src/googleai/gemini.ts
  js/plugins/google-genai/tests/googleai/gemini_test.ts
  js/testapps/basic-gemini/src/index.ts
Owners: @pavelgj

feat(go/ai): added `DefineMiddleware` (Middleware V2) (#4464)
  genkit-tools/common/src/types/index.ts
  genkit-tools/common/src/types/middleware.ts
  genkit-tools/common/src/types/model.ts
  genkit-tools/genkit-schema.json
  genkit-tools/scripts/schema-exporter.ts
  go/ai/gen.go
  go/ai/generate.go
  go/ai/middleware.go
  go/ai/middleware_test.go
  go/ai/option.go
  go/ai/prompt.go
  go/ai/tools.go
  go/core/schemas.config
  go/genkit/genkit.go
  go/genkit/reflection.go
  py/packages/genkit/src/genkit/_core/_typing.py
Owners: @pavelgj, @apascal07, @yesudeep

feat(js/plugins/anthropic): Support for claude opus 4.7 (#5160)
  js/plugins/anthropic/package.json
  js/plugins/anthropic/src/index.ts
  js/plugins/anthropic/src/models.ts
  js/plugins/anthropic/src/runner/base.ts
  js/plugins/anthropic/src/runner/beta.ts
  js/plugins/anthropic/src/runner/stable.ts
  js/plugins/anthropic/src/types.ts
  js/plugins/anthropic/src/utils.ts
  js/plugins/anthropic/tests/beta_runner_test.ts
  js/plugins/anthropic/tests/index_test.ts
  js/plugins/anthropic/tests/stable_runner_test.ts
  js/pnpm-lock.yaml
  js/testapps/anthropic/src/beta/basic.ts
Owners: @pavelgj

chore: update CODEOWNERS to reflect new ownership
  .github/CODEOWNERS
Owners: @pavelgj

feat(go): implement reflection API v2 over WebSocket (#5150)
  go/ai/gen.go
  go/core/schemas.config
  go/genkit/gen.go
  go/genkit/genkit.go
  go/genkit/reflection.go
  go/genkit/reflection_v2.go
  go/genkit/reflection_v2_test.go
  go/go.mod
  go/go.sum
  go/internal/cmd/jsonschemagen/jsonschemagen.go
Owners: @apascal07, @pavelgj

feat(js): allow middleware generate hook manipulate message/turn index (#5131)
  js/ai/src/chat.ts
  js/ai/src/generate/action.ts
  js/ai/src/generate/middleware.ts
  js/ai/tests/generate/middleware_test.ts
  js/plugins/middleware/package.json
  js/plugins/middleware/src/filesystem.ts
  js/plugins/middleware/src/filesystem/read_file.ts
  js/plugins/middleware/src/skills.ts
  js/plugins/middleware/tests/filesystem_test.ts
Owners: @pavelgj

revert: "chore: CLI version bump"
  genkit-tools/cli/package.json
  genkit-tools/common/package.json
  genkit-tools/telemetry-server/package.json
Owners: @pavelgj

fix(py): fix double generate span in model runner (#5113)
  py/packages/genkit/src/genkit/_ai/_generate.py
Owners: @pavelgj, @yesudeep

chore: JS version bump
  js/ai/package.json
  js/core/package.json
  js/genkit/package.json
  js/plugins/checks/package.json
  js/plugins/chroma/package.json
  js/plugins/cloud-sql-pg/package.json
  js/plugins/compat-oai/package.json
  js/plugins/dev-local-vectorstore/package.json
  js/plugins/evaluators/package.json
  js/plugins/express/package.json
  js/plugins/firebase/package.json
  js/plugins/google-cloud/package.json
  js/plugins/google-genai/package.json
  js/plugins/langchain/package.json
  js/plugins/mcp/package.json
  js/plugins/next/package.json
  js/plugins/ollama/package.json
  js/plugins/pinecone/package.json
  js/plugins/vertexai/package.json
Owners: @pavelgj

chore: CLI version bump
  genkit-tools/cli/package.json
  genkit-tools/common/package.json
  genkit-tools/telemetry-server/package.json
Owners: @pavelgj

chore: CLI version bump
  genkit-tools/cli/package.json
  genkit-tools/common/package.json
  genkit-tools/telemetry-server/package.json
Owners: @pavelgj

refactor: remove tagAsPreamble and associated session-based preamble swapping tests
  js/ai/src/generate.ts
  js/ai/src/generate/action.ts
  js/ai/src/generate/resolve-tool-requests.ts
  js/ai/src/index.ts
  js/genkit/tests/prompts_test.ts
  js/genkit/tests/session_test.ts
Owners: @pavelgj

refactor!: remove legacy Chat class and associated session methods
  js/ai/package.json
  js/ai/src/chat.ts
  js/ai/src/session.ts
  js/genkit/src/common.ts
  js/genkit/src/genkit-beta.ts
  js/genkit/tests/chat_test.ts
Owners: @pavelgj

feat(genkit-tools/cli): support ephemeral runtime commands (#5079)
  .gitignore
  genkit-tools/cli/src/commands/eval-extract-data.ts
  genkit-tools/cli/src/commands/eval-flow.ts
  genkit-tools/cli/src/commands/eval-run.ts
  genkit-tools/cli/src/commands/flow-batch-run.ts
  genkit-tools/cli/src/commands/flow-run.ts
  genkit-tools/cli/src/commands/start.ts
  genkit-tools/cli/src/utils/manager-utils.ts
  genkit-tools/cli/tests/commands/start_test.ts
  genkit-tools/common/src/eval/evaluate.ts
Owners: @pavelgj

feat(js/plugins/vertex): Model garden support for Claude 4.7 (#5164)
  js/plugins/anthropic/src/runner/base.ts
  js/plugins/vertexai/package.json
  js/plugins/vertexai/src/modelgarden/legacy/anthropic.ts
  js/plugins/vertexai/src/modelgarden/v2/anthropic.ts
  js/plugins/vertexai/tests/modelgarden/v2/anthropic_test.ts
  js/pnpm-lock.yaml
  js/testapps/vertexai-modelgarden/src/index.ts
Owners: @pavelgj

refactor!: removed prompt preamble support
  js/ai/src/generate.ts
  js/ai/src/generate/action.ts
  js/ai/src/generate/resolve-tool-requests.ts
  js/doc-snippets/src/flows/index.ts
  js/doc-snippets/src/multi-agent/multi.ts
  js/doc-snippets/src/multi-agent/simple.ts
  js/genkit/tests/prompts_test.ts
  js/plugins/google-cloud/tests/logs_session_test.ts
  js/plugins/google-cloud/tests/traces_test.ts
  js/testapps/multiagents-demo/src/agents/interrupts.ts
  js/testapps/multiagents-demo/src/agents/triageAgent.ts
  js/testapps/multiagents-demo/src/flows/multiAgentMultiModel.ts
Owners: @pavelgj

chore(go): deprecate gemini-3-pro-preview and claude-3-haiku@20240307
  go/plugins/googlegenai/README.md
  go/plugins/googlegenai/googleai_live_test.go
  go/plugins/googlegenai/models.go
  go/plugins/googlegenai/models_test.go
  go/plugins/internal/anthropic/anthropic.go
  go/plugins/vertexai/modelgarden/models.go
  go/samples/multipart-tools/main.go
Owners: @pavelgj, @apascal07

fix(py/google-genai): address veo 3.x review feedback
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/veo.py
  py/samples/google-genai-media/src/main.py
Owners: @pavelgj, @yesudeep

feat(go/plugins/vertexai/modelgarden): Add Claude Opus 4.5, Llama and Mistral support
  go/plugins/vertexai/modelgarden/anthropic_live_test.go
  go/plugins/vertexai/modelgarden/llama.go
  go/plugins/vertexai/modelgarden/llama_live_test.go
  go/plugins/vertexai/modelgarden/mistral.go
  go/plugins/vertexai/modelgarden/mistral_live_test.go
  go/plugins/vertexai/modelgarden/models.go
Owners: @apascal07

feat(go/plugins/googlegenai): Support tuned Gemini endpoint models
  go/plugins/googlegenai/gemini.go
  go/plugins/googlegenai/googlegenai.go
  go/plugins/googlegenai/model_type.go
  go/plugins/googlegenai/tuned_test.go
  go/plugins/googlegenai/vertexai_live_test.go
Owners: @apascal07

feat(go/plugins/googlegenai): Add support for Lyria 002 music generation
  go/plugins/googlegenai/actions.go
  go/plugins/googlegenai/gemini.go
  go/plugins/googlegenai/lyria.go
  go/plugins/googlegenai/model_type.go
  go/plugins/googlegenai/models.go
  go/plugins/googlegenai/vertexai_live_test.go
Owners: @apascal07

feat(go/plugins/googlegenai): Add Gemini 3.1 Flash preview models
  go/plugins/googlegenai/models.go
  go/samples/imagen-gemini/main.go
Owners: @apascal07

feat(go/plugins/googlegenai): Add support for Virtual Try-On 001
  go/plugins/googlegenai/actions.go
  go/plugins/googlegenai/gemini.go
  go/plugins/googlegenai/model_type.go
  go/plugins/googlegenai/models.go
  go/plugins/googlegenai/vertexai_live_test.go
  go/plugins/googlegenai/virtual_try_on.go
Owners: @apascal07

chore(go/plugins/vertexai/modelgarden): drop ineffective nil-receiver check
  go/plugins/vertexai/modelgarden/llama.go
  go/plugins/vertexai/modelgarden/mistral.go
Owners: @apascal07

chore(go/samples/imagen-gemini): migrate Gemini 3.1 samples to ThinkingLevel
  go/samples/imagen-gemini/main.go
Owners: @apascal07

feat(py/plugins/google-genai): Add Virtual Try-On 001 on VertexAI
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/virtual_try_on.py
  py/plugins/google-genai/test/models/googlegenai_virtual_try_on_test.py
Owners: @pavelgj, @yesudeep

feat(py/plugins/google-genai): Support tuned Gemini endpoint models
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/plugins/google-genai/test/tuned_gemini_test.py
Owners: @pavelgj, @yesudeep

feat(go/plugins/googlegenai): register Veo 3.1 models
  go/plugins/googlegenai/models.go
Owners: @apascal07

feat(py/plugins/google-genai): Add Imagen 4 models on GoogleAI
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/imagen.py
  py/plugins/google-genai/tests/google_genai_plugin_test.py
Owners: @pavelgj, @yesudeep

chore(go/plugins/vertexai/modelgarden): centralise provider and align compat_oai namespaces
  go/plugins/vertexai/modelgarden/anthropic.go
  go/plugins/vertexai/modelgarden/llama.go
  go/plugins/vertexai/modelgarden/mistral.go
  go/plugins/vertexai/modelgarden/models.go
Owners: @apascal07

refactor(py/plugins/google-genai): Simplify imagen union with dict.fromkeys
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
Owners: @pavelgj, @yesudeep

docs(go/samples/imagen-gemini): restore env-var comment, note Vertex Global-only preview models
  go/samples/imagen-gemini/main.go
Owners: @apascal07

feat(go/plugins/vertexai): add Claude Opus 4.7 to Vertex Model Garden
  go/plugins/vertexai/modelgarden/models.go
  go/samples/modelgarden/main.go
Owners: @apascal07

fix(js/core): Fix DAP resolution (#5166)
  js/core/src/registry.ts
  js/core/tests/registry_test.ts
Owners: @pavelgj

feat(js/plugins/google-genai): Support for gemini-embedding-2 (#5165)
  js/plugins/google-genai/src/googleai/embedder.ts
  js/testapps/basic-gemini/src/index.ts
Owners: @pavelgj

fix2
  genkit-tools/cli/src/utils/manager-utils.ts
  genkit-tools/common/tests/utils/configstore_test.ts
Owners: @pavelgj

more refactor
  py/packages/genkit/src/genkit/_ai/_embedding.py
  py/packages/genkit/src/genkit/_ai/_evaluator.py
  py/packages/genkit/src/genkit/_ai/_model.py
  py/packages/genkit/src/genkit/_core/_action.py
  py/packages/genkit/src/genkit/_core/_dap.py
  py/packages/genkit/src/genkit/_core/_plugin.py
  py/packages/genkit/src/genkit/_core/_registry.py
  py/packages/genkit/src/genkit/plugin_api/__init__.py
  py/packages/genkit/tests/genkit/ai/ai_plugin_test.py
  py/packages/genkit/tests/genkit/ai/dap_test.py
  py/packages/genkit/tests/genkit/ai/embedding_test.py
  py/packages/genkit/tests/genkit/ai/model_test.py
  py/packages/genkit/tests/genkit/core/registry_test.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/google-genai/test/google_plugin_test.py
Owners: @pavelgj, @yesudeep

feedback
  genkit-tools/common/src/utils/configstore.ts
  genkit-tools/common/tests/utils/configstore_test.ts
Owners: @pavelgj

fix format and pyrefly
  py/packages/genkit/src/genkit/plugin_api/__init__.py
  py/packages/genkit/tests/genkit/ai/ai_plugin_test.py
  py/packages/genkit/tests/genkit/ai/embedding_test.py
  py/packages/genkit/tests/genkit/core/registry_test.py
Owners: @pavelgj, @yesudeep

Update logIds to use crypto.randomUUID() for generation
  genkit-tools/telemetry-server/src/file-log-store.ts
  genkit-tools/telemetry-server/src/index.ts
  genkit-tools/telemetry-server/tests/file_log_store_test.ts
Owners: @pavelgj

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj
