Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

fix(py): modify dataset based on comments
  py/samples/evaluator-demo/data/dataset.json
Owners: @pavelgj

feat(py): add sample test with simple flow and implement programmati… (#3976)
  py/packages/genkit/src/genkit/ai/_aio.py
  py/packages/genkit/src/genkit/ai/_registry.py
  py/packages/genkit/src/genkit/blocks/evaluator.py
  py/packages/genkit/tests/genkit/veneer/veneer_test.py
  py/pyproject.toml
  py/samples/evaluator-demo/README.md
  py/samples/evaluator-demo/data/dataset.json
  py/samples/evaluator-demo/pyproject.toml
  py/samples/evaluator-demo/src/eval_demo.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

fix(reflection): correctly/consistently handle errors from reflection api (#3972)
  genkit-tools/common/src/manager/manager.ts
  go/genkit/reflection.go
  go/genkit/reflection_test.go
  go/samples/basic-gemini/main.go
  js/core/src/reflection.ts
Owners: @pavelgj, @apascal07

Iterated on the new APIs.
  go/ai/generate.go
  go/ai/prompt.go
  go/genkit/genkit.go
  go/plugins/googlegenai/googlegenai.go
Owners: @apascal07

chore: CLI version bump
  genkit-tools/cli/package.json
  genkit-tools/common/package.json
  genkit-tools/telemetry-server/package.json
Owners: @pavelgj

chore: JS version bump
  js/ai/package.json
  js/core/package.json
  js/genkit/package.json
  js/plugins/checks/package.json
  js/plugins/chroma/package.json
  js/plugins/cloud-sql-pg/package.json
  js/plugins/compat-oai/package.json
  js/plugins/dev-local-vectorstore/package.json
  js/plugins/evaluators/package.json
  js/plugins/express/package.json
  js/plugins/firebase/package.json
  js/plugins/google-cloud/package.json
  js/plugins/google-genai/package.json
  js/plugins/googleai/package.json
  js/plugins/langchain/package.json
  js/plugins/mcp/package.json
  js/plugins/next/package.json
  js/plugins/ollama/package.json
  js/plugins/pinecone/package.json
  js/plugins/vertexai/package.json
Owners: @pavelgj

Changed `Prompt` to `prompt` in `DataPrompt`.
  go/ai/prompt.go
  go/genkit/genkit.go
Owners: @apascal07

Update prompt.go
  go/ai/prompt.go
Owners: @apascal07

update sample and GoogleAI live tests
  go/plugins/googlegenai/gemini_test.go
  go/samples/basic-gemini/main.go
Owners: @apascal07

Update generate_test.go
  go/ai/generate_test.go
Owners: @apascal07

Update generate.go
  go/ai/generate.go
Owners: @apascal07

Feedback.
  go/ai/formatter.go
  go/ai/prompt.go
Owners: @apascal07

Update generate.go
  go/ai/generate.go
Owners: @apascal07

feat(go): refactored formatters + added support for formatting streams (#3905)
  go/ai/action_test.go
  go/ai/format_array.go
  go/ai/format_enum.go
  go/ai/format_json.go
  go/ai/format_jsonl.go
  go/ai/format_text.go
  go/ai/formatter.go
  go/ai/formatter_test.go
  go/ai/gen.go
  go/ai/generate.go
  go/ai/generate_test.go
  go/ai/option.go
  go/core/schemas.config
  go/internal/base/extract.go
  go/internal/base/extract_test.go
  go/internal/cmd/jsonschemagen/jsonschemagen.go
  go/plugins/googlegenai/gemini.go
  go/plugins/googlegenai/gemini_test.go
  go/samples/formats/main.go
Owners: @apascal07, @pavelgj

fix(py/samples/prompt_demo): add readme with instructions
  py/samples/prompt_demo/README.md
Owners: @pavelgj

fix(py/samples/prompt_demo): add readme with instructions (#3983)
  py/samples/prompt_demo/README.md
Owners: @pavelgj

Added some samples.
  go/core/flow.go
  go/samples/basic-gemini-with-context/main.go
  go/samples/basic-gemini/main.go
  go/samples/basic-prompts/main.go
  go/samples/basic-prompts/prompts/joke.prompt
  go/samples/basic-prompts/prompts/recipe.prompt
  go/samples/basic-prompts/prompts/structured-joke.prompt
  go/samples/basic-structured/main.go
  go/samples/basic/main.go
Owners: @apascal07, @pavelgj

fix: Add slash prefix for dynamic actions
  js/core/src/registry.ts
  js/core/tests/registry_test.ts
Owners: @pavelgj

fix: Add slash prefix for dynamic actions (#3986)
  js/core/src/registry.ts
  js/core/tests/registry_test.ts
Owners: @pavelgj

fix:(js/core/schema): Allow disabling runtime schema compilation
  js/core/package.json
  js/core/src/index.ts
  js/core/src/schema.ts
  js/core/tests/schema_test.ts
  js/genkit/src/common.ts
  js/pnpm-lock.yaml
Owners: @pavelgj

Update main.go
  go/samples/basic-prompts/main.go
Owners: @apascal07

flip flag
  genkit-tools/cli/src/commands/start.ts
  genkit-tools/cli/src/utils/manager-utils.ts
  genkit-tools/common/src/manager/manager.ts
  genkit-tools/common/src/server/server.ts
Owners: @pavelgj

chore: Flip experimental realtime telemetry flag (#3989)
  genkit-tools/cli/src/commands/start.ts
  genkit-tools/cli/src/utils/manager-utils.ts
  genkit-tools/common/src/manager/manager.ts
  genkit-tools/common/src/server/server.ts
Owners: @pavelgj

fix(go/ai): fixed format resolution + prompt variants metadata (#3931)
  go/ai/formatter.go
  go/ai/prompt.go
  go/ai/prompt_test.go
Owners: @apascal07

Update formatter_test.go
  go/ai/formatter_test.go
Owners: @apascal07

update
  js/core/package.json
  js/core/src/schema.ts
  js/core/tests/schema_test.ts
  js/core/tsconfig.json
  js/plugins/google-cloud/tests/traces_test.ts
  js/pnpm-lock.yaml
Owners: @pavelgj

create a new sample
  go/samples/multipart-tools/main.go
Owners: @apascal07

remove body-parser
  js/core/package.json
  js/pnpm-lock.yaml
Owners: @pavelgj

fix formatter test case
  go/ai/formatter_test.go
Owners: @apascal07

Added unit tests.
  go/ai/generate_test.go
  go/ai/prompt_test.go
Owners: @apascal07

undos
  js/core/src/schema.ts
  js/core/tests/schema_test.ts
  js/core/tsconfig.json
  js/plugins/google-cloud/tests/traces_test.ts
Owners: @pavelgj

fix:(js/core/schema): Allow disabling runtime schema compilation (#3988)
  js/core/package.json
  js/core/src/index.ts
  js/core/src/schema.ts
  js/core/tests/schema_test.ts
  js/genkit/src/common.ts
  js/pnpm-lock.yaml
Owners: @pavelgj

chore: CLI version bump
  genkit-tools/cli/package.json
  genkit-tools/common/package.json
  genkit-tools/telemetry-server/package.json
Owners: @pavelgj

chore: JS version bump
  js/ai/package.json
  js/core/package.json
  js/genkit/package.json
  js/plugins/checks/package.json
  js/plugins/chroma/package.json
  js/plugins/cloud-sql-pg/package.json
  js/plugins/compat-oai/package.json
  js/plugins/dev-local-vectorstore/package.json
  js/plugins/evaluators/package.json
  js/plugins/express/package.json
  js/plugins/firebase/package.json
  js/plugins/google-cloud/package.json
  js/plugins/google-genai/package.json
  js/plugins/googleai/package.json
  js/plugins/langchain/package.json
  js/plugins/mcp/package.json
  js/plugins/next/package.json
  js/plugins/ollama/package.json
  js/plugins/pinecone/package.json
  js/plugins/vertexai/package.json
Owners: @pavelgj

Revert "fix:(js/core/schema): Allow disabling runtime schema compilation (#3988)"
  js/core/package.json
  js/core/src/index.ts
  js/core/src/schema.ts
  js/core/tests/schema_test.ts
  js/genkit/src/common.ts
  js/pnpm-lock.yaml
Owners: @pavelgj

chore: CLI version bump
  genkit-tools/cli/package.json
  genkit-tools/common/package.json
  genkit-tools/telemetry-server/package.json
Owners: @pavelgj

chore: JS version bump
  js/ai/package.json
  js/core/package.json
  js/genkit/package.json
  js/plugins/checks/package.json
  js/plugins/chroma/package.json
  js/plugins/cloud-sql-pg/package.json
  js/plugins/compat-oai/package.json
  js/plugins/dev-local-vectorstore/package.json
  js/plugins/evaluators/package.json
  js/plugins/express/package.json
  js/plugins/firebase/package.json
  js/plugins/google-cloud/package.json
  js/plugins/google-genai/package.json
  js/plugins/googleai/package.json
  js/plugins/langchain/package.json
  js/plugins/mcp/package.json
  js/plugins/next/package.json
  js/plugins/ollama/package.json
  js/plugins/pinecone/package.json
  js/plugins/vertexai/package.json
Owners: @pavelgj

feat(py): implementing automatic prompt files loading and fixing the test flow with Dev UI
  py/packages/genkit/src/genkit/ai/_aio.py
  py/packages/genkit/src/genkit/ai/_registry.py
  py/packages/genkit/src/genkit/blocks/model.py
  py/packages/genkit/src/genkit/blocks/prompt.py
  py/packages/genkit/tests/genkit/blocks/generate_test.py
  py/packages/genkit/tests/genkit/blocks/prompt_test.py
  py/samples/prompt_demo/data/nested/nested_hello.prompt
  py/samples/prompt_demo/prompts/_shared_partial.prompt
  py/samples/prompt_demo/prompts/dot.name.test.prompt
  py/samples/prompt_demo/prompts/hello.prompt
  py/samples/prompt_demo/prompts/hello.variant.prompt
  py/samples/prompt_demo/prompts/nested/nested_hello.prompt
  py/samples/prompt_demo/src/prompt_demo.py
Owners: @pavelgj, @yesudeep

feat(py): implementing automatic prompt files loading and fixing the test flow with Dev UI
  py/samples/prompt_demo/README.md
Owners: @pavelgj

Further improvements.
  go/ai/prompt.go
  go/ai/prompt_test.go
  go/genkit/genkit.go
  go/samples/basic-prompts/main.go
  go/samples/basic-structured/main.go
Owners: @apascal07

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj
