Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj

chore: bump @genkit-ai/checks version to @genkit-ai/checks@1.8.0-rc.0
  js/plugins/checks/package.json
Owners: @pavelgj

chore: bump genkitx-mcp version to genkitx-mcp@1.8.0-rc.0
  js/plugins/mcp/package.json
Owners: @pavelgj

chore: bump @genkit-ai/express version to @genkit-ai/express@1.8.0-rc.0
  js/plugins/express/package.json
Owners: @pavelgj

chore: bump @genkit-ai/core version to @genkit-ai/core@1.8.0-rc.1
  js/core/package.json
Owners: @pavelgj

chore: bump @genkit-ai/ai version to @genkit-ai/ai@1.8.0-rc.1
  js/ai/package.json
Owners: @pavelgj

chore: bump genkit version to genkit@1.8.0-rc.1
  js/genkit/package.json
Owners: @pavelgj

chore: bump genkitx-chromadb version to genkitx-chromadb@1.8.0-rc.1
  js/plugins/chroma/package.json
Owners: @pavelgj

chore: bump @genkit-ai/dev-local-vectorstore version to @genkit-ai/dev-local-vectorstore@1.8.0-rc.1
  js/plugins/dev-local-vectorstore/package.json
Owners: @pavelgj

chore: bump @genkit-ai/evaluator version to @genkit-ai/evaluator@1.8.0-rc.1
  js/plugins/evaluators/package.json
Owners: @pavelgj

chore: bump @genkit-ai/firebase version to @genkit-ai/firebase@1.8.0-rc.1
  js/plugins/firebase/package.json
Owners: @pavelgj

chore: bump @genkit-ai/google-cloud version to @genkit-ai/google-cloud@1.8.0-rc.1
  js/plugins/google-cloud/package.json
Owners: @pavelgj

chore: bump @genkit-ai/googleai version to @genkit-ai/googleai@1.8.0-rc.1
  js/plugins/googleai/package.json
Owners: @pavelgj

chore: bump genkitx-langchain version to genkitx-langchain@1.8.0-rc.1
  js/plugins/langchain/package.json
Owners: @pavelgj

chore: bump @genkit-ai/next version to @genkit-ai/next@1.8.0-rc.1
  js/plugins/next/package.json
Owners: @pavelgj

chore: bump genkitx-ollama version to genkitx-ollama@1.8.0-rc.1
  js/plugins/ollama/package.json
Owners: @pavelgj

chore: bump genkitx-pinecone version to genkitx-pinecone@1.8.0-rc.1
  js/plugins/pinecone/package.json
Owners: @pavelgj

chore: bump @genkit-ai/vertexai version to @genkit-ai/vertexai@1.8.0-rc.1
  js/plugins/vertexai/package.json
Owners: @pavelgj

chore: bump @genkit-ai/checks version to @genkit-ai/checks@1.8.0-rc.1
  js/plugins/checks/package.json
Owners: @pavelgj

chore: bump genkitx-mcp version to genkitx-mcp@1.8.0-rc.1
  js/plugins/mcp/package.json
Owners: @pavelgj

chore: bump @genkit-ai/express version to @genkit-ai/express@1.8.0-rc.1
  js/plugins/express/package.json
Owners: @pavelgj

chore: bump @genkit-ai/tools-common version to @genkit-ai/tools-common@1.8.0-rc.0
  genkit-tools/common/package.json
Owners: @pavelgj

chore: bump genkit-cli version to genkit-cli@1.8.0-rc.0
  genkit-tools/cli/package.json
Owners: @pavelgj

chore: bump @genkit-ai/telemetry-server version to @genkit-ai/telemetry-server@1.8.0-rc.0
  genkit-tools/telemetry-server/package.json
Owners: @pavelgj

chore: bump @genkit-ai/tools-common version to @genkit-ai/tools-common@1.8.0-rc.1
  genkit-tools/common/package.json
Owners: @pavelgj

chore: bump genkit-cli version to genkit-cli@1.8.0-rc.1
  genkit-tools/cli/package.json
Owners: @pavelgj

chore: bump @genkit-ai/telemetry-server version to @genkit-ai/telemetry-server@1.8.0-rc.1
  genkit-tools/telemetry-server/package.json
Owners: @pavelgj

fix(js/plugins/googleai): remove thinkingMode support check
  js/plugins/googleai/src/gemini.ts
Owners: @pavelgj

fix(js/plugins/vertexai): remove thinkingMode support check
  js/plugins/vertexai/src/gemini.ts
Owners: @pavelgj

feat(js/plugins/vertexai): enabled thinkingMode for GENERIC_GEMINI_MODEL
  js/plugins/vertexai/src/gemini.ts
Owners: @pavelgj

docs(js): updated code snippets to use the latest 1.8 syntax
  js/doc-snippets/src/flows/index.ts
  js/doc-snippets/src/index.ts
  js/doc-snippets/src/models/imagen.ts
  js/doc-snippets/src/models/index.ts
  js/doc-snippets/src/models/minimal.ts
Owners: @pavelgj

fix(types): resolve type errors and improve type annotations
  py/bin/sanitize_schema_typing.py
  py/packages/genkit/src/genkit/aio/_util.py
  py/packages/genkit/src/genkit/aio/channel.py
  py/packages/genkit/src/genkit/aio/loop.py
  py/packages/genkit/src/genkit/core/action/_util.py
  py/packages/genkit/src/genkit/core/extract.py
  py/packages/genkit/src/genkit/web/typing.py
  py/packages/genkit/tests/genkit/aio/channel_test.py
  py/packages/genkit/tests/genkit/core/extract_test.py
  py/packages/genkit/tests/genkit/lang/deprecations_test.py
Owners: @pavelgj, @yesudeep

refactor(js/ai): moved dynamicTool to ai.dynamicTool
  js/genkit/src/common.ts
  js/genkit/src/genkit.ts
  js/genkit/tests/generate_test.ts
  js/testapps/flow-simple-ai/src/index.ts
Owners: @pavelgj

first version of samples
  py/plugins/vertex-ai/pyproject.toml
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/models/retriever.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/vector_search/vector_search.py
  py/samples/vertex-ai-vector-search-bigquery/src/sample.py
  py/samples/vertex-ai-vector-search-bigquery/src/setup_env.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

add missing usageMetadata fields
  genkit-tools/common/src/types/model.ts
  genkit-tools/genkit-schema.json
  go/ai/gen.go
  go/core/schemas.config
  go/plugins/googlegenai/gemini.go
  go/plugins/googlegenai/googleai_live_test.go
Owners: @pavelgj, @apascal07

feat(js/plugins/googleai): enabled thinkingMode for GENERIC_GEMINI_MODEL
  js/plugins/googleai/src/gemini.ts
Owners: @pavelgj

add implementation of retriever
  js/plugins/cloud-sql-pg/src/index.ts
  js/plugins/cloud-sql-pg/src/vectorstore.ts
Owners: @pavelgj

add implementation of retriever
  js/plugins/cloud-sql-pg/src/indexes.ts
Owners: @pavelgj

feat(go/genkit): Remove indexers for localvec
  go/internal/doc-snippets/rag/indexer.go
  go/internal/doc-snippets/rag/main.go
  go/plugins/localvec/localvec.go
  go/plugins/localvec/localvec_test.go
  go/samples/menu/indexer.go
  go/samples/menu/main.go
  go/samples/menu/s04.go
  go/samples/rag/indexer.go
  go/samples/rag/main.go
Owners: @apascal07

fix(go/genkit): Fix formating of files
  go/internal/doc-snippets/rag/indexer.go
  go/samples/menu/indexer.go
  go/samples/rag/indexer.go
Owners: @apascal07

tool null input schema handler
  go/core/action.go
Owners: @apascal07
