Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj

fix(py): lookup broken for plugins
  py/packages/genkit/src/genkit/core/action.py
Owners: @pavelgj, @yesudeep

feat(js/plugins/googleai): Adds support for variable apiKey in Google AI. (#2324)
  js/plugins/googleai/src/embedder.ts
  js/plugins/googleai/src/gemini.ts
  js/plugins/googleai/src/index.ts
  js/plugins/googleai/tests/gemini_test.ts
Owners: @pavelgj

test
  py/packages/genkit/tests/genkit/core/action_test.py
Owners: @pavelgj, @yesudeep

feat(go/plugins)!: use go-genai SDK in VertexAI and GoogleAI plugins (#2259)
  go/go.mod
  go/go.sum
  go/plugins/googleai/googleai.go
  go/plugins/googleai/googleai_test.go
  go/plugins/internal/gemini/gemini.go
  go/plugins/vertexai/embed.go
  go/plugins/vertexai/vertexai.go
  go/plugins/vertexai/vertexai_test.go
  go/samples/rag/main.go
Owners: @apascal07

fix(py): lookup fix for plugin actions (#2326)
  py/packages/genkit/src/genkit/core/action.py
  py/packages/genkit/tests/genkit/core/action_test.py
Owners: @pavelgj, @yesudeep

chore: bump @genkit-ai/tools-common version to @genkit-ai/tools-common@1.2.0
  genkit-tools/common/package.json
Owners: @pavelgj

chore: bump genkit-cli version to genkit-cli@1.2.0
  genkit-tools/cli/package.json
Owners: @pavelgj

chore: bump @genkit-ai/telemetry-server version to @genkit-ai/telemetry-server@1.2.0
  genkit-tools/telemetry-server/package.json
Owners: @pavelgj

chore: bump @genkit-ai/core version to @genkit-ai/core@1.2.0
  js/core/package.json
Owners: @pavelgj

chore: bump @genkit-ai/ai version to @genkit-ai/ai@1.2.0
  js/ai/package.json
Owners: @pavelgj

chore: bump genkit version to genkit@1.2.0
  js/genkit/package.json
Owners: @pavelgj

chore: bump genkitx-chromadb version to genkitx-chromadb@1.2.0
  js/plugins/chroma/package.json
Owners: @pavelgj

chore: bump @genkit-ai/dev-local-vectorstore version to @genkit-ai/dev-local-vectorstore@1.2.0
  js/plugins/dev-local-vectorstore/package.json
Owners: @pavelgj

chore: bump @genkit-ai/evaluator version to @genkit-ai/evaluator@1.2.0
  js/plugins/evaluators/package.json
Owners: @pavelgj

chore: bump @genkit-ai/firebase version to @genkit-ai/firebase@1.2.0
  js/plugins/firebase/package.json
Owners: @pavelgj

chore: bump @genkit-ai/google-cloud version to @genkit-ai/google-cloud@1.2.0
  js/plugins/google-cloud/package.json
Owners: @pavelgj

chore: bump @genkit-ai/googleai version to @genkit-ai/googleai@1.2.0
  js/plugins/googleai/package.json
Owners: @pavelgj

chore: bump genkitx-langchain version to genkitx-langchain@1.2.0
  js/plugins/langchain/package.json
Owners: @pavelgj

chore: bump @genkit-ai/next version to @genkit-ai/next@1.2.0
  js/plugins/next/package.json
Owners: @pavelgj

chore: bump genkitx-ollama version to genkitx-ollama@1.2.0
  js/plugins/ollama/package.json
Owners: @pavelgj

chore: bump genkitx-pinecone version to genkitx-pinecone@1.2.0
  js/plugins/pinecone/package.json
Owners: @pavelgj

chore: bump @genkit-ai/vertexai version to @genkit-ai/vertexai@1.2.0
  js/plugins/vertexai/package.json
Owners: @pavelgj

chore: bump @genkit-ai/checks version to @genkit-ai/checks@1.2.0
  js/plugins/checks/package.json
Owners: @pavelgj

chore: bump genkitx-mcp version to genkitx-mcp@1.2.0
  js/plugins/mcp/package.json
Owners: @pavelgj

chore: bump @genkit-ai/express version to @genkit-ai/express@1.2.0
  js/plugins/express/package.json
Owners: @pavelgj

add retriever, fix vertex embedder
  py/packages/genkit/src/genkit/ai/document.py
  py/packages/genkit/src/genkit/ai/retriever.py
  py/packages/genkit/src/genkit/veneer/registry.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/embedding.py
  py/samples/hello/src/hello.py
Owners: @pavelgj, @yesudeep

fix: review comments
  go/plugins/internal/gemini/cache.go
  go/plugins/internal/gemini/gemini.go
Owners: @apascal07

feat(py/ai): implemented augment context middleware to simulate grounding with provided docs (#2318)
  py/packages/genkit/src/genkit/ai/generate.py
  py/packages/genkit/src/genkit/ai/middleware.py
  py/packages/genkit/src/genkit/ai/model.py
  py/packages/genkit/src/genkit/ai/prompt.py
  py/packages/genkit/src/genkit/veneer/veneer.py
  py/packages/genkit/tests/genkit/ai/generate_test.py
  py/packages/genkit/tests/genkit/ai/middleware_test.py
  py/packages/genkit/tests/genkit/veneer/veneer_test.py
Owners: @pavelgj, @yesudeep

feat(py): return an empty response message when streaming completes (#2277)
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/handler.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/model.py
Owners: @pavelgj, @yesudeep

tests
  py/packages/genkit/src/genkit/veneer/registry.py
  py/packages/genkit/tests/genkit/ai/document_test.py
  py/packages/genkit/tests/genkit/veneer/veneer_test.py
Owners: @pavelgj, @yesudeep

feat(py): Add ai > retriever (#2331)
  py/packages/genkit/src/genkit/ai/document.py
  py/packages/genkit/src/genkit/ai/retriever.py
  py/packages/genkit/src/genkit/veneer/registry.py
  py/packages/genkit/tests/genkit/ai/document_test.py
  py/packages/genkit/tests/genkit/veneer/veneer_test.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/embedding.py
  py/samples/hello/src/hello.py
Owners: @pavelgj, @yesudeep

test: added test cases for Cache() helper
  go/ai/request_helpers.go
  go/plugins/googleai/googleai_test.go
  go/plugins/internal/gemini/cache.go
  go/plugins/internal/gemini/cache_test.go
  go/plugins/vertexai/vertexai_test.go
Owners: @apascal07

fix: replace cacheSupportedVersions type to a slice
  go/plugins/internal/gemini/cache.go
Owners: @apascal07

feat(py): Added multimodal requests and response parsing for Ollama API
  py/plugins/ollama/src/genkit/plugins/ollama/models.py
  py/samples/ollama-hello/src/hello.py
Owners: @pavelgj, @yesudeep

feat(py): Added multimodal requests and response parsing for Ollama API
  py/plugins/ollama/src/genkit/plugins/ollama/models.py
  py/samples/ollama-hello/src/hello.py
Owners: @pavelgj, @yesudeep

feat(py): VertexAI Gemini tools
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/gemini.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/plugin_api.py
  py/plugins/vertex-ai/tests/test_gemini.py
  py/samples/hello/src/hello.py
Owners: @pavelgj, @yesudeep

Outline for plugin
  go/plugins/openai/openai.go
Owners: @apascal07

add openai client package
  go/go.mod
  go/go.sum
Owners: @apascal07

Added outline for supported models
  go/plugins/openai/openai.go
Owners: @apascal07

feat(py): Adding functionality to track common usage stats of LLMs
  py/packages/genkit/src/genkit/ai/model.py
  py/packages/genkit/tests/genkit/ai/model_test.py
Owners: @pavelgj, @yesudeep
