Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

fix: prepare CI and version for pypi publishing
  .github/workflows/publish_python.yml
  py/bin/publish_pypi.sh
  py/packages/genkit-ai/pyproject.toml
  py/plugins/compat-oai/pyproject.toml
  py/plugins/dev-local-vector-store/pyproject.toml
  py/plugins/firebase/pyproject.toml
  py/plugins/flask/pyproject.toml
  py/plugins/google-cloud/pyproject.toml
  py/plugins/google-genai/pyproject.toml
  py/plugins/ollama/pyproject.toml
  py/plugins/vertex-ai/pyproject.toml
Owners: @pavelgj, @yesudeep

fix tests
  js/plugins/firebase/src/beta/data-connect.ts
  js/plugins/firebase/tests/context_test.ts
  js/plugins/firebase/tests/user_engagement_test.ts
Owners: @pavelgj

remove stray log
  js/plugins/firebase/src/context.ts
Owners: @pavelgj

chore(js): Update Dotprompt to v1.1.0. Fixes #2039
  js/ai/package.json
  js/core/package.json
  js/plugins/evaluators/package.json
  js/pnpm-lock.yaml
Owners: @pavelgj

fix
  js/ai/package.json
  js/core/package.json
  js/plugins/evaluators/package.json
  js/pnpm-lock.yaml
Owners: @pavelgj

fix incompatible Role type
  js/ai/src/prompt.ts
Owners: @pavelgj

chore(js): Update Dotprompt to v1.1.0. Fixes #2039 (#2573)
  js/ai/package.json
  js/ai/src/prompt.ts
  js/core/package.json
  js/plugins/evaluators/package.json
  js/pnpm-lock.yaml
Owners: @pavelgj

Update genkit.go
  go/genkit/genkit.go
Owners: @apascal07

fix(go/genkit): use controlled flushing on JSON responses (#2530)
  go/genkit/reflection.go
Owners: @apascal07

feat(go): Call `DefineGenerateAction` in `Genkit.Init` (#2575)
  go/genkit/genkit.go
Owners: @apascal07

tests
  py/packages/genkit-ai/tests/genkit/veneer/veneer_test.py
Owners: @pavelgj, @yesudeep

chore(python): prepare CI for pypi publishing (#2571)
  .github/workflows/publish_python.yml
  py/bin/publish_pypi.sh
  py/packages/genkit-ai/pyproject.toml
  py/plugins/compat-oai/pyproject.toml
  py/plugins/dev-local-vector-store/pyproject.toml
  py/plugins/firebase/pyproject.toml
  py/plugins/flask/pyproject.toml
  py/plugins/google-cloud/pyproject.toml
  py/plugins/google-genai/pyproject.toml
  py/plugins/ollama/pyproject.toml
  py/plugins/vertex-ai/pyproject.toml
Owners: @pavelgj, @yesudeep

fix desc
  py/samples/hello/src/hello.py
Owners: @pavelgj, @yesudeep

order
  py/packages/genkit-ai/src/genkit/types/__init__.py
Owners: @pavelgj, @yesudeep

context fix
  js/plugins/firebase/src/beta/data-connect.ts
Owners: @pavelgj

refactor(go): keep gemini code in googlegenai
  go/plugins/googlegenai/cache.go
  go/plugins/googlegenai/cache_test.go
  go/plugins/googlegenai/gemini.go
  go/plugins/googlegenai/googlegenai.go
  go/plugins/googlegenai/models.go
Owners: @apascal07

fix: review comments
  go/ai/model_middleware.go
Owners: @apascal07

docs(py/docs): added model and flows docs for python
  py/docs/cloud-run.md
  py/docs/index.md
  py/docs/reference/flows.md
  py/docs/reference/models.md
  py/mkdocs.yml
  py/packages/genkit-ai/README.md
Owners: @pavelgj, @yesudeep

feat(go/plugins): Add model `stage` support (#2481)
  go/ai/generate.go
  go/ai/generator_test.go
  go/ai/model_middleware.go
  go/plugins/googlegenai/models.go
Owners: @apascal07

docs(py/docs): added model and flows docs for python (#2577)
  py/docs/cloud-run.md
  py/docs/index.md
  py/docs/reference/flows.md
  py/docs/reference/models.md
  py/mkdocs.yml
  py/packages/genkit-ai/README.md
Owners: @pavelgj, @yesudeep

fix: unwanted comma
  go/plugins/googlegenai/models.go
Owners: @apascal07

docs(py): added tool and interrupt docs
  py/docs/reference/interrupts.md
  py/docs/reference/tools.md
  py/mkdocs.yml
  py/uv.lock
Owners: @pavelgj, @yesudeep

docs(py): added tool and interrupt docs (#2578)
  py/docs/reference/interrupts.md
  py/docs/reference/tools.md
  py/mkdocs.yml
  py/uv.lock
Owners: @pavelgj, @yesudeep

added function calling support
  go/plugins/compat_oai/compat_oai.go
  go/plugins/compat_oai/generate.go
  go/plugins/compat_oai/openai/openai_live_test.go
Owners: @apascal07

refactor(py/genkit-ai): use the `a*` prefix for all async methods to distinguish from any sync api
  py/docs/cloud-run.md
  py/docs/flask.md
  py/docs/get-started.md
  py/docs/index.md
  py/docs/reference/flows.md
  py/docs/reference/interrupts.md
  py/docs/reference/models.md
  py/docs/reference/tools.md
  py/engdoc/index.md
  py/packages/genkit-ai/README.md
  py/packages/genkit-ai/src/genkit/ai/veneer.py
  py/packages/genkit-ai/tests/genkit/veneer/veneer_test.py
  py/plugins/flask/src/genkit/plugins/flask/handler.py
  py/plugins/ollama/tests/test_plugin_api.py
  py/samples/basic-gemini/src/basic_gemini.py
  py/samples/google-ai/src/google_ai_sample.py
  py/samples/google-genai-image/src/google_genai_image.py
  py/samples/google-genai-imagen/src/google_genai_imagen.py
  py/samples/hello-flask/src/hello_flask.py
  py/samples/hello-google-genai/src/hello_google_genai.py
  py/samples/hello/src/hello.py
  py/samples/menu/src/case_03/flows.py
  py/samples/ollama-hello/src/ollama_hello.py
  py/samples/ollama-simple-embed/src/pokemon_glossary.py
  py/samples/openai/src/openai_example.py
  py/samples/tool-interrupts/src/tool_interrupts.py
  py/samples/vertex-ai-imagen/src/vertex_ai_imagen_sample.py
Owners: @pavelgj, @yesudeep

refactor(py/genkit-ai): use the `a*` prefix for all async methods to distinguish from any sync api at same level (#2579)
  py/docs/cloud-run.md
  py/docs/flask.md
  py/docs/get-started.md
  py/docs/index.md
  py/docs/reference/flows.md
  py/docs/reference/interrupts.md
  py/docs/reference/models.md
  py/docs/reference/tools.md
  py/engdoc/index.md
  py/packages/genkit-ai/README.md
  py/packages/genkit-ai/src/genkit/ai/veneer.py
  py/packages/genkit-ai/tests/genkit/veneer/veneer_test.py
  py/plugins/flask/src/genkit/plugins/flask/handler.py
  py/plugins/ollama/tests/test_plugin_api.py
  py/samples/basic-gemini/src/basic_gemini.py
  py/samples/google-ai/src/google_ai_sample.py
  py/samples/google-genai-image/src/google_genai_image.py
  py/samples/google-genai-imagen/src/google_genai_imagen.py
  py/samples/hello-flask/src/hello_flask.py
  py/samples/hello-google-genai/src/hello_google_genai.py
  py/samples/hello/src/hello.py
  py/samples/menu/src/case_03/flows.py
  py/samples/ollama-hello/src/ollama_hello.py
  py/samples/ollama-simple-embed/src/pokemon_glossary.py
  py/samples/openai/src/openai_example.py
  py/samples/tool-interrupts/src/tool_interrupts.py
  py/samples/vertex-ai-imagen/src/vertex_ai_imagen_sample.py
Owners: @pavelgj, @yesudeep

refactor(py/plugins): use the a* prefix for all async methods to distinguish from any sync api in plugins
  py/plugins/google-ai/src/genkit/plugins/google_ai/models/gemini.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/embedder.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/imagen.py
  py/plugins/google-genai/test/models/test_googlegenai_embedder.py
  py/plugins/google-genai/test/models/test_googlegenai_gemini.py
  py/plugins/google-genai/test/models/test_googlegenai_imagen.py
  py/plugins/ollama/src/genkit/plugins/ollama/models.py
  py/plugins/ollama/src/genkit/plugins/ollama/plugin_api.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/gemini.py
Owners: @pavelgj, @yesudeep

refactor(py/plugins): use the a* prefix for all async methods to distinguish from any sync api in plugins (#2580)
  py/plugins/google-ai/src/genkit/plugins/google_ai/models/gemini.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/embedder.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/imagen.py
  py/plugins/google-genai/test/models/test_googlegenai_embedder.py
  py/plugins/google-genai/test/models/test_googlegenai_gemini.py
  py/plugins/google-genai/test/models/test_googlegenai_imagen.py
  py/plugins/ollama/src/genkit/plugins/ollama/models.py
  py/plugins/ollama/src/genkit/plugins/ollama/plugin_api.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/gemini.py
Owners: @pavelgj, @yesudeep

feat(go/genkit): Fix review comments
  go/ai/prompt.go
Owners: @apascal07

feat(py/ai): added `interrupts` getter to response wrapper
  py/docs/reference/interrupts.md
  py/packages/genkit-ai/src/genkit/blocks/model.py
  py/packages/genkit-ai/tests/genkit/blocks/model_test.py
  py/packages/genkit-ai/tests/genkit/veneer/veneer_test.py
  py/samples/hello-google-genai/src/hello_google_genai.py
  py/samples/tool-interrupts/src/tool_interrupts.py
Owners: @pavelgj, @yesudeep

feat(py): added context provider and implemented for flask plugin
  py/docs/flask.md
  py/packages/genkit-ai/src/genkit/core/context.py
  py/packages/genkit-ai/src/genkit/types/__init__.py
  py/plugins/flask/src/genkit/plugins/flask/handler.py
  py/samples/hello-flask/README.md
  py/samples/hello-flask/src/hello_flask.py
Owners: @pavelgj, @yesudeep

fmt
  py/packages/genkit-ai/src/genkit/types/__init__.py
  py/samples/hello-flask/src/hello_flask.py
Owners: @pavelgj, @yesudeep

Format specific tests
  go/ai/format_json.go
  go/ai/formatter_test.go
Owners: @apascal07

unused
  py/samples/hello-flask/src/hello_flask.py
Owners: @pavelgj, @yesudeep

refactor(go/plugins): keep gemini code in `googlegenai` (#2576)
  go/plugins/googlegenai/cache.go
  go/plugins/googlegenai/cache_test.go
  go/plugins/googlegenai/gemini.go
  go/plugins/googlegenai/googlegenai.go
  go/plugins/googlegenai/models.go
Owners: @apascal07

Add customConfig field to ModelInfo (#2537)
  genkit-tools/common/src/types/model.ts
  genkit-tools/genkit-schema.json
  go/ai/gen.go
  js/ai/src/model.ts
  py/packages/genkit-ai/src/genkit/core/typing.py
Owners: @pavelgj, @apascal07, @yesudeep

feat(go/genkit): Fix renderMessages function
  go/ai/prompt.go
Owners: @apascal07

Remove provider and provider input in LookupTool
  go/ai/tools.go
Owners: @apascal07

Add dev UI support for custom config
  go/ai/generate.go
  go/plugins/internal/gemini/gemini.go
  go/samples/basic-gemini/main.go
Owners: @apascal07

feat(py): added context provider and implemented for flask plugin (#2585)
  py/docs/flask.md
  py/packages/genkit-ai/src/genkit/core/context.py
  py/packages/genkit-ai/src/genkit/types/__init__.py
  py/plugins/flask/src/genkit/plugins/flask/handler.py
  py/samples/hello-flask/README.md
  py/samples/hello-flask/src/hello_flask.py
Owners: @pavelgj, @yesudeep

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj
