Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

set clientOptions on embedder
  js/plugins/google-genai/src/googleai/embedder.ts
  js/plugins/google-genai/src/googleai/veo.ts
Owners: @pavelgj

fix build
  js/testapps/flow-sample1/src/index.ts
Owners: @pavelgj

fix(anthropic): use `beta.models.list` for listing
  js/plugins/anthropic/src/list.ts
Owners: @pavelgj

fix(anthropic): updated tests to reflect changes
  js/plugins/anthropic/tests/index_test.ts
Owners: @pavelgj

chore: CLI version bump
  genkit-tools/cli/package.json
  genkit-tools/common/package.json
  genkit-tools/telemetry-server/package.json
Owners: @pavelgj

chore: JS version bump
  js/ai/package.json
  js/core/package.json
  js/genkit/package.json
  js/plugins/checks/package.json
  js/plugins/chroma/package.json
  js/plugins/cloud-sql-pg/package.json
  js/plugins/compat-oai/package.json
  js/plugins/dev-local-vectorstore/package.json
  js/plugins/evaluators/package.json
  js/plugins/express/package.json
  js/plugins/firebase/package.json
  js/plugins/google-cloud/package.json
  js/plugins/google-genai/package.json
  js/plugins/googleai/package.json
  js/plugins/langchain/package.json
  js/plugins/mcp/package.json
  js/plugins/next/package.json
  js/plugins/ollama/package.json
  js/plugins/pinecone/package.json
  js/plugins/vertexai/package.json
Owners: @pavelgj

Fixed schema resolution.
  go/ai/generate.go
  go/ai/generate_test.go
  go/ai/option.go
  go/ai/option_test.go
  go/ai/prompt.go
  go/ai/prompt_test.go
  go/core/action.go
  go/core/api/registry.go
  go/core/core.go
  go/genkit/genkit.go
  go/genkit/genkit_test.go
  go/internal/registry/registry.go
  go/samples/basic-gemini/main.go
Owners: @apascal07

return trace ID in runAction error response
  js/core/src/reflection.ts
Owners: @pavelgj

Fixed tests.
  go/ai/prompt.go
  go/core/action.go
Owners: @apascal07

lock
  py/uv.lock
Owners: @pavelgj, @yesudeep

fixed lock
  py/packages/genkit/src/genkit/core/typing.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

undo lock file
  py/uv.lock
Owners: @pavelgj, @yesudeep

undo better
  py/uv.lock
Owners: @pavelgj, @yesudeep

undo gen
  py/packages/genkit/src/genkit/core/typing.py
Owners: @pavelgj, @yesudeep

fix(js/plugins/google-genai): do not enforce API key when apiKey is set to `false` (#3933)
  js/plugins/google-genai/src/googleai/client.ts
  js/plugins/google-genai/src/googleai/embedder.ts
  js/plugins/google-genai/src/googleai/gemini.ts
  js/plugins/google-genai/src/googleai/imagen.ts
  js/plugins/google-genai/src/googleai/types.ts
  js/plugins/google-genai/src/googleai/utils.ts
  js/plugins/google-genai/src/googleai/veo.ts
  js/plugins/google-genai/tests/googleai/embedder_test.ts
  js/plugins/google-genai/tests/googleai/gemini_test.ts
  js/plugins/google-genai/tests/googleai/imagen_test.ts
  js/plugins/google-genai/tests/googleai/index_test.ts
  js/plugins/google-genai/tests/googleai/utils_test.ts
Owners: @pavelgj

feat: additional changes
  py/packages/genkit/src/genkit/blocks/embedding.py
  py/packages/genkit/tests/genkit/blocks/embedding_test.py
Owners: @pavelgj, @yesudeep

added try
  js/core/src/registry.ts
Owners: @pavelgj

fix(genkit-tools/generate): Make `model` optional (#3918)
  genkit-tools/common/src/types/model.ts
  genkit-tools/genkit-schema.json
  py/packages/genkit/src/genkit/core/typing.py
Owners: @pavelgj, @yesudeep

feat(js/core): DAP expansion: Dynamic Actions are now expanded in the… (#3927)
  js/core/src/dynamic-action-provider.ts
  js/core/src/registry.ts
  js/core/tests/dynamic-action-provider_test.ts
  js/core/tests/registry_test.ts
Owners: @pavelgj

chore: CLI version bump
  genkit-tools/cli/package.json
  genkit-tools/common/package.json
  genkit-tools/telemetry-server/package.json
Owners: @pavelgj

chore: JS version bump
  js/ai/package.json
  js/core/package.json
  js/genkit/package.json
  js/plugins/checks/package.json
  js/plugins/chroma/package.json
  js/plugins/cloud-sql-pg/package.json
  js/plugins/compat-oai/package.json
  js/plugins/dev-local-vectorstore/package.json
  js/plugins/evaluators/package.json
  js/plugins/express/package.json
  js/plugins/firebase/package.json
  js/plugins/google-cloud/package.json
  js/plugins/google-genai/package.json
  js/plugins/googleai/package.json
  js/plugins/langchain/package.json
  js/plugins/mcp/package.json
  js/plugins/next/package.json
  js/plugins/ollama/package.json
  js/plugins/pinecone/package.json
  js/plugins/vertexai/package.json
Owners: @pavelgj

chore: CLI version bump
  genkit-tools/cli/package.json
  genkit-tools/common/package.json
  genkit-tools/telemetry-server/package.json
Owners: @pavelgj

chore: JS version bump
  js/ai/package.json
  js/core/package.json
  js/genkit/package.json
  js/plugins/checks/package.json
  js/plugins/chroma/package.json
  js/plugins/cloud-sql-pg/package.json
  js/plugins/compat-oai/package.json
  js/plugins/dev-local-vectorstore/package.json
  js/plugins/evaluators/package.json
  js/plugins/express/package.json
  js/plugins/firebase/package.json
  js/plugins/google-cloud/package.json
  js/plugins/google-genai/package.json
  js/plugins/googleai/package.json
  js/plugins/langchain/package.json
  js/plugins/mcp/package.json
  js/plugins/next/package.json
  js/plugins/ollama/package.json
  js/plugins/pinecone/package.json
  js/plugins/vertexai/package.json
Owners: @pavelgj

feat(py): Add it the model reference for the evaluator implementation
  py/packages/genkit/src/genkit/blocks/model.py
  py/packages/genkit/src/genkit/core/typing.py
  py/plugins/evaluators/src/genkit/plugins/evaluators/constant.py
  py/plugins/evaluators/src/genkit/plugins/evaluators/plugin_api.py
Owners: @pavelgj, @yesudeep

set attributes on span creation so they are exported on span start
  js/core/src/tracing/instrumentation.ts
Owners: @pavelgj

feat(py): add embedder reference support matching JS SDK (#3922)
  py/packages/genkit/src/genkit/ai/_aio.py
  py/packages/genkit/src/genkit/ai/_registry.py
  py/packages/genkit/src/genkit/blocks/embedding.py
  py/packages/genkit/tests/genkit/blocks/embedding_test.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/openai_plugin.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/google-genai/test/test_google_plugin.py
  py/plugins/ollama/src/genkit/plugins/ollama/plugin_api.py
  py/plugins/ollama/tests/test_plugin_api.py
Owners: @pavelgj, @yesudeep

feat(go): add support for code defined schemas (#3490)
  go/ai/generate.go
  go/ai/generate_test.go
  go/ai/option.go
  go/ai/option_test.go
  go/ai/prompt.go
  go/ai/prompt_test.go
  go/core/action.go
  go/core/api/registry.go
  go/core/core.go
  go/genkit/genkit.go
  go/genkit/genkit_test.go
  go/internal/registry/registry.go
  go/plugins/googlegenai/gemini.go
  go/plugins/googlegenai/vertexai_live_test.go
  go/samples/basic-gemini/main.go
  go/samples/prompts/main.go
  go/samples/prompts/prompts/recipe.prompt
Owners: @apascal07, @pavelgj

Removed v2 formats.
  go/ai/format_enum.go
  go/ai/format_json.go
  go/ai/format_jsonl.go
  go/ai/formatter.go
  go/ai/option.go
  go/plugins/googlegenai/gemini.go
Owners: @apascal07

Update gen.go
  go/ai/gen.go
Owners: @apascal07

Update extract_test.go
  go/internal/base/extract_test.go
Owners: @apascal07

Update formatter_test.go
  go/ai/formatter_test.go
Owners: @apascal07

feat(py): Implement Anthropic Plugin (#3919)
  py/plugins/anthropic/LICENSE
  py/plugins/anthropic/README.md
  py/plugins/anthropic/pyproject.toml
  py/plugins/anthropic/src/genkit/plugins/anthropic/__init__.py
  py/plugins/anthropic/src/genkit/plugins/anthropic/model_info.py
  py/plugins/anthropic/src/genkit/plugins/anthropic/models.py
  py/plugins/anthropic/src/genkit/plugins/anthropic/plugin.py
  py/plugins/anthropic/src/genkit/py.typed
  py/plugins/anthropic/tests/__init__.py
  py/plugins/anthropic/tests/test_models.py
  py/plugins/anthropic/tests/test_plugin.py
  py/pyproject.toml
  py/samples/anthropic-hello/README.md
  py/samples/anthropic-hello/pyproject.toml
  py/samples/anthropic-hello/src/anthropic_hello.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

feat(py): Added metrics for observability and implemented AIM telemetry for firebase (#3826)
  py/plugins/firebase/src/genkit/plugins/firebase/__init__.py
  py/plugins/firebase/src/genkit/plugins/firebase/tests/test_telemetry.py
  py/plugins/google-cloud/pyproject.toml
  py/plugins/google-cloud/src/genkit/plugins/google_cloud/telemetry/__init__.py
  py/plugins/google-cloud/src/genkit/plugins/google_cloud/telemetry/metrics.py
  py/plugins/google-cloud/src/genkit/plugins/google_cloud/telemetry/tracing.py
  py/samples/firestore-retreiver/src/main.py
  py/samples/google-genai-hello/src/google_genai_hello.py
Owners: @pavelgj, @yesudeep

chore: recreating the schema typing and fixing linter
  py/packages/genkit/src/genkit/blocks/model.py
  py/packages/genkit/src/genkit/core/typing.py
  py/plugins/evaluators/src/genkit/plugins/evaluators/constant.py
  py/plugins/evaluators/src/genkit/plugins/evaluators/plugin_api.py
Owners: @pavelgj, @yesudeep

chore: fixing an import
  py/packages/genkit/src/genkit/blocks/model.py
Owners: @pavelgj, @yesudeep

chore: fix linter
  py/packages/genkit/src/genkit/blocks/model.py
Owners: @pavelgj, @yesudeep

feat(py): Add Evaluator Metrics (ANSWER_RELEVANCY, FAITHFULNESS, MALICIOUSNESS) and ModelReference (#3806)
  py/packages/genkit/src/genkit/ai/_registry.py
  py/packages/genkit/src/genkit/blocks/evaluator.py
  py/packages/genkit/src/genkit/blocks/model.py
  py/plugins/evaluators/prompts/answer_accuracy.prompt
  py/plugins/evaluators/prompts/answer_relevancy.prompt
  py/plugins/evaluators/prompts/faithfulness_long_form.prompt
  py/plugins/evaluators/prompts/faithfulness_nli.prompt
  py/plugins/evaluators/prompts/maliciousness.prompt
  py/plugins/evaluators/src/genkit/plugins/evaluators/constant.py
  py/plugins/evaluators/src/genkit/plugins/evaluators/plugin_api.py
  py/plugins/evaluators/src/metrics/__init__.py
  py/plugins/evaluators/src/metrics/helper.py
Owners: @pavelgj, @yesudeep

feat(py): add retriever reference support maching JS SDK
  py/packages/genkit/src/genkit/ai/_aio.py
  py/packages/genkit/src/genkit/ai/_registry.py
  py/packages/genkit/src/genkit/blocks/retriever.py
  py/packages/genkit/tests/genkit/blocks/retriever_test.py
  py/plugins/dev-local-vectorstore/src/genkit/plugins/dev_local_vectorstore/plugin_api.py
Owners: @pavelgj, @yesudeep

feat(py): add retriever reference support maching JS SDK
  py/packages/genkit/src/genkit/ai/_aio.py
  py/packages/genkit/src/genkit/blocks/retriever.py
  py/packages/genkit/tests/genkit/blocks/retriever_test.py
  py/plugins/dev-local-vectorstore/src/genkit/plugins/dev_local_vectorstore/plugin_api.py
Owners: @pavelgj, @yesudeep

fix: addressed comments and format
  js/plugins/compat-oai/src/model.ts
  js/testapps/compat-oai/src/index.ts
Owners: @pavelgj

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj
