Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj

fix: test for plugin
  py/plugins/vertex-ai/tests/vector_search/test_retrievers.py
  py/plugins/vertex-ai/tests/vector_search/test_vector_search_plugin.py
Owners: @pavelgj, @yesudeep

Cloud SQL Indexer
  js/plugins/cloud-sql-pg/.npmignore
  js/plugins/cloud-sql-pg/LICENSE
  js/plugins/cloud-sql-pg/README.md
  js/plugins/cloud-sql-pg/package.json
  js/plugins/cloud-sql-pg/src/engine.ts
  js/plugins/cloud-sql-pg/src/index.ts
  js/plugins/cloud-sql-pg/src/indexes.ts
  js/plugins/cloud-sql-pg/src/utils/utils.ts
  js/plugins/cloud-sql-pg/tsconfig.json
  js/plugins/cloud-sql-pg/tsup.config.ts
  js/plugins/cloud-sql-pg/typedoc.json
Owners: @pavelgj

add test runner
  integration.cloudbuild.yaml
  js/plugins/cloud-sql-pg/jest.config.js
  js/plugins/cloud-sql-pg/package.json
  js/pnpm-lock.yaml
Owners: @pavelgj

Update integration.cloudbuild.yaml
  integration.cloudbuild.yaml
Owners: @pavelgj

Add Roots support to the MCP client and server
  js/plugins/mcp/package.json
  js/plugins/mcp/src/client/message.ts
  js/plugins/mcp/src/client/prompts.ts
  js/plugins/mcp/src/client/resources.ts
  js/plugins/mcp/src/client/tools.ts
  js/plugins/mcp/src/index.ts
  js/plugins/mcp/src/server.ts
  js/plugins/mcp/tests/client_test.ts
  js/plugins/mcp/tests/mcp_test.ts
  js/plugins/mcp/tests/server_test.ts
  js/pnpm-lock.yaml
Owners: @pavelgj

Cloud SQL Go base
  go/go.mod
  go/go.sum
  go/plugins/postgresql/constants.go
  go/plugins/postgresql/docstore.go
  go/plugins/postgresql/engine.go
  go/plugins/postgresql/engine_test.go
  go/plugins/postgresql/genkit.go
  go/plugins/postgresql/genkit_test.go
  go/plugins/postgresql/indexer.go
  go/plugins/postgresql/options.go
  go/plugins/postgresql/retriever.go
Owners: @apascal07

Allow updating roots
  js/plugins/mcp/src/client.ts
  js/plugins/mcp/src/client/prompts.ts
  js/plugins/mcp/src/client/roots.ts
  js/plugins/mcp/src/index.ts
Owners: @pavelgj

try1
  go/plugins/postgresql/integration.cloudbuild.yaml
Owners: @pavelgj

try2
  go/plugins/postgresql/integration.cloudbuild.yaml
Owners: @pavelgj

change dotprompt version
  go/go.mod
  go/plugins/postgresql/integration.cloudbuild.yaml
Owners: @apascal07, @pavelgj

test if it actually runs
  go/plugins/postgresql/engine_test.go
Owners: @apascal07

revert failing test
  go/plugins/postgresql/engine_test.go
Owners: @apascal07

revert changes in test file
  go/plugins/postgresql/engine_test.go
Owners: @apascal07

change dotprompt in go.sum file
  go/go.sum
Owners: @apascal07

fix(go/genkit): Fix index function
  go/internal/doc-snippets/rag/indexer.go
  go/internal/doc-snippets/rag/main.go
  go/plugins/localvec/localvec.go
  go/plugins/localvec/localvec_test.go
  go/samples/menu/indexer.go
  go/samples/menu/s04.go
Owners: @apascal07

fix(go/genkit): Fix index function
  go/samples/rag/indexer.go
  go/samples/rag/main.go
Owners: @apascal07

fix(go/genkit): Fix index function
  go/plugins/localvec/localvec.go
Owners: @apascal07

fix(go/genkit): update YAML library from go-yaml/yaml to goccy/go-yaml
  go/ai/action_test.go
  go/ai/document.go
  go/go.mod
  go/tests/api_test.go
Owners: @apascal07

fix(go/genkit): update YAML library from go-yaml/yaml to goccy/go-yaml (#2841)
  go/ai/action_test.go
  go/ai/document.go
  go/go.mod
  go/tests/api_test.go
Owners: @apascal07

Support for streaming text and jsonl
  go/ai/format_jsonl.go
  go/ai/formatter_test.go
Owners: @apascal07

fix comments
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/models/retriever.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/vector_search/vector_search.py
  py/plugins/vertex-ai/tests/vector_search/test_retrievers.py
  py/plugins/vertex-ai/tests/vector_search/test_vector_search_plugin.py
  py/samples/vertex-ai-vector-search-bigquery/src/setup_env.py
Owners: @pavelgj, @yesudeep

fix(py): linters and adding test for vertex-ai vector search plugin (#2889)
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/models/retriever.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/vector_search/vector_search.py
  py/plugins/vertex-ai/tests/vector_search/test_retrievers.py
  py/plugins/vertex-ai/tests/vector_search/test_vector_search_plugin.py
  py/samples/vertex-ai-vector-search-bigquery/src/sample.py
  py/samples/vertex-ai-vector-search-bigquery/src/setup_env.py
  py/samples/vertex-ai-vector-search-firestore/src/sample.py
Owners: @pavelgj, @yesudeep

fix(go/genkit): Improve API error handling in Google AI plugins
  go/plugins/googlegenai/gemini.go
  go/plugins/googlegenai/googlegenai.go
  go/plugins/googlegenai/googlegenai_test.go
Owners: @apascal07

feat(go): added retriever, indexer and advenced methods
  go/plugins/postgresql/constants.go
  go/plugins/postgresql/distance_strategy.go
  go/plugins/postgresql/genkit.go
  go/plugins/postgresql/indexer.go
  go/plugins/postgresql/retriever.go
Owners: @apascal07

fix: failing tests
  go/plugins/postgresql/docstore.go
  go/plugins/postgresql/genkit_test.go
Owners: @apascal07

tests for retreiver
  js/plugins/cloud-sql-pg/jest.config.js
  js/plugins/cloud-sql-pg/src/engine.ts
  js/plugins/cloud-sql-pg/tests/index.test.ts
Owners: @pavelgj

tests for retreiver
  js/plugins/cloud-sql-pg/tests/index.test.ts
Owners: @pavelgj

Remove abililty to change roots
  js/plugins/mcp/src/client.ts
  js/plugins/mcp/src/client/prompts.ts
  js/plugins/mcp/src/client/resources.ts
  js/plugins/mcp/src/client/roots.ts
  js/plugins/mcp/src/index.ts
  js/plugins/mcp/tests/client_test.ts
Owners: @pavelgj

tests for retreiver
  js/plugins/cloud-sql-pg/package.json
  js/plugins/cloud-sql-pg/tests/index.test.ts
  package.json
Owners: @pavelgj

format
  js/plugins/mcp/src/client/index.ts
  js/plugins/mcp/src/client/legacy.ts
  js/plugins/mcp/src/client/util.ts
Owners: @pavelgj

feat(js/plugins/mcp): MCP client can connect to multiple servers. (#2896)
  js/genkit/package.json
  js/plugins/mcp/package.json
  js/plugins/mcp/src/client/index.ts
  js/plugins/mcp/src/client/legacy.ts
  js/plugins/mcp/src/client/prompts.ts
  js/plugins/mcp/src/client/resources.ts
  js/plugins/mcp/src/client/tools.ts
  js/plugins/mcp/src/client/util.ts
  js/plugins/mcp/src/index.ts
  js/pnpm-lock.yaml
Owners: @pavelgj

fix(go): run modernize happy
  go/ai/generate.go
  go/ai/prompt.go
  go/core/action_test.go
  go/core/tracing/store.go
  go/genkit/genkit_test.go
  go/genkit/reflection_test.go
  go/genkit/servers.go
  go/internal/cmd/weave/weave.go
  go/plugins/firebase/retriever.go
  go/plugins/firebase/retriever_test.go
  go/plugins/googlecloud/slog_handler_test.go
  go/plugins/googlegenai/cache_test.go
  go/plugins/googlegenai/gemini_test.go
  go/plugins/localvec/localvec.go
  go/plugins/ollama/embed.go
  go/plugins/pinecone/genkit.go
  go/plugins/pinecone/pinecone_test.go
  go/samples/code-execution-gemini/main.go
  go/samples/firebase-retrievers/main.go
  go/samples/ollama-tools/main.go
Owners: @apascal07

fix(go): unify indirect require section in go.mod
  go/go.mod
Owners: @apascal07

fix(go): run modernize happy (#2897)
  go/ai/generate.go
  go/ai/prompt.go
  go/core/action_test.go
  go/core/tracing/store.go
  go/genkit/genkit_test.go
  go/genkit/reflection_test.go
  go/genkit/servers.go
  go/internal/cmd/weave/weave.go
  go/plugins/firebase/retriever.go
  go/plugins/firebase/retriever_test.go
  go/plugins/googlecloud/slog_handler_test.go
  go/plugins/googlegenai/cache_test.go
  go/plugins/googlegenai/gemini_test.go
  go/plugins/localvec/localvec.go
  go/plugins/ollama/embed.go
  go/plugins/pinecone/genkit.go
  go/plugins/pinecone/pinecone_test.go
  go/samples/code-execution-gemini/main.go
  go/samples/firebase-retrievers/main.go
  go/samples/ollama-tools/main.go
Owners: @apascal07

fix(go): unify indirect require section in go.mod (#2898)
  go/go.mod
Owners: @apascal07

ci(go): configure the go.yaml checks to ensure go code is properly formatted
  .github/workflows/go.yml
Owners: @pavelgj

fix: references
  py/samples/google-genai-hello/pyproject.toml
  py/uv.lock
Owners: @pavelgj, @yesudeep

fix(python): Change references sample to main (#2814)
  py/samples/google-genai-hello/pyproject.toml
  py/uv.lock
Owners: @pavelgj, @yesudeep

chore(go): bump go-genai SDK to v1.4.0
  go/go.mod
  go/go.sum
Owners: @apascal07

update image generation model
  go/plugins/googlegenai/googleai_live_test.go
  go/plugins/googlegenai/models.go
Owners: @apascal07
