Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

remove logs and fix naming
  go/ai/gen.go
  go/ai/generate.go
  go/plugins/googleai/googleai.go
  go/plugins/vertexai/vertexai.go
  go/samples/cache-vertex-ai/main.go
Owners: @apascal07

Add support for documents and middleware, fix failing tests
  go/ai/prompt/execute.go
  go/ai/prompt/execute_test.go
  go/ai/prompt/render_test.go
Owners: @apascal07

docs: add docs for vectorsearch
  js/plugins/vertexai/src/vectorsearch/index.ts
Owners: @pavelgj

Fixed tests
  go/genkit/chat_test.go
Owners: @apascal07

feat(js/plugins/vertexai): added support for restricts and numerical restricts in vector search (#2186)
  js/plugins/ollama/src/embeddings.ts
  js/plugins/ollama/tests/embeddings_test.ts
  js/plugins/vertexai/src/vectorsearch/index.ts
  js/plugins/vertexai/src/vectorsearch/vector_search/firestore.ts
  js/plugins/vertexai/src/vectorsearch/vector_search/indexers.ts
  js/plugins/vertexai/src/vectorsearch/vector_search/query_public_endpoint.ts
  js/plugins/vertexai/src/vectorsearch/vector_search/retrievers.ts
  js/plugins/vertexai/src/vectorsearch/vector_search/types.ts
  js/plugins/vertexai/src/vectorsearch/vector_search/upsert_datapoints.ts
  js/plugins/vertexai/tests/vectorsearch/bigquery_test.ts
  js/plugins/vertexai/tests/vectorsearch/query_public_endpoint_test.ts
  js/plugins/vertexai/tests/vectorsearch/upsert_datapoints_test.ts
  js/testapps/context-caching2/src/index.ts
  js/testapps/multimodal/src/pdf.ts
  js/testapps/multimodal/src/video.ts
  js/testapps/vertexai-vector-search-firestore/src/index.ts
Owners: @pavelgj

Update main.go
  go/tests/test_app/main.go
Owners: @apascal07

tests and fixes
  go/ai/evaluator.go
  go/ai/evaluator_test.go
  go/samples/rag/data/eval-inputs.json
  go/samples/rag/main.go
  js/testapps/evals/data/capra-test.json
Owners: @apascal07, @pavelgj

feat: added support for the basic features of the OpenAI plugin
  py/plugins/openai_compat/LICENSE
  py/plugins/openai_compat/README.md
  py/plugins/openai_compat/pyproject.toml
  py/plugins/openai_compat/src/genkit/plugins/openai_compat/__init__.py
  py/plugins/openai_compat/src/genkit/plugins/openai_compat/models/__init__.py
  py/plugins/openai_compat/src/genkit/plugins/openai_compat/models/handler.py
  py/plugins/openai_compat/src/genkit/plugins/openai_compat/models/model.py
  py/plugins/openai_compat/src/genkit/plugins/openai_compat/models/model_info.py
  py/plugins/openai_compat/src/genkit/plugins/openai_compat/openai_plugin.py
  py/plugins/openai_compat/src/genkit/plugins/openai_compat/typing.py
  py/plugins/openai_compat/src/genkit/py.typed
  py/plugins/openai_compat/tests/conftest.py
  py/plugins/openai_compat/tests/test_handler.py
  py/plugins/openai_compat/tests/test_model.py
  py/plugins/openai_compat/tests/test_plugin.py
  py/pyproject.toml
  py/samples/openai/LICENSE
  py/samples/openai/README.md
  py/samples/openai/pyproject.toml
  py/samples/openai/src/main.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

fix: set prompt metadata for render action as expected by dev ui (#2180)
  js/ai/src/prompt.ts
  js/genkit/tests/prompts_test.ts
Owners: @pavelgj

fix: sync model types in genkit-tools
  genkit-tools/common/src/types/model.ts
  genkit-tools/genkit-schema.json
Owners: @pavelgj

fix: samples and remove dead comments
  go/plugins/googleai/cache.go
  go/plugins/googleai/googleai.go
  go/samples/basic-gemini/main.go
  go/samples/cache-gemini/main.go
  go/samples/cache-vertex-ai/main.go
Owners: @apascal07

feat(py): Implementation of embedders api in Ollama Plugin
  py/plugins/ollama/src/genkit/plugins/ollama/embedders.py
  py/plugins/ollama/src/genkit/plugins/ollama/mixins.py
  py/plugins/ollama/src/genkit/plugins/ollama/models.py
  py/plugins/ollama/src/genkit/plugins/ollama/plugin_api.py
  py/samples/ollama/embed.py
Owners: @pavelgj, @yesudeep

fix: sync model types in genkit-tools (#2229)
  genkit-tools/common/src/types/model.ts
  genkit-tools/genkit-schema.json
Owners: @pavelgj

feat(py/veneer): implemented generate_stream veneer
  py/packages/genkit/src/genkit/ai/generate.py
  py/packages/genkit/src/genkit/core/aio.py
  py/packages/genkit/src/genkit/veneer/veneer.py
  py/packages/genkit/src/genkit/veneer/veneer_test.py
  py/packages/genkit/tests/genkit/core/aio_test.py
  py/samples/hello/src/hello.py
Owners: @pavelgj, @yesudeep

docs(py): API and server daemons
  py/engdoc/extending/api.md
  py/engdoc/extending/python/api.md
  py/engdoc/extending/servers.md
Owners: @pavelgj

docs(py): API and server daemons (#2232)
  py/engdoc/extending/api.md
  py/engdoc/extending/python/api.md
  py/engdoc/extending/servers.md
Owners: @pavelgj

Moved model version validation to middleware.
  go/ai/action_test.go
  go/ai/generate.go
  go/ai/generator_test.go
  go/ai/model_middleware.go
  go/ai/model_middleware_test.go
  go/genkit/genkit.go
  go/internal/doc-snippets/modelplugin/modelplugin.go
  go/plugins/dotprompt/genkit.go
  go/plugins/googleai/googleai.go
  go/plugins/vertexai/vertexai.go
  go/samples/basic-gemini/main.go
Owners: @apascal07

feat(py/veneer): implemented generate_stream veneer (#2230)
  py/packages/genkit/src/genkit/ai/generate.py
  py/packages/genkit/src/genkit/core/aio.py
  py/packages/genkit/src/genkit/veneer/veneer.py
  py/packages/genkit/src/genkit/veneer/veneer_test.py
  py/packages/genkit/tests/genkit/core/aio_test.py
  py/samples/hello/src/hello.py
Owners: @pavelgj, @yesudeep

fix(go): fix bug where dev UI configs aren't respected
  go/plugins/googleai/googleai.go
Owners: @apascal07

feat(py/vertexai): Enhance VertexAI plugin
  py/packages/genkit/src/genkit/core/typing.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/__init__.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/embedding.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/gemini.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/imagen.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/plugin_api.py
  py/plugins/vertex-ai/tests/test_embeddings.py
  py/plugins/vertex-ai/tests/test_gemini.py
  py/plugins/vertex-ai/tests/test_imagen.py
  py/samples/hello/README.md
  py/samples/hello/src/hello.py
  py/samples/vertex-ai-imagen/README.md
  py/samples/vertex-ai-imagen/src/vertex-ai-imagen.py
Owners: @pavelgj, @yesudeep

Update googleai.go
  go/plugins/googleai/googleai.go
Owners: @apascal07

Update googleai.go
  go/plugins/googleai/googleai.go
Owners: @apascal07

Update googleai.go
  go/plugins/googleai/googleai.go
Owners: @apascal07

fix
  go/plugins/googleai/googleai.go
Owners: @apascal07

Update googleai.go
  go/plugins/googleai/googleai.go
Owners: @apascal07

fix: address review comments
  go/ai/generate.go
  go/ai/request_helpers.go
  go/go.mod
  go/go.sum
  go/plugins/googleai/cache.go
  go/plugins/googleai/cache_test.go
  go/plugins/googleai/googleai.go
  go/plugins/vertexai/cache_test.go
Owners: @apascal07

feat(go/plugins/googleai): Respect `ToolChoice` setting
  go/plugins/googleai/googleai.go
  go/plugins/googleai/googleai_test.go
  go/plugins/internal/gemini/gemini.go
  go/plugins/vertexai/vertexai.go
Owners: @apascal07

fix: add vertexai changes
  go/plugins/vertexai/cache.go
  go/plugins/vertexai/cache_test.go
Owners: @apascal07

chore(cli): bump max dev ui request size to 30mb (from 100kb)
  genkit-tools/common/src/server/server.ts
Owners: @pavelgj

bump it up in trpc as well
  genkit-tools/common/src/server/server.ts
Owners: @pavelgj

fix(go): Fixed e2e tests. (#2228)
  go/tests/test_app/main.go
Owners: @apascal07

chore(cli): bump max dev ui request size to 30mb (from 100kb) (#2239)
  genkit-tools/common/src/server/server.ts
Owners: @pavelgj

Fixed retrievers data types
  go/ai/retriever.go
  go/internal/doc-snippets/pinecone.go
  go/internal/doc-snippets/rag/main.go
  go/plugins/firebase/retriever.go
  go/plugins/firebase/retriever_test.go
  go/plugins/localvec/localvec.go
  go/plugins/localvec/localvec_test.go
  go/plugins/pinecone/genkit.go
  go/plugins/weaviate/weaviate.go
  go/samples/firebase-retrievers/main.go
  go/samples/pgvector/main.go
Owners: @apascal07

fix(py): update schema types and fix veneer tests #2235
  py/packages/genkit/src/genkit/ai/generate.py
  py/packages/genkit/src/genkit/ai/testing_utils.py
  py/packages/genkit/src/genkit/core/typing.py
  py/packages/genkit/src/genkit/veneer/veneer.py
  py/packages/genkit/src/genkit/veneer/veneer_test.py
Owners: @pavelgj, @yesudeep

fix(py): update schema types and fix veneer tests #2235 (#2243)
  py/packages/genkit/src/genkit/ai/generate.py
  py/packages/genkit/src/genkit/ai/testing_utils.py
  py/packages/genkit/src/genkit/core/typing.py
  py/packages/genkit/src/genkit/veneer/veneer.py
  py/packages/genkit/src/genkit/veneer/veneer_test.py
Owners: @pavelgj, @yesudeep

fix(go): Fixed retrievers data types (#2242)
  go/ai/retriever.go
  go/internal/doc-snippets/pinecone.go
  go/internal/doc-snippets/rag/main.go
  go/plugins/firebase/retriever.go
  go/plugins/firebase/retriever_test.go
  go/plugins/localvec/localvec.go
  go/plugins/localvec/localvec_test.go
  go/plugins/pinecone/genkit.go
  go/plugins/weaviate/weaviate.go
  go/samples/firebase-retrievers/main.go
  go/samples/pgvector/main.go
Owners: @apascal07

feat(go/plugins/googleai): Respect `ToolChoice` setting in Vertex AI and Google AI (#2238)
  go/plugins/googleai/googleai.go
  go/plugins/googleai/googleai_test.go
  go/plugins/internal/gemini/gemini.go
  go/plugins/vertexai/vertexai.go
Owners: @apascal07

refactor(go): Moved model version validation to middleware (#2233)
  go/ai/action_test.go
  go/ai/generate.go
  go/ai/generator_test.go
  go/ai/model_middleware.go
  go/ai/model_middleware_test.go
  go/genkit/genkit.go
  go/internal/doc-snippets/modelplugin/modelplugin.go
  go/plugins/dotprompt/genkit.go
  go/plugins/googleai/googleai.go
  go/plugins/vertexai/vertexai.go
  go/samples/basic-gemini/main.go
Owners: @apascal07

feat(js/plugins/firebase): Expose vector distance and distance threshold options in Firestore vector store retriever
  js/plugins/firebase/package.json
  js/plugins/firebase/src/firestoreRetriever.ts
  js/pnpm-lock.yaml
  js/testapps/rag/src/pdf-rag-firebase.ts
Owners: @pavelgj

feat(js/plugins/firebase): Expose vector distance and distance threshold options in Firestore vector store retriever (#2246)
  js/plugins/firebase/package.json
  js/plugins/firebase/src/firestoreRetriever.ts
  js/pnpm-lock.yaml
  js/testapps/rag/src/pdf-rag-firebase.ts
Owners: @pavelgj

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj
