Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

fix: update reflection-v2 error codes to use JSON-RPC 2.0 invalid params code -32602
  js/core/src/reflection-v2.ts
Owners: @pavelgj

fmt
  js/core/src/reflection-v2.ts
Owners: @pavelgj

simplify ref schema
  js/ai/src/model.ts
Owners: @pavelgj

more simplify
  genkit-tools/common/src/types/model.ts
Owners: @pavelgj

update tools schema
  genkit-tools/genkit-schema.json
  go/ai/gen.go
  py/packages/genkit/src/genkit/_core/_typing.py
Owners: @pavelgj, @apascal07, @yesudeep

fix test
  js/core/tests/reflection-v2_test.ts
Owners: @pavelgj

fix: allow optional whitespace in frontmatter regex to improve parsing robustness
  js/plugins/middleware/src/skills.ts
Owners: @pavelgj

feat(js/ai): Count tokens framework
  js/ai/src/generate.ts
  js/ai/src/index.ts
  js/ai/src/model-types.ts
  js/ai/src/model.ts
  js/ai/tests/generate/generate_test.ts
  js/genkit/src/genkit.ts
Owners: @pavelgj

feat(js/plugins/middleware): implemented tool approval middleware (#5055)
  js/plugins/middleware/README.md
  js/plugins/middleware/examples/coding_agent.ts
  js/plugins/middleware/examples/fallback.ts
  js/plugins/middleware/examples/retry.ts
  js/plugins/middleware/src/fallback.ts
  js/plugins/middleware/src/filesystem.ts
  js/plugins/middleware/src/index.ts
  js/plugins/middleware/src/retry.ts
  js/plugins/middleware/src/skills.ts
  js/plugins/middleware/src/tool-approval.ts
  js/plugins/middleware/tests/filesystem_test.ts
  js/plugins/middleware/tests/tool-approval_test.ts
  js/pnpm-lock.yaml
  js/testapps/flow-simple-ai/package.json
  js/testapps/flow-simple-ai/src/index.ts
Owners: @pavelgj

feat(js/plugins/middleware): implemented filesystem middleware (#5051)
  js/plugins/middleware/README.md
  js/plugins/middleware/examples/coding_agent.ts
  js/plugins/middleware/examples/fallback.ts
  js/plugins/middleware/examples/retry.ts
  js/plugins/middleware/src/fallback.ts
  js/plugins/middleware/src/filesystem.ts
  js/plugins/middleware/src/filesystem/list_files.ts
  js/plugins/middleware/src/filesystem/read_file.ts
  js/plugins/middleware/src/filesystem/search_and_replace.ts
  js/plugins/middleware/src/filesystem/write_file.ts
  js/plugins/middleware/src/index.ts
  js/plugins/middleware/src/retry.ts
  js/plugins/middleware/src/skills.ts
  js/plugins/middleware/src/tool-approval.ts
  js/plugins/middleware/tests/filesystem_test.ts
  js/plugins/middleware/tests/tool-approval_test.ts
  js/pnpm-lock.yaml
  js/testapps/flow-simple-ai/package.json
  js/testapps/flow-simple-ai/src/index.ts
Owners: @pavelgj

feat(js/plugins/middleware): implemented skills middleware (#5049)
  js/plugins/middleware/README.md
  js/plugins/middleware/examples/coding_agent.ts
  js/plugins/middleware/examples/fallback.ts
  js/plugins/middleware/examples/retry.ts
  js/plugins/middleware/src/fallback.ts
  js/plugins/middleware/src/filesystem.ts
  js/plugins/middleware/src/filesystem/list_files.ts
  js/plugins/middleware/src/filesystem/read_file.ts
  js/plugins/middleware/src/filesystem/search_and_replace.ts
  js/plugins/middleware/src/filesystem/write_file.ts
  js/plugins/middleware/src/index.ts
  js/plugins/middleware/src/retry.ts
  js/plugins/middleware/src/skills.ts
  js/plugins/middleware/src/tool-approval.ts
  js/plugins/middleware/tests/filesystem_test.ts
  js/plugins/middleware/tests/skills_test.ts
  js/plugins/middleware/tests/tool-approval_test.ts
  js/pnpm-lock.yaml
  js/testapps/flow-simple-ai/package.json
  js/testapps/flow-simple-ai/src/index.ts
Owners: @pavelgj

feat(js/plugins/middleware): added middleware package with retry and fallback middleware (#5047)
  js/plugins/middleware/.npmignore
  js/plugins/middleware/LICENSE
  js/plugins/middleware/README.md
  js/plugins/middleware/examples/coding_agent.ts
  js/plugins/middleware/examples/fallback.ts
  js/plugins/middleware/examples/retry.ts
  js/plugins/middleware/package.json
  js/plugins/middleware/src/fallback.ts
  js/plugins/middleware/src/filesystem.ts
  js/plugins/middleware/src/filesystem/list_files.ts
  js/plugins/middleware/src/filesystem/read_file.ts
  js/plugins/middleware/src/filesystem/search_and_replace.ts
  js/plugins/middleware/src/filesystem/write_file.ts
  js/plugins/middleware/src/index.ts
  js/plugins/middleware/src/retry.ts
  js/plugins/middleware/src/skills.ts
  js/plugins/middleware/src/tool-approval.ts
  js/plugins/middleware/tests/fallback_test.ts
  js/plugins/middleware/tests/filesystem_test.ts
  js/plugins/middleware/tests/retry_test.ts
  js/plugins/middleware/tests/skills_test.ts
  js/plugins/middleware/tests/tool-approval_test.ts
  js/plugins/middleware/tsconfig.json
  js/plugins/middleware/tsup.config.ts
  js/plugins/middleware/typedoc.json
  js/pnpm-lock.yaml
  js/testapps/flow-simple-ai/package.json
  js/testapps/flow-simple-ai/src/index.ts
Owners: @pavelgj

feat(js/ai): expose restartTool/respondTool helper function in addition to tool.respond/restart (#5046)
  js/ai/src/index.ts
  js/ai/src/tool.ts
  js/ai/tests/tool_test.ts
  js/genkit/src/common.ts
  js/plugins/middleware/.npmignore
  js/plugins/middleware/LICENSE
  js/plugins/middleware/README.md
  js/plugins/middleware/examples/coding_agent.ts
  js/plugins/middleware/examples/fallback.ts
  js/plugins/middleware/examples/retry.ts
  js/plugins/middleware/package.json
  js/plugins/middleware/src/fallback.ts
  js/plugins/middleware/src/filesystem.ts
  js/plugins/middleware/src/filesystem/list_files.ts
  js/plugins/middleware/src/filesystem/read_file.ts
  js/plugins/middleware/src/filesystem/search_and_replace.ts
  js/plugins/middleware/src/filesystem/write_file.ts
  js/plugins/middleware/src/index.ts
  js/plugins/middleware/src/retry.ts
  js/plugins/middleware/src/skills.ts
  js/plugins/middleware/src/tool-approval.ts
  js/plugins/middleware/tests/fallback_test.ts
  js/plugins/middleware/tests/filesystem_test.ts
  js/plugins/middleware/tests/retry_test.ts
  js/plugins/middleware/tests/skills_test.ts
  js/plugins/middleware/tests/tool-approval_test.ts
  js/plugins/middleware/tsconfig.json
  js/plugins/middleware/tsup.config.ts
  js/plugins/middleware/typedoc.json
  js/pnpm-lock.yaml
  js/testapps/flow-simple-ai/package.json
  js/testapps/flow-simple-ai/src/index.ts
Owners: @pavelgj

feat(js/core): added middleware to reflection api (#5044)
  js/ai/src/index.ts
  js/ai/src/tool.ts
  js/ai/tests/tool_test.ts
  js/core/src/reflection-v2.ts
  js/core/src/reflection.ts
  js/core/tests/reflection-v2_test.ts
  js/core/tests/reflection_test.ts
  js/genkit/src/common.ts
  js/plugins/middleware/.npmignore
  js/plugins/middleware/LICENSE
  js/plugins/middleware/README.md
  js/plugins/middleware/examples/coding_agent.ts
  js/plugins/middleware/examples/fallback.ts
  js/plugins/middleware/examples/retry.ts
  js/plugins/middleware/package.json
  js/plugins/middleware/src/fallback.ts
  js/plugins/middleware/src/filesystem.ts
  js/plugins/middleware/src/filesystem/list_files.ts
  js/plugins/middleware/src/filesystem/read_file.ts
  js/plugins/middleware/src/filesystem/search_and_replace.ts
  js/plugins/middleware/src/filesystem/write_file.ts
  js/plugins/middleware/src/index.ts
  js/plugins/middleware/src/retry.ts
  js/plugins/middleware/src/skills.ts
  js/plugins/middleware/src/tool-approval.ts
  js/plugins/middleware/tests/fallback_test.ts
  js/plugins/middleware/tests/filesystem_test.ts
  js/plugins/middleware/tests/retry_test.ts
  js/plugins/middleware/tests/skills_test.ts
  js/plugins/middleware/tests/tool-approval_test.ts
  js/plugins/middleware/tsconfig.json
  js/plugins/middleware/tsup.config.ts
  js/plugins/middleware/typedoc.json
  js/pnpm-lock.yaml
  js/testapps/flow-simple-ai/package.json
  js/testapps/flow-simple-ai/src/index.ts
Owners: @pavelgj

chore: simplify codeowners
  .github/CODEOWNERS
Owners: @pavelgj

refactor(js/plugins/vercel-ai-sdk): improve type safety and AI SDK v6 alignment
  js/plugins/vercel-ai-sdk/README.md
  js/plugins/vercel-ai-sdk/src/chat.ts
  js/plugins/vercel-ai-sdk/src/completion.ts
  js/plugins/vercel-ai-sdk/src/convert.ts
  js/plugins/vercel-ai-sdk/src/generate.ts
  js/plugins/vercel-ai-sdk/src/index.ts
  js/plugins/vercel-ai-sdk/src/object.ts
  js/plugins/vercel-ai-sdk/src/schema.ts
  js/plugins/vercel-ai-sdk/src/stream.ts
  js/plugins/vercel-ai-sdk/src/utils.ts
  js/plugins/vercel-ai-sdk/src/writer.ts
  js/plugins/vercel-ai-sdk/tests/chat_test.ts
  js/plugins/vercel-ai-sdk/tests/completion_test.ts
  js/plugins/vercel-ai-sdk/tests/convert_test.ts
  js/plugins/vercel-ai-sdk/tests/generate_test.ts
  js/plugins/vercel-ai-sdk/tests/schema_test.ts
  js/plugins/vercel-ai-sdk/tests/tsconfig.typecheck.json
  js/plugins/vercel-ai-sdk/tests/type_check.ts
  js/testapps/vercel-ai-sdk-next/src/genkit/chat.ts
  js/testapps/vercel-ai-sdk-next/src/genkit/completion.ts
  js/testapps/vercel-ai-sdk-next/src/genkit/object.ts
  js/testapps/vercel-ai-sdk-next/tsconfig.tsbuildinfo
Owners: @pavelgj

fix(js/plugins/vercel-ai-sdk): guard writer.close() against already-closed stream
  js/plugins/vercel-ai-sdk/src/completion.ts
  js/plugins/vercel-ai-sdk/src/object.ts
Owners: @pavelgj

feat(anthropic): add prompt caching support via message metadata
  go/plugins/internal/anthropic/anthropic.go
Owners: @apascal07

refactor: apply review feedback — simplify cache metadata check, safe Custom map init
  go/plugins/internal/anthropic/anthropic.go
Owners: @apascal07

fix(js/genkit): Explicitly allow null types in promptDir (#5036)
  js/ai/src/prompt.ts
  js/genkit/src/genkit.ts
  js/genkit/tests/prompts_test.ts
Owners: @pavelgj

add config commands for runtime
  genkit-tools/cli/src/commands/config.ts
  genkit-tools/cli/src/commands/eval-flow.ts
  genkit-tools/cli/src/commands/eval-run.ts
  genkit-tools/cli/src/commands/flow-run.ts
  genkit-tools/common/src/utils/configstore.ts
Owners: @pavelgj

tests
  genkit-tools/cli/tests/commands/config_test.ts
  genkit-tools/common/tests/utils/configstore_test.ts
Owners: @pavelgj

feat(genkit): add programmatic dataset store APIs
  go/genkit/datasets.go
  go/genkit/datasets_test.go
  go/genkit/doc.go
  go/genkit/example_test.go
  js/genkit/README.md
  js/genkit/src/datasets.ts
  js/genkit/src/index.ts
  js/genkit/tests/datasets_test.ts
Owners: @apascal07, @pavelgj

fix(py): fix double generate span in model runner
  py/packages/genkit/src/genkit/_ai/_generate.py
Owners: @pavelgj, @yesudeep

feat(ollama): detect model capabilities dynamically via /api/show
  go/plugins/ollama/ollama.go
  go/plugins/ollama/ollama_test.go
Owners: @apascal07

fix(ollama): address review — no I/O under mutex, ctx timeout, cancellation check
  go/plugins/ollama/ollama.go
Owners: @apascal07

fix(ollama): check init guard before HTTP I/O in DefineModel
  go/plugins/ollama/ollama.go
Owners: @apascal07

chore: CLI version bump
  genkit-tools/cli/package.json
  genkit-tools/common/package.json
  genkit-tools/telemetry-server/package.json
Owners: @pavelgj

chore: JS version bump
  js/ai/package.json
  js/core/package.json
  js/genkit/package.json
  js/plugins/checks/package.json
  js/plugins/chroma/package.json
  js/plugins/cloud-sql-pg/package.json
  js/plugins/compat-oai/package.json
  js/plugins/dev-local-vectorstore/package.json
  js/plugins/evaluators/package.json
  js/plugins/express/package.json
  js/plugins/firebase/package.json
  js/plugins/google-cloud/package.json
  js/plugins/google-genai/package.json
  js/plugins/langchain/package.json
  js/plugins/mcp/package.json
  js/plugins/next/package.json
  js/plugins/ollama/package.json
  js/plugins/pinecone/package.json
  js/plugins/vertexai/package.json
Owners: @pavelgj

chore: update middleware package version to 0.5.0-rc.0
  js/plugins/middleware/package.json
Owners: @pavelgj

feat(js/plugins/google-genai): serviceTier support for googleAI (#5058)
  js/plugins/google-genai/src/common/types.ts
  js/plugins/google-genai/src/googleai/gemini.ts
  js/plugins/google-genai/tests/googleai/gemini_test.ts
  js/testapps/basic-gemini/src/index.ts
Owners: @pavelgj

fix(py/google-genai): update model configuration
  py/samples/google-genai-media/src/main.py
Owners: @pavelgj, @yesudeep

feat(py/google-genai): add GoogleAI Veo 3.x model support and Dev UI sample flows
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/veo.py
  py/plugins/google-genai/tests/veo_test.py
  py/samples/google-genai-media/README.md
  py/samples/google-genai-media/src/main.py
Owners: @pavelgj, @yesudeep

fix(py/google-genai): streamline video model input
  py/plugins/google-genai/tests/veo_test.py
  py/samples/google-genai-media/README.md
  py/samples/google-genai-media/src/main.py
Owners: @pavelgj, @yesudeep

refactor(py/plugins/anthropic): remove Claude 3 Haiku model and update supported models count
  py/plugins/anthropic/src/genkit/plugins/anthropic/model_info.py
  py/plugins/anthropic/tests/anthropic_plugin_test.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/context_caching/constants.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
Owners: @pavelgj, @yesudeep

fix(go): remove gemini-3-pro-preview and claude-3-haiku@20240307
  go/plugins/googlegenai/README.md
  go/plugins/googlegenai/googleai_live_test.go
  go/plugins/googlegenai/models.go
  go/plugins/vertexai/modelgarden/models.go
  go/samples/multipart-tools/main.go
Owners: @pavelgj, @apascal07

Update generate.go
  go/ai/generate.go
Owners: @apascal07

refactor: streamline bidi action API
  js/core/src/action.ts
  js/core/src/flow.ts
  js/core/src/index.ts
  js/core/tests/bidi-action_test.ts
  js/core/tests/bidi-flow_test.ts
Owners: @pavelgj

feat(js): allow middleware generate hook manipulate message/turn index
  js/ai/src/generate/action.ts
  js/ai/src/generate/middleware.ts
  js/ai/tests/generate/middleware_test.ts
  js/core/src/action.ts
  js/plugins/middleware/src/fallback.ts
  js/plugins/middleware/src/filesystem.ts
  js/plugins/middleware/src/skills.ts
  js/plugins/middleware/tests/filesystem_test.ts
Owners: @pavelgj

refactor: move GenerateResponseChunk wrapping logic into middleware chain in generate action
  js/ai/src/generate/action.ts
Owners: @pavelgj

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj
