Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj

chore: disabled dotprompt rendering due issue with the CI
  py/packages/genkit/src/genkit/blocks/prompt.py
  py/packages/genkit/tests/genkit/blocks/prompt_test.py
Owners: @pavelgj, @yesudeep

feat(js/plugins/compat-oai): support reasoning_content & json_schema
  js/plugins/compat-oai/src/model.ts
  js/plugins/compat-oai/tests/compat_oai_test.ts
Owners: @pavelgj

Change runtime file name format to remove usage of colon
  py/packages/genkit/src/genkit/ai/_server.py
Owners: @pavelgj, @yesudeep

fix(py): Use file-safe timestamp format for runtime file to prevent OSError on Windows (#3727)
  py/packages/genkit/src/genkit/ai/_server.py
Owners: @pavelgj, @yesudeep

fix(ollama): fix duplicate tool response (#3707)
  js/plugins/ollama/src/index.ts
  js/plugins/ollama/src/types.ts
Owners: @pavelgj

fix(scripts/setup): update the location for the captainhook binary
  bin/setup
Owners: @pavelgj

feat(telemetry-server): implemented OTLP receiver (experimental)
  genkit-tools/telemetry-server/src/index.ts
  genkit-tools/telemetry-server/src/utils/otlp.ts
  genkit-tools/telemetry-server/src/utils/trace.ts
  genkit-tools/telemetry-server/tests/file_store_test.ts
  genkit-tools/telemetry-server/tests/otlp_test.ts
Owners: @pavelgj

fmt
  genkit-tools/telemetry-server/src/index.ts
  genkit-tools/telemetry-server/src/utils/otlp.ts
  genkit-tools/telemetry-server/src/utils/trace.ts
  genkit-tools/telemetry-server/tests/file_store_test.ts
Owners: @pavelgj

test fixes
  genkit-tools/telemetry-server/tests/file_store_test.ts
  genkit-tools/telemetry-server/tests/utils.ts
Owners: @pavelgj

feat(genkit-tools): support trace uploads via tools router
  genkit-tools/common/src/manager/manager.ts
  genkit-tools/common/src/server/router.ts
Owners: @pavelgj

WIP, improved eval format
  genkit-tools/common/src/eval/evaluate.ts
Owners: @pavelgj

feat(js/plugins/google-genai): New models and support for googleai veo video extension
  js/plugins/google-genai/src/googleai/gemini.ts
  js/plugins/google-genai/src/googleai/imagen.ts
  js/plugins/google-genai/src/googleai/types.ts
  js/plugins/google-genai/src/googleai/utils.ts
  js/plugins/google-genai/src/googleai/veo.ts
  js/plugins/google-genai/src/vertexai/veo.ts
  js/plugins/google-genai/tests/googleai/gemini_test.ts
  js/plugins/google-genai/tests/googleai/imagen_test.ts
  js/plugins/google-genai/tests/googleai/index_test.ts
  js/plugins/google-genai/tests/googleai/utils_test.ts
  js/plugins/google-genai/tests/googleai/veo_test.ts
  js/testapps/basic-gemini/package.json
  js/testapps/basic-gemini/src/index.ts
Owners: @pavelgj

formatting
  js/testapps/basic-gemini/src/index.ts
Owners: @pavelgj

feat(js/plugins/google-genai): New models and support for googleai veo video extension (#3736)
  js/plugins/google-genai/src/googleai/gemini.ts
  js/plugins/google-genai/src/googleai/imagen.ts
  js/plugins/google-genai/src/googleai/types.ts
  js/plugins/google-genai/src/googleai/utils.ts
  js/plugins/google-genai/src/googleai/veo.ts
  js/plugins/google-genai/src/vertexai/veo.ts
  js/plugins/google-genai/tests/googleai/gemini_test.ts
  js/plugins/google-genai/tests/googleai/imagen_test.ts
  js/plugins/google-genai/tests/googleai/index_test.ts
  js/plugins/google-genai/tests/googleai/utils_test.ts
  js/plugins/google-genai/tests/googleai/veo_test.ts
  js/testapps/basic-gemini/package.json
  js/testapps/basic-gemini/src/index.ts
Owners: @pavelgj

feat(go) add multimodal media support for gemma3 models to ollama
  go/plugins/ollama/ollama.go
Owners: @apascal07

fix(go/samples): run go mod tidy
  go/samples/mcp-git-pr-explainer/go.mod
  go/samples/mcp-git-pr-explainer/go.sum
  go/samples/telemetry-test/kitchen_sink/go.mod
  go/samples/telemetry-test/kitchen_sink/go.sum
  go/samples/telemetry-test/simple/go.mod
  go/samples/telemetry-test/simple/go.sum
Owners: @pavelgj

added disableGenkitOTelInitialization
  genkit-tools/telemetry-server/src/utils/otlp.ts
  genkit-tools/telemetry-server/tests/otlp_test.ts
  js/core/src/tracing.ts
  js/genkit/src/tracing.ts
Owners: @pavelgj

fmt
  js/genkit/src/tracing.ts
Owners: @pavelgj

rename traceDataFromOtlp
  genkit-tools/telemetry-server/src/index.ts
  genkit-tools/telemetry-server/src/utils/otlp.ts
  genkit-tools/telemetry-server/tests/otlp_test.ts
Owners: @pavelgj

fix(cli): improve runtime health checks
  genkit-tools/common/src/manager/manager.ts
  genkit-tools/common/src/utils/utils.ts
  go/genkit/reflection.go
  go/genkit/reflection_test.go
  js/core/src/reflection.ts
  js/plugins/vertexai/src/rerankers/v2/index.ts
Owners: @pavelgj, @apascal07

Minor fixes to make gemini CLI evals smooth
  genkit-tools/common/src/eval/evaluate.ts
  genkit-tools/telemetry-server/src/file-trace-store.ts
Owners: @pavelgj

test(py): add tests for .prompt file loader (parse, variants, metadata)
  py/packages/genkit/tests/genkit/dotprompt/file_loader_test.py
Owners: @pavelgj, @yesudeep

py(genkit): safe opt-in integration hook for .prompt folder loading (no auto-registration)
  py/packages/genkit/src/genkit/ai/_base.py
  py/packages/genkit/src/genkit/ai/_base_async.py
  py/packages/genkit/src/genkit/core/registry.py
Owners: @pavelgj, @yesudeep

test(py): make Genkit-based lookup assertion optional when dotprompt engine unavailable
  py/packages/genkit/src/genkit/ai/_registry.py
  py/packages/genkit/src/genkit/core/registry.py
  py/packages/genkit/tests/genkit/dotprompt/file_loader_test.py
Owners: @pavelgj, @yesudeep

py(dotprompt): add standalone .prompt handler and metadata rendering (no integration)
  Firebase_Genkit_Issue_3280_Analysis.md
  py/packages/genkit/src/genkit/dotprompt/__init__.py
  py/packages/genkit/src/genkit/dotprompt/exceptions.py
  py/packages/genkit/src/genkit/dotprompt/file_loader.py
  py/packages/genkit/src/genkit/dotprompt/types.py
Owners: @pavelgj, @yesudeep

py(genkit): expose opt-in .prompt file loaders on Genkit API (no auto-registration)
  py/packages/genkit/src/genkit/ai/_registry.py
Owners: @pavelgj, @yesudeep

py(dotprompt): require real dotprompt engine; tests depend on dotpromptz and fail if unavailable
  py/packages/genkit/src/genkit/dotprompt/__init__.py
  py/packages/genkit/src/genkit/dotprompt/file_loader.py
  py/packages/genkit/tests/genkit/dotprompt/file_loader_test.py
Owners: @pavelgj, @yesudeep

py(dotprompt): make loader import-safe without dotpromptz; add tests and async metadata rendering; expose opt-in Genkit APIs
  py/packages/genkit/src/genkit/dotprompt/__init__.py
  py/packages/genkit/src/genkit/dotprompt/file_loader.py
  py/packages/genkit/tests/genkit/dotprompt/file_loader_test.py
Owners: @pavelgj, @yesudeep

test(py): expand .prompt loader tests to mirror JS behavior (ns, variants, single-file)
  py/packages/genkit/tests/genkit/dotprompt/file_loader_test.py
Owners: @pavelgj, @yesudeep

py(dotprompt): remove unused exceptions; clean comments; ensure real engine APIs; tests pass (6/6)
  py/packages/genkit/src/genkit/dotprompt/__init__.py
  py/packages/genkit/src/genkit/dotprompt/exceptions.py
  py/packages/genkit/src/genkit/dotprompt/file_loader.py
  py/packages/genkit/src/genkit/dotprompt/types.py
  py/packages/genkit/tests/genkit/dotprompt/file_loader_test.py
Owners: @pavelgj, @yesudeep

fix(scripts/setup): update the location for the captainhook binary (#3730)
  bin/setup
Owners: @pavelgj

fix(cli): improve runtime health checks (#3740)
  genkit-tools/common/src/manager/manager.ts
  genkit-tools/common/src/utils/utils.ts
  go/genkit/reflection.go
  go/genkit/reflection_test.go
  js/core/src/reflection.ts
  js/plugins/vertexai/src/rerankers/v2/index.ts
Owners: @pavelgj, @apascal07

refactor(cli): refactored runtime process manager, added process control APIs
  genkit-tools/cli/src/commands/start.ts
  genkit-tools/cli/src/utils/manager-utils.ts
  genkit-tools/common/src/manager/index.ts
  genkit-tools/common/src/manager/manager.ts
  genkit-tools/common/src/manager/process-manager.ts
  genkit-tools/common/src/server/router.ts
  genkit-tools/common/tests/process-manager_test.ts
  js/genkit/src/genkit.ts
Owners: @pavelgj

fix(go): allow the use of snake case fields in dotprompt templates
  go/ai/prompt.go
Owners: @apascal07

fix(go/samples): run go mod tidy (#3738)
  go/samples/mcp-git-pr-explainer/go.mod
  go/samples/mcp-git-pr-explainer/go.sum
  go/samples/telemetry-test/kitchen_sink/go.mod
  go/samples/telemetry-test/kitchen_sink/go.sum
  go/samples/telemetry-test/simple/go.mod
  go/samples/telemetry-test/simple/go.sum
Owners: @pavelgj

feat(go/plugins/ollama) add multimodal media support for gemma3 (#3737)
  go/plugins/ollama/ollama.go
Owners: @apascal07

feat(go): support using a custom filesystem to load prompts from #3746
  go/ai/_test_data/prompts/example.prompt
  go/ai/prompt.go
  go/ai/prompt_test.go
  go/genkit/genkit.go
  go/samples/prompts-dir/main.go
Owners: @pavelgj, @apascal07

refactor(plugins/googleai): migrate to v2
  js/plugins/googleai/src/embedder.ts
  js/plugins/googleai/src/gemini.ts
  js/plugins/googleai/src/imagen.ts
  js/plugins/googleai/src/index.ts
  js/plugins/googleai/src/veo.ts
Owners: @pavelgj

chore: format
  js/plugins/googleai/src/embedder.ts
  js/plugins/googleai/src/gemini.ts
  js/plugins/googleai/src/imagen.ts
  js/plugins/googleai/src/index.ts
  js/plugins/googleai/src/veo.ts
Owners: @pavelgj

fmt
  go/core/flow_test.go
Owners: @apascal07
