Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj

Stop doing the plugin search fallback
  py/packages/genkit/src/genkit/_core/_registry.py
Owners: @pavelgj, @yesudeep

add comment
  py/packages/genkit/src/genkit/_core/_registry.py
Owners: @pavelgj, @yesudeep

feat(go/plugins/compat_oai): support reasoning_content for Moonshot/Kimi compatibility
  go/plugins/compat_oai/generate.go
  go/plugins/compat_oai/moonshot_live_test.go
Owners: @apascal07

fix(go/plugins/compat_oai): store reasoning only once
  go/plugins/compat_oai/generate.go
Owners: @apascal07

test(go/compat_oai): cover streaming reasoning_content
  go/plugins/compat_oai/moonshot_live_test.go
  go/plugins/compat_oai/reasoning_live_test.go
Owners: @apascal07

fix(go/compat_oai): provide reasoning extra field in streaming mode
  go/plugins/compat_oai/generate.go
Owners: @apascal07

refactor(go/compat_oai): simplify response collector in streaming
  go/plugins/compat_oai/generate.go
Owners: @apascal07

refactor(go/compat_oai): reorder functions to make diff cleaner
  go/plugins/compat_oai/generate.go
  go/plugins/compat_oai/generate_test.go
Owners: @apascal07

chore: update CODEOWNERS to reflect new ownership
  .github/CODEOWNERS
Owners: @pavelgj

refactor: consolidate ephemeral and persistent manager startup logic into runWithManager (#5151)
  genkit-tools/cli/src/commands/eval-extract-data.ts
  genkit-tools/cli/src/commands/eval-flow.ts
  genkit-tools/cli/src/commands/eval-run.ts
  genkit-tools/cli/src/commands/flow-batch-run.ts
  genkit-tools/cli/src/commands/flow-run.ts
  genkit-tools/cli/src/commands/start.ts
  genkit-tools/cli/src/utils/manager-utils.ts
  genkit-tools/cli/tests/commands/start_test.ts
Owners: @pavelgj

Update middleware_test.go
  go/ai/middleware_test.go
Owners: @apascal07

feat(go/ai): added `DefineMiddleware` (Middleware V2) (#4464)
  genkit-tools/common/src/types/index.ts
  genkit-tools/common/src/types/middleware.ts
  genkit-tools/common/src/types/model.ts
  genkit-tools/genkit-schema.json
  genkit-tools/scripts/schema-exporter.ts
  go/ai/gen.go
  go/ai/generate.go
  go/ai/middleware.go
  go/ai/middleware_test.go
  go/ai/option.go
  go/ai/prompt.go
  go/ai/tools.go
  go/core/schemas.config
  go/genkit/genkit.go
  go/genkit/reflection.go
  py/packages/genkit/src/genkit/_core/_typing.py
Owners: @pavelgj, @apascal07, @yesudeep

fix type issue
  py/packages/genkit/src/genkit/_core/_action.py
  py/packages/genkit/src/genkit/_core/_reflection.py
  py/packages/genkit/src/genkit/_core/_registry.py
  py/packages/genkit/tests/genkit/core/endpoints/reflection_test.py
Owners: @pavelgj, @yesudeep

refactor: remove explicit process exit from Genkit shutdown sequence
  js/genkit/src/genkit.ts
Owners: @pavelgj

cleanup
  js/core/src/action.ts
  js/core/tests/bidi-action_test.ts
  js/genkit/src/genkit-beta.ts
  js/testapps/flow-sample1/src/index.ts
Owners: @pavelgj

refactor: separate BidiActionRunOptions from ActionRunOptions and streamline run/stream types
  js/core/src/action.ts
Owners: @pavelgj

feat: add initialization schema support to actions and improve stream lifecycle management with proper cleanup
  js/core/src/action.ts
  js/core/tests/bidi-action_test.ts
Owners: @pavelgj

fix: update channel termination condition to correctly handle falsy values and add supporting test case
  js/core/src/async.ts
  js/core/tests/async_test.ts
Owners: @pavelgj

add restart_tool helper
  py/packages/genkit/src/genkit/__init__.py
  py/packages/genkit/src/genkit/_ai/_tools.py
  py/packages/genkit/tests/genkit/ai/_tools_test.py
  py/samples/tool-interrupts/src/approval_example.py
Owners: @pavelgj, @yesudeep

format
  py/packages/genkit/tests/genkit/ai/_tools_test.py
Owners: @pavelgj, @yesudeep

chore: CLI version bump
  genkit-tools/cli/package.json
  genkit-tools/common/package.json
  genkit-tools/telemetry-server/package.json
Owners: @pavelgj

revert: "chore: CLI version bump"
  genkit-tools/cli/package.json
  genkit-tools/common/package.json
  genkit-tools/telemetry-server/package.json
Owners: @pavelgj

chore: CLI version bump
  genkit-tools/cli/package.json
  genkit-tools/common/package.json
  genkit-tools/telemetry-server/package.json
Owners: @pavelgj

chore: JS version bump
  js/ai/package.json
  js/core/package.json
  js/genkit/package.json
  js/plugins/checks/package.json
  js/plugins/chroma/package.json
  js/plugins/cloud-sql-pg/package.json
  js/plugins/compat-oai/package.json
  js/plugins/dev-local-vectorstore/package.json
  js/plugins/evaluators/package.json
  js/plugins/express/package.json
  js/plugins/firebase/package.json
  js/plugins/google-cloud/package.json
  js/plugins/google-genai/package.json
  js/plugins/langchain/package.json
  js/plugins/mcp/package.json
  js/plugins/next/package.json
  js/plugins/ollama/package.json
  js/plugins/pinecone/package.json
  js/plugins/vertexai/package.json
Owners: @pavelgj

refactor: restrict automatic shutdown signal handlers to development environment only
  js/genkit/src/genkit.ts
Owners: @pavelgj

fix: ensure process exits during shutdown even if ReflectionServer stop fails
  js/genkit/src/genkit.ts
Owners: @pavelgj

feat(go): implement reflection API v2 over WebSocket (#5150)
  go/ai/gen.go
  go/core/schemas.config
  go/genkit/gen.go
  go/genkit/genkit.go
  go/genkit/reflection.go
  go/genkit/reflection_v2.go
  go/genkit/reflection_v2_test.go
  go/go.mod
  go/go.sum
  go/internal/cmd/jsonschemagen/jsonschemagen.go
Owners: @apascal07, @pavelgj

Update session_flow.go
  go/ai/exp/session_flow.go
Owners: @apascal07

feat(js/plugins/anthropic): Support for claude opus 4.7
  js/plugins/anthropic/package.json
  js/plugins/anthropic/src/index.ts
  js/plugins/anthropic/src/models.ts
  js/plugins/anthropic/src/runner/base.ts
  js/plugins/anthropic/src/runner/beta.ts
  js/plugins/anthropic/src/runner/stable.ts
  js/plugins/anthropic/src/types.ts
  js/plugins/anthropic/src/utils.ts
  js/plugins/anthropic/tests/beta_runner_test.ts
  js/plugins/anthropic/tests/index_test.ts
  js/plugins/anthropic/tests/stable_runner_test.ts
  js/pnpm-lock.yaml
  js/testapps/anthropic/src/beta/basic.ts
Owners: @pavelgj

make autocomplete work
  js/plugins/anthropic/src/models.ts
Owners: @pavelgj

feat(js/plugins/anthropic): Support for claude opus 4.7 (#5160)
  js/plugins/anthropic/package.json
  js/plugins/anthropic/src/index.ts
  js/plugins/anthropic/src/models.ts
  js/plugins/anthropic/src/runner/base.ts
  js/plugins/anthropic/src/runner/beta.ts
  js/plugins/anthropic/src/runner/stable.ts
  js/plugins/anthropic/src/types.ts
  js/plugins/anthropic/src/utils.ts
  js/plugins/anthropic/tests/beta_runner_test.ts
  js/plugins/anthropic/tests/index_test.ts
  js/plugins/anthropic/tests/stable_runner_test.ts
  js/pnpm-lock.yaml
  js/testapps/anthropic/src/beta/basic.ts
Owners: @pavelgj

added support for schema array types
  go/plugins/googlegenai/schema.go
  go/plugins/googlegenai/schema_test.go
Owners: @apascal07

fix ephemeral
  genkit-tools/cli/src/utils/manager-utils.ts
Owners: @pavelgj

feat(genkit-tools/cli): support ephemeral runtime commands (#5079)
  .gitignore
  genkit-tools/cli/src/commands/eval-extract-data.ts
  genkit-tools/cli/src/commands/eval-flow.ts
  genkit-tools/cli/src/commands/eval-run.ts
  genkit-tools/cli/src/commands/flow-batch-run.ts
  genkit-tools/cli/src/commands/flow-run.ts
  genkit-tools/cli/src/commands/start.ts
  genkit-tools/cli/src/utils/manager-utils.ts
  genkit-tools/cli/tests/commands/start_test.ts
  genkit-tools/common/src/eval/evaluate.ts
Owners: @pavelgj

feat(js/plugins/vertex): Model garden support for Claude 4.7
  js/plugins/vertexai/package.json
  js/plugins/vertexai/src/modelgarden/legacy/anthropic.ts
  js/plugins/vertexai/src/modelgarden/v2/anthropic.ts
  js/plugins/vertexai/tests/modelgarden/v2/anthropic_test.ts
  js/pnpm-lock.yaml
  js/testapps/vertexai-modelgarden/src/index.ts
Owners: @pavelgj

review comments
  js/plugins/anthropic/src/runner/base.ts
  js/plugins/vertexai/src/modelgarden/v2/anthropic.ts
Owners: @pavelgj

feat(js/plugins/vertex): Model garden support for Claude 4.7 (#5164)
  js/plugins/anthropic/src/runner/base.ts
  js/plugins/vertexai/package.json
  js/plugins/vertexai/src/modelgarden/legacy/anthropic.ts
  js/plugins/vertexai/src/modelgarden/v2/anthropic.ts
  js/plugins/vertexai/tests/modelgarden/v2/anthropic_test.ts
  js/pnpm-lock.yaml
  js/testapps/vertexai-modelgarden/src/index.ts
Owners: @pavelgj

feat(js/plugins/google-genai): Support for gemini-embedding-2
  js/plugins/google-genai/src/googleai/embedder.ts
  js/testapps/basic-gemini/src/index.ts
Owners: @pavelgj

docs
  js/plugins/google-genai/src/googleai/embedder.ts
Owners: @pavelgj

fix(js/core): Fix DAP resolution
  js/core/src/registry.ts
  js/core/tests/registry_test.ts
Owners: @pavelgj
