Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj

docs: Resolves deltas between internal and GH docs
  docs/_guides.yaml
  docs/auth.md
  docs/chat.md
  docs/cloud-run.md
  docs/index.md
  docs/interrupts.md
  docs/local-observability.md
  docs/multi-agent.md
Owners: @pavelgj

docs: Resolves deltas between internal and GH docs (#1990)
  docs/_guides.yaml
  docs/auth.md
  docs/chat.md
  docs/cloud-run.md
  docs/index.md
  docs/interrupts.md
  docs/local-observability.md
  docs/multi-agent.md
Owners: @pavelgj

Update getting-started.md
  docs/observability/getting-started.md
Owners: @pavelgj

Update getting-started.md
  docs/observability/getting-started.md
Owners: @pavelgj

resolve evals start script
  genkit-tools/cli/src/commands/eval-flow.ts
  genkit-tools/cli/src/commands/eval-run.ts
  js/testapps/evals/package.json
Owners: @pavelgj

Updated Gemini 1.5 Flash to Gemini 2.0 Flash in several places
  docs/chat.md
  docs/deploy-node.md
  docs/dotprompt.md
  docs/evaluation.md
  js/genkit/README.md
  js/plugins/dev-local-vectorstore/README.md
  js/plugins/express/README.md
  js/plugins/next/README.md
  js/plugins/vertexai/README.md
  js/testapps/basic-gemini/src/index.ts
Owners: @pavelgj

docs: Fixes typo in api-stability.md
  docs/api-stability.md
Owners: @pavelgj

docs: Fixes typo in api-stability.md (#1993)
  docs/api-stability.md
Owners: @pavelgj

feat(py): Refactored Plugins API to follow generic `Plugin` interface.
  py/packages/genkit/src/genkit/core/plugin_abc.py
  py/packages/genkit/src/genkit/veneer/veneer.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/__init__.py
  py/samples/hello/hello.py
Owners: @pavelgj, @yesudeep

chore(py/deps): add pytest-watcher to run tests in response to file changes #1996
  py/pyproject.toml
  py/uv.lock
Owners: @pavelgj, @yesudeep

chore(py/deps): add pytest-watcher to run tests in response to file changes #1996 (#1997)
  py/pyproject.toml
  py/uv.lock
Owners: @pavelgj, @yesudeep

fix(js): test on node versions 20 through 22; 23 is currently broken #1995
  .github/workflows/builder.yml
  .github/workflows/bump-cli-version.yml
  .github/workflows/bump-js-version.yml
  .github/workflows/bump-package-version.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/formatter.yml
  .github/workflows/go.yml
  .github/workflows/python.yml
  .github/workflows/release_js_main.yml
  .github/workflows/samples.yml
  .github/workflows/tests.yml
  bin/add_license
  bin/check_license
  bin/fmt
  bin/setup
  biome.json
  captainhook.json
  package.json
Owners: @pavelgj

(docs) update codelab for Genkit 1.0 (#1961)
  docs/codelabs/codelab-chat-with-a-pdf.md
Owners: @pavelgj

docs: add roadmap document to determine at a glance where we stand
  py/engdoc/ROADMAP.org
Owners: @pavelgj

docs: add roadmap document to determine at a glance where we stand (#1999)
  py/engdoc/ROADMAP.org
Owners: @pavelgj

feat(py): Refactored Plugins API to follow generic `Plugin` interface. (#1950)
  py/packages/genkit/src/genkit/core/plugin_abc.py
  py/packages/genkit/src/genkit/veneer/veneer.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/__init__.py
  py/samples/hello/hello.py
Owners: @pavelgj, @yesudeep

fix: py/bin/generate_schema_types should generate the schema types correctly now #2002
  bin/setup
  py/bin/generate_schema_types
  py/bin/sanitize_schemas.py
  py/packages/genkit/src/genkit/core/schemas.py
Owners: @pavelgj, @yesudeep

fix: py/bin/generate_schema_types should generate the schema types correctly now #2002 (#2003)
  bin/setup
  py/bin/generate_schema_types
  py/bin/sanitize_schemas.py
  py/packages/genkit/src/genkit/core/schemas.py
Owners: @pavelgj, @yesudeep

chore: remove py/dotpromptz and py/handlebarz packages from this repo since we moved them to github.com/google/dotprompt
  .github/labeler.yml
  py/bin/build_dists
  py/packages/dotprompt/LICENSE
  py/packages/dotprompt/README.md
  py/packages/dotprompt/pyproject.toml
  py/packages/dotprompt/src/dotprompt/__init__.py
  py/packages/dotprompt/src/dotprompt/py.typed
  py/packages/handlebarz/LICENSE
  py/packages/handlebarz/README.md
  py/packages/handlebarz/pyproject.toml
  py/packages/handlebarz/src/handlebarz/__init__.py
  py/packages/handlebarz/src/handlebarz/py.typed
  py/pyproject.toml
  py/uv.lock
Owners: @pavelgj, @yesudeep

chore: remove py/dotpromptz and py/handlebarz packages from this repo since we moved them to github.com/google/dotprompt (#2004)
  .github/labeler.yml
  py/bin/build_dists
  py/packages/dotprompt/LICENSE
  py/packages/dotprompt/README.md
  py/packages/dotprompt/pyproject.toml
  py/packages/dotprompt/src/dotprompt/__init__.py
  py/packages/dotprompt/src/dotprompt/py.typed
  py/packages/handlebarz/LICENSE
  py/packages/handlebarz/README.md
  py/packages/handlebarz/pyproject.toml
  py/packages/handlebarz/src/handlebarz/__init__.py
  py/packages/handlebarz/src/handlebarz/py.typed
  py/pyproject.toml
  py/uv.lock
Owners: @pavelgj, @yesudeep

chore(py/deps): add github.com/google/dotprompt repository as source for dotprompt for python
  py/pyproject.toml
  py/tests/smoke/package_test.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

chore(py/deps): add github.com/google/dotprompt repository as source for dotprompt for python (#2005)
  py/pyproject.toml
  py/tests/smoke/package_test.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

Fix code formatting in README.md
  js/testapps/vertexai-reranker/README.md
Owners: @pavelgj

feat: add populate_by_name=True to all schema models inheriting from BaseModel
  bin/fmt
  captainhook.json
  py/bin/sanitize_schemas.py
  py/engdoc/ROADMAP.org
  py/packages/genkit/src/genkit/core/plugin_abc.py
  py/packages/genkit/src/genkit/core/schemas.py
Owners: @pavelgj, @yesudeep

feat: add populate_by_name=True to all schema models inheriting from BaseModel (#2006)
  bin/fmt
  captainhook.json
  py/bin/sanitize_schemas.py
  py/engdoc/ROADMAP.org
  py/packages/genkit/src/genkit/core/plugin_abc.py
  py/packages/genkit/src/genkit/core/schemas.py
Owners: @pavelgj, @yesudeep

feedback, testing
  js/ai/src/formats/json.ts
  js/ai/src/formats/types.ts
  js/ai/src/generate.ts
  js/ai/src/generate/action.ts
  js/genkit/tests/formats_test.ts
  js/testapps/flow-simple-ai/src/index.ts
  js/testapps/format-tester/src/index.ts
Owners: @pavelgj

node 23 fixes
  js/core/src/action.ts
  js/core/src/error.ts
  js/genkit/src/registry.ts
Owners: @pavelgj

misc: tool flow complete, disabled tests -- prepare for refactor
  go/plugins/vertexai/modelgarden/anthropic.go
  go/plugins/vertexai/modelgarden/modelgarden_test.go
Owners: @apascal07

feat(py/reflection-api): use starlette to implement the reflection api #1705
  py/README.md
  py/bin/sanitize_schemas.py
  py/packages/genkit/pyproject.toml
  py/packages/genkit/src/genkit/core/action.py
  py/packages/genkit/src/genkit/core/action_test.py
  py/packages/genkit/src/genkit/core/headers.py
  py/packages/genkit/src/genkit/core/reflection.py
  py/packages/genkit/src/genkit/core/registry.py
  py/packages/genkit/src/genkit/core/registry_test.py
  py/packages/genkit/src/genkit/core/schema.py
  py/packages/genkit/src/genkit/core/schema_test.py
  py/packages/genkit/src/genkit/core/schemas.py
  py/packages/genkit/src/genkit/veneer/server.py
  py/packages/genkit/src/genkit/veneer/server_test.py
  py/packages/genkit/src/genkit/veneer/veneer.py
  py/pyproject.toml
  py/samples/hello/hello.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

revert: "node 23 fixes" -- accidental push
  js/core/src/action.ts
  js/core/src/error.ts
  js/genkit/src/registry.ts
Owners: @pavelgj

feat(js/ai): allow disabling native constrained generation and enabling custom instruction (#1962)
  js/ai/src/formats/json.ts
  js/ai/src/formats/types.ts
  js/ai/src/generate.ts
  js/ai/src/generate/action.ts
  js/ai/src/model.ts
  js/ai/tests/model/middleware_test.ts
  js/core/src/action.ts
  js/core/src/error.ts
  js/genkit/src/registry.ts
  js/genkit/tests/formats_test.ts
  js/genkit/tests/prompts_test.ts
  js/testapps/flow-simple-ai/src/index.ts
  js/testapps/format-tester/src/index.ts
Owners: @pavelgj

refactor(py): add action kind and refactor register_action usage
  py/packages/genkit/src/genkit/core/action.py
  py/packages/genkit/src/genkit/core/action_test.py
  py/packages/genkit/src/genkit/core/headers.py
  py/packages/genkit/src/genkit/core/plugin_abc.py
  py/packages/genkit/src/genkit/core/reflection.py
  py/packages/genkit/src/genkit/core/registry.py
  py/packages/genkit/src/genkit/core/registry_test.py
  py/packages/genkit/src/genkit/core/schemas.py
  py/packages/genkit/src/genkit/veneer/server.py
  py/packages/genkit/src/genkit/veneer/server_test.py
  py/packages/genkit/src/genkit/veneer/veneer.py
  py/pyproject.toml
  py/samples/hello/hello.py
Owners: @pavelgj, @yesudeep

refactor(py): add action kind and refactor register_action usage (#2009)
  py/packages/genkit/src/genkit/core/action.py
  py/packages/genkit/src/genkit/core/action_test.py
  py/packages/genkit/src/genkit/core/headers.py
  py/packages/genkit/src/genkit/core/plugin_abc.py
  py/packages/genkit/src/genkit/core/reflection.py
  py/packages/genkit/src/genkit/core/registry.py
  py/packages/genkit/src/genkit/core/registry_test.py
  py/packages/genkit/src/genkit/core/schemas.py
  py/packages/genkit/src/genkit/veneer/server.py
  py/packages/genkit/src/genkit/veneer/server_test.py
  py/packages/genkit/src/genkit/veneer/veneer.py
  py/pyproject.toml
  py/samples/hello/hello.py
Owners: @pavelgj, @yesudeep

chore(py): add mypy configuration to detect type problems; fixes will follow
  py/__init__.py
  py/packages/genkit/src/genkit/veneer/veneer.py
  py/plugins/vertex-ai/src/__init__.py
  py/pyproject.toml
Owners: @pavelgj, @yesudeep

chore(py): add mypy configuration to detect type problems; fixes will follow (#2010)
  py/__init__.py
  py/packages/genkit/src/genkit/veneer/veneer.py
  py/plugins/vertex-ai/src/__init__.py
  py/pyproject.toml
Owners: @pavelgj, @yesudeep

refactor(py): genkit.core.schemas -> genkit.core.schema_types since we also have a schema module
  py/bin/generate_schema_types
  py/bin/sanitize_schema_types.py
  py/packages/genkit/src/genkit/ai/model.py
  py/packages/genkit/src/genkit/ai/prompt.py
  py/packages/genkit/src/genkit/core/plugin_abc.py
  py/packages/genkit/src/genkit/core/schema_types.py
  py/packages/genkit/src/genkit/veneer/veneer.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/__init__.py
  py/pyproject.toml
  py/samples/hello/hello.py
Owners: @pavelgj, @yesudeep

refactor(py): genkit.core.schemas -> genkit.core.schema_types since we also have a schema module (#2011)
  py/bin/generate_schema_types
  py/bin/sanitize_schema_types.py
  py/packages/genkit/src/genkit/ai/model.py
  py/packages/genkit/src/genkit/ai/prompt.py
  py/packages/genkit/src/genkit/core/plugin_abc.py
  py/packages/genkit/src/genkit/core/schema_types.py
  py/packages/genkit/src/genkit/veneer/veneer.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/__init__.py
  py/pyproject.toml
  py/samples/hello/hello.py
Owners: @pavelgj, @yesudeep

fix(js): fixed a few random imports to make them node 23 compatible
  js/plugins/express/src/index.ts
  js/plugins/vertexai/src/vectorsearch/index.ts
  js/plugins/vertexai/src/vectorsearch/vector_search/index.ts
Owners: @pavelgj

chore: do not install node with homebrew in the setup script
  bin/setup
Owners: @pavelgj

feat(py): added auto-applying of registry prefix
  py/packages/genkit/src/genkit/core/plugin_abc.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/__init__.py
Owners: @pavelgj, @yesudeep
