Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

fix issues
  py/README.md
  py/packages/genkit/src/genkit/_ai/_middleware.py
  py/packages/genkit/src/genkit/middleware/__init__.py
  py/packages/genkit/tests/genkit/ai/middleware_test.py
  py/samples/README.md
  py/samples/framework-middleware-builtin/README.md
  py/samples/framework-middleware-builtin/pyproject.toml
  py/samples/framework-middleware-builtin/src/main.py
  py/samples/framework-middleware-demo/LICENSE
  py/samples/framework-middleware-demo/README.md
  py/samples/framework-middleware-demo/pyproject.toml
  py/samples/framework-middleware-demo/run.sh
  py/samples/framework-middleware-demo/src/main.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

reorganize
  py/packages/genkit/src/genkit/_ai/_generate.py
  py/packages/genkit/src/genkit/_core/_middleware.py
  py/packages/genkit/src/genkit/_core/_registry.py
  py/packages/genkit/src/genkit/middleware/__init__.py
  py/packages/genkit/tests/genkit/ai/middleware_test.py
Owners: @pavelgj, @yesudeep

format
  py/samples/framework-middleware-demo/src/main.py
Owners: @pavelgj, @yesudeep

fix ruff
  py/packages/genkit/src/genkit/__init__.py
  py/packages/genkit/src/genkit/_ai/_generate.py
  py/packages/genkit/tests/genkit/ai/middleware_test.py
Owners: @pavelgj, @yesudeep

implement middleware v2
  py/packages/genkit/src/genkit/_ai/_aio.py
  py/packages/genkit/src/genkit/_ai/_generate.py
  py/packages/genkit/src/genkit/_ai/_model.py
  py/packages/genkit/src/genkit/_ai/_prompt.py
  py/packages/genkit/src/genkit/_core/_middleware.py
  py/packages/genkit/src/genkit/_core/_model.py
  py/packages/genkit/src/genkit/middleware/__init__.py
  py/packages/genkit/tests/genkit/ai/generate_test.py
  py/packages/genkit/tests/genkit/ai/middleware_test.py
  py/packages/genkit/tests/genkit/veneer/veneer_test.py
  py/samples/framework-middleware-demo/src/main.py
Owners: @pavelgj, @yesudeep

fix type issues, improve demo
  py/packages/genkit/src/genkit/_ai/_generate.py
  py/packages/genkit/src/genkit/_core/_middleware.py
  py/packages/genkit/src/genkit/_core/_model.py
  py/packages/genkit/tests/genkit/ai/generate_test.py
  py/packages/genkit/tests/genkit/ai/middleware_test.py
  py/samples/framework-middleware-demo/README.md
  py/samples/framework-middleware-demo/pyproject.toml
  py/samples/framework-middleware-demo/src/main.py
Owners: @pavelgj, @yesudeep

format
  py/packages/genkit/src/genkit/_ai/_aio.py
  py/packages/genkit/src/genkit/_ai/_generate.py
  py/packages/genkit/src/genkit/_ai/_prompt.py
  py/packages/genkit/src/genkit/_core/_middleware.py
  py/packages/genkit/src/genkit/_core/_model.py
  py/samples/framework-middleware-demo/src/main.py
Owners: @pavelgj, @yesudeep

fix
  py/packages/genkit/src/genkit/_core/_middleware.py
Owners: @pavelgj, @yesudeep

cleanup
  py/packages/genkit/src/genkit/__init__.py
  py/packages/genkit/src/genkit/_ai/_generate.py
  py/packages/genkit/src/genkit/_core/_middleware.py
  py/packages/genkit/tests/genkit/ai/middleware_test.py
Owners: @pavelgj, @yesudeep

improve naming
  py/packages/genkit/src/genkit/_ai/_generate.py
  py/packages/genkit/src/genkit/_core/_middleware.py
  py/packages/genkit/src/genkit/middleware/__init__.py
  py/packages/genkit/tests/genkit/ai/generate_test.py
  py/packages/genkit/tests/genkit/ai/middleware_test.py
  py/packages/genkit/tests/genkit/veneer/veneer_test.py
  py/samples/framework-middleware-demo/src/main.py
Owners: @pavelgj, @yesudeep

format
  py/packages/genkit/src/genkit/_ai/_generate.py
Owners: @pavelgj, @yesudeep

organize middleware files more scalably
  py/packages/genkit/src/genkit/_ai/_aio.py
  py/packages/genkit/src/genkit/_ai/_generate.py
  py/packages/genkit/src/genkit/_ai/_prompt.py
  py/packages/genkit/src/genkit/_core/_middleware.py
  py/packages/genkit/src/genkit/_core/_middleware/__init__.py
  py/packages/genkit/src/genkit/_core/_middleware/_augment_with_context.py
  py/packages/genkit/src/genkit/_core/_middleware/_base.py
  py/packages/genkit/src/genkit/_core/_middleware/_download_request_media.py
  py/packages/genkit/src/genkit/_core/_middleware/_fallback.py
  py/packages/genkit/src/genkit/_core/_middleware/_retry.py
  py/packages/genkit/src/genkit/_core/_middleware/_simulate_system_prompt.py
  py/packages/genkit/src/genkit/_core/_middleware/_utils.py
  py/packages/genkit/src/genkit/_core/_middleware/_validate_support.py
  py/packages/genkit/src/genkit/middleware/__init__.py
  py/packages/genkit/tests/genkit/ai/middleware_test.py
Owners: @pavelgj, @yesudeep

refactor(registry): ensure plugin init via shared helper for lookupAction and lookupValue
  js/core/src/registry.ts
  js/core/tests/registry_test.ts
Owners: @pavelgj

feat(js/plugins/google-genai): Support for googleai multimodal embedder
  js/ai/src/document.ts
  js/plugins/google-genai/src/googleai/embedder.ts
  js/plugins/google-genai/src/googleai/index.ts
  js/plugins/google-genai/src/vertexai/embedder.ts
  js/plugins/google-genai/src/vertexai/index.ts
  js/plugins/google-genai/tests/googleai/embedder_test.ts
  js/testapps/basic-gemini/src/index.ts
  js/testapps/flow-simple-ai/src/index.ts
  js/testapps/rag/src/pdf-rag-firebase.ts
  samples/js-menu/src/genkit.ts
Owners: @pavelgj

ModelUsage
  py/docs/types.md
  py/packages/genkit/src/genkit/__init__.py
  py/packages/genkit/src/genkit/_core/_model.py
  py/packages/genkit/src/genkit/model/__init__.py
  py/packages/genkit/tests/genkit/ai/model_test.py
  py/plugins/amazon-bedrock/src/genkit/plugins/amazon_bedrock/models/converters.py
  py/plugins/amazon-bedrock/src/genkit/plugins/amazon_bedrock/models/model.py
  py/plugins/anthropic/src/genkit/plugins/anthropic/models.py
  py/plugins/anthropic/src/genkit/plugins/anthropic/utils.py
  py/plugins/anthropic/tests/anthropic_utils_test.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/plugins/ollama/src/genkit/plugins/ollama/converters.py
  py/plugins/ollama/src/genkit/plugins/ollama/models.py
  py/plugins/ollama/tests/models/ollama_models_test.py
  py/plugins/ollama/tests/ollama_converters_test.py
Owners: @pavelgj, @yesudeep

jsdocs
  js/core/src/action.ts
Owners: @pavelgj

jsdocs
  js/core/src/action.ts
  js/core/src/flow.ts
Owners: @pavelgj

docs: Add JSDoc comments to various action and flow types and functions.
  js/core/src/action.ts
  js/core/src/flow.ts
Owners: @pavelgj

fixed flow typing
  js/core/src/flow.ts
  js/core/src/index.ts
Owners: @pavelgj

feat(js): added support for bidi actions and flows
  js/core/src/action.ts
  js/core/src/flow.ts
  js/core/src/index.ts
  js/core/src/registry.ts
  js/core/tests/bidi-action_test.ts
  js/core/tests/bidi-flow_test.ts
Owners: @pavelgj

fix
  js/core/src/action.ts
  js/core/src/flow.ts
  js/core/src/registry.ts
  js/core/tests/bidi-flow_test.ts
  js/genkit/src/genkit.ts
  js/testapps/flow-sample1/src/index.ts
Owners: @pavelgj

inputStream from input
  js/core/src/action.ts
  js/core/src/flow.ts
  js/core/src/index.ts
  js/core/tests/bidi-action_test.ts
Owners: @pavelgj

feedback
  js/core/src/action.ts
  js/core/src/registry.ts
Owners: @pavelgj

moved defineBidiFlow to beta
  js/genkit/src/genkit-beta.ts
  js/genkit/src/genkit.ts
  js/testapps/flow-sample1/src/index.ts
Owners: @pavelgj

fix preflight
  py/packages/genkit/src/genkit/__init__.py
  py/packages/genkit/src/genkit/_ai/__init__.py
  py/packages/genkit/src/genkit/_ai/_aio.py
  py/packages/genkit/src/genkit/_ai/_embedding.py
  py/packages/genkit/src/genkit/_ai/_middleware.py
  py/packages/genkit/src/genkit/_ai/_prompt.py
  py/packages/genkit/src/genkit/_core/_action.py
  py/packages/genkit/src/genkit/_core/_error.py
  py/packages/genkit/src/genkit/_core/_model.py
  py/packages/genkit/src/genkit/_core/_trace/_adjusting_exporter.py
  py/packages/genkit/src/genkit/_core/_tracing.py
  py/packages/genkit/src/genkit/plugin_api/__init__.py
  py/packages/genkit/tests/genkit/ai/formats/json_test.py
  py/packages/genkit/tests/genkit/ai/model_test.py
  py/packages/genkit/tests/genkit/core/http_client_test.py
  py/plugins/amazon-bedrock/src/genkit/plugins/amazon_bedrock/models/converters.py
  py/plugins/amazon-bedrock/src/genkit/plugins/amazon_bedrock/models/model.py
  py/plugins/anthropic/src/genkit/plugins/anthropic/models.py
  py/plugins/anthropic/tests/anthropic_utils_test.py
  py/plugins/fastapi/src/genkit/plugins/fastapi/handler.py
  py/plugins/flask/src/genkit/plugins/flask/handler.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/plugins/ollama/src/genkit/plugins/ollama/converters.py
  py/plugins/ollama/src/genkit/plugins/ollama/models.py
  py/plugins/ollama/tests/models/ollama_models_test.py
  py/plugins/ollama/tests/ollama_converters_test.py
Owners: @pavelgj, @yesudeep

clean up realtime tracing
  py/packages/genkit/src/genkit/_core/_trace/__init__.py
  py/packages/genkit/src/genkit/_core/_trace/_realtime_processor.py
  py/packages/genkit/src/genkit/plugin_api/__init__.py
  py/samples/framework-realtime-tracing-demo/README.md
  py/samples/framework-realtime-tracing-demo/run.sh
  py/samples/framework-realtime-tracing-demo/src/main.py
Owners: @pavelgj, @yesudeep

more cleanup
  py/packages/genkit/src/genkit/_ai/_aio.py
  py/packages/genkit/src/genkit/_core/_compat.py
  py/packages/genkit/src/genkit/_core/_model.py
  py/packages/genkit/src/genkit/_core/_trace/_adjusting_exporter.py
  py/packages/genkit/src/genkit/_core/_trace/_default_exporter.py
  py/packages/genkit/src/genkit/_core/_trace/_path.py
  py/packages/genkit/src/genkit/_core/_trace/_realtime_processor.py
  py/packages/genkit/tests/genkit/core/trace/realtime_processor_test.py
Owners: @pavelgj, @yesudeep

feat: Unify action configuration by integrating `Init` parameters directly into `ActionParams` and removing the separate `BidiActionParams` interface.
  js/core/src/action.ts
Owners: @pavelgj

refactor: simplify `init` option assignment and remove unnecessary type assertion.
  js/core/src/action.ts
Owners: @pavelgj

refactor: remove redundant type assertions for `ActionRunOptions` in action execution.
  js/core/src/action.ts
Owners: @pavelgj

more cleanup
  .github/workflows/python-samples.yml
  py/bin/sanitize_schema_typing.py
  py/docs/types.md
  py/packages/genkit/src/genkit/__init__.py
  py/packages/genkit/src/genkit/_ai/_formats/__init__.py
  py/packages/genkit/src/genkit/_ai/_generate.py
  py/packages/genkit/src/genkit/_ai/_testing.py
  py/packages/genkit/src/genkit/_core/_model.py
  py/packages/genkit/src/genkit/_core/_typing.py
  py/packages/genkit/src/genkit/model/__init__.py
  py/packages/genkit/tests/genkit/ai/ai_plugin_test.py
  py/packages/genkit/tests/genkit/ai/formats/formats_test.py
  py/packages/genkit/tests/genkit/ai/generate_operation_test.py
  py/packages/genkit/tests/genkit/ai/generate_test.py
  py/packages/genkit/tests/genkit/ai/prompt_test.py
  py/packages/genkit/tests/genkit/ai/resource_integration_test.py
  py/packages/genkit/tests/genkit/veneer/veneer_test.py
  py/plugins/amazon-bedrock/src/genkit/plugins/amazon_bedrock/models/converters.py
  py/plugins/amazon-bedrock/src/genkit/plugins/amazon_bedrock/models/model.py
  py/plugins/amazon-bedrock/src/genkit/plugins/amazon_bedrock/plugin.py
  py/plugins/amazon-bedrock/tests/amazon_bedrock_converters_test.py
  py/plugins/anthropic/src/genkit/plugins/anthropic/models.py
  py/plugins/anthropic/src/genkit/plugins/anthropic/utils.py
  py/plugins/anthropic/tests/anthropic_models_test.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/audio.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/model.py
  py/plugins/compat-oai/tests/compat_oai_model_test.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/plugins/ollama/src/genkit/plugins/ollama/models.py
  py/plugins/ollama/tests/models/ollama_models_test.py
  tests/specs/generate.yaml
Owners: @pavelgj, @yesudeep

feat(js,cli): implemented reflection api v2
  docs/reflection-v2-protocol.md
  genkit-tools/cli/src/commands/dev-test-model.ts
  genkit-tools/cli/src/commands/start.ts
  genkit-tools/cli/src/mcp/utils.ts
  genkit-tools/cli/src/utils/manager-utils.ts
  genkit-tools/common/package.json
  genkit-tools/common/src/eval/evaluate.ts
  genkit-tools/common/src/eval/validate.ts
  genkit-tools/common/src/manager/index.ts
  genkit-tools/common/src/manager/manager-v2.ts
  genkit-tools/common/src/manager/manager.ts
  genkit-tools/common/src/server/router.ts
  genkit-tools/common/src/server/server.ts
  genkit-tools/common/src/types/index.ts
  genkit-tools/common/src/types/reflection.ts
  genkit-tools/common/src/utils/eval.ts
  genkit-tools/common/tests/manager-v2_test.ts
  genkit-tools/common/tests/server_test.ts
  genkit-tools/genkit-schema.json
  genkit-tools/pnpm-lock.yaml
  genkit-tools/scripts/schema-exporter.ts
  genkit-tools/telemetry-server/package.json
  go/ai/gen.go
  go/internal/cmd/jsonschemagen/jsonschema.go
  go/internal/cmd/jsonschemagen/jsonschemagen.go
  js/ai/src/model-types.ts
  js/ai/tests/prompt/prompt_test.ts
  js/core/package.json
  js/core/src/reflection-types.ts
  js/core/src/reflection-v2.ts
  js/core/src/reflection.ts
  js/core/tests/reflection-v2_test.ts
  js/pnpm-lock.yaml
Owners: @pavelgj, @apascal07

updated py model
  py/packages/genkit/src/genkit/core/typing.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

more cleanup
  py/packages/genkit/src/genkit/__init__.py
  py/packages/genkit/src/genkit/_ai/_generate.py
  py/packages/genkit/src/genkit/_ai/_prompt.py
  py/packages/genkit/src/genkit/_core/_model.py
  py/packages/genkit/src/genkit/_core/_typing.py
  py/packages/genkit/tests/genkit/ai/ai_plugin_test.py
  py/packages/genkit/tests/genkit/ai/prompt_test.py
  py/packages/genkit/tests/genkit/ai/resource_integration_test.py
  py/plugins/flask/pyproject.toml
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/pyproject.toml
  py/uv.lock
Owners: @pavelgj, @yesudeep

feat: Add optional `key` to action metadata, update schemas to reflect this and allow additional object properties, and ensure key is set during action listing.
  genkit-tools/common/src/manager/manager-v2.ts
  genkit-tools/common/src/types/action.ts
  genkit-tools/genkit-schema.json
  go/ai/gen.go
  js/core/src/action.ts
  js/core/src/reflection-v2.ts
Owners: @pavelgj, @apascal07

feat: Add optional `key` field to the `ActionMetadata` model.
  py/packages/genkit/src/genkit/core/typing.py
Owners: @pavelgj, @yesudeep

fix
  py/packages/genkit/src/genkit/_ai/_testing.py
Owners: @pavelgj, @yesudeep

fix(js): reflection context is always an object for runAction
  js/core/src/reflection.ts
Owners: @pavelgj

chore(js/plugins/fetch): set version to 0.1.0
  js/plugins/fetch/package.json
Owners: @pavelgj

chore: CLI version bump
  genkit-tools/cli/package.json
  genkit-tools/common/package.json
  genkit-tools/telemetry-server/package.json
Owners: @pavelgj

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj
