Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj

refactor(cli): implemented basic index for the telemetry server which allows filtering
  genkit-tools/cli/src/utils/manager-utils.ts
  genkit-tools/pnpm-lock.yaml
  genkit-tools/telemetry-server/package.json
  genkit-tools/telemetry-server/src/firestoreTraceStore.ts
  genkit-tools/telemetry-server/src/index.ts
  genkit-tools/telemetry-server/src/localFileTraceStore.ts
  genkit-tools/telemetry-server/src/types.ts
  genkit-tools/telemetry-server/tests/file_store_test.ts
  genkit-tools/telemetry-server/tests/firestoreTraceStore_test.ts
  genkit-tools/telemetry-server/tests/utils.ts
Owners: @pavelgj

update lock
  genkit-tools/pnpm-lock.yaml
Owners: @pavelgj

feat(py): Gemini API tools (#2377)
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/plugins/google-genai/test/models/test_googlegenai_gemini.py
  py/samples/google_genai/src/hello.py
Owners: @pavelgj, @yesudeep

Added multimodal capabilities
  go/plugins/compat_oai/openai/openai.go
Owners: @apascal07

feat(go/genkit): Resolve comments
  go/ai/prompt.go
  go/ai/prompt_test.go
  go/genkit/genkit.go
  go/samples/prompts-dir/main.go
  go/samples/prompts-dir/prompts/example.prompt
Owners: @apascal07, @pavelgj

Update typing.py
  py/packages/genkit/src/genkit/core/typing.py
Owners: @pavelgj, @yesudeep

Update error.ts
  genkit-tools/common/src/types/error.ts
Owners: @pavelgj

address review comments and rename plugin to googlegenai
  go/internal/doc-snippets/dotprompt.go
  go/internal/doc-snippets/googlegenai.go
  go/internal/doc-snippets/init/main.go
  go/internal/doc-snippets/models.go
  go/internal/doc-snippets/pinecone.go
  go/internal/doc-snippets/rag/main.go
  go/internal/doc-snippets/vertexai.go
  go/plugins/googlegenai/googlegenai.go
  go/plugins/googlegenai/googlegenai_test.go
  go/plugins/googlegenai/models.go
  go/plugins/internal/gemini/gemini.go
  go/plugins/internal/uri/uri.go
  go/samples/basic-gemini/main.go
  go/samples/basic-vertexai/main.go
  go/samples/cache-gemini/main.go
  go/samples/coffee-shop/main.go
  go/samples/menu/main.go
  go/samples/pgvector/main.go
  go/samples/prompts/main.go
  go/samples/rag/main.go
Owners: @apascal07

docs: fix comments and variable names
  go/internal/doc-snippets/googlegenai.go
  go/internal/doc-snippets/init/main.go
  go/samples/basic-gemini/main.go
  go/samples/basic-vertexai/main.go
  go/samples/cache-gemini/main.go
Owners: @apascal07

Update genkit.go
  go/genkit/genkit.go
Owners: @apascal07

Updated Google plugins.
  go/plugins/googleai/googleai.go
  go/plugins/googleai/googleai_test.go
  go/plugins/googlecloud/googlecloud.go
  go/plugins/vertexai/vertexai.go
  go/plugins/vertexai/vertexai_test.go
Owners: @apascal07

(go): Update go workflows
  .github/workflows/go.yml
  .github/workflows/scripts/check-generated-go.sh
Owners: @pavelgj

add license
  .github/workflows/scripts/check-generated-go.sh
Owners: @pavelgj

fix(go): Return error message if go code is not re-generated from updated schema (#2424)
  .github/workflows/go.yml
  .github/workflows/scripts/check-generated-go.sh
Owners: @pavelgj

feat(scripts/run_python_tests): attempt to run tests with next version of python and note blocker
  py/bin/run_python_tests
Owners: @pavelgj

feat(scripts/run_python_tests): attempt to run tests with next version of python and note blocker (#2427)
  py/bin/run_python_tests
Owners: @pavelgj

feat(py/core/flows): flows server implementation
  py/packages/genkit/src/genkit/ai/veneer.py
  py/packages/genkit/src/genkit/core/registry.py
  py/packages/genkit/src/genkit/web/__init__.py
  py/packages/genkit/src/genkit/web/manager/__init__.py
  py/packages/genkit/src/genkit/web/manager/_adapters.py
  py/packages/genkit/src/genkit/web/manager/_base_server.py
  py/packages/genkit/src/genkit/web/manager/_info.py
  py/packages/genkit/src/genkit/web/manager/_loop.py
  py/packages/genkit/src/genkit/web/manager/_manager.py
  py/packages/genkit/src/genkit/web/manager/_ports.py
  py/packages/genkit/src/genkit/web/manager/_server.py
  py/packages/genkit/src/genkit/web/manager/signals.py
  py/packages/genkit/src/genkit/web/server/__init__.py
  py/packages/genkit/src/genkit/web/server/flows.py
  py/packages/genkit/src/genkit/web/server/reflection.py
  py/packages/genkit/src/genkit/web/sse.py
  py/packages/genkit/tests/genkit/codec_test.py
  py/packages/genkit/tests/genkit/web/manager/signals_test.py
  py/packages/genkit/tests/genkit/web/server/reflection_test.py
  py/packages/genkit/tests/genkit/web/sse_test.py
  py/pyproject.toml
  py/samples/multi_server/multi_server.py
Owners: @pavelgj, @yesudeep

refactor(py/web/servers): move server implementations core -> web.server; and manager refactoring
  py/packages/genkit/src/genkit/ai/veneer.py
  py/packages/genkit/src/genkit/core/registry.py
  py/packages/genkit/src/genkit/web/__init__.py
  py/packages/genkit/src/genkit/web/manager/__init__.py
  py/packages/genkit/src/genkit/web/manager/_adapters.py
  py/packages/genkit/src/genkit/web/manager/_base_server.py
  py/packages/genkit/src/genkit/web/manager/_info.py
  py/packages/genkit/src/genkit/web/manager/_loop.py
  py/packages/genkit/src/genkit/web/manager/_manager.py
  py/packages/genkit/src/genkit/web/manager/_ports.py
  py/packages/genkit/src/genkit/web/manager/_server.py
  py/packages/genkit/src/genkit/web/manager/signals.py
  py/packages/genkit/src/genkit/web/server/__init__.py
  py/packages/genkit/src/genkit/web/server/reflection.py
  py/packages/genkit/tests/genkit/codec_test.py
  py/packages/genkit/tests/genkit/web/manager/signals_test.py
  py/packages/genkit/tests/genkit/web/server/reflection_test.py
  py/pyproject.toml
  py/samples/multi_server/multi_server.py
Owners: @pavelgj, @yesudeep

refactor(py/web/servers): move server implementations core -> web.server; and manager refactoring (#2428)
  py/packages/genkit/src/genkit/ai/veneer.py
  py/packages/genkit/src/genkit/core/registry.py
  py/packages/genkit/src/genkit/web/__init__.py
  py/packages/genkit/src/genkit/web/manager/__init__.py
  py/packages/genkit/src/genkit/web/manager/_adapters.py
  py/packages/genkit/src/genkit/web/manager/_base_server.py
  py/packages/genkit/src/genkit/web/manager/_info.py
  py/packages/genkit/src/genkit/web/manager/_loop.py
  py/packages/genkit/src/genkit/web/manager/_manager.py
  py/packages/genkit/src/genkit/web/manager/_ports.py
  py/packages/genkit/src/genkit/web/manager/_server.py
  py/packages/genkit/src/genkit/web/manager/signals.py
  py/packages/genkit/src/genkit/web/server/__init__.py
  py/packages/genkit/src/genkit/web/server/reflection.py
  py/packages/genkit/tests/genkit/codec_test.py
  py/packages/genkit/tests/genkit/web/manager/signals_test.py
  py/packages/genkit/tests/genkit/web/server/reflection_test.py
  py/pyproject.toml
  py/samples/multi_server/multi_server.py
Owners: @pavelgj, @yesudeep

feat(py/web/sse): add server-sent events generator wrapper for AsyncGenerator[dict, ...]
  py/packages/genkit/src/genkit/web/sse.py
  py/packages/genkit/tests/genkit/web/sse_test.py
Owners: @pavelgj, @yesudeep

feat(py/web/sse): add server-sent events generator wrapper (#2429)
  py/packages/genkit/src/genkit/web/sse.py
  py/packages/genkit/tests/genkit/web/sse_test.py
Owners: @pavelgj, @yesudeep

fix(scripts): full license header and some missing imports #2176
  bin/add_license
  bin/check_license
  bin/fmt
  bin/format_toml_files
  bin/golang
  bin/run_go_tests
  bin/setup
  py/bin/build_dists
  py/bin/cleanup
  py/bin/generate_schema_typing
  py/bin/run_python_tests
  py/bin/sanitize_schema_typing.py
  py/bin/watch_python_tests
  py/packages/genkit/src/genkit/core/typing.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/ollama/src/genkit/plugins/ollama/constants.py
  py/plugins/ollama/src/genkit/plugins/ollama/models.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/imagen.py
Owners: @pavelgj, @yesudeep

fix(scripts): full license header and some missing imports #2176 (#2431)
  bin/add_license
  bin/check_license
  bin/fmt
  bin/format_toml_files
  bin/golang
  bin/run_go_tests
  bin/setup
  py/bin/build_dists
  py/bin/cleanup
  py/bin/generate_schema_typing
  py/bin/run_python_tests
  py/bin/sanitize_schema_typing.py
  py/bin/watch_python_tests
  py/packages/genkit/src/genkit/core/typing.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/ollama/src/genkit/plugins/ollama/constants.py
  py/plugins/ollama/src/genkit/plugins/ollama/models.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/imagen.py
Owners: @pavelgj, @yesudeep

chore(py): reexport stuff via google.ai as primary user facing namespace
  py/packages/genkit/src/genkit/ai/__init__.py
  py/packages/genkit/src/genkit/ai/plugin.py
  py/packages/genkit/src/genkit/ai/veneer.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/openai_plugin.py
  py/plugins/compat-oai/tests/test_plugin.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/ollama/src/genkit/plugins/ollama/constants.py
  py/plugins/ollama/src/genkit/plugins/ollama/models.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/imagen.py
  py/samples/hello/src/hello.py
Owners: @pavelgj, @yesudeep

chore(py): reexport stuff via google.ai as primary user facing namespace (#2433)
  py/packages/genkit/src/genkit/ai/__init__.py
  py/packages/genkit/src/genkit/ai/plugin.py
  py/packages/genkit/src/genkit/ai/veneer.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/openai_plugin.py
  py/plugins/compat-oai/tests/test_plugin.py
  py/plugins/ollama/src/genkit/plugins/ollama/constants.py
  py/samples/hello/src/hello.py
Owners: @pavelgj, @yesudeep

refactor(py): move endpoints to genkit.core.endpoints; prepping for flows endpoint
  py/packages/genkit/src/genkit/ai/veneer.py
  py/packages/genkit/src/genkit/core/endpoints/__init__.py
  py/packages/genkit/src/genkit/core/endpoints/reflection.py
  py/packages/genkit/tests/genkit/core/endpoints/reflection_test.py
  py/plugins/ollama/tests/__init__.py
  py/samples/multi_server/multi_server.py
Owners: @pavelgj, @yesudeep

refactor(py): move endpoints to genkit.core.endpoints; prepping for flows endpoint (#2434)
  py/packages/genkit/src/genkit/ai/veneer.py
  py/packages/genkit/src/genkit/core/endpoints/__init__.py
  py/packages/genkit/src/genkit/core/endpoints/reflection.py
  py/packages/genkit/tests/genkit/core/endpoints/reflection_test.py
  py/plugins/ollama/tests/__init__.py
  py/samples/multi_server/multi_server.py
Owners: @pavelgj, @yesudeep

feat(bin/update_deps): add a convenience script to allow updating all deps in one go
  bin/update_deps
Owners: @pavelgj

feat(bin/update_deps): add a convenience script to allow updating all deps in one go (#2435)
  bin/update_deps
Owners: @pavelgj

feat: some save
  py/packages/genkit/src/genkit/ai/veneer.py
  py/packages/genkit/src/genkit/core/endpoints/__init__.py
  py/packages/genkit/src/genkit/core/endpoints/flows.py
  py/packages/genkit/src/genkit/core/endpoints/flows_server.py
  py/packages/genkit/src/genkit/web/sse.py
  py/packages/genkit/tests/genkit/core/endpoints/flows_test.py
  py/packages/genkit/tests/genkit/web/sse_test.py
  py/samples/multi_server/flows_server.py
  py/samples/multi_server/multi_server.py
Owners: @pavelgj, @yesudeep

feat(go/plugins): Add genkitEval plugins
  go/go.mod
  go/go.sum
  go/plugins/evaluators/evaluators.go
  go/plugins/evaluators/evaluators_test.go
  go/samples/rag/main.go
  js/plugins/evaluators/src/index.ts
Owners: @apascal07, @pavelgj

format
  go/plugins/evaluators/evaluators_test.go
Owners: @apascal07

changes as per the comment provided also the test case is fixed
  go/ai/generate.go
  go/ai/generator_test.go
  go/ai/model_middleware.go
  go/ai/model_middleware_test.go
  go/ai/request_helpers.go
Owners: @apascal07

change in ModelInfoSupport to ModelSupport:wq
  go/ai/model_middleware_test.go
Owners: @apascal07

addition of context example in samples
  go/samples/basic-gemini-with-context/main.go
Owners: @apascal07

removal of unused variable
  go/samples/basic-gemini-with-context/main.go
Owners: @apascal07

Refactoring in test case and make function importable
  go/ai/generate.go
  go/ai/model_middleware.go
  go/ai/model_middleware_test.go
Owners: @apascal07

Initial code
  js/ai/src/model.ts
  js/genkit/src/genkit.ts
Owners: @pavelgj

feat: some save
  py/packages/genkit/pyproject.toml
  py/packages/genkit/src/genkit/ai/veneer.py
  py/packages/genkit/src/genkit/core/endpoints/__init__.py
  py/packages/genkit/src/genkit/core/endpoints/flows.py
  py/packages/genkit/src/genkit/core/endpoints/flows_server.py
  py/packages/genkit/src/genkit/core/endpoints/reflection.py
  py/packages/genkit/src/genkit/web/sse.py
  py/packages/genkit/tests/genkit/core/endpoints/flows_test.py
  py/packages/genkit/tests/genkit/web/sse_test.py
  py/samples/multi_server/flows_server.py
  py/samples/multi_server/multi_server.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

chore(py): use Imported.__name__ for exports rather than string literals
  py/packages/genkit/src/genkit/ai/__init__.py
  py/packages/genkit/src/genkit/ai/plugin.py
  py/packages/genkit/src/genkit/ai/registry.py
  py/packages/genkit/src/genkit/aio/__init__.py
  py/packages/genkit/src/genkit/blocks/__init__.py
  py/packages/genkit/src/genkit/blocks/formats/__init__.py
  py/packages/genkit/src/genkit/core/__init__.py
  py/packages/genkit/src/genkit/core/endpoints/__init__.py
  py/packages/genkit/src/genkit/web/manager/__init__.py
Owners: @pavelgj, @yesudeep
