Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

vertex safety type fixes
  js/plugins/googleai/src/gemini.ts
  js/plugins/vertexai/src/gemini.ts
  js/plugins/vertexai/src/index.ts
Owners: @pavelgj

feat(js/plugins/googleai): removed mode parameters, added includedThoughts
  js/plugins/googleai/src/gemini.ts
Owners: @pavelgj

feat(js/plugins/vertexai): implemented thinkingMode
  js/plugins/vertexai/src/gemini.ts
Owners: @pavelgj

feat(js/plugins/vertexai): enabled thinkingMode for gemini25FlashPreview0417
  js/plugins/vertexai/src/gemini.ts
Owners: @pavelgj

Update go/samples/ollama-tools/main.go
  go/samples/ollama-tools/main.go
Owners: @apascal07

Update go/plugins/ollama/ollama.go
  go/plugins/ollama/ollama.go
Owners: @apascal07

Update go/samples/ollama-tools/main.go
  go/samples/ollama-tools/main.go
Owners: @apascal07

add implementation of retriever
  js/plugins/cloud-sql-pg/src/index.ts
  js/plugins/cloud-sql-pg/src/indexes.ts
  js/plugins/cloud-sql-pg/src/vectorstore.ts
Owners: @pavelgj

fix(py/docs): Remove Py docs from Mkdocs, only leave the API reference docs in
  py/docs/cloud-run.md
  py/docs/firebase.md
  py/docs/flask.md
  py/docs/get-started.md
  py/docs/index.md
  py/docs/reference/api/index.md
  py/docs/reference/flows.md
  py/docs/reference/index.md
  py/docs/reference/interrupts.md
  py/docs/reference/models.md
  py/docs/reference/plugins/dev-local-vectorstore.md
  py/docs/reference/plugins/firestore.md
  py/docs/reference/plugins/google-genai.md
  py/docs/reference/plugins/ollama.md
  py/docs/reference/rag.md
  py/docs/reference/tools.md
  py/docs/types.md
  py/mkdocs.yml
  py/packages/genkit/src/genkit/blocks/generate.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

feat(go): Add tool support for ollama models (#2796)
  go/plugins/ollama/ollama.go
  go/samples/ollama-tools/main.go
Owners: @apascal07

refactor(js/prompts): changed executable-prompt action return type to GenerateActionOptions (#2845)
  js/ai/src/generate.ts
  js/ai/src/prompt.ts
  js/genkit/tests/prompts_test.ts
Owners: @pavelgj

feat(go): use `GenkitError` instead of regular `error` (#2643)
  go/ai/gen.go
  go/ai/generate.go
  go/ai/model_middleware.go
  go/core/action.go
  go/core/error.go
  go/core/schemas.config
  go/core/status_types.go
  go/genkit/reflection.go
  go/genkit/servers.go
  go/genkit/servers_test.go
  go/internal/base/misc.go
  go/plugins/firebase/auth.go
  go/samples/basic-gemini/main.go
Owners: @apascal07, @pavelgj

make GenerationCommonConfigSchema passthrough
  js/ai/src/model.ts
Owners: @pavelgj

undo langchain stuff
  js/plugins/langchain/src/index.ts
Owners: @pavelgj

undo better
  js/plugins/langchain/src/index.ts
Owners: @pavelgj

feat('js/plugins/vertexai'): dynamically resolve imagen models and try to list models from the API (#2847)
  js/plugins/vertexai/src/imagen.ts
  js/plugins/vertexai/src/index.ts
  js/plugins/vertexai/src/list-models.ts
Owners: @pavelgj

feat(go): indexer implatation
  go/plugins/googlecloudsql/postgres/docstore.go
  go/plugins/googlecloudsql/postgres/engine.go
  go/plugins/googlecloudsql/postgres/engineconfig.go
  go/plugins/googlecloudsql/postgres/engineconfig_test.go
  go/plugins/googlecloudsql/postgres/genkit.go
  go/plugins/googlecloudsql/postgres/genkit_test.go
  go/plugins/postgresql/constants.go
  go/plugins/postgresql/distance_strategy.go
  go/plugins/postgresql/docstore.go
  go/plugins/postgresql/engine.go
  go/plugins/postgresql/engine_test.go
  go/plugins/postgresql/genkit.go
  go/plugins/postgresql/options.go
  go/plugins/postgresql/similaritysearch.go
  go/plugins/postgresql/vectorstore.go
Owners: @apascal07

fix(go/genkit): expose detailed 4xx errors in googlegenai plugin
  go/samples/basic-gemini/main.go
Owners: @apascal07

feat(js/plugins/{googleai,vertexai}): pasthrough unknown config options directly to the underlying API (#2848)
  js/ai/src/model.ts
  js/plugins/googleai/src/gemini.ts
  js/plugins/vertexai/src/gemini.ts
  js/plugins/vertexai/src/index.ts
Owners: @pavelgj

feat(js/ai): added dynamic tools that can be dynamically defind at runtime
  js/ai/src/generate.ts
  js/ai/src/tool.ts
  js/core/src/registry.ts
  js/genkit/src/tool.ts
  js/testapps/flow-simple-ai/src/index.ts
Owners: @pavelgj

feat(go): added advanced methods for docStore
  go/plugins/postgresql/constants.go
  go/plugins/postgresql/docstore.go
Owners: @apascal07

no testyTest
  js/testapps/flow-simple-ai/src/index.ts
Owners: @pavelgj

tests
  js/ai/src/generate.ts
  js/ai/src/generate/resolve-tool-requests.ts
  js/ai/src/tool.ts
  js/genkit/tests/generate_test.ts
Owners: @pavelgj

feedback
  js/core/src/registry.ts
  js/testapps/flow-simple-ai/src/index.ts
Owners: @pavelgj

export dynamicTool from genkit
  js/genkit/src/common.ts
Owners: @pavelgj

feat(js/ai): added dynamic tools that can be dynamically defined at runtime (#2854)
  js/ai/src/generate.ts
  js/ai/src/generate/resolve-tool-requests.ts
  js/ai/src/tool.ts
  js/core/src/registry.ts
  js/genkit/src/common.ts
  js/genkit/src/tool.ts
  js/genkit/tests/generate_test.ts
  js/testapps/flow-simple-ai/src/index.ts
Owners: @pavelgj

chore: bump @genkit-ai/core version to @genkit-ai/core@1.8.0-rc.0
  js/core/package.json
Owners: @pavelgj

chore: bump @genkit-ai/ai version to @genkit-ai/ai@1.8.0-rc.0
  js/ai/package.json
Owners: @pavelgj

chore: bump genkit version to genkit@1.8.0-rc.0
  js/genkit/package.json
Owners: @pavelgj

chore: bump genkitx-chromadb version to genkitx-chromadb@1.8.0-rc.0
  js/plugins/chroma/package.json
Owners: @pavelgj

chore: bump @genkit-ai/dev-local-vectorstore version to @genkit-ai/dev-local-vectorstore@1.8.0-rc.0
  js/plugins/dev-local-vectorstore/package.json
Owners: @pavelgj

chore: bump @genkit-ai/evaluator version to @genkit-ai/evaluator@1.8.0-rc.0
  js/plugins/evaluators/package.json
Owners: @pavelgj

chore: bump @genkit-ai/firebase version to @genkit-ai/firebase@1.8.0-rc.0
  js/plugins/firebase/package.json
Owners: @pavelgj

chore: bump @genkit-ai/google-cloud version to @genkit-ai/google-cloud@1.8.0-rc.0
  js/plugins/google-cloud/package.json
Owners: @pavelgj

chore: bump @genkit-ai/googleai version to @genkit-ai/googleai@1.8.0-rc.0
  js/plugins/googleai/package.json
Owners: @pavelgj

chore: bump genkitx-langchain version to genkitx-langchain@1.8.0-rc.0
  js/plugins/langchain/package.json
Owners: @pavelgj

chore: bump @genkit-ai/next version to @genkit-ai/next@1.8.0-rc.0
  js/plugins/next/package.json
Owners: @pavelgj

chore: bump genkitx-ollama version to genkitx-ollama@1.8.0-rc.0
  js/plugins/ollama/package.json
Owners: @pavelgj

chore: bump genkitx-pinecone version to genkitx-pinecone@1.8.0-rc.0
  js/plugins/pinecone/package.json
Owners: @pavelgj

chore: bump @genkit-ai/vertexai version to @genkit-ai/vertexai@1.8.0-rc.0
  js/plugins/vertexai/package.json
Owners: @pavelgj

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj
