Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj

docs(observability): Backport changes to github (#2161)
  docs/observability/advanced-configuration.md
  docs/observability/authentication.md
  docs/observability/getting-started.md
  docs/observability/telemetry-collection.md
  docs/observability/troubleshooting.md
  docs/plugins/firebase.md
Owners: @pavelgj

more feedback
  py/packages/genkit/src/genkit/ai/generate.py
Owners: @pavelgj, @yesudeep

uncomment main
  py/samples/hello/src/hello.py
Owners: @pavelgj, @yesudeep

more feeedback
  py/packages/genkit/src/genkit/ai/generate.py
Owners: @pavelgj, @yesudeep

typing any
  py/packages/genkit/src/genkit/ai/generate.py
Owners: @pavelgj, @yesudeep

role
  py/packages/genkit/src/genkit/ai/generate.py
Owners: @pavelgj, @yesudeep

fmt
  py/packages/genkit/src/genkit/ai/generate.py
Owners: @pavelgj, @yesudeep

fix tests
  py/packages/genkit/src/genkit/ai/generate_test.py
Owners: @pavelgj, @yesudeep

fmt
  py/packages/genkit/src/genkit/ai/generate_test.py
Owners: @pavelgj, @yesudeep

Added server tests.
  go/core/flow.go
  go/genkit/servers.go
  go/genkit/servers_test.go
  go/plugins/firebase/auth.go
  go/plugins/firebase/auth_test.go
  go/plugins/server/server.go
  go/samples/coffee-shop/main.go
  go/samples/firebase-auth/main.go
  go/samples/flow-sample1/main.go
Owners: @apascal07

Update e2e test.
  go/tests/test_app/main.go
Owners: @apascal07

Update license.
  go/core/context.go
  go/go.mod
  go/plugins/server/server.go
Owners: @apascal07

Fixed plugins.
  go/plugins/dotprompt/dotprompt_test.go
  go/plugins/firebase/firebase_init_test.go
  go/plugins/firebase/retriever_test.go
  go/samples/firebase-retrievers/main.go
Owners: @apascal07

feat: add support for claude-3-7-sonnet
  go/plugins/vertexai/modelgarden/anthropic/anthropic.go
  go/plugins/vertexai/modelgarden/modelgarden_test.go
Owners: @apascal07

feat(py): started generate action with basic tools calling (#2166)
  genkit-tools/common/src/types/model.ts
  genkit-tools/genkit-schema.json
  py/packages/genkit/src/genkit/ai/generate.py
  py/packages/genkit/src/genkit/ai/generate_test.py
  py/packages/genkit/src/genkit/ai/model.py
  py/packages/genkit/src/genkit/core/action.py
  py/packages/genkit/src/genkit/core/codec.py
  py/packages/genkit/src/genkit/core/registry.py
  py/packages/genkit/src/genkit/core/typing.py
  py/packages/genkit/src/genkit/veneer/veneer.py
  py/samples/hello/src/hello.py
Owners: @pavelgj, @yesudeep

Fixed e2e test.
  go/genkit/genkit.go
  go/genkit/reflection.go
  go/tests/api_test.go
  go/tests/test_app/main.go
Owners: @apascal07

Silenced doc snippets until doc rewrite.
  go/internal/doc-snippets/dotprompt.go
  go/internal/doc-snippets/flows.go
  go/internal/doc-snippets/gcp.go
  go/internal/doc-snippets/googleai.go
  go/internal/doc-snippets/init/main.go
  go/internal/doc-snippets/modelplugin/modelplugin.go
  go/internal/doc-snippets/models.go
  go/internal/doc-snippets/ollama.go
  go/internal/doc-snippets/pinecone.go
  go/internal/doc-snippets/prompts.go
  go/internal/doc-snippets/rag/main.go
  go/internal/doc-snippets/telemetryplugin/telemetryplugin.go
  go/internal/doc-snippets/vertexai.go
Owners: @apascal07

fix: remove unnecessary code
  go/plugins/vertexai/cache.go
  go/plugins/vertexai/cache_test.go
Owners: @apascal07

status enum for evaluations
  genkit-tools/common/src/eval/parser.ts
  genkit-tools/common/src/types/eval.ts
  genkit-tools/common/src/types/evaluators.ts
  js/ai/src/evaluator.ts
  js/ai/src/index.ts
  js/genkit/src/evaluator.ts
  js/genkit/src/genkit.ts
  js/plugins/evaluators/src/index.ts
  js/plugins/evaluators/src/types.ts
  js/testapps/dev-ui-gallery/src/genkit.ts
  js/testapps/evals/package.json
  js/testapps/evals/src/genkit.ts
  js/testapps/rag/src/genkit.ts
Owners: @pavelgj

Review comments part one
  go/genkit/chat.go
  go/genkit/session.go
  go/genkit/session_test.go
Owners: @apascal07

Review comments
  go/ai/generate.go
  go/ai/generator_test.go
  go/ai/prompt/execute.go
  go/ai/prompt/execute_test.go
  go/ai/prompt/helpers.go
  go/ai/prompt/prompt.go
  go/ai/prompt/prompt_test.go
  go/ai/prompt/render.go
  go/ai/prompt/render_test.go
  go/internal/doc-snippets/prompts.go
  go/samples/prompts/main.go
Owners: @apascal07

chore(js/plugins): added claude-3-7-sonnet to vertex model garden
  js/plugins/vertexai/src/modelgarden/anthropic.ts
Owners: @pavelgj

export
  js/plugins/vertexai/src/modelgarden/index.ts
Owners: @pavelgj

feat: add cache sample
  go/samples/cache/main.go
Owners: @apascal07

Unexposed internal action in tools and cleaned up types.
  go/ai/embedder.go
  go/ai/generate.go
  go/ai/prompt.go
  go/ai/retriever.go
  go/ai/tools.go
  go/core/action.go
  go/core/flow.go
  go/genkit/genkit.go
  go/genkit/servers.go
Owners: @apascal07

fix: vertexai cache sample
  go/samples/cache/main.go
Owners: @apascal07

Reverted action-level middleware support + refactor.
  go/ai/embedder.go
  go/ai/generate.go
  go/ai/generator_test.go
  go/ai/middleware.go
  go/ai/model_middleware.go
  go/ai/model_middleware_test.go
  go/ai/prompt.go
  go/ai/retriever.go
  go/ai/tools.go
  go/core/action.go
  go/core/action_test.go
  go/core/middleware.go
Owners: @apascal07

Update generate.go
  go/ai/generate.go
Owners: @apascal07

chore(js/ai): expose /util/model-runner action for the dev ui
  js/ai/src/generate/action.ts
Owners: @pavelgj

comment
  js/ai/src/generate/action.ts
Owners: @pavelgj

Update js/ai/src/generate/action.ts
  js/ai/src/generate/action.ts
Owners: @pavelgj

Removed action-level model middleware.
  go/ai/action_test.go
  go/ai/generate.go
  go/ai/generator_test.go
  go/genkit/flow.go
  go/genkit/genkit.go
  go/genkit/servers_test.go
  go/internal/doc-snippets/modelplugin/modelplugin.go
  go/plugins/dotprompt/dotprompt_test.go
  go/plugins/dotprompt/genkit_test.go
  go/plugins/googleai/googleai.go
  go/plugins/ollama/ollama.go
  go/plugins/vertexai/vertexai.go
  go/tests/test_app/main.go
Owners: @apascal07

Update to StreamingFunc.
  go/ai/generate.go
  go/core/middleware.go
Owners: @apascal07

feat(py/ai/generate): implemented basic veneer for the generate action
  py/packages/genkit/src/genkit/ai/generate_test.py
  py/packages/genkit/src/genkit/ai/testing_utils.py
  py/packages/genkit/src/genkit/core/codec.py
  py/packages/genkit/src/genkit/veneer/veneer.py
  py/packages/genkit/src/genkit/veneer/veneer_test.py
  py/samples/hello/src/foo.py
Owners: @pavelgj, @yesudeep

moved to_json_schema
  py/packages/genkit/src/genkit/core/schema.py
  py/packages/genkit/src/genkit/veneer/veneer.py
Owners: @pavelgj, @yesudeep

feat: working context cache
  go/ai/request_helpers.go
  go/plugins/vertexai/cache.go
  go/plugins/vertexai/vertexai.go
  go/samples/cache/main.go
Owners: @apascal07

fix: refine some code
  go/plugins/vertexai/cache.go
  go/plugins/vertexai/vertexai.go
  go/samples/cache/main.go
Owners: @apascal07

feat: Add support for pinecone index host url
  js/plugins/pinecone/src/index.ts
Owners: @pavelgj

feat(py): Basic imagen
  py/packages/genkit/src/genkit/veneer/veneer.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/__init__.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/imagen.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/plugin_api.py
  py/plugins/vertex-ai/tests/test_gemini.py
  py/plugins/vertex-ai/tests/test_imagen.py
  py/samples/vetex-ai-imagen/LICENSE
  py/samples/vetex-ai-imagen/README.md
  py/samples/vetex-ai-imagen/example_imagen.py
  py/samples/vetex-ai-imagen/pyproject.toml
  py/uv.lock
Owners: @pavelgj, @yesudeep

feat(py): Basic imagen (#2157)
  py/packages/genkit/src/genkit/veneer/veneer.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/__init__.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/imagen.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/plugin_api.py
  py/plugins/vertex-ai/tests/test_gemini.py
  py/plugins/vertex-ai/tests/test_imagen.py
  py/samples/vetex-ai-imagen/LICENSE
  py/samples/vetex-ai-imagen/README.md
  py/samples/vetex-ai-imagen/example_imagen.py
  py/samples/vetex-ai-imagen/pyproject.toml
  py/uv.lock
Owners: @pavelgj, @yesudeep
