Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj

fix(go/ai/options): update commonGenOptions apply opts (#3505)
  go/ai/option.go
Owners: @apascal07

chore(e2e): bump timeout in flow_server_test.ts
  tests/src/flow_server_test.ts
Owners: @pavelgj

chore(e2e): ignore usage field diffs in reflection api tests
  tests/src/reflection_api_test.ts
Owners: @pavelgj

update compat_oai samples and plugin
  go/plugins/compat_oai/openai/openai.go
  go/samples/compat_oai/anthropic/main.go
Owners: @apascal07

fix: remove npx from mcp command
  genkit-tools/cli/src/commands/init-ai-tools/ai-tools/claude.ts
  genkit-tools/cli/src/commands/init-ai-tools/ai-tools/cursor.ts
  genkit-tools/cli/src/commands/init-ai-tools/ai-tools/gemini.ts
Owners: @pavelgj

Update reflection.go
  go/genkit/reflection.go
Owners: @apascal07

fix(go): make reflection server choose an available port (#3531)
  go/genkit/reflection.go
Owners: @apascal07

skip update notif
  genkit-tools/cli/src/commands/init-ai-tools/ai-tools/claude.ts
  genkit-tools/cli/src/commands/init-ai-tools/ai-tools/cursor.ts
  genkit-tools/cli/src/commands/init-ai-tools/ai-tools/gemini.ts
Owners: @pavelgj

Remove space in args for genkit command
  genkit-tools/cli/src/commands/init-ai-tools/ai-tools/cursor.ts
Owners: @pavelgj

minor escapes for better UX
  genkit-tools/cli/src/commands/init-ai-tools/context/nodejs.ts
Owners: @pavelgj

fix(go): Fix API test
  go/tests/api_test.go
Owners: @apascal07

added to esm tests
  js/pnpm-lock.yaml
  js/testapps/esm/package.json
  js/testapps/esm/src/index.ts
Owners: @pavelgj

fix(js/google-genai): fixes imports missing .js extension (#3525)
  js/plugins/google-genai/src/common/converters.ts
  js/plugins/google-genai/src/common/utils.ts
  js/plugins/google-genai/src/googleai/embedder.ts
  js/plugins/google-genai/src/googleai/gemini.ts
  js/plugins/google-genai/src/googleai/types.ts
  js/plugins/google-genai/src/index.ts
  js/plugins/google-genai/src/vertexai/client.ts
  js/plugins/google-genai/src/vertexai/converters.ts
  js/plugins/google-genai/src/vertexai/embedder.ts
  js/plugins/google-genai/src/vertexai/gemini.ts
  js/plugins/google-genai/src/vertexai/imagen.ts
  js/plugins/google-genai/src/vertexai/lyria.ts
  js/plugins/google-genai/src/vertexai/types.ts
  js/plugins/google-genai/src/vertexai/utils.ts
  js/plugins/google-genai/src/vertexai/veo.ts
  js/plugins/google-genai/tests/common/converters_test.ts
  js/plugins/google-genai/tests/common/utils_test.ts
  js/plugins/google-genai/tests/googleai/client_test.ts
  js/plugins/google-genai/tests/googleai/embedder_test.ts
  js/plugins/google-genai/tests/googleai/gemini_test.ts
  js/plugins/google-genai/tests/googleai/imagen_test.ts
  js/plugins/google-genai/tests/googleai/utils_test.ts
  js/plugins/google-genai/tests/googleai/veo_test.ts
  js/plugins/google-genai/tests/vertexai/client_test.ts
  js/plugins/google-genai/tests/vertexai/converters_test.ts
  js/plugins/google-genai/tests/vertexai/embedder_test.ts
  js/plugins/google-genai/tests/vertexai/gemini_test.ts
  js/plugins/google-genai/tests/vertexai/imagen_test.ts
  js/plugins/google-genai/tests/vertexai/lyria_test.ts
  js/plugins/google-genai/tests/vertexai/utils_test.ts
  js/plugins/google-genai/tests/vertexai/veo_test.ts
  js/pnpm-lock.yaml
  js/testapps/esm/package.json
  js/testapps/esm/src/index.ts
Owners: @pavelgj

fix(cli/init:ai-tools): remove npx from mcp command (#3530)
  genkit-tools/cli/src/commands/init-ai-tools/ai-tools/claude.ts
  genkit-tools/cli/src/commands/init-ai-tools/ai-tools/cursor.ts
  genkit-tools/cli/src/commands/init-ai-tools/ai-tools/gemini.ts
  genkit-tools/cli/src/commands/init-ai-tools/context/nodejs.ts
Owners: @pavelgj

chore: CLI version bump
  genkit-tools/cli/package.json
  genkit-tools/common/package.json
  genkit-tools/telemetry-server/package.json
Owners: @pavelgj

chore: JS version bump
  js/ai/package.json
  js/core/package.json
  js/genkit/package.json
  js/plugins/checks/package.json
  js/plugins/chroma/package.json
  js/plugins/cloud-sql-pg/package.json
  js/plugins/compat-oai/package.json
  js/plugins/dev-local-vectorstore/package.json
  js/plugins/evaluators/package.json
  js/plugins/express/package.json
  js/plugins/firebase/package.json
  js/plugins/google-cloud/package.json
  js/plugins/google-genai/package.json
  js/plugins/googleai/package.json
  js/plugins/langchain/package.json
  js/plugins/mcp/package.json
  js/plugins/next/package.json
  js/plugins/ollama/package.json
  js/plugins/pinecone/package.json
  js/plugins/vertexai/package.json
Owners: @pavelgj

Fixed tests.
  go/tests/api_test.go
  tests/specs/reflection_api.yaml
Owners: @apascal07, @pavelgj

Update reflection_api.yaml
  tests/specs/reflection_api.yaml
Owners: @pavelgj

chore(go): fix e2e tests (#3535)
  go/tests/api_test.go
  tests/specs/reflection_api.yaml
Owners: @apascal07, @pavelgj

Update embedder.go
  go/ai/embedder.go
Owners: @apascal07

update openai message transformation
  go/plugins/compat_oai/generate.go
Owners: @apascal07

refactor(checks): migrate to v2 API
  js/plugins/checks/src/evaluation.ts
  js/plugins/checks/src/index.ts
Owners: @pavelgj

refactor(plugins/google-genai): migrate to v2 API
  js/plugins/google-genai/src/googleai/embedder.ts
  js/plugins/google-genai/src/googleai/gemini.ts
  js/plugins/google-genai/src/googleai/imagen.ts
  js/plugins/google-genai/src/googleai/index.ts
  js/plugins/google-genai/src/googleai/veo.ts
  js/plugins/google-genai/src/vertexai/embedder.ts
  js/plugins/google-genai/src/vertexai/gemini.ts
  js/plugins/google-genai/src/vertexai/imagen.ts
  js/plugins/google-genai/src/vertexai/index.ts
  js/plugins/google-genai/src/vertexai/lyria.ts
  js/plugins/google-genai/src/vertexai/veo.ts
Owners: @pavelgj

Fixed custom options schema.
  go/ai/embedder.go
  go/ai/evaluator.go
  go/ai/generate.go
  go/ai/retriever.go
  go/internal/base/json.go
  go/plugins/googlegenai/gemini.go
  go/plugins/googlegenai/googlegenai.go
  go/plugins/googlegenai/models.go
Owners: @apascal07

Update json_test.go
  go/internal/base/json_test.go
Owners: @apascal07

Update gemini.go
  go/plugins/googlegenai/gemini.go
Owners: @apascal07

fix(go/ai): fixed custom options schema and dynamic embedder input schema (#3538)
  go/ai/embedder.go
  go/ai/evaluator.go
  go/ai/generate.go
  go/ai/retriever.go
  go/internal/base/json.go
  go/internal/base/json_test.go
  go/plugins/googlegenai/gemini.go
  go/plugins/googlegenai/googlegenai.go
  go/plugins/googlegenai/models.go
Owners: @apascal07

refactor gemini samples
  go/samples/basic-gemini-with-context/main.go
  go/samples/basic-gemini/main.go
  go/samples/cache-gemini/main.go
  go/samples/code-execution-gemini/main.go
  go/samples/gemini/README.md
  go/samples/gemini/main.go
  go/samples/imagen-gemini/main.go
Owners: @apascal07, @pavelgj

Add Anthropic plugin for Firebase Genkit
  .gitignore
  go/plugins/anthropic/README.md
  go/plugins/anthropic/anthropic.go
  go/plugins/anthropic/anthropic_test.go
  go/plugins/anthropic/generate.go
  go/plugins/anthropic/models.go
Owners: @pavelgj, @apascal07

fix(go/plugins/googlegenai): use credentials during VertexAI init
  go/go.mod
  go/go.sum
  go/plugins/googlegenai/googlegenai.go
Owners: @apascal07

use better var names
  go/plugins/googlegenai/googlegenai.go
Owners: @apascal07

Fix the additional message
  go/ai/prompt.go
Owners: @apascal07

update prompt.excute merge external incoming messages
  go/ai/prompt.go
Owners: @apascal07

chore: format
  js/plugins/checks/src/evaluation.ts
  js/plugins/checks/src/index.ts
Owners: @pavelgj

Expand Anthropic plugin UI configuration options
  go/plugins/anthropic/anthropic_test.go
  go/plugins/anthropic/config_integration_test.go
  go/plugins/anthropic/generate.go
Owners: @apascal07

Add Anthropic web search tool configuration support
  go/plugins/anthropic/config_integration_test.go
  go/plugins/anthropic/generate.go
Owners: @apascal07

fix(go): fixes to AIM telemetry
  go/ai/generate.go
  go/plugins/firebase/telemetry.go
  go/plugins/googlecloud/googlecloud.go
  go/plugins/googlecloud/types.go
  go/plugins/vertexai/modelgarden/anthropic.go
Owners: @apascal07

refactor(plugins/google-genai): migrate
  js/plugins/google-genai/src/googleai/embedder.ts
  js/plugins/google-genai/src/googleai/gemini.ts
  js/plugins/google-genai/src/googleai/imagen.ts
  js/plugins/google-genai/src/googleai/index.ts
  js/plugins/google-genai/src/googleai/veo.ts
  js/plugins/google-genai/src/vertexai/embedder.ts
  js/plugins/google-genai/src/vertexai/gemini.ts
  js/plugins/google-genai/src/vertexai/imagen.ts
  js/plugins/google-genai/src/vertexai/index.ts
  js/plugins/google-genai/src/vertexai/lyria.ts
Owners: @pavelgj

Added convenience `Interrupts()` method.
  go/ai/document.go
  go/ai/generate.go
Owners: @apascal07

feat(js/plugins): implement plugin wrapper that make it easier to work with plugins directly
  js/genkit/src/plugin.ts
  js/genkit/tests/plugins_test.ts
Owners: @pavelgj
