Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

fix
  .github/workflows/publish_python.yml
  py/bin/publish_pypi.sh
Owners: @pavelgj

fix
  .github/workflows/publish_python.yml
Owners: @pavelgj

fix
  .github/workflows/publish_python.yml
Owners: @pavelgj

More fixes.
  go/ai/embedder.go
  go/ai/generate.go
  go/ai/generator_test.go
  go/ai/option.go
  go/ai/option_test.go
  go/ai/prompt.go
  go/ai/prompt_test.go
  go/ai/tools.go
  go/core/flow.go
  go/genkit/genkit.go
  go/genkit/genkit_test.go
  go/internal/doc-snippets/flows.go
  go/internal/doc-snippets/googleai.go
  go/internal/doc-snippets/init/main.go
  go/internal/doc-snippets/models.go
  go/internal/doc-snippets/ollama.go
  go/internal/doc-snippets/prompts.go
  go/internal/doc-snippets/vertexai.go
  go/plugins/googlegenai/googleai_live_test.go
  go/plugins/googlegenai/vertexai_live_test.go
  go/plugins/ollama/ollama_live_test.go
  go/samples/basic-gemini-with-context/main.go
  go/samples/basic-gemini/main.go
  go/samples/cache-gemini/main.go
  go/samples/coffee-shop/main.go
  go/samples/menu/s01.go
  go/samples/menu/s02.go
  go/samples/menu/s04.go
  go/samples/menu/s05.go
  go/samples/prompts/main.go
  go/samples/rag/main.go
  go/tests/test_app/main.go
Owners: @apascal07

fix
  .github/workflows/publish_python.yml
Owners: @pavelgj

fix
  .github/workflows/publish_python.yml
Owners: @pavelgj

Update genkit.go
  go/genkit/genkit.go
Owners: @apascal07

Update flows.go
  go/internal/doc-snippets/flows.go
Owners: @apascal07

Update genkit_test.go
  go/genkit/genkit_test.go
Owners: @apascal07

Update weaviate.
  go/plugins/weaviate/weaviate.go
  go/plugins/weaviate/weaviate_test.go
Owners: @apascal07

Fixes.
  go/ai/formatter_test.go
  go/ai/option.go
  go/ai/prompt_test.go
  go/genkit/genkit.go
  go/plugins/googlegenai/googleai_live_test.go
  go/plugins/googlegenai/vertexai_live_test.go
  go/samples/formats/main.go
  go/samples/partials-and-helpers/main.go
Owners: @apascal07

Fix.
  go/ai/option.go
  go/ai/tools.go
  go/samples/firebase-auth/main.go
Owners: @apascal07

fix(py/plugins/dev-local-vectorstore): renamed, made it work, added sample
  .github/workflows/publish_python.yml
  py/bin/build_dists
  py/packages/genkit/pyproject.toml
  py/packages/genkit/src/genkit/ai/_base.py
  py/plugins/dev-local-vectorstore/LICENSE
  py/plugins/dev-local-vectorstore/README.md
  py/plugins/dev-local-vectorstore/pyproject.toml
  py/plugins/dev-local-vectorstore/src/genkit/plugins/dev_local_vectorstore/__init__.py
  py/plugins/dev-local-vectorstore/src/genkit/plugins/dev_local_vectorstore/constant.py
  py/plugins/dev-local-vectorstore/src/genkit/plugins/dev_local_vectorstore/indexer.py
  py/plugins/dev-local-vectorstore/src/genkit/plugins/dev_local_vectorstore/local_vector_store_api.py
  py/plugins/dev-local-vectorstore/src/genkit/plugins/dev_local_vectorstore/plugin_api.py
  py/plugins/dev-local-vectorstore/src/genkit/plugins/dev_local_vectorstore/retriever.py
  py/plugins/dev-local-vectorstore/tests/.gitkeep
  py/pyproject.toml
  py/samples/dev-local-vectorstore-hello/LICENSE
  py/samples/dev-local-vectorstore-hello/README.md
  py/samples/dev-local-vectorstore-hello/pyproject.toml
  py/samples/dev-local-vectorstore-hello/src/hello.py
  py/samples/menu/src/menu_ai.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

Updated pgvector.
  go/go.mod
  go/go.sum
  go/samples/pgvector/main.go
Owners: @apascal07

docs
  py/docs/reference/plugins/dev-local-vectorstore.md
  py/mkdocs.yml
Owners: @pavelgj, @yesudeep

Test fixes.
  go/ai/generate.go
  go/ai/option.go
  go/ai/option_test.go
  go/ai/prompt.go
Owners: @apascal07

fix(py/plugins/dev-local-vectorstore): renamed, made it work, added sample, docs (#2710)
  .github/workflows/publish_python.yml
  py/bin/build_dists
  py/docs/reference/plugins/dev-local-vectorstore.md
  py/mkdocs.yml
  py/packages/genkit/pyproject.toml
  py/packages/genkit/src/genkit/ai/_base.py
  py/plugins/dev-local-vectorstore/LICENSE
  py/plugins/dev-local-vectorstore/README.md
  py/plugins/dev-local-vectorstore/pyproject.toml
  py/plugins/dev-local-vectorstore/src/genkit/plugins/dev_local_vectorstore/__init__.py
  py/plugins/dev-local-vectorstore/src/genkit/plugins/dev_local_vectorstore/constant.py
  py/plugins/dev-local-vectorstore/src/genkit/plugins/dev_local_vectorstore/indexer.py
  py/plugins/dev-local-vectorstore/src/genkit/plugins/dev_local_vectorstore/local_vector_store_api.py
  py/plugins/dev-local-vectorstore/src/genkit/plugins/dev_local_vectorstore/plugin_api.py
  py/plugins/dev-local-vectorstore/src/genkit/plugins/dev_local_vectorstore/retriever.py
  py/plugins/dev-local-vectorstore/tests/.gitkeep
  py/pyproject.toml
  py/samples/dev-local-vectorstore-hello/LICENSE
  py/samples/dev-local-vectorstore-hello/README.md
  py/samples/dev-local-vectorstore-hello/pyproject.toml
  py/samples/dev-local-vectorstore-hello/src/hello.py
  py/samples/menu/src/menu_ai.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

docs(py): added basic RAG docs
  py/docs/reference/rag.md
  py/mkdocs.yml
  py/packages/genkit/pyproject.toml
  py/pyproject.toml
  py/samples/firestore-retreiver/src/main.py
Owners: @pavelgj, @yesudeep

docs(py): added basic RAG docs (#2706)
  py/docs/reference/rag.md
  py/mkdocs.yml
  py/packages/genkit/pyproject.toml
  py/pyproject.toml
  py/samples/firestore-retreiver/src/main.py
Owners: @pavelgj, @yesudeep

chore(py): bump version to 0.3.0.dev2
  py/packages/genkit/pyproject.toml
  py/plugins/compat-oai/pyproject.toml
  py/plugins/dev-local-vectorstore/pyproject.toml
  py/plugins/firebase/pyproject.toml
  py/plugins/flask/pyproject.toml
  py/plugins/google-cloud/pyproject.toml
  py/plugins/google-genai/pyproject.toml
  py/plugins/ollama/pyproject.toml
  py/plugins/vertex-ai/pyproject.toml
  py/uv.lock
Owners: @pavelgj, @yesudeep

bug(go): remove local provider from tools and prompts
  go/ai/prompt.go
  go/ai/prompt_test.go
  go/ai/tools.go
  go/plugins/googlegenai/gemini.go
  go/plugins/googlegenai/gemini_test.go
Owners: @apascal07

update docstring for helper test function
  go/plugins/googlegenai/gemini_test.go
Owners: @apascal07

remove provider from LookupPrompt
  go/ai/prompt.go
  go/ai/prompt_test.go
  go/genkit/genkit.go
  go/internal/doc-snippets/dotprompt.go
  go/samples/prompts-dir/main.go
Owners: @apascal07

fix(go)!: Remove `local` provider from tools and prompts (#2713)
  go/ai/prompt.go
  go/ai/prompt_test.go
  go/ai/tools.go
  go/genkit/genkit.go
  go/internal/doc-snippets/dotprompt.go
  go/plugins/googlegenai/gemini.go
  go/plugins/googlegenai/gemini_test.go
  go/samples/prompts-dir/main.go
Owners: @apascal07

chore(py): bump version to 0.3.0.dev2 (#2712)
  py/packages/genkit/pyproject.toml
  py/plugins/compat-oai/pyproject.toml
  py/plugins/dev-local-vectorstore/pyproject.toml
  py/plugins/firebase/pyproject.toml
  py/plugins/flask/pyproject.toml
  py/plugins/google-cloud/pyproject.toml
  py/plugins/google-genai/pyproject.toml
  py/plugins/ollama/pyproject.toml
  py/plugins/vertex-ai/pyproject.toml
  py/uv.lock
Owners: @pavelgj, @yesudeep

docs(py): cleanup genai model refs
  py/docs/reference/models.md
  py/docs/reference/tools.md
  py/packages/genkit/README.md
Owners: @pavelgj

docs(py): cleanup genai model refs (#2714)
  py/docs/reference/models.md
  py/docs/reference/tools.md
  py/packages/genkit/README.md
Owners: @pavelgj

refactor(py/genkit): clean up the Action class
  py/packages/genkit/src/genkit/ai/_aio.py
  py/packages/genkit/src/genkit/ai/_registry.py
  py/packages/genkit/src/genkit/blocks/prompt.py
  py/packages/genkit/src/genkit/core/action/_action.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

refactor(py/genkit/core/action): clean up the Action class (#2715)
  py/packages/genkit/src/genkit/ai/_aio.py
  py/packages/genkit/src/genkit/ai/_registry.py
  py/packages/genkit/src/genkit/blocks/prompt.py
  py/packages/genkit/src/genkit/core/action/_action.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

refactor(py): renamed `ai.run` to `ai.run_main` to avoid confusion with `ai.run` in JS
  py/docs/get-started.md
  py/docs/index.md
  py/docs/reference/models.md
  py/docs/reference/rag.md
  py/packages/genkit/src/genkit/ai/_base.py
  py/samples/compat-oai-hello/src/compat_oai_hello.py
  py/samples/dev-local-vectorstore-hello/src/hello.py
  py/samples/firestore-retreiver/src/main.py
  py/samples/google-genai-hello/src/google_genai_hello.py
  py/samples/google-genai-image/src/google_genai_image.py
  py/samples/google-genai-vertexai-hello/src/google_genai_vertexai_hello.py
  py/samples/ollama-hello/src/ollama_hello.py
Owners: @pavelgj, @yesudeep

feat(py): add structure output support and fix tools
  py/packages/genkit/src/genkit/types/__init__.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/handler.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/model.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/model_info.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/utils.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/typing.py
  py/plugins/compat-oai/tests/test_handler.py
  py/plugins/compat-oai/tests/test_model.py
  py/plugins/compat-oai/tests/test_tool_calling.py
  py/samples/compat-oai-hello/src/compat_oai_hello.py
Owners: @pavelgj, @yesudeep

fix(py/plugins/flask): fixed flask plugin
  py/packages/genkit/src/genkit/ai/__init__.py
  py/plugins/flask/src/genkit/plugins/flask/handler.py
Owners: @pavelgj, @yesudeep

fmt
  py/packages/genkit/src/genkit/ai/__init__.py
Owners: @pavelgj, @yesudeep

fixing build issue
  genkit-tools/genkit-schema.json
Owners: @pavelgj

refactor(py): renamed `ai.run` to `ai.run_main` to avoid confusion with `ai.run` in JS (#2717)
  py/docs/get-started.md
  py/docs/index.md
  py/docs/reference/models.md
  py/docs/reference/rag.md
  py/packages/genkit/src/genkit/ai/_base.py
  py/samples/compat-oai-hello/src/compat_oai_hello.py
  py/samples/dev-local-vectorstore-hello/src/hello.py
  py/samples/firestore-retreiver/src/main.py
  py/samples/google-genai-hello/src/google_genai_hello.py
  py/samples/google-genai-image/src/google_genai_image.py
  py/samples/google-genai-vertexai-hello/src/google_genai_vertexai_hello.py
  py/samples/ollama-hello/src/ollama_hello.py
Owners: @pavelgj, @yesudeep

feat(py): context caching sample
  py/bin/build_dists
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/context_caching/__init__.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/context_caching/constants.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/context_caching/types.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/context_caching/utils.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/samples/context-caching/README.md
  py/samples/google-genai-context-caching/LICENSE
  py/samples/google-genai-context-caching/README.md
  py/samples/google-genai-context-caching/pyproject.toml
  py/samples/google-genai-context-caching/src/context_caching.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

feat(go): Add code execution support to gemini plugin
  go/ai/document.go
  go/plugins/googlegenai/gemini.go
  go/samples/code-execution-gemini/main.go
Owners: @apascal07

nit
  go/plugins/googlegenai/gemini.go
Owners: @apascal07

added tests
  py/plugins/flask/tests/flask_test.py
Owners: @pavelgj, @yesudeep

cleanup test
  py/plugins/flask/tests/flask_test.py
Owners: @pavelgj, @yesudeep

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj
