Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj

chore: bump @genkit-ai/next version to @genkit-ai/next@1.13.0
  js/plugins/next/package.json
Owners: @pavelgj

chore: bump genkitx-ollama version to genkitx-ollama@1.13.0
  js/plugins/ollama/package.json
Owners: @pavelgj

chore: bump genkitx-pinecone version to genkitx-pinecone@1.13.0
  js/plugins/pinecone/package.json
Owners: @pavelgj

chore: bump @genkit-ai/vertexai version to @genkit-ai/vertexai@1.13.0
  js/plugins/vertexai/package.json
Owners: @pavelgj

chore: bump @genkit-ai/checks version to @genkit-ai/checks@1.13.0
  js/plugins/checks/package.json
Owners: @pavelgj

chore: bump genkitx-mcp version to genkitx-mcp@1.13.0
  js/plugins/mcp/package.json
Owners: @pavelgj

chore: bump @genkit-ai/express version to @genkit-ai/express@1.13.0
  js/plugins/express/package.json
Owners: @pavelgj

reuse anthropic code for plugin and modelgarden
  go/plugins/anthropic/anthropic.go
  go/plugins/anthropic/models.go
  go/plugins/internal/anthropic/anthropic.go
  go/plugins/internal/anthropic/anthropic_test.go
  go/plugins/internal/anthropic/models.go
  go/plugins/vertexai/modelgarden/anthropic.go
Owners: @apascal07

chore(samples): added gemini sample
  samples/js-gemini/.idx/dev.nix
  samples/js-gemini/README.md
  samples/js-gemini/package.json
  samples/js-gemini/photo.jpg
  samples/js-gemini/src/index.ts
  samples/js-gemini/tsconfig.json
Owners: @pavelgj

tts
  samples/js-gemini/package.json
  samples/js-gemini/src/index.ts
Owners: @pavelgj

chore(samples): added gemini sample (#3110)
  samples/js-gemini/.idx/dev.nix
  samples/js-gemini/README.md
  samples/js-gemini/package.json
  samples/js-gemini/photo.jpg
  samples/js-gemini/src/index.ts
  samples/js-gemini/tsconfig.json
Owners: @pavelgj

feat(js/plugins/google-genai): Added Gemini for GoogleAI
  js/plugins/google-genai/src/common/types.ts
  js/plugins/google-genai/src/googleai/gemini.ts
  js/plugins/google-genai/src/googleai/types.ts
  js/plugins/google-genai/src/vertexai/utils.ts
  js/plugins/google-genai/tests/googleai/gemini_test.ts
Owners: @pavelgj

more refinements
  js/plugins/compat-oai/package.json
  js/plugins/compat-oai/src/audio.ts
  js/plugins/compat-oai/src/embedder.ts
  js/plugins/compat-oai/src/image.ts
  js/plugins/compat-oai/src/index.ts
  js/plugins/compat-oai/src/model.ts
  js/plugins/compat-oai/src/openai/dalle.ts
  js/plugins/compat-oai/src/openai/gpt.ts
  js/plugins/compat-oai/src/openai/index.ts
  js/plugins/compat-oai/src/openai/tts.ts
  js/plugins/compat-oai/src/openai/whisper.ts
  js/plugins/compat-oai/tests/compat_oai_test.ts
  js/plugins/compat-oai/tests/openai_test.ts
  js/testapps/compat-oai/src/index.ts
Owners: @pavelgj

Fix handling of paths telemetry in google-cloud plugin. Makes processing of each span entirely independent.
  js/core/src/index.ts
  js/core/src/tracing/instrumentation.ts
  js/core/src/tracing/types.ts
  js/plugins/google-cloud/src/gcpOpenTelemetry.ts
  js/plugins/google-cloud/src/metrics.ts
  js/plugins/google-cloud/src/telemetry/action.ts
  js/plugins/google-cloud/src/telemetry/engagement.ts
  js/plugins/google-cloud/src/telemetry/feature.ts
  js/plugins/google-cloud/src/telemetry/generate.ts
  js/plugins/google-cloud/src/telemetry/path.ts
  js/plugins/google-cloud/tests/logs_no_input_output_test.ts
  js/plugins/google-cloud/tests/logs_test.ts
  js/plugins/google-cloud/tests/metrics_test.ts
  js/plugins/google-cloud/tests/traces_test.ts
Owners: @pavelgj

revert unintended format change
  js/core/src/index.ts
Owners: @pavelgj

fixes
  js/ai/src/index.ts
  js/plugins/compat-oai/src/audio.ts
  js/plugins/compat-oai/src/embedder.ts
  js/plugins/compat-oai/src/image.ts
  js/plugins/compat-oai/src/index.ts
  js/plugins/compat-oai/src/model.ts
  js/plugins/compat-oai/src/openai/index.ts
Owners: @pavelgj

fix failing test
  js/plugins/google-cloud/tests/logs_test.ts
Owners: @pavelgj

review comments
  js/plugins/google-genai/src/googleai/gemini.ts
  js/plugins/google-genai/tests/googleai/gemini_test.ts
Owners: @pavelgj

removing label
  js/plugins/google-genai/src/googleai/gemini.ts
  js/plugins/google-genai/tests/googleai/gemini_test.ts
Owners: @pavelgj

formatting
  js/plugins/google-genai/tests/googleai/gemini_test.ts
Owners: @pavelgj

feat: Update Gemini models
  js/plugins/googleai/src/gemini.ts
Owners: @pavelgj

fix: Add missing imports.
  js/plugins/googleai/src/index.ts
Owners: @pavelgj

fix: Fix model import names.
  js/plugins/googleai/src/index.ts
Owners: @pavelgj

fix(ci): adjust file extension for windows
  .github/workflows/build-cli-binaries.yml
Owners: @pavelgj

feat(ci): add arm runners
  .github/workflows/build-cli-binaries.yml
Owners: @pavelgj

feat(ci): add tests and update yaml
  .github/workflows/build-cli-binaries.yml
Owners: @pavelgj

fix(ci): update ci workflow unix tests
  .github/workflows/build-cli-binaries.yml
Owners: @pavelgj

feat(ci): add windows binary testing
  .github/workflows/build-cli-binaries.yml
Owners: @pavelgj

feedback
  js/plugins/compat-oai/src/openai/index.ts
  js/testapps/compat-oai/src/index.ts
Owners: @pavelgj

fix(js/plugins/google-clout): Write input and output logs for generate step
  js/plugins/google-cloud/src/gcpOpenTelemetry.ts
  js/plugins/google-cloud/src/telemetry/action.ts
Owners: @pavelgj

Early-out of action log writing when global log flag is disabled.
  js/plugins/google-cloud/src/telemetry/action.ts
Owners: @pavelgj

fix(js/plugins/google-cloud): Update tests
  js/plugins/google-cloud/src/gcpOpenTelemetry.ts
  js/plugins/google-cloud/tests/logs_test.ts
Owners: @pavelgj

refactor(js/plugins/compat-oai): Refactor existing compat plugin to match proposal. (#3086)
  js/plugins/compat-oai/jest.config.js
  js/plugins/compat-oai/jest.config.ts
  js/plugins/compat-oai/package.json
  js/plugins/compat-oai/src/audio.ts
  js/plugins/compat-oai/src/dalle.ts
  js/plugins/compat-oai/src/embedder.ts
  js/plugins/compat-oai/src/gpt.ts
  js/plugins/compat-oai/src/image.ts
  js/plugins/compat-oai/src/index.ts
  js/plugins/compat-oai/src/model.ts
  js/plugins/compat-oai/src/openai/dalle.ts
  js/plugins/compat-oai/src/openai/embedder.ts
  js/plugins/compat-oai/src/openai/gpt.ts
  js/plugins/compat-oai/src/openai/index.ts
  js/plugins/compat-oai/src/openai/tts.ts
  js/plugins/compat-oai/src/openai/whisper.ts
  js/plugins/compat-oai/src/tts.ts
  js/plugins/compat-oai/src/whisper.ts
  js/plugins/compat-oai/tests/compat_oai_test.ts
  js/plugins/compat-oai/tests/openai_test.ts
  js/testapps/compat-oai/src/index.ts
Owners: @pavelgj

fix(js/plugins/google-cloud): Add input and output logs for prompt rendering step.
  js/plugins/google-cloud/src/gcpOpenTelemetry.ts
  js/plugins/google-cloud/src/telemetry/action.ts
  js/plugins/google-cloud/tests/logs_test.ts
Owners: @pavelgj

fix(js/plugins/google-cloud): Write input and output logs for generate step (#3107)
  js/plugins/google-cloud/src/gcpOpenTelemetry.ts
  js/plugins/google-cloud/src/telemetry/action.ts
  js/plugins/google-cloud/tests/logs_test.ts
Owners: @pavelgj

chore: added a constant for the metadata definition in the openai plugin
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/openai_plugin.py
Owners: @pavelgj, @yesudeep

review comments
  js/plugins/google-genai/src/googleai/gemini.ts
Owners: @pavelgj

feat(js/plugins/google-genai): Added Gemini for GoogleAI (#3111)
  js/plugins/google-genai/src/common/types.ts
  js/plugins/google-genai/src/googleai/gemini.ts
  js/plugins/google-genai/src/googleai/types.ts
  js/plugins/google-genai/src/vertexai/utils.ts
  js/plugins/google-genai/tests/googleai/gemini_test.ts
Owners: @pavelgj

fix(js/plugins/google-genai): Fix tests for node 23
  js/plugins/google-genai/src/common/types.ts
  js/plugins/google-genai/src/googleai/types.ts
  js/plugins/google-genai/src/vertexai/types.ts
Owners: @pavelgj

fix(js): update span attribute key for clarity
  js/core/src/tracing/instrumentation.ts
  js/core/src/tracing/types.ts
  js/plugins/google-cloud/src/gcpOpenTelemetry.ts
  js/plugins/google-cloud/src/telemetry/path.ts
Owners: @pavelgj
