Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

feat(py): Added the render user prompt to the render method of the executable prompt class (#3705)
  py/packages/genkit/src/genkit/ai/_aio.py
  py/packages/genkit/src/genkit/blocks/prompt.py
  py/packages/genkit/tests/genkit/blocks/prompt_test.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

feat(go): support using a custom filesystem to load prompts from #3746
  go/ai/_test_data/prompts/example.prompt
  go/ai/prompt.go
  go/ai/prompt_test.go
  go/genkit/genkit.go
  go/samples/prompts-dir/main.go
Owners: @pavelgj, @apascal07

fix(go/plugins/mcp): Retrieve MCP server output schema
  go/ai/tools.go
  go/core/action.go
  go/go.mod
  go/go.sum
  go/plugins/mcp/tools.go
  go/plugins/mcp/tools_test.go
Owners: @apascal07

feat(telemetry-server): implemented OTLP receiver (experimental) (#3732)
  genkit-tools/telemetry-server/src/index.ts
  genkit-tools/telemetry-server/src/utils/otlp.ts
  genkit-tools/telemetry-server/tests/file_store_test.ts
  genkit-tools/telemetry-server/tests/otlp_test.ts
  genkit-tools/telemetry-server/tests/utils.ts
  js/core/src/tracing.ts
  js/genkit/src/tracing.ts
Owners: @pavelgj

Fix failing validation in MCP tool response due the output schema now being present
  go/internal/base/validation.go
  go/plugins/mcp/tools_test.go
Owners: @apascal07

chore: CLI version bump
  genkit-tools/cli/package.json
  genkit-tools/common/package.json
  genkit-tools/telemetry-server/package.json
Owners: @pavelgj

chore: JS version bump
  js/ai/package.json
  js/core/package.json
  js/genkit/package.json
  js/plugins/checks/package.json
  js/plugins/chroma/package.json
  js/plugins/cloud-sql-pg/package.json
  js/plugins/compat-oai/package.json
  js/plugins/dev-local-vectorstore/package.json
  js/plugins/evaluators/package.json
  js/plugins/express/package.json
  js/plugins/firebase/package.json
  js/plugins/google-cloud/package.json
  js/plugins/google-genai/package.json
  js/plugins/googleai/package.json
  js/plugins/langchain/package.json
  js/plugins/mcp/package.json
  js/plugins/next/package.json
  js/plugins/ollama/package.json
  js/plugins/pinecone/package.json
  js/plugins/vertexai/package.json
Owners: @pavelgj

Register dynamic tools using sub-registrygers
  go/ai/prompt.go
Owners: @apascal07

chore: CLI version bump
  genkit-tools/cli/package.json
  genkit-tools/common/package.json
  genkit-tools/telemetry-server/package.json
Owners: @pavelgj

chore: JS version bump
  js/ai/package.json
  js/core/package.json
  js/genkit/package.json
  js/plugins/checks/package.json
  js/plugins/chroma/package.json
  js/plugins/cloud-sql-pg/package.json
  js/plugins/compat-oai/package.json
  js/plugins/dev-local-vectorstore/package.json
  js/plugins/evaluators/package.json
  js/plugins/express/package.json
  js/plugins/firebase/package.json
  js/plugins/google-cloud/package.json
  js/plugins/google-genai/package.json
  js/plugins/googleai/package.json
  js/plugins/langchain/package.json
  js/plugins/mcp/package.json
  js/plugins/next/package.json
  js/plugins/ollama/package.json
  js/plugins/pinecone/package.json
  js/plugins/vertexai/package.json
Owners: @pavelgj

refactor: update runInNewSpan call and tidy up init code
  js/plugins/googleai/src/gemini.ts
  js/plugins/googleai/src/index.ts
Owners: @pavelgj

fix(js/plugins/ollama): do not make serverAddress required for embedders
  js/plugins/ollama/src/index.ts
  js/plugins/ollama/tests/embeddings_test.ts
Owners: @pavelgj

fix(go/plugins/googlegenai): handle empty candidate parts when thinking
  go/plugins/googlegenai/gemini.go
  go/plugins/googlegenai/googleai_live_test.go
Owners: @apascal07

fix: Correctly handle custom config
  genkit-tools/common/src/eval/evaluate.ts
  js/testapps/evals/prompts/hello.prompt
Owners: @pavelgj

chore: tweak guides for better init
  js/genkit/.guides/config.json
  js/genkit/.guides/usage.md
Owners: @pavelgj

feat(js/plugins/google-genai): Vertexai veo - support reference images. vertexai: support location config for all models.
  js/plugins/google-genai/src/common/utils.ts
  js/plugins/google-genai/src/vertexai/client.ts
  js/plugins/google-genai/src/vertexai/converters.ts
  js/plugins/google-genai/src/vertexai/gemini.ts
  js/plugins/google-genai/src/vertexai/imagen.ts
  js/plugins/google-genai/src/vertexai/lyria.ts
  js/plugins/google-genai/src/vertexai/types.ts
  js/plugins/google-genai/src/vertexai/utils.ts
  js/plugins/google-genai/src/vertexai/veo.ts
  js/plugins/google-genai/tests/vertexai/client_test.ts
  js/plugins/google-genai/tests/vertexai/converters_test.ts
  js/plugins/google-genai/tests/vertexai/gemini_test.ts
  js/plugins/google-genai/tests/vertexai/imagen_test.ts
  js/plugins/google-genai/tests/vertexai/lyria_test.ts
  js/plugins/google-genai/tests/vertexai/utils_test.ts
  js/plugins/google-genai/tests/vertexai/veo_test.ts
  js/testapps/basic-gemini/package.json
  js/testapps/basic-gemini/src/index-vertexai.ts
Owners: @pavelgj

chore: tweak guides for better init (#3757)
  js/genkit/.guides/config.json
  js/genkit/.guides/usage.md
Owners: @pavelgj

fix(genkit-tools/evaluate): Handle custom config correctly for prompt evals (#3755)
  genkit-tools/common/src/eval/evaluate.ts
  js/testapps/evals/prompts/hello.prompt
Owners: @pavelgj

fix(go): Register dynamic tools using sub-registrygers (#3753)
  go/ai/prompt.go
Owners: @apascal07

chore(go): update gemini models in docs and samples
  go/genkit/genkit.go
  go/plugins/googlecloud/generate_test.go
  go/plugins/googlegenai/cache_test.go
  go/plugins/googlegenai/googleai_live_test.go
  go/plugins/googlegenai/vertexai_live_test.go
  go/samples/basic-gemini-with-context/main.go
  go/samples/cache-gemini/main.go
  go/samples/code-execution-gemini/main.go
  go/samples/coffee-shop/main.go
  go/samples/files-api-vision/main.go
  go/samples/imagen-gemini/main.go
  go/samples/mcp-ception/mcp_ception.go
  go/samples/mcp-client/main.go
  go/samples/mcp-server/client.go
  go/samples/menu/main.go
  go/samples/partials-and-helpers/main.go
  go/samples/prompts-dir/prompts/example.prompt
  go/samples/prompts/prompts/countries.prompt
  go/samples/rag/main.go
  go/samples/vectorsearch-biqguery/main.go
  go/samples/vectorsearch-firestore/main.go
Owners: @apascal07, @pavelgj

update live tests
  go/plugins/googlegenai/googleai_live_test.go
  go/plugins/googlegenai/vertexai_live_test.go
Owners: @apascal07

chore(js): update gemini models in docs and samples
  js/ai/src/model-types.ts
  js/core/src/registry.ts
  js/doc-snippets/src/dotprompt/index.ts
  js/doc-snippets/src/dotprompt/prompts/ex01.prompt
  js/doc-snippets/src/dotprompt/prompts/ex02.prompt
  js/doc-snippets/src/dotprompt/prompts/ex03.prompt
  js/doc-snippets/src/dotprompt/prompts/ex04.prompt
  js/doc-snippets/src/dotprompt/prompts/ex05.prompt
  js/doc-snippets/src/dotprompt/prompts/ex06.prompt
  js/doc-snippets/src/dotprompt/prompts/ex08.prompt
  js/doc-snippets/src/flows/index.ts
  js/doc-snippets/src/index.ts
  js/doc-snippets/src/models/index.ts
  js/doc-snippets/src/models/minimal.ts
  js/genkit/tests/prompts/badSchemaRef.prompt
  js/genkit/tests/prompts/schemaRef.prompt
  js/plugins/google-genai/tests/common/utils_test.ts
  js/plugins/google-genai/tests/googleai/client_test.ts
  js/plugins/google-genai/tests/googleai/gemini_test.ts
  js/plugins/google-genai/tests/googleai/index_test.ts
  js/plugins/google-genai/tests/vertexai/client_test.ts
  js/plugins/google-genai/tests/vertexai/gemini_test.ts
  js/plugins/google-genai/tests/vertexai/index_test.ts
  js/plugins/googleai/README.md
  js/plugins/googleai/tests/gemini_test.ts
  js/plugins/mcp/README.md
  js/plugins/vertexai/tests/plugin_test.ts
  js/testapps/dev-ui-gallery/prompts/code.prompt
  js/testapps/dev-ui-gallery/prompts/hello.first-last-name.prompt
  js/testapps/dev-ui-gallery/prompts/hello.history.prompt
  js/testapps/dev-ui-gallery/prompts/hello.json-output.prompt
  js/testapps/dev-ui-gallery/prompts/hello.prompt
  js/testapps/dev-ui-gallery/prompts/hello.system.prompt
  js/testapps/dev-ui-gallery/prompts/markdown.prompt
  js/testapps/dev-ui-gallery/prompts/tools/weather.prompt
  js/testapps/flow-simple-ai/prompts/TellJoke.prompt
  js/testapps/flow-simple-ai/prompts/dotpromptContext.prompt
  js/testapps/flow-simple-ai/src/index.ts
  js/testapps/format-tester/src/index.ts
Owners: @pavelgj

pretty
  js/ai/src/model-types.ts
  js/core/src/registry.ts
  js/plugins/google-genai/tests/vertexai/index_test.ts
  js/plugins/vertexai/src/common/utils.ts
  js/testapps/flow-simple-ai/src/index.ts
Owners: @pavelgj

real time telemetry updates
  genkit-tools/common/src/manager/manager.ts
  genkit-tools/common/src/server/router.ts
  genkit-tools/common/src/server/server.ts
  genkit-tools/telemetry-server/src/index.ts
  js/core/src/action.ts
  js/core/src/index.ts
  js/core/src/reflection.ts
  js/testapps/flow-sample1/src/index.ts
Owners: @pavelgj

fix(go/plugins/googlegenai): handle empty candidate parts when thinking (#3754)
  go/plugins/googlegenai/gemini.go
  go/plugins/googlegenai/googleai_live_test.go
Owners: @apascal07

fix imports
  js/plugins/googleai/tests/gemini_test.ts
Owners: @pavelgj

chore(py): Add tools sample for OpenAI Compat plugin (#3684)
  py/samples/compat-oai-hello/src/compat_oai_hello.py
Owners: @pavelgj, @yesudeep

feat(py): add embedder reference to Python
  py/bin/run_python_tests
  py/noxfile.py
  py/packages/genkit/pyproject.toml
  py/packages/genkit/src/genkit/aio/_compat.py
  py/packages/genkit/src/genkit/blocks/embedding.py
  py/plugins/compat-oai/pyproject.toml
  py/plugins/dev-local-vectorstore/pyproject.toml
  py/plugins/evaluators/pyproject.toml
  py/plugins/firebase/pyproject.toml
  py/plugins/flask/pyproject.toml
  py/plugins/google-cloud/pyproject.toml
  py/plugins/google-genai/pyproject.toml
  py/plugins/ollama/pyproject.toml
  py/plugins/vertex-ai/pyproject.toml
  py/tests/smoke/pyproject.toml
  py/uv.lock
Owners: @pavelgj, @yesudeep

feat(anthropic): add support for Claude 4.1 and 4.5 models
  go/plugins/compat_oai/anthropic/anthropic.go
  go/plugins/compat_oai/anthropic/anthropic_live_test.go
Owners: @apascal07

feat(js/plugins/google-genai): Vertexai veo - support reference images… (#3756)
  js/plugins/google-genai/src/common/utils.ts
  js/plugins/google-genai/src/vertexai/client.ts
  js/plugins/google-genai/src/vertexai/converters.ts
  js/plugins/google-genai/src/vertexai/gemini.ts
  js/plugins/google-genai/src/vertexai/imagen.ts
  js/plugins/google-genai/src/vertexai/lyria.ts
  js/plugins/google-genai/src/vertexai/types.ts
  js/plugins/google-genai/src/vertexai/utils.ts
  js/plugins/google-genai/src/vertexai/veo.ts
  js/plugins/google-genai/tests/vertexai/client_test.ts
  js/plugins/google-genai/tests/vertexai/converters_test.ts
  js/plugins/google-genai/tests/vertexai/gemini_test.ts
  js/plugins/google-genai/tests/vertexai/imagen_test.ts
  js/plugins/google-genai/tests/vertexai/lyria_test.ts
  js/plugins/google-genai/tests/vertexai/utils_test.ts
  js/plugins/google-genai/tests/vertexai/veo_test.ts
  js/testapps/basic-gemini/package.json
  js/testapps/basic-gemini/src/index-vertexai.ts
Owners: @pavelgj

feat(js): durable streaming for flows
  .gitignore
  js/core/src/action.ts
  js/core/src/async.ts
  js/core/src/streaming.ts
  js/core/tests/async_test.ts
  js/core/tests/utils.ts
  js/genkit/src/client/client.ts
  js/plugins/express/README.md
  js/plugins/express/package.json
  js/plugins/express/src/index.ts
  js/plugins/express/tests/express_test.ts
  js/plugins/firebase/README.md
  js/plugins/firebase/package.json
  js/plugins/firebase/src/beta.ts
  js/plugins/firebase/src/stream-manager/firestore.ts
  js/plugins/firebase/src/stream-manager/rtdb.ts
  js/plugins/firebase/tests/.gitignore
  js/plugins/firebase/tests/emulator/firebase.json
  js/plugins/firebase/tests/firestore_test.ts
  js/plugins/firebase/tests/rtdb_test.ts
  js/plugins/next/README.md
  js/plugins/next/src/client.ts
  js/plugins/next/src/index.ts
  js/plugins/next/tests/index_test.ts
  js/pnpm-lock.yaml
  js/testapps/durable-streaming/.gitignore
  js/testapps/durable-streaming/package.json
  js/testapps/durable-streaming/src/index.ts
  js/testapps/durable-streaming/tsconfig.json
Owners: @pavelgj

chore: replacing gemini-1.5-* with gemini-2.5-* where appropriate
  go/genkit/genkit.go
  go/samples/prompts-dir/prompts/example.prompt
  js/doc-snippets/src/dotprompt/index.ts
  js/doc-snippets/src/dotprompt/prompts/ex01.prompt
  js/doc-snippets/src/dotprompt/prompts/ex02.prompt
  js/doc-snippets/src/dotprompt/prompts/ex03.prompt
  js/doc-snippets/src/dotprompt/prompts/ex04.prompt
  js/doc-snippets/src/dotprompt/prompts/ex05.prompt
  js/doc-snippets/src/dotprompt/prompts/ex06.prompt
  js/doc-snippets/src/dotprompt/prompts/ex08.prompt
  js/genkit/tests/prompts/badSchemaRef.prompt
  js/genkit/tests/prompts/schemaRef.prompt
  js/plugins/google-genai/src/common/types.ts
  js/plugins/google-genai/tests/common/utils_test.ts
  js/plugins/google-genai/tests/googleai/index_test.ts
  js/plugins/google-genai/tests/vertexai/index_test.ts
  js/plugins/googleai/README.md
  js/pnpm-lock.yaml
  js/testapps/dev-ui-gallery/prompts/hello.first-last-name.prompt
  js/testapps/dev-ui-gallery/prompts/hello.history.prompt
  js/testapps/dev-ui-gallery/prompts/hello.json-output.prompt
  js/testapps/dev-ui-gallery/prompts/hello.prompt
  js/testapps/dev-ui-gallery/prompts/hello.system.prompt
  js/testapps/dev-ui-gallery/prompts/tools/weather.prompt
  js/testapps/durable-streaming/.firebaserc
  js/testapps/flow-simple-ai/prompts/TellJoke.prompt
  js/testapps/format-tester/package.json
  js/testapps/format-tester/src/index.ts
  py/engdoc/extending/index.md
  py/engdoc/index.md
  samples/js-prompts/src/index.ts
Owners: @apascal07, @pavelgj

remove
  js/testapps/durable-streaming/.firebaserc
Owners: @pavelgj

undo multimodal sample
  .gitignore
  js/pnpm-lock.yaml
  js/testapps/multimodal/docs/BirthdayPets.pdf
  js/testapps/multimodal/package.json
  js/testapps/multimodal/src/genkit.ts
  js/testapps/multimodal/src/index.ts
  js/testapps/multimodal/src/pdf.ts
  js/testapps/multimodal/src/prompt.ts
  js/testapps/multimodal/src/video.ts
  js/testapps/multimodal/tsconfig.json
Owners: @pavelgj

fmt
  js/testapps/multimodal/src/genkit.ts
Owners: @pavelgj

updated versions
  js/testapps/firebase-functions-sample1/functions/package.json
Owners: @pavelgj

multimodal continued
  js/pnpm-lock.yaml
  js/testapps/basic-gemini/src/index.ts
  js/testapps/multimodal/package.json
  js/testapps/multimodal/src/genkit.ts
  js/testapps/multimodal/src/prompt.ts
Owners: @pavelgj

Demo: Added GCLI trace
  genkit-tools/common/src/eval/evaluate.ts
Owners: @pavelgj

chore(go): replace `gemini-1.5*` and `gemini-2.0*` references with `gemini-2.5*` (#3761)
  go/genkit/genkit.go
  go/plugins/googlecloud/generate_test.go
  go/plugins/googlegenai/cache_test.go
  go/plugins/googlegenai/googleai_live_test.go
  go/plugins/googlegenai/vertexai_live_test.go
  go/samples/basic-gemini-with-context/main.go
  go/samples/cache-gemini/main.go
  go/samples/code-execution-gemini/main.go
  go/samples/coffee-shop/main.go
  go/samples/files-api-vision/main.go
  go/samples/imagen-gemini/main.go
  go/samples/mcp-ception/mcp_ception.go
  go/samples/mcp-client/main.go
  go/samples/mcp-server/client.go
  go/samples/menu/main.go
  go/samples/partials-and-helpers/main.go
  go/samples/prompts/prompts/countries.prompt
  go/samples/rag/main.go
  go/samples/vectorsearch-biqguery/main.go
  go/samples/vectorsearch-firestore/main.go
Owners: @apascal07, @pavelgj

feat(go/plugins/compat_oai): add support for Claude 4.1 and 4.5 models (#3768)
  go/plugins/compat_oai/anthropic/anthropic.go
  go/plugins/compat_oai/anthropic/anthropic_live_test.go
Owners: @apascal07

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj
