Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj

chore(py): use Imported.__name__ for exports rather than string literals (#2437)
  py/packages/genkit/src/genkit/ai/__init__.py
  py/packages/genkit/src/genkit/ai/plugin.py
  py/packages/genkit/src/genkit/ai/registry.py
  py/packages/genkit/src/genkit/aio/__init__.py
  py/packages/genkit/src/genkit/blocks/__init__.py
  py/packages/genkit/src/genkit/blocks/formats/__init__.py
  py/packages/genkit/src/genkit/core/__init__.py
  py/packages/genkit/src/genkit/core/endpoints/__init__.py
  py/packages/genkit/src/genkit/web/manager/__init__.py
Owners: @pavelgj, @yesudeep

feat: split sync and async
  py/packages/genkit/src/genkit/ai/__init__.py
  py/packages/genkit/src/genkit/ai/_genkit.py
  py/packages/genkit/src/genkit/ai/registry.py
  py/packages/genkit/src/genkit/aio/_genkit.py
  py/packages/genkit/src/genkit/sync/__init__.py
  py/packages/genkit/src/genkit/sync/_genkit.py
  py/samples/experimental/LICENSE
  py/samples/experimental/README.md
  py/samples/experimental/pyproject.toml
  py/samples/experimental/src/experimental.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

fix(typo): resolve typo of auth.md
  docs/auth.md
Owners: @pavelgj

addition of middleware to gemini define model and removed from generator go
  go/ai/generate.go
  go/ai/model_middleware.go
  go/ai/model_middleware_test.go
  go/plugins/internal/gemini/gemini.go
Owners: @apascal07

Added usage and request initialization
  go/plugins/compat_oai/openai/generate.go
  go/plugins/compat_oai/openai/openai.go
Owners: @apascal07

Added embedding support
  go/plugins/compat_oai/openai/openai.go
  go/plugins/compat_oai/openai/openai_live_test.go
Owners: @apascal07

Remove check for embedder, since users can add them
  go/plugins/compat_oai/openai/openai.go
Owners: @apascal07

Updated all plugins to new interface.
  go/genkit/genkit.go
  go/internal/doc-snippets/dotprompt.go
  go/internal/doc-snippets/gcp.go
  go/internal/doc-snippets/googleai.go
  go/internal/doc-snippets/init/main.go
  go/internal/doc-snippets/models.go
  go/internal/doc-snippets/ollama.go
  go/internal/doc-snippets/pinecone.go
  go/internal/doc-snippets/rag/main.go
  go/internal/doc-snippets/vertexai.go
  go/internal/registry/registry.go
  go/plugins/googleai/googleai.go
  go/plugins/googlecloud/googlecloud.go
  go/plugins/localvec/localvec.go
  go/plugins/ollama/embed.go
  go/plugins/ollama/ollama.go
  go/plugins/ollama/ollama_live_test.go
  go/plugins/pinecone/genkit.go
  go/plugins/pinecone/genkit_test.go
  go/plugins/vertexai/vertexai.go
  go/plugins/weaviate/weaviate.go
  go/plugins/weaviate/weaviate_test.go
  go/samples/basic-gemini/main.go
  go/samples/coffee-shop/main.go
  go/samples/menu/main.go
  go/samples/pgvector/main.go
  go/samples/prompts/main.go
  go/samples/rag/main.go
Owners: @apascal07

Bad merge.
  go/genkit/genkit.go
Owners: @apascal07

Fixed sample.
  go/samples/cache-gemini/main.go
Owners: @apascal07

Update nextjs.md
  docs/nextjs.md
Owners: @pavelgj

feat(go/dotprompt): Fix prompt example
  go/ai/prompt.go
  go/ai/prompt_test.go
  go/genkit/genkit.go
  go/samples/prompts-dir/main.go
  go/samples/prompts-dir/prompts/example.prompt
Owners: @apascal07, @pavelgj

refactor(go): Added `genkit.WithPlugins` option with unified plugin interface (#2423)
  go/genkit/genkit.go
  go/internal/doc-snippets/dotprompt.go
  go/internal/doc-snippets/gcp.go
  go/internal/doc-snippets/googleai.go
  go/internal/doc-snippets/init/main.go
  go/internal/doc-snippets/models.go
  go/internal/doc-snippets/ollama.go
  go/internal/doc-snippets/pinecone.go
  go/internal/doc-snippets/rag/main.go
  go/internal/doc-snippets/vertexai.go
  go/internal/registry/registry.go
  go/plugins/googleai/googleai.go
  go/plugins/googleai/googleai_test.go
  go/plugins/googlecloud/googlecloud.go
  go/plugins/localvec/localvec.go
  go/plugins/ollama/embed.go
  go/plugins/ollama/ollama.go
  go/plugins/ollama/ollama_live_test.go
  go/plugins/pinecone/genkit.go
  go/plugins/pinecone/genkit_test.go
  go/plugins/vertexai/vertexai.go
  go/plugins/vertexai/vertexai_test.go
  go/plugins/weaviate/weaviate.go
  go/plugins/weaviate/weaviate_test.go
  go/samples/basic-gemini/main.go
  go/samples/cache-gemini/main.go
  go/samples/coffee-shop/main.go
  go/samples/menu/main.go
  go/samples/pgvector/main.go
  go/samples/prompts/main.go
  go/samples/rag/main.go
Owners: @apascal07

make args object
  js/plugins/evaluators/src/index.ts
  js/plugins/evaluators/src/types.ts
  js/testapps/evals/src/genkit.ts
  js/testapps/evals/src/pdf-rag.ts
Owners: @pavelgj

typing
  go/ai/gen.go
  py/packages/genkit/src/genkit/core/typing.py
Owners: @apascal07, @pavelgj, @yesudeep

change in ModelInfoSupport to ModelSupport:wq
  go/ai/model_middleware_test.go
Owners: @apascal07

changes as per the comment provided also the test case is fixed
  go/ai/generate.go
  go/ai/generator_test.go
  go/ai/model_middleware.go
  go/ai/model_middleware_test.go
  go/ai/request_helpers.go
Owners: @apascal07

addition of context example in samples
  go/samples/basic-gemini-with-context/main.go
Owners: @apascal07

addition of augment with context to handle the provided context
  go/ai/generate.go
  go/ai/model_middleware.go
  go/ai/model_middleware_test.go
Owners: @apascal07

removal of unused variable
  go/samples/basic-gemini-with-context/main.go
Owners: @apascal07

Fixed sample.
  go/samples/basic-gemini-with-context/main.go
Owners: @apascal07

feat(go): Added simulated document-based context support (#2415)
  go/ai/generate.go
  go/ai/generator_test.go
  go/ai/model_middleware.go
  go/ai/model_middleware_test.go
  go/ai/request_helpers.go
  go/samples/basic-gemini-with-context/main.go
Owners: @apascal07

Added comments.
  go/ai/model_middleware.go
  go/ai/model_middleware_test.go
  go/plugins/internal/gemini/gemini.go
Owners: @apascal07

Update model_middleware.go
  go/ai/model_middleware.go
Owners: @apascal07

add googlegenai plugin
  go/internal/doc-snippets/dotprompt.go
  go/internal/doc-snippets/googleai.go
  go/internal/doc-snippets/init/main.go
  go/internal/doc-snippets/models.go
  go/internal/doc-snippets/pinecone.go
  go/internal/doc-snippets/vertexai.go
  go/plugins/googleai/googleai.go
  go/plugins/googlegenai/googleai_live_test.go
  go/plugins/googlegenai/googlegenai.go
  go/plugins/googlegenai/models.go
  go/plugins/googlegenai/vertexai_live_test.go
  go/plugins/vertexai/vertexai.go
  go/samples/basic-gemini/main.go
  go/samples/cache-gemini/main.go
  go/samples/coffee-shop/main.go
  go/samples/menu/main.go
  go/samples/pgvector/main.go
  go/samples/prompts/main.go
  go/samples/rag/main.go
Owners: @apascal07

feat(go): Added media download middleware (enabled for Google GenAI) (#2402)
  go/ai/model_middleware.go
  go/ai/model_middleware_test.go
  go/plugins/internal/gemini/gemini.go
Owners: @apascal07

fix: env var validations
  go/plugins/googlegenai/googlegenai.go
  go/samples/cache-gemini/main.go
  go/samples/coffee-shop/main.go
Owners: @apascal07

fix: live test cases
  go/internal/doc-snippets/models.go
  go/plugins/googlegenai/googleai_live_test.go
  go/plugins/googlegenai/googlegenai.go
  go/plugins/googlegenai/models.go
  go/plugins/googlegenai/vertexai_live_test.go
Owners: @apascal07

fix: rag doc-snippet
  go/internal/doc-snippets/rag/main.go
Owners: @apascal07

fix: basic gemini samples
  go/samples/basic-gemini-with-context/main.go
  go/samples/basic-gemini/main.go
Owners: @apascal07

refactor(py): genkit.core.reflection
  py/packages/genkit-ai/src/genkit/ai/veneer.py
  py/packages/genkit-ai/src/genkit/core/reflection.py
  py/packages/genkit-ai/tests/genkit/core/endpoints/reflection_test.py
  py/samples/multi_server/multi_server.py
Owners: @pavelgj, @yesudeep

ci: decouple and parallelize building engdocs from python checks
  .github/workflows/engdoc.yml
Owners: @pavelgj

refactor(py): genkit.core.reflection (#2452)
  py/packages/genkit-ai/src/genkit/ai/veneer.py
  py/packages/genkit-ai/src/genkit/core/reflection.py
  py/packages/genkit-ai/tests/genkit/core/endpoints/reflection_test.py
  py/samples/multi_server/multi_server.py
Owners: @pavelgj, @yesudeep

ci: decouple and parallelize building engdocs from python checks (#2453)
  .github/workflows/engdoc.yml
Owners: @pavelgj

fix(license): use the full license header in GitHub action yaml config
  .github/labeler.yml
  .github/workflows/builder.yml
  .github/workflows/bump-cli-version.yml
  .github/workflows/bump-js-version.yml
  .github/workflows/bump-package-version.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/engdoc.yml
  .github/workflows/formatter.yml
  .github/workflows/go.yml
  .github/workflows/labeler.yml
  .github/workflows/python.yml
  .github/workflows/release_js_main.yml
  .github/workflows/samples.yml
  .github/workflows/tests.yml
Owners: @pavelgj

fix(license): use the full license header in GitHub action yaml config (#2454)
  .github/labeler.yml
  .github/workflows/builder.yml
  .github/workflows/bump-cli-version.yml
  .github/workflows/bump-js-version.yml
  .github/workflows/bump-package-version.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/engdoc.yml
  .github/workflows/formatter.yml
  .github/workflows/go.yml
  .github/workflows/labeler.yml
  .github/workflows/python.yml
  .github/workflows/release_js_main.yml
  .github/workflows/samples.yml
  .github/workflows/tests.yml
Owners: @pavelgj

fix(go): use stable versions of go: 1.23+
  .github/workflows/go.yml
  bin/run_go_tests
  go/go.mod
Owners: @pavelgj, @apascal07

fix(go): use stable versions of go: 1.23+ (#2455)
  .github/workflows/go.yml
  bin/run_go_tests
  go/go.mod
Owners: @pavelgj, @apascal07

feat(py/core/flows): initial flows ASGI app implementation
  py/packages/genkit-ai/pyproject.toml
  py/packages/genkit-ai/src/genkit/core/endpoints/__init__.py
  py/packages/genkit-ai/src/genkit/core/flows.py
  py/packages/genkit-ai/src/genkit/core/reflection.py
  py/packages/genkit-ai/src/genkit/web/sse.py
  py/packages/genkit-ai/tests/genkit/web/sse_test.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

feat(py/core/flows): initial flows server implementation (#2456)
  py/packages/genkit-ai/pyproject.toml
  py/packages/genkit-ai/src/genkit/core/endpoints/__init__.py
  py/packages/genkit-ai/src/genkit/core/flows.py
  py/packages/genkit-ai/src/genkit/core/reflection.py
  py/packages/genkit-ai/src/genkit/web/sse.py
  py/packages/genkit-ai/tests/genkit/web/sse_test.py
  py/uv.lock
Owners: @pavelgj, @yesudeep
