Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

Delete subagent_design.md
  go/plugins/middleware/subagent_design.md
Owners: @pavelgj

ci(py/genkit): select plugins and core to publish and some minor fixes
  py/tools/releasekit/src/releasekit/cli.py
  py/tools/releasekit/src/releasekit/plan.py
  py/tools/releasekit/src/releasekit/prepare.py
  py/tools/releasekit/src/releasekit/release.py
  py/tools/releasekit/src/releasekit/tags.py
  py/tools/releasekit/src/releasekit/versions.py
  py/tools/releasekit/tests/rk_plan_test.py
  releasekit.toml
Owners: @pavelgj, @yesudeep

clean up doc
  py/docs/python_beta_sdk_design.md
Owners: @pavelgj

fix(releasekit): skip git hooks in release commits and pushes
  py/tools/releasekit/src/releasekit/backends/vcs/git.py
  py/tools/releasekit/tests/rk_backends_vcs_git_test.py
Owners: @pavelgj, @yesudeep

Address more feedback, notes
  py/docs/python_beta_sdk_audit.md
  py/docs/python_beta_sdk_design.md
Owners: @pavelgj

Refactor Github Action per b/485167538
  .github/workflows/build-cli-binaries.yml
  .github/workflows/bump-cli-version.yml
  .github/workflows/bump-js-version.yml
  .github/workflows/bump-package-version.yml
  .github/workflows/publish_python.yml
  .github/workflows/release_js_main.yml
  .github/workflows/release_js_package.yml
Owners: @pavelgj

Refactor Github Action per b/485167538
  .github/workflows/publish_python.yml
  .github/workflows/release_js_main.yml
Owners: @pavelgj

feat(js/plugins/google-genai): Added parameters for Veo 3.1
  js/plugins/google-genai/src/googleai/types.ts
  js/plugins/google-genai/src/googleai/veo.ts
  js/plugins/google-genai/tests/googleai/veo_test.ts
  js/testapps/basic-gemini/src/index.ts
Owners: @pavelgj

Refactor Github Action per b/485167538
  .github/workflows/build-cli-binaries.yml
  .github/workflows/bump-cli-version.yml
  .github/workflows/bump-js-version.yml
  .github/workflows/bump-package-version.yml
  .github/workflows/publish_python.yml
  .github/workflows/release_js_main.yml
  .github/workflows/release_js_package.yml
Owners: @pavelgj

cleaned up API naming and behavior
  go/ai/x/agent_flow.go
  go/ai/x/agent_flow_test.go
  go/ai/x/option.go
  go/ai/x/prompt_agent_test.go
  go/ai/x/snapshot.go
  go/core/api/action.go
  go/genkit/genkit.go
  go/samples/custom-agent/main.go
  go/samples/prompt-agent/main.go
  go/samples/prompt-agent/prompts/chat.prompt
Owners: @apascal07, @pavelgj

chore: Refactor Github Action per b/485167538 (#4726)
  .github/workflows/publish_python.yml
  .github/workflows/release_js_main.yml
Owners: @pavelgj

Update action.go
  go/core/api/action.go
Owners: @apascal07

support native constrained gen
  go/go.mod
  go/go.sum
  go/plugins/anthropic/anthropic_live_test.go
  go/plugins/anthropic/models.go
  go/plugins/internal/anthropic/anthropic.go
  go/plugins/internal/anthropic/anthropic_test.go
Owners: @apascal07

fix(ci): restore clean worktree after setup + auto-create labels
  .github/actions/setup-releasekit/action.yml
  py/tools/releasekit/src/releasekit/backends/forge/github.py
Owners: @pavelgj, @yesudeep

Refactor Github Action per b/485167538
  .github/workflows/build-cli-binaries.yml
  .github/workflows/bump-cli-version.yml
  .github/workflows/bump-js-version.yml
  .github/workflows/bump-package-version.yml
  .github/workflows/publish_python.yml
  .github/workflows/release_js_main.yml
  .github/workflows/release_js_package.yml
Owners: @pavelgj

fix(releasekit): pass label to format_tag and add fail-fast validation
  .github/actions/setup-releasekit/action.yml
  py/tools/releasekit/src/releasekit/backends/forge/github.py
  py/tools/releasekit/src/releasekit/tags.py
  py/tools/releasekit/tests/rk_tags_test.py
Owners: @pavelgj, @yesudeep

Refactor Github Action per b/485167538
  .github/workflows/build-cli-binaries.yml
  .github/workflows/bump-cli-version.yml
  .github/workflows/bump-js-version.yml
  .github/workflows/bump-package-version.yml
  .github/workflows/publish_python.yml
  .github/workflows/release_js_main.yml
  .github/workflows/release_js_package.yml
Owners: @pavelgj

add some more comments
  py/docs/python_beta_api_proposal.md
  py/docs/python_beta_sdk_design.md
Owners: @pavelgj

Refactor Github Action per b/485167538
  .github/workflows/build-cli-binaries.yml
  .github/workflows/bump-cli-version.yml
  .github/workflows/bump-js-version.yml
  .github/workflows/bump-package-version.yml
  .github/workflows/publish_python.yml
  .github/workflows/release_js_main.yml
  .github/workflows/release_js_package.yml
Owners: @pavelgj

Refactor Github Action per b/485167538
  .github/workflows/build-cli-binaries.yml
  .github/workflows/bump-cli-version.yml
  .github/workflows/bump-js-version.yml
  .github/workflows/bump-package-version.yml
  .github/workflows/publish_python.yml
  .github/workflows/release_js_main.yml
  .github/workflows/release_js_package.yml
Owners: @pavelgj

Refactor Github Action per b/485167538
  .github/workflows/publish_python.yml
  .github/workflows/release_js_main.yml
Owners: @pavelgj

Refactor Github Action per b/485167538
  .github/workflows/build-cli-binaries.yml
  .github/workflows/bump-cli-version.yml
  .github/workflows/bump-js-version.yml
  .github/workflows/bump-package-version.yml
  .github/workflows/publish_python.yml
  .github/workflows/release_js_main.yml
  .github/workflows/release_js_package.yml
Owners: @pavelgj

fix(ci): fix dry_run boolean comparison in releasekit workflow
  .github/workflows/releasekit-uv.yml
Owners: @pavelgj

fix(ci): fix dry_run boolean comparison in releasekit workflow
  .github/workflows/releasekit-uv.yml
Owners: @pavelgj

fix(py): fixed broken flows
  py/samples/provider-google-genai-hello/src/main.py
  py/samples/provider-google-genai-vertexai-hello/src/main.py
  py/samples/provider-vertex-ai-model-garden/run.sh
  py/samples/provider-vertex-ai-model-garden/src/main.py
Owners: @pavelgj, @yesudeep

Refactor Github Action per b/485167538
  .github/workflows/build-cli-binaries.yml
  .github/workflows/bump-cli-version.yml
  .github/workflows/bump-js-version.yml
  .github/workflows/bump-package-version.yml
  .github/workflows/publish_python.yml
  .github/workflows/release_js_main.yml
  .github/workflows/release_js_package.yml
Owners: @pavelgj

fix(ci): clean worktree before releasekit command in run-releasekit
  .github/actions/run-releasekit/action.yml
Owners: @pavelgj

chore(js/testapps, samples): Remove deprecated model from testapps and samples
  js/testapps/basic-gemini/src/index-vertexai.ts
  js/testapps/basic-gemini/src/index.ts
  samples/js-gemini/src/index.ts
Owners: @pavelgj

Refactor Github Action per b/485167538
  .github/workflows/build-cli-binaries.yml
  .github/workflows/bump-cli-version.yml
  .github/workflows/bump-js-version.yml
  .github/workflows/bump-package-version.yml
  .github/workflows/publish_python.yml
  .github/workflows/release_js_main.yml
  .github/workflows/release_js_package.yml
Owners: @pavelgj

Refactor Github Action per b/485167538
  .github/workflows/build-cli-binaries.yml
  .github/workflows/bump-cli-version.yml
  .github/workflows/bump-js-version.yml
  .github/workflows/bump-package-version.yml
  .github/workflows/publish_python.yml
  .github/workflows/release_js_main.yml
  .github/workflows/release_js_package.yml
Owners: @pavelgj

chore: deprecate gemini-2.0-flash
  js/ai/src/model-types.ts
  js/core/src/registry.ts
  js/plugins/google-genai/src/googleai/gemini.ts
  js/plugins/google-genai/src/vertexai/gemini.ts
  js/plugins/google-genai/tests/googleai/gemini_test.ts
  js/plugins/google-genai/tests/googleai/index_test.ts
  js/plugins/google-genai/tests/vertexai/gemini_test.ts
  js/plugins/google-genai/tests/vertexai/index_test.ts
  js/testapps/basic-gemini/src/index.ts
Owners: @pavelgj

Refactor Github Action per b/485167538
  .github/workflows/build-cli-binaries.yml
  .github/workflows/bump-cli-version.yml
  .github/workflows/bump-js-version.yml
  .github/workflows/bump-package-version.yml
  .github/workflows/publish_python.yml
  .github/workflows/release_js_main.yml
  .github/workflows/release_js_package.yml
Owners: @pavelgj

added stream capturing to output
  go/ai/x/agent_flow.go
  go/ai/x/agent_flow_test.go
  go/ai/x/prompt_agent_test.go
  go/ai/x/session.go
  go/core/flow.go
Owners: @apascal07

Refactor Github Action per b/485167538
  .github/workflows/build-cli-binaries.yml
  .github/workflows/bump-cli-version.yml
  .github/workflows/bump-js-version.yml
  .github/workflows/bump-package-version.yml
  .github/workflows/publish_python.yml
  .github/workflows/release_js_main.yml
  .github/workflows/release_js_package.yml
Owners: @pavelgj

stream out interrupt chunks
  go/ai/x/agent_flow.go
Owners: @apascal07

Refactor Github Action per b/485167538
  .github/workflows/build-cli-binaries.yml
  .github/workflows/publish_python.yml
  .github/workflows/release_js_main.yml
Owners: @pavelgj

Update genkit.go
  go/genkit/genkit.go
Owners: @apascal07

feat: change audio file
  js/testapps/compat-oai/audio.mp3
  js/testapps/compat-oai/jfk.flac
  js/testapps/compat-oai/src/index.ts
Owners: @pavelgj

Refactor Github Action per b/485167538
  .github/workflows/build-cli-binaries.yml
  .github/workflows/bump-cli-version.yml
  .github/workflows/bump-js-version.yml
  .github/workflows/bump-package-version.yml
  .github/workflows/publish_python.yml
  .github/workflows/release_js_main.yml
  .github/workflows/release_js_package.yml
Owners: @pavelgj

Refactor Github Action per b/485167538
  .github/workflows/build-cli-binaries.yml
  .github/workflows/bump-cli-version.yml
  .github/workflows/bump-js-version.yml
  .github/workflows/bump-package-version.yml
  .github/workflows/publish_python.yml
  .github/workflows/release_js_main.yml
  .github/workflows/release_js_package.yml
Owners: @pavelgj

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj
