Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

fix(py): remove stray py.typed and update azure plugin refs in telemetry
  py/CHANGELOG.md
  py/GEMINI.md
  py/README.md
  py/bin/fix_package_metadata.py
  py/engdoc/blog-genkit-python-0.5.0.md
  py/engdoc/planning/FEATURE_MATRIX.md
  py/engdoc/planning/README.md
  py/engdoc/planning/azure-telemetry-plugin.md
  py/engdoc/planning/vercel-plugins.md
  py/engdoc/release-publishing-guide.md
  py/mkdocs.yml
  py/plugins/README.md
  py/plugins/microsoft-foundry/src/genkit/plugins/microsoft_foundry/telemetry/tracing.py
  py/plugins/microsoft-foundry/src/genkit/py.typed
  py/plugins/microsoft-foundry/tests/microsoft_foundry_plugin_test.py
  py/pyproject.toml
  py/samples/README.md
  py/samples/cloudflare-workers-ai-hello/pyproject.toml
  py/samples/microsoft-foundry-hello/pyproject.toml
Owners: @pavelgj, @yesudeep

docs(py): consolidate azure telemetry refs into microsoft-foundry
  py/GEMINI.md
  py/engdoc/release-publishing-guide.md
  py/plugins/README.md
  py/samples/README.md
Owners: @pavelgj, @yesudeep

docs(py): update CHANGELOG to reflect microsoft-foundry consolidation
  py/CHANGELOG.md
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/plugins/microsoft-foundry/src/genkit/plugins/microsoft_foundry/telemetry/tracing.py
Owners: @pavelgj, @yesudeep

add video to video support
  go/plugins/googlegenai/veo.go
Owners: @apascal07

fix(py): correct import path in azure telemetry planning doc
  py/engdoc/planning/azure-telemetry-plugin.md
Owners: @pavelgj

Update pyproject.toml
  py/pyproject.toml
Owners: @pavelgj, @yesudeep

fix(py/typing): respect additionalProperties from JSON schema
  py/bin/sanitize_schema_typing.py
  py/packages/genkit/src/genkit/core/typing.py
Owners: @pavelgj, @yesudeep

update usage, include arg type
  genkit-tools/cli/context/GENKIT.go.md
  genkit-tools/cli/context/GENKIT.js.md
  genkit-tools/cli/src/mcp/docs.ts
  genkit-tools/cli/src/mcp/flows.ts
  genkit-tools/cli/src/mcp/runtime.ts
  genkit-tools/cli/src/mcp/trace.ts
  genkit-tools/cli/src/mcp/usage.ts
  genkit-tools/cli/src/mcp/utils.ts
Owners: @pavelgj

feat(py): fix lint errors
  py/bin/test_sample_flows
  py/pyproject.toml
  py/review_sample_flows.py
  py/samples/sample-test/review_sample_flows.py
  py/samples/sample-test/run_single_flow.py
Owners: @pavelgj, @yesudeep

feat(py): fix lint errors
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/pyproject.toml
  py/samples/sample-test/review_sample_flows.py
  py/samples/sample-test/run_single_flow.py
Owners: @pavelgj, @yesudeep

more fixes
  genkit-tools/cli/src/mcp/docs.ts
  genkit-tools/cli/src/mcp/flows.ts
  genkit-tools/cli/src/mcp/runtime.ts
  genkit-tools/cli/src/mcp/trace.ts
  genkit-tools/cli/src/mcp/usage.ts
  genkit-tools/cli/src/mcp/utils.ts
Owners: @pavelgj

root
  genkit-tools/cli/src/mcp/utils.ts
Owners: @pavelgj

Update genkit-tools/cli/src/mcp/docs.ts
  genkit-tools/cli/src/mcp/docs.ts
Owners: @pavelgj

fix(py/typing): respect additionalProperties from JSON schema (#4451)
  py/bin/sanitize_schema_typing.py
  py/packages/genkit/src/genkit/core/typing.py
Owners: @pavelgj, @yesudeep

fix: nil ptr when using background models
  go/ai/generate.go
Owners: @apascal07

feat(genkit-tools/cli): Add docs discovery tools to the CLI
  genkit-tools/cli/src/cli.ts
  genkit-tools/cli/src/mcp/docs.ts
Owners: @pavelgj

feat(genkit-tools/cli): Add docs discovery tools to the CLI
  genkit-tools/cli/src/commands/docs.ts
  genkit-tools/cli/src/utils/docs.ts
Owners: @pavelgj

feat(py): enables automated testing of all flows in any Genkit sample (#4442)
  py/bin/test_sample_flows
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/pyproject.toml
  py/samples/sample-test/review_sample_flows.py
  py/samples/sample-test/run_single_flow.py
Owners: @pavelgj, @yesudeep

chore(py): upgrade deps
  py/GEMINI.md
  py/plugins/flask/src/genkit/plugins/flask/handler.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

chore(py): upgrade deps (#4454)
  py/GEMINI.md
  py/plugins/flask/src/genkit/plugins/flask/handler.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

feat(py): web GUI for Model Performance Tool
  py/model_performance_report.md
  py/pyproject.toml
  py/samples/sample-test/README.md
  py/samples/sample-test/pyproject.toml
  py/samples/sample-test/run_single_model_test.py
  py/samples/sample-test/server.py
  py/samples/sample-test/static/index.html
  py/samples/sample-test/static/script.js
  py/samples/sample-test/static/style.css
  py/samples/sample-test/test_model_performance.py
  py/samples/sample-test/uv.lock
Owners: @pavelgj, @yesudeep

docs(py): add vertexai-rerank-eval sample to READMEs
  py/plugins/google-genai/README.md
  py/samples/README.md
Owners: @pavelgj

refactor(py/samples): extract gcloud helpers to _common.sh
  py/samples/_common.sh
  py/samples/firestore-retreiver/run.sh
  py/samples/google-genai-vertexai-hello/run.sh
  py/samples/google-genai-vertexai-image/run.sh
  py/samples/vertexai-rerank-eval/run.sh
Owners: @pavelgj

feat(py/google-genai): add Vertex AI rerankers and evaluators
  py/plugins/google-genai/src/genkit/plugins/google_genai/evaluators/__init__.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/evaluators/evaluation.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/rerankers/__init__.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/rerankers/reranker.py
  py/plugins/google-genai/test/google_plugin_test.py
  py/plugins/google-genai/tests/evaluators_test.py
  py/plugins/google-genai/tests/rerankers_test.py
  py/pyproject.toml
  py/samples/vertexai-rerank-eval/LICENSE
  py/samples/vertexai-rerank-eval/README.md
  py/samples/vertexai-rerank-eval/pyproject.toml
  py/samples/vertexai-rerank-eval/run.sh
  py/samples/vertexai-rerank-eval/src/main.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

fix(py/plugins/google-genai): address review feedback
  py/plugins/google-genai/README.md
  py/plugins/google-genai/test/google_plugin_test.py
Owners: @pavelgj, @yesudeep

fix(py/google-genai): address code review feedback
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/rerankers/reranker.py
  py/samples/vertexai-rerank-eval/src/main.py
Owners: @pavelgj, @yesudeep

feat(py/google-genai): add Vertex AI rerankers and evaluators (#4428)
  py/plugins/google-genai/README.md
  py/plugins/google-genai/src/genkit/plugins/google_genai/evaluators/__init__.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/evaluators/evaluation.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/rerankers/__init__.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/rerankers/reranker.py
  py/plugins/google-genai/test/google_plugin_test.py
  py/plugins/google-genai/tests/evaluators_test.py
  py/plugins/google-genai/tests/rerankers_test.py
  py/pyproject.toml
  py/samples/README.md
  py/samples/_common.sh
  py/samples/firestore-retreiver/run.sh
  py/samples/google-genai-vertexai-image/run.sh
  py/samples/vertexai-rerank-eval/LICENSE
  py/samples/vertexai-rerank-eval/README.md
  py/samples/vertexai-rerank-eval/pyproject.toml
  py/samples/vertexai-rerank-eval/run.sh
  py/samples/vertexai-rerank-eval/src/main.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

fix: address shellcheck warnings in shell scripts
  bin/add_license
  bin/check_license
  bin/fmt
  bin/golang
  bin/install_cli
  bin/killports
  bin/setup
  py/GEMINI.md
  py/bin/build_dists
  py/bin/check_consistency
  py/bin/run_sample
  py/bin/test_sample_flows
Owners: @pavelgj, @yesudeep

fix(py/bin/build_dists): use array for glob to handle spaces in filenames
  py/bin/build_dists
Owners: @pavelgj

Update go-middleware-design.md
  docs/go-middleware-design.md
Owners: @pavelgj

fix: address shellcheck warnings in shell scripts (#4456)
  bin/add_license
  bin/check_license
  bin/fmt
  bin/golang
  bin/install_cli
  bin/killports
  bin/setup
  py/GEMINI.md
  py/bin/build_dists
  py/bin/check_consistency
  py/bin/run_sample
  py/bin/test_sample_flows
Owners: @pavelgj, @yesudeep

fix(py): enable living logging in terminal
  py/bin/test_sample_flows
  py/samples/sample-test/review_sample_flows.py
  py/samples/sample-test/run_single_flow.py
Owners: @pavelgj, @yesudeep

Update go-middleware-design.md
  docs/go-middleware-design.md
Owners: @pavelgj

fix(py): update uv.lock
  py/pyproject.toml
Owners: @pavelgj, @yesudeep

fix(py): fixed broken sample and lint errors of multi-server (#4434)
  py/packages/genkit/src/genkit/web/typing.py
  py/pyproject.toml
  py/samples/multi-server/src/main.py
Owners: @pavelgj, @yesudeep

fix(py): fix lint errors
  py/samples/sample-test/review_sample_flows.py
  py/samples/sample-test/run_single_flow.py
Owners: @pavelgj, @yesudeep

fix(py): enable living logging in terminal for sample flows test tool (#4457)
  py/bin/test_sample_flows
  py/samples/sample-test/review_sample_flows.py
  py/samples/sample-test/run_single_flow.py
Owners: @pavelgj, @yesudeep

review comments
  genkit-tools/common/src/types/action.ts
  js/core/src/action.ts
Owners: @pavelgj

fix(js/core): Dap Action updates (#4050)
  genkit-tools/common/src/types/action.ts
  js/core/src/action.ts
  js/core/src/dynamic-action-provider.ts
  js/core/tests/dynamic-action-provider_test.ts
Owners: @pavelgj

Update go-middleware-design.md
  docs/go-middleware-design.md
Owners: @pavelgj

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj
