Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj

fix(go/ai): fixed bad stream message format parsing (#3573)
  go/ai/format_array.go
  go/ai/format_enum.go
  go/ai/format_json.go
  go/ai/format_jsonl.go
  go/ai/formatter_test.go
Owners: @apascal07

Fixed formating
  go/plugins/milvus/engine_options.go
  go/plugins/milvus/indexer.go
  go/plugins/milvus/retriever_test.go
Owners: @apascal07

Fixed dependencies
  go/go.mod
  go/go.sum
Owners: @apascal07

cache fixes
  go/plugins/googlegenai/cache.go
  go/samples/gemini/README.md
  go/samples/gemini/main.go
  go/samples/prompts/prompts/media.prompt
Owners: @apascal07, @pavelgj

Added normalization of input to `RunJSONWithTelemetry`.
  go/core/action.go
  go/internal/base/json_type_converter.go
  go/internal/base/json_type_converter_test.go
  go/samples/prompts/main.go
  go/samples/prompts/prompts/countries.prompt
  go/samples/prompts/prompts/media.prompt
  go/samples/prompts/prompts/multi-msg.prompt
Owners: @apascal07, @pavelgj

Update main.go
  go/samples/prompts/main.go
Owners: @apascal07

Update main.go
  go/samples/prompts/main.go
Owners: @apascal07

Update googlecloud.go
  go/plugins/googlecloud/googlecloud.go
Owners: @apascal07

Fix log
  go/plugins/googlecloud/googlecloud.go
Owners: @apascal07

fix(go/core): added normalization of input to `RunJSONWithTelemetry` (#3613)
  go/core/action.go
  go/internal/base/json_type_converter.go
  go/internal/base/json_type_converter_test.go
  go/samples/prompts/main.go
  go/samples/prompts/prompts/countries.prompt
  go/samples/prompts/prompts/media.prompt
  go/samples/prompts/prompts/multi-msg.prompt
Owners: @apascal07, @pavelgj

fix(go/plugins/ollama): add gpt-oss to tool supported models (#3494)
  go/plugins/ollama/ollama.go
Owners: @apascal07

more guides
  js/plugins/express/.guides/usage.md
  js/plugins/google-genai/.guides/docs/generating-speech.prompt
  js/plugins/google-genai/.guides/docs/search-and-urls.prompt
Owners: @pavelgj

Update version.go
  go/internal/version.go
Owners: @apascal07

chore(go): update version (#3615)
  go/internal/version.go
Owners: @apascal07

fix(go/plugins/compat_oai): add support for custom providers
  go/plugins/compat_oai/README.md
  go/plugins/compat_oai/compat_oai.go
  go/plugins/compat_oai/generate.go
  go/samples/compat_oai/custom/main.go
Owners: @pavelgj, @apascal07

refine sample
  go/plugins/compat_oai/compat_oai.go
  go/samples/compat_oai/custom/main.go
Owners: @apascal07

add license
  go/samples/compat_oai/custom/main.go
Owners: @apascal07

Reverted the conflict file issue
  go/ai/generate.go
Owners: @apascal07

feedback
  js/genkit/.guides/setup.md
Owners: @pavelgj

fix next guides
  js/plugins/next/.guides/usage.prompt
  js/plugins/next/README.md
  js/testapps/next/package.json
Owners: @pavelgj

chore: Adds `.guides` folders to a few Genkit packages (#3614)
  js/genkit/.guides/config.json
  js/genkit/.guides/setup.md
  js/genkit/.guides/style.md
  js/genkit/.guides/usage.md
  js/plugins/express/.guides/usage.md
  js/plugins/google-genai/.guides/docs/editing-images.prompt
  js/plugins/google-genai/.guides/docs/generating-speech.prompt
  js/plugins/google-genai/.guides/docs/search-and-urls.prompt
  js/plugins/next/.guides/usage.prompt
  js/plugins/next/README.md
  js/testapps/next/package.json
Owners: @pavelgj

chore: CLI version bump
  genkit-tools/cli/package.json
  genkit-tools/common/package.json
  genkit-tools/telemetry-server/package.json
Owners: @pavelgj

chore: JS version bump
  js/ai/package.json
  js/core/package.json
  js/genkit/package.json
  js/plugins/checks/package.json
  js/plugins/chroma/package.json
  js/plugins/cloud-sql-pg/package.json
  js/plugins/compat-oai/package.json
  js/plugins/dev-local-vectorstore/package.json
  js/plugins/evaluators/package.json
  js/plugins/express/package.json
  js/plugins/firebase/package.json
  js/plugins/google-cloud/package.json
  js/plugins/google-genai/package.json
  js/plugins/googleai/package.json
  js/plugins/langchain/package.json
  js/plugins/mcp/package.json
  js/plugins/next/package.json
  js/plugins/ollama/package.json
  js/plugins/pinecone/package.json
  js/plugins/vertexai/package.json
Owners: @pavelgj

better log message
  go/samples/compat_oai/custom/main.go
Owners: @apascal07

fix(cli/telemetry-server): trucate large arrributes in span when listing traces
  genkit-tools/telemetry-server/src/file-trace-store.ts
  genkit-tools/telemetry-server/src/index.ts
Owners: @pavelgj

fmt
  genkit-tools/telemetry-server/src/file-trace-store.ts
Owners: @pavelgj

renaming, cleanup
  genkit-tools/telemetry-server/src/file-trace-store.ts
Owners: @pavelgj

fix(telemetry-server): Correctly check for root span in file store
  genkit-tools/telemetry-server/src/file-trace-store.ts
Owners: @pavelgj

fix(go/plugins/compat_oai): include original request in model response
  go/plugins/compat_oai/compat_oai.go
  go/plugins/compat_oai/generate.go
  go/plugins/compat_oai/openai/openai_live_test.go
Owners: @apascal07

fix generic live tests
  go/plugins/compat_oai/generate_live_test.go
Owners: @apascal07

fix(go/ai): include maxTurns in prompts
  go/ai/prompt.go
  go/ai/prompt_test.go
Owners: @apascal07

feat(py): fixed most of the unit tests affected due to the integration
  py/packages/genkit/src/genkit/ai/_aio.py
  py/packages/genkit/src/genkit/blocks/prompt.py
  py/packages/genkit/tests/genkit/blocks/prompt_test.py
  py/packages/genkit/tests/genkit/veneer/veneer_test.py
Owners: @pavelgj, @yesudeep

Create devcontainer.json
  .devcontainer/devcontainer.json
Owners: @pavelgj

fix(plugins/checks): adjust based on testing
  js/plugins/checks/src/evaluation.ts
  js/plugins/checks/src/index.ts
Owners: @pavelgj

fix(go/core): List All Plugins to resolve model
  go/core/api/registry.go
  go/internal/registry/registry.go
Owners: @apascal07

fix(typings): propagate generic type O to GenerateStreamResponse.stream
  js/ai/src/generate.ts
Owners: @pavelgj

fix(typing): specify generic type for Channel in genkit
  js/genkit/src/genkit.ts
Owners: @pavelgj

comment
  go/plugins/googlecloud/googlecloud.go
Owners: @apascal07

fix(go): prevent swallowing metrics errors (#3600)
  go/plugins/googlecloud/googlecloud.go
Owners: @apascal07

docs(go/plugins/mcp): update mcp samples in README
  go/plugins/mcp/README.md
Owners: @pavelgj
