Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

feat(js/plugins/google-genai): Support for gemini 3.0 thinkingLevel. (#3814)
  js/plugins/google-genai/src/common/converters.ts
  js/plugins/google-genai/src/common/types.ts
  js/plugins/google-genai/src/common/utils.ts
  js/plugins/google-genai/src/googleai/gemini.ts
  js/plugins/google-genai/src/vertexai/gemini.ts
  js/plugins/google-genai/tests/common/converters_test.ts
  js/plugins/google-genai/tests/googleai/gemini_test.ts
  js/plugins/google-genai/tests/vertexai/gemini_test.ts
  js/testapps/basic-gemini/package.json
  js/testapps/basic-gemini/src/index-vertexai.ts
  js/testapps/basic-gemini/src/index.ts
Owners: @pavelgj

chore: CLI version bump
  genkit-tools/cli/package.json
  genkit-tools/common/package.json
  genkit-tools/telemetry-server/package.json
Owners: @pavelgj

fix(go): fixed system/messages/user order in prompts (#3812)
  go/ai/prompt.go
  go/ai/prompt_test.go
Owners: @apascal07

chore: JS version bump
  js/ai/package.json
  js/core/package.json
  js/genkit/package.json
  js/plugins/checks/package.json
  js/plugins/chroma/package.json
  js/plugins/cloud-sql-pg/package.json
  js/plugins/compat-oai/package.json
  js/plugins/dev-local-vectorstore/package.json
  js/plugins/evaluators/package.json
  js/plugins/express/package.json
  js/plugins/firebase/package.json
  js/plugins/google-cloud/package.json
  js/plugins/google-genai/package.json
  js/plugins/googleai/package.json
  js/plugins/langchain/package.json
  js/plugins/mcp/package.json
  js/plugins/next/package.json
  js/plugins/ollama/package.json
  js/plugins/pinecone/package.json
  js/plugins/vertexai/package.json
Owners: @pavelgj

chore: update macOS version in CI workflow
  .github/workflows/build-cli-binaries.yml
Owners: @pavelgj

chore: update macOS version in CI workflow
  .github/workflows/build-cli-binaries.yml
Owners: @pavelgj

feat(plugins/compat-oai): support `gpt-5.1`
  js/plugins/compat-oai/src/openai/gpt.ts
Owners: @pavelgj

feat(plugins/compat-oai): support `gpt-5.1` (#3817)
  js/plugins/compat-oai/src/openai/gpt.ts
Owners: @pavelgj

Fixed missing reasoning part type.
  go/ai/document.go
  go/ai/document_test.go
Owners: @apascal07

fix(go): allow the use of snake case fields in dotprompt templates (#3744)
  go/ai/prompt.go
  go/ai/prompt_test.go
Owners: @apascal07

chore: moved badge to connect with us section
  README.md
Owners: @pavelgj

Update version.go
  go/internal/version.go
Owners: @apascal07

fix(go): fixed missing reasoning part type (#3819)
  go/ai/document.go
  go/ai/document_test.go
Owners: @apascal07

chore(go): update version (#3820)
  go/internal/version.go
Owners: @apascal07

Broadcast events instead of spans
  genkit-tools/common/src/types/trace.ts
  genkit-tools/telemetry-server/src/file-trace-store.ts
  genkit-tools/telemetry-server/src/index.ts
  js/core/src/tracing/node-telemetry-provider.ts
  js/core/src/tracing/realtime-span-processor.ts
Owners: @pavelgj

feat(py): Added metrics for observability and implemented AIM telemetry for firebase
  py/plugins/firebase/src/genkit/plugins/firebase/__init__.py
  py/plugins/firebase/src/genkit/plugins/firebase/tests/test_telemetry.py
  py/plugins/google-cloud/src/genkit/plugins/google_cloud/telemetry/__init__.py
  py/plugins/google-cloud/src/genkit/plugins/google_cloud/telemetry/metrics.py
  py/plugins/google-cloud/src/genkit/plugins/google_cloud/telemetry/tracing.py
  py/samples/firestore-retreiver/src/main.py
  py/samples/google-genai-hello/src/google_genai_hello.py
Owners: @pavelgj, @yesudeep

feat(js/plugins/google-genai): Support urlContext for googleAI Gemini models
  js/plugins/google-genai/src/common/types.ts
  js/plugins/google-genai/src/googleai/gemini.ts
  js/plugins/google-genai/src/googleai/types.ts
  js/plugins/google-genai/tests/googleai/gemini_test.ts
  js/testapps/basic-gemini/src/index.ts
Owners: @pavelgj

:feature(python): update registry methond and test in embedding_test and ai_registry_test
  py/packages/genkit/src/genkit/ai/_registry.py
  py/packages/genkit/tests/genkit/ai/ai_registry_test.py
  py/packages/genkit/tests/genkit/blocks/embedding_test.py
Owners: @pavelgj, @yesudeep

refactor(plugins/compat-oai): use ChatCompletionAccumulator for streaming
  go/plugins/compat_oai/generate.go
Owners: @apascal07

feat(ai): add concurrent execution control for tools
  go/ai/generate.go
  go/ai/tools.go
Owners: @apascal07

chore: Updated URLs in README
  js/plugins/compat-oai/README.md
Owners: @pavelgj

chore: Fix typo in Discord link section
  js/plugins/compat-oai/README.md
Owners: @pavelgj

chore: Fix typo in README.md link to GitHub Issues
  js/plugins/compat-oai/README.md
Owners: @pavelgj

chore(js/plugins/google-genai): Update error message URL for API key instructions
  js/plugins/google-genai/src/vertexai/utils.ts
Owners: @pavelgj

feat(py): Added metrics for observability and implemented AIM telemetry for firebase
  py/plugins/firebase/src/genkit/plugins/firebase/__init__.py
  py/plugins/firebase/src/genkit/plugins/firebase/tests/test_telemetry.py
  py/plugins/google-cloud/src/genkit/plugins/google_cloud/telemetry/__init__.py
  py/plugins/google-cloud/src/genkit/plugins/google_cloud/telemetry/metrics.py
  py/plugins/google-cloud/src/genkit/plugins/google_cloud/telemetry/tracing.py
  py/samples/firestore-retreiver/src/main.py
  py/samples/google-genai-hello/src/google_genai_hello.py
Owners: @pavelgj, @yesudeep

feat(py): Added metrics for observability and implemented AIM telemetry for firebase
  py/plugins/firebase/src/genkit/plugins/firebase/__init__.py
  py/plugins/firebase/src/genkit/plugins/firebase/tests/test_telemetry.py
  py/plugins/google-cloud/pyproject.toml
  py/plugins/google-cloud/src/genkit/plugins/google_cloud/telemetry/__init__.py
  py/plugins/google-cloud/src/genkit/plugins/google_cloud/telemetry/metrics.py
  py/plugins/google-cloud/src/genkit/plugins/google_cloud/telemetry/tracing.py
  py/samples/firestore-retreiver/src/main.py
  py/samples/google-genai-hello/src/google_genai_hello.py
Owners: @pavelgj, @yesudeep

fix(go): aggregated stream responses
  go/ai/generate.go
  go/go.mod
  go/go.sum
  go/plugins/googlegenai/gemini.go
Owners: @apascal07

fix(js/ai): fixed dynamic tools becoming non-dynamic once registered
  js/ai/src/tool.ts
  js/ai/tests/tool_test.ts
Owners: @pavelgj

same for resources
  js/ai/src/resource.ts
  js/ai/tests/resource/resource_test.ts
Owners: @pavelgj

feat(js/plugins/google-genai): Support urlContext for googleAI Gemini (#3822)
  js/plugins/google-genai/src/common/types.ts
  js/plugins/google-genai/src/googleai/gemini.ts
  js/plugins/google-genai/src/googleai/types.ts
  js/plugins/google-genai/tests/googleai/gemini_test.ts
  js/testapps/basic-gemini/src/index.ts
Owners: @pavelgj

sort spans before broadcasting
  genkit-tools/telemetry-server/src/index.ts
Owners: @pavelgj

Ran Python type gen.
  py/packages/genkit/src/genkit/ai/_aio.py
  py/packages/genkit/src/genkit/blocks/prompt.py
  py/packages/genkit/src/genkit/core/typing.py
  py/packages/genkit/tests/genkit/blocks/prompt_test.py
Owners: @pavelgj, @yesudeep

Fix Py test.
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/model_info.py
  py/plugins/vertex-ai/tests/model_garden/test_model_garden.py
Owners: @pavelgj, @yesudeep

include custom plugin metrics
  go/ai/generate.go
  go/plugins/googlegenai/gemini.go
Owners: @apascal07

Fix merge issues and restore GetJsonLines function
  go/ai/format_array.go
  go/ai/formatter_test.go
  go/internal/base/json.go
Owners: @apascal07

Simplify JSON line parsing by removing redundant wrapper
  go/ai/format_array.go
  go/ai/format_jsonl.go
  go/ai/formatter_test.go
  go/internal/base/json.go
Owners: @apascal07

dedupe list
  genkit-tools/telemetry-server/src/file-trace-store.ts
Owners: @pavelgj

:feature(python): update registry methond and test in embedding_test and ai_registry_test
  py/packages/genkit/src/genkit/blocks/embedding.py
  py/packages/genkit/tests/genkit/blocks/embedding_test.py
Owners: @pavelgj, @yesudeep

Add cancelAction
  js/core/api/reflectionApi.yaml
  js/core/src/reflection.ts
Owners: @pavelgj

Update genkit schema and cancel action added to trpc endpoitns
  genkit-tools/common/src/manager/manager.ts
  genkit-tools/common/src/server/router.ts
  genkit-tools/common/src/types/apis.ts
  genkit-tools/genkit-schema.json
Owners: @pavelgj

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj
