Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

fix(go/ai): DefinePartial, DefineHelper, and registry improvements
  go/ai/prompt.go
  go/ai/prompt_test.go
  go/go.mod
  go/go.sum
Owners: @apascal07

refactor(go/ai): use RegisterHelper from dotprompt package directly
  go/ai/prompt_test.go
Owners: @apascal07

fix(py/plugins/genai): fixed tools caling (#2486)
  py/packages/genkit-ai/src/genkit/ai/__init__.py
  py/packages/genkit-ai/src/genkit/core/reflection.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/utils.py
  py/plugins/google-genai/test/models/test_googlegenai_gemini.py
Owners: @pavelgj, @yesudeep

fix: Fixed issues with describe_image_with_gemini
  py/samples/google_genai_image/image.jpg
  py/samples/google_genai_image/src/image_on_gemini.py
Owners: @pavelgj, @yesudeep

Fix tests
  go/ai/generate.go
  go/ai/option.go
  go/ai/prompt.go
Owners: @apascal07

fix: mark exp and prev models as unstable
  go/ai/model_middleware.go
  go/plugins/googlegenai/models.go
Owners: @apascal07

fix(py): Fixed issues with describe_image_with_gemini (#2472)
  py/samples/google_genai_image/image.jpg
  py/samples/google_genai_image/src/image_on_gemini.py
Owners: @pavelgj, @yesudeep

remove modelmetadata
  go/ai/generate.go
  go/ai/generator_test.go
Owners: @apascal07

Update prompt.go
  go/ai/prompt.go
Owners: @apascal07

WIP, wrapper span
  py/packages/genkit-ai/src/genkit/ai/__init__.py
  py/packages/genkit-ai/src/genkit/ai/registry.py
  py/packages/genkit-ai/src/genkit/blocks/evaluator.py
  py/packages/genkit-ai/src/genkit/codec.py
  py/packages/genkit-ai/src/genkit/core/tracing.py
  py/samples/hello/src/hello.py
Owners: @pavelgj, @yesudeep

force types in GoogleAIModelRef
  go/plugins/googlegenai/googlegenai.go
Owners: @apascal07

fix: deps
  go/go.mod
  go/go.sum
Owners: @apascal07

chore(py/aioia): clean up aioia package
  py/packages/aioia/README.md
  py/packages/aioia/pyproject.toml
  py/packages/aioia/src/aioia/__init__.py
  py/packages/aioia/src/aioia/py.typed
  py/packages/aioia/src/aioia/servers/middleware/__init__.py
  py/packages/aioia/src/aioia/servers/middleware/_logging.py
  py/pyproject.toml
  py/samples/multi_server/multi_server.py
  py/samples/multi_server/pyproject.toml
  py/uv.lock
Owners: @pavelgj, @yesudeep

chore(py/aioia): clean up aioia package (#2494)
  py/packages/aioia/README.md
  py/packages/aioia/pyproject.toml
  py/packages/aioia/src/aioia/__init__.py
  py/packages/aioia/src/aioia/py.typed
  py/packages/aioia/src/aioia/servers/middleware/__init__.py
  py/packages/aioia/src/aioia/servers/middleware/_logging.py
  py/pyproject.toml
  py/samples/multi_server/multi_server.py
  py/samples/multi_server/pyproject.toml
  py/uv.lock
Owners: @pavelgj, @yesudeep

refactor(py): rename all plugin packages to use the genkit-plugin-* naming convention
  py/plugins/chroma/pyproject.toml
  py/plugins/compat-oai/pyproject.toml
  py/plugins/firebase/pyproject.toml
  py/plugins/google-ai/pyproject.toml
  py/plugins/google-cloud/pyproject.toml
  py/plugins/google-genai/pyproject.toml
  py/plugins/ollama/pyproject.toml
  py/plugins/pinecone/pyproject.toml
  py/plugins/vertex-ai/pyproject.toml
  py/pyproject.toml
  py/samples/basic-gemini/pyproject.toml
  py/samples/coffee-shop/pyproject.toml
  py/samples/context-caching/pyproject.toml
  py/samples/flow-sample1/pyproject.toml
  py/samples/google-ai/pyproject.toml
  py/samples/google_genai/pyproject.toml
  py/samples/google_genai_image/pyproject.toml
  py/samples/hello/pyproject.toml
  py/samples/menu/pyproject.toml
  py/samples/ollama-hello/pyproject.toml
  py/samples/ollama-simple-embed/pyproject.toml
  py/samples/openai/pyproject.toml
  py/samples/prompt-file/pyproject.toml
  py/samples/rag/pyproject.toml
  py/samples/vertex-ai-imagen/pyproject.toml
  py/samples/vertex-ai-model-garden/pyproject.toml
  py/samples/vertex-ai-reranker/pyproject.toml
  py/samples/vertex-ai-vector-search/pyproject.toml
  py/tests/smoke/pyproject.toml
  py/uv.lock
Owners: @pavelgj, @yesudeep

refactor(py): rename all plugin packages to use the genkit-plugin-* naming convention (#2495)
  py/plugins/chroma/pyproject.toml
  py/plugins/compat-oai/pyproject.toml
  py/plugins/firebase/pyproject.toml
  py/plugins/google-ai/pyproject.toml
  py/plugins/google-cloud/pyproject.toml
  py/plugins/google-genai/pyproject.toml
  py/plugins/ollama/pyproject.toml
  py/plugins/pinecone/pyproject.toml
  py/plugins/vertex-ai/pyproject.toml
  py/pyproject.toml
  py/samples/basic-gemini/pyproject.toml
  py/samples/coffee-shop/pyproject.toml
  py/samples/context-caching/pyproject.toml
  py/samples/flow-sample1/pyproject.toml
  py/samples/google-ai/pyproject.toml
  py/samples/google_genai/pyproject.toml
  py/samples/google_genai_image/pyproject.toml
  py/samples/hello/pyproject.toml
  py/samples/menu/pyproject.toml
  py/samples/ollama-hello/pyproject.toml
  py/samples/ollama-simple-embed/pyproject.toml
  py/samples/openai/pyproject.toml
  py/samples/prompt-file/pyproject.toml
  py/samples/rag/pyproject.toml
  py/samples/vertex-ai-imagen/pyproject.toml
  py/samples/vertex-ai-model-garden/pyproject.toml
  py/samples/vertex-ai-reranker/pyproject.toml
  py/samples/vertex-ai-vector-search/pyproject.toml
  py/tests/smoke/pyproject.toml
  py/uv.lock
Owners: @pavelgj, @yesudeep

feat: added refactor
  go/plugins/compat_oai/compat_oai.go
  go/plugins/compat_oai/openai/openai.go
  go/plugins/compat_oai/openai/openai_live_test.go
  go/samples/compat_oai/anthropic/main.go
  go/samples/compat_oai/openai/main.go
Owners: @apascal07

fix(go): Fixed default input for prompts (#2491)
  go/ai/generate.go
  go/ai/prompt.go
Owners: @apascal07

fix
  js/plugins/cloud-sql-pg/src/engine.ts
  js/plugins/cloud-sql-pg/src/index.ts
  js/plugins/cloud-sql-pg/tsup.config.ts
Owners: @pavelgj

fix: added headers
  go/plugins/compat_oai/compat_oai.go
  go/plugins/compat_oai/generate.go
  go/plugins/compat_oai/generate_live_test.go
  go/plugins/compat_oai/openai/openai.go
  go/plugins/compat_oai/openai/openai_live_test.go
Owners: @apascal07

Update genkit.go
  go/genkit/genkit.go
Owners: @apascal07

feat: added generic config
  go/plugins/compat_oai/generate.go
  go/samples/compat_oai/openai/main.go
Owners: @apascal07

fix: add boolean support
  go/plugins/compat_oai/generate.go
Owners: @apascal07

fix: use pointer
  go/plugins/compat_oai/generate.go
Owners: @apascal07

more stuff
  py/packages/genkit-ai/src/genkit/ai/registry.py
  py/packages/genkit-ai/src/genkit/core/tracing.py
  py/samples/hello/src/hello.py
Owners: @pavelgj, @yesudeep

fix(ai/go): Remove unused dotprompt import
  go/ai/prompt.go
  go/ai/prompt_test.go
Owners: @apascal07

fixes
  py/packages/genkit-ai/src/genkit/codec.py
  py/packages/genkit-ai/src/genkit/core/tracing.py
Owners: @pavelgj, @yesudeep

fix(py): fix schema types generator
  py/bin/generate_schema_typing
  py/bin/sanitize_schema_typing.py
  py/packages/genkit-ai/src/genkit/core/typing.py
  py/pyproject.toml
Owners: @pavelgj, @yesudeep

fix(py): fix schema types generator (#2512)
  py/bin/generate_schema_typing
  py/bin/sanitize_schema_typing.py
  py/packages/genkit-ai/src/genkit/core/typing.py
  py/pyproject.toml
Owners: @pavelgj, @yesudeep

feat(py/plugin/google_genai): add support for Gemini Pro 2.5 03-25 and missing flash-2.0-lite #2473
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/pyproject.toml
  py/samples/hello-google-genai/LICENSE
  py/samples/hello-google-genai/README.md
  py/samples/hello-google-genai/pyproject.toml
  py/samples/hello-google-genai/src/hello.py
  py/samples/multi-server/README.md
  py/samples/multi-server/architecture.svg
  py/samples/multi-server/multi_server.py
  py/samples/multi-server/pyproject.toml
  py/uv.lock
Owners: @pavelgj, @yesudeep

feat(py/plugin/google_genai): add support for Gemini Pro 2.5 03-25 and missing flash-2.0-lite #2473 (#2511)
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/pyproject.toml
  py/samples/hello-google-genai/LICENSE
  py/samples/hello-google-genai/README.md
  py/samples/hello-google-genai/pyproject.toml
  py/samples/hello-google-genai/src/hello.py
  py/samples/multi-server/README.md
  py/samples/multi-server/architecture.svg
  py/samples/multi-server/multi_server.py
  py/samples/multi-server/pyproject.toml
  py/uv.lock
Owners: @pavelgj, @yesudeep

fix(py): fix schema types generator
  py/bin/generate_schema_typing
Owners: @pavelgj

fix(ci): only run CI checks on pull request not all pushes
  .github/workflows/engdoc.yml
  .github/workflows/go.yml
  .github/workflows/python.yml
  py/bin/generate_schema_typing
Owners: @pavelgj

feat: add unit tests
  go/plugins/compat_oai/generate.go
  go/plugins/compat_oai/generate_live_test.go
Owners: @apascal07

fix(ci): only run CI checks on pull request not all pushes (#2513)
  .github/workflows/engdoc.yml
  .github/workflows/go.yml
  .github/workflows/python.yml
Owners: @pavelgj

refactor(py/plugin/google-genai): clean up names for Gemini models
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
Owners: @pavelgj, @yesudeep

refactor(py/plugin/google-genai): clean up names for Gemini models (#2517)
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
Owners: @pavelgj, @yesudeep

feat(py/plugin/google_genai): drop support for v1.x Gemini models
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
Owners: @pavelgj, @yesudeep

fix(py/samples/basic-gemini): update the basic gemini example to use Gemini 2.x models #2086
  py/samples/basic-gemini/src/main.py
Owners: @pavelgj, @yesudeep

fix(py/samples/basic-gemini): update the basic gemini example to use Gemini 2.x models (#2519)
  py/samples/basic-gemini/src/main.py
Owners: @pavelgj, @yesudeep

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj
