Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

chore: bump genkitx-ollama version to genkitx-ollama@1.8.0
  js/plugins/ollama/package.json
Owners: @pavelgj

chore: bump genkitx-pinecone version to genkitx-pinecone@1.8.0
  js/plugins/pinecone/package.json
Owners: @pavelgj

chore: bump @genkit-ai/vertexai version to @genkit-ai/vertexai@1.8.0
  js/plugins/vertexai/package.json
Owners: @pavelgj

chore: bump @genkit-ai/checks version to @genkit-ai/checks@1.8.0
  js/plugins/checks/package.json
Owners: @pavelgj

chore: bump genkitx-mcp version to genkitx-mcp@1.8.0
  js/plugins/mcp/package.json
Owners: @pavelgj

chore: bump @genkit-ai/express version to @genkit-ai/express@1.8.0
  js/plugins/express/package.json
Owners: @pavelgj

add implementation of retriever
  js/plugins/cloud-sql-pg/src/index.ts
Owners: @pavelgj

add implementation of retriever
  js/plugins/cloud-sql-pg/package.json
Owners: @pavelgj

add implementation of retriever
  js/pnpm-lock.yaml
Owners: @pavelgj

docs(js): updated code snippets to use the latest 1.8 syntax (#2856)
  js/doc-snippets/src/flows/index.ts
  js/doc-snippets/src/index.ts
  js/doc-snippets/src/models/imagen.ts
  js/doc-snippets/src/models/index.ts
  js/doc-snippets/src/models/minimal.ts
Owners: @pavelgj

fix: vertex ai bigquery vector search
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/models/retriever.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/vector_search/vector_search.py
  py/samples/vertex-ai-vector-search-bigquery/README.md
  py/samples/vertex-ai-vector-search-bigquery/src/sample.py
Owners: @pavelgj, @yesudeep

fix: add limit to options
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/models/retriever.py
  py/samples/vertex-ai-vector-search-bigquery/src/sample.py
Owners: @pavelgj, @yesudeep

drop unused code
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/models/vectorstore.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/vector_search/vector_search.py
  py/samples/vertex-ai-vector-search-bigquery/README.md
  py/samples/vertex-ai-vector-search-bigquery/src/sample.py
  py/samples/vertex-ai-vector-search-bigquery/src/setup_env.py
Owners: @pavelgj, @yesudeep

fix: firestore sample
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/models/retriever.py
  py/samples/vertex-ai-vector-search-bigquery/src/sample.py
  py/samples/vertex-ai-vector-search-firestore/src/sample.py
Owners: @pavelgj, @yesudeep

fix: readme
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/models/retriever.py
  py/samples/vertex-ai-vector-search-firestore/README.md
Owners: @pavelgj, @yesudeep

chore(go,js): expose gemini-2.5-pro-preview-05-06
  go/plugins/googlegenai/models.go
  js/plugins/googleai/src/gemini.ts
  js/plugins/vertexai/src/gemini.ts
Owners: @apascal07, @pavelgj

feat(py): add vertex-ai vector search plugin
  py/plugins/vertex-ai/pyproject.toml
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/__init__.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/models/retriever.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/vector_search/vector_search.py
Owners: @pavelgj, @yesudeep

add implementation of retriever
  js/plugins/cloud-sql-pg/package.json
Owners: @pavelgj

fix: uv.lock
  py/uv.lock
Owners: @pavelgj, @yesudeep

export models
  js/plugins/googleai/src/index.ts
  js/plugins/vertexai/src/index.ts
Owners: @pavelgj

feat(py/plugins/google_genai): add gemini-2.5-pro-preview-05-06 to the supported models list
  py/packages/genkit/src/genkit/blocks/generate.py
  py/plugins/google-cloud/pyproject.toml
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/samples/google-genai-hello/pyproject.toml
  py/uv.lock
Owners: @pavelgj, @yesudeep

feat(py): add vertex-ai vector search with bigquery sample
  py/samples/vertex-ai-vector-search-bigquery/LICENSE
  py/samples/vertex-ai-vector-search-bigquery/README.md
  py/samples/vertex-ai-vector-search-bigquery/pyproject.toml
  py/samples/vertex-ai-vector-search-bigquery/src/sample.py
  py/samples/vertex-ai-vector-search-bigquery/src/setup_env.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

add implementation of retriever
  js/plugins/cloud-sql-pg/src/index.ts
Owners: @pavelgj

feat(py): add vertex-ai vector search with firestore sample
  py/samples/vertex-ai-vector-search-firestore/LICENSE
  py/samples/vertex-ai-vector-search-firestore/README.md
  py/samples/vertex-ai-vector-search-firestore/pyproject.toml
  py/samples/vertex-ai-vector-search-firestore/src/sample.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

feat(js/plugins/google_genai): add gemini-2.5-pro-preview-05-06 to the supported models list
  js/plugins/googleai/src/gemini.ts
  js/plugins/vertexai/src/gemini.ts
Owners: @pavelgj

remove js changes
  js/plugins/googleai/src/gemini.ts
  js/plugins/googleai/src/index.ts
  js/plugins/vertexai/src/gemini.ts
  js/plugins/vertexai/src/index.ts
Owners: @pavelgj

moved the vector methods to engine
  js/plugins/cloud-sql-pg/src/engine.ts
  js/plugins/cloud-sql-pg/src/index.ts
Owners: @pavelgj

moved the vector methods to engine
  js/plugins/cloud-sql-pg/src/index.ts
  js/plugins/cloud-sql-pg/tsconfig.json
Owners: @pavelgj

add js schema changes
  js/ai/src/model.ts
Owners: @pavelgj

chore(go/plugins/googlegenai): expose `gemini-2.5-pro-preview-05-06` (#2870)
  go/plugins/googlegenai/models.go
Owners: @apascal07

fix(genkit-tools): removed thinkingMode option
  genkit-tools/common/src/types/model.ts
Owners: @pavelgj

fix(genkit-tools): removed thinkingMode option overall
  genkit-tools/genkit-schema.json
  js/ai/src/model.ts
  js/plugins/googleai/src/gemini.ts
  js/plugins/vertexai/src/gemini.ts
Owners: @pavelgj

feat(js): thinking mode options for Gemini models (#2851)
  js/plugins/googleai/src/gemini.ts
  js/plugins/vertexai/src/gemini.ts
Owners: @pavelgj

feat(py/plugins/google_genai): add gemini-2.5-pro-preview-05-06 to the supported models list (#2872)
  py/packages/genkit/src/genkit/blocks/generate.py
  py/plugins/google-cloud/pyproject.toml
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/samples/google-genai-hello/pyproject.toml
  py/uv.lock
Owners: @pavelgj, @yesudeep

docs: add Angular quickstart guide (#2646)
  README.md
  docs/_guides.yaml
  docs/angular.md
Owners: @pavelgj

add usagemetadata to py and js
  js/ai/src/model.ts
  py/packages/genkit/src/genkit/blocks/model.py
Owners: @pavelgj, @yesudeep

feat: openai plugin
  .gitignore
  js/plugins/compat-oai/.npmignore
  js/plugins/compat-oai/LICENSE
  js/plugins/compat-oai/README.md
  js/plugins/compat-oai/jest.config.js
  js/plugins/compat-oai/package.json
  js/plugins/compat-oai/src/dalle.ts
  js/plugins/compat-oai/src/embedder.ts
  js/plugins/compat-oai/src/gpt.test.ts
  js/plugins/compat-oai/src/gpt.ts
  js/plugins/compat-oai/src/index.ts
  js/plugins/compat-oai/src/tts.ts
  js/plugins/compat-oai/src/whisper.ts
  js/plugins/compat-oai/tsconfig.json
  js/plugins/compat-oai/tsup.config.ts
  js/plugins/compat-oai/typedoc.json
  js/pnpm-lock.yaml
  js/testapps/compat-oai/README.md
  js/testapps/compat-oai/package.json
  js/testapps/compat-oai/src/index.ts
  js/testapps/compat-oai/tsconfig.json
Owners: @pavelgj

fix(go/genkit): improve Google AI API key validation
  go/plugins/googlegenai/googlegenai.go
  go/plugins/googlegenai/googlegenai_test.go
Owners: @apascal07

updated review comments
  js/plugins/cloud-sql-pg/package.json
  js/plugins/cloud-sql-pg/src/engine.ts
  js/plugins/cloud-sql-pg/src/index.ts
Owners: @pavelgj

updated review comments
  js/plugins/cloud-sql-pg/src/index.ts
Owners: @pavelgj

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj
