Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

feat(go/plugins/googlegenai): Add reasoning parts
  go/ai/document.go
  go/ai/generate.go
  go/plugins/googlegenai/gemini.go
  go/plugins/googlegenai/vertexai_live_test.go
Owners: @apascal07

fmt
  go/ai/document.go
  go/ai/generate.go
Owners: @apascal07

chore: Update package dependencies in cloud-sql-pg
  js/plugins/cloud-sql-pg/package.json
Owners: @pavelgj

fix: Correct import paths for PostgresEngine and postgres in cloud-sql-pg documentation
  docs/plugins/cloud-sql-pg.md
Owners: @pavelgj

fix: reasoning part tag
  go/ai/document.go
Owners: @apascal07

gen reasoningPart
  go/ai/document.go
  go/ai/gen.go
  go/core/schemas.config
Owners: @apascal07, @pavelgj

fix(go/plugins/googlegenai): runtime panic if no candidates returned (#2925)
  go/plugins/googlegenai/gemini.go
Owners: @apascal07

fix(js/core/flows): allow setting metadata on flows
  js/core/src/flow.ts
  js/core/tests/flow_test.ts
Owners: @pavelgj

Update jest.config.js
  js/plugins/cloud-sql-pg/jest.config.js
Owners: @pavelgj

Update package.json
  js/plugins/cloud-sql-pg/package.json
Owners: @pavelgj

Update engine.test.ts
  js/plugins/cloud-sql-pg/test/engine.test.ts
Owners: @pavelgj

Update engine.test.ts
  js/plugins/cloud-sql-pg/test/engine.test.ts
Owners: @pavelgj

update
  js/plugins/cloud-sql-pg/package.json
  js/plugins/cloud-sql-pg/src/engine.ts
  js/plugins/cloud-sql-pg/src/index.ts
  js/pnpm-lock.yaml
Owners: @pavelgj

fix: format
  js/plugins/compat-oai/src/whisper.ts
Owners: @pavelgj

Added session handling
  go/ai/generate.go
  go/ai/option.go
  go/ai/option_test.go
  go/ai/prompt.go
  go/ai/session.go
  go/ai/session_test.go
  go/samples/session/main.go
Owners: @apascal07

fix(js/core/flows): allow setting metadata on flows (#2953)
  js/core/src/flow.ts
  js/core/tests/flow_test.ts
Owners: @pavelgj

fix: add tests and rename methods
  py/packages/genkit/src/genkit/ai/_base.py
  py/packages/genkit/src/genkit/ai/_plugin.py
  py/packages/genkit/src/genkit/core/reflection.py
  py/packages/genkit/src/genkit/core/registry.py
  py/packages/genkit/tests/genkit/core/endpoints/reflection_test.py
  py/packages/genkit/tests/genkit/core/registry_test.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/google-genai/test/test_google_plugin.py
Owners: @pavelgj, @yesudeep

remane
  py/packages/genkit/src/genkit/core/registry.py
  py/packages/genkit/tests/genkit/core/registry_test.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
Owners: @pavelgj, @yesudeep

package-cli-as-binary
  genkit-tools/cli/package.json
  genkit-tools/package.json
  genkit-tools/pnpm-lock.yaml
Owners: @pavelgj

Updated root package scripts and contributing docs
  CONTRIBUTING.md
  genkit-tools/package.json
Owners: @pavelgj

Migrated binary packaging to Bun
  CONTRIBUTING.md
  genkit-tools/cli/package.json
  genkit-tools/common/src/manager/manager.ts
  genkit-tools/common/src/utils/utils.ts
  genkit-tools/package.json
  genkit-tools/pnpm-lock.yaml
Owners: @pavelgj

fixed formatting
  CONTRIBUTING.md
  genkit-tools/common/src/manager/manager.ts
  genkit-tools/common/src/utils/utils.ts
Owners: @pavelgj

package-cli-as-binary
  genkit-tools/cli/package.json
  genkit-tools/package.json
  genkit-tools/pnpm-lock.yaml
Owners: @pavelgj

Migrated binary packaging to Bun
  CONTRIBUTING.md
  genkit-tools/cli/package.json
  genkit-tools/common/src/manager/manager.ts
  genkit-tools/common/src/utils/utils.ts
  genkit-tools/package.json
  genkit-tools/pnpm-lock.yaml
Owners: @pavelgj

fixed formatting
  CONTRIBUTING.md
  genkit-tools/common/src/manager/manager.ts
  genkit-tools/common/src/utils/utils.ts
Owners: @pavelgj

Updated root package scripts and contributing docs
  CONTRIBUTING.md
  genkit-tools/package.json
Owners: @pavelgj

Updating the CONTRIB guidance
  CONTRIBUTING.md
Owners: @pavelgj

feat(go/plugins/googlegenai): use go-genai sdk configuration
  go/plugins/googlegenai/cache.go
  go/plugins/googlegenai/gemini.go
  go/samples/basic-gemini-with-context/main.go
  go/samples/basic-gemini/main.go
  go/samples/cache-gemini/main.go
  go/samples/code-execution-gemini/main.go
  go/samples/imagen-gemini/main.go
  go/samples/menu/s03.go
  go/samples/menu/s04.go
  go/samples/menu/s05.go
  go/samples/prompts/main.go
Owners: @apascal07

fixed formatting
  CONTRIBUTING.md
Owners: @pavelgj

update client options, add manager support, mimic new TS design
  go/plugins/mcp/client.go
  go/plugins/mcp/common.go
  go/plugins/mcp/manager.go
  go/plugins/mcp/prompts.go
  go/plugins/mcp/tools.go
  go/samples/mcp-everything/main.go
Owners: @apascal07

break up code for readability
  go/plugins/mcp/tools.go
Owners: @apascal07

Some fixes
  genkit-tools/common/src/utils/package.ts
  genkit-tools/common/tsconfig.json
Owners: @pavelgj

return raw tool responses by default
  go/plugins/mcp/client.go
  go/plugins/mcp/tools.go
Owners: @apascal07

additional fixes
  genkit-tools/common/tsconfig.esm.json
Owners: @pavelgj

Update genkit-tools/package.json
  genkit-tools/package.json
Owners: @pavelgj

prevent stack overflow panic when parsing config
  go/plugins/googlegenai/gemini.go
Owners: @apascal07

Fixed race condition
  genkit-tools/cli/src/commands/start.ts
  genkit-tools/common/src/manager/manager.ts
  genkit-tools/common/src/server/server.ts
Owners: @pavelgj

Fixed formatting
  genkit-tools/cli/src/commands/start.ts
  genkit-tools/common/src/manager/manager.ts
  genkit-tools/common/src/utils/package.ts
Owners: @pavelgj

fix(py/genkit): fixing type check errors of mypy
  py/packages/genkit/src/genkit/ai/_registry.py
  py/packages/genkit/src/genkit/blocks/model.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/openai_plugin.py
  py/plugins/compat-oai/tests/test_handler.py
  py/plugins/compat-oai/tests/test_plugin.py
  py/plugins/ollama/tests/conftest.py
Owners: @pavelgj, @yesudeep

fix(py/genkit): fixing type check errors of mypy
  py/bin/sanitize_schema_typing.py
  py/packages/genkit/src/genkit/blocks/generate.py
  py/packages/genkit/tests/genkit/aio/channel_test.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/openai_plugin.py
Owners: @pavelgj, @yesudeep

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj
