Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

removed comment
  js/plugins/google-genai/src/index.ts
Owners: @pavelgj

update gemini models
  go/plugins/googlegenai/models.go
Owners: @apascal07

chore: replace rm with rimraf as cross-platform
  js/plugins/compat-oai/package.json
  js/pnpm-lock.yaml
Owners: @pavelgj

fix: missing type annotation
  py/packages/genkit/src/genkit/ai/_aio.py
Owners: @pavelgj, @yesudeep

fix(py/genkit/ai): add missing type annotation (#3146)
  py/packages/genkit/src/genkit/ai/_aio.py
Owners: @pavelgj, @yesudeep

fix(go/plugins/googlegenai): Update gemini models (#3144)
  go/plugins/googlegenai/models.go
Owners: @apascal07

Fixed dynamic model resolution.
  go/ai/embedder.go
  go/ai/generate.go
  go/core/action.go
  go/genkit/genkit.go
  go/genkit/reflection.go
  go/internal/base/misc.go
  go/internal/registry/registry.go
  go/samples/basic-gemini/main.go
Owners: @apascal07

feat(js/plugins/compat-oai): Add DeepSeek plugin
  js/plugins/compat-oai/package.json
  js/plugins/compat-oai/src/deepseek/deepseek.ts
  js/plugins/compat-oai/src/deepseek/index.ts
  js/plugins/compat-oai/src/model.ts
  js/plugins/compat-oai/src/openai/gpt.ts
  js/plugins/compat-oai/src/openai/index.ts
  js/testapps/compat-oai/src/index.ts
Owners: @pavelgj

Updated logic.
  go/ai/embedder.go
  go/ai/generate.go
  go/genkit/genkit.go
  go/go.mod
  go/go.sum
  go/internal/base/misc.go
  go/internal/registry/registry.go
Owners: @apascal07

Update main.go
  go/samples/basic-gemini/main.go
Owners: @apascal07

fix: Remove numberOfVideos config parameter for Veo
  js/plugins/googleai/src/veo.ts
Owners: @pavelgj

fix(js): Remove numberOfVideos config parameter for Veo (#3156)
  js/plugins/googleai/src/veo.ts
Owners: @pavelgj

fix(go): fixed incomplete dynamic action resolution (#3152)
  go/ai/embedder.go
  go/ai/generate.go
  go/core/action.go
  go/genkit/genkit.go
  go/genkit/reflection.go
  go/go.mod
  go/go.sum
  go/internal/registry/registry.go
  go/samples/basic-gemini/main.go
Owners: @apascal07

feat(js/plugins/compat-oai): Add XAI plugin
  js/plugins/compat-oai/package.json
  js/plugins/compat-oai/src/image.ts
  js/plugins/compat-oai/src/openai/index.ts
  js/plugins/compat-oai/src/xai/grok-image.ts
  js/plugins/compat-oai/src/xai/grok.ts
  js/plugins/compat-oai/src/xai/index.ts
  js/testapps/compat-oai/src/index.ts
Owners: @pavelgj

feat(cli): add compile script
  genkit-tools/cli/package.json
Owners: @pavelgj

fix(cli): replace node child process in genkit ui:start
  genkit-tools/cli/package.json
  genkit-tools/cli/src/cli.ts
  genkit-tools/cli/src/commands/ui-start.ts
  genkit-tools/cli/src/utils/server-harness.ts
  genkit-tools/cli/tsconfig.json
  genkit-tools/common/package.json
  genkit-tools/pnpm-lock.yaml
Owners: @pavelgj

fix(ci): update ci workflow unix tests
  .github/workflows/build-cli-binaries.yml
Owners: @pavelgj

refactor: clean up cross-runtime error handling and add tests
  genkit-tools/cli/package.json
  genkit-tools/cli/src/cli.ts
  genkit-tools/cli/src/commands/ui-start-server.ts
  genkit-tools/common/src/utils/errors.ts
  genkit-tools/common/tests/utils/errors_test.ts
  genkit-tools/pnpm-lock.yaml
Owners: @pavelgj

fix(cli): avoid absolute paths in binary
  genkit-tools/cli/package.json
  genkit-tools/cli/tsconfig.json
  genkit-tools/common/package.json
  genkit-tools/common/src/utils/package.ts
  genkit-tools/common/tsconfig.json
Owners: @pavelgj

feat(ci): add windows binary testing
  .github/workflows/build-cli-binaries.yml
Owners: @pavelgj

ci: add build-cli-binaries
  .github/workflows/build-cli-binaries.yml
Owners: @pavelgj

ci: change trigger for testing on github
  .github/workflows/build-cli-binaries.yml
Owners: @pavelgj

refactor: move server-harness to command file
  genkit-tools/cli/src/cli.ts
  genkit-tools/cli/src/commands/ui-start-server.ts
Owners: @pavelgj

fix(cli): handle different runtime error shapes
  genkit-tools/common/src/utils/errors.ts
  genkit-tools/common/src/utils/utils.ts
  js/testapps/basic-gemini/src/index.ts
Owners: @pavelgj

Update bin/install_cli
  bin/install_cli
Owners: @pavelgj

Update bin/install_cli
  bin/install_cli
Owners: @pavelgj

feat(ci): add tests and update yaml
  .github/workflows/build-cli-binaries.yml
Owners: @pavelgj

Update bin/install_cli
  bin/install_cli
Owners: @pavelgj

Update js/testapps/basic-gemini/src/index.ts
  js/testapps/basic-gemini/src/index.ts
Owners: @pavelgj

chore(testapps): revert basic-gemini testapp
  js/testapps/basic-gemini/src/index.ts
Owners: @pavelgj

fix(ci): adjust file extension for windows
  .github/workflows/build-cli-binaries.yml
Owners: @pavelgj

Update genkit-tools/common/src/utils/errors.ts
  genkit-tools/common/src/utils/errors.ts
Owners: @pavelgj

refactor(cli): change name of internal command
  genkit-tools/cli/src/cli.ts
  genkit-tools/cli/src/commands/server-harness.ts
  genkit-tools/cli/src/commands/ui-start.ts
Owners: @pavelgj

Update bin/install_cli
  bin/install_cli
Owners: @pavelgj

feat: add first draft of CLI install script
  .github/workflows/build-cli-binaries.yml
  bin/install_cli
Owners: @pavelgj

feat(ci): add arm runners
  .github/workflows/build-cli-binaries.yml
Owners: @pavelgj

fix(cli): adjust check for internal command
  genkit-tools/cli/src/cli.ts
  genkit-tools/cli/src/commands/server-harness.ts
Owners: @pavelgj

documentation for all known supported models. Update veo.ts to list more models as known
  js/plugins/googleai/README.md
  js/plugins/googleai/SUPPORTED_MODELS.md
  js/plugins/googleai/src/veo.ts
Owners: @pavelgj

moved the examples code around to better match pattern in our docs
  js/plugins/googleai/README.md
  js/plugins/googleai/SUPPORTED_MODELS.md
Owners: @pavelgj

refactor(go/plugins/compat_oai): use OpenAI API config
  go/go.mod
  go/go.sum
  go/plugins/compat_oai/anthropic/anthropic.go
  go/plugins/compat_oai/compat_oai.go
  go/plugins/compat_oai/generate.go
  go/plugins/compat_oai/generate_live_test.go
  go/plugins/compat_oai/openai/openai.go
  go/plugins/compat_oai/openai/openai_live_test.go
Owners: @apascal07

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj
