Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

fix(py): revise code based on gemini's comments
  py/packages/genkit/src/genkit/ai/_aio.py
  py/packages/genkit/tests/genkit/blocks/generate_test.py
  py/packages/genkit/tests/genkit/blocks/prompt_test.py
  py/samples/prompt_demo/prompts/_shared_partial.prompt
  py/samples/prompt_demo/prompts/hello.prompt
  py/samples/prompt_demo/prompts/nested/nested_hello.prompt
  py/samples/prompt_demo/src/prompt_demo.py
Owners: @pavelgj, @yesudeep

fix(py): update google genai model to 2.5-flash instead of 2.0
  py/samples/evaluator-demo/src/eval_demo.py
  py/samples/prompt_demo/prompts/_shared_partial.prompt
  py/samples/prompt_demo/prompts/hello.prompt
  py/samples/prompt_demo/prompts/nested/nested_hello.prompt
  py/samples/prompt_demo/src/prompt_demo.py
Owners: @pavelgj, @yesudeep

feat(py): loading prompts automatically (#3992)
  py/packages/genkit/src/genkit/ai/_aio.py
  py/packages/genkit/src/genkit/ai/_registry.py
  py/packages/genkit/src/genkit/blocks/model.py
  py/packages/genkit/src/genkit/blocks/prompt.py
  py/packages/genkit/tests/genkit/blocks/prompt_test.py
  py/samples/evaluator-demo/src/eval_demo.py
  py/samples/prompt_demo/README.md
  py/samples/prompt_demo/data/hello.prompt
  py/samples/prompt_demo/prompts/_shared_partial.prompt
  py/samples/prompt_demo/prompts/dot.name.test.prompt
  py/samples/prompt_demo/prompts/hello.prompt
  py/samples/prompt_demo/prompts/hello.variant.prompt
  py/samples/prompt_demo/prompts/nested/nested_hello.prompt
  py/samples/prompt_demo/src/prompt_demo.py
Owners: @pavelgj, @yesudeep

feat(py): add support for ai.define_resource
  py/packages/genkit/pyproject.toml
  py/packages/genkit/src/genkit/ai/_registry.py
  py/packages/genkit/src/genkit/ai/resource.py
  py/packages/genkit/src/genkit/core/action/types.py
  py/packages/genkit/src/genkit/core/registry.py
  py/packages/genkit/tests/genkit/ai/test_resource.py
  py/packages/genkit/tests/genkit/veneer/resource_test.py
  py/samples/evaluator-demo/src/eval_demo.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

feat: update docs
  java/README.md
  java/samples/README.md
  java/samples/chat-session/README.md
  java/samples/complex-io/README.md
  java/samples/dotprompt/README.md
  java/samples/evaluations/README.md
  java/samples/google-genai/README.md
  java/samples/interrupts/README.md
  java/samples/mcp/README.md
  java/samples/middleware/README.md
  java/samples/multi-agent/README.md
  java/samples/openai/README.md
  java/samples/rag/README.md
Owners: @pavelgj

fix: code assisst feedback
  java/ai/src/main/java/com/google/genkit/ai/Embedder.java
Owners: @pavelgj

fix(prompt): update role syntax in multi-msg prompt for consistency
  go/samples/prompts/prompts/multi-msg.prompt
Owners: @pavelgj

fix(py): update google_genai_hello sample to enable image generation
  py/samples/google-genai-hello/src/google_genai_hello.py
Owners: @pavelgj, @yesudeep

fix(py): update google_genai_hello sample with genimi bot comments
  py/samples/google-genai-hello/src/google_genai_hello.py
Owners: @pavelgj, @yesudeep

fix(py): update google_genai_hello sample to enable image generation (#3999)
  py/samples/google-genai-hello/src/google_genai_hello.py
Owners: @pavelgj, @yesudeep

fix(py): fix the encoded media parts in response with google-genai plugin
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/imagen.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/utils.py
  py/plugins/google-genai/test/models/test_googlegenai_gemini.py
  py/plugins/google-genai/test/models/test_googlegenai_imagen.py
  py/samples/google-genai-hello/src/google_genai_hello.py
Owners: @pavelgj, @yesudeep

fix(py): revise with gemini rob comments
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/utils.py
  py/samples/google-genai-hello/src/google_genai_hello.py
Owners: @pavelgj, @yesudeep

feat(py): Implemented xai plugin
  py/plugins/xai/LICENSE
  py/plugins/xai/README.md
  py/plugins/xai/pyproject.toml
  py/plugins/xai/src/genkit/plugins/xai/__init__.py
  py/plugins/xai/src/genkit/plugins/xai/model_info.py
  py/plugins/xai/src/genkit/plugins/xai/models.py
  py/plugins/xai/src/genkit/plugins/xai/plugin.py
  py/plugins/xai/tests/__init__.py
  py/plugins/xai/tests/test_xai_models.py
  py/plugins/xai/tests/test_xai_plugin.py
  py/pyproject.toml
  py/samples/xai-hello/README.md
  py/samples/xai-hello/pyproject.toml
  py/samples/xai-hello/src/xai_hello.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

feat(py): fix license issues
  py/pyproject.toml
Owners: @pavelgj, @yesudeep

feat(py): add support for ty typechecker without enabling it everywhere atm
  bin/run_lint
  py/noxfile.py
  py/packages/genkit/src/genkit/aio/loop.py
  py/packages/genkit/src/genkit/core/extract.py
  py/packages/genkit/src/genkit/web/manager/_adapters.py
  py/packages/genkit/src/genkit/web/typing.py
  py/pyproject.toml
  py/samples/evaluator-demo/src/eval_demo.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

fix(py): use data uri library to parse
  py/plugins/google-genai/test/models/test_googlegenai_gemini.py
  py/plugins/google-genai/test/models/test_googlegenai_imagen.py
Owners: @pavelgj, @yesudeep

fix(py): remove duplicated model input to functions
  py/samples/google-genai-hello/src/google_genai_hello.py
Owners: @pavelgj, @yesudeep

fix(py): python checks failing test
  py/plugins/google-genai/test/models/test_googlegenai_gemini.py
Owners: @pavelgj, @yesudeep

fix(py): addressed review comments
  py/plugins/xai/conftest.py
  py/plugins/xai/src/genkit/plugins/xai/models.py
  py/samples/evaluator-demo/src/eval_demo.py
  py/samples/xai-hello/src/xai_hello.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

fix(py): tests fail fix
  py/plugins/xai/tests/__init__.py
Owners: @pavelgj, @yesudeep

do not merge: prompt evals
  go/samples/prompt-evaluations/dataset.json
  go/samples/prompt-evaluations/main.go
  go/samples/prompt-evaluations/prompts/no_model.prompt
  go/samples/prompt-evaluations/prompts/simple.prompt
  go/samples/prompt-evaluations/prompts/with_config.prompt
Owners: @pavelgj, @apascal07

Updated samples.
  go/samples/basic-prompts/main.go
  go/samples/basic-structured/main.go
  go/samples/prompts-dir/main.go
  go/samples/prompts-dir/prompts/example.prompt
Owners: @apascal07, @pavelgj

Update prompt_test.go
  go/ai/prompt_test.go
Owners: @apascal07

fix(py): fix the encoded media parts in response with google-genai pl… (#4000)
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/imagen.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/utils.py
  py/plugins/google-genai/test/models/test_googlegenai_gemini.py
  py/plugins/google-genai/test/models/test_googlegenai_imagen.py
  py/samples/google-genai-hello/src/google_genai_hello.py
Owners: @pavelgj, @yesudeep

fix(py): fix the bug of model import in sample of say-hi-with-configured-temperature of google-genai
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
Owners: @pavelgj, @yesudeep

fix(py): revised with gemini's comments
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
Owners: @pavelgj, @yesudeep

fix(py): revised with gemini's comments
  py/samples/evaluator-demo/src/eval_demo.py
Owners: @pavelgj, @yesudeep

Update main.go
  go/samples/basic-structured/main.go
Owners: @apascal07

fix(py): fix the bug in sample of say-hi-with-configured-temperature of google-genai (#4002)
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/samples/evaluator-demo/src/eval_demo.py
Owners: @pavelgj, @yesudeep

fix(py): fix the issue of no response in say_hi_stream flow
  py/plugins/anthropic/src/genkit/plugins/anthropic/models.py
Owners: @pavelgj, @yesudeep

fix(py): revise test_models.py with gemini bot's comments
  py/plugins/anthropic/tests/test_models.py
Owners: @pavelgj, @yesudeep

feat(py): Implemented xai plugin (#4001)
  py/plugins/xai/LICENSE
  py/plugins/xai/README.md
  py/plugins/xai/conftest.py
  py/plugins/xai/pyproject.toml
  py/plugins/xai/src/genkit/plugins/xai/__init__.py
  py/plugins/xai/src/genkit/plugins/xai/model_info.py
  py/plugins/xai/src/genkit/plugins/xai/models.py
  py/plugins/xai/src/genkit/plugins/xai/plugin.py
  py/plugins/xai/tests/test_xai_models.py
  py/plugins/xai/tests/test_xai_plugin.py
  py/pyproject.toml
  py/samples/xai-hello/README.md
  py/samples/xai-hello/pyproject.toml
  py/samples/xai-hello/src/xai_hello.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

fix(py): fix the issue of no response in say_hi_stream flow (#4003)
  py/plugins/anthropic/src/genkit/plugins/anthropic/models.py
  py/plugins/anthropic/tests/test_models.py
Owners: @pavelgj, @yesudeep

fix(google-genai): prevent potential server crash from unhandled stream errors
  js/plugins/google-genai/src/common/utils.ts
Owners: @pavelgj

fix(go/plugins/googlegenai): include thoughtSignature in part metadata
  go/plugins/googlegenai/gemini.go
Owners: @apascal07

include signature in Reasoning parts
  go/plugins/googlegenai/gemini.go
Owners: @apascal07

fix(go/plugins/mcp): Retrieve MCP server output schema
  go/ai/tools.go
  go/core/action.go
  go/go.mod
  go/go.sum
  go/plugins/mcp/tools.go
  go/plugins/mcp/tools_test.go
Owners: @apascal07

Fix failing validation in MCP tool response due the output schema now being present
  go/internal/base/validation.go
  go/plugins/mcp/tools_test.go
Owners: @apascal07

fix(py): add test flow in prompt to match JS SDK
  py/packages/genkit/src/genkit/core/reflection.py
  py/samples/prompt_demo/src/prompt_demo.py
Owners: @pavelgj, @yesudeep

fix(py): revised with gemini's comments
  py/samples/prompt_demo/src/prompt_demo.py
Owners: @pavelgj, @yesudeep

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj
