Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj

docs(py): add comprehensive plugin API conformance verification
  py/GEMINI.md
Owners: @pavelgj, @yesudeep

docs(py): move plugin API conformance to roadmap.md
  py/GEMINI.md
  py/engdoc/parity-analysis/roadmap.md
Owners: @pavelgj, @yesudeep

fix(py/cf-ai): add per-event-loop httpx client caching
  py/GEMINI.md
  py/plugins/cf-ai/src/genkit/plugins/cf_ai/plugin.py
  py/plugins/cf-ai/tests/cf_ai_plugin_test.py
Owners: @pavelgj, @yesudeep

feat(py): add shared per-event-loop HTTP client caching utility
  py/packages/genkit/src/genkit/core/__init__.py
  py/packages/genkit/src/genkit/core/http_client.py
  py/plugins/cf-ai/src/genkit/plugins/cf_ai/plugin.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/evaluators/evaluation.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/rerankers/reranker.py
  py/plugins/google-genai/tests/evaluators_test.py
  py/plugins/google-genai/tests/rerankers_test.py
Owners: @pavelgj, @yesudeep

docs(py): document HTTP client event loop binding pattern
  py/GEMINI.md
Owners: @pavelgj, @yesudeep

test(py): add comprehensive tests for http_client module
  py/GEMINI.md
  py/packages/genkit/tests/genkit/core/http_client_test.py
Owners: @pavelgj, @yesudeep

docs(py): add comprehensive plugin API conformance verification
  py/GEMINI.md
Owners: @pavelgj, @yesudeep

docs(py): move plugin API conformance to roadmap.md
  py/GEMINI.md
  py/engdoc/parity-analysis/roadmap.md
Owners: @pavelgj, @yesudeep

docs(py): add plugin API conformance analysis to roadmap
  py/engdoc/parity-analysis/roadmap.md
Owners: @pavelgj

fix(py/cf-ai): use per-event-loop HTTP client caching
  py/packages/genkit/src/genkit/core/__init__.py
  py/packages/genkit/src/genkit/core/http_client.py
  py/packages/genkit/tests/genkit/core/http_client_test.py
  py/plugins/cf-ai/src/genkit/plugins/cf_ai/plugin.py
  py/plugins/cf-ai/tests/cf_ai_plugin_test.py
Owners: @pavelgj, @yesudeep

docs(py): add HTTP client event loop binding guidelines
  py/GEMINI.md
Owners: @pavelgj, @yesudeep

docs(py): add plugin API conformance analysis to roadmap (#4431)
  py/engdoc/parity-analysis/roadmap.md
Owners: @pavelgj

feat(py/samples): add auto-setup to Vertex AI samples
  py/samples/firestore-retreiver/README.md
  py/samples/firestore-retreiver/run.sh
  py/samples/google-genai-vertexai-hello/README.md
  py/samples/google-genai-vertexai-hello/run.sh
  py/samples/google-genai-vertexai-image/README.md
  py/samples/google-genai-vertexai-image/run.sh
Owners: @pavelgj

docs(py): add HTTP client event loop binding guidelines (#4430)
  py/GEMINI.md
Owners: @pavelgj, @yesudeep

docs(py): add HTTP client event loop binding guidelines
  py/GEMINI.md
Owners: @pavelgj, @yesudeep

feat(py/samples): add gcloud auto-setup to Vertex AI samples (#4427)
  py/samples/firestore-retreiver/README.md
  py/samples/firestore-retreiver/run.sh
  py/samples/google-genai-vertexai-hello/README.md
  py/samples/google-genai-vertexai-hello/run.sh
  py/samples/google-genai-vertexai-image/README.md
  py/samples/google-genai-vertexai-image/run.sh
Owners: @pavelgj

fix: review comments
  go/plugins/mcp/client.go
Owners: @apascal07

fix(py): fixed bugs
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
Owners: @pavelgj, @yesudeep

fix(py): fix with gemini comments and fix lint errors
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
Owners: @pavelgj, @yesudeep

fix(py): fix lint errors
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
Owners: @pavelgj, @yesudeep

fix(py): optimize CI with parallel jobs and reduced overhead
  .github/workflows/python.yml
  bin/lint
Owners: @pavelgj

fix(py): fixed bugs with gemini models (#4432)
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
Owners: @pavelgj, @yesudeep

fix(py): optimize CI with parallel jobs and reduced overhead (#4433)
  .github/workflows/python.yml
  bin/lint
Owners: @pavelgj

fix(py): fixed broken sample and lint errors
  py/packages/genkit/src/genkit/web/typing.py
  py/samples/multi-server/src/main.py
Owners: @pavelgj, @yesudeep

fix(py/cf-ai): use per-event-loop HTTP client caching (#4429)
  py/packages/genkit/src/genkit/core/__init__.py
  py/packages/genkit/src/genkit/core/http_client.py
  py/packages/genkit/tests/genkit/core/http_client_test.py
  py/plugins/cf-ai/src/genkit/plugins/cf_ai/plugin.py
  py/plugins/cf-ai/tests/cf_ai_plugin_test.py
Owners: @pavelgj, @yesudeep

fix(py): fixed lint errors
  py/packages/genkit/src/genkit/web/typing.py
Owners: @pavelgj, @yesudeep

fix(py): fixed lint errors
  py/packages/genkit/src/genkit/web/typing.py
  py/pyproject.toml
  py/samples/multi-server/src/main.py
Owners: @pavelgj, @yesudeep

docs(py): add comprehensive changelog and PR description for v0.5.0 release
  py/.github/PR_DESCRIPTION_0.5.0.md
  py/CHANGELOG.md
Owners: @pavelgj, @yesudeep

docs(py): add Dotprompt integration details, remove session/chat (refactoring)
  py/.github/PR_DESCRIPTION_0.5.0.md
  py/CHANGELOG.md
Owners: @pavelgj, @yesudeep

docs(py): add performance section, highlight critical fixes, add links
  py/.github/PR_DESCRIPTION_0.5.0.md
  py/CHANGELOG.md
Owners: @pavelgj, @yesudeep

docs(py): add contributor acknowledgments to changelog and PR description
  py/.github/PR_DESCRIPTION_0.5.0.md
  py/CHANGELOG.md
Owners: @pavelgj, @yesudeep

docs(py): add PR counts and convert dotprompt contributors to table
  py/.github/PR_DESCRIPTION_0.5.0.md
  py/CHANGELOG.md
Owners: @pavelgj, @yesudeep

docs(py): add GitHub links, exhaustive contributions, dotprompt section
  py/.github/PR_DESCRIPTION_0.5.0.md
  py/CHANGELOG.md
  py/GEMINI.md
  py/plugins/google-genai/pyproject.toml
  py/samples/xai-hello/pyproject.toml
Owners: @pavelgj, @yesudeep

docs(py): make contributor tables more exhaustive with PR numbers
  py/.github/PR_DESCRIPTION_0.5.0.md
  py/CHANGELOG.md
Owners: @pavelgj, @yesudeep

docs(py): update GEMINI.md with release PR learnings
  py/GEMINI.md
Owners: @pavelgj, @yesudeep

docs(py): add comprehensive Release PR Checklist to GEMINI.md
  py/GEMINI.md
Owners: @pavelgj, @yesudeep

docs(py): add blog article for Genkit Python SDK 0.5.0 release
  py/engdoc/blog-genkit-python-0.5.0.md
Owners: @pavelgj

fix(py): correct code examples in blog article
  py/engdoc/blog-genkit-python-0.5.0.md
Owners: @pavelgj

docs(py): add blog article requirement and code accuracy guidelines
  py/GEMINI.md
Owners: @pavelgj, @yesudeep

docs(py): update branding to 'Genkit' not 'Firebase Genkit'
  py/GEMINI.md
  py/engdoc/blog-genkit-python-0.5.0.md
Owners: @pavelgj, @yesudeep
