Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

chore: rewrote the docstring for the list_actions method for plugins
  py/packages/genkit/src/genkit/ai/_plugin.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/openai_plugin.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/ollama/src/genkit/plugins/ollama/plugin_api.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/model_garden/modelgarden_plugin.py
Owners: @pavelgj, @yesudeep

feat(py): add list_actions method to OpenAI compat plugin (#3240)
  py/packages/genkit/src/genkit/ai/_plugin.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/openai_plugin.py
  py/plugins/compat-oai/tests/test_plugin.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/ollama/src/genkit/plugins/ollama/plugin_api.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/model_garden/modelgarden_plugin.py
Owners: @pavelgj, @yesudeep

feat(js/plugins/google-genai): Added support for global Vertex endpoint (#3249)
  js/plugins/google-genai/src/common/types.ts
  js/plugins/google-genai/src/common/utils.ts
  js/plugins/google-genai/src/googleai/client.ts
  js/plugins/google-genai/src/googleai/gemini.ts
  js/plugins/google-genai/src/googleai/veo.ts
  js/plugins/google-genai/src/vertexai/client.ts
  js/plugins/google-genai/src/vertexai/converters.ts
  js/plugins/google-genai/src/vertexai/gemini.ts
  js/plugins/google-genai/src/vertexai/index.ts
  js/plugins/google-genai/src/vertexai/types.ts
  js/plugins/google-genai/src/vertexai/utils.ts
  js/plugins/google-genai/tests/common/utils_test.ts
  js/plugins/google-genai/tests/googleai/veo_test.ts
  js/plugins/google-genai/tests/vertexai/client_test.ts
  js/plugins/google-genai/tests/vertexai/converters_test.ts
  js/plugins/google-genai/tests/vertexai/embedder_test.ts
  js/plugins/google-genai/tests/vertexai/gemini_test.ts
  js/plugins/google-genai/tests/vertexai/imagen_test.ts
  js/plugins/google-genai/tests/vertexai/index_test.ts
  js/plugins/google-genai/tests/vertexai/utils_test.ts
Owners: @pavelgj

chore: 2 missing prompts for dev-ui-gallery
  js/testapps/dev-ui-gallery/prompts/code.prompt
  js/testapps/dev-ui-gallery/prompts/markdown.prompt
Owners: @pavelgj

chore: 2 missing prompts for dev-ui-gallery (#3261)
  js/testapps/dev-ui-gallery/prompts/code.prompt
  js/testapps/dev-ui-gallery/prompts/markdown.prompt
Owners: @pavelgj

addition of background model and integration of veo
  go/ai/gen.go
  go/ai/generate.go
  go/core/action.go
  go/core/background_action.go
  go/genkit/genkit.go
  go/plugins/googlegenai/googlegenai.go
  go/plugins/googlegenai/models.go
  go/plugins/googlegenai/veo.go
  go/plugins/googlegenai/veo_test.go
  go/samples/veo/main.go
Owners: @apascal07

linting update
  go/core/background_action.go
  go/plugins/googlegenai/veo.go
  go/plugins/googlegenai/veo_test.go
  go/samples/veo/main.go
Owners: @apascal07

updated py
  py/bin/generate_schema_typing
  py/packages/genkit/src/genkit/core/typing.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/model_info.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/openai_plugin.py
  py/plugins/compat-oai/tests/test_plugin.py
Owners: @pavelgj, @yesudeep

better ignore
  py/bin/generate_schema_typing
  py/pyproject.toml
Owners: @pavelgj, @yesudeep

fmt
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/openai_plugin.py
  py/plugins/compat-oai/tests/test_plugin.py
Owners: @pavelgj, @yesudeep

fix jest cfg
  genkit-tools/common/jest.config.ts
Owners: @pavelgj

refactor(js): update type refs to use the @genkit-ai/shared package
  js/ai/package.json
  js/ai/src/check-operation.ts
  js/ai/src/document.ts
  js/ai/src/embedder.ts
  js/ai/src/evaluator.ts
  js/ai/src/formats/index.ts
  js/ai/src/formats/types.ts
  js/ai/src/generate.ts
  js/ai/src/generate/action.ts
  js/ai/src/generate/chunk.ts
  js/ai/src/generate/resolve-tool-requests.ts
  js/ai/src/generate/response.ts
  js/ai/src/index.ts
  js/ai/src/message.ts
  js/ai/src/model-types.ts
  js/ai/src/model.ts
  js/ai/src/model/middleware.ts
  js/ai/src/prompt.ts
  js/ai/src/reranker.ts
  js/ai/src/resource.ts
  js/ai/src/retriever.ts
  js/ai/src/tool.ts
  js/ai/src/types.ts
  js/ai/tests/generate/action_test.ts
  js/ai/tests/generate/chunk_test.ts
  js/ai/tests/generate/response_test.ts
  js/core/package.json
  js/core/src/background-action.ts
  js/core/src/index.ts
  js/genkit/package.json
  js/genkit/src/common.ts
  js/genkit/src/genkit-beta.ts
  js/genkit/src/genkit.ts
  js/pnpm-lock.yaml
Owners: @pavelgj

fmt
  js/ai/src/message.ts
  js/ai/src/reranker.ts
  js/core/src/background-action.ts
  js/genkit/src/genkit-beta.ts
  js/genkit/src/genkit.ts
Owners: @pavelgj

feat:(genkit-tools) support passing runtimeId to tools apis
  genkit-tools/common/src/manager/manager.ts
  genkit-tools/common/src/server/router.ts
  genkit-tools/common/src/types/apis.ts
Owners: @pavelgj

fmt
  js/core/src/background-action.ts
Owners: @pavelgj

fix(go): exclude reasoning part when return value from Text() function
  go/ai/generate.go
Owners: @apascal07

tests and refactor
  go/plugins/googlecloud/action_test.go
  go/plugins/googlecloud/auth_test.go
  go/plugins/googlecloud/defaults_test.go
  go/plugins/googlecloud/engagement_test.go
  go/plugins/googlecloud/feature_test.go
  go/plugins/googlecloud/googlecloud_test.go
  go/plugins/googlecloud/path_test.go
  go/plugins/googlecloud/types.go
  go/plugins/googlecloud/utils.go
Owners: @apascal07

defaults test
  go/plugins/googlecloud/defaults_test.go
Owners: @apascal07

chore(go): bump `go-genai` SDK to `v1.15.0` (#3228)
  go/go.mod
  go/go.sum
  go/plugins/googlegenai/googleai_live_test.go
  go/plugins/googlegenai/models.go
Owners: @apascal07

feat(go/plugins/compat_oai): add media parts support (#3224)
  go/plugins/compat_oai/generate.go
  go/plugins/googlegenai/googleai_live_test.go
  go/plugins/googlegenai/vertexai_live_test.go
  go/plugins/vertexai/modelgarden/anthropic_live_test.go
  go/samples/compat_oai/openai/main.go
  go/samples/prompts/main.go
Owners: @apascal07

fix(go): exclude reasoning part when return value from Text() function (#3165)
  go/ai/generate.go
Owners: @apascal07

Update RunInNewSpan method
  go/ai/evaluator.go
  go/ai/generate.go
  go/core/action.go
  go/core/flow.go
  go/core/tracing/tracing.go
  go/core/tracing/tracing_test.go
Owners: @apascal07

expose negativePrompt param
  js/plugins/googleai/src/imagen.ts
Owners: @pavelgj

fix(js): Export RessourcePartSchema through genkit-tools
  genkit-tools/common/src/types/document.ts
  genkit-tools/common/src/types/model.ts
  genkit-tools/genkit-schema.json
  js/testapps/flow-simple-ai/src/index.ts
  py/packages/genkit/src/genkit/core/typing.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/model_info.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/openai_plugin.py
  py/plugins/compat-oai/tests/test_plugin.py
Owners: @pavelgj, @yesudeep

fix(js,py): Export ResourcePartSchema through genkit-tools (#3239)
  genkit-tools/common/src/types/document.ts
  genkit-tools/common/src/types/model.ts
  genkit-tools/genkit-schema.json
  js/testapps/flow-simple-ai/src/index.ts
  py/packages/genkit/src/genkit/core/typing.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/model_info.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/openai_plugin.py
  py/plugins/compat-oai/tests/test_plugin.py
Owners: @pavelgj, @yesudeep

Remove langchain test application
  js/testapps/langchain/genkit-getting-started.pdf
  js/testapps/langchain/genkit-getting-started.txt
  js/testapps/langchain/package.json
  js/testapps/langchain/src/index.ts
  js/testapps/langchain/tsconfig.json
Owners: @pavelgj

copy trace types as well
  js/shared/scripts/copy-types.ts
  js/shared/src/types.ts
Owners: @pavelgj

feat(js/plugins/google-genai): Added support for abortSignal
  js/plugins/google-genai/src/googleai/client.ts
  js/plugins/google-genai/src/googleai/embedder.ts
  js/plugins/google-genai/src/googleai/gemini.ts
  js/plugins/google-genai/src/googleai/imagen.ts
  js/plugins/google-genai/src/googleai/types.ts
  js/plugins/google-genai/src/vertexai/client.ts
  js/plugins/google-genai/src/vertexai/gemini.ts
  js/plugins/google-genai/src/vertexai/imagen.ts
  js/plugins/google-genai/src/vertexai/types.ts
  js/plugins/google-genai/src/vertexai/utils.ts
  js/plugins/google-genai/tests/googleai/client_test.ts
  js/plugins/google-genai/tests/googleai/gemini_test.ts
  js/plugins/google-genai/tests/googleai/imagen_test.ts
  js/plugins/google-genai/tests/vertexai/client_test.ts
  js/plugins/google-genai/tests/vertexai/embedder_test.ts
  js/plugins/google-genai/tests/vertexai/gemini_test.ts
  js/plugins/google-genai/tests/vertexai/imagen_test.ts
  js/plugins/google-genai/tests/vertexai/index_test.ts
  js/plugins/googleai/src/embedder.ts
  js/plugins/googleai/src/gemini.ts
  js/plugins/googleai/src/index.ts
  js/plugins/vertexai/src/embedder.ts
  js/plugins/vertexai/src/gemini.ts
  js/plugins/vertexai/src/index.ts
Owners: @pavelgj

feat:(genkit-tools) support passing runtimeId to tools apis (#3252)
  genkit-tools/common/src/manager/manager.ts
  genkit-tools/common/src/server/router.ts
  genkit-tools/common/src/types/apis.ts
Owners: @pavelgj

feat: add instance name to GenkitOptions
  genkit-tools/common/src/manager/manager.ts
  genkit-tools/common/src/manager/types.ts
  js/core/src/reflection.ts
  js/genkit/src/genkit.ts
  js/testapps/dev-ui-gallery/src/genkit.ts
Owners: @pavelgj

fix(js/plugins/pinecone): Handle missing docMetadata
  js/plugins/pinecone/src/index.ts
Owners: @pavelgj

feat(ci): add unsigned version, and disabled signed flow
  .github/workflows/README.md
  .github/workflows/build-cli-binaries-signed.yml
  .github/workflows/build-cli-binaries.yml
  .github/workflows/promote-cli-release-signed.yml
  .github/workflows/promote-cli-release.yml
  bin/install_cli
Owners: @pavelgj

chore: add a warning when running in .Trash folder
  genkit-tools/cli/src/commands/start.ts
Owners: @pavelgj

Updates to go core to emit key metadata
  go/ai/evaluator.go
  go/ai/generate.go
  go/core/action.go
  go/core/flow.go
  go/core/tracing/tracing.go
  go/core/tracing/tracing_test.go
  go/genkit/reflection.go
  go/plugins/googlecloud/googlecloud.go
Owners: @apascal07

fix
  go/genkit/servers.go
Owners: @apascal07

fmt
  go/plugins/googlecloud/feature_test.go
Owners: @apascal07

fix(js/plugins/pinecone): Handle missing docMetadata (#3272)
  js/plugins/pinecone/src/index.ts
Owners: @pavelgj

feat(js/genkit-tools/evals): Support (executable) prompt evals
  genkit-tools/common/src/eval/evaluate.ts
  genkit-tools/common/src/types/eval.ts
  genkit-tools/common/src/utils/eval.ts
  js/testapps/evals/prompts/hello.prompt
  js/testapps/evals/src/genkit.ts
Owners: @pavelgj

fix defaults
  go/plugins/googlecloud/defaults.go
Owners: @apascal07

feat(js/plugins/google-genai): Added support for abortSignal (#3268)
  js/plugins/google-genai/src/googleai/client.ts
  js/plugins/google-genai/src/googleai/embedder.ts
  js/plugins/google-genai/src/googleai/gemini.ts
  js/plugins/google-genai/src/googleai/imagen.ts
  js/plugins/google-genai/src/googleai/types.ts
  js/plugins/google-genai/src/vertexai/client.ts
  js/plugins/google-genai/src/vertexai/gemini.ts
  js/plugins/google-genai/src/vertexai/imagen.ts
  js/plugins/google-genai/src/vertexai/types.ts
  js/plugins/google-genai/src/vertexai/utils.ts
  js/plugins/google-genai/tests/googleai/client_test.ts
  js/plugins/google-genai/tests/googleai/gemini_test.ts
  js/plugins/google-genai/tests/googleai/imagen_test.ts
  js/plugins/google-genai/tests/vertexai/client_test.ts
  js/plugins/google-genai/tests/vertexai/embedder_test.ts
  js/plugins/google-genai/tests/vertexai/gemini_test.ts
  js/plugins/google-genai/tests/vertexai/imagen_test.ts
  js/plugins/google-genai/tests/vertexai/index_test.ts
  js/plugins/googleai/src/embedder.ts
  js/plugins/googleai/src/gemini.ts
  js/plugins/googleai/src/index.ts
  js/plugins/vertexai/src/embedder.ts
  js/plugins/vertexai/src/gemini.ts
  js/plugins/vertexai/src/index.ts
Owners: @pavelgj

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj
