Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

Update middleware_test.go
  go/ai/middleware_test.go
Owners: @apascal07

Update typing.py
  py/packages/genkit/src/genkit/core/typing.py
Owners: @pavelgj, @yesudeep

fixes
  go/ai/generate.go
  go/ai/prompt.go
Owners: @apascal07

feat(py/genkit): complete DAP integration with registry (#4459)
  py/GEMINI.md
  py/engdoc/parity-analysis/roadmap.md
  py/packages/genkit/src/genkit/blocks/dap.py
  py/packages/genkit/src/genkit/core/action/__init__.py
  py/packages/genkit/src/genkit/core/action/types.py
  py/packages/genkit/src/genkit/core/registry.py
  py/packages/genkit/tests/genkit/blocks/dap_test.py
  py/pyproject.toml
  py/samples/dap-demo/README.md
  py/samples/dap-demo/pyproject.toml
  py/samples/dap-demo/run.sh
  py/samples/dap-demo/src/dap_demo/__init__.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

Update main.go
  go/samples/basic-session-flow/main.go
Owners: @apascal07

moved files
  go/genkit/genkit.go
  go/genkit/session_flow.go
Owners: @apascal07

Revert "feat(py/genkit): complete DAP integration with registry (#4459)"
  py/GEMINI.md
  py/engdoc/parity-analysis/roadmap.md
  py/packages/genkit/src/genkit/blocks/dap.py
  py/packages/genkit/src/genkit/core/action/__init__.py
  py/packages/genkit/src/genkit/core/action/types.py
  py/packages/genkit/src/genkit/core/registry.py
  py/packages/genkit/tests/genkit/blocks/dap_test.py
  py/pyproject.toml
  py/samples/dap-demo/README.md
  py/samples/dap-demo/pyproject.toml
  py/samples/dap-demo/run.sh
  py/samples/dap-demo/src/dap_demo/__init__.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

docs: update docs
  go/ai/background_model.go
Owners: @apascal07

added `DefineSessionFlowFromPrompt`
  go/ai/x/option.go
  go/ai/x/prompt_session_flow_test.go
  go/ai/x/session_flow.go
  go/ai/x/snapshot.go
  go/genkit/genkit.go
  go/samples/prompt-session-flow/main.go
  go/samples/prompt-session-flow/prompts/chat.prompt
Owners: @apascal07, @pavelgj

revert: dap (#4469)
  py/GEMINI.md
  py/engdoc/parity-analysis/roadmap.md
  py/packages/genkit/src/genkit/blocks/dap.py
  py/packages/genkit/src/genkit/core/action/__init__.py
  py/packages/genkit/src/genkit/core/action/types.py
  py/packages/genkit/src/genkit/core/registry.py
  py/packages/genkit/tests/genkit/blocks/dap_test.py
  py/pyproject.toml
  py/samples/dap-demo/README.md
  py/samples/dap-demo/pyproject.toml
  py/samples/dap-demo/run.sh
  py/samples/dap-demo/src/dap_demo/__init__.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

docs(py): add model conformance testing plan for Python plugins
  py/engdoc/model-conformance-testing-plan.md
Owners: @pavelgj

docs(py): rename to model-conformance-roadmap.md
  py/engdoc/model-conformance-roadmap.md
Owners: @pavelgj

removed stream type param
  go/ai/x/prompt_session_flow_test.go
  go/ai/x/session_flow.go
  go/genkit/genkit.go
Owners: @apascal07

Update action.go
  go/core/action.go
Owners: @apascal07

feat(py): add model conformance test infrastructure
  py/bin/test-model-conformance
  py/tests/conformance/anthropic/conformance_entry.py
  py/tests/conformance/anthropic/model-conformance.yaml
  py/tests/conformance/compat-oai/conformance_entry.py
  py/tests/conformance/compat-oai/model-conformance.yaml
  py/tests/conformance/google-genai/conformance_entry.py
  py/tests/conformance/google-genai/model-conformance.yaml
Owners: @pavelgj, @yesudeep

feat(py/plugins/google-genai): add Imagen support under googleai/ prefix
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/google-genai/tests/google_genai_plugin_test.py
Owners: @pavelgj, @yesudeep

docs(py): add model conformance testing plan for Python plugins
  py/engdoc/model-conformance-roadmap.md
Owners: @pavelgj

docs(py): address review comments on model conformance plan
  py/engdoc/model-conformance-roadmap.md
Owners: @pavelgj

py(firebase): add telemetry extra and lazy-load Google Cloud exporters
  py/plugins/firebase/README.md
  py/plugins/firebase/pyproject.toml
  py/plugins/firebase/src/genkit/plugins/firebase/__init__.py
  py/plugins/firebase/src/genkit/plugins/firebase/tests/telemetry_test.py
  py/plugins/firebase/tests/firebase_plugin_test.py
Owners: @pavelgj, @yesudeep

docs(py): add model conformance testing plan for Python plugins (#4474)
  py/engdoc/model-conformance-roadmap.md
Owners: @pavelgj

fix(py): address lint and review comments for conformance test infra
  py/bin/test-model-conformance
  py/tests/conformance/anthropic/conformance_entry.py
  py/tests/conformance/compat-oai/conformance_entry.py
  py/tests/conformance/google-genai/conformance_entry.py
Owners: @pavelgj, @yesudeep

feat(py/plugins/google-genai): add Imagen support under googleai/ prefix (#4472)
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/google-genai/tests/google_genai_plugin_test.py
Owners: @pavelgj, @yesudeep

fix(py): add nullglob to conformance runner script
  py/bin/test-model-conformance
Owners: @pavelgj

feat(py): add model conformance test infrastructure (#4473)
  py/bin/test-model-conformance
  py/tests/conformance/anthropic/conformance_entry.py
  py/tests/conformance/anthropic/model-conformance.yaml
  py/tests/conformance/compat-oai/conformance_entry.py
  py/tests/conformance/compat-oai/model-conformance.yaml
  py/tests/conformance/google-genai/conformance_entry.py
  py/tests/conformance/google-genai/model-conformance.yaml
Owners: @pavelgj, @yesudeep

fix(py): add --directory flag to uv run in conformance runner
  py/bin/test-model-conformance
Owners: @pavelgj

feat(py): add conformance test specs for all remaining plugins
  py/bin/test-model-conformance
  py/tests/conformance/amazon-bedrock/conformance_entry.py
  py/tests/conformance/amazon-bedrock/model-conformance.yaml
  py/tests/conformance/cloudflare-workers-ai/conformance_entry.py
  py/tests/conformance/cloudflare-workers-ai/model-conformance.yaml
  py/tests/conformance/deepseek/conformance_entry.py
  py/tests/conformance/deepseek/model-conformance.yaml
  py/tests/conformance/huggingface/conformance_entry.py
  py/tests/conformance/huggingface/model-conformance.yaml
  py/tests/conformance/microsoft-foundry/conformance_entry.py
  py/tests/conformance/microsoft-foundry/model-conformance.yaml
  py/tests/conformance/mistral/conformance_entry.py
  py/tests/conformance/mistral/model-conformance.yaml
  py/tests/conformance/ollama/conformance_entry.py
  py/tests/conformance/ollama/model-conformance.yaml
  py/tests/conformance/xai/conformance_entry.py
  py/tests/conformance/xai/model-conformance.yaml
Owners: @pavelgj, @yesudeep

fix(py): address review comments on conformance runner
  py/bin/test-model-conformance
  py/tests/conformance/microsoft-foundry/conformance_entry.py
Owners: @pavelgj, @yesudeep

fix(py): use --project instead of --directory for uv run
  py/bin/test-model-conformance
Owners: @pavelgj

feat(py): add conformance test specs for all remaining plugins (#4476)
  py/bin/test-model-conformance
  py/tests/conformance/amazon-bedrock/conformance_entry.py
  py/tests/conformance/amazon-bedrock/model-conformance.yaml
  py/tests/conformance/cloudflare-workers-ai/conformance_entry.py
  py/tests/conformance/cloudflare-workers-ai/model-conformance.yaml
  py/tests/conformance/deepseek/conformance_entry.py
  py/tests/conformance/deepseek/model-conformance.yaml
  py/tests/conformance/huggingface/conformance_entry.py
  py/tests/conformance/huggingface/model-conformance.yaml
  py/tests/conformance/microsoft-foundry/conformance_entry.py
  py/tests/conformance/microsoft-foundry/model-conformance.yaml
  py/tests/conformance/mistral/conformance_entry.py
  py/tests/conformance/mistral/model-conformance.yaml
  py/tests/conformance/ollama/conformance_entry.py
  py/tests/conformance/ollama/model-conformance.yaml
  py/tests/conformance/xai/conformance_entry.py
  py/tests/conformance/xai/model-conformance.yaml
Owners: @pavelgj, @yesudeep

feat(py/compat-oai): add multimodal model support (image, TTS, STT)
  py/GEMINI.md
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/__init__.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/audio.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/image.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/utils.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/openai_plugin.py
  py/plugins/compat-oai/tests/audio_model_test.py
  py/plugins/compat-oai/tests/image_model_test.py
  py/plugins/compat-oai/tests/plugin_test.py
  py/plugins/compat-oai/tests/utils_test.py
  py/samples/compat-oai-hello/README.md
  py/samples/compat-oai-hello/src/main.py
Owners: @pavelgj, @yesudeep

feat(py/compat-oai): add multimodal model support (image, TTS, STT) (#4477)
  py/GEMINI.md
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/__init__.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/audio.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/image.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/utils.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/openai_plugin.py
  py/plugins/compat-oai/tests/audio_model_test.py
  py/plugins/compat-oai/tests/image_model_test.py
  py/plugins/compat-oai/tests/plugin_test.py
  py/plugins/compat-oai/tests/utils_test.py
  py/samples/compat-oai-hello/README.md
  py/samples/compat-oai-hello/src/main.py
Owners: @pavelgj, @yesudeep

docs(py): update GEMINI.md sample audit policy and conformance roadmap status
  py/GEMINI.md
  py/engdoc/model-conformance-roadmap.md
Owners: @pavelgj, @yesudeep

feat(py/samples): add Imagen flow to media-models-demo and update conformance specs
  py/samples/media-models-demo/README.md
  py/samples/media-models-demo/src/main.py
  py/tests/conformance/compat-oai/model-conformance.yaml
Owners: @pavelgj, @yesudeep

docs(py): update GEMINI.md sample audit policy and conformance roadmap (#4478)
  py/GEMINI.md
  py/engdoc/model-conformance-roadmap.md
Owners: @pavelgj, @yesudeep

feat(py/samples): add Imagen flow to media-models-demo and update conformance specs (#4479)
  py/samples/media-models-demo/README.md
  py/samples/media-models-demo/src/main.py
  py/tests/conformance/compat-oai/model-conformance.yaml
Owners: @pavelgj, @yesudeep

feat(py/plugins): add reasoning_content extraction for DeepSeek R1 models
  py/engdoc/parity-analysis/roadmap.md
  py/plugins/README.md
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/model.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/utils.py
  py/plugins/compat-oai/tests/compat_oai_model_test.py
  py/plugins/compat-oai/tests/tool_calling_test.py
  py/plugins/compat-oai/tests/utils_test.py
  py/plugins/deepseek/src/genkit/plugins/deepseek/__init__.py
  py/plugins/deepseek/src/genkit/plugins/deepseek/model_info.py
  py/plugins/deepseek/src/genkit/plugins/deepseek/models.py
  py/plugins/deepseek/tests/deepseek_plugin_test.py
  py/plugins/deepseek/tests/model_info_test.py
Owners: @pavelgj, @yesudeep

feat(py/plugins): add reasoning_content extraction for DeepSeek R1 models (#4480)
  py/engdoc/parity-analysis/roadmap.md
  py/plugins/README.md
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/model.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/utils.py
  py/plugins/compat-oai/tests/compat_oai_model_test.py
  py/plugins/compat-oai/tests/tool_calling_test.py
  py/plugins/compat-oai/tests/utils_test.py
  py/plugins/deepseek/src/genkit/plugins/deepseek/__init__.py
  py/plugins/deepseek/src/genkit/plugins/deepseek/model_info.py
  py/plugins/deepseek/src/genkit/plugins/deepseek/models.py
  py/plugins/deepseek/tests/deepseek_plugin_test.py
  py/plugins/deepseek/tests/model_info_test.py
Owners: @pavelgj, @yesudeep

docs(py): update roadmap - mark P0/P1 tasks complete with PR references
  py/engdoc/parity-analysis/roadmap.md
Owners: @pavelgj

feat(py/plugins): add Anthropic cache control and PDF document support
  py/plugins/anthropic/src/genkit/plugins/anthropic/models.py
  py/plugins/anthropic/src/genkit/plugins/anthropic/utils.py
  py/plugins/anthropic/tests/models_test.py
  py/plugins/anthropic/tests/utils_test.py
  py/samples/anthropic-hello/README.md
  py/samples/anthropic-hello/src/main.py
Owners: @pavelgj, @yesudeep

feat(py/plugins): add Mistral AI embeddings support (mistral-embed)
  py/plugins/mistral/src/genkit/plugins/mistral/__init__.py
  py/plugins/mistral/src/genkit/plugins/mistral/embeddings.py
  py/plugins/mistral/src/genkit/plugins/mistral/plugin.py
  py/plugins/mistral/tests/mistral_embeddings_test.py
  py/plugins/mistral/tests/mistral_plugin_test.py
  py/samples/mistral-hello/README.md
  py/samples/mistral-hello/src/main.py
Owners: @pavelgj, @yesudeep

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj
