Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

fix: add engine tests
  js/plugins/cloud-sql-pg/test/engine.test.ts
Owners: @pavelgj

fix: skip test if env variables are not found
  js/plugins/cloud-sql-pg/test/engine.test.ts
  js/plugins/cloud-sql-pg/test/index.test.ts
Owners: @pavelgj

fix: formatting fix
  js/plugins/cloud-sql-pg/test/engine.test.ts
  js/plugins/cloud-sql-pg/test/index.test.ts
Owners: @pavelgj

fix: formatting fix
  js/plugins/cloud-sql-pg/jest.config.js
Owners: @pavelgj

Add samples
  go/plugins/mcp/README.md
  go/samples/mcp-client/main.go
  go/samples/mcp-server/README.md
  go/samples/mcp-server/client.go
  go/samples/mcp-server/run-server.sh
  go/samples/mcp-server/server.go
Owners: @pavelgj, @apascal07

fix(js/ai): missing types for uuid module (#3000)
  js/ai/package.json
  js/pnpm-lock.yaml
Owners: @pavelgj

add instructions
  go/samples/mcp-server/README.md
  go/samples/mcp-server/client.go
Owners: @pavelgj, @apascal07

add copyright
  go/samples/mcp-server/client.go
  go/samples/mcp-server/server.go
Owners: @apascal07

fix(go/plugins/googlegenai): Tool calls with streaming (#2980)
  go/plugins/googlegenai/gemini.go
Owners: @apascal07

resolve model in reflection server
  go/genkit/genkit.go
  go/genkit/reflection.go
  go/plugins/googlegenai/googlegenai.go
Owners: @apascal07

chore: update to pnpm v10.11
  genkit-tools/package.json
  js/package.json
  package.json
Owners: @pavelgj

Expose DefineToolWithInputSchema on genkit surface
  go/genkit/genkit.go
  go/plugins/mcp/tools.go
Owners: @apascal07

chore: update to pnpm v10.11 (#3003)
  genkit-tools/package.json
  js/package.json
  package.json
Owners: @pavelgj

fix(js/ai): missing types for uuid module (#3000) (#3001)
  js/ai/package.json
  js/pnpm-lock.yaml
Owners: @pavelgj

Update tools.go
  go/plugins/mcp/tools.go
Owners: @apascal07

fix(js/plugins/vertexai): use googleSearch tool (instead of googleSearchRetrieval) for newer models
  js/plugins/vertexai/src/gemini.ts
  js/testapps/flow-simple-ai/src/index.ts
Owners: @pavelgj

chaneg in custom config for embedder
  go/ai/embedder.go
  go/ai/gen.go
  go/core/action.go
  go/plugins/googlegenai/gemini.go
Owners: @apascal07

chore(py): update multidict and other deps #2987 (#2991)
  py/pyproject.toml
  py/uv.lock
Owners: @pavelgj, @yesudeep

fix(cli): fixed telemetry server saving spans that get filtered (#2979)
  genkit-tools/telemetry-server/src/localFileTraceStore.ts
  genkit-tools/telemetry-server/tests/file_store_test.ts
  genkit-tools/telemetry-server/tests/utils.ts
Owners: @pavelgj

Update js/testapps/flow-simple-ai/src/index.ts
  js/testapps/flow-simple-ai/src/index.ts
Owners: @pavelgj

fix(js/plugins/vertexai): use googleSearch tool (instead of googleSearchRetrieval) for newer models (#3005)
  js/plugins/vertexai/src/gemini.ts
  js/testapps/flow-simple-ai/src/index.ts
Owners: @pavelgj

fix(js): fix up invalid tsconfig shipped on npm (#2973)
  genkit-tools/cli/.npmignore
  genkit-tools/common/.npmignore
  genkit-tools/telemetry-server/.npmignore
  genkit-tools/telemetry-server/tsconfig copy.json
  js/core/.npmignore
  js/genkit/.npmignore
  js/plugins/checks/.npmignore
  js/plugins/chroma/.npmignore
  js/plugins/dev-local-vectorstore/.npmignore
  js/plugins/evaluators/.npmignore
  js/plugins/express/.npmignore
  js/plugins/google-cloud/.npmignore
  js/plugins/googleai/.npmignore
  js/plugins/langchain/.npmignore
  js/plugins/mcp/.npmignore
  js/plugins/next/.npmignore
  js/plugins/ollama/.npmignore
  js/plugins/pinecone/.npmignore
  js/plugins/vertexai/.npmignore
Owners: @pavelgj

feat(js/plugins/mcp): Refactor to a client manager structure, with dynamic tool calling. (#2884)
  .github/workflows/bump-js-version.yml
  js/genkit/src/common.ts
  js/plugins/mcp/README.md
  js/plugins/mcp/examples/client/index.js
  js/plugins/mcp/examples/client/package.json
  js/plugins/mcp/examples/server/index.js
  js/plugins/mcp/examples/server/package.json
  js/plugins/mcp/package.json
  js/plugins/mcp/src/client/client.ts
  js/plugins/mcp/src/client/index.ts
  js/plugins/mcp/src/client/legacy.ts
  js/plugins/mcp/src/client/manager.ts
  js/plugins/mcp/src/client/prompts.ts
  js/plugins/mcp/src/client/resources.ts
  js/plugins/mcp/src/index.ts
  js/plugins/mcp/src/server.ts
  js/plugins/mcp/src/util/index.ts
  js/plugins/mcp/src/util/message.ts
  js/plugins/mcp/src/util/prompts.ts
  js/plugins/mcp/src/util/resources.ts
  js/plugins/mcp/src/util/tools.ts
  js/plugins/mcp/src/util/transport.ts
  js/plugins/mcp/tests/fakes.ts
  js/plugins/mcp/tests/manager_test.ts
  js/plugins/mcp/tests/server_test.ts
  js/pnpm-lock.yaml
  js/testapps/esm/package.json
  js/testapps/esm/src/index.ts
  js/testapps/mcp/README.md
  js/testapps/mcp/package.json
  js/testapps/mcp/src/index.ts
  js/testapps/mcp/test-workspace/hello-world.txt
  js/testapps/mcp/tsconfig.json
Owners: @pavelgj

fix
  go/plugins/mcp/tools.go
Owners: @apascal07

chore: bump @genkit-ai/tools-common version to @genkit-ai/tools-common@1.11.0-rc.0
  genkit-tools/common/package.json
Owners: @pavelgj

chore: bump genkit-cli version to genkit-cli@1.11.0-rc.0
  genkit-tools/cli/package.json
Owners: @pavelgj

chore: bump @genkit-ai/telemetry-server version to @genkit-ai/telemetry-server@1.11.0-rc.0
  genkit-tools/telemetry-server/package.json
Owners: @pavelgj

chore: bump @genkit-ai/core version to @genkit-ai/core@1.11.0-rc.0
  js/core/package.json
Owners: @pavelgj

chore: bump @genkit-ai/ai version to @genkit-ai/ai@1.11.0-rc.0
  js/ai/package.json
Owners: @pavelgj

chore: bump genkit version to genkit@1.11.0-rc.0
  js/genkit/package.json
Owners: @pavelgj

chore: bump genkitx-chromadb version to genkitx-chromadb@1.11.0-rc.0
  js/plugins/chroma/package.json
Owners: @pavelgj

chore: bump @genkit-ai/dev-local-vectorstore version to @genkit-ai/dev-local-vectorstore@1.11.0-rc.0
  js/plugins/dev-local-vectorstore/package.json
Owners: @pavelgj

chore: bump @genkit-ai/evaluator version to @genkit-ai/evaluator@1.11.0-rc.0
  js/plugins/evaluators/package.json
Owners: @pavelgj

chore: bump @genkit-ai/firebase version to @genkit-ai/firebase@1.11.0-rc.0
  js/plugins/firebase/package.json
Owners: @pavelgj

chore: bump @genkit-ai/google-cloud version to @genkit-ai/google-cloud@1.11.0-rc.0
  js/plugins/google-cloud/package.json
Owners: @pavelgj

chore: bump @genkit-ai/googleai version to @genkit-ai/googleai@1.11.0-rc.0
  js/plugins/googleai/package.json
Owners: @pavelgj

chore: bump genkitx-langchain version to genkitx-langchain@1.11.0-rc.0
  js/plugins/langchain/package.json
Owners: @pavelgj

chore: bump @genkit-ai/next version to @genkit-ai/next@1.11.0-rc.0
  js/plugins/next/package.json
Owners: @pavelgj

chore: bump genkitx-ollama version to genkitx-ollama@1.11.0-rc.0
  js/plugins/ollama/package.json
Owners: @pavelgj

chore: bump genkitx-pinecone version to genkitx-pinecone@1.11.0-rc.0
  js/plugins/pinecone/package.json
Owners: @pavelgj

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj
