Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj

formatting
  js/testapps/basic-gemini/src/index-vertexai.ts
  samples/js-gemini/package.json
Owners: @pavelgj

lock file
  js/pnpm-lock.yaml
Owners: @pavelgj

update comments
  go/ai/format_array.go
  go/ai/format_jsonl.go
  go/internal/base/json.go
  go/internal/base/json_test.go
Owners: @apascal07

chore(js/plugins/google-genai): Migrate to V2 plugin. (#3649)
  js/plugins/google-genai/src/googleai/embedder.ts
  js/plugins/google-genai/src/googleai/gemini.ts
  js/plugins/google-genai/src/googleai/imagen.ts
  js/plugins/google-genai/src/googleai/index.ts
  js/plugins/google-genai/src/googleai/veo.ts
  js/plugins/google-genai/src/vertexai/embedder.ts
  js/plugins/google-genai/src/vertexai/gemini.ts
  js/plugins/google-genai/src/vertexai/imagen.ts
  js/plugins/google-genai/src/vertexai/index.ts
  js/plugins/google-genai/src/vertexai/lyria.ts
  js/plugins/google-genai/src/vertexai/veo.ts
  js/plugins/google-genai/tests/googleai/embedder_test.ts
  js/plugins/google-genai/tests/googleai/gemini_test.ts
  js/plugins/google-genai/tests/googleai/imagen_test.ts
  js/plugins/google-genai/tests/googleai/index_test.ts
  js/plugins/google-genai/tests/googleai/veo_test.ts
  js/plugins/google-genai/tests/vertexai/embedder_test.ts
  js/plugins/google-genai/tests/vertexai/gemini_test.ts
  js/plugins/google-genai/tests/vertexai/imagen_test.ts
  js/plugins/google-genai/tests/vertexai/index_test.ts
  js/plugins/google-genai/tests/vertexai/lyria_test.ts
  js/plugins/google-genai/tests/vertexai/veo_test.ts
  js/pnpm-lock.yaml
  js/testapps/basic-gemini/my_room.png
  js/testapps/basic-gemini/package.json
  js/testapps/basic-gemini/palm_tree.png
  js/testapps/basic-gemini/photo.jpg
  js/testapps/basic-gemini/src/index-vertexai.ts
  js/testapps/basic-gemini/src/index.ts
  samples/package.json
Owners: @pavelgj

feat(js/plugins/google-genai): Added videoMetadata for vertexai
  js/plugins/google-genai/src/common/converters.ts
  js/plugins/google-genai/src/common/types.ts
  js/plugins/google-genai/tests/common/converters_test.ts
  js/testapps/basic-gemini/src/index-vertexai.ts
Owners: @pavelgj

typedoc and fixing the types
  js/plugins/google-genai/src/common/converters.ts
  js/plugins/google-genai/src/common/types.ts
  js/plugins/google-genai/tests/common/converters_test.ts
Owners: @pavelgj

metadata for youtube video too
  js/testapps/basic-gemini/src/index-vertexai.ts
Owners: @pavelgj

formatting again
  js/testapps/basic-gemini/src/index-vertexai.ts
Owners: @pavelgj

fix(genkit-tools): properly export ReasoningPart
  genkit-tools/common/src/types/model.ts
Owners: @pavelgj

fix(genkit-tools): properly export ReasoningPart (#3662)
  genkit-tools/common/src/types/model.ts
Owners: @pavelgj

feat(js/plugins/google-genai): Added videoMetadata for vertexai (#3660)
  js/plugins/google-genai/src/common/converters.ts
  js/plugins/google-genai/src/common/types.ts
  js/plugins/google-genai/tests/common/converters_test.ts
  js/testapps/basic-gemini/src/index-vertexai.ts
Owners: @pavelgj

feat(js/core): Add dynamic-action-provider support (#3598)
  js/ai/src/generate.ts
  js/ai/src/generate/action.ts
  js/ai/src/model-types.ts
  js/ai/src/resource.ts
  js/ai/src/tool.ts
  js/ai/tests/generate/generate_test.ts
  js/ai/tests/resource/resource_test.ts
  js/core/src/dynamic-action-provider.ts
  js/core/src/index.ts
  js/core/src/registry.ts
  js/core/src/schema.ts
  js/core/tests/dynamic-action-provider_test.ts
  js/genkit/src/common.ts
  js/genkit/src/genkit.ts
  js/plugins/mcp/src/client/client.ts
  js/plugins/mcp/src/client/host.ts
  js/plugins/mcp/src/client/index.ts
  js/plugins/mcp/src/index.ts
  js/plugins/mcp/src/server.ts
  js/testapps/mcp/src/index.ts
Owners: @pavelgj

refactor(plugins/vertexai): migrate to v2 API (#3487)
  js/plugins/vertexai/src/embedder.ts
  js/plugins/vertexai/src/evaluation/evaluation.ts
  js/plugins/vertexai/src/evaluation/evaluator_factory.ts
  js/plugins/vertexai/src/evaluation/index.ts
  js/plugins/vertexai/src/gemini.ts
  js/plugins/vertexai/src/imagen.ts
  js/plugins/vertexai/src/index.ts
  js/plugins/vertexai/src/modelgarden/anthropic.ts
  js/plugins/vertexai/src/modelgarden/index.ts
  js/plugins/vertexai/src/modelgarden/mistral.ts
  js/plugins/vertexai/src/modelgarden/model_garden.ts
  js/plugins/vertexai/src/modelgarden/openai_compatibility.ts
  js/plugins/vertexai/src/rerankers/index.ts
  js/plugins/vertexai/src/rerankers/reranker.ts
Owners: @pavelgj

feat(js/plugins/google-genai): Added support for Google Maps
  js/plugins/google-genai/src/common/types.ts
  js/plugins/google-genai/src/vertexai/gemini.ts
  js/plugins/google-genai/src/vertexai/types.ts
  js/plugins/google-genai/tests/vertexai/gemini_test.ts
  js/testapps/basic-gemini/package.json
  js/testapps/basic-gemini/src/index-vertexai.ts
Owners: @pavelgj

review changes
  js/plugins/google-genai/src/vertexai/gemini.ts
Owners: @pavelgj

chore(cli): added --no-analytics flag to the cli
  genkit-tools/cli/src/cli.ts
  genkit-tools/common/src/utils/analytics.ts
Owners: @pavelgj

fix(go/ai): enable use of media URIs in prompts (#3630)
  go/ai/prompt.go
  go/samples/prompts/main.go
  go/samples/prompts/prompts/media.prompt
  go/samples/prompts/prompts/multi-msg.prompt
Owners: @apascal07, @pavelgj

remove new line chars from parsed json markdown
  go/internal/base/json.go
  go/internal/base/json_test.go
Owners: @apascal07

fix non-interactive instead
  genkit-tools/cli/src/cli.ts
  genkit-tools/common/src/utils/analytics.ts
Owners: @pavelgj

fmt
  genkit-tools/cli/src/cli.ts
  genkit-tools/common/src/utils/analytics.ts
Owners: @pavelgj

feat(js/plugins/google-genai): Added support for Google Maps (#3665)
  js/plugins/google-genai/src/common/types.ts
  js/plugins/google-genai/src/vertexai/gemini.ts
  js/plugins/google-genai/src/vertexai/types.ts
  js/plugins/google-genai/tests/vertexai/gemini_test.ts
  js/testapps/basic-gemini/package.json
  js/testapps/basic-gemini/src/index-vertexai.ts
Owners: @pavelgj

fix(cli): fixed --non-interactive flag (#3666)
  genkit-tools/cli/src/cli.ts
  genkit-tools/common/src/utils/analytics.ts
Owners: @pavelgj

Revert "refactor(plugins/vertexai): migrate to v2 API (#3487)"
  js/plugins/vertexai/src/embedder.ts
  js/plugins/vertexai/src/evaluation/evaluation.ts
  js/plugins/vertexai/src/evaluation/evaluator_factory.ts
  js/plugins/vertexai/src/evaluation/index.ts
  js/plugins/vertexai/src/gemini.ts
  js/plugins/vertexai/src/imagen.ts
  js/plugins/vertexai/src/index.ts
  js/plugins/vertexai/src/modelgarden/anthropic.ts
  js/plugins/vertexai/src/modelgarden/index.ts
  js/plugins/vertexai/src/modelgarden/mistral.ts
  js/plugins/vertexai/src/modelgarden/model_garden.ts
  js/plugins/vertexai/src/modelgarden/openai_compatibility.ts
  js/plugins/vertexai/src/rerankers/index.ts
  js/plugins/vertexai/src/rerankers/reranker.ts
Owners: @pavelgj

Revert "refactor(plugins/vertexai): migrate to v2 API" (#3667)
  js/plugins/vertexai/src/embedder.ts
  js/plugins/vertexai/src/evaluation/evaluation.ts
  js/plugins/vertexai/src/evaluation/evaluator_factory.ts
  js/plugins/vertexai/src/evaluation/index.ts
  js/plugins/vertexai/src/gemini.ts
  js/plugins/vertexai/src/imagen.ts
  js/plugins/vertexai/src/index.ts
  js/plugins/vertexai/src/modelgarden/anthropic.ts
  js/plugins/vertexai/src/modelgarden/index.ts
  js/plugins/vertexai/src/modelgarden/mistral.ts
  js/plugins/vertexai/src/modelgarden/model_garden.ts
  js/plugins/vertexai/src/modelgarden/openai_compatibility.ts
  js/plugins/vertexai/src/rerankers/index.ts
  js/plugins/vertexai/src/rerankers/reranker.ts
Owners: @pavelgj

update test cases to ignore new lines
  go/ai/formatter_test.go
  go/ai/generate_test.go
Owners: @apascal07

chore(js/plugins/google-genai): Make sure all config is passthrough
  js/plugins/google-genai/src/googleai/gemini.ts
  js/plugins/google-genai/src/vertexai/gemini.ts
  js/plugins/google-genai/src/vertexai/imagen.ts
Owners: @pavelgj

chore(js/plugins/google-genai): Make sure all config is passthrough (#3668)
  js/plugins/google-genai/src/googleai/gemini.ts
  js/plugins/google-genai/src/vertexai/gemini.ts
  js/plugins/google-genai/src/vertexai/imagen.ts
Owners: @pavelgj

fix(go/internal): refine `JSON` markdown detection (#3661)
  go/ai/format_array.go
  go/ai/format_jsonl.go
  go/ai/formatter_test.go
  go/ai/generate_test.go
  go/internal/base/json.go
  go/internal/base/json_test.go
Owners: @apascal07

Update version.go
  go/internal/version.go
Owners: @apascal07

chore(go): update version (#3669)
  go/internal/version.go
Owners: @apascal07

update gemini models
  go/plugins/googlegenai/models.go
Owners: @apascal07

added new gemini flash preview models.
  go/plugins/googlegenai/models.go
Owners: @apascal07

ci: bump action scripts versions
  .github/workflows/build-cli-binaries.yml
  .github/workflows/builder.yml
  .github/workflows/bump-cli-version.yml
  .github/workflows/bump-js-version.yml
  .github/workflows/bump-package-version.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/engdoc.yml
  .github/workflows/formatter.yml
  .github/workflows/go.yml
  .github/workflows/publish_python.yml
  .github/workflows/python.yml
  .github/workflows/release_js_main.yml
  .github/workflows/release_js_package.yml
  .github/workflows/samples.yml
  .github/workflows/tests.yml
Owners: @pavelgj

fix(go/plugins/googlegenai): parse anyOf in schemas
  go/plugins/googlegenai/gemini.go
  go/plugins/googlegenai/gemini_test.go
Owners: @apascal07

fix: messages roles in dotprompt rendering
  go/ai/prompt.go
  go/ai/prompt_test.go
Owners: @apascal07

a
  BETA_API_DESIGN_RECOMMENDATIONS.md
  CODE_EXECUTION_VERIFICATION_REPORT.md
Owners: @pavelgj

fix(plugins/checks): keeps behaviour after refactoring consistent
  js/plugins/checks/src/index.ts
Owners: @pavelgj

(js/plugins/ollama): ensure all embeddings tests are executed
  js/plugins/ollama/tests/embeddings_test.ts
Owners: @pavelgj

tests(js/plugins/ollama): add tests to cover cases when genkit isnt initialized
  js/plugins/ollama/tests/embeddings_test.ts
Owners: @pavelgj

tests(js/plugins/ollama): add live tests
  js/plugins/ollama/tests/embedding_live_test.ts
Owners: @pavelgj
