Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj

fix(py/genkit): update uv.lock for 0.3.1 (#2728)
  py/pyproject.toml
  py/uv.lock
Owners: @pavelgj, @yesudeep

docs(py): fixed list rendering in getting started (and min py version)
  py/docs/get-started.md
Owners: @pavelgj

docs(py): fixed list rendering in getting started (and min py version) (#2729)
  py/docs/get-started.md
Owners: @pavelgj

fix(go): use GeminiConfig in cache live tests
  go/plugins/googlegenai/googleai_live_test.go
  go/plugins/googlegenai/vertexai_live_test.go
  go/samples/menu/s05.go
Owners: @apascal07

fix(go): use `GeminiConfig` in cache live tests (#2730)
  go/plugins/googlegenai/googleai_live_test.go
  go/plugins/googlegenai/vertexai_live_test.go
  go/samples/menu/s05.go
Owners: @apascal07

fix(py/genkit): `ai.run()` -> `ai.run_main()` and fix docstrings/commentary.
  py/packages/genkit/src/genkit/ai/_base.py
  py/packages/genkit/src/genkit/ai/_base_async.py
  py/packages/genkit/src/genkit/ai/_runtime.py
  py/samples/firestore-retreiver/src/main.py
  py/samples/google-genai-context-caching/src/context_caching.py
  py/samples/short-n-long/README.md
  py/samples/short-n-long/src/short_n_long/main.py
Owners: @pavelgj, @yesudeep

fix(py/genkit): `ai.run()` -> `ai.run_main()` and fix docstrings/commentary. (#2731)
  py/packages/genkit/src/genkit/ai/_base.py
  py/packages/genkit/src/genkit/ai/_base_async.py
  py/packages/genkit/src/genkit/ai/_runtime.py
  py/samples/firestore-retreiver/src/main.py
  py/samples/google-genai-context-caching/src/context_caching.py
  py/samples/short-n-long/README.md
  py/samples/short-n-long/src/short_n_long/main.py
Owners: @pavelgj, @yesudeep

Expose newest Image 3 model
  js/plugins/vertexai/src/imagen.ts
Owners: @pavelgj

docs(samples): fix broken links to samples
  README.md
Owners: @pavelgj

Migrated oai initialization out of embedder
  go/plugins/compat_oai/openai/openai_live_test.go
Owners: @apascal07

Simplify syntax for interacting with code execution
  go/plugins/googlegenai/gemini.go
  go/samples/code-execution-gemini/main.go
Owners: @apascal07

chore: bump @genkit-ai/tools-common version to @genkit-ai/tools-common@1.6.1
  genkit-tools/common/package.json
Owners: @pavelgj

chore: bump genkit-cli version to genkit-cli@1.6.1
  genkit-tools/cli/package.json
Owners: @pavelgj

chore: bump @genkit-ai/telemetry-server version to @genkit-ai/telemetry-server@1.6.1
  genkit-tools/telemetry-server/package.json
Owners: @pavelgj

chore: create python issue template
  .github/ISSUE_TEMPLATE/py-runtime-bug-report.md
Owners: @pavelgj

Update gemini.go
  go/plugins/googlegenai/gemini.go
Owners: @apascal07

feat(go/plugins/googlegenai): Add code execution support (#2719)
  go/ai/document.go
  go/plugins/googlegenai/gemini.go
  go/samples/code-execution-gemini/main.go
Owners: @apascal07

fix(py/core): improve handling of missing GENKIT_TELEMETRY_SERVER env var
  py/packages/genkit/src/genkit/core/tracing.py
Owners: @pavelgj, @yesudeep

fix(py/core): improve handling of missing GENKIT_TELEMETRY_SERVER env var (#2737)
  py/packages/genkit/src/genkit/core/tracing.py
Owners: @pavelgj, @yesudeep

feat(tooling): delete eval runs
  genkit-tools/common/src/eval/localFileEvalStore.ts
  genkit-tools/common/src/types/eval.ts
  genkit-tools/common/tests/eval/localFileEvalStore_test.ts
Owners: @pavelgj

Refactoring of firbase Firestore plugin in plugin interface form
  go/plugins/firebase/auth.go
  go/plugins/firebase/firebase.go
  go/plugins/firebase/firebase_init_test.go
  go/plugins/firebase/retriever.go
  go/samples/firebase-retrievers/main.go
Owners: @apascal07

chore(genkit-tools/common): update @trpc/server to 10.45.2
  genkit-tools/common/package.json
  genkit-tools/pnpm-lock.yaml
Owners: @pavelgj

addition of dummy client
  go/plugins/firebase/firebase_init_test.go
Owners: @apascal07

chore(genkit-tools/common): update @trpc/server to 10.45.2 (#2738)
  genkit-tools/common/package.json
  genkit-tools/pnpm-lock.yaml
Owners: @pavelgj

Update version.go
  go/internal/version.go
Owners: @apascal07

chore(go): Incremented version (#2740)
  go/internal/version.go
Owners: @apascal07

Enable the ContextProvider and make the firbase app singleton declaration
  go/plugins/firebase/auth.go
  go/plugins/firebase/firebase.go
  go/plugins/firebase/firebase_init_test.go
  go/samples/firebase-retrievers/main.go
Owners: @apascal07

refactored App function
  go/plugins/firebase/auth.go
  go/plugins/firebase/firebase.go
Owners: @apascal07

fix: PR feedback
  go/plugins/compat_oai/compat_oai.go
  go/plugins/compat_oai/generate.go
  go/plugins/compat_oai/openai/openai.go
  go/samples/compat_oai/anthropic/main.go
  go/samples/compat_oai/openai/main.go
Owners: @apascal07

fix: forward options
  go/plugins/compat_oai/openai/openai.go
Owners: @apascal07

fix: test
  go/plugins/compat_oai/generate.go
  go/plugins/compat_oai/generate_live_test.go
Owners: @apascal07

fix: review comments
  go/plugins/googlegenai/gemini.go
  go/samples/imagen-gemini/main.go
Owners: @apascal07

feat(py/genkit): Look Ma! No threads!
  py/packages/genkit/src/genkit/core/reflection.py
  py/packages/genkit/src/genkit/web/asgi.py
Owners: @pavelgj, @yesudeep

fix(py/genkit): logging and coding guidelines should specify python 3.10 as base version
  py/engdoc/contributing/coding_guidelines.md
  py/packages/genkit/src/genkit/ai/_base_async.py
  py/packages/genkit/src/genkit/core/tracing.py
Owners: @pavelgj, @yesudeep

Change of name from Firestor to firebase
  go/plugins/firebase/firebase.go
  go/plugins/firebase/firebase_init_test.go
  go/samples/firebase-retrievers/main.go
Owners: @apascal07

Added formatter support for json arrays and enums
  go/ai/format_array.go
  go/ai/format_enum.go
  go/ai/formatter.go
  go/ai/formatter_test.go
  go/internal/base/json.go
Owners: @apascal07

feat(go/genkit): Add action context example
  go/samples/partials-and-helpers/main.go
Owners: @apascal07

feat(go/genkit): Add action context example
  go/samples/partials-and-helpers/main.go
Owners: @apascal07

handling of error if reinit
  go/plugins/firebase/firebase.go
Owners: @apascal07

initilizing the firestore client in firbase init
  go/plugins/firebase/firebase.go
  go/plugins/firebase/retriever.go
  go/samples/firebase-retrievers/main.go
Owners: @apascal07
