Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

feat: Add Cloud SQL for PostgreSQL plugin with indexer and retriever implementations
  docs/plugins/cloud-sql-pg.md
  js/plugins/cloud-sql-pg/README.md
  js/plugins/cloud-sql-pg/jest.config.js
  js/plugins/cloud-sql-pg/package.json
  js/plugins/cloud-sql-pg/src/engine.ts
  js/plugins/cloud-sql-pg/src/index.ts
  js/plugins/cloud-sql-pg/src/utils/index.ts
  js/plugins/cloud-sql-pg/test/engine.test.ts
  js/plugins/cloud-sql-pg/test/indexer.test.ts
Owners: @pavelgj

added comments
  go/ai/tools.go
  go/core/action.go
  go/genkit/genkit.go
Owners: @apascal07

add prompts, error handling/logging
  js/core/package.json
  js/plugins/mcp/src/client/client.ts
  js/plugins/mcp/src/client/manager.ts
  js/plugins/mcp/src/util/prompts.ts
  js/pnpm-lock.yaml
Owners: @pavelgj

fix(go/gemini): runtime panic if no candidates returned
  go/plugins/googlegenai/gemini.go
Owners: @apascal07

add dynamic plugin functions
  go/plugins/googlegenai/googlegenai.go
Owners: @apascal07

feat(py): Add dynamic model registry for vertex ai plugin
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/plugins/google-genai/test/models/test_googlegenai_gemini.py
  py/plugins/google-genai/test/test_google_plugin.py
Owners: @pavelgj, @yesudeep

more fixes
  js/plugins/mcp/package.json
  js/plugins/mcp/src/util/prompts.ts
  js/pnpm-lock.yaml
Owners: @pavelgj

format
  js/plugins/mcp/src/util/prompts.ts
Owners: @pavelgj

feat(py): unify vertexai plugins
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/embedder.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/imagen.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/utils.py
  py/plugins/vertex-ai/pyproject.toml
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/__init__.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/embedding.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/gemini.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/imagen.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/plugin_api.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/vector_search/vector_search.py
  py/plugins/vertex-ai/tests/test_embeddings.py
  py/plugins/vertex-ai/tests/test_gemini.py
  py/plugins/vertex-ai/tests/test_imagen.py
  py/samples/vertex-ai-imagen/LICENSE
  py/samples/vertex-ai-imagen/README.md
  py/samples/vertex-ai-imagen/pyproject.toml
  py/samples/vertex-ai-imagen/src/vertex_ai_imagen_sample.py
  py/samples/vertex-ai-vector-search-bigquery/pyproject.toml
  py/samples/vertex-ai-vector-search-bigquery/src/sample.py
  py/samples/vertex-ai-vector-search-bigquery/src/setup_env.py
  py/samples/vertex-ai-vector-search-firestore/pyproject.toml
  py/samples/vertex-ai-vector-search-firestore/src/sample.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

fix: typo
  py/bin/build_dists
Owners: @pavelgj

format
  js/plugins/mcp/README.md
  js/plugins/mcp/src/client/client.ts
  js/plugins/mcp/src/client/manager.ts
  js/plugins/mcp/src/index.ts
  js/plugins/mcp/src/util/resources.ts
Owners: @pavelgj

minor fixes
  go/plugins/googlegenai/imagen.go
  go/plugins/googlegenai/models.go
Owners: @apascal07

add imagen sample using VertexAI
  go/plugins/googlegenai/imagen.go
  go/samples/imagen/image.png
  go/samples/imagen/main.go
Owners: @apascal07, @pavelgj

remove test image
  go/samples/imagen/image.png
Owners: @pavelgj

fix flow sample output
  go/samples/imagen/main.go
Owners: @apascal07

render generated images in the flow view
  go/samples/imagen/main.go
Owners: @apascal07

feat(go): added tests and readme
  docs-go/plugins/postgresql.md
  go/plugins/postgresql/docstore.go
  go/plugins/postgresql/genkit.go
  go/plugins/postgresql/genkit_test.go
  go/plugins/postgresql/indexer.go
  go/plugins/postgresql/retriever.go
Owners: @pavelgj, @apascal07

Update package.json
  js/plugins/cloud-sql-pg/package.json
Owners: @pavelgj

Update jest.config.js
  js/plugins/cloud-sql-pg/jest.config.js
Owners: @pavelgj

"chore(go): added documentation
  docs-go/plugins/alloydb.md
  go/plugins/alloydb/constants.go
  go/plugins/alloydb/distance_strategy.go
  go/plugins/alloydb/docstore.go
  go/plugins/alloydb/engine.go
  go/plugins/alloydb/engine_test.go
  go/plugins/alloydb/genkit.go
  go/plugins/alloydb/genkit_test.go
  go/plugins/alloydb/indexer.go
  go/plugins/alloydb/indexer_test.go
  go/plugins/alloydb/mocks.go
  go/plugins/alloydb/options.go
  go/plugins/alloydb/retriever.go
  go/plugins/alloydb/retriever_test.go
  go/plugins/postgresql/genkit.go
  go/plugins/postgresql/genkit_test.go
  go/plugins/postgresql/indexer.go
  go/plugins/postgresql/retriever.go
Owners: @pavelgj, @apascal07

refactor: Restructure engine and indexer files for improved organization
  js/plugins/cloud-sql-pg/src/engine.ts
  js/plugins/cloud-sql-pg/src/index.ts
  js/plugins/cloud-sql-pg/src/utils/index.ts
  js/plugins/cloud-sql-pg/test/engine.test.ts
  js/plugins/cloud-sql-pg/test/index.test.ts
  js/plugins/cloud-sql-pg/test/indexer.test.ts
Owners: @pavelgj

rollback: files deleted
  go/plugins/postgresql/genkit.go
  go/plugins/postgresql/genkit_test.go
  go/plugins/postgresql/indexer.go
  go/plugins/postgresql/retriever.go
Owners: @apascal07

chore: Remove outdated indexer integration test file
  js/plugins/cloud-sql-pg/test/indexer.test.ts
Owners: @pavelgj

feat(py): unify vertexai plugins (#2927)
  py/bin/build_dists
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/embedder.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/imagen.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/utils.py
  py/plugins/vertex-ai/pyproject.toml
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/__init__.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/embedding.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/gemini.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/imagen.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/plugin_api.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/vector_search/vector_search.py
  py/plugins/vertex-ai/tests/test_embeddings.py
  py/plugins/vertex-ai/tests/test_gemini.py
  py/plugins/vertex-ai/tests/test_imagen.py
  py/samples/vertex-ai-imagen/LICENSE
  py/samples/vertex-ai-imagen/README.md
  py/samples/vertex-ai-imagen/pyproject.toml
  py/samples/vertex-ai-imagen/src/vertex_ai_imagen_sample.py
  py/samples/vertex-ai-vector-search-bigquery/pyproject.toml
  py/samples/vertex-ai-vector-search-bigquery/src/sample.py
  py/samples/vertex-ai-vector-search-bigquery/src/setup_env.py
  py/samples/vertex-ai-vector-search-firestore/pyproject.toml
  py/samples/vertex-ai-vector-search-firestore/src/sample.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

Squashed commit of the following:
  py/bin/build_dists
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/embedder.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/imagen.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/utils.py
  py/plugins/vertex-ai/pyproject.toml
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/__init__.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/embedding.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/gemini.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/imagen.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/plugin_api.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/vector_search/vector_search.py
  py/plugins/vertex-ai/tests/test_embeddings.py
  py/plugins/vertex-ai/tests/test_gemini.py
  py/plugins/vertex-ai/tests/test_imagen.py
  py/samples/vertex-ai-imagen/LICENSE
  py/samples/vertex-ai-imagen/README.md
  py/samples/vertex-ai-imagen/pyproject.toml
  py/samples/vertex-ai-imagen/src/vertex_ai_imagen_sample.py
  py/samples/vertex-ai-vector-search-bigquery/pyproject.toml
  py/samples/vertex-ai-vector-search-bigquery/src/sample.py
  py/samples/vertex-ai-vector-search-bigquery/src/setup_env.py
  py/samples/vertex-ai-vector-search-firestore/pyproject.toml
  py/samples/vertex-ai-vector-search-firestore/src/sample.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

fix: delete unused file
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/constants.py
Owners: @pavelgj, @yesudeep

feat(py): Adding vertexai plugin dynamic model registry (#2926)
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/plugins/google-genai/test/models/test_googlegenai_gemini.py
  py/plugins/google-genai/test/test_google_plugin.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/constants.py
Owners: @pavelgj, @yesudeep

undo zod version
  js/core/package.json
  js/pnpm-lock.yaml
Owners: @pavelgj

readme update
  js/plugins/mcp/README.md
Owners: @pavelgj

fix: add tests and fixes
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/imagen.py
  py/plugins/google-genai/test/models/test_googlegenai_gemini.py
  py/plugins/google-genai/test/test_google_plugin.py
Owners: @pavelgj, @yesudeep

linters
  py/plugins/google-genai/test/models/test_googlegenai_gemini.py
  py/plugins/google-genai/test/test_google_plugin.py
Owners: @pavelgj, @yesudeep

fix: tests
  py/plugins/google-genai/test/test_google_plugin.py
Owners: @pavelgj, @yesudeep

Add dynamic model registration (goooglegenai)
  go/plugins/googlegenai/googlegenai.go
  go/plugins/googlegenai/models.go
Owners: @apascal07

fix: run format
  js/plugins/compat-oai/jest.config.js
  js/plugins/compat-oai/src/dalle.ts
  js/plugins/compat-oai/src/embedder.ts
  js/plugins/compat-oai/src/gpt.test.ts
  js/plugins/compat-oai/src/gpt.ts
  js/plugins/compat-oai/src/index.ts
  js/plugins/compat-oai/src/whisper.ts
  js/testapps/compat-oai/src/index.ts
Owners: @pavelgj

Refactor code structure for improved readability and maintainability
  js/plugins/cloud-sql-pg/package.json
  js/pnpm-lock.yaml
Owners: @pavelgj

feature: added command argument values to pipeline
  go/plugins/postgresql/integration.cloudbuild.yaml
Owners: @pavelgj

feat(go): added command args for alloydb tests
  go/plugins/postgresql/integration.cloudbuild.yaml
Owners: @pavelgj

chore(js/plugins/{googleai/vertexai}): added google search options to gemini config schema
  js/plugins/googleai/src/gemini.ts
  js/plugins/vertexai/src/gemini.ts
Owners: @pavelgj

undo googleai
  js/plugins/vertexai/src/gemini.ts
Owners: @pavelgj

removed disableAttribution
  js/plugins/googleai/src/gemini.ts
Owners: @pavelgj

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj
