Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

feat(py/plugins/flask): implemented simple flask plugin (#2554)
  py/packages/genkit-ai/src/genkit/aio/loop.py
  py/packages/genkit-ai/src/genkit/core/action/_action.py
  py/packages/genkit-ai/src/genkit/core/error.py
  py/packages/genkit-ai/src/genkit/core/flows.py
  py/packages/genkit-ai/src/genkit/core/reflection.py
  py/packages/genkit-ai/tests/genkit/core/error_test.py
  py/plugins/flask/LICENSE
  py/plugins/flask/README.md
  py/plugins/flask/pyproject.toml
  py/plugins/flask/src/genkit/plugins/flask/__init__.py
  py/plugins/flask/src/genkit/plugins/flask/handler.py
  py/plugins/flask/src/genkit/py.typed
  py/pyproject.toml
  py/samples/hello-flask/LICENSE
  py/samples/hello-flask/README.md
  py/samples/hello-flask/pyproject.toml
  py/samples/hello-flask/src/hello.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

refactor(py/samples): fix readmes and names for start scripts to prevent mypy from complaining
  py/packages/genkit-ai/src/genkit/lang/__init__.py
  py/pyproject.toml
  py/samples/basic-gemini/README.md
  py/samples/basic-gemini/src/basic_gemini.py
  py/samples/coffee-shop/README.md
  py/samples/coffee-shop/src/coffee_shop.py
  py/samples/context-caching/README.md
  py/samples/context-caching/src/context_caching.py
  py/samples/flow-sample1/README.md
  py/samples/flow-sample1/src/flow_sample1.py
  py/samples/google-ai/README.md
  py/samples/google-ai/src/google_ai_sample.py
  py/samples/google-genai-image/README.md
  py/samples/google-genai-image/src/google_genai_image.py
  py/samples/hello-google-genai/README.md
  py/samples/hello-google-genai/src/hello_google_genai.py
  py/samples/menu/README.md
  py/samples/multi-server/README.md
  py/samples/ollama-hello/README.md
  py/samples/ollama-hello/src/ollama_hello.py
  py/samples/ollama-simple-embed/README.md
  py/samples/prompt-file/src/prompt_file.py
  py/samples/tool-interrupts/src/tool_interrupts.py
  py/samples/vertex-ai-imagen/src/vertex_ai_imagen_sample.py
  py/samples/vertex-ai-model-garden/src/vertex_ai_model_garden_sample.py
  py/samples/vertex-ai-reranker/src/vertex_ai_reranker_sample.py
  py/samples/vertex-ai-vector-search/src/vertex_ai_vector_search.py
  py/tests/smoke/package_test.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

refactor(py/samples): fix readmes and names for start scripts to prevent mypy from complaining (#2555)
  py/packages/genkit-ai/src/genkit/lang/__init__.py
  py/pyproject.toml
  py/samples/basic-gemini/README.md
  py/samples/basic-gemini/src/basic_gemini.py
  py/samples/coffee-shop/README.md
  py/samples/coffee-shop/src/coffee_shop.py
  py/samples/context-caching/README.md
  py/samples/context-caching/src/context_caching.py
  py/samples/flow-sample1/README.md
  py/samples/flow-sample1/src/flow_sample1.py
  py/samples/google-ai/README.md
  py/samples/google-ai/src/google_ai_sample.py
  py/samples/google-genai-image/README.md
  py/samples/google-genai-image/src/google_genai_image.py
  py/samples/hello-google-genai/README.md
  py/samples/hello-google-genai/src/hello_google_genai.py
  py/samples/menu/README.md
  py/samples/multi-server/README.md
  py/samples/ollama-hello/README.md
  py/samples/ollama-hello/src/ollama_hello.py
  py/samples/ollama-simple-embed/README.md
  py/samples/prompt-file/src/prompt_file.py
  py/samples/tool-interrupts/src/tool_interrupts.py
  py/samples/vertex-ai-imagen/src/vertex_ai_imagen_sample.py
  py/samples/vertex-ai-model-garden/src/vertex_ai_model_garden_sample.py
  py/samples/vertex-ai-reranker/src/vertex_ai_reranker_sample.py
  py/samples/vertex-ai-vector-search/src/vertex_ai_vector_search.py
  py/tests/smoke/package_test.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

refactor(py/samples/openai): fix types, use httpx, and update plugin docs
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/__init__.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/handler.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/model.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/model_info.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/openai_plugin.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/typing.py
  py/pyproject.toml
  py/samples/openai/README.md
  py/samples/openai/pyproject.toml
  py/samples/openai/src/openai_example.py
Owners: @pavelgj, @yesudeep

refactor(py/samples/openai): fix types, use httpx, and update plugin docs (#2556)
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/__init__.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/handler.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/model.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/models/model_info.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/openai_plugin.py
  py/plugins/compat-oai/src/genkit/plugins/compat_oai/typing.py
  py/pyproject.toml
  py/samples/openai/README.md
  py/samples/openai/pyproject.toml
  py/samples/openai/src/openai_example.py
Owners: @pavelgj, @yesudeep

docs(py): add docstrings for remaining functions
  py/packages/genkit-ai/src/genkit/aio/loop.py
  py/packages/genkit-ai/src/genkit/blocks/document.py
  py/packages/genkit-ai/src/genkit/blocks/formats/types.py
  py/packages/genkit-ai/src/genkit/blocks/generate.py
  py/packages/genkit-ai/src/genkit/blocks/messages.py
  py/packages/genkit-ai/src/genkit/blocks/middleware.py
  py/packages/genkit-ai/src/genkit/blocks/model.py
  py/packages/genkit-ai/src/genkit/blocks/prompt.py
  py/packages/genkit-ai/src/genkit/blocks/tools.py
  py/packages/genkit-ai/src/genkit/core/action/_action.py
  py/packages/genkit-ai/src/genkit/core/action/_tracing.py
  py/packages/genkit-ai/src/genkit/core/extract.py
  py/packages/genkit-ai/src/genkit/core/tracing.py
  py/packages/genkit-ai/src/genkit/web/manager/_manager.py
  py/samples/openai/src/openai_example.py
Owners: @pavelgj, @yesudeep

docs(py): add docstrings for remaining functions (#2557)
  py/packages/genkit-ai/src/genkit/aio/loop.py
  py/packages/genkit-ai/src/genkit/blocks/document.py
  py/packages/genkit-ai/src/genkit/blocks/formats/types.py
  py/packages/genkit-ai/src/genkit/blocks/generate.py
  py/packages/genkit-ai/src/genkit/blocks/messages.py
  py/packages/genkit-ai/src/genkit/blocks/middleware.py
  py/packages/genkit-ai/src/genkit/blocks/model.py
  py/packages/genkit-ai/src/genkit/blocks/prompt.py
  py/packages/genkit-ai/src/genkit/blocks/tools.py
  py/packages/genkit-ai/src/genkit/core/action/_action.py
  py/packages/genkit-ai/src/genkit/core/action/_tracing.py
  py/packages/genkit-ai/src/genkit/core/extract.py
  py/packages/genkit-ai/src/genkit/core/tracing.py
  py/packages/genkit-ai/src/genkit/web/manager/_manager.py
  py/samples/openai/src/openai_example.py
Owners: @pavelgj, @yesudeep

fix(docs): fix docs in action.py
  py/packages/genkit-ai/src/genkit/core/action/_action.py
Owners: @pavelgj, @yesudeep

fix(docs): fix docs in action.py (#2558)
  py/packages/genkit-ai/src/genkit/core/action/_action.py
Owners: @pavelgj, @yesudeep

fix(mypy): some type errors
  bin/run_lint
  py/plugins/compat-oai/tests/test_plugin.py
  py/plugins/compat-oai/tests/test_tool_calling.py
  py/plugins/ollama/tests/conftest.py
  py/plugins/ollama/tests/test_plugin_api.py
  py/pyproject.toml
  py/samples/hello-flask/README.md
  py/samples/hello-flask/src/hello_flask.py
  py/samples/menu/README.md
  py/samples/menu/src/__init__.py
  py/samples/menu/src/menu_example.py
Owners: @pavelgj, @yesudeep

fix(mypy): some type errors (#2559)
  bin/run_lint
  py/plugins/compat-oai/tests/test_plugin.py
  py/plugins/compat-oai/tests/test_tool_calling.py
  py/plugins/ollama/tests/conftest.py
  py/plugins/ollama/tests/test_plugin_api.py
  py/pyproject.toml
  py/samples/hello-flask/README.md
  py/samples/hello-flask/src/hello_flask.py
  py/samples/menu/README.md
  py/samples/menu/src/__init__.py
  py/samples/menu/src/menu_example.py
Owners: @pavelgj, @yesudeep

docs(py): coding guidelines and API design doc
  py/engdoc/contributing/coding_guidelines.md
  py/engdoc/extending/api.md
Owners: @pavelgj

docs(py): coding guidelines and API design doc (#2560)
  py/engdoc/contributing/coding_guidelines.md
  py/engdoc/extending/api.md
Owners: @pavelgj

fix(docs): typos in `api.md` doc
  py/engdoc/extending/api.md
Owners: @pavelgj

fix(docs): typos in `api.md` doc (#2561)
  py/engdoc/extending/api.md
Owners: @pavelgj

docs(py): beginings of public docs
  py/SUMMARY.md
  py/docs/assets/favicon.png
  py/docs/assets/logo.png
  py/docs/cloud-run.md
  py/docs/firebase.md
  py/docs/flask.md
  py/docs/get-started.md
  py/docs/index.md
  py/docs/reference/api/index.md
  py/docs/reference/api/types.md
  py/docs/reference/flows.md
  py/docs/reference/index.md
  py/docs/reference/models.md
  py/docs/reference/tools.md
  py/mkdocs.yml
  py/packages/genkit-ai/src/genkit/types/__init__.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
Owners: @pavelgj, @yesudeep

docs(py): beginnings of public docs (#2562)
  py/SUMMARY.md
  py/docs/assets/favicon.png
  py/docs/assets/logo.png
  py/docs/cloud-run.md
  py/docs/firebase.md
  py/docs/flask.md
  py/docs/get-started.md
  py/docs/index.md
  py/docs/reference/api/index.md
  py/docs/reference/api/types.md
  py/docs/reference/flows.md
  py/docs/reference/index.md
  py/docs/reference/models.md
  py/docs/reference/tools.md
  py/mkdocs.yml
  py/packages/genkit-ai/src/genkit/types/__init__.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
Owners: @pavelgj, @yesudeep

fix(py/plugins/genai): currecly handle enum and nested schemas
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/plugins/google-genai/test/models/test_googlegenai_gemini.py
  py/samples/hello-google-genai/src/hello_google_genai.py
Owners: @pavelgj, @yesudeep

fmt
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/plugins/google-genai/test/models/test_googlegenai_gemini.py
Owners: @pavelgj, @yesudeep

fix(py/plugins/genai): currecly handle enum and nested schemas (#2563)
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/plugins/google-genai/test/models/test_googlegenai_gemini.py
  py/samples/hello-google-genai/src/hello_google_genai.py
Owners: @pavelgj, @yesudeep

fix name
  genkit-tools/common/src/types/model.ts
  genkit-tools/genkit-schema.json
  go/ai/gen.go
  js/ai/src/model.ts
Owners: @pavelgj, @apascal07

fix(py/genkit-ai): fix more lint and license header issues
  py/packages/genkit-ai/src/genkit/aio/loop.py
  py/packages/genkit-ai/src/genkit/blocks/document.py
  py/packages/genkit-ai/src/genkit/blocks/embedding.py
  py/packages/genkit-ai/src/genkit/blocks/middleware.py
  py/packages/genkit-ai/src/genkit/blocks/model.py
  py/packages/genkit-ai/src/genkit/blocks/tools.py
  py/packages/genkit-ai/src/genkit/core/flows.py
  py/packages/genkit-ai/src/genkit/core/schema.py
  py/packages/genkit-ai/src/genkit/lang/__init__.py
Owners: @pavelgj, @yesudeep

fix(py/genkit-ai): fix more lint and license header issues (#2564)
  py/packages/genkit-ai/src/genkit/aio/loop.py
  py/packages/genkit-ai/src/genkit/blocks/document.py
  py/packages/genkit-ai/src/genkit/blocks/embedding.py
  py/packages/genkit-ai/src/genkit/blocks/middleware.py
  py/packages/genkit-ai/src/genkit/blocks/model.py
  py/packages/genkit-ai/src/genkit/blocks/tools.py
  py/packages/genkit-ai/src/genkit/core/flows.py
  py/packages/genkit-ai/src/genkit/core/schema.py
  py/packages/genkit-ai/src/genkit/lang/__init__.py
Owners: @pavelgj, @yesudeep

chore(py): add license checks for python workspace
  bin/check_license
  captainhook.json
  py/pyproject.toml
  py/uv.lock
Owners: @pavelgj, @yesudeep

Add python type
  py/packages/genkit-ai/src/genkit/core/typing.py
Owners: @pavelgj, @yesudeep

chore(py): add license checks for python workspace (#2566)
  bin/check_license
  captainhook.json
  py/pyproject.toml
  py/uv.lock
Owners: @pavelgj, @yesudeep

Added ModelGarden Basic
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/model_garden/__init__.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/model_garden/model_garden.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/model_garden/modelgarden_plugin.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/model_garden/openai_compatiblility/__init__.py
  py/plugins/vertex-ai/src/genkit/plugins/vertex_ai/model_garden/openai_compatiblility/openai_compatibility.py
  py/samples/model-garden/LICENSE
  py/samples/model-garden/README.md
  py/samples/model-garden/pyproject.toml
  py/samples/model-garden/src/main.py
Owners: @pavelgj, @yesudeep

fix(py-plugins/genai): added attribution headers to genai plugin
  py/packages/genkit-ai/src/genkit/ai/__init__.py
  py/packages/genkit-ai/src/genkit/core/__init__.py
  py/packages/genkit-ai/src/genkit/core/registry.py
  py/plugins/google-ai/pyproject.toml
  py/plugins/google-genai/pyproject.toml
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

export though constants
  py/packages/genkit-ai/src/genkit/core/__init__.py
  py/packages/genkit-ai/src/genkit/core/constants.py
  py/packages/genkit-ai/src/genkit/core/registry.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
Owners: @pavelgj, @yesudeep

feat(py): Imagen on GenAI library
  py/plugins/google-genai/src/genkit/plugins/google_genai/__init__.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/imagen.py
  py/plugins/google-genai/test/models/test_googlegenai_imagen.py
  py/samples/google-genai-image/README.md
  py/samples/google-genai-imagen/LICENSE
  py/samples/google-genai-imagen/README.md
  py/samples/google-genai-imagen/pyproject.toml
  py/samples/google-genai-imagen/src/google_genai_imagen.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

feat(py): Local Vector Store Plugin
  py/samples/menu/src/__init__.py
Owners: @pavelgj, @yesudeep

feat(py): Local Vector Store Plugin
  py/packages/genkit-ai/src/genkit/ai/registry.py
  py/packages/genkit-ai/src/genkit/blocks/indexer.py
Owners: @pavelgj, @yesudeep

feat(py): py menu sample
  py/packages/genkit-ai/src/genkit/ai/registry.py
  py/packages/genkit-ai/tests/genkit/core/action_test.py
  py/plugins/dev-local-vector-store/src/genkit/plugins/dev_local_vector_store/plugin_api.py
  py/samples/menu/data/menu.jpeg
  py/samples/menu/data/menu.json
  py/samples/menu/pyproject.toml
  py/samples/menu/src/__init__.py
  py/samples/menu/src/case_01/__init__.py
  py/samples/menu/src/case_01/example.json
  py/samples/menu/src/case_01/prompts.py
  py/samples/menu/src/case_02/__init__.py
  py/samples/menu/src/case_02/example.json
  py/samples/menu/src/case_02/flows.py
  py/samples/menu/src/case_02/prompts.py
  py/samples/menu/src/case_02/tools.py
  py/samples/menu/src/case_03/__init__.py
  py/samples/menu/src/case_03/chats.py
  py/samples/menu/src/case_03/example.json
  py/samples/menu/src/case_03/flows.py
  py/samples/menu/src/case_03/prompts.py
  py/samples/menu/src/case_04/__init__.py
  py/samples/menu/src/case_04/example.indexMenuItems.json
  py/samples/menu/src/case_04/example.menuQuestion.json
  py/samples/menu/src/case_04/flows.py
  py/samples/menu/src/case_04/prompts.py
  py/samples/menu/src/case_05/__init__.py
  py/samples/menu/src/case_05/example.visualMenuQuestion.json
  py/samples/menu/src/case_05/flows.py
  py/samples/menu/src/case_05/prompts.py
  py/samples/menu/src/menu_ai.py
  py/samples/menu/src/menu_schemas.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

fix(py-plugins/genai): added attribution headers to genai plugin (#2570)
  py/packages/genkit-ai/src/genkit/ai/__init__.py
  py/packages/genkit-ai/src/genkit/core/__init__.py
  py/packages/genkit-ai/src/genkit/core/constants.py
  py/plugins/google-ai/pyproject.toml
  py/plugins/google-genai/pyproject.toml
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

feat(py): Imagen on GenAI library (#2569)
  py/plugins/google-genai/src/genkit/plugins/google_genai/__init__.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/imagen.py
  py/plugins/google-genai/test/models/test_googlegenai_imagen.py
  py/samples/google-genai-image/README.md
  py/samples/google-genai-imagen/LICENSE
  py/samples/google-genai-imagen/README.md
  py/samples/google-genai-imagen/pyproject.toml
  py/samples/google-genai-imagen/src/google_genai_imagen.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

feat(py): system instructions, usage stats and constraints
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/plugins/google-genai/test/models/test_googlegenai_gemini.py
Owners: @pavelgj, @yesudeep

feat(py): menu example (#2416)
  py/packages/genkit-ai/tests/genkit/core/action_test.py
  py/plugins/dev-local-vector-store/src/genkit/plugins/dev_local_vector_store/plugin_api.py
  py/samples/menu/data/menu.jpeg
  py/samples/menu/data/menu.json
  py/samples/menu/pyproject.toml
  py/samples/menu/src/__init__.py
  py/samples/menu/src/case_01/__init__.py
  py/samples/menu/src/case_01/example.json
  py/samples/menu/src/case_01/prompts.py
  py/samples/menu/src/case_02/__init__.py
  py/samples/menu/src/case_02/example.json
  py/samples/menu/src/case_02/flows.py
  py/samples/menu/src/case_02/prompts.py
  py/samples/menu/src/case_02/tools.py
  py/samples/menu/src/case_03/__init__.py
  py/samples/menu/src/case_03/chats.py
  py/samples/menu/src/case_03/example.json
  py/samples/menu/src/case_03/flows.py
  py/samples/menu/src/case_03/prompts.py
  py/samples/menu/src/case_04/__init__.py
  py/samples/menu/src/case_04/example.indexMenuItems.json
  py/samples/menu/src/case_04/example.menuQuestion.json
  py/samples/menu/src/case_04/flows.py
  py/samples/menu/src/case_04/prompts.py
  py/samples/menu/src/case_05/__init__.py
  py/samples/menu/src/case_05/example.visualMenuQuestion.json
  py/samples/menu/src/case_05/flows.py
  py/samples/menu/src/case_05/prompts.py
  py/samples/menu/src/menu_ai.py
  py/samples/menu/src/menu_schemas.py
  py/uv.lock
Owners: @pavelgj, @yesudeep

feat(py): system instructions, usage stats and constraints (#2533)
  py/plugins/google-genai/src/genkit/plugins/google_genai/models/gemini.py
  py/plugins/google-genai/test/models/test_googlegenai_gemini.py
Owners: @pavelgj, @yesudeep

feat(js/plugins/firebase): Data Connect tools (beta), serverApp context.
  js/plugins/firebase/package.json
  js/plugins/firebase/src/beta/data-connect.ts
  js/plugins/firebase/src/context.ts
  js/plugins/firebase/src/firestore-retriever.ts
  js/plugins/firebase/src/index.ts
  js/plugins/firebase/src/user-engagement.ts
  js/pnpm-lock.yaml
Owners: @pavelgj

format
  js/plugins/firebase/package.json
  js/plugins/firebase/src/beta/data-connect.ts
Owners: @pavelgj

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj
