Repository firebase/Genkit, changes with the owners that CODEOWNERS names for each.
All owners: @pavelgj, @yesudeep, @apascal07

CODEOWNERS:

# General.
# TODO: Add groups.
*                   @pavelgj

# Python-related.
*.py                @pavelgj @yesudeep
pyproject.toml      @pavelgj @yesudeep
py/*                @pavelgj @yesudeep

# Go-related.
*.go                @apascal07
go/*                @apascal07

# JavaScript-related.
*.js                @pavelgj
*.ts                @pavelgj
js/*                @pavelgj
package.json        @pavelgj

fix(py): fix with gemini
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/google-genai/test/google_plugin_test.py
  py/samples/web-endpoints-hello/tests/endpoints_test.py
Owners: @pavelgj, @yesudeep

fix(py): update google-genai evaluators and cleanup sample-test (#4648)
  py/plugins/google-genai/src/genkit/plugins/google_genai/evaluators/evaluation.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/google-genai/test/google_plugin_test.py
  py/samples/sample-test/pyproject.toml
  py/samples/sample-test/review_sample_flows.py
  py/samples/sample-test/run_single_flow.py
  py/samples/sample-test/server.py
  py/samples/sample-test/uv.lock
  py/samples/web-endpoints-hello/tests/endpoints_test.py
Owners: @pavelgj, @yesudeep

fix(py): fix with gemini
  py/plugins/google-genai/src/genkit/plugins/google_genai/evaluators/evaluation.py
  py/plugins/google-genai/src/genkit/plugins/google_genai/google.py
  py/plugins/google-genai/test/google_plugin_test.py
  py/pyproject.toml
  py/samples/sample-test/pyproject.toml
  py/samples/sample-test/review_sample_flows.py
  py/samples/sample-test/run_single_flow.py
  py/samples/sample-test/server.py
  py/samples/sample-test/uv.lock
  py/samples/web-endpoints-hello/tests/endpoints_test.py
Owners: @pavelgj, @yesudeep

ci(releasekit): migrate publish_python.yml to use releasekit
  .github/workflows/publish_python.yml
  .github/workflows/releasekit-uv.yml
Owners: @pavelgj

ci(releasekit): migrate publish_python.yml to use releasekit (#4586)
  .github/workflows/publish_python.yml
  .github/workflows/releasekit-uv.yml
Owners: @pavelgj

fix(ci): python releasekit-uv workflow
  .github/workflows/releasekit-uv.yml
  py/tools/releasekit/github/workflows/releasekit-uv.yml
Owners: @pavelgj

fix(ci): python releasekit-uv workflow (#4651)
  .github/workflows/releasekit-uv.yml
  py/tools/releasekit/github/workflows/releasekit-uv.yml
Owners: @pavelgj

elisa/fix/core framework improvements (#4649)
  py/packages/genkit/src/genkit/blocks/document.py
  py/packages/genkit/src/genkit/blocks/evaluator.py
Owners: @pavelgj, @yesudeep

fix: Add Firebase dashboard resource attributes for Python telemetry visibility
  py/plugins/google-cloud/src/genkit/plugins/google_cloud/telemetry/config.py
  py/plugins/google-cloud/src/genkit/plugins/google_cloud/telemetry/trace_exporter.py
  py/plugins/google-cloud/tests/tracing_test.py
Owners: @pavelgj, @yesudeep

fix: Match impl with js
  py/plugins/google-cloud/src/genkit/plugins/google_cloud/telemetry/gcp_logger.py
Owners: @pavelgj, @yesudeep

fix(ci): correct releasekit --directory path in releasekit-uv workflow
  .github/workflows/releasekit-uv.yml
  py/tools/releasekit/github/workflows/releasekit-pnpm.yml
  py/tools/releasekit/github/workflows/releasekit-uv.yml
Owners: @pavelgj

feat(js/plugins/google-genai): Increased the max download size for inline media from 10MB to 100MB
  js/plugins/google-genai/src/googleai/gemini.ts
  js/plugins/google-genai/tests/googleai/gemini_test.ts
  js/testapps/basic-gemini/src/index.ts
Owners: @pavelgj

fix(ci): use working-directory and RELEASEKIT_DIR for consistent paths (#4655)
  .github/workflows/releasekit-uv.yml
  py/tools/releasekit/github/workflows/releasekit-pnpm.yml
  py/tools/releasekit/github/workflows/releasekit-uv.yml
Owners: @pavelgj

docs(py): update PARITY_AUDIT.md with PR status, middleware taxonomy, and merge order (#4517)
  py/PARITY_AUDIT.md
Owners: @pavelgj, @yesudeep

add plugin README
  go/plugins/googlegenai/README.md
Owners: @pavelgj

docs(py): audit and fix stale Python documentation
  py/.github/PR_RELEASE.md
  py/GEMINI.md
  py/PARITY_AUDIT.md
  py/engdoc/ROADMAP.org
  py/engdoc/blog-genkit-python-0.5.0.md
  py/engdoc/extending/api.md
  py/engdoc/extending/index.md
  py/engdoc/extending/servers.md
  py/engdoc/index.md
  py/engdoc/model-conformance-roadmap.md
  py/engdoc/parity-analysis/feature_parity_analysis.md
  py/engdoc/parity-analysis/model_spec_compliance.md
  py/engdoc/parity-analysis/plugin_api_consistency.md
  py/engdoc/parity-analysis/roadmap.md
  py/engdoc/parity-analysis/sample_parity_roadmap.md
  py/engdoc/planning/FEATURE_MATRIX.md
  py/engdoc/planning/README.md
  py/engdoc/planning/azure-telemetry-plugin.md
  py/engdoc/planning/cloudflare-ai-plugin.md
  py/engdoc/planning/cloudflare-telemetry-plugin.md
  py/engdoc/planning/observability-plugin.md
  py/engdoc/planning/vercel-plugins.md
  py/engdoc/release-publishing-guide.md
  py/engdoc/user_guide/python/publishing_pypi.md
  py/plugins/README.md
  py/tools/conform/ANNOUNCEMENT.md
  py/tools/conform/README.md
  py/tools/releasekit/ANNOUNCEMENT.md
  py/tools/releasekit/FIXES.md
  py/tools/releasekit/README.md
  py/tools/releasekit/docs/competitive-gap-analysis.md
  py/tools/releasekit/docs/roadmap-execution-plan.md
  py/tools/releasekit/roadmap.md
Owners: @pavelgj, @yesudeep

docs(py): audit and fix stale Python documentation (#4658)
  py/.github/PR_RELEASE.md
  py/GEMINI.md
  py/PARITY_AUDIT.md
  py/engdoc/ROADMAP.org
  py/engdoc/blog-genkit-python-0.5.0.md
  py/engdoc/extending/api.md
  py/engdoc/extending/index.md
  py/engdoc/extending/servers.md
  py/engdoc/index.md
  py/engdoc/model-conformance-roadmap.md
  py/engdoc/parity-analysis/feature_parity_analysis.md
  py/engdoc/parity-analysis/model_spec_compliance.md
  py/engdoc/parity-analysis/plugin_api_consistency.md
  py/engdoc/parity-analysis/roadmap.md
  py/engdoc/parity-analysis/sample_parity_roadmap.md
  py/engdoc/planning/FEATURE_MATRIX.md
  py/engdoc/planning/README.md
  py/engdoc/planning/azure-telemetry-plugin.md
  py/engdoc/planning/cloudflare-ai-plugin.md
  py/engdoc/planning/cloudflare-telemetry-plugin.md
  py/engdoc/planning/observability-plugin.md
  py/engdoc/planning/vercel-plugins.md
  py/engdoc/release-publishing-guide.md
  py/engdoc/user_guide/python/publishing_pypi.md
  py/plugins/README.md
  py/tools/conform/ANNOUNCEMENT.md
  py/tools/conform/README.md
  py/tools/releasekit/ANNOUNCEMENT.md
  py/tools/releasekit/FIXES.md
  py/tools/releasekit/README.md
  py/tools/releasekit/docs/competitive-gap-analysis.md
  py/tools/releasekit/docs/roadmap-execution-plan.md
  py/tools/releasekit/roadmap.md
Owners: @pavelgj, @yesudeep

fix(ci): use working-directory and RELEASEKIT_DIR for consistent paths
  .github/workflows/releasekit-uv.yml
  py/tools/releasekit/github/workflows/releasekit-pnpm.yml
  py/tools/releasekit/github/workflows/releasekit-uv.yml
  py/tools/releasekit/workflows/release.yml
  releasekit.toml
Owners: @pavelgj

fix(ci): use working-directory, RELEASEKIT_DIR, and expose max_retries (#4659)
  .github/workflows/releasekit-uv.yml
  py/tools/releasekit/github/workflows/releasekit-pnpm.yml
  py/tools/releasekit/github/workflows/releasekit-uv.yml
  py/tools/releasekit/workflows/release.yml
  releasekit.toml
Owners: @pavelgj

fix(releasekit): replace literal null byte with git %x00 escape in changelog format
  .github/workflows/releasekit-uv.yml
  py/tools/releasekit/github/workflows/releasekit-pnpm.yml
  py/tools/releasekit/github/workflows/releasekit-uv.yml
  py/tools/releasekit/src/releasekit/changelog.py
  py/tools/releasekit/tests/rk_backends_vcs_git_test.py
  py/tools/releasekit/tests/rk_changelog_test.py
Owners: @pavelgj, @yesudeep

renames
  go/ai/generate.go
  go/ai/middleware.go
  go/ai/middleware_test.go
Owners: @apascal07

docs: mark all community Python plugins as preview in READMEs
  py/plugins/amazon-bedrock/README.md
  py/plugins/anthropic/README.md
  py/plugins/checks/README.md
  py/plugins/checks/pyproject.toml
  py/plugins/cloudflare-workers-ai/README.md
  py/plugins/cohere/README.md
  py/plugins/compat-oai/README.md
  py/plugins/deepseek/README.md
  py/plugins/huggingface/README.md
  py/plugins/microsoft-foundry/README.md
  py/plugins/mistral/README.md
  py/plugins/observability/README.md
  py/plugins/ollama/README.md
  py/plugins/xai/README.md
  releasekit.toml
Owners: @pavelgj, @yesudeep

add more video samples
  go/plugins/googlegenai/README.md
Owners: @pavelgj

fix(releasekit): replace literal null byte with git %x00 escape in changelog format (#4661)
  .github/workflows/releasekit-uv.yml
  py/plugins/amazon-bedrock/README.md
  py/plugins/anthropic/README.md
  py/plugins/checks/README.md
  py/plugins/checks/pyproject.toml
  py/plugins/cloudflare-workers-ai/README.md
  py/plugins/cohere/README.md
  py/plugins/compat-oai/README.md
  py/plugins/deepseek/README.md
  py/plugins/huggingface/README.md
  py/plugins/microsoft-foundry/README.md
  py/plugins/mistral/README.md
  py/plugins/observability/README.md
  py/plugins/ollama/README.md
  py/plugins/xai/README.md
  py/tools/releasekit/github/workflows/releasekit-pnpm.yml
  py/tools/releasekit/github/workflows/releasekit-uv.yml
  py/tools/releasekit/src/releasekit/changelog.py
  py/tools/releasekit/tests/rk_backends_vcs_git_test.py
  py/tools/releasekit/tests/rk_changelog_test.py
  releasekit.toml
Owners: @pavelgj, @yesudeep

fix(releasekit): add set_upstream to VCS push and fail fast on errors
  .github/workflows/releasekit-uv.yml
  py/tools/releasekit/github/workflows/releasekit-pnpm.yml
  py/tools/releasekit/github/workflows/releasekit-uv.yml
  py/tools/releasekit/src/releasekit/backends/vcs/__init__.py
  py/tools/releasekit/src/releasekit/backends/vcs/git.py
  py/tools/releasekit/src/releasekit/backends/vcs/mercurial.py
  py/tools/releasekit/src/releasekit/prepare.py
  py/tools/releasekit/tests/rk_changelog_test.py
  py/tools/releasekit/tests/rk_commitback_test.py
  py/tools/releasekit/tests/rk_preflight_test.py
  py/tools/releasekit/tests/rk_prepare_test.py
  py/tools/releasekit/tests/rk_publisher_test.py
  py/tools/releasekit/tests/rk_release_notes_test.py
  py/tools/releasekit/tests/rk_release_test.py
  py/tools/releasekit/tests/rk_tags_test.py
  py/tools/releasekit/tests/rk_versioning_test.py
Owners: @pavelgj, @yesudeep

fix(releasekit): add set_upstream to VCS push and fail fast on errors (#4662)
  .github/workflows/releasekit-uv.yml
  py/tools/releasekit/github/workflows/releasekit-pnpm.yml
  py/tools/releasekit/github/workflows/releasekit-uv.yml
  py/tools/releasekit/src/releasekit/backends/vcs/__init__.py
  py/tools/releasekit/src/releasekit/backends/vcs/git.py
  py/tools/releasekit/src/releasekit/backends/vcs/mercurial.py
  py/tools/releasekit/src/releasekit/prepare.py
  py/tools/releasekit/tests/rk_changelog_test.py
  py/tools/releasekit/tests/rk_commitback_test.py
  py/tools/releasekit/tests/rk_preflight_test.py
  py/tools/releasekit/tests/rk_prepare_test.py
  py/tools/releasekit/tests/rk_publisher_test.py
  py/tools/releasekit/tests/rk_release_notes_test.py
  py/tools/releasekit/tests/rk_release_test.py
  py/tools/releasekit/tests/rk_tags_test.py
  py/tools/releasekit/tests/rk_versioning_test.py
Owners: @pavelgj, @yesudeep

docs(py/docs): Add a note to maintainers.
  py/docs/WHY_MONOREPO.md
Owners: @pavelgj

docs(py/docs): Add a note to maintainers. (#4665)
  py/docs/WHY_MONOREPO.md
Owners: @pavelgj

fix(releasekit): ensure command output is visible in CI on failure
  .github/workflows/releasekit-uv.yml
  py/tools/releasekit/github/workflows/releasekit-pnpm.yml
  py/tools/releasekit/github/workflows/releasekit-uv.yml
  releasekit.toml
Owners: @pavelgj

refactor(releasekit): use || EXIT_CODE=$? instead of set +e/set -e
  .github/workflows/releasekit-uv.yml
  py/tools/releasekit/github/workflows/releasekit-pnpm.yml
  py/tools/releasekit/github/workflows/releasekit-uv.yml
Owners: @pavelgj

fix(releasekit): harden workflows with timeouts, portable grep, and publish output capture
  .github/workflows/releasekit-uv.yml
  py/tools/releasekit/github/workflows/releasekit-pnpm.yml
  py/tools/releasekit/github/workflows/releasekit-uv.yml
Owners: @pavelgj

fix(py): relocate tools of model-config test and sample-flow test
  py/bin/test_sample_flows
  py/pyproject.toml
  py/samples/sample-test/flow-test/README.md
  py/samples/sample-test/flow-test/review_sample_flows.py
  py/samples/sample-test/flow-test/run_single_flow.py
  py/samples/sample-test/model-config-test/README.md
  py/samples/sample-test/model-config-test/model_performance_test.py
  py/samples/sample-test/model-config-test/pyproject.toml
  py/samples/sample-test/model-config-test/run_single_model_test.py
  py/samples/sample-test/model-config-test/server.py
  py/samples/sample-test/model-config-test/static/index.html
  py/samples/sample-test/model-config-test/static/script.js
  py/samples/sample-test/model-config-test/static/style.css
  py/samples/sample-test/model-config-test/uv.lock
  py/uv.lock
Owners: @pavelgj, @yesudeep

fix(releasekit): ensure command output is visible in CI on failure (#4666)
  .github/workflows/releasekit-uv.yml
  py/tools/releasekit/github/workflows/releasekit-pnpm.yml
  py/tools/releasekit/github/workflows/releasekit-uv.yml
  releasekit.toml
Owners: @pavelgj

fix(releasekit): fix git push argument order for --set-upstream
  py/tools/releasekit/src/releasekit/backends/vcs/git.py
Owners: @pavelgj, @yesudeep

fix(releasekit): fix multiple pipeline issues found in audit
  py/tools/releasekit/src/releasekit/backends/forge/github.py
  py/tools/releasekit/src/releasekit/backends/forge/github_api.py
  py/tools/releasekit/src/releasekit/backends/vcs/git.py
  py/tools/releasekit/src/releasekit/commitback.py
  py/tools/releasekit/src/releasekit/prepare.py
  py/tools/releasekit/src/releasekit/tags.py
  py/tools/releasekit/tests/rk_backends_forge_github_test.py
  py/tools/releasekit/tests/rk_tags_test.py
Owners: @pavelgj, @yesudeep

fix(releasekit): fix 7 remaining issues from command audit
  py/tools/releasekit/src/releasekit/backends/forge/bitbucket.py
  py/tools/releasekit/src/releasekit/backends/forge/github.py
  py/tools/releasekit/src/releasekit/backends/forge/gitlab.py
  py/tools/releasekit/src/releasekit/backends/pm/pnpm.py
  py/tools/releasekit/src/releasekit/backends/vcs/git.py
  py/tools/releasekit/tests/backends/rk_forge_test.py
  py/tools/releasekit/tests/rk_backends_forge_github_test.py
Owners: @pavelgj, @yesudeep

fix(releasekit): fix ASYNC240 lint errors in forge backends
  py/tools/releasekit/src/releasekit/backends/forge/github.py
  py/tools/releasekit/src/releasekit/backends/forge/gitlab.py
  py/tools/releasekit/src/releasekit/commitback.py
  py/tools/releasekit/src/releasekit/tags.py
Owners: @pavelgj, @yesudeep

test(releasekit): add git integration tests exercising real commands
  py/tools/releasekit/tests/backends/rk_vcs_integration_test.py
Owners: @pavelgj, @yesudeep

style(releasekit): remove section marker banners per GEMINI.md guidelines
  py/tools/releasekit/tests/backends/rk_vcs_integration_test.py
Owners: @pavelgj, @yesudeep

test(releasekit): add integration tests for uv, pnpm, and gh backends
  .github/workflows/python.yml
  py/tools/releasekit/tests/backends/rk_forge_gh_integration_test.py
  py/tools/releasekit/tests/backends/rk_pm_pnpm_integration_test.py
  py/tools/releasekit/tests/backends/rk_pm_uv_integration_test.py
  py/tools/releasekit/tests/backends/rk_vcs_integration_test.py
Owners: @pavelgj, @yesudeep
